In [3]:
#import dependencies
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, ForeignKey

In [4]:
#create classes that will be our tables for the measurements and stations
Base = declarative_base()

class Station(Base):
    __tablename__ = 'stations'
    station = Column(String(20), primary_key=True)
    station_name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

#need to see how to map a foreign key here in the classes and map it to Station.station
    
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(20), ForeignKey('stations.station'))
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [5]:
#create the database
engine = create_engine('sqlite:///hawaii.sqlite', echo=True)

In [6]:
#send our table metadata to the newly created databse to create the tables
#from our two classes
Base.metadata.create_all(bind=engine)

2018-05-03 21:06:47,203 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-05-03 21:06:47,214 INFO sqlalchemy.engine.base.Engine ()
2018-05-03 21:06:47,217 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-05-03 21:06:47,218 INFO sqlalchemy.engine.base.Engine ()
2018-05-03 21:06:47,226 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("stations")
2018-05-03 21:06:47,229 INFO sqlalchemy.engine.base.Engine ()
2018-05-03 21:06:47,233 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurements")
2018-05-03 21:06:47,234 INFO sqlalchemy.engine.base.Engine ()
2018-05-03 21:06:47,240 INFO sqlalchemy.engine.base.Engine
CREATE TABLE stations (
	station VARCHAR(20) NOT NULL,
	station_name VARCHAR(255),
	latitude FLOAT,
	longitude FLOAT,
	elevation FLOAT,
	PRIMARY KEY (station)
)


2018-05-03 21:06:47,242 INFO sqlalchemy.engine.base.Engine ()
2018-05-03 21:06:47,287 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-03 21:06:47,291 INFO sqlalchemy.engine.base.Engine
CREATE TABLE measurements (
	id INTEGER NOT NULL,
	station VARCHAR(20),
	date VARCHAR,
	prcp FLOAT,
	tobs INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(station) REFERENCES stations (station)
)


2018-05-03 21:06:47,298 INFO sqlalchemy.engine.base.Engine ()
2018-05-03 21:06:47,339 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
#import the dataframes that will be mapped to the tables in the database
stations_df = pd.read_csv('Resources\clean_hawaii_stations.csv')

In [8]:
#renaming the column 'name' to 'stationname' because for some reasion when iterating over 'name'
#it was returning only an index value
stations_df['stationname'] = stations_df['name']

In [9]:
stations_df

,Unnamed: 0,station,name,latitude,longitude,elevation,stationname
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,"WAIKIKI 717.2, HI US"
1,1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,"KANEOHE 838.1, HI US"
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,"KUALOA RANCH HEADQUARTERS 886.9, HI US"
3,3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,"PEARL CITY, HI US"
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,"UPPER WAHIAWA 874.3, HI US"
5,5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,"WAIMANALO EXPERIMENTAL FARM, HI US"
6,6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,"WAIHEE 837.5, HI US"
7,7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,"HONOLULU OBSERVATORY 702.2, HI US"
8,8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,"MANOA LYON ARBO 785.2, HI US"

In [10]:
from sqlalchemy.orm import Session
session = Session(engine)

In [11]:
#iterate over each dataframe row and add this to the database tables
for index, row in stations_df.iterrows():
    station = Station(station=row.station, station_name=row.stationname, latitude=row.latitude,\
            longitude=row.longitude, elevation=row.elevation)
    session.add(station)
session.commit()

2018-05-03 21:06:47,611 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-05-03 21:06:47,613 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (station, station_name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?)
2018-05-03 21:06:47,615 INFO sqlalchemy.engine.base.Engine (('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9), ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))
2018-05-03 21:06:47,626 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
engine.execute('select * from stations').fetchall()

2018-05-03 21:06:47,708 INFO sqlalchemy.engine.base.Engine select * from stations
2018-05-03 21:06:47,712 INFO sqlalchemy.engine.base.Engine ()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

Comment: our database looks good - looks like it was populated correctly

In [13]:
#now read in the measurements dataframe and send all its data to the measurements table
meas_df = pd.read_csv('Resources\clean_hawaii_measurements.csv')

In [21]:
meas_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [15]:
for index, row in meas_df.iterrows():
    measurement = Measurement(station=row.station, date=row.date, prcp=row.prcp,\
            tobs=row.tobs)
    session.add(measurement)
session.commit()

2018-05-03 21:06:54,685 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-05-03 21:06:54,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,843 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-01', 0.08, 65)
2018-05-03 21:06:54,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,855 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-02', 0.0, 63)
2018-05-03 21:06:54,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,858 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-03', 0.0, 74)
2018-05-03 21:06:54,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,865 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-04', 0.0, 76)
2018-05-03 21:06:54,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,874 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-06', 0.0, 73)
2018-05-03 21:06:54,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,883 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-07', 0.06, 70)
2018-05-03 21:06:54,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,889 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-08', 0.0, 64)
2018-05-03 21:06:54,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,893 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-09', 0.0, 68)
2018-05-03 21:06:54,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,901 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-10', 0.0, 73)
2018-05-03 21:06:54,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,905 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-11', 0.01, 64)
2018-05-03 21:06:54,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,908 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-12', 0.0, 61)
2018-05-03 21:06:54,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,910 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-14', 0.0, 66)
2018-05-03 21:06:54,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,919 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-15', 0.0, 65)
2018-05-03 21:06:54,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,921 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-16', 0.0, 68)
2018-05-03 21:06:54,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,924 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-17', 0.0, 64)
2018-05-03 21:06:54,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,926 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-18', 0.0, 72)
2018-05-03 21:06:54,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,932 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-19', 0.0, 66)
2018-05-03 21:06:54,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,937 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-20', 0.0, 66)
2018-05-03 21:06:54,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,940 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-21', 0.0, 69)
2018-05-03 21:06:54,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,943 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-22', 0.0, 67)
2018-05-03 21:06:54,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,950 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-23', 0.0, 67)
2018-05-03 21:06:54,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,954 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-24', 0.01, 71)
2018-05-03 21:06:54,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,971 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-25', 0.0, 67)
2018-05-03 21:06:54,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,974 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-26', 0.04, 76)
2018-05-03 21:06:54,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,978 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-27', 0.12, 68)
2018-05-03 21:06:54,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,983 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-28', 0.0, 72)
2018-05-03 21:06:54,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,986 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-30', 0.0, 70)
2018-05-03 21:06:54,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,989 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-01-31', 0.03, 67)
2018-05-03 21:06:54,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,991 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-01', 0.01, 66)
2018-05-03 21:06:54,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:54,995 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-03', 0.0, 67)
2018-05-03 21:06:54,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,000 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-04', 0.01, 69)
2018-05-03 21:06:55,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,003 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-05', 0.0, 67)
2018-05-03 21:06:55,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,006 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-06', 0.0, 67)
2018-05-03 21:06:55,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,009 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-07', 0.0, 64)
2018-05-03 21:06:55,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,012 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-08', 0.0, 69)
2018-05-03 21:06:55,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:55,018 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-09', 0.0, 73)
2018-05-03 21:06:55,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,021 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-11', 0.0, 73)
2018-05-03 21:06:55,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,139 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-12', 0.02, 69)
2018-05-03 21:06:55,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,142 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-13', 0.01, 69)
2018-05-03 21:06:55,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,149 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-14', 0.0, 69)
2018-05-03 21:06:55,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,152 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-15', 0.0, 71)
2018-05-03 21:06:55,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,155 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-16', 0.0, 61)
2018-05-03 21:06:55,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,158 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-17', 0.0, 69)
2018-05-03 21:06:55,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,163 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-19', 0.0, 63)
2018-05-03 21:06:55,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,175 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-20', 0.03, 64)
2018-05-03 21:06:55,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,178 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-21', 0.0, 65)
2018-05-03 21:06:55,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,183 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-22', 0.0, 67)
2018-05-03 21:06:55,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,186 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-23', 0.0, 68)
2018-05-03 21:06:55,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,189 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-24', 0.0, 65)
2018-05-03 21:06:55,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,193 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-25', 0.0, 76)
2018-05-03 21:06:55,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,198 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-26', 0.0, 75)
2018-05-03 21:06:55,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,204 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-02-28', 0.0, 66)
2018-05-03 21:06:55,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,207 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-01', 0.01, 70)
2018-05-03 21:06:55,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,210 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-02', 0.0, 72)
2018-05-03 21:06:55,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,214 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-03', 0.0, 73)
2018-05-03 21:06:55,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,219 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-04', 0.12, 70)
2018-05-03 21:06:55,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,221 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-05', 0.08, 71)
2018-05-03 21:06:55,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,224 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-06', 0.03, 72)
2018-05-03 21:06:55,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,227 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-07', 0.0, 72)
2018-05-03 21:06:55,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,232 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-08', 0.43, 69)
2018-05-03 21:06:55,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,237 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-09', 0.06, 70)
2018-05-03 21:06:55,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,241 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-11', 0.0, 73)
2018-05-03 21:06:55,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,251 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-12', 0.0, 72)
2018-05-03 21:06:55,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,254 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-13', 0.0, 73)
2018-05-03 21:06:55,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,257 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-14', 0.0, 70)
2018-05-03 21:06:55,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,259 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-15', 0.06, 71)
2018-05-03 21:06:55,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,275 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-17', 0.0, 68)
2018-05-03 21:06:55,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,279 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-18', 0.0, 70)
2018-05-03 21:06:55,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,284 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-21', 0.0, 72)
2018-05-03 21:06:55,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,287 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-22', 0.0, 69)
2018-05-03 21:06:55,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,290 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-23', 0.0, 68)
2018-05-03 21:06:55,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:55,293 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-24', 0.0, 74)
2018-05-03 21:06:55,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-26', 0.0, 72)
2018-05-03 21:06:55,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,316 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-27', 0.0, 72)
2018-05-03 21:06:55,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,319 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-28', 0.0, 73)
2018-05-03 21:06:55,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,324 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-29', 0.0, 74)
2018-05-03 21:06:55,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,330 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-30', 0.0, 73)
2018-05-03 21:06:55,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,334 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-03-31', 0.0, 73)
2018-05-03 21:06:55,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,338 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-01', 0.0, 74)
2018-05-03 21:06:55,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,345 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-02', 0.01, 74)
2018-05-03 21:06:55,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,350 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-03', 0.17, 74)
2018-05-03 21:06:55,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,355 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-04', 0.15, 71)
2018-05-03 21:06:55,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,366 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-05', 0.27, 72)
2018-05-03 21:06:55,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,370 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-06', 0.01, 75)
2018-05-03 21:06:55,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,373 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-08', 0.0, 75)
2018-05-03 21:06:55,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,377 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-09', 0.01, 75)
2018-05-03 21:06:55,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,388 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-10', 0.0, 75)
2018-05-03 21:06:55,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,392 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-11', 0.01, 73)
2018-05-03 21:06:55,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,397 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-12', 0.01, 73)
2018-05-03 21:06:55,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,402 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-13', 0.0, 71)
2018-05-03 21:06:55,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,407 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-15', 0.0, 71)
2018-05-03 21:06:55,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,410 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-16', 0.01, 68)
2018-05-03 21:06:55,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,419 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-17', 0.0, 70)
2018-05-03 21:06:55,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,422 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-18', 0.0, 71)
2018-05-03 21:06:55,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,426 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-19', 0.0, 74)
2018-05-03 21:06:55,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,432 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-20', 0.04, 71)
2018-05-03 21:06:55,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,436 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-21', 0.01, 75)
2018-05-03 21:06:55,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,439 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-22', 0.0, 76)
2018-05-03 21:06:55,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,443 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-23', 0.02, 75)
2018-05-03 21:06:55,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,447 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-24', 0.0, 75)
2018-05-03 21:06:55,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,454 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-25', 0.0, 76)
2018-05-03 21:06:55,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,459 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-26', 0.0, 76)
2018-05-03 21:06:55,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,466 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-28', 0.0, 76)
2018-05-03 21:06:55,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,470 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-04-30', 0.0, 77)
2018-05-03 21:06:55,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,473 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-01', 0.0, 77)
2018-05-03 21:06:55,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,476 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-02', 0.03, 73)
2018-05-03 21:06:55,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,483 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-03', 0.2, 74)
2018-05-03 21:06:55,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:55,487 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-04', 0.08, 76)
2018-05-03 21:06:55,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,492 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-05', 0.01, 76)
2018-05-03 21:06:55,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,497 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-06', 0.0, 80)
2018-05-03 21:06:55,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,502 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-07', 0.05, 74)
2018-05-03 21:06:55,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,505 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-08', 0.0, 77)
2018-05-03 21:06:55,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,507 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-09', 0.0, 77)
2018-05-03 21:06:55,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,510 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-10', 0.0, 76)
2018-05-03 21:06:55,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,520 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-11', 0.0, 77)
2018-05-03 21:06:55,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,524 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-13', 0.0, 78)
2018-05-03 21:06:55,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,529 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-14', 0.0, 78)
2018-05-03 21:06:55,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,534 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-15', 0.0, 75)
2018-05-03 21:06:55,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,537 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-16', 0.03, 73)
2018-05-03 21:06:55,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,540 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-17', 0.0, 77)
2018-05-03 21:06:55,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,543 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-18', 0.0, 76)
2018-05-03 21:06:55,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,546 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-19', 0.0, 77)
2018-05-03 21:06:55,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,554 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-21', 0.0, 77)
2018-05-03 21:06:55,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,558 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-22', 0.0, 78)
2018-05-03 21:06:55,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,561 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-23', 0.05, 75)
2018-05-03 21:06:55,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,568 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-24', 0.0, 77)
2018-05-03 21:06:55,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,571 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-25', 0.0, 77)
2018-05-03 21:06:55,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,574 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-26', 0.02, 77)
2018-05-03 21:06:55,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,579 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-27', 0.0, 76)
2018-05-03 21:06:55,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,586 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-28', 0.0, 75)
2018-05-03 21:06:55,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,589 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-29', 0.0, 77)
2018-05-03 21:06:55,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,592 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-30', 0.0, 77)
2018-05-03 21:06:55,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,599 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-05-31', 0.0, 77)
2018-05-03 21:06:55,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,603 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-01', 0.0, 78)
2018-05-03 21:06:55,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,606 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-02', 0.01, 76)
2018-05-03 21:06:55,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,609 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-03', 0.0, 78)
2018-05-03 21:06:55,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,613 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-04', 0.0, 76)
2018-05-03 21:06:55,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,618 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-05', 0.0, 77)
2018-05-03 21:06:55,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,625 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-06', 0.0, 78)
2018-05-03 21:06:55,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,629 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-07', 0.0, 77)
2018-05-03 21:06:55,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,635 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-08', 0.0, 78)
2018-05-03 21:06:55,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,638 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-09', 0.0, 78)
2018-05-03 21:06:55,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,642 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-10', 0.0, 79)
2018-05-03 21:06:55,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:55,649 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-11', 0.0, 78)
2018-05-03 21:06:55,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,655 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-12', 0.0, 78)
2018-05-03 21:06:55,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,658 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-13', 0.0, 78)
2018-05-03 21:06:55,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,662 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-14', 0.0, 77)
2018-05-03 21:06:55,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,668 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-15', 0.0, 78)
2018-05-03 21:06:55,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,671 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-16', 0.0, 78)
2018-05-03 21:06:55,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,675 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-17', 0.0, 77)
2018-05-03 21:06:55,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,681 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-18', 0.0, 77)
2018-05-03 21:06:55,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,688 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-19', 0.0, 82)
2018-05-03 21:06:55,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,691 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-20', 0.0, 78)
2018-05-03 21:06:55,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,694 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-21', 0.0, 78)
2018-05-03 21:06:55,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,703 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-22', 0.0, 78)
2018-05-03 21:06:55,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,706 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-23', 0.0, 78)
2018-05-03 21:06:55,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,709 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-24', 0.0, 78)
2018-05-03 21:06:55,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,713 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-25', 0.0, 77)
2018-05-03 21:06:55,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,720 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-26', 0.02, 76)
2018-05-03 21:06:55,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,723 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-27', 0.0, 78)
2018-05-03 21:06:55,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,726 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-28', 0.0, 78)
2018-05-03 21:06:55,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,732 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-29', 0.0, 78)
2018-05-03 21:06:55,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,736 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-06-30', 0.0, 78)
2018-05-03 21:06:55,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,739 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-01', 0.01, 75)
2018-05-03 21:06:55,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,741 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-02', 0.05, 77)
2018-05-03 21:06:55,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,743 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-03', 0.09, 77)
2018-05-03 21:06:55,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,754 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-04', 0.05, 78)
2018-05-03 21:06:55,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,758 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-05', 0.06, 78)
2018-05-03 21:06:55,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,787 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-06', 0.08, 76)
2018-05-03 21:06:55,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,790 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-07', 0.08, 74)
2018-05-03 21:06:55,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,793 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-08', 0.03, 76)
2018-05-03 21:06:55,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,800 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-09', 0.06, 74)
2018-05-03 21:06:55,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,804 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-10', 0.09, 76)
2018-05-03 21:06:55,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,808 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-11', 0.0, 78)
2018-05-03 21:06:55,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,813 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-12', 0.0, 77)
2018-05-03 21:06:55,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,819 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-13', 0.0, 80)
2018-05-03 21:06:55,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,822 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-16', 0.0, 78)
2018-05-03 21:06:55,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,825 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-17', 0.02, 76)
2018-05-03 21:06:55,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,829 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-18', 0.0, 77)
2018-05-03 21:06:55,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:55,835 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-19', 0.04, 77)
2018-05-03 21:06:55,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,838 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-21', 0.0, 80)
2018-05-03 21:06:55,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,842 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-22', 0.0, 78)
2018-05-03 21:06:55,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-24', 0.0, 80)
2018-05-03 21:06:55,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,853 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-25', 0.0, 79)
2018-05-03 21:06:55,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,856 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-26', 0.0, 78)
2018-05-03 21:06:55,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,859 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-27', 0.0, 79)
2018-05-03 21:06:55,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,862 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-28', 0.0, 78)
2018-05-03 21:06:55,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,868 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-29', 0.0, 79)
2018-05-03 21:06:55,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,872 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-30', 0.0, 78)
2018-05-03 21:06:55,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,876 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-07-31', 0.02, 77)
2018-05-03 21:06:55,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,882 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-01', 0.04, 77)
2018-05-03 21:06:55,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,891 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-02', 0.01, 76)
2018-05-03 21:06:55,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,894 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-03', 0.02, 77)
2018-05-03 21:06:55,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,899 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-04', 0.07, 77)
2018-05-03 21:06:55,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,906 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-05', 0.08, 75)
2018-05-03 21:06:55,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,908 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-06', 0.03, 75)
2018-05-03 21:06:55,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,911 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-07', 0.0, 80)
2018-05-03 21:06:55,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,918 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-08', 0.0, 77)
2018-05-03 21:06:55,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,920 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-09', 0.0, 78)
2018-05-03 21:06:55,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,923 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-10', 0.0, 78)
2018-05-03 21:06:55,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,927 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-11', 0.0, 77)
2018-05-03 21:06:55,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,934 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-12', 0.0, 76)
2018-05-03 21:06:55,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,938 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-13', 0.0, 78)
2018-05-03 21:06:55,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,941 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-14', 0.0, 78)
2018-05-03 21:06:55,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,946 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-15', 0.01, 76)
2018-05-03 21:06:55,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,951 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-16', 0.0, 76)
2018-05-03 21:06:55,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,954 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-17', 0.05, 74)
2018-05-03 21:06:55,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,956 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-18', 0.0, 77)
2018-05-03 21:06:55,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,959 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-19', 0.0, 79)
2018-05-03 21:06:55,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,965 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-20', 0.0, 79)
2018-05-03 21:06:55,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,970 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-21', 0.0, 79)
2018-05-03 21:06:55,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,973 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-22', 0.0, 75)
2018-05-03 21:06:55,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,976 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-23', 0.01, 87)
2018-05-03 21:06:55,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:55,987 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-24', 0.0, 78)
2018-05-03 21:06:56,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,014 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-25', 0.04, 76)
2018-05-03 21:06:56,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:56,021 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-26', 0.03, 78)
2018-05-03 21:06:56,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,026 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-27', 0.0, 78)
2018-05-03 21:06:56,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,032 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-28', 0.04, 79)
2018-05-03 21:06:56,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,039 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-29', 0.0, 78)
2018-05-03 21:06:56,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,042 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-30', 0.0, 78)
2018-05-03 21:06:56,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,046 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-08-31', 0.0, 80)
2018-05-03 21:06:56,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,055 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-01', 0.0, 77)
2018-05-03 21:06:56,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,058 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-02', 0.02, 76)
2018-05-03 21:06:56,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,062 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-03', 0.04, 78)
2018-05-03 21:06:56,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,068 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-04', 0.01, 77)
2018-05-03 21:06:56,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,071 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-05', 0.0, 77)
2018-05-03 21:06:56,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,075 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-06', 0.0, 77)
2018-05-03 21:06:56,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,078 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-07', 0.06, 76)
2018-05-03 21:06:56,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,084 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-08', 0.0, 78)
2018-05-03 21:06:56,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,088 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-09', 0.0, 78)
2018-05-03 21:06:56,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,091 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-10', 0.0, 78)
2018-05-03 21:06:56,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,093 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-11', 0.05, 78)
2018-05-03 21:06:56,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,097 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-12', 0.0, 74)
2018-05-03 21:06:56,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,104 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-13', 0.0, 78)
2018-05-03 21:06:56,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-14', 0.0, 79)
2018-05-03 21:06:56,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,109 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-15', 0.0, 77)
2018-05-03 21:06:56,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,114 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-16', 0.0, 79)
2018-05-03 21:06:56,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,119 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-17', 0.0, 78)
2018-05-03 21:06:56,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,122 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-19', 0.0, 78)
2018-05-03 21:06:56,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,125 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-20', 0.0, 78)
2018-05-03 21:06:56,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,128 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-21', 0.0, 79)
2018-05-03 21:06:56,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,134 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-22', 0.04, 76)
2018-05-03 21:06:56,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,138 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-23', 0.0, 78)
2018-05-03 21:06:56,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,141 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-24', 0.0, 78)
2018-05-03 21:06:56,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,144 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-25', 0.0, 79)
2018-05-03 21:06:56,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,151 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-26', 0.0, 74)
2018-05-03 21:06:56,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,154 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-27', 0.0, 75)
2018-05-03 21:06:56,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,157 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-28', 0.0, 75)
2018-05-03 21:06:56,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,161 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-29', 0.0, 78)
2018-05-03 21:06:56,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,165 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-09-30', 0.57, 73)
2018-05-03 21:06:56,168 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,170 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-01', 0.31, 78)
2018-05-03 21:06:56,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:56,173 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-02', 0.03, 78)
2018-05-03 21:06:56,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,176 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-03', 0.0, 78)
2018-05-03 21:06:56,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,180 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-04', 0.06, 78)
2018-05-03 21:06:56,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,186 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-05', 0.0, 80)
2018-05-03 21:06:56,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,189 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-06', 0.0, 79)
2018-05-03 21:06:56,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,192 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-07', 0.0, 79)
2018-05-03 21:06:56,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-08', 0.0, 78)
2018-05-03 21:06:56,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,201 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-09', 0.0, 78)
2018-05-03 21:06:56,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,204 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-10', 0.0, 78)
2018-05-03 21:06:56,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,207 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-11', 0.0, 77)
2018-05-03 21:06:56,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,210 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-12', 0.0, 79)
2018-05-03 21:06:56,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,214 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-13', 0.0, 78)
2018-05-03 21:06:56,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,218 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-15', 0.0, 78)
2018-05-03 21:06:56,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,222 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-16', 0.0, 77)
2018-05-03 21:06:56,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,225 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-17', 0.0, 76)
2018-05-03 21:06:56,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,229 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-18', 0.0, 76)
2018-05-03 21:06:56,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,321 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-19', 0.07, 72)
2018-05-03 21:06:56,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,323 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-20', 0.0, 74)
2018-05-03 21:06:56,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,326 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-21', 0.0, 80)
2018-05-03 21:06:56,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,330 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-22', 0.0, 77)
2018-05-03 21:06:56,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,335 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-23', 0.0, 75)
2018-05-03 21:06:56,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,339 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-24', 0.0, 78)
2018-05-03 21:06:56,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,342 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-25', 0.0, 78)
2018-05-03 21:06:56,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,345 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-26', 0.07, 76)
2018-05-03 21:06:56,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,351 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-27', 0.05, 79)
2018-05-03 21:06:56,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,354 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-28', 0.06, 78)
2018-05-03 21:06:56,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,357 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-29', 0.03, 78)
2018-05-03 21:06:56,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,359 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-30', 0.02, 77)
2018-05-03 21:06:56,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,362 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-10-31', 0.0, 76)
2018-05-03 21:06:56,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,368 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-01', 0.01, 75)
2018-05-03 21:06:56,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,371 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-02', 0.01, 73)
2018-05-03 21:06:56,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,373 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-04', 0.0, 73)
2018-05-03 21:06:56,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,376 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-05', 0.0, 77)
2018-05-03 21:06:56,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,380 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-06', 0.0, 76)
2018-05-03 21:06:56,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,386 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-07', 0.0, 77)
2018-05-03 21:06:56,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,390 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-08', 0.0, 76)
2018-05-03 21:06:56,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,394 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-09', 0.0, 73)
2018-05-03 21:06:56,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,404 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-10', 0.23, 73)
2018-05-03 21:06:56,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,411 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-11', 0.0, 77)
2018-05-03 21:06:56,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,415 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-12', 0.0, 77)
2018-05-03 21:06:56,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,423 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-13', 0.0, 76)
2018-05-03 21:06:56,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,426 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-16', 0.0, 73)
2018-05-03 21:06:56,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,431 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-17', 0.0, 73)
2018-05-03 21:06:56,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,437 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-19', 0.0, 72)
2018-05-03 21:06:56,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,440 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-20', 0.03, 69)
2018-05-03 21:06:56,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,442 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-21', 0.0, 69)
2018-05-03 21:06:56,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,445 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-22', 0.0, 68)
2018-05-03 21:06:56,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,451 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-23', 0.0, 69)
2018-05-03 21:06:56,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,454 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-24', 0.0, 76)
2018-05-03 21:06:56,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,457 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-25', 0.0, 76)
2018-05-03 21:06:56,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,460 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-27', 0.0, 75)
2018-05-03 21:06:56,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-28', 0.0, 74)
2018-05-03 21:06:56,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-29', 0.0, 69)
2018-05-03 21:06:56,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,472 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-11-30', 0.0, 74)
2018-05-03 21:06:56,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,475 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-01', 0.04, 76)
2018-05-03 21:06:56,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,477 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-03', 0.0, 74)
2018-05-03 21:06:56,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,482 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-04', 0.0, 74)
2018-05-03 21:06:56,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,486 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-06', 0.0, 64)
2018-05-03 21:06:56,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,489 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-07', 0.0, 64)
2018-05-03 21:06:56,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,492 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-08', 0.0, 67)
2018-05-03 21:06:56,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,495 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-09', 0.0, 77)
2018-05-03 21:06:56,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,501 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-10', 1.58, 66)
2018-05-03 21:06:56,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,504 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-11', 0.77, 69)
2018-05-03 21:06:56,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,506 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-12', 0.0, 68)
2018-05-03 21:06:56,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,509 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-13', 0.0, 68)
2018-05-03 21:06:56,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,513 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-14', 0.0, 71)
2018-05-03 21:06:56,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,518 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-15', 0.0, 74)
2018-05-03 21:06:56,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,521 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-16', 0.0, 67)
2018-05-03 21:06:56,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,524 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-17', 0.0, 66)
2018-05-03 21:06:56,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,527 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-18', 0.0, 69)
2018-05-03 21:06:56,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,533 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-19', 1.4, 71)
2018-05-03 21:06:56,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,537 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-23', 0.0, 70)

2018-05-03 21:06:56,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,540 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-24', 0.0, 70)
2018-05-03 21:06:56,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,542 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-26', 0.0, 74)
2018-05-03 21:06:56,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,546 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-27', 0.13, 74)
2018-05-03 21:06:56,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,554 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-28', 0.55, 71)
2018-05-03 21:06:56,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,557 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-29', 0.06, 75)
2018-05-03 21:06:56,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,559 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-30', 0.01, 75)
2018-05-03 21:06:56,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,563 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2010-12-31', 0.0, 72)
2018-05-03 21:06:56,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,569 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-01', 0.0, 69)
2018-05-03 21:06:56,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,572 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-02', 0.0, 72)
2018-05-03 21:06:56,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,575 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-03', 0.0, 74)
2018-05-03 21:06:56,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,578 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-04', 0.0, 73)
2018-05-03 21:06:56,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,584 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-05', 0.0, 64)
2018-05-03 21:06:56,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,588 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-06', 0.01, 65)
2018-05-03 21:06:56,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,591 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-07', 0.0, 68)
2018-05-03 21:06:56,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,594 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-08', 0.0, 62)
2018-05-03 21:06:56,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,600 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-09', 0.0, 58)
2018-05-03 21:06:56,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,603 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-10', 0.0, 73)
2018-05-03 21:06:56,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,606 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-11', 0.09, 60)
2018-05-03 21:06:56,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,608 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-13', 0.0, 68)
2018-05-03 21:06:56,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,612 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-14', 0.03, 76)
2018-05-03 21:06:56,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,618 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-15', 0.0, 68)
2018-05-03 21:06:56,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,622 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-16', 0.0, 66)
2018-05-03 21:06:56,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,625 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-17', 0.0, 64)
2018-05-03 21:06:56,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,627 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-18', 0.0, 64)
2018-05-03 21:06:56,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,632 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-19', 0.03, 64)
2018-05-03 21:06:56,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,636 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-20', 0.0, 76)
2018-05-03 21:06:56,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,638 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-21', 0.0, 75)
2018-05-03 21:06:56,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,641 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-22', 0.0, 68)
2018-05-03 21:06:56,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,643 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-23', 0.0, 68)
2018-05-03 21:06:56,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,647 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-24', 0.0, 72)
2018-05-03 21:06:56,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,653 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-25', 0.0, 63)
2018-05-03 21:06:56,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,655 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-27', 0.0, 68)
2018-05-03 21:06:56,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,658 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-28', 0.0, 75)
2018-05-03 21:06:56,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,661 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-29', 0.0, 65)
2018-05-03 21:06:56,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,670 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-30', 0.0, 64)
2018-05-03 21:06:56,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,677 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-01-31', 0.22, 68)

2018-05-03 21:06:56,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,691 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-01', 0.0, 68)
2018-05-03 21:06:56,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,694 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-02', 0.0, 66)
2018-05-03 21:06:56,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,700 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-03', 0.0, 67)
2018-05-03 21:06:56,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,705 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-04', 0.0, 64)
2018-05-03 21:06:56,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,709 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-05', 0.0, 65)
2018-05-03 21:06:56,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,712 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-06', 0.0, 75)
2018-05-03 21:06:56,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,720 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-07', 1.29, 68)
2018-05-03 21:06:56,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,725 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-08', 1.3, 71)
2018-05-03 21:06:56,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,842 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-09', 0.0, 71)
2018-05-03 21:06:56,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,845 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-10', 0.29, 71)
2018-05-03 21:06:56,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,851 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-12', 0.0, 68)
2018-05-03 21:06:56,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,854 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-13', 0.0, 68)
2018-05-03 21:06:56,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,857 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-14', 0.04, 72)
2018-05-03 21:06:56,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,859 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-15', 0.05, 70)
2018-05-03 21:06:56,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,862 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-16', 0.0, 74)
2018-05-03 21:06:56,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,868 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-19', 0.0, 67)
2018-05-03 21:06:56,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,871 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-20', 1.72, 71)
2018-05-03 21:06:56,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,873 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-21', 0.0, 71)
2018-05-03 21:06:56,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,875 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-22', 0.82, 71)
2018-05-03 21:06:56,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,878 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-23', 0.0, 74)
2018-05-03 21:06:56,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,883 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-24', 0.2, 68)
2018-05-03 21:06:56,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,887 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-25', 0.0, 71)
2018-05-03 21:06:56,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,890 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-26', 0.0, 69)
2018-05-03 21:06:56,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,893 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-27', 0.0, 69)
2018-05-03 21:06:56,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,896 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-02-28', 0.0, 68)
2018-05-03 21:06:56,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,902 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-01', 0.1, 68)
2018-05-03 21:06:56,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,905 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-02', 0.0, 72)
2018-05-03 21:06:56,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,909 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-03', 0.0, 74)
2018-05-03 21:06:56,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,912 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-04', 0.88, 72)
2018-05-03 21:06:56,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,925 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-05', 0.4, 69)
2018-05-03 21:06:56,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,929 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-06', 0.03, 70)
2018-05-03 21:06:56,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-08', 0.0, 72)
2018-05-03 21:06:56,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,941 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-09', 0.2, 71)
2018-05-03 21:06:56,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,944 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-10', 0.15, 71)
2018-05-03 21:06:56,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,949 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-12', 0.0, 72)
2018-05-03 21:06:56,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,953 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-13', 0.0, 70)

2018-05-03 21:06:56,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,956 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-14', 0.0, 71)
2018-05-03 21:06:56,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,959 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-16', 0.0, 76)
2018-05-03 21:06:56,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,962 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-17', 0.01, 73)
2018-05-03 21:06:56,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,968 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-18', 0.05, 74)
2018-05-03 21:06:56,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,976 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-19', 0.01, 74)
2018-05-03 21:06:56,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,982 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-20', 0.02, 74)
2018-05-03 21:06:56,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,987 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-21', 0.0, 74)
2018-05-03 21:06:56,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,990 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-22', 0.02, 74)
2018-05-03 21:06:56,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,993 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-23', 0.0, 74)
2018-05-03 21:06:56,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:56,997 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-24', 0.06, 73)
2018-05-03 21:06:57,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,002 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-25', 0.0, 74)
2018-05-03 21:06:57,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,005 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-26', 0.0, 74)
2018-05-03 21:06:57,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,007 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-27', 0.0, 73)
2018-05-03 21:06:57,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,010 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-28', 0.04, 74)
2018-05-03 21:06:57,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,013 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-30', 0.0, 75)
2018-05-03 21:06:57,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,018 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-03-31', 0.0, 74)
2018-05-03 21:06:57,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,022 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-01', 0.05, 74)
2018-05-03 21:06:57,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,024 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-02', 0.04, 75)
2018-05-03 21:06:57,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,027 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-03', 0.0, 74)
2018-05-03 21:06:57,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,031 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-04', 0.0, 75)
2018-05-03 21:06:57,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,035 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-05', 0.0, 74)
2018-05-03 21:06:57,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,038 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-06', 0.09, 70)
2018-05-03 21:06:57,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,041 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-07', 1.11, 70)
2018-05-03 21:06:57,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,044 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-08', 0.36, 70)
2018-05-03 21:06:57,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,047 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-09', 0.02, 76)
2018-05-03 21:06:57,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,053 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-10', 0.0, 76)
2018-05-03 21:06:57,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,056 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-11', 0.0, 76)
2018-05-03 21:06:57,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,060 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-12', 0.0, 76)
2018-05-03 21:06:57,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,064 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-13', 0.0, 70)
2018-05-03 21:06:57,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,069 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-15', 0.0, 77)
2018-05-03 21:06:57,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,074 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-16', 0.12, 74)
2018-05-03 21:06:57,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,077 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-17', 0.0, 73)
2018-05-03 21:06:57,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,082 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-18', 0.0, 76)
2018-05-03 21:06:57,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,088 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-19', 0.0, 76)
2018-05-03 21:06:57,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,092 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-20', 0.0, 74)
2018-05-03 21:06:57,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:57,096 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-21', 0.0, 77)
2018-05-03 21:06:57,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,103 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-22', 0.0, 77)
2018-05-03 21:06:57,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,110 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-23', 0.0, 78)
2018-05-03 21:06:57,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,115 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-24', 0.0, 77)
2018-05-03 21:06:57,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,120 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-25', 0.0, 77)
2018-05-03 21:06:57,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,123 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-26', 0.0, 76)
2018-05-03 21:06:57,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,126 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-27', 0.0, 77)
2018-05-03 21:06:57,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,131 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-29', 0.0, 78)
2018-05-03 21:06:57,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,142 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-04-30', 0.04, 76)
2018-05-03 21:06:57,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,145 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-01', 0.0, 77)
2018-05-03 21:06:57,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,150 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-02', 0.0, 77)
2018-05-03 21:06:57,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,154 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-03', 2.1, 70)
2018-05-03 21:06:57,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,157 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-04', 0.02, 76)
2018-05-03 21:06:57,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,160 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-05', 0.12, 74)
2018-05-03 21:06:57,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,167 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-06', 0.12, 72)
2018-05-03 21:06:57,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,170 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-07', 0.55, 74)
2018-05-03 21:06:57,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,173 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-08', 0.55, 73)
2018-05-03 21:06:57,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,185 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-09', 0.02, 75)
2018-05-03 21:06:57,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,189 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-10', 0.11, 75)
2018-05-03 21:06:57,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,192 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-11', 0.1, 75)
2018-05-03 21:06:57,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-12', 0.0, 76)
2018-05-03 21:06:57,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,202 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-13', 0.0, 77)
2018-05-03 21:06:57,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,205 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-14', 0.0, 78)
2018-05-03 21:06:57,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,208 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-15', 0.0, 77)
2018-05-03 21:06:57,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,210 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-16', 0.0, 78)
2018-05-03 21:06:57,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,214 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-17', 0.0, 77)
2018-05-03 21:06:57,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,220 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-18', 0.0, 76)
2018-05-03 21:06:57,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,223 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-19', 0.01, 77)
2018-05-03 21:06:57,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,227 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-20', 0.0, 79)
2018-05-03 21:06:57,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,235 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-21', 0.0, 77)
2018-05-03 21:06:57,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,239 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-22', 0.06, 74)
2018-05-03 21:06:57,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,245 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-23', 0.02, 78)
2018-05-03 21:06:57,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,256 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-24', 0.0, 77)
2018-05-03 21:06:57,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,260 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-25', 0.0, 79)
2018-05-03 21:06:57,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,265 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-26', 0.0, 78)
2018-05-03 21:06:57,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,272 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-27', 0.0, 78)
2018-05-03 21:06:57,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,276 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-28', 0.0, 77)
2018-05-03 21:06:57,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,444 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-29', 0.0, 78)
2018-05-03 21:06:57,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,447 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-30', 0.0, 78)
2018-05-03 21:06:57,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,452 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-05-31', 0.05, 73)
2018-05-03 21:06:57,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,455 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-01', 0.07, 77)
2018-05-03 21:06:57,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,458 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-02', 0.0, 78)
2018-05-03 21:06:57,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,462 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-03', 0.56, 73)
2018-05-03 21:06:57,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,465 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-04', 0.89, 70)
2018-05-03 21:06:57,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,470 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-05', 0.0, 76)
2018-05-03 21:06:57,472 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,473 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-06', 0.0, 77)
2018-05-03 21:06:57,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,476 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-07', 0.0, 77)
2018-05-03 21:06:57,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,480 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-08', 0.03, 77)
2018-05-03 21:06:57,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,488 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-09', 0.01, 77)
2018-05-03 21:06:57,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,491 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-10', 0.0, 78)
2018-05-03 21:06:57,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,493 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-11', 0.0, 77)
2018-05-03 21:06:57,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,503 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-12', 0.0, 77)
2018-05-03 21:06:57,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,509 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-13', 0.0, 78)
2018-05-03 21:06:57,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,512 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-14', 0.0, 78)
2018-05-03 21:06:57,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,519 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-15', 0.0, 77)
2018-05-03 21:06:57,524 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,525 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-17', 0.0, 78)
2018-05-03 21:06:57,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,528 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-18', 0.0, 78)
2018-05-03 21:06:57,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,531 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-19', 0.05, 75)
2018-05-03 21:06:57,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,536 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-20', 0.06, 76)
2018-05-03 21:06:57,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,539 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-21', 0.07, 76)
2018-05-03 21:06:57,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,542 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-24', 0.0, 77)
2018-05-03 21:06:57,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,545 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-25', 0.0, 78)
2018-05-03 21:06:57,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,551 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-26', 0.0, 76)
2018-05-03 21:06:57,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,555 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-27', 0.01, 77)
2018-05-03 21:06:57,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,558 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-28', 0.01, 75)
2018-05-03 21:06:57,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,560 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-06-29', 0.0, 77)
2018-05-03 21:06:57,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,564 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-01', 0.05, 77)
2018-05-03 21:06:57,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,569 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-02', 0.02, 78)
2018-05-03 21:06:57,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,573 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-03', 0.0, 78)
2018-05-03 21:06:57,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,575 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-04', 0.0, 78)
2018-05-03 21:06:57,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,578 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-05', 0.01, 78)
2018-05-03 21:06:57,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:57,582 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-06', 0.01, 76)
2018-05-03 21:06:57,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,588 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-07', 0.01, 76)
2018-05-03 21:06:57,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,591 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-08', 0.0, 77)
2018-05-03 21:06:57,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,593 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-09', 0.03, 77)
2018-05-03 21:06:57,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,595 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-10', 0.02, 77)
2018-05-03 21:06:57,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,600 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-11', 0.0, 78)
2018-05-03 21:06:57,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,603 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-12', 0.0, 77)
2018-05-03 21:06:57,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,606 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-13', 0.15, 73)
2018-05-03 21:06:57,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,609 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-14', 0.0, 77)
2018-05-03 21:06:57,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,617 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-15', 0.0, 79)
2018-05-03 21:06:57,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-16', 0.0, 78)
2018-05-03 21:06:57,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,623 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-17', 0.04, 77)
2018-05-03 21:06:57,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,626 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-18', 0.0, 78)
2018-05-03 21:06:57,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,628 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-19', 0.0, 78)
2018-05-03 21:06:57,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,631 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-20', 0.0, 76)
2018-05-03 21:06:57,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,638 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-21', 0.03, 77)
2018-05-03 21:06:57,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,641 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-23', 0.0, 78)
2018-05-03 21:06:57,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,645 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-24', 0.0, 77)
2018-05-03 21:06:57,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,652 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-25', 0.0, 78)
2018-05-03 21:06:57,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,657 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-26', 0.0, 78)
2018-05-03 21:06:57,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,661 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-27', 0.04, 77)
2018-05-03 21:06:57,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,664 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-28', 0.09, 77)
2018-05-03 21:06:57,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,671 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-29', 0.04, 78)
2018-05-03 21:06:57,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,678 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-30', 0.12, 80)
2018-05-03 21:06:57,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,686 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-07-31', 0.0, 77)
2018-05-03 21:06:57,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,689 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-01', 0.0, 78)
2018-05-03 21:06:57,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,693 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-02', 0.0, 77)
2018-05-03 21:06:57,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,699 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-03', 0.0, 78)
2018-05-03 21:06:57,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,706 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-04', 0.02, 76)
2018-05-03 21:06:57,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,717 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-05', 0.03, 78)
2018-05-03 21:06:57,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,721 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-06', 0.01, 77)
2018-05-03 21:06:57,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,723 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-07', 0.0, 78)
2018-05-03 21:06:57,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,726 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-08', 0.0, 78)
2018-05-03 21:06:57,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,730 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-09', 0.0, 79)
2018-05-03 21:06:57,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,736 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-11', 0.0, 78)
2018-05-03 21:06:57,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,740 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-12', 0.0, 78)
2018-05-03 21:06:57,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:57,744 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-13', 0.0, 76)
2018-05-03 21:06:57,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,752 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-14', 0.0, 78)
2018-05-03 21:06:57,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,755 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-15', 0.0, 77)
2018-05-03 21:06:57,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,759 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-16', 0.0, 79)
2018-05-03 21:06:57,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,761 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-17', 0.02, 77)
2018-05-03 21:06:57,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,766 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-18', 0.0, 77)
2018-05-03 21:06:57,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,772 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-19', 0.0, 78)
2018-05-03 21:06:57,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,776 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-20', 0.07, 77)
2018-05-03 21:06:57,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,779 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-21', 0.0, 77)
2018-05-03 21:06:57,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,786 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-22', 0.0, 78)
2018-05-03 21:06:57,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,790 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-23', 0.0, 78)
2018-05-03 21:06:57,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,794 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-24', 0.0, 79)
2018-05-03 21:06:57,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,796 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-25', 0.0, 78)
2018-05-03 21:06:57,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,806 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-26', 0.0, 78)
2018-05-03 21:06:57,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,809 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-27', 0.0, 79)
2018-05-03 21:06:57,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,812 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-28', 0.05, 76)
2018-05-03 21:06:57,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,816 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-29', 0.1, 76)
2018-05-03 21:06:57,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,823 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-30', 0.02, 78)
2018-05-03 21:06:57,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,826 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-08-31', 0.0, 79)
2018-05-03 21:06:57,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,833 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-02', 0.0, 79)
2018-05-03 21:06:57,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,837 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-03', 0.0, 78)
2018-05-03 21:06:57,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,840 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-04', 0.03, 77)
2018-05-03 21:06:57,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,842 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-05', 0.0, 77)
2018-05-03 21:06:57,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-06', 0.0, 73)
2018-05-03 21:06:57,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,853 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-07', 0.0, 73)
2018-05-03 21:06:57,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,857 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-08', 0.0, 77)
2018-05-03 21:06:57,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,862 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-09', 0.0, 79)
2018-05-03 21:06:57,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,870 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-10', 0.0, 77)
2018-05-03 21:06:57,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,876 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-11', 0.0, 77)
2018-05-03 21:06:57,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:57,878 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-12', 0.0, 85)
2018-05-03 21:06:58,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,007 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-13', 0.01, 77)
2018-05-03 21:06:58,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,010 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-14', 0.0, 76)
2018-05-03 21:06:58,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,012 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-15', 0.0, 79)
2018-05-03 21:06:58,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,018 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-16', 0.0, 79)
2018-05-03 21:06:58,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,022 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-17', 0.02, 77)
2018-05-03 21:06:58,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,026 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-18', 0.04, 77)
2018-05-03 21:06:58,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:58,029 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-19', 0.0, 82)
2018-05-03 21:06:58,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,035 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-20', 0.0, 80)
2018-05-03 21:06:58,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,040 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-21', 0.0, 79)
2018-05-03 21:06:58,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,044 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-22', 0.03, 78)
2018-05-03 21:06:58,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,049 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-23', 0.0, 76)
2018-05-03 21:06:58,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,056 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-24', 0.0, 77)
2018-05-03 21:06:58,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,061 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-25', 0.0, 74)
2018-05-03 21:06:58,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,064 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-26', 0.0, 77)
2018-05-03 21:06:58,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,070 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-27', 0.0, 78)
2018-05-03 21:06:58,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,073 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-09-28', 0.0, 77)
2018-05-03 21:06:58,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,076 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-01', 0.0, 78)
2018-05-03 21:06:58,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,078 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-02', 0.0, 78)
2018-05-03 21:06:58,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,082 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-03', 0.0, 80)
2018-05-03 21:06:58,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,088 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-05', 0.0, 79)
2018-05-03 21:06:58,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,091 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-06', 0.0, 75)
2018-05-03 21:06:58,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,094 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-07', 0.03, 78)
2018-05-03 21:06:58,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,097 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-08', 0.0, 79)
2018-05-03 21:06:58,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,103 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-09', 0.0, 78)
2018-05-03 21:06:58,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-10', 0.02, 77)
2018-05-03 21:06:58,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,108 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-11', 0.03, 78)
2018-05-03 21:06:58,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,110 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-12', 0.0, 77)
2018-05-03 21:06:58,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,113 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-13', 0.0, 77)
2018-05-03 21:06:58,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,117 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-14', 0.03, 78)
2018-05-03 21:06:58,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,121 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-15', 0.02, 77)
2018-05-03 21:06:58,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,124 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-16', 0.0, 76)
2018-05-03 21:06:58,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,126 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-17', 0.02, 77)
2018-05-03 21:06:58,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,129 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-18', 0.01, 76)
2018-05-03 21:06:58,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,132 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-19', 0.0, 74)
2018-05-03 21:06:58,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-20', 0.0, 78)
2018-05-03 21:06:58,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,140 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-21', 0.0, 76)
2018-05-03 21:06:58,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,145 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-22', 0.0, 77)
2018-05-03 21:06:58,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,151 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-23', 0.0, 75)
2018-05-03 21:06:58,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,155 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-24', 0.14, 74)
2018-05-03 21:06:58,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,159 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-25', 1.6, 77)
2018-05-03 21:06:58,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,162 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-26', 0.01, 76)
2018-05-03 21:06:58,168 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,171 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-27', 0.0, 77)
2018-05-03 21:06:58,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:58,177 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-28', 0.05, 73)
2018-05-03 21:06:58,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,179 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-29', 0.01, 76)
2018-05-03 21:06:58,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,185 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-30', 0.0, 75)
2018-05-03 21:06:58,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,189 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-10-31', 0.03, 76)
2018-05-03 21:06:58,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,191 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-01', 0.58, 71)
2018-05-03 21:06:58,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,194 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-02', 0.28, 77)
2018-05-03 21:06:58,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-03', 0.02, 77)
2018-05-03 21:06:58,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,202 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-04', 0.01, 75)
2018-05-03 21:06:58,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,205 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-05', 0.0, 76)
2018-05-03 21:06:58,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,207 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-06', 0.0, 77)
2018-05-03 21:06:58,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,210 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-07', 0.0, 78)
2018-05-03 21:06:58,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,220 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-08', 0.0, 76)
2018-05-03 21:06:58,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,224 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-09', 0.02, 76)
2018-05-03 21:06:58,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,228 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-10', 0.0, 76)
2018-05-03 21:06:58,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,236 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-11', 0.05, 74)
2018-05-03 21:06:58,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,242 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-12', 0.0, 75)
2018-05-03 21:06:58,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,245 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-13', 0.0, 76)
2018-05-03 21:06:58,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,247 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-14', 0.0, 73)
2018-05-03 21:06:58,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,253 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-15', 0.0, 71)
2018-05-03 21:06:58,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,256 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-16', 0.0, 75)
2018-05-03 21:06:58,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,259 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-17', 0.0, 76)
2018-05-03 21:06:58,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,262 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-18', 0.0, 78)
2018-05-03 21:06:58,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,265 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-19', 0.0, 76)
2018-05-03 21:06:58,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,270 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-20', 0.0, 75)
2018-05-03 21:06:58,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,273 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-21', 0.01, 76)
2018-05-03 21:06:58,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,275 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-22', 0.02, 73)
2018-05-03 21:06:58,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,277 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-23', 0.01, 75)
2018-05-03 21:06:58,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,281 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-24', 0.0, 73)
2018-05-03 21:06:58,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,287 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-25', 0.01, 70)
2018-05-03 21:06:58,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,290 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-26', 0.02, 75)
2018-05-03 21:06:58,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,292 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-27', 0.07, 73)
2018-05-03 21:06:58,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,295 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-28', 0.0, 72)
2018-05-03 21:06:58,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,299 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-29', 0.0, 72)
2018-05-03 21:06:58,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,304 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-11-30', 0.02, 66)
2018-05-03 21:06:58,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,310 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-01', 0.03, 69)
2018-05-03 21:06:58,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-02', 0.08, 68)
2018-05-03 21:06:58,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:58,320 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-03', 0.0, 73)
2018-05-03 21:06:58,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,323 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-04', 0.0, 74)
2018-05-03 21:06:58,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,329 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-05', 0.0, 73)
2018-05-03 21:06:58,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,334 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-06', 0.0, 73)
2018-05-03 21:06:58,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,341 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-07', 0.0, 73)
2018-05-03 21:06:58,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,344 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-08', 0.0, 73)
2018-05-03 21:06:58,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,348 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-09', 0.13, 71)
2018-05-03 21:06:58,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,354 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-10', 0.07, 73)
2018-05-03 21:06:58,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,357 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-11', 0.07, 73)
2018-05-03 21:06:58,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,360 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-12', 0.08, 77)
2018-05-03 21:06:58,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,362 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-13', 0.4, 72)
2018-05-03 21:06:58,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,366 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-14', 0.7, 71)
2018-05-03 21:06:58,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,371 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-15', 0.0, 73)
2018-05-03 21:06:58,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,374 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-16', 0.01, 70)
2018-05-03 21:06:58,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,376 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-17', 0.07, 73)
2018-05-03 21:06:58,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,379 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-18', 0.02, 69)
2018-05-03 21:06:58,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,385 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-19', 0.15, 74)
2018-05-03 21:06:58,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,389 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-20', 0.02, 72)
2018-05-03 21:06:58,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,391 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-21', 0.18, 71)
2018-05-03 21:06:58,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,394 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-22', 0.03, 72)
2018-05-03 21:06:58,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,396 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-23', 0.04, 72)
2018-05-03 21:06:58,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,400 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-24', 0.1, 70)
2018-05-03 21:06:58,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,505 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-25', 0.03, 73)
2018-05-03 21:06:58,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,508 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-26', 0.0, 73)
2018-05-03 21:06:58,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,510 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-27', 0.0, 72)
2018-05-03 21:06:58,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,512 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-28', 0.0, 73)
2018-05-03 21:06:58,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,516 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-29', 0.0, 73)
2018-05-03 21:06:58,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,521 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-30', 0.0, 72)
2018-05-03 21:06:58,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,523 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2011-12-31', 0.01, 63)
2018-05-03 21:06:58,524 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,525 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-01', 0.0, 63)
2018-05-03 21:06:58,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,528 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-02', 0.0, 66)
2018-05-03 21:06:58,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,531 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-03', 0.0, 66)
2018-05-03 21:06:58,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,538 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-04', 0.0, 74)
2018-05-03 21:06:58,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,541 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-06', 0.0, 71)
2018-05-03 21:06:58,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,543 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-07', 0.0, 65)
2018-05-03 21:06:58,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,546 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-08', 0.0, 61)
2018-05-03 21:06:58,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:58,549 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-10', 0.0, 71)
2018-05-03 21:06:58,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,553 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-11', 0.0, 65)
2018-05-03 21:06:58,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,556 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-12', 0.0, 66)
2018-05-03 21:06:58,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,559 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-14', 0.0, 61)
2018-05-03 21:06:58,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,562 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-15', 0.0, 74)
2018-05-03 21:06:58,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,566 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-16', 0.04, 75)
2018-05-03 21:06:58,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,571 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-17', 0.0, 75)
2018-05-03 21:06:58,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,574 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-18', 0.0, 75)
2018-05-03 21:06:58,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,578 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-19', 0.02, 68)
2018-05-03 21:06:58,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,580 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-20', 0.0, 73)
2018-05-03 21:06:58,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,589 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-21', 0.0, 74)
2018-05-03 21:06:58,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,593 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-22', 0.0, 74)
2018-05-03 21:06:58,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,596 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-23', 0.0, 67)
2018-05-03 21:06:58,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,600 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-24', 0.0, 66)
2018-05-03 21:06:58,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,604 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-25', 0.0, 69)
2018-05-03 21:06:58,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,606 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-26', 0.0, 74)
2018-05-03 21:06:58,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,609 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-27', 0.04, 68)
2018-05-03 21:06:58,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,611 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-28', 0.03, 72)
2018-05-03 21:06:58,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,614 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-29', 1.03, 72)
2018-05-03 21:06:58,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,619 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-30', 0.01, 71)
2018-05-03 21:06:58,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,622 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-01-31', 0.0, 71)
2018-05-03 21:06:58,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,625 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-01', 0.0, 66)
2018-05-03 21:06:58,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,627 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-02', 0.0, 72)
2018-05-03 21:06:58,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,630 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-03', 0.0, 63)
2018-05-03 21:06:58,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,635 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-04', 0.0, 65)
2018-05-03 21:06:58,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,639 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-05', 0.0, 69)
2018-05-03 21:06:58,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,641 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-06', 0.0, 71)
2018-05-03 21:06:58,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,644 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-07', 0.37, 71)
2018-05-03 21:06:58,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,646 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-08', 0.28, 65)
2018-05-03 21:06:58,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,649 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-09', 0.01, 61)
2018-05-03 21:06:58,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,654 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-10', 0.0, 71)
2018-05-03 21:06:58,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,657 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-11', 0.0, 72)
2018-05-03 21:06:58,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,659 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-12', 0.0, 72)
2018-05-03 21:06:58,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,661 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-13', 0.04, 72)
2018-05-03 21:06:58,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,665 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-14', 0.01, 65)
2018-05-03 21:06:58,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,670 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-15', 0.0, 66)
2018-05-03 21:06:58,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:58,672 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-16', 0.0, 73)
2018-05-03 21:06:58,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,675 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-17', 0.0, 73)
2018-05-03 21:06:58,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,679 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-18', 0.04, 71)
2018-05-03 21:06:58,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,682 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-19', 0.01, 72)
2018-05-03 21:06:58,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,687 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-20', 0.0, 73)
2018-05-03 21:06:58,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,690 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-21', 0.0, 72)
2018-05-03 21:06:58,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,693 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-22', 0.0, 73)
2018-05-03 21:06:58,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,696 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-23', 0.0, 77)
2018-05-03 21:06:58,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,699 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-24', 0.0, 67)
2018-05-03 21:06:58,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,705 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-25', 0.0, 69)
2018-05-03 21:06:58,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,707 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-26', 0.05, 73)
2018-05-03 21:06:58,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,710 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-27', 0.06, 72)
2018-05-03 21:06:58,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,712 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-28', 0.0, 73)
2018-05-03 21:06:58,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,715 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-02-29', 0.0, 74)
2018-05-03 21:06:58,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,720 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-01', 0.06, 73)
2018-05-03 21:06:58,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,723 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-02', 0.0, 67)
2018-05-03 21:06:58,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,725 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-03', 0.03, 71)
2018-05-03 21:06:58,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,727 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-04', 0.01, 72)
2018-05-03 21:06:58,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,730 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-05', 1.08, 67)
2018-05-03 21:06:58,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,734 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-06', 4.0, 69)
2018-05-03 21:06:58,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,738 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-07', 2.42, 67)
2018-05-03 21:06:58,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,740 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-08', 0.02, 69)
2018-05-03 21:06:58,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,743 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-09', 0.19, 66)
2018-05-03 21:06:58,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,745 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-10', 0.06, 73)
2018-05-03 21:06:58,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,749 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-11', 0.0, 74)
2018-05-03 21:06:58,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,754 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-12', 0.03, 71)
2018-05-03 21:06:58,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,758 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-13', 0.0, 72)
2018-05-03 21:06:58,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,760 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-14', 0.0, 73)
2018-05-03 21:06:58,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,763 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-15', 0.0, 71)
2018-05-03 21:06:58,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,768 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-16', 0.05, 72)
2018-05-03 21:06:58,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,773 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-17', 0.0, 73)
2018-05-03 21:06:58,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,776 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-18', 0.0, 72)
2018-05-03 21:06:58,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,779 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-19', 0.0, 73)
2018-05-03 21:06:58,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,783 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-20', 0.0, 69)
2018-05-03 21:06:58,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,788 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-21', 0.0, 73)
2018-05-03 21:06:58,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,792 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-22', 0.03, 74)
2018-05-03 21:06:58,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:58,796 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-23', 0.01, 72)
2018-05-03 21:06:58,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,802 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-24', 0.0, 74)
2018-05-03 21:06:58,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,808 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-25', 0.0, 74)
2018-05-03 21:06:58,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,811 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-26', 0.11, 72)
2018-05-03 21:06:58,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,815 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-27', 0.03, 70)
2018-05-03 21:06:58,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,821 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-28', 0.02, 71)
2018-05-03 21:06:58,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,824 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-29', 0.0, 72)
2018-05-03 21:06:58,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,827 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-30', 0.0, 73)
2018-05-03 21:06:58,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,830 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-03-31', 0.0, 74)
2018-05-03 21:06:58,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,834 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-01', 0.0, 73)
2018-05-03 21:06:58,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,838 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-02', 0.0, 74)
2018-05-03 21:06:58,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,841 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-03', 0.0, 75)
2018-05-03 21:06:58,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,843 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-04', 0.0, 74)
2018-05-03 21:06:58,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-05', 0.19, 74)
2018-05-03 21:06:58,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,967 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-06', 0.0, 74)
2018-05-03 21:06:58,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,975 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-07', 0.03, 74)
2018-05-03 21:06:58,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,978 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-08', 0.0, 74)
2018-05-03 21:06:58,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,988 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-09', 0.07, 72)
2018-05-03 21:06:58,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,991 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-10', 0.05, 69)
2018-05-03 21:06:58,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,994 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-11', 0.06, 71)
2018-05-03 21:06:58,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:58,997 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-12', 0.0, 70)
2018-05-03 21:06:58,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,001 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-13', 0.03, 71)
2018-05-03 21:06:59,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,006 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-14', 0.0, 70)
2018-05-03 21:06:59,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,008 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-15', 0.01, 75)
2018-05-03 21:06:59,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,011 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-16', 0.01, 75)
2018-05-03 21:06:59,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,014 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-17', 0.0, 75)
2018-05-03 21:06:59,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,018 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-18', 0.0, 75)
2018-05-03 21:06:59,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,022 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-19', 0.0, 75)
2018-05-03 21:06:59,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,025 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-20', 0.0, 75)
2018-05-03 21:06:59,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,027 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-21', 0.01, 74)
2018-05-03 21:06:59,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,030 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-22', 0.04, 69)
2018-05-03 21:06:59,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,037 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-23', 0.03, 73)
2018-05-03 21:06:59,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,040 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-24', 0.0, 73)
2018-05-03 21:06:59,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,043 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-25', 0.0, 75)
2018-05-03 21:06:59,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,045 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-26', 0.0, 74)
2018-05-03 21:06:59,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,048 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-27', 0.0, 75)
2018-05-03 21:06:59,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:59,053 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-28', 0.0, 76)
2018-05-03 21:06:59,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,056 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-29', 0.0, 75)
2018-05-03 21:06:59,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,061 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-04-30', 0.0, 75)
2018-05-03 21:06:59,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,065 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-01', 0.0, 75)
2018-05-03 21:06:59,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,070 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-02', 0.0, 75)
2018-05-03 21:06:59,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,074 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-03', 0.0, 75)
2018-05-03 21:06:59,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,077 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-04', 0.0, 75)
2018-05-03 21:06:59,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,080 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-05', 0.04, 74)
2018-05-03 21:06:59,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,084 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-06', 0.0, 75)
2018-05-03 21:06:59,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,091 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-07', 0.0, 74)
2018-05-03 21:06:59,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,094 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-08', 0.0, 75)
2018-05-03 21:06:59,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,098 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-09', 0.0, 74)
2018-05-03 21:06:59,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,104 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-10', 0.0, 74)
2018-05-03 21:06:59,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-11', 0.0, 75)
2018-05-03 21:06:59,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,109 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-12', 0.0, 75)
2018-05-03 21:06:59,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,112 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-13', 0.0, 72)
2018-05-03 21:06:59,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,114 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-14', 0.0, 74)
2018-05-03 21:06:59,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,120 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-15', 0.0, 74)
2018-05-03 21:06:59,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,123 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-16', 0.0, 75)
2018-05-03 21:06:59,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,126 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-17', 0.0, 76)
2018-05-03 21:06:59,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,130 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-18', 0.0, 77)
2018-05-03 21:06:59,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-19', 0.0, 77)
2018-05-03 21:06:59,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,142 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-20', 0.0, 77)
2018-05-03 21:06:59,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,144 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-21', 0.0, 76)
2018-05-03 21:06:59,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,147 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-22', 0.0, 77)
2018-05-03 21:06:59,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,155 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-23', 0.0, 76)
2018-05-03 21:06:59,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,159 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-24', 0.0, 78)
2018-05-03 21:06:59,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,170 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-25', 0.0, 77)
2018-05-03 21:06:59,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,178 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-26', 0.0, 76)
2018-05-03 21:06:59,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,189 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-27', 0.0, 76)
2018-05-03 21:06:59,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,192 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-28', 0.0, 77)
2018-05-03 21:06:59,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,195 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-29', 0.0, 76)
2018-05-03 21:06:59,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,201 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-30', 0.0, 76)
2018-05-03 21:06:59,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,207 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-05-31', 0.01, 73)
2018-05-03 21:06:59,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,211 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-01', 0.02, 76)
2018-05-03 21:06:59,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,216 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-02', 0.02, 76)
2018-05-03 21:06:59,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:59,221 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-03', 0.0, 75)
2018-05-03 21:06:59,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,227 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-04', 0.0, 77)
2018-05-03 21:06:59,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,234 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-05', 0.0, 77)
2018-05-03 21:06:59,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,241 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-06', 0.0, 76)
2018-05-03 21:06:59,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,245 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-07', 0.0, 78)
2018-05-03 21:06:59,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,249 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-08', 0.0, 77)
2018-05-03 21:06:59,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,258 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-09', 0.0, 76)
2018-05-03 21:06:59,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,261 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-10', 0.0, 77)
2018-05-03 21:06:59,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,264 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-11', 0.0, 76)
2018-05-03 21:06:59,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,268 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-12', 0.0, 76)
2018-05-03 21:06:59,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,272 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-13', 0.0, 77)
2018-05-03 21:06:59,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,275 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-14', 0.0, 77)
2018-05-03 21:06:59,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,277 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-15', 0.0, 78)
2018-05-03 21:06:59,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,280 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-16', 0.0, 77)
2018-05-03 21:06:59,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,285 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-17', 0.0, 77)
2018-05-03 21:06:59,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,291 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-18', 0.0, 77)
2018-05-03 21:06:59,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,296 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-19', 0.0, 76)
2018-05-03 21:06:59,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,300 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-20', 0.0, 75)
2018-05-03 21:06:59,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,305 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-21', 0.0, 76)
2018-05-03 21:06:59,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,308 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-22', 0.0, 76)
2018-05-03 21:06:59,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-23', 0.0, 77)
2018-05-03 21:06:59,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,328 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-24', 0.0, 76)
2018-05-03 21:06:59,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,336 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-25', 0.03, 73)
2018-05-03 21:06:59,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,342 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-26', 0.15, 73)
2018-05-03 21:06:59,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,345 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-27', 0.01, 75)
2018-05-03 21:06:59,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,348 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-28', 0.0, 77)
2018-05-03 21:06:59,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,354 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-29', 0.05, 76)
2018-05-03 21:06:59,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,357 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-06-30', 0.0, 77)
2018-05-03 21:06:59,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,363 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-01', 0.0, 76)
2018-05-03 21:06:59,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,375 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-02', 0.0, 77)
2018-05-03 21:06:59,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,378 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-03', 0.04, 74)
2018-05-03 21:06:59,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,384 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-04', 0.01, 77)
2018-05-03 21:06:59,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,389 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-05', 0.03, 77)
2018-05-03 21:06:59,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,391 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-06', 0.0, 78)
2018-05-03 21:06:59,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,395 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-07', 0.04, 76)
2018-05-03 21:06:59,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,402 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-08', 0.0, 77)
2018-05-03 21:06:59,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:59,409 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-09', 0.0, 77)
2018-05-03 21:06:59,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,414 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-10', 0.0, 76)
2018-05-03 21:06:59,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,420 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-11', 0.0, 76)
2018-05-03 21:06:59,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,423 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-12', 0.0, 76)
2018-05-03 21:06:59,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,428 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-13', 0.0, 77)
2018-05-03 21:06:59,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,434 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-14', 0.0, 78)
2018-05-03 21:06:59,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,626 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-15', 0.0, 77)
2018-05-03 21:06:59,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,630 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-16', 0.01, 78)
2018-05-03 21:06:59,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,634 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-17', 0.0, 78)
2018-05-03 21:06:59,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,639 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-18', 0.0, 78)
2018-05-03 21:06:59,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,641 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-19', 0.0, 75)
2018-05-03 21:06:59,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,644 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-20', 0.0, 77)
2018-05-03 21:06:59,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,647 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-21', 0.0, 76)
2018-05-03 21:06:59,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,652 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-22', 0.0, 76)
2018-05-03 21:06:59,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,657 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-23', 0.0, 79)
2018-05-03 21:06:59,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,659 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-24', 0.0, 77)
2018-05-03 21:06:59,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,662 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-25', 0.0, 77)
2018-05-03 21:06:59,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,667 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-26', 0.02, 77)
2018-05-03 21:06:59,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,671 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-27', 0.0, 77)
2018-05-03 21:06:59,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,674 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-28', 0.0, 77)
2018-05-03 21:06:59,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,677 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-29', 0.01, 73)
2018-05-03 21:06:59,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,680 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-30', 0.01, 78)
2018-05-03 21:06:59,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,683 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-07-31', 0.0, 78)
2018-05-03 21:06:59,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,689 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-01', 0.0, 79)
2018-05-03 21:06:59,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,692 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-02', 0.0, 78)
2018-05-03 21:06:59,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,695 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-03', 0.0, 78)
2018-05-03 21:06:59,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,698 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-04', 0.0, 78)
2018-05-03 21:06:59,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,704 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-05', 0.0, 78)
2018-05-03 21:06:59,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,708 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-06', 0.0, 77)
2018-05-03 21:06:59,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,711 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-07', 0.0, 77)
2018-05-03 21:06:59,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,714 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-08', 0.02, 78)
2018-05-03 21:06:59,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,717 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-09', 0.0, 78)
2018-05-03 21:06:59,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,722 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-10', 0.0, 76)
2018-05-03 21:06:59,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,725 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-11', 0.0, 75)
2018-05-03 21:06:59,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,727 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-12', 0.0, 78)
2018-05-03 21:06:59,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,730 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-13', 0.0, 78)
2018-05-03 21:06:59,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:59,739 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-14', 0.0, 77)
2018-05-03 21:06:59,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,742 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-15', 0.01, 79)
2018-05-03 21:06:59,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,745 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-16', 0.0, 78)
2018-05-03 21:06:59,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,749 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-17', 0.0, 78)
2018-05-03 21:06:59,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,754 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-18', 0.0, 77)
2018-05-03 21:06:59,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,757 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-19', 0.0, 76)
2018-05-03 21:06:59,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,760 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-20', 0.0, 79)
2018-05-03 21:06:59,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,763 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-21', 0.0, 77)
2018-05-03 21:06:59,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,768 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-22', 0.03, 77)
2018-05-03 21:06:59,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,781 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-23', 0.0, 78)
2018-05-03 21:06:59,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,792 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-24', 0.0, 78)
2018-05-03 21:06:59,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,795 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-25', 0.0, 78)
2018-05-03 21:06:59,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,797 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-26', 0.0, 78)
2018-05-03 21:06:59,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,801 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-27', 0.02, 73)
2018-05-03 21:06:59,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,809 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-28', 1.0, 75)
2018-05-03 21:06:59,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,815 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-29', 0.02, 78)
2018-05-03 21:06:59,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,820 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-30', 0.04, 78)
2018-05-03 21:06:59,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,823 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-08-31', 0.0, 78)
2018-05-03 21:06:59,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,826 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-01', 0.01, 77)
2018-05-03 21:06:59,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,829 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-02', 0.04, 76)
2018-05-03 21:06:59,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,832 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-03', 0.06, 77)
2018-05-03 21:06:59,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,838 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-04', 0.0, 77)
2018-05-03 21:06:59,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,841 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-05', 0.01, 75)
2018-05-03 21:06:59,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-06', 0.04, 77)
2018-05-03 21:06:59,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,853 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-07', 0.0, 75)
2018-05-03 21:06:59,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,857 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-08', 0.06, 78)
2018-05-03 21:06:59,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,859 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-09', 0.0, 76)
2018-05-03 21:06:59,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,863 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-10', 0.0, 77)
2018-05-03 21:06:59,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,865 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-11', 0.0, 77)
2018-05-03 21:06:59,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,872 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-12', 0.02, 76)
2018-05-03 21:06:59,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,875 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-13', 0.05, 76)
2018-05-03 21:06:59,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,878 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-14', 0.04, 78)
2018-05-03 21:06:59,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,881 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-15', 0.0, 78)
2018-05-03 21:06:59,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,885 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-16', 0.0, 77)
2018-05-03 21:06:59,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,889 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-17', 0.0, 78)
2018-05-03 21:06:59,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,892 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-18', 0.06, 71)
2018-05-03 21:06:59,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:06:59,894 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-19', 0.0, 74)
2018-05-03 21:06:59,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,896 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-20', 0.07, 76)
2018-05-03 21:06:59,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,898 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-21', 0.08, 77)
2018-05-03 21:06:59,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,903 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-22', 0.0, 77)
2018-05-03 21:06:59,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,906 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-23', 0.04, 76)
2018-05-03 21:06:59,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,909 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-24', 0.0, 77)
2018-05-03 21:06:59,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,912 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-25', 0.0, 76)
2018-05-03 21:06:59,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,914 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-26', 0.01, 76)
2018-05-03 21:06:59,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,920 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-27', 0.02, 78)
2018-05-03 21:06:59,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,924 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-28', 0.0, 78)
2018-05-03 21:06:59,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,927 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-29', 0.0, 77)
2018-05-03 21:06:59,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,930 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-09-30', 0.02, 75)
2018-05-03 21:06:59,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-01', 0.0, 78)
2018-05-03 21:06:59,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,940 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-02', 0.0, 74)
2018-05-03 21:06:59,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,943 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-03', 0.0, 75)
2018-05-03 21:06:59,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,946 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-04', 0.0, 77)
2018-05-03 21:06:59,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,948 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-05', 0.0, 73)
2018-05-03 21:06:59,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,961 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-06', 0.03, 73)
2018-05-03 21:06:59,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,964 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-07', 0.0, 76)
2018-05-03 21:06:59,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,968 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-08', 0.0, 78)
2018-05-03 21:06:59,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,972 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-09', 0.0, 75)
2018-05-03 21:06:59,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,975 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-10', 0.0, 75)
2018-05-03 21:06:59,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,978 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-11', 0.0, 80)
2018-05-03 21:06:59,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,981 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-12', 0.0, 78)
2018-05-03 21:06:59,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,984 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-13', 0.0, 79)
2018-05-03 21:06:59,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,989 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-14', 0.0, 78)
2018-05-03 21:06:59,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,992 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-15', 0.02, 78)
2018-05-03 21:06:59,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,995 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-16', 0.0, 77)
2018-05-03 21:06:59,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:06:59,999 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-17', 0.0, 72)
2018-05-03 21:07:00,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,005 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-18', 0.0, 75)
2018-05-03 21:07:00,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,010 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-19', 0.0, 77)
2018-05-03 21:07:00,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,013 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-20', 0.0, 78)
2018-05-03 21:07:00,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,017 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-21', 0.0, 77)
2018-05-03 21:07:00,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,022 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-22', 0.0, 76)
2018-05-03 21:07:00,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,132 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-23', 0.0, 78)
2018-05-03 21:07:00,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-24', 0.0, 78)
2018-05-03 21:07:00,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,140 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-25', 0.0, 76)
2018-05-03 21:07:00,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,143 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-26', 0.0, 76)
2018-05-03 21:07:00,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,146 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-27', 0.0, 74)
2018-05-03 21:07:00,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,149 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-28', 0.02, 77)
2018-05-03 21:07:00,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,154 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-29', 0.04, 77)
2018-05-03 21:07:00,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,157 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-30', 0.0, 76)
2018-05-03 21:07:00,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,160 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-10-31', 0.02, 78)
2018-05-03 21:07:00,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,162 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-01', 0.0, 71)
2018-05-03 21:07:00,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,174 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-02', 0.0, 70)
2018-05-03 21:07:00,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,177 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-03', 0.0, 74)
2018-05-03 21:07:00,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,180 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-04', 0.0, 71)
2018-05-03 21:07:00,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,185 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-05', 0.0, 69)
2018-05-03 21:07:00,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,190 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-06', 0.0, 76)
2018-05-03 21:07:00,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,192 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-07', 0.0, 77)
2018-05-03 21:07:00,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,194 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-08', 0.0, 77)
2018-05-03 21:07:00,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-09', 0.03, 76)
2018-05-03 21:07:00,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,199 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-10', 0.0, 75)
2018-05-03 21:07:00,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,204 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-11', 0.0, 76)
2018-05-03 21:07:00,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,207 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-12', 0.0, 77)
2018-05-03 21:07:00,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,209 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-13', 0.06, 77)
2018-05-03 21:07:00,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,211 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-14', 0.0, 77)
2018-05-03 21:07:00,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,213 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-15', 0.08, 75)
2018-05-03 21:07:00,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,216 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-16', 0.03, 73)
2018-05-03 21:07:00,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,222 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-17', 0.01, 74)
2018-05-03 21:07:00,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,224 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-18', 0.03, 76)
2018-05-03 21:07:00,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,227 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-19', 0.0, 75)
2018-05-03 21:07:00,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,230 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-20', 0.0, 75)
2018-05-03 21:07:00,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,234 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-21', 0.0, 71)
2018-05-03 21:07:00,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,238 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-22', 0.0, 69)
2018-05-03 21:07:00,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,241 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-23', 0.0, 71)
2018-05-03 21:07:00,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,245 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-24', 0.02, 69)
2018-05-03 21:07:00,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,248 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-25', 0.0, 74)
2018-05-03 21:07:00,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,253 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-26', 0.06, 72)
2018-05-03 21:07:00,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,258 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-27', 0.0, 74)
2018-05-03 21:07:00,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,261 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-28', 0.0, 65)
2018-05-03 21:07:00,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:00,264 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-29', 0.0, 67)
2018-05-03 21:07:00,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,269 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-11-30', 0.0, 65)
2018-05-03 21:07:00,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,273 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-01', 0.0, 65)
2018-05-03 21:07:00,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,275 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-02', 0.0, 71)
2018-05-03 21:07:00,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,278 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-03', 0.0, 76)
2018-05-03 21:07:00,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,280 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-04', 0.2, 70)
2018-05-03 21:07:00,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,284 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-05', 0.01, 76)
2018-05-03 21:07:00,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,289 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-06', 0.0, 69)
2018-05-03 21:07:00,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,291 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-07', 0.0, 69)
2018-05-03 21:07:00,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,293 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-08', 0.0, 69)
2018-05-03 21:07:00,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,295 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-09', 0.0, 74)
2018-05-03 21:07:00,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,297 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-10', 0.0, 76)
2018-05-03 21:07:00,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,300 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-11', 0.0, 74)
2018-05-03 21:07:00,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,305 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-12', 0.0, 73)
2018-05-03 21:07:00,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,308 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-13', 0.14, 73)
2018-05-03 21:07:00,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,310 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-14', 0.09, 74)
2018-05-03 21:07:00,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,312 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-15', 0.01, 73)
2018-05-03 21:07:00,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-16', 0.02, 73)
2018-05-03 21:07:00,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,318 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-17', 0.02, 73)
2018-05-03 21:07:00,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,322 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-18', 0.12, 74)
2018-05-03 21:07:00,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,325 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-19', 0.0, 74)
2018-05-03 21:07:00,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,327 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-20', 0.1, 71)
2018-05-03 21:07:00,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,329 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-21', 0.0, 73)
2018-05-03 21:07:00,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,331 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-22', 0.0, 72)
2018-05-03 21:07:00,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,344 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-23', 0.0, 64)
2018-05-03 21:07:00,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,347 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-24', 0.0, 66)
2018-05-03 21:07:00,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,351 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-26', 0.03, 73)
2018-05-03 21:07:00,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,356 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-27', 0.0, 72)
2018-05-03 21:07:00,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,359 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-28', 0.0, 65)
2018-05-03 21:07:00,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,363 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-29', 0.0, 64)
2018-05-03 21:07:00,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,366 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-30', 0.0, 69)
2018-05-03 21:07:00,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,371 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2012-12-31', 0.04, 68)
2018-05-03 21:07:00,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,377 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-01', 0.02, 71)
2018-05-03 21:07:00,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,380 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-02', 0.13, 71)
2018-05-03 21:07:00,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,382 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-03', 0.23, 69)
2018-05-03 21:07:00,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,386 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-04', 0.04, 72)
2018-05-03 21:07:00,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,390 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-05', 0.03, 72)
2018-05-03 21:07:00,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,393 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-06', 0.04, 73)
2018-05-03 21:07:00,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,395 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-07', 0.04, 72)
2018-05-03 21:07:00,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,397 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-08', 0.0, 72)
2018-05-03 21:07:00,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,401 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-09', 0.09, 71)
2018-05-03 21:07:00,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,406 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-10', 0.0, 72)
2018-05-03 21:07:00,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,408 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-11', 0.0, 72)
2018-05-03 21:07:00,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,410 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-12', 0.0, 70)
2018-05-03 21:07:00,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,413 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-13', 0.0, 68)
2018-05-03 21:07:00,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,416 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-14', 0.0, 74)
2018-05-03 21:07:00,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,422 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-15', 0.4, 63)
2018-05-03 21:07:00,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,425 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-16', 0.0, 58)
2018-05-03 21:07:00,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,427 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-17', 0.0, 62)
2018-05-03 21:07:00,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,429 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-18', 0.0, 60)
2018-05-03 21:07:00,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,431 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-19', 0.0, 60)
2018-05-03 21:07:00,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,435 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-20', 0.0, 67)
2018-05-03 21:07:00,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,440 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-21', 0.0, 71)
2018-05-03 21:07:00,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,442 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-22', 0.0, 70)
2018-05-03 21:07:00,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,445 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-23', 0.0, 71)
2018-05-03 21:07:00,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,448 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-24', 0.14, 68)
2018-05-03 21:07:00,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,460 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-25', 0.43, 64)
2018-05-03 21:07:00,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-26', 0.0, 65)
2018-05-03 21:07:00,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-27', 0.0, 73)
2018-05-03 21:07:00,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,476 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-28', 1.13, 66)
2018-05-03 21:07:00,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,479 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-29', 0.04, 68)
2018-05-03 21:07:00,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,482 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-30', 0.0, 64)
2018-05-03 21:07:00,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,489 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-01-31', 0.0, 71)
2018-05-03 21:07:00,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,592 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-01', 0.0, 71)
2018-05-03 21:07:00,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,595 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-02', 0.0, 72)
2018-05-03 21:07:00,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,597 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-03', 0.0, 67)
2018-05-03 21:07:00,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,599 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-04', 0.0, 71)
2018-05-03 21:07:00,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,605 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-05', 0.0, 71)
2018-05-03 21:07:00,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,608 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-06', 0.04, 70)
2018-05-03 21:07:00,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,611 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-07', 0.04, 71)
2018-05-03 21:07:00,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,613 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-08', 0.0, 72)
2018-05-03 21:07:00,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,616 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-09', 0.01, 67)

2018-05-03 21:07:00,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-10', 0.0, 72)
2018-05-03 21:07:00,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,624 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-11', 0.0, 70)
2018-05-03 21:07:00,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,626 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-12', 0.0, 70)
2018-05-03 21:07:00,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,628 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-13', 0.0, 69)
2018-05-03 21:07:00,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,630 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-14', 0.0, 69)
2018-05-03 21:07:00,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,635 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-15', 0.0, 71)
2018-05-03 21:07:00,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,640 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-16', 0.0, 71)
2018-05-03 21:07:00,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,644 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-17', 0.0, 71)
2018-05-03 21:07:00,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,647 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-18', 0.0, 71)
2018-05-03 21:07:00,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,651 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-19', 0.09, 71)
2018-05-03 21:07:00,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,658 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-20', 0.09, 71)
2018-05-03 21:07:00,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,662 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-21', 0.07, 71)
2018-05-03 21:07:00,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,665 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-22', 0.31, 72)
2018-05-03 21:07:00,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,669 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-23', 0.15, 71)
2018-05-03 21:07:00,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,673 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-24', 0.04, 71)
2018-05-03 21:07:00,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,676 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-25', 0.0, 71)
2018-05-03 21:07:00,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,678 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-26', 0.01, 71)
2018-05-03 21:07:00,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,681 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-27', 0.03, 71)
2018-05-03 21:07:00,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,684 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-02-28', 0.0, 72)
2018-05-03 21:07:00,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,689 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-01', 0.0, 71)
2018-05-03 21:07:00,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,691 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-02', 0.0, 72)
2018-05-03 21:07:00,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,694 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-03', 0.0, 72)
2018-05-03 21:07:00,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,696 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-04', 0.0, 70)
2018-05-03 21:07:00,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,702 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-05', 0.0, 71)
2018-05-03 21:07:00,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,708 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-06', 0.0, 71)
2018-05-03 21:07:00,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,710 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-07', 0.0, 65)
2018-05-03 21:07:00,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,713 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-08', 0.0, 64)
2018-05-03 21:07:00,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,715 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-09', 0.02, 73)
2018-05-03 21:07:00,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,719 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-10', 1.29, 68)
2018-05-03 21:07:00,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,725 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-11', 0.8, 63)
2018-05-03 21:07:00,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,728 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-12', 0.01, 66)
2018-05-03 21:07:00,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,730 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-13', 0.0, 63)
2018-05-03 21:07:00,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,733 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-14', 0.0, 66)
2018-05-03 21:07:00,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,738 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-15', 0.0, 64)
2018-05-03 21:07:00,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,741 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-16', 0.0, 69)
2018-05-03 21:07:00,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:00,743 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-17', 0.0, 62)
2018-05-03 21:07:00,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,746 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-18', 0.0, 64)
2018-05-03 21:07:00,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,749 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-19', 0.0, 66)
2018-05-03 21:07:00,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,755 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-20', 0.0, 69)
2018-05-03 21:07:00,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,759 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-21', 0.0, 71)
2018-05-03 21:07:00,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,764 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-22', 0.0, 74)
2018-05-03 21:07:00,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,767 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-23', 0.02, 72)
2018-05-03 21:07:00,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,772 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-24', 0.0, 71)
2018-05-03 21:07:00,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,777 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-25', 0.32, 68)
2018-05-03 21:07:00,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,780 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-26', 0.0, 69)
2018-05-03 21:07:00,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,783 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-27', 0.0, 71)
2018-05-03 21:07:00,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,789 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-28', 0.3, 72)
2018-05-03 21:07:00,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,791 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-29', 0.06, 70)
2018-05-03 21:07:00,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,795 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-30', 0.01, 70)
2018-05-03 21:07:00,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,798 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-03-31', 0.25, 64)
2018-05-03 21:07:00,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,802 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-01', 0.0, 63)
2018-05-03 21:07:00,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,807 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-02', 0.0, 61)
2018-05-03 21:07:00,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,809 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-03', 0.0, 67)
2018-05-03 21:07:00,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,811 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-04', 0.0, 68)
2018-05-03 21:07:00,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,813 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-05', 0.0, 73)
2018-05-03 21:07:00,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,816 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-06', 0.03, 74)
2018-05-03 21:07:00,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,819 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-07', 0.0, 71)
2018-05-03 21:07:00,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,824 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-08', 0.0, 74)
2018-05-03 21:07:00,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,827 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-09', 0.0, 74)
2018-05-03 21:07:00,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,830 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-10', 0.0, 74)
2018-05-03 21:07:00,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,833 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-11', 0.01, 77)
2018-05-03 21:07:00,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,838 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-12', 0.0, 75)
2018-05-03 21:07:00,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,841 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-13', 0.0, 75)
2018-05-03 21:07:00,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,845 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-14', 0.0, 76)
2018-05-03 21:07:00,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,850 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-15', 0.8, 72)
2018-05-03 21:07:00,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,857 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-16', 0.08, 70)
2018-05-03 21:07:00,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,860 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-17', 0.0, 77)
2018-05-03 21:07:00,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,862 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-18', 0.0, 75)
2018-05-03 21:07:00,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,866 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-19', 0.01, 75)
2018-05-03 21:07:00,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,871 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-20', 0.0, 74)
2018-05-03 21:07:00,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,878 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-21', 0.0, 73)
2018-05-03 21:07:00,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:00,880 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-22', 0.05, 73)
2018-05-03 21:07:00,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,882 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-23', 0.01, 76)
2018-05-03 21:07:00,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,889 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-24', 0.55, 70)
2018-05-03 21:07:00,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,892 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-25', 0.01, 76)
2018-05-03 21:07:00,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,894 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-26', 0.0, 76)
2018-05-03 21:07:00,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,897 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-27', 0.0, 74)
2018-05-03 21:07:00,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,902 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-28', 0.0, 72)
2018-05-03 21:07:00,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,906 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-29', 0.0, 76)
2018-05-03 21:07:00,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,908 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-04-30', 0.0, 74)
2018-05-03 21:07:00,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,911 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-01', 0.0, 78)
2018-05-03 21:07:00,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,914 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-02', 0.0, 75)
2018-05-03 21:07:00,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,918 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-03', 0.0, 84)
2018-05-03 21:07:00,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,923 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-04', 0.14, 69)
2018-05-03 21:07:00,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,925 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-05', 0.12, 69)
2018-05-03 21:07:00,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,928 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-06', 0.09, 75)
2018-05-03 21:07:00,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,930 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-07', 0.0, 72)
2018-05-03 21:07:00,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,932 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-08', 0.0, 73)
2018-05-03 21:07:00,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-09', 0.0, 77)
2018-05-03 21:07:00,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,940 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-10', 0.0, 77)
2018-05-03 21:07:00,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:00,943 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-11', 0.0, 76)
2018-05-03 21:07:01,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,067 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-12', 0.0, 75)
2018-05-03 21:07:01,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,072 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-13', 0.0, 77)
2018-05-03 21:07:01,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,083 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-14', 0.0, 78)
2018-05-03 21:07:01,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,092 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-15', 0.0, 77)
2018-05-03 21:07:01,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,096 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-16', 0.0, 77)
2018-05-03 21:07:01,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,099 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-17', 0.0, 77)
2018-05-03 21:07:01,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,103 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-18', 0.02, 78)
2018-05-03 21:07:01,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-19', 0.04, 73)
2018-05-03 21:07:01,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,114 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-20', 0.03, 74)
2018-05-03 21:07:01,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,116 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-21', 0.0, 71)
2018-05-03 21:07:01,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,120 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-22', 0.0, 78)
2018-05-03 21:07:01,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,124 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-23', 0.0, 79)
2018-05-03 21:07:01,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,126 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-24', 0.0, 79)
2018-05-03 21:07:01,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,128 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-25', 0.0, 77)
2018-05-03 21:07:01,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,131 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-26', 0.0, 77)
2018-05-03 21:07:01,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,134 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-27', 0.0, 78)
2018-05-03 21:07:01,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:01,138 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-28', 0.04, 77)
2018-05-03 21:07:01,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,141 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-29', 0.0, 78)
2018-05-03 21:07:01,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,144 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-30', 0.03, 77)
2018-05-03 21:07:01,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,146 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-05-31', 0.0, 79)
2018-05-03 21:07:01,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,149 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-01', 0.01, 79)
2018-05-03 21:07:01,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,153 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-02', 0.0, 78)
2018-05-03 21:07:01,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,156 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-03', 0.0, 79)
2018-05-03 21:07:01,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,159 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-04', 0.0, 78)
2018-05-03 21:07:01,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,185 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-05', 0.0, 78)
2018-05-03 21:07:01,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,189 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-06', 0.0, 79)
2018-05-03 21:07:01,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,191 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-07', 0.0, 77)
2018-05-03 21:07:01,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,194 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-08', 0.0, 77)
2018-05-03 21:07:01,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-09', 0.0, 77)
2018-05-03 21:07:01,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,199 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-10', 0.0, 77)
2018-05-03 21:07:01,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,211 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-11', 0.0, 77)
2018-05-03 21:07:01,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,213 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-12', 0.0, 78)
2018-05-03 21:07:01,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,222 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-13', 0.0, 77)
2018-05-03 21:07:01,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,226 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-14', 0.37, 76)
2018-05-03 21:07:01,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,239 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-15', 0.0, 78)
2018-05-03 21:07:01,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,245 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-16', 0.0, 78)
2018-05-03 21:07:01,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,247 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-17', 0.0, 77)
2018-05-03 21:07:01,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,250 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-18', 0.01, 78)
2018-05-03 21:07:01,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,254 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-19', 0.0, 78)
2018-05-03 21:07:01,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,257 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-20', 0.04, 73)
2018-05-03 21:07:01,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,259 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-21', 0.12, 76)
2018-05-03 21:07:01,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,262 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-22', 0.04, 77)
2018-05-03 21:07:01,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,264 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-23', 0.02, 75)
2018-05-03 21:07:01,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,267 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-24', 0.35, 76)
2018-05-03 21:07:01,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,271 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-25', 0.03, 74)
2018-05-03 21:07:01,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,275 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-26', 0.01, 75)
2018-05-03 21:07:01,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,278 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-27', 0.0, 77)
2018-05-03 21:07:01,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,280 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-28', 0.0, 76)
2018-05-03 21:07:01,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,291 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-29', 0.03, 77)
2018-05-03 21:07:01,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,298 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-06-30', 0.01, 78)
2018-05-03 21:07:01,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,301 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-01', 0.0, 78)
2018-05-03 21:07:01,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,309 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-02', 0.0, 77)
2018-05-03 21:07:01,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:01,323 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-03', 0.03, 77)
2018-05-03 21:07:01,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,326 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-04', 0.0, 78)
2018-05-03 21:07:01,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,328 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-05', 0.0, 73)
2018-05-03 21:07:01,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,348 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-06', 0.0, 76)
2018-05-03 21:07:01,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,353 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-07', 0.0, 75)
2018-05-03 21:07:01,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,356 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-08', 0.0, 79)
2018-05-03 21:07:01,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,359 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-09', 0.0, 80)
2018-05-03 21:07:01,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,362 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-10', 0.0, 79)
2018-05-03 21:07:01,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,365 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-11', 0.03, 77)
2018-05-03 21:07:01,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,369 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-12', 0.01, 79)
2018-05-03 21:07:01,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,372 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-13', 0.0, 78)
2018-05-03 21:07:01,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,375 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-14', 0.0, 78)
2018-05-03 21:07:01,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,378 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-15', 0.0, 78)
2018-05-03 21:07:01,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,382 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-16', 0.0, 78)
2018-05-03 21:07:01,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,389 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-17', 0.0, 78)
2018-05-03 21:07:01,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,391 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-18', 0.0, 78)
2018-05-03 21:07:01,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,425 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-19', 0.0, 78)
2018-05-03 21:07:01,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,429 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-20', 0.0, 78)
2018-05-03 21:07:01,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,432 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-21', 0.07, 78)
2018-05-03 21:07:01,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,435 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-22', 0.0, 79)
2018-05-03 21:07:01,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,439 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-23', 0.0, 77)
2018-05-03 21:07:01,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,478 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-24', 0.0, 79)
2018-05-03 21:07:01,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,482 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-25', 0.0, 78)
2018-05-03 21:07:01,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,491 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-26', 0.0, 78)
2018-05-03 21:07:01,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,496 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-27', 0.0, 78)
2018-05-03 21:07:01,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,501 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-28', 0.02, 76)
2018-05-03 21:07:01,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,511 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-29', 0.06, 78)
2018-05-03 21:07:01,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,514 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-30', 0.74, 79)
2018-05-03 21:07:01,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,518 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-07-31', 0.01, 79)
2018-05-03 21:07:01,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,523 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-01', 0.02, 79)
2018-05-03 21:07:01,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,550 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-02', 0.0, 78)
2018-05-03 21:07:01,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,557 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-03', 0.0, 78)
2018-05-03 21:07:01,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,560 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-04', 0.0, 77)
2018-05-03 21:07:01,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,563 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-05', 0.0, 79)
2018-05-03 21:07:01,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,569 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-06', 0.0, 79)
2018-05-03 21:07:01,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,573 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-07', 0.0, 79)
2018-05-03 21:07:01,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:01,579 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-08', 0.0, 79)
2018-05-03 21:07:01,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,582 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-09', 0.0, 78)
2018-05-03 21:07:01,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,587 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-10', 0.03, 76)
2018-05-03 21:07:01,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,592 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-11', 0.05, 79)
2018-05-03 21:07:01,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,595 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-12', 0.0, 79)
2018-05-03 21:07:01,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,599 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-13', 0.0, 79)
2018-05-03 21:07:01,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,613 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-14', 0.02, 78)
2018-05-03 21:07:01,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,616 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-15', 0.0, 78)
2018-05-03 21:07:01,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-16', 0.01, 76)
2018-05-03 21:07:01,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,625 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-17', 0.0, 78)
2018-05-03 21:07:01,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,628 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-18', 0.0, 78)
2018-05-03 21:07:01,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,631 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-19', 0.0, 77)
2018-05-03 21:07:01,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,764 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-20', 0.0, 74)
2018-05-03 21:07:01,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,770 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-21', 0.25, 77)
2018-05-03 21:07:01,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,773 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-22', 0.0, 79)
2018-05-03 21:07:01,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,778 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-23', 0.0, 77)
2018-05-03 21:07:01,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,782 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-24', 0.0, 79)
2018-05-03 21:07:01,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,788 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-25', 0.0, 80)
2018-05-03 21:07:01,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,792 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-26', 0.0, 80)
2018-05-03 21:07:01,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,795 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-27', 0.0, 79)
2018-05-03 21:07:01,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,797 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-28', 0.0, 76)
2018-05-03 21:07:01,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,800 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-29', 0.0, 79)
2018-05-03 21:07:01,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,806 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-30', 0.0, 78)
2018-05-03 21:07:01,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,809 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-08-31', 0.0, 79)
2018-05-03 21:07:01,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,813 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-01', 0.02, 78)
2018-05-03 21:07:01,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,815 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-02', 0.0, 79)
2018-05-03 21:07:01,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,820 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-03', 0.0, 79)
2018-05-03 21:07:01,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,824 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-04', 0.0, 77)
2018-05-03 21:07:01,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,827 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-05', 0.0, 74)
2018-05-03 21:07:01,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,831 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-06', 0.0, 74)
2018-05-03 21:07:01,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,835 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-07', 0.14, 75)
2018-05-03 21:07:01,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,840 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-08', 0.01, 80)
2018-05-03 21:07:01,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,843 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-09', 0.0, 79)
2018-05-03 21:07:01,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-10', 0.0, 78)
2018-05-03 21:07:01,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,849 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-11', 0.0, 79)
2018-05-03 21:07:01,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,877 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-12', 0.03, 78)
2018-05-03 21:07:01,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:01,895 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-13', 0.02, 78)
2018-05-03 21:07:01,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,897 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-14', 0.14, 83)
2018-05-03 21:07:01,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,900 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-15', 0.01, 79)
2018-05-03 21:07:01,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,908 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-16', 0.0, 70)
2018-05-03 21:07:01,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,914 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-17', 0.02, 76)
2018-05-03 21:07:01,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,917 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-18', 0.14, 78)
2018-05-03 21:07:01,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,928 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-19', 0.02, 78)
2018-05-03 21:07:01,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,931 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-20', 0.0, 80)
2018-05-03 21:07:01,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,943 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-21', 0.02, 77)
2018-05-03 21:07:01,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,949 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-22', 0.02, 79)
2018-05-03 21:07:01,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,953 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-23', 0.01, 77)
2018-05-03 21:07:01,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,959 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-24', 0.01, 78)
2018-05-03 21:07:01,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,962 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-25', 0.25, 79)
2018-05-03 21:07:01,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,966 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-26', 0.07, 78)
2018-05-03 21:07:01,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,971 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-27', 0.0, 79)
2018-05-03 21:07:01,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,974 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-28', 0.0, 79)
2018-05-03 21:07:01,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,976 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-29', 0.08, 78)
2018-05-03 21:07:01,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,980 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-09-30', 0.02, 79)
2018-05-03 21:07:01,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,985 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-01', 0.0, 79)
2018-05-03 21:07:01,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,988 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-02', 0.0, 80)
2018-05-03 21:07:01,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,991 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-03', 0.0, 81)
2018-05-03 21:07:01,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,995 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-04', 0.0, 80)
2018-05-03 21:07:01,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:01,998 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-05', 0.0, 74)
2018-05-03 21:07:02,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,009 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-06', 0.0, 78)
2018-05-03 21:07:02,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,012 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-07', 0.0, 80)
2018-05-03 21:07:02,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,015 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-08', 0.0, 79)
2018-05-03 21:07:02,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,018 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-09', 0.0, 79)
2018-05-03 21:07:02,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,024 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-10', 0.0, 78)
2018-05-03 21:07:02,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,027 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-11', 0.0, 78)
2018-05-03 21:07:02,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,029 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-12', 0.0, 77)
2018-05-03 21:07:02,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,032 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-13', 0.0, 76)
2018-05-03 21:07:02,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,042 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-14', 0.18, 73)
2018-05-03 21:07:02,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,045 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-15', 0.02, 74)
2018-05-03 21:07:02,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,049 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-16', 0.0, 75)
2018-05-03 21:07:02,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,056 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-17', 0.0, 74)
2018-05-03 21:07:02,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,060 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-18', 0.0, 75)
2018-05-03 21:07:02,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:02,062 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-19', 0.0, 71)
2018-05-03 21:07:02,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,066 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-20', 0.0, 73)
2018-05-03 21:07:02,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,071 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-21', 0.0, 72)
2018-05-03 21:07:02,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,077 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-22', 0.0, 73)
2018-05-03 21:07:02,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,082 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-23', 0.0, 74)
2018-05-03 21:07:02,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,084 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-24', 0.0, 74)
2018-05-03 21:07:02,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,092 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-25', 0.0, 80)
2018-05-03 21:07:02,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,095 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-26', 0.0, 76)
2018-05-03 21:07:02,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,099 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-27', 0.0, 76)
2018-05-03 21:07:02,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,104 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-28', 0.01, 74)
2018-05-03 21:07:02,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,109 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-29', 0.0, 77)
2018-05-03 21:07:02,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,112 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-30', 0.0, 78)
2018-05-03 21:07:02,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,115 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-10-31', 0.0, 78)
2018-05-03 21:07:02,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,123 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-01', 0.0, 79)
2018-05-03 21:07:02,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,128 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-02', 0.02, 78)
2018-05-03 21:07:02,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,131 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-03', 0.0, 77)
2018-05-03 21:07:02,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-04', 0.01, 74)
2018-05-03 21:07:02,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,148 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-05', 0.0, 77)
2018-05-03 21:07:02,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,152 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-06', 0.0, 73)
2018-05-03 21:07:02,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,159 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-07', 0.02, 74)
2018-05-03 21:07:02,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,163 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-08', 0.0, 74)
2018-05-03 21:07:02,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,166 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-09', 0.01, 76)
2018-05-03 21:07:02,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,171 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-10', 1.98, 72)
2018-05-03 21:07:02,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,175 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-11', 0.2, 74)
2018-05-03 21:07:02,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,178 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-12', 0.0, 68)
2018-05-03 21:07:02,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,180 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-13', 0.0, 67)
2018-05-03 21:07:02,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,184 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-14', 0.0, 76)
2018-05-03 21:07:02,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,190 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-15', 0.89, 75)
2018-05-03 21:07:02,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,193 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-16', 0.0, 77)
2018-05-03 21:07:02,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-17', 0.0, 71)
2018-05-03 21:07:02,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,199 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-18', 0.0, 74)
2018-05-03 21:07:02,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,203 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-19', 0.0, 70)
2018-05-03 21:07:02,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,208 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-20', 0.0, 72)
2018-05-03 21:07:02,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,210 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-21', 0.0, 72)
2018-05-03 21:07:02,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,213 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-22', 0.0, 69)
2018-05-03 21:07:02,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,216 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-23', 0.0, 69)
2018-05-03 21:07:02,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:02,220 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-24', 0.0, 66)
2018-05-03 21:07:02,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,225 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-25', 0.0, 75)
2018-05-03 21:07:02,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,228 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-26', 0.0, 76)
2018-05-03 21:07:02,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,231 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-27', 0.0, 73)
2018-05-03 21:07:02,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,293 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-28', 0.0, 74)
2018-05-03 21:07:02,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,296 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-29', 0.0, 74)
2018-05-03 21:07:02,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,300 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-11-30', 0.18, 77)
2018-05-03 21:07:02,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,306 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-01', 0.0, 77)
2018-05-03 21:07:02,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,309 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-02', 2.01, 71)
2018-05-03 21:07:02,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,311 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-03', 0.01, 71)
2018-05-03 21:07:02,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-04', 0.0, 69)
2018-05-03 21:07:02,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,317 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-05', 0.0, 68)
2018-05-03 21:07:02,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,323 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-06', 0.0, 68)
2018-05-03 21:07:02,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,325 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-07', 0.0, 69)
2018-05-03 21:07:02,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,327 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-08', 0.0, 70)
2018-05-03 21:07:02,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,330 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-09', 0.0, 72)
2018-05-03 21:07:02,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,332 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-10', 0.03, 76)
2018-05-03 21:07:02,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,335 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-11', 0.0, 75)
2018-05-03 21:07:02,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,340 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-12', 0.0, 69)
2018-05-03 21:07:02,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,343 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-13', 0.02, 71)
2018-05-03 21:07:02,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,345 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-14', 0.0, 71)
2018-05-03 21:07:02,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,348 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-15', 0.0, 71)
2018-05-03 21:07:02,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,351 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-16', 1.1, 68)
2018-05-03 21:07:02,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,355 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-17', 0.02, 65)
2018-05-03 21:07:02,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,359 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-18', 0.0, 70)
2018-05-03 21:07:02,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,362 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-19', 0.16, 69)
2018-05-03 21:07:02,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,365 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-20', 0.09, 69)
2018-05-03 21:07:02,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,367 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-21', 0.02, 71)
2018-05-03 21:07:02,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,373 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-22', 0.0, 67)
2018-05-03 21:07:02,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,376 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-23', 0.0, 73)
2018-05-03 21:07:02,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,379 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-24', 0.05, 74)
2018-05-03 21:07:02,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,382 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-25', 0.02, 73)
2018-05-03 21:07:02,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,385 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-26', 0.0, 67)
2018-05-03 21:07:02,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,390 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-27', 0.0, 74)
2018-05-03 21:07:02,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,393 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-28', 0.0, 75)
2018-05-03 21:07:02,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,395 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-29', 0.0, 75)
2018-05-03 21:07:02,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:02,397 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-30', 0.0, 74)
2018-05-03 21:07:02,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,400 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2013-12-31', 0.0, 67)
2018-05-03 21:07:02,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,404 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-01', 0.0, 66)
2018-05-03 21:07:02,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,408 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-02', 0.0, 75)
2018-05-03 21:07:02,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,411 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-03', 0.76, 65)
2018-05-03 21:07:02,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,414 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-04', 0.0, 69)
2018-05-03 21:07:02,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,417 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-05', 0.0, 68)
2018-05-03 21:07:02,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,421 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-06', 0.0, 71)
2018-05-03 21:07:02,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,426 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-07', 0.0, 70)
2018-05-03 21:07:02,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,428 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-08', 0.0, 71)
2018-05-03 21:07:02,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,429 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-09', 0.03, 65)
2018-05-03 21:07:02,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,431 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-10', 0.0, 72)
2018-05-03 21:07:02,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,433 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-11', 0.0, 70)
2018-05-03 21:07:02,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,436 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-12', 0.35, 69)
2018-05-03 21:07:02,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,440 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-13', 0.0, 69)
2018-05-03 21:07:02,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,443 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-14', 0.43, 70)
2018-05-03 21:07:02,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,444 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-15', 0.01, 66)
2018-05-03 21:07:02,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,446 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-16', 0.25, 69)
2018-05-03 21:07:02,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,448 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-17', 0.0, 67)
2018-05-03 21:07:02,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,450 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-18', 0.0, 66)
2018-05-03 21:07:02,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,453 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-19', 0.0, 66)
2018-05-03 21:07:02,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,457 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-20', 0.0, 64)
2018-05-03 21:07:02,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,459 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-21', 0.0, 72)
2018-05-03 21:07:02,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,461 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-22', 0.35, 69)
2018-05-03 21:07:02,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,462 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-23', 0.0, 58)
2018-05-03 21:07:02,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-24', 0.0, 59)
2018-05-03 21:07:02,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,466 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-25', 0.0, 72)
2018-05-03 21:07:02,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-26', 0.0, 74)
2018-05-03 21:07:02,472 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,474 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-27', 0.14, 68)
2018-05-03 21:07:02,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,476 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-28', 0.02, 70)
2018-05-03 21:07:02,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,478 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-29', 0.27, 70)
2018-05-03 21:07:02,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,480 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-30', 0.04, 65)
2018-05-03 21:07:02,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,482 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-01-31', 0.0, 68)
2018-05-03 21:07:02,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,484 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-01', 0.22, 74)
2018-05-03 21:07:02,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,489 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-02', 0.38, 67)
2018-05-03 21:07:02,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,492 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-03', 0.0, 69)
2018-05-03 21:07:02,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,494 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-04', 0.5, 68)
2018-05-03 21:07:02,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,496 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-05', 0.23, 73)
2018-05-03 21:07:02,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,498 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-06', 0.08, 72)
2018-05-03 21:07:02,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,501 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-07', 0.03, 77)
2018-05-03 21:07:02,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,505 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-08', 0.0, 70)
2018-05-03 21:07:02,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,509 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-09', 0.0, 71)
2018-05-03 21:07:02,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,513 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-10', 0.0, 71)
2018-05-03 21:07:02,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,515 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-11', 0.0, 69)
2018-05-03 21:07:02,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,519 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-12', 0.0, 71)
2018-05-03 21:07:02,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,524 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-13', 0.0, 67)
2018-05-03 21:07:02,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,527 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-14', 0.0, 74)
2018-05-03 21:07:02,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,529 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-15', 0.01, 73)
2018-05-03 21:07:02,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,532 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-16', 0.0, 72)
2018-05-03 21:07:02,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,535 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-17', 0.35, 72)
2018-05-03 21:07:02,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,540 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-18', 0.03, 72)
2018-05-03 21:07:02,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,544 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-19', 0.0, 71)
2018-05-03 21:07:02,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,546 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-20', 0.0, 70)
2018-05-03 21:07:02,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,548 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-21', 0.0, 69)
2018-05-03 21:07:02,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,551 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-22', 0.0, 69)
2018-05-03 21:07:02,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,556 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-23', 0.0, 68)
2018-05-03 21:07:02,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,562 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-24', 0.0, 68)
2018-05-03 21:07:02,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,565 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-25', 0.0, 67)
2018-05-03 21:07:02,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,568 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-26', 0.0, 67)
2018-05-03 21:07:02,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,573 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-27', 0.0, 70)
2018-05-03 21:07:02,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,576 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-02-28', 0.0, 74)
2018-05-03 21:07:02,578 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,579 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-01', 0.25, 70)
2018-05-03 21:07:02,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,582 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-02', 0.48, 71)
2018-05-03 21:07:02,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,587 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-03', 0.16, 65)
2018-05-03 21:07:02,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,591 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-04', 0.0, 61)
2018-05-03 21:07:02,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,594 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-05', 0.0, 69)
2018-05-03 21:07:02,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,596 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-06', 0.0, 66)
2018-05-03 21:07:02,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,597 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-07', 0.25, 72)
2018-05-03 21:07:02,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,749 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-08', 0.64, 68)
2018-05-03 21:07:02,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,754 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-09', 0.04, 72)
2018-05-03 21:07:02,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,759 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-10', 0.0, 71)
2018-05-03 21:07:02,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:02,762 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-11', 0.16, 74)
2018-05-03 21:07:02,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,765 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-12', 0.0, 72)
2018-05-03 21:07:02,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,769 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-13', 0.0, 75)
2018-05-03 21:07:02,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,774 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-14', 0.0, 75)
2018-05-03 21:07:02,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,777 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-15', 0.0, 71)
2018-05-03 21:07:02,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,780 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-16', 0.0, 69)
2018-05-03 21:07:02,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,783 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-17', 0.0, 69)
2018-05-03 21:07:02,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,794 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-18', 0.0, 69)
2018-05-03 21:07:02,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,798 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-19', 0.0, 73)
2018-05-03 21:07:02,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,800 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-20', 0.0, 72)
2018-05-03 21:07:02,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,804 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-21', 0.0, 73)
2018-05-03 21:07:02,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,809 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-22', 0.0, 72)
2018-05-03 21:07:02,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,811 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-23', 0.0, 72)
2018-05-03 21:07:02,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,814 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-24', 0.0, 76)
2018-05-03 21:07:02,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,816 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-25', 0.0, 74)
2018-05-03 21:07:02,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,819 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-26', 0.05, 74)
2018-05-03 21:07:02,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,824 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-27', 0.0, 75)
2018-05-03 21:07:02,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,827 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-28', 0.0, 71)
2018-05-03 21:07:02,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,830 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-29', 0.0, 73)
2018-05-03 21:07:02,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,832 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-30', 0.0, 73)
2018-05-03 21:07:02,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,837 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-03-31', 0.02, 75)
2018-05-03 21:07:02,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,847 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-01', 0.16, 73)
2018-05-03 21:07:02,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,851 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-02', 0.02, 76)
2018-05-03 21:07:02,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,857 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-03', 0.16, 76)
2018-05-03 21:07:02,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,860 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-04', 0.0, 75)
2018-05-03 21:07:02,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,862 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-05', 0.0, 71)
2018-05-03 21:07:02,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,865 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-06', 0.0, 69)
2018-05-03 21:07:02,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,875 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-07', 0.01, 71)
2018-05-03 21:07:02,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,878 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-08', 0.0, 71)
2018-05-03 21:07:02,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,881 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-09', 0.0, 73)
2018-05-03 21:07:02,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,890 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-10', 0.0, 72)
2018-05-03 21:07:02,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,898 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-11', 0.0, 75)
2018-05-03 21:07:02,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,901 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-12', 0.01, 69)
2018-05-03 21:07:02,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,910 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-13', 0.04, 73)
2018-05-03 21:07:02,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,913 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-14', 0.08, 74)
2018-05-03 21:07:02,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,916 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-15', 0.0, 75)
2018-05-03 21:07:02,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:02,921 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-16', 0.05, 74)
2018-05-03 21:07:02,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,927 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-17', 0.0, 76)
2018-05-03 21:07:02,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,931 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-18', 0.02, 76)
2018-05-03 21:07:02,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,934 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-19', 0.01, 76)
2018-05-03 21:07:02,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,938 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-20', 0.0, 74)
2018-05-03 21:07:02,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,943 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-21', 0.06, 73)
2018-05-03 21:07:02,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,946 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-22', 0.05, 76)
2018-05-03 21:07:02,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,950 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-23', 0.0, 76)
2018-05-03 21:07:02,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,953 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-24', 0.0, 76)
2018-05-03 21:07:02,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,992 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-25', 0.01, 75)
2018-05-03 21:07:02,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:02,996 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-26', 0.01, 72)
2018-05-03 21:07:02,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,000 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-27', 0.01, 73)
2018-05-03 21:07:03,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,005 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-28', 0.07, 73)
2018-05-03 21:07:03,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,010 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-29', 0.0, 75)
2018-05-03 21:07:03,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,013 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-04-30', 0.0, 74)
2018-05-03 21:07:03,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,016 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-01', 0.0, 74)
2018-05-03 21:07:03,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,020 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-02', 0.0, 76)
2018-05-03 21:07:03,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,025 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-03', 0.0, 77)
2018-05-03 21:07:03,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,028 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-04', 0.0, 76)
2018-05-03 21:07:03,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,032 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-05', 0.06, 75)
2018-05-03 21:07:03,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,036 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-06', 0.07, 77)
2018-05-03 21:07:03,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,043 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-07', 0.03, 72)
2018-05-03 21:07:03,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,046 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-08', 0.0, 73)
2018-05-03 21:07:03,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,048 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-09', 0.0, 77)
2018-05-03 21:07:03,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,051 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-10', 0.01, 76)
2018-05-03 21:07:03,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,055 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-11', 0.0, 79)
2018-05-03 21:07:03,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,059 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-12', 0.45, 74)
2018-05-03 21:07:03,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,063 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-13', 0.0, 75)
2018-05-03 21:07:03,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,067 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-14', 0.0, 76)
2018-05-03 21:07:03,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,071 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-15', 0.0, 77)
2018-05-03 21:07:03,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,075 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-16', 0.0, 78)
2018-05-03 21:07:03,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,078 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-17', 0.0, 78)
2018-05-03 21:07:03,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,081 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-18', 0.0, 76)
2018-05-03 21:07:03,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,098 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-19', 0.43, 75)
2018-05-03 21:07:03,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,101 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-20', 0.0, 78)
2018-05-03 21:07:03,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-21', 0.15, 74)
2018-05-03 21:07:03,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,110 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-22', 0.0, 78)
2018-05-03 21:07:03,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,114 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-23', 0.0, 79)
2018-05-03 21:07:03,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,116 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-24', 0.0, 77)
2018-05-03 21:07:03,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,124 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-25', 0.76, 74)
2018-05-03 21:07:03,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,127 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-26', 0.05, 73)
2018-05-03 21:07:03,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,131 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-27', 0.01, 77)
2018-05-03 21:07:03,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,134 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-28', 0.03, 76)
2018-05-03 21:07:03,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,139 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-29', 0.0, 78)
2018-05-03 21:07:03,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,144 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-30', 0.0, 79)
2018-05-03 21:07:03,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,148 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-05-31', 0.0, 79)
2018-05-03 21:07:03,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,151 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-01', 0.0, 79)
2018-05-03 21:07:03,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,154 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-02', 0.66, 77)
2018-05-03 21:07:03,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,161 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-03', 0.01, 78)
2018-05-03 21:07:03,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,166 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-04', 0.0, 79)
2018-05-03 21:07:03,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,172 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-05', 0.0, 78)
2018-05-03 21:07:03,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,176 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-06', 0.0, 78)
2018-05-03 21:07:03,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,179 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-07', 0.03, 78)
2018-05-03 21:07:03,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,182 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-08', 0.0, 78)
2018-05-03 21:07:03,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,187 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-09', 0.0, 79)
2018-05-03 21:07:03,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,208 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-10', 0.0, 79)
2018-05-03 21:07:03,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,211 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-11', 0.0, 82)
2018-05-03 21:07:03,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,214 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-12', 0.0, 80)
2018-05-03 21:07:03,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,218 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-13', 0.0, 79)
2018-05-03 21:07:03,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,223 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-14', 0.0, 79)
2018-05-03 21:07:03,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,230 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-15', 0.01, 78)
2018-05-03 21:07:03,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,370 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-16', 0.0, 78)
2018-05-03 21:07:03,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,378 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-17', 0.03, 77)
2018-05-03 21:07:03,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,381 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-18', 0.15, 78)
2018-05-03 21:07:03,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,384 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-19', 0.01, 78)
2018-05-03 21:07:03,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,389 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-20', 0.07, 73)
2018-05-03 21:07:03,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,394 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-21', 0.01, 75)
2018-05-03 21:07:03,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,397 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-22', 0.01, 75)
2018-05-03 21:07:03,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,400 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-23', 0.19, 76)
2018-05-03 21:07:03,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,406 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-24', 0.0, 84)
2018-05-03 21:07:03,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,413 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-25', 0.05, 79)
2018-05-03 21:07:03,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:03,417 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-26', 0.06, 76)
2018-05-03 21:07:03,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,425 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-27', 0.04, 79)
2018-05-03 21:07:03,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,429 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-28', 0.0, 79)
2018-05-03 21:07:03,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,432 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-29', 0.01, 77)
2018-05-03 21:07:03,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,435 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-06-30', 0.02, 79)
2018-05-03 21:07:03,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,443 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-01', 0.0, 79)
2018-05-03 21:07:03,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,447 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-02', 0.01, 80)
2018-05-03 21:07:03,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,451 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-03', 0.06, 77)
2018-05-03 21:07:03,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,456 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-04', 0.01, 80)
2018-05-03 21:07:03,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,461 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-05', 0.02, 76)
2018-05-03 21:07:03,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-06', 0.05, 76)
2018-05-03 21:07:03,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,468 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-07', 0.0, 78)
2018-05-03 21:07:03,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,474 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-08', 0.0, 80)
2018-05-03 21:07:03,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,480 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-09', 0.01, 78)
2018-05-03 21:07:03,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,482 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-10', 0.0, 79)
2018-05-03 21:07:03,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,485 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-11', 0.0, 80)
2018-05-03 21:07:03,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,489 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-12', 0.0, 81)
2018-05-03 21:07:03,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,493 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-13', 0.0, 80)
2018-05-03 21:07:03,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,496 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-14', 0.0, 81)
2018-05-03 21:07:03,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,499 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-15', 0.0, 80)
2018-05-03 21:07:03,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,524 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-16', 0.03, 77)
2018-05-03 21:07:03,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,528 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-17', 0.05, 75)
2018-05-03 21:07:03,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,532 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-18', 0.05, 79)
2018-05-03 21:07:03,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,535 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-19', 0.0, 79)
2018-05-03 21:07:03,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,541 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-20', 1.09, 77)
2018-05-03 21:07:03,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,545 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-21', 0.0, 81)
2018-05-03 21:07:03,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,548 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-22', 0.0, 78)
2018-05-03 21:07:03,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,551 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-23', 0.01, 81)
2018-05-03 21:07:03,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,558 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-24', 0.0, 79)
2018-05-03 21:07:03,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,561 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-25', 0.0, 80)
2018-05-03 21:07:03,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,565 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-26', 0.0, 80)
2018-05-03 21:07:03,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,568 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-27', 0.79, 81)
2018-05-03 21:07:03,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,577 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-28', 0.0, 79)
2018-05-03 21:07:03,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,582 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-29', 0.0, 80)
2018-05-03 21:07:03,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,585 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-30', 0.0, 79)
2018-05-03 21:07:03,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,591 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-07-31', 0.0, 80)
2018-05-03 21:07:03,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:03,595 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-01', 0.0, 80)
2018-05-03 21:07:03,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,602 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-02', 0.0, 80)
2018-05-03 21:07:03,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,608 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-03', 0.0, 81)
2018-05-03 21:07:03,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,611 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-04', 0.0, 81)
2018-05-03 21:07:03,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,614 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-05', 0.0, 80)
2018-05-03 21:07:03,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,617 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-06', 0.01, 78)
2018-05-03 21:07:03,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-07', 0.15, 80)
2018-05-03 21:07:03,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,627 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-08', 0.0, 80)
2018-05-03 21:07:03,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,629 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-09', 0.0, 78)
2018-05-03 21:07:03,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,632 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-10', 0.0, 78)
2018-05-03 21:07:03,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,663 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-11', 0.0, 74)
2018-05-03 21:07:03,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,670 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-12', 0.0, 76)
2018-05-03 21:07:03,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,674 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-13', 0.0, 81)
2018-05-03 21:07:03,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,678 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-14', 0.06, 80)
2018-05-03 21:07:03,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,682 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-15', 0.0, 80)
2018-05-03 21:07:03,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,688 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-16', 0.0, 79)
2018-05-03 21:07:03,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,693 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-17', 0.0, 79)
2018-05-03 21:07:03,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,697 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-18', 0.0, 80)
2018-05-03 21:07:03,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,699 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-19', 0.0, 77)
2018-05-03 21:07:03,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,705 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-20', 0.0, 79)
2018-05-03 21:07:03,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,725 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-21', 0.0, 80)
2018-05-03 21:07:03,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,731 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-22', 0.0, 80)
2018-05-03 21:07:03,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,734 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-23', 0.0, 79)
2018-05-03 21:07:03,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,742 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-24', 0.08, 75)
2018-05-03 21:07:03,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,745 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-25', 0.01, 78)
2018-05-03 21:07:03,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,749 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-26', 0.05, 77)
2018-05-03 21:07:03,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,754 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-27', 0.01, 80)
2018-05-03 21:07:03,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,759 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-28', 0.01, 81)
2018-05-03 21:07:03,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,762 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-29', 0.0, 81)
2018-05-03 21:07:03,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,765 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-30', 0.0, 80)
2018-05-03 21:07:03,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,767 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-08-31', 0.0, 76)
2018-05-03 21:07:03,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,772 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-01', 0.0, 77)
2018-05-03 21:07:03,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,781 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-02', 0.0, 81)
2018-05-03 21:07:03,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,785 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-03', 0.0, 80)
2018-05-03 21:07:03,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,794 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-04', 0.04, 74)
2018-05-03 21:07:03,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,798 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-05', 0.39, 78)
2018-05-03 21:07:03,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:03,803 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-07', 0.0, 78)
2018-05-03 21:07:03,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,809 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-08', 0.0, 83)
2018-05-03 21:07:03,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,813 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-09', 0.0, 81)
2018-05-03 21:07:03,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,817 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-10', 0.0, 79)
2018-05-03 21:07:03,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,820 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-11', 0.0, 79)
2018-05-03 21:07:03,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,826 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-12', 0.0, 78)
2018-05-03 21:07:03,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,834 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-13', 0.0, 80)
2018-05-03 21:07:03,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,840 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-14', 0.0, 73)
2018-05-03 21:07:03,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,845 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-15', 0.01, 80)
2018-05-03 21:07:03,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,848 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-16', 0.0, 83)
2018-05-03 21:07:03,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,851 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-17', 0.0, 76)
2018-05-03 21:07:03,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,856 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-18', 0.0, 77)
2018-05-03 21:07:03,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,863 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-19', 0.04, 76)
2018-05-03 21:07:03,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,867 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-20', 0.05, 77)
2018-05-03 21:07:03,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,873 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-21', 0.01, 83)
2018-05-03 21:07:03,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,880 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-22', 0.0, 84)
2018-05-03 21:07:03,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,898 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-23', 0.0, 83)
2018-05-03 21:07:03,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:03,934 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-24', 0.0, 84)
2018-05-03 21:07:04,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,083 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-25', 0.1, 83)
2018-05-03 21:07:04,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,086 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-26', 0.0, 85)
2018-05-03 21:07:04,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,091 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-27', 0.04, 78)
2018-05-03 21:07:04,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,094 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-28', 0.01, 82)
2018-05-03 21:07:04,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,097 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-29', 0.02, 83)
2018-05-03 21:07:04,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,100 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-09-30', 0.18, 79)
2018-05-03 21:07:04,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,103 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-01', 0.37, 78)
2018-05-03 21:07:04,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,115 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-02', 0.0, 83)
2018-05-03 21:07:04,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,117 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-03', 0.0, 82)
2018-05-03 21:07:04,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,121 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-04', 0.0, 81)
2018-05-03 21:07:04,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,126 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-05', 0.0, 82)
2018-05-03 21:07:04,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,130 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-06', 0.24, 77)
2018-05-03 21:07:04,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,133 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-07', 1.22, 79)
2018-05-03 21:07:04,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-08', 0.0, 82)
2018-05-03 21:07:04,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,147 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-09', 0.0, 82)
2018-05-03 21:07:04,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,151 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-10', 0.0, 81)
2018-05-03 21:07:04,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,155 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-11', 0.0, 81)
2018-05-03 21:07:04,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,158 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-12', 0.0, 80)
2018-05-03 21:07:04,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:04,162 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-13', 0.06, 80)
2018-05-03 21:07:04,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,165 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-14', 0.01, 80)
2018-05-03 21:07:04,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,179 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-15', 0.04, 81)
2018-05-03 21:07:04,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,182 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-16', 0.0, 80)
2018-05-03 21:07:04,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,185 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-17', 0.0, 82)
2018-05-03 21:07:04,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,192 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-18', 0.02, 83)
2018-05-03 21:07:04,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-20', 2.1, 82)
2018-05-03 21:07:04,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,198 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-21', 0.0, 80)
2018-05-03 21:07:04,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,201 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-22', 0.05, 80)
2018-05-03 21:07:04,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,206 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-23', 0.23, 80)
2018-05-03 21:07:04,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,210 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-24', 0.0, 79)
2018-05-03 21:07:04,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,213 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-25', 0.0, 78)
2018-05-03 21:07:04,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,216 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-26', 0.0, 79)
2018-05-03 21:07:04,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,218 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-27', 0.0, 78)
2018-05-03 21:07:04,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,223 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-28', 0.0, 81)
2018-05-03 21:07:04,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,229 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-29', 0.01, 80)
2018-05-03 21:07:04,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,232 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-30', 0.05, 79)
2018-05-03 21:07:04,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,234 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-10-31', 0.02, 77)
2018-05-03 21:07:04,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,239 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-01', 0.04, 79)
2018-05-03 21:07:04,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,243 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-02', 0.0, 77)
2018-05-03 21:07:04,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,246 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-03', 0.0, 81)
2018-05-03 21:07:04,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,249 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-04', 0.0, 76)
2018-05-03 21:07:04,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,252 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-05', 0.14, 75)
2018-05-03 21:07:04,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,257 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-06', 0.1, 77)
2018-05-03 21:07:04,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,262 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-07', 0.0, 75)
2018-05-03 21:07:04,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,265 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-08', 0.09, 71)
2018-05-03 21:07:04,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,268 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-09', 0.0, 70)
2018-05-03 21:07:04,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,273 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-10', 0.0, 69)
2018-05-03 21:07:04,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,279 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-11', 0.0, 70)
2018-05-03 21:07:04,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,283 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-12', 0.05, 72)
2018-05-03 21:07:04,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,286 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-13', 0.0, 73)
2018-05-03 21:07:04,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,290 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-14', 0.0, 76)
2018-05-03 21:07:04,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,294 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-15', 0.62, 77)
2018-05-03 21:07:04,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,297 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-16', 0.01, 72)
2018-05-03 21:07:04,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,299 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-17', 0.0, 76)
2018-05-03 21:07:04,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,302 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-18', 0.0, 76)
2018-05-03 21:07:04,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,307 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-19', 0.0, 78)
2018-05-03 21:07:04,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,311 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-20', 0.08, 76)
2018-05-03 21:07:04,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-21', 0.0, 78)
2018-05-03 21:07:04,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,317 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-22', 0.0, 77)
2018-05-03 21:07:04,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,321 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-23', 0.0, 70)
2018-05-03 21:07:04,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,330 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-24', 0.04, 74)
2018-05-03 21:07:04,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,335 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-25', 0.0, 73)
2018-05-03 21:07:04,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,339 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-26', 0.0, 75)
2018-05-03 21:07:04,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,343 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-27', 0.0, 75)
2018-05-03 21:07:04,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,346 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-28', 0.0, 76)
2018-05-03 21:07:04,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,349 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-29', 0.0, 74)
2018-05-03 21:07:04,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,352 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-11-30', 0.01, 74)
2018-05-03 21:07:04,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,356 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-01', 0.0, 73)
2018-05-03 21:07:04,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,361 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-02', 0.02, 73)
2018-05-03 21:07:04,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,364 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-03', 0.15, 71)
2018-05-03 21:07:04,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,367 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-04', 0.09, 72)
2018-05-03 21:07:04,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,375 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-05', 0.0, 71)
2018-05-03 21:07:04,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,378 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-06', 0.0, 68)
2018-05-03 21:07:04,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,381 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-07', 0.0, 65)
2018-05-03 21:07:04,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,383 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-08', 0.0, 69)
2018-05-03 21:07:04,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,386 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-09', 0.0, 70)
2018-05-03 21:07:04,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,390 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-10', 0.0, 70)
2018-05-03 21:07:04,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,394 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-11', 0.05, 74)
2018-05-03 21:07:04,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,397 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-12', 0.01, 71)
2018-05-03 21:07:04,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,399 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-13', 0.0, 74)
2018-05-03 21:07:04,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,402 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-14', 0.03, 73)
2018-05-03 21:07:04,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,407 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-15', 0.02, 72)
2018-05-03 21:07:04,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,412 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-16', 0.01, 74)
2018-05-03 21:07:04,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,415 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-17', 0.01, 72)
2018-05-03 21:07:04,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,419 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-18', 0.0, 74)
2018-05-03 21:07:04,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,431 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-19', 0.0, 75)
2018-05-03 21:07:04,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,435 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-20', 0.0, 74)
2018-05-03 21:07:04,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,444 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-21', 0.0, 70)
2018-05-03 21:07:04,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,450 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-22', 0.0, 74)
2018-05-03 21:07:04,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,456 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-23', 0.93, 70)
2018-05-03 21:07:04,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:04,461 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-24', 0.04, 66)
2018-05-03 21:07:04,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-25', 0.02, 61)
2018-05-03 21:07:04,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,467 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-26', 0.0, 63)
2018-05-03 21:07:04,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,470 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-27', 0.0, 63)
2018-05-03 21:07:04,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,483 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-28', 0.0, 63)
2018-05-03 21:07:04,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,486 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-29', 0.0, 63)
2018-05-03 21:07:04,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,492 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-30', 0.0, 67)
2018-05-03 21:07:04,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,497 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2014-12-31', 0.05, 56)
2018-05-03 21:07:04,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,500 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-01', 0.0, 63)
2018-05-03 21:07:04,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,504 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-02', 0.04, 65)
2018-05-03 21:07:04,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,508 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-03', 0.86, 62)
2018-05-03 21:07:04,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,685 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-04', 0.02, 58)
2018-05-03 21:07:04,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,689 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-05', 0.0, 58)
2018-05-03 21:07:04,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,692 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-06', 0.02, 64)
2018-05-03 21:07:04,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,696 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-07', 0.0, 63)
2018-05-03 21:07:04,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,699 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-08', 0.0, 64)
2018-05-03 21:07:04,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,702 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-09', 0.0, 64)
2018-05-03 21:07:04,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,709 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-10', 0.0, 65)
2018-05-03 21:07:04,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,713 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-11', 0.0, 64)
2018-05-03 21:07:04,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,716 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-12', 0.0, 64)
2018-05-03 21:07:04,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,719 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-13', 0.0, 62)
2018-05-03 21:07:04,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,722 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-14', 0.0, 68)
2018-05-03 21:07:04,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,728 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-15', 0.0, 74)
2018-05-03 21:07:04,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,732 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-16', 0.0, 71)
2018-05-03 21:07:04,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,735 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-17', 0.0, 69)
2018-05-03 21:07:04,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,740 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-18', 0.0, 63)
2018-05-03 21:07:04,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,744 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-19', 0.0, 66)
2018-05-03 21:07:04,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,746 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-20', 0.0, 65)
2018-05-03 21:07:04,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,749 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-21', 0.0, 64)
2018-05-03 21:07:04,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,751 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-22', 0.0, 64)
2018-05-03 21:07:04,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,755 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-23', 0.0, 69)
2018-05-03 21:07:04,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,760 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-24', 0.2, 68)
2018-05-03 21:07:04,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,762 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-25', 0.03, 68)
2018-05-03 21:07:04,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,765 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-26', 0.0, 70)
2018-05-03 21:07:04,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,768 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-27', 0.0, 72)
2018-05-03 21:07:04,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,771 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-28', 0.0, 70)
2018-05-03 21:07:04,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:04,776 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-29', 0.0, 74)
2018-05-03 21:07:04,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,779 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-30', 0.0, 63)
2018-05-03 21:07:04,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,782 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-01-31', 0.0, 64)
2018-05-03 21:07:04,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,786 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-01', 0.0, 68)
2018-05-03 21:07:04,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,792 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-02', 0.0, 74)
2018-05-03 21:07:04,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,796 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-03', 0.0, 76)
2018-05-03 21:07:04,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,798 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-04', 0.01, 72)
2018-05-03 21:07:04,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,801 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-05', 0.19, 67)
2018-05-03 21:07:04,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,807 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-06', 0.0, 62)
2018-05-03 21:07:04,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,813 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-07', 0.0, 64)
2018-05-03 21:07:04,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,816 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-08', 0.0, 61)
2018-05-03 21:07:04,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,819 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-09', 0.0, 73)
2018-05-03 21:07:04,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,823 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-10', 0.1, 71)
2018-05-03 21:07:04,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,828 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-11', 0.0, 72)
2018-05-03 21:07:04,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,830 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-12', 0.0, 64)
2018-05-03 21:07:04,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,833 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-13', 0.0, 74)
2018-05-03 21:07:04,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,835 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-14', 0.08, 76)
2018-05-03 21:07:04,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,839 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-15', 0.46, 58)
2018-05-03 21:07:04,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,843 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-16', 0.0, 64)
2018-05-03 21:07:04,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-17', 0.0, 69)
2018-05-03 21:07:04,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,848 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-18', 0.0, 67)
2018-05-03 21:07:04,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,851 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-19', 0.01, 71)
2018-05-03 21:07:04,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,857 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-20', 0.01, 73)
2018-05-03 21:07:04,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,861 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-21', 0.24, 63)
2018-05-03 21:07:04,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,863 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-22', 0.0, 70)
2018-05-03 21:07:04,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,866 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-23', 0.0, 73)
2018-05-03 21:07:04,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,868 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-24', 0.0, 69)
2018-05-03 21:07:04,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,872 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-25', 0.0, 73)
2018-05-03 21:07:04,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,879 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-26', 0.0, 70)
2018-05-03 21:07:04,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,883 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-27', 0.0, 71)
2018-05-03 21:07:04,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,886 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-02-28', 0.0, 72)
2018-05-03 21:07:04,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,893 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-01', 0.0, 73)
2018-05-03 21:07:04,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,896 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-02', 0.0, 74)
2018-05-03 21:07:04,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,899 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-03', 0.0, 74)
2018-05-03 21:07:04,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,902 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-04', 0.0, 73)
2018-05-03 21:07:04,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,906 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-05', 0.65, 67)
2018-05-03 21:07:04,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:04,910 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-06', 0.0, 69)
2018-05-03 21:07:04,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,913 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-07', 0.0, 68)
2018-05-03 21:07:04,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,916 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-08', 0.0, 68)
2018-05-03 21:07:04,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,918 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-09', 0.0, 64)
2018-05-03 21:07:04,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,922 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-10', 0.0, 63)
2018-05-03 21:07:04,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,927 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-11', 0.0, 65)
2018-05-03 21:07:04,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,930 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-13', 0.0, 67)
2018-05-03 21:07:04,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,932 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-14', 0.0, 68)
2018-05-03 21:07:04,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-15', 0.0, 68)
2018-05-03 21:07:04,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,939 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-16', 0.0, 67)
2018-05-03 21:07:04,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,944 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-17', 0.0, 68)
2018-05-03 21:07:04,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,947 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-18', 0.0, 69)
2018-05-03 21:07:04,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,950 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-19', 0.0, 71)
2018-05-03 21:07:04,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,959 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-20', 0.05, 74)
2018-05-03 21:07:04,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,964 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-21', 0.0, 72)
2018-05-03 21:07:04,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,967 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-22', 0.0, 75)
2018-05-03 21:07:04,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,982 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-23', 0.0, 75)
2018-05-03 21:07:04,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,984 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-24', 0.0, 71)
2018-05-03 21:07:04,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,987 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-25', 0.0, 71)
2018-05-03 21:07:04,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,992 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-26', 0.26, 65)
2018-05-03 21:07:04,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,996 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-27', 0.0, 76)
2018-05-03 21:07:04,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:04,998 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-28', 0.0, 75)
2018-05-03 21:07:05,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,001 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-29', 0.41, 70)
2018-05-03 21:07:05,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,004 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-30', 0.04, 73)
2018-05-03 21:07:05,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,010 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-03-31', 0.0, 75)
2018-05-03 21:07:05,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,013 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-01', 0.0, 76)
2018-05-03 21:07:05,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,016 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-02', 0.0, 76)
2018-05-03 21:07:05,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,018 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-03', 0.0, 72)
2018-05-03 21:07:05,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,021 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-04', 0.0, 76)
2018-05-03 21:07:05,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,027 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-05', 0.0, 76)
2018-05-03 21:07:05,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,030 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-06', 0.0, 74)
2018-05-03 21:07:05,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,032 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-07', 0.0, 76)
2018-05-03 21:07:05,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,036 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-08', 0.01, 75)
2018-05-03 21:07:05,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,045 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-09', 0.0, 75)
2018-05-03 21:07:05,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,047 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-10', 0.0, 74)
2018-05-03 21:07:05,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,050 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-11', 0.0, 75)
2018-05-03 21:07:05,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:05,057 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-12', 0.0, 74)
2018-05-03 21:07:05,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,063 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-13', 0.0, 76)
2018-05-03 21:07:05,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,067 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-14', 0.03, 75)
2018-05-03 21:07:05,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,231 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-15', 0.01, 75)
2018-05-03 21:07:05,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,234 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-16', 0.0, 76)
2018-05-03 21:07:05,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,237 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-17', 0.06, 77)
2018-05-03 21:07:05,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,243 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-18', 0.0, 77)
2018-05-03 21:07:05,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,246 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-19', 0.0, 75)
2018-05-03 21:07:05,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,248 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-20', 0.0, 76)
2018-05-03 21:07:05,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,251 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-21', 0.0, 76)
2018-05-03 21:07:05,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,253 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-22', 0.03, 76)
2018-05-03 21:07:05,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,259 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-23', 0.0, 78)
2018-05-03 21:07:05,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,262 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-24', 0.07, 77)
2018-05-03 21:07:05,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,265 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-25', 0.0, 74)
2018-05-03 21:07:05,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,268 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-26', 0.01, 78)
2018-05-03 21:07:05,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,271 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-27', 0.06, 81)
2018-05-03 21:07:05,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,276 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-28', 0.04, 74)
2018-05-03 21:07:05,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,279 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-29', 0.02, 77)
2018-05-03 21:07:05,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,282 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-04-30', 0.0, 77)
2018-05-03 21:07:05,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,285 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-01', 0.06, 75)
2018-05-03 21:07:05,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,289 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-02', 0.0, 76)
2018-05-03 21:07:05,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,295 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-03', 0.0, 76)
2018-05-03 21:07:05,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,297 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-04', 0.0, 76)
2018-05-03 21:07:05,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,301 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-05', 0.05, 77)
2018-05-03 21:07:05,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,304 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-06', 0.03, 75)
2018-05-03 21:07:05,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,316 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-07', 0.01, 77)
2018-05-03 21:07:05,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,320 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-08', 0.18, 73)
2018-05-03 21:07:05,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,325 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-09', 0.05, 76)
2018-05-03 21:07:05,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,329 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-10', 0.0, 76)
2018-05-03 21:07:05,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,333 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-11', 0.0, 76)
2018-05-03 21:07:05,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,336 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-12', 0.01, 74)
2018-05-03 21:07:05,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,341 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-13', 0.0, 76)
2018-05-03 21:07:05,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,346 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-14', 0.0, 76)
2018-05-03 21:07:05,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,349 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-15', 0.13, 74)
2018-05-03 21:07:05,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,352 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-16', 0.0, 76)
2018-05-03 21:07:05,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,355 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-17', 0.0, 77)
2018-05-03 21:07:05,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:05,361 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-18', 0.0, 77)
2018-05-03 21:07:05,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,364 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-19', 0.0, 76)
2018-05-03 21:07:05,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,366 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-20', 0.0, 76)
2018-05-03 21:07:05,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,368 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-21', 0.0, 77)
2018-05-03 21:07:05,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,372 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-22', 0.0, 75)
2018-05-03 21:07:05,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,377 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-23', 0.07, 75)
2018-05-03 21:07:05,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,380 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-24', 0.0, 73)
2018-05-03 21:07:05,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,384 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-25', 0.0, 74)
2018-05-03 21:07:05,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,386 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-26', 0.0, 75)
2018-05-03 21:07:05,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,391 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-27', 0.0, 76)
2018-05-03 21:07:05,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,396 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-28', 0.0, 77)
2018-05-03 21:07:05,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,399 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-29', 0.0, 78)
2018-05-03 21:07:05,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,402 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-30', 0.0, 78)
2018-05-03 21:07:05,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,405 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-05-31', 0.0, 77)
2018-05-03 21:07:05,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,412 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-01', 0.0, 78)
2018-05-03 21:07:05,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,415 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-02', 0.0, 78)
2018-05-03 21:07:05,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,425 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-03', 0.0, 79)
2018-05-03 21:07:05,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,430 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-04', 0.0, 77)
2018-05-03 21:07:05,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,434 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-05', 0.0, 79)
2018-05-03 21:07:05,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,438 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-06', 0.0, 78)
2018-05-03 21:07:05,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,448 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-07', 0.0, 78)
2018-05-03 21:07:05,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,452 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-08', 0.0, 78)
2018-05-03 21:07:05,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,461 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-09', 0.0, 79)
2018-05-03 21:07:05,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-10', 0.0, 77)
2018-05-03 21:07:05,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,467 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-11', 0.0, 78)
2018-05-03 21:07:05,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-12', 0.0, 78)
2018-05-03 21:07:05,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,478 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-13', 0.0, 78)
2018-05-03 21:07:05,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,481 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-14', 0.0, 78)
2018-05-03 21:07:05,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,485 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-15', 0.0, 79)
2018-05-03 21:07:05,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,490 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-16', 0.0, 79)
2018-05-03 21:07:05,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,495 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-17', 0.03, 77)
2018-05-03 21:07:05,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,498 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-18', 0.0, 78)
2018-05-03 21:07:05,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,501 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-19', 0.01, 78)
2018-05-03 21:07:05,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,503 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-20', 0.04, 78)
2018-05-03 21:07:05,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,507 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-21', 0.0, 79)
2018-05-03 21:07:05,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,511 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-22', 0.0, 79)
2018-05-03 21:07:05,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:05,515 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-23', 0.03, 77)
2018-05-03 21:07:05,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,518 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-24', 0.03, 79)
2018-05-03 21:07:05,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,521 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-25', 0.03, 79)
2018-05-03 21:07:05,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,528 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-26', 0.0, 79)
2018-05-03 21:07:05,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,531 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-27', 0.0, 81)
2018-05-03 21:07:05,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,534 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-28', 0.0, 76)
2018-05-03 21:07:05,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,536 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-29', 0.0, 80)
2018-05-03 21:07:05,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,541 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-06-30', 0.0, 78)
2018-05-03 21:07:05,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,546 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-01', 0.0, 79)
2018-05-03 21:07:05,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,549 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-02', 0.0, 80)
2018-05-03 21:07:05,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,553 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-03', 0.0, 82)
2018-05-03 21:07:05,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,560 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-04', 0.0, 81)
2018-05-03 21:07:05,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,564 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-05', 0.0, 81)
2018-05-03 21:07:05,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,566 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-06', 0.0, 81)
2018-05-03 21:07:05,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,568 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-07', 0.0, 81)
2018-05-03 21:07:05,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,570 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-08', 0.03, 80)
2018-05-03 21:07:05,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,582 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-09', 0.0, 81)
2018-05-03 21:07:05,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,584 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-10', 0.01, 81)
2018-05-03 21:07:05,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,587 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-11', 0.02, 79)
2018-05-03 21:07:05,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,591 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-12', 0.02, 79)
2018-05-03 21:07:05,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,596 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-13', 0.0, 80)
2018-05-03 21:07:05,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,598 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-14', 0.01, 81)
2018-05-03 21:07:05,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,600 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-15', 0.0, 81)
2018-05-03 21:07:05,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,602 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-16', 0.0, 83)
2018-05-03 21:07:05,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,607 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-17', 0.0, 83)
2018-05-03 21:07:05,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,611 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-18', 0.0, 82)
2018-05-03 21:07:05,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,614 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-19', 0.05, 78)
2018-05-03 21:07:05,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,616 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-20', 0.0, 79)
2018-05-03 21:07:05,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,618 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-21', 0.0, 81)
2018-05-03 21:07:05,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-22', 0.01, 79)
2018-05-03 21:07:05,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,626 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-23', 0.0, 81)
2018-05-03 21:07:05,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,814 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-24', 0.0, 81)
2018-05-03 21:07:05,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,819 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-25', 0.0, 81)
2018-05-03 21:07:05,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,822 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-26', 0.0, 80)
2018-05-03 21:07:05,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,831 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-27', 0.0, 81)
2018-05-03 21:07:05,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,834 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-28', 0.0, 81)
2018-05-03 21:07:05,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:05,837 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-29', 0.0, 82)
2018-05-03 21:07:05,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,842 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-30', 0.0, 82)
2018-05-03 21:07:05,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,846 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-07-31', 0.0, 80)
2018-05-03 21:07:05,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,850 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-01', 0.02, 78)
2018-05-03 21:07:05,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,852 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-02', 0.0, 81)
2018-05-03 21:07:05,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,855 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-03', 0.0, 81)
2018-05-03 21:07:05,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,860 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-04', 0.0, 77)
2018-05-03 21:07:05,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,863 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-05', 0.0, 82)
2018-05-03 21:07:05,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,865 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-06', 0.1, 81)
2018-05-03 21:07:05,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,867 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-07', 0.14, 80)
2018-05-03 21:07:05,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,869 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-08', 0.0, 82)
2018-05-03 21:07:05,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,871 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-09', 0.0, 79)
2018-05-03 21:07:05,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,877 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-10', 0.01, 81)
2018-05-03 21:07:05,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,880 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-11', 0.0, 82)
2018-05-03 21:07:05,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,882 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-12', 0.0, 83)
2018-05-03 21:07:05,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,885 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-13', 0.0, 83)
2018-05-03 21:07:05,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,887 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-14', 0.0, 82)
2018-05-03 21:07:05,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,891 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-15', 0.01, 80)
2018-05-03 21:07:05,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,897 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-16', 0.0, 81)
2018-05-03 21:07:05,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,899 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-17', 0.01, 79)
2018-05-03 21:07:05,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,901 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-18', 0.06, 78)
2018-05-03 21:07:05,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,906 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-19', 0.0, 80)
2018-05-03 21:07:05,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,913 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-20', 0.0, 78)
2018-05-03 21:07:05,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,917 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-21', 0.0, 82)
2018-05-03 21:07:05,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,920 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-22', 0.0, 84)
2018-05-03 21:07:05,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,924 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-23', 0.02, 81)
2018-05-03 21:07:05,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,929 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-24', 0.42, 74)
2018-05-03 21:07:05,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,931 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-25', 0.2, 79)
2018-05-03 21:07:05,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-26', 0.62, 77)
2018-05-03 21:07:05,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,938 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-27', 0.62, 77)
2018-05-03 21:07:05,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,945 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-28', 0.06, 81)
2018-05-03 21:07:05,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,948 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-29', 0.0, 82)
2018-05-03 21:07:05,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,950 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-30', 0.0, 81)
2018-05-03 21:07:05,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,953 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-08-31', 0.0, 81)
2018-05-03 21:07:05,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,957 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-01', 0.0, 80)
2018-05-03 21:07:05,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,962 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-02', 0.0, 80)
2018-05-03 21:07:05,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:05,967 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-03', 0.23, 77)
2018-05-03 21:07:05,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,969 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-04', 0.52, 77)
2018-05-03 21:07:05,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,975 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-05', 0.08, 80)
2018-05-03 21:07:05,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,979 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-06', 0.0, 78)
2018-05-03 21:07:05,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,982 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-07', 0.06, 79)
2018-05-03 21:07:05,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,985 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-08', 0.01, 81)
2018-05-03 21:07:05,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,987 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-09', 0.0, 80)
2018-05-03 21:07:05,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,992 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-10', 0.0, 79)
2018-05-03 21:07:05,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,996 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-11', 0.77, 79)
2018-05-03 21:07:05,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:05,999 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-12', 0.5, 76)
2018-05-03 21:07:06,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,001 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-13', 0.11, 79)
2018-05-03 21:07:06,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,004 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-14', 0.77, 78)
2018-05-03 21:07:06,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,009 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-15', 0.26, 78)
2018-05-03 21:07:06,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,013 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-16', 0.01, 81)
2018-05-03 21:07:06,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,016 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-17', 0.0, 81)
2018-05-03 21:07:06,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,019 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-18', 0.02, 81)
2018-05-03 21:07:06,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,023 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-19', 0.02, 83)
2018-05-03 21:07:06,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,028 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-20', 0.0, 82)
2018-05-03 21:07:06,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,034 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-21', 0.07, 79)
2018-05-03 21:07:06,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,037 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-22', 0.09, 81)
2018-05-03 21:07:06,040 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,042 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-23', 0.01, 80)
2018-05-03 21:07:06,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,045 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-24', 0.0, 81)
2018-05-03 21:07:06,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,048 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-25', 0.08, 81)
2018-05-03 21:07:06,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,051 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-26', 0.03, 80)
2018-05-03 21:07:06,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,054 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-27', 0.15, 79)
2018-05-03 21:07:06,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,058 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-28', 0.04, 79)
2018-05-03 21:07:06,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,062 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-29', 0.11, 78)
2018-05-03 21:07:06,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,065 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-09-30', 0.04, 80)
2018-05-03 21:07:06,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,068 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-01', 0.05, 76)
2018-05-03 21:07:06,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,070 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-02', 0.03, 79)
2018-05-03 21:07:06,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,076 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-03', 0.0, 79)
2018-05-03 21:07:06,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,080 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-04', 0.0, 79)
2018-05-03 21:07:06,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,083 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-05', 0.0, 78)
2018-05-03 21:07:06,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,085 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-06', 0.0, 76)
2018-05-03 21:07:06,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,090 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-07', 0.04, 79)
2018-05-03 21:07:06,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,095 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-08', 0.0, 76)
2018-05-03 21:07:06,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:06,098 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-09', 0.0, 79)
2018-05-03 21:07:06,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,101 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-10', 0.0, 81)
2018-05-03 21:07:06,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,105 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-11', 0.0, 78)
2018-05-03 21:07:06,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,109 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-12', 0.03, 77)
2018-05-03 21:07:06,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,116 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-13', 0.04, 79)
2018-05-03 21:07:06,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,120 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-14', 0.01, 82)
2018-05-03 21:07:06,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,124 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-15', 0.01, 78)
2018-05-03 21:07:06,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,130 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-16', 0.0, 80)
2018-05-03 21:07:06,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,133 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-17', 0.0, 83)
2018-05-03 21:07:06,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,135 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-18', 0.04, 82)
2018-05-03 21:07:06,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-19', 0.0, 80)
2018-05-03 21:07:06,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,141 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-20', 0.01, 76)
2018-05-03 21:07:06,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,145 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-21', 0.06, 72)
2018-05-03 21:07:06,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,147 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-22', 0.01, 73)
2018-05-03 21:07:06,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,150 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-23', 0.0, 78)
2018-05-03 21:07:06,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,152 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-24', 0.0, 79)
2018-05-03 21:07:06,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,155 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-25', 0.0, 74)
2018-05-03 21:07:06,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,160 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-26', 0.0, 77)
2018-05-03 21:07:06,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,163 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-27', 0.11, 75)
2018-05-03 21:07:06,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,172 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-28', 0.01, 79)
2018-05-03 21:07:06,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,177 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-29', 0.0, 76)
2018-05-03 21:07:06,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,180 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-30', 0.0, 77)
2018-05-03 21:07:06,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,184 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-10-31', 0.0, 80)
2018-05-03 21:07:06,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,300 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-01', 0.19, 75)
2018-05-03 21:07:06,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,303 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-02', 0.01, 79)
2018-05-03 21:07:06,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,306 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-03', 0.0, 80)
2018-05-03 21:07:06,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,312 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-04', 0.02, 79)
2018-05-03 21:07:06,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,314 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-05', 0.03, 78)
2018-05-03 21:07:06,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,318 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-06', 0.01, 79)
2018-05-03 21:07:06,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,323 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-07', 0.1, 76)
2018-05-03 21:07:06,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,330 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-08', 0.02, 78)
2018-05-03 21:07:06,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,333 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-09', 0.11, 76)
2018-05-03 21:07:06,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,335 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-10', 0.0, 78)
2018-05-03 21:07:06,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,339 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-11', 0.0, 78)
2018-05-03 21:07:06,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,347 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-12', 0.01, 77)
2018-05-03 21:07:06,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,351 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-13', 0.0, 76)
2018-05-03 21:07:06,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:06,353 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-14', 0.17, 78)
2018-05-03 21:07:06,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,357 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-15', 0.02, 77)
2018-05-03 21:07:06,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,362 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-16', 0.0, 77)
2018-05-03 21:07:06,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,364 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-17', 0.0, 70)
2018-05-03 21:07:06,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,367 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-18', 0.02, 77)
2018-05-03 21:07:06,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,369 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-19', 0.0, 79)
2018-05-03 21:07:06,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,371 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-20', 1.57, 73)
2018-05-03 21:07:06,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,377 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-21', 0.85, 75)
2018-05-03 21:07:06,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,380 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-22', 0.33, 75)
2018-05-03 21:07:06,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,382 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-23', 0.62, 76)
2018-05-03 21:07:06,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,385 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-24', 0.75, 71)
2018-05-03 21:07:06,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,387 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-25', 0.01, 76)
2018-05-03 21:07:06,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,391 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-26', 0.36, 76)
2018-05-03 21:07:06,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,395 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-27', 0.11, 77)
2018-05-03 21:07:06,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,398 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-28', 0.02, 77)
2018-05-03 21:07:06,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,400 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-29', 0.03, 76)
2018-05-03 21:07:06,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,403 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-11-30', 0.01, 77)
2018-05-03 21:07:06,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,405 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-01', 0.0, 75)
2018-05-03 21:07:06,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,410 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-02', 0.0, 77)
2018-05-03 21:07:06,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,416 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-03', 0.06, 75)
2018-05-03 21:07:06,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,419 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-04', 0.02, 75)
2018-05-03 21:07:06,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,421 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-05', 0.0, 75)
2018-05-03 21:07:06,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,425 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-06', 0.0, 75)
2018-05-03 21:07:06,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,429 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-07', 0.0, 71)
2018-05-03 21:07:06,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,432 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-08', 0.0, 70)
2018-05-03 21:07:06,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,434 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-09', 0.0, 74)
2018-05-03 21:07:06,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,436 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-10', 0.06, 74)
2018-05-03 21:07:06,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,439 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-11', 0.0, 75)
2018-05-03 21:07:06,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,444 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-12', 0.39, 72)
2018-05-03 21:07:06,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,447 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-13', 0.0, 70)
2018-05-03 21:07:06,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,450 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-14', 0.0, 66)
2018-05-03 21:07:06,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,453 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-15', 0.08, 74)
2018-05-03 21:07:06,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,457 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-16', 0.0, 75)
2018-05-03 21:07:06,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,462 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-17', 0.02, 74)
2018-05-03 21:07:06,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-18', 0.08, 75)
2018-05-03 21:07:06,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,466 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-19', 0.13, 76)
2018-05-03 21:07:06,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:06,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-20', 0.03, 74)
2018-05-03 21:07:06,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,471 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-21', 0.01, 75)
2018-05-03 21:07:06,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,480 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-22', 0.0, 74)
2018-05-03 21:07:06,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,483 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-23', 0.0, 73)
2018-05-03 21:07:06,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,485 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-24', 0.0, 68)
2018-05-03 21:07:06,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,488 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-25', 0.0, 73)
2018-05-03 21:07:06,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,492 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-26', 0.02, 74)
2018-05-03 21:07:06,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,496 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-27', 0.43, 74)
2018-05-03 21:07:06,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,498 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-28', 0.01, 77)
2018-05-03 21:07:06,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,501 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-29', 0.0, 70)
2018-05-03 21:07:06,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,503 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-30', 0.0, 70)
2018-05-03 21:07:06,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,508 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2015-12-31', 0.0, 69)
2018-05-03 21:07:06,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,514 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-01', 0.0, 62)
2018-05-03 21:07:06,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,517 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-02', 0.0, 71)
2018-05-03 21:07:06,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,520 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-03', 0.0, 63)
2018-05-03 21:07:06,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,528 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-04', 0.0, 62)
2018-05-03 21:07:06,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,533 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-05', 0.0, 68)
2018-05-03 21:07:06,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,535 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-06', 0.0, 73)
2018-05-03 21:07:06,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,538 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-07', 0.18, 65)
2018-05-03 21:07:06,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,544 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-08', 0.01, 67)
2018-05-03 21:07:06,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,547 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-09', 0.03, 75)
2018-05-03 21:07:06,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,549 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-10', 0.01, 66)
2018-05-03 21:07:06,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,552 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-11', 0.0, 68)
2018-05-03 21:07:06,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,555 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-12', 0.0, 64)
2018-05-03 21:07:06,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,559 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-13', 0.0, 64)
2018-05-03 21:07:06,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,563 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-14', 0.0, 64)
2018-05-03 21:07:06,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,566 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-15', 0.0, 69)
2018-05-03 21:07:06,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,569 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-16', 0.01, 65)
2018-05-03 21:07:06,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,571 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-17', 0.0, 64)
2018-05-03 21:07:06,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,578 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-18', 0.0, 64)
2018-05-03 21:07:06,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,583 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-19', 0.0, 63)
2018-05-03 21:07:06,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,585 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-20', 0.0, 68)
2018-05-03 21:07:06,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,588 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-21', 0.0, 71)
2018-05-03 21:07:06,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,592 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-22', 0.0, 70)
2018-05-03 21:07:06,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,596 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-23', 0.0, 70)
2018-05-03 21:07:06,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,599 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-24', 0.0, 70)
2018-05-03 21:07:06,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:06,602 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-25', 0.04, 71)
2018-05-03 21:07:06,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,604 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-26', 0.16, 68)
2018-05-03 21:07:06,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,610 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-27', 0.01, 68)
2018-05-03 21:07:06,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,614 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-28', 0.0, 65)
2018-05-03 21:07:06,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,616 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-29', 0.0, 67)
2018-05-03 21:07:06,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,618 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-30', 0.0, 65)
2018-05-03 21:07:06,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-01-31', 0.0, 69)
2018-05-03 21:07:06,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,629 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-01', 0.0, 69)
2018-05-03 21:07:06,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,634 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-02', 0.06, 68)
2018-05-03 21:07:06,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,636 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-03', 0.0, 70)
2018-05-03 21:07:06,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,641 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-04', 0.0, 66)
2018-05-03 21:07:06,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,645 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-05', 0.0, 69)
2018-05-03 21:07:06,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,648 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-06', 0.0, 72)
2018-05-03 21:07:06,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,650 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-07', 0.02, 68)
2018-05-03 21:07:06,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,654 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-08', 0.01, 65)
2018-05-03 21:07:06,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,791 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-09', 0.0, 69)
2018-05-03 21:07:06,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,795 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-10', 0.0, 61)
2018-05-03 21:07:06,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,798 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-11', 0.0, 62)
2018-05-03 21:07:06,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,800 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-12', 0.02, 75)
2018-05-03 21:07:06,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,803 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-13', 0.0, 74)
2018-05-03 21:07:06,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,805 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-14', 0.0, 69)
2018-05-03 21:07:06,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,808 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-15', 0.0, 73)
2018-05-03 21:07:06,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,813 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-16', 0.02, 74)
2018-05-03 21:07:06,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,816 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-17', 0.21, 71)
2018-05-03 21:07:06,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,818 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-18', 0.02, 73)
2018-05-03 21:07:06,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,821 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-19', 0.03, 66)
2018-05-03 21:07:06,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,825 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-20', 0.01, 66)
2018-05-03 21:07:06,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,829 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-21', 0.0, 73)
2018-05-03 21:07:06,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,832 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-22', 0.0, 63)
2018-05-03 21:07:06,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,836 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-23', 0.0, 64)
2018-05-03 21:07:06,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,839 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-24', 0.0, 67)
2018-05-03 21:07:06,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,844 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-25', 0.0, 66)
2018-05-03 21:07:06,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,848 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-26', 0.0, 68)
2018-05-03 21:07:06,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,850 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-27', 0.0, 69)
2018-05-03 21:07:06,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,852 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-28', 0.0, 68)
2018-05-03 21:07:06,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,855 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-02-29', 0.0, 71)
2018-05-03 21:07:06,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:06,860 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-01', 0.0, 73)
2018-05-03 21:07:06,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,866 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-02', 0.0, 68)
2018-05-03 21:07:06,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,868 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-03', 0.0, 66)
2018-05-03 21:07:06,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,871 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-04', 0.0, 65)
2018-05-03 21:07:06,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,874 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-05', 0.0, 66)
2018-05-03 21:07:06,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,881 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-06', 0.0, 68)
2018-05-03 21:07:06,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,884 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-07', 0.0, 69)
2018-05-03 21:07:06,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,886 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-08', 0.0, 76)
2018-05-03 21:07:06,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,890 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-09', 0.19, 68)
2018-05-03 21:07:06,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,894 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-10', 0.0, 70)
2018-05-03 21:07:06,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,897 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-11', 0.0, 71)
2018-05-03 21:07:06,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,900 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-12', 0.0, 73)
2018-05-03 21:07:06,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,902 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-13', 0.0, 74)
2018-05-03 21:07:06,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,904 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-14', 0.0, 72)
2018-05-03 21:07:06,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,907 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-15', 0.08, 66)
2018-05-03 21:07:06,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,913 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-16', 0.05, 72)
2018-05-03 21:07:06,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,917 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-17', 0.0, 70)
2018-05-03 21:07:06,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,920 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-18', 0.0, 69)
2018-05-03 21:07:06,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,922 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-19', 0.0, 71)
2018-05-03 21:07:06,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,926 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-20', 0.0, 73)
2018-05-03 21:07:06,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,931 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-21', 0.0, 74)
2018-05-03 21:07:06,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-22', 0.0, 70)
2018-05-03 21:07:06,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,937 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-23', 0.0, 70)
2018-05-03 21:07:06,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,941 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-24', 0.0, 72)
2018-05-03 21:07:06,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,946 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-25', 0.01, 73)
2018-05-03 21:07:06,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,949 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-26', 0.09, 68)
2018-05-03 21:07:06,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,951 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-27', 0.01, 68)
2018-05-03 21:07:06,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,953 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-28', 0.0, 70)
2018-05-03 21:07:06,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,967 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-29', 0.09, 73)
2018-05-03 21:07:06,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,970 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-30', 0.01, 70)
2018-05-03 21:07:06,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,973 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-03-31', 0.0, 71)
2018-05-03 21:07:06,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,978 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-01', 0.0, 77)
2018-05-03 21:07:06,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,981 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-02', 0.0, 72)
2018-05-03 21:07:06,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,984 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-03', 0.0, 75)
2018-05-03 21:07:06,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,986 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-04', 0.0, 72)
2018-05-03 21:07:06,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:06,994 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-05', 0.0, 74)
2018-05-03 21:07:06,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:06,998 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-06', 0.01, 72)
2018-05-03 21:07:07,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,001 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-07', 0.0, 73)
2018-05-03 21:07:07,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,004 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-08', 0.0, 76)
2018-05-03 21:07:07,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,010 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-09', 0.0, 76)
2018-05-03 21:07:07,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,017 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-10', 0.0, 78)
2018-05-03 21:07:07,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,019 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-11', 0.01, 75)
2018-05-03 21:07:07,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,022 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-12', 0.0, 76)
2018-05-03 21:07:07,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,028 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-13', 0.01, 77)
2018-05-03 21:07:07,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,031 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-14', 0.0, 77)
2018-05-03 21:07:07,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,035 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-15', 0.0, 78)
2018-05-03 21:07:07,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,038 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-16', 0.0, 80)
2018-05-03 21:07:07,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,040 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-17', 0.17, 70)
2018-05-03 21:07:07,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,046 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-18', 0.15, 72)
2018-05-03 21:07:07,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,050 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-19', 0.0, 73)
2018-05-03 21:07:07,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,053 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-20', 0.0, 75)
2018-05-03 21:07:07,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,056 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-21', 0.0, 76)
2018-05-03 21:07:07,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,064 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-22', 0.0, 77)
2018-05-03 21:07:07,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,067 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-23', 0.05, 75)
2018-05-03 21:07:07,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,070 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-24', 0.05, 77)
2018-05-03 21:07:07,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,075 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-25', 0.0, 77)
2018-05-03 21:07:07,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,083 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-26', 0.0, 77)
2018-05-03 21:07:07,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,086 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-27', 0.0, 76)
2018-05-03 21:07:07,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,088 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-28', 0.0, 78)
2018-05-03 21:07:07,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,094 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-29', 0.0, 78)
2018-05-03 21:07:07,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,097 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-04-30', 0.0, 76)
2018-05-03 21:07:07,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,100 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-01', 0.0, 77)
2018-05-03 21:07:07,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,102 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-02', 0.0, 76)
2018-05-03 21:07:07,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,104 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-03', 0.01, 78)
2018-05-03 21:07:07,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,108 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-04', 0.0, 77)
2018-05-03 21:07:07,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,113 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-05', 0.13, 76)
2018-05-03 21:07:07,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,116 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-06', 0.0, 76)
2018-05-03 21:07:07,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,119 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-07', 0.03, 73)
2018-05-03 21:07:07,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,121 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-08', 0.0, 73)
2018-05-03 21:07:07,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,129 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-09', 0.0, 74)
2018-05-03 21:07:07,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,132 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-10', 0.0, 75)
2018-05-03 21:07:07,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,135 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-11', 0.0, 75)
2018-05-03 21:07:07,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,137 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-12', 0.0, 74)
2018-05-03 21:07:07,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,140 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-13', 0.0, 75)
2018-05-03 21:07:07,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,148 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-14', 0.0, 77)
2018-05-03 21:07:07,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,153 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-15', 0.02, 78)
2018-05-03 21:07:07,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,157 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-16', 0.0, 77)
2018-05-03 21:07:07,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,165 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-17', 0.0, 78)
2018-05-03 21:07:07,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,270 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-18', 0.0, 79)
2018-05-03 21:07:07,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,274 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-19', 0.0, 78)
2018-05-03 21:07:07,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,280 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-20', 0.01, 77)
2018-05-03 21:07:07,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,283 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-21', 0.03, 76)
2018-05-03 21:07:07,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,288 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-22', 0.0, 78)
2018-05-03 21:07:07,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,294 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-23', 0.0, 79)
2018-05-03 21:07:07,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,300 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-24', 0.0, 77)
2018-05-03 21:07:07,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,305 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-25', 0.0, 77)
2018-05-03 21:07:07,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,312 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-26', 0.06, 76)
2018-05-03 21:07:07,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,316 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-27', 0.0, 79)
2018-05-03 21:07:07,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,319 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-28', 0.1, 75)
2018-05-03 21:07:07,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,323 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-29', 0.54, 73)
2018-05-03 21:07:07,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,329 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-30', 0.16, 71)
2018-05-03 21:07:07,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,333 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-05-31', 0.05, 74)
2018-05-03 21:07:07,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,336 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-01', 0.06, 76)
2018-05-03 21:07:07,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,339 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-02', 0.0, 71)
2018-05-03 21:07:07,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,344 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-03', 0.0, 71)
2018-05-03 21:07:07,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,348 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-04', 0.0, 74)
2018-05-03 21:07:07,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,351 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-05', 0.0, 76)
2018-05-03 21:07:07,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,353 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-06', 0.0, 78)
2018-05-03 21:07:07,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,358 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-07', 0.01, 77)
2018-05-03 21:07:07,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,364 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-08', 0.0, 77)
2018-05-03 21:07:07,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,367 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-09', 0.01, 73)
2018-05-03 21:07:07,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,370 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-10', 0.05, 77)
2018-05-03 21:07:07,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,375 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-11', 0.0, 78)
2018-05-03 21:07:07,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,380 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-12', 0.01, 78)
2018-05-03 21:07:07,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,383 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-13', 0.0, 80)
2018-05-03 21:07:07,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,387 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-14', 0.0, 79)
2018-05-03 21:07:07,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,389 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-15', 0.01, 78)
2018-05-03 21:07:07,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:07,396 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-16', 0.02, 77)
2018-05-03 21:07:07,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,399 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-17', 0.02, 76)
2018-05-03 21:07:07,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,402 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-18', 0.0, 77)
2018-05-03 21:07:07,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,407 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-19', 0.01, 77)
2018-05-03 21:07:07,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,412 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-20', 0.01, 78)
2018-05-03 21:07:07,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,416 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-21', 0.0, 80)
2018-05-03 21:07:07,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,419 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-22', 0.0, 79)
2018-05-03 21:07:07,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,422 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-23', 0.0, 79)
2018-05-03 21:07:07,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,429 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-24', 0.01, 77)
2018-05-03 21:07:07,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,433 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-25', 0.03, 78)
2018-05-03 21:07:07,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,436 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-26', 0.01, 79)
2018-05-03 21:07:07,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,439 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-27', 0.01, 80)
2018-05-03 21:07:07,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,443 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-28', 0.0, 76)
2018-05-03 21:07:07,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,448 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-29', 0.0, 79)
2018-05-03 21:07:07,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,451 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-06-30', 0.0, 80)
2018-05-03 21:07:07,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,453 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-01', 0.0, 79)
2018-05-03 21:07:07,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,460 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-02', 0.0, 79)
2018-05-03 21:07:07,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,467 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-03', 0.0, 77)
2018-05-03 21:07:07,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,471 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-04', 0.04, 79)
2018-05-03 21:07:07,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,476 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-05', 0.02, 78)
2018-05-03 21:07:07,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,481 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-06', 0.02, 78)
2018-05-03 21:07:07,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,484 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-07', 0.01, 80)
2018-05-03 21:07:07,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,491 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-08', 0.0, 80)
2018-05-03 21:07:07,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,518 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-09', 0.0, 80)
2018-05-03 21:07:07,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,520 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-10', 0.02, 78)
2018-05-03 21:07:07,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,524 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-11', 0.0, 72)
2018-05-03 21:07:07,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,530 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-12', 0.0, 80)
2018-05-03 21:07:07,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,533 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-13', 0.0, 79)
2018-05-03 21:07:07,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,538 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-14', 0.0, 79)
2018-05-03 21:07:07,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,544 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-15', 0.46, 78)
2018-05-03 21:07:07,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,549 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-16', 0.03, 78)
2018-05-03 21:07:07,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,553 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-17', 0.0, 78)
2018-05-03 21:07:07,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,556 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-18', 1.25, 76)
2018-05-03 21:07:07,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,562 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-19', 0.03, 78)
2018-05-03 21:07:07,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,565 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-20', 0.0, 78)
2018-05-03 21:07:07,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,568 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-21', 0.04, 78)
2018-05-03 21:07:07,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:07,571 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-22', 0.02, 76)
2018-05-03 21:07:07,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,582 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-23', 0.0, 78)
2018-05-03 21:07:07,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,586 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-24', 0.13, 79)
2018-05-03 21:07:07,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,591 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-25', 4.2, 78)
2018-05-03 21:07:07,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,608 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-26', 0.0, 80)
2018-05-03 21:07:07,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,617 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-27', 0.0, 80)
2018-05-03 21:07:07,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-28', 0.0, 80)
2018-05-03 21:07:07,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,625 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-29', 0.0, 79)
2018-05-03 21:07:07,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,630 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-30', 0.0, 78)
2018-05-03 21:07:07,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,633 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-07-31', 0.06, 76)
2018-05-03 21:07:07,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,635 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-01', 0.08, 77)
2018-05-03 21:07:07,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,639 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-02', 0.05, 78)
2018-05-03 21:07:07,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,645 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-03', 0.0, 80)
2018-05-03 21:07:07,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,649 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-04', 0.04, 80)
2018-05-03 21:07:07,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,655 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-05', 0.01, 80)
2018-05-03 21:07:07,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,660 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-06', 0.0, 80)
2018-05-03 21:07:07,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,665 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-07', 0.39, 77)
2018-05-03 21:07:07,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,669 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-08', 0.02, 81)
2018-05-03 21:07:07,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,672 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-09', 0.0, 80)
2018-05-03 21:07:07,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,676 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-10', 0.0, 80)
2018-05-03 21:07:07,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,681 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-11', 0.0, 80)
2018-05-03 21:07:07,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,683 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-12', 0.0, 79)
2018-05-03 21:07:07,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,688 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-13', 0.0, 79)
2018-05-03 21:07:07,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,694 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-14', 0.0, 79)
2018-05-03 21:07:07,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,699 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-15', 0.0, 79)
2018-05-03 21:07:07,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,701 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-16', 0.0, 80)
2018-05-03 21:07:07,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,704 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-17', 0.0, 78)
2018-05-03 21:07:07,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,708 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-18', 0.0, 80)
2018-05-03 21:07:07,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,712 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-19', 0.04, 77)
2018-05-03 21:07:07,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,715 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-20', 0.0, 80)
2018-05-03 21:07:07,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,718 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-21', 0.12, 76)
2018-05-03 21:07:07,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,725 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-22', 0.4, 77)
2018-05-03 21:07:07,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,732 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-23', 0.0, 81)
2018-05-03 21:07:07,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,736 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-24', 0.08, 79)
2018-05-03 21:07:07,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,738 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-25', 0.08, 80)
2018-05-03 21:07:07,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,871 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-26', 0.0, 79)
2018-05-03 21:07:07,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,879 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-27', 0.0, 77)
2018-05-03 21:07:07,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,885 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-28', 0.01, 78)
2018-05-03 21:07:07,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,888 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-29', 0.0, 78)
2018-05-03 21:07:07,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,892 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-30', 0.0, 79)
2018-05-03 21:07:07,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,896 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-08-31', 0.13, 80)
2018-05-03 21:07:07,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,898 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-01', 0.0, 81)
2018-05-03 21:07:07,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,901 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-02', 0.0, 80)
2018-05-03 21:07:07,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,903 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-03', 0.0, 79)
2018-05-03 21:07:07,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,905 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-04', 0.03, 75)
2018-05-03 21:07:07,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,909 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-05', 0.0, 79)
2018-05-03 21:07:07,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,914 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-06', 0.0, 76)
2018-05-03 21:07:07,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,916 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-07', 0.05, 76)
2018-05-03 21:07:07,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,919 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-08', 0.0, 80)
2018-05-03 21:07:07,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,925 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-09', 0.03, 79)
2018-05-03 21:07:07,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,930 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-10', 0.0, 78)
2018-05-03 21:07:07,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,934 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-11', 0.05, 76)
2018-05-03 21:07:07,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,938 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-12', 0.0, 78)
2018-05-03 21:07:07,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,945 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-13', 0.02, 78)
2018-05-03 21:07:07,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,950 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-14', 1.32, 75)
2018-05-03 21:07:07,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,952 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-15', 0.42, 79)
2018-05-03 21:07:07,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,955 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-16', 0.06, 80)
2018-05-03 21:07:07,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,959 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-17', 0.05, 79)
2018-05-03 21:07:07,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,964 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-18', 0.0, 81)
2018-05-03 21:07:07,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,967 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-19', 0.0, 77)
2018-05-03 21:07:07,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,970 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-20', 0.0, 77)
2018-05-03 21:07:07,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,972 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-21', 0.0, 78)
2018-05-03 21:07:07,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,977 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-22', 0.02, 76)
2018-05-03 21:07:07,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,981 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-23', 0.0, 82)
2018-05-03 21:07:07,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,984 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-24', 0.0, 81)
2018-05-03 21:07:07,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,986 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-25', 0.0, 78)
2018-05-03 21:07:07,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,989 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-26', 0.06, 80)
2018-05-03 21:07:07,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,992 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-27', 0.02, 80)
2018-05-03 21:07:07,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,997 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-28', 0.0, 79)
2018-05-03 21:07:07,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:07,999 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-29', 0.0, 80)
2018-05-03 21:07:08,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,002 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-09-30', 0.0, 80)
2018-05-03 21:07:08,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:08,006 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-01', 0.0, 80)
2018-05-03 21:07:08,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,013 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-02', 0.0, 79)
2018-05-03 21:07:08,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,017 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-03', 0.0, 79)
2018-05-03 21:07:08,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,021 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-04', 0.0, 79)
2018-05-03 21:07:08,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,025 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-05', 0.0, 80)
2018-05-03 21:07:08,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,031 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-06', 0.0, 80)
2018-05-03 21:07:08,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,035 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-07', 0.0, 79)
2018-05-03 21:07:08,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,037 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-08', 0.0, 78)
2018-05-03 21:07:08,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,040 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-09', 0.0, 76)
2018-05-03 21:07:08,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,044 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-10', 0.0, 75)
2018-05-03 21:07:08,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,048 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-11', 0.0, 80)
2018-05-03 21:07:08,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,051 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-12', 0.0, 80)
2018-05-03 21:07:08,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,053 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-13', 0.0, 79)
2018-05-03 21:07:08,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,056 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-14', 0.0, 80)
2018-05-03 21:07:08,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,059 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-15', 0.0, 79)
2018-05-03 21:07:08,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,064 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-16', 0.0, 78)
2018-05-03 21:07:08,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,067 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-17', 0.01, 78)
2018-05-03 21:07:08,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,069 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-18', 0.0, 80)
2018-05-03 21:07:08,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,071 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-19', 0.0, 81)
2018-05-03 21:07:08,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,075 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-20', 0.0, 79)
2018-05-03 21:07:08,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,080 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-21', 0.05, 77)
2018-05-03 21:07:08,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,086 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-22', 0.15, 79)
2018-05-03 21:07:08,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,092 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-23', 0.01, 78)
2018-05-03 21:07:08,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,098 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-24', 0.0, 77)
2018-05-03 21:07:08,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,101 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-25', 0.03, 77)
2018-05-03 21:07:08,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-26', 0.0, 78)
2018-05-03 21:07:08,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,111 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-27', 0.0, 77)
2018-05-03 21:07:08,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,118 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-28', 0.0, 78)
2018-05-03 21:07:08,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,123 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-29', 0.0, 77)
2018-05-03 21:07:08,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,130 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-30', 0.24, 76)
2018-05-03 21:07:08,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,135 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-10-31', 0.03, 77)
2018-05-03 21:07:08,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,138 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-01', 0.0, 77)
2018-05-03 21:07:08,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,143 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-02', 0.0, 77)
2018-05-03 21:07:08,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,147 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-03', 0.0, 77)
2018-05-03 21:07:08,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,150 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-04', 0.0, 77)
2018-05-03 21:07:08,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,154 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-05', 0.0, 76)
2018-05-03 21:07:08,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:08,156 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-06', 0.0, 75)
2018-05-03 21:07:08,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,160 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-07', 0.0, 71)
2018-05-03 21:07:08,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,171 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-08', 0.07, 71)
2018-05-03 21:07:08,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,175 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-09', 0.0, 71)
2018-05-03 21:07:08,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,181 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-10', 0.0, 71)
2018-05-03 21:07:08,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,185 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-11', 0.0, 72)
2018-05-03 21:07:08,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,188 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-12', 0.0, 71)
2018-05-03 21:07:08,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,190 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-13', 0.0, 72)
2018-05-03 21:07:08,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-14', 0.0, 77)
2018-05-03 21:07:08,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,202 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-15', 0.0, 77)
2018-05-03 21:07:08,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,205 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-16', 0.0, 77)
2018-05-03 21:07:08,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,208 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-17', 0.0, 77)
2018-05-03 21:07:08,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,214 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-18', 0.0, 77)
2018-05-03 21:07:08,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,217 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-19', 0.03, 75)
2018-05-03 21:07:08,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,220 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-20', 0.05, 76)
2018-05-03 21:07:08,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,222 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-21', 0.01, 76)
2018-05-03 21:07:08,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,227 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-22', 0.13, 75)
2018-05-03 21:07:08,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,233 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-23', 0.14, 72)
2018-05-03 21:07:08,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,236 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-24', 0.05, 74)
2018-05-03 21:07:08,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,238 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-25', 0.05, 75)
2018-05-03 21:07:08,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,245 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-26', 0.05, 73)
2018-05-03 21:07:08,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,250 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-27', 0.0, 76)
2018-05-03 21:07:08,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,253 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-28', 0.01, 75)
2018-05-03 21:07:08,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,256 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-29', 0.0, 68)
2018-05-03 21:07:08,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,263 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-11-30', 0.14, 75)
2018-05-03 21:07:08,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,266 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-01', 0.12, 75)
2018-05-03 21:07:08,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,268 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-02', 0.03, 72)
2018-05-03 21:07:08,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,271 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-03', 0.0, 69)
2018-05-03 21:07:08,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,403 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-04', 0.03, 71)
2018-05-03 21:07:08,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,405 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-05', 0.43, 68)
2018-05-03 21:07:08,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,408 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-06', 0.02, 67)
2018-05-03 21:07:08,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,413 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-07', 0.0, 69)
2018-05-03 21:07:08,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,416 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-08', 0.03, 73)
2018-05-03 21:07:08,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,419 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-09', 0.52, 70)
2018-05-03 21:07:08,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,422 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-10', 0.05, 70)
2018-05-03 21:07:08,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,427 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-11', 0.04, 70)
2018-05-03 21:07:08,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:08,431 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-12', 0.01, 66)
2018-05-03 21:07:08,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,448 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-13', 0.05, 67)
2018-05-03 21:07:08,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,453 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-14', 0.03, 70)
2018-05-03 21:07:08,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,455 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-15', 0.0, 66)
2018-05-03 21:07:08,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,460 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-16', 0.0, 62)
2018-05-03 21:07:08,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,464 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-17', 0.01, 71)
2018-05-03 21:07:08,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,467 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-18', 0.13, 73)
2018-05-03 21:07:08,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-19', 0.01, 69)
2018-05-03 21:07:08,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,471 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-20', 0.0, 77)
2018-05-03 21:07:08,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,474 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-21', 0.0, 74)
2018-05-03 21:07:08,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,478 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-22', 0.01, 71)
2018-05-03 21:07:08,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,482 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-23', 0.01, 72)
2018-05-03 21:07:08,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,484 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-24', 0.01, 74)
2018-05-03 21:07:08,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,486 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-25', 0.0, 74)
2018-05-03 21:07:08,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,489 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-26', 0.02, 74)
2018-05-03 21:07:08,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,492 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-27', 0.0, 74)
2018-05-03 21:07:08,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,497 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-28', 0.02, 71)
2018-05-03 21:07:08,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,499 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-29', 0.04, 73)
2018-05-03 21:07:08,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,501 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-30', 0.12, 69)
2018-05-03 21:07:08,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,503 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2016-12-31', 0.01, 66)
2018-05-03 21:07:08,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,509 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-01', 0.0, 62)
2018-05-03 21:07:08,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,515 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-02', 0.0, 66)
2018-05-03 21:07:08,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,518 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-03', 0.0, 63)
2018-05-03 21:07:08,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,521 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-04', 0.0, 62)
2018-05-03 21:07:08,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,523 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-05', 0.0, 63)
2018-05-03 21:07:08,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,529 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-06', 0.0, 64)
2018-05-03 21:07:08,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,534 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-07', 0.0, 66)
2018-05-03 21:07:08,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,537 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-08', 0.0, 60)
2018-05-03 21:07:08,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,538 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-09', 0.0, 64)
2018-05-03 21:07:08,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,541 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-10', 0.0, 63)
2018-05-03 21:07:08,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,547 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-11', 0.0, 78)
2018-05-03 21:07:08,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,550 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-12', 0.0, 67)
2018-05-03 21:07:08,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,552 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-13', 0.0, 67)
2018-05-03 21:07:08,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,556 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-14', 0.0, 65)
2018-05-03 21:07:08,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,559 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-15', 0.0, 66)
2018-05-03 21:07:08,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,562 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-16', 0.0, 67)
2018-05-03 21:07:08,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:08,565 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-17', 0.0, 66)
2018-05-03 21:07:08,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,567 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-18', 0.0, 72)
2018-05-03 21:07:08,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,570 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-19', 0.0, 73)
2018-05-03 21:07:08,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,573 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-20', 0.0, 71)
2018-05-03 21:07:08,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,577 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-21', 0.0, 72)
2018-05-03 21:07:08,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,584 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-22', 0.16, 72)
2018-05-03 21:07:08,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,586 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-23', 0.0, 72)
2018-05-03 21:07:08,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,589 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-24', 0.04, 69)
2018-05-03 21:07:08,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,592 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-25', 0.03, 72)
2018-05-03 21:07:08,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,598 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-26', 0.0, 71)
2018-05-03 21:07:08,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,601 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-27', 0.0, 65)
2018-05-03 21:07:08,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,604 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-28', 0.0, 64)
2018-05-03 21:07:08,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,606 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-29', 0.18, 67)
2018-05-03 21:07:08,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,609 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-30', 0.0, 67)
2018-05-03 21:07:08,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,613 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-01-31', 0.0, 68)
2018-05-03 21:07:08,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,617 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-01', 0.0, 70)
2018-05-03 21:07:08,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,619 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-02', 0.0, 61)
2018-05-03 21:07:08,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,621 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-03', 0.0, 65)
2018-05-03 21:07:08,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,623 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-04', 0.0, 72)
2018-05-03 21:07:08,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,627 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-05', 0.0, 73)
2018-05-03 21:07:08,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,632 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-06', 0.0, 76)
2018-05-03 21:07:08,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,635 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-07', 0.51, 64)
2018-05-03 21:07:08,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,637 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-08', 0.0, 62)
2018-05-03 21:07:08,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,643 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-09', 0.0, 61)
2018-05-03 21:07:08,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,647 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-10', 0.0, 71)
2018-05-03 21:07:08,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,651 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-11', 0.31, 69)
2018-05-03 21:07:08,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,653 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-12', 2.62, 68)
2018-05-03 21:07:08,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,656 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-13', 0.01, 74)
2018-05-03 21:07:08,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,660 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-14', 0.0, 75)
2018-05-03 21:07:08,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,671 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-15', 0.0, 75)
2018-05-03 21:07:08,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,673 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-16', 0.07, 71)
2018-05-03 21:07:08,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,676 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-17', 0.0, 71)
2018-05-03 21:07:08,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,681 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-18', 0.0, 68)
2018-05-03 21:07:08,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,683 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-19', 0.0, 69)
2018-05-03 21:07:08,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,684 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-20', 0.0, 71)
2018-05-03 21:07:08,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,686 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-21', 0.06, 70)
2018-05-03 21:07:08,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,688 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-22', 0.06, 72)
2018-05-03 21:07:08,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,692 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-23', 0.01, 74)
2018-05-03 21:07:08,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,698 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-24', 0.0, 70)
2018-05-03 21:07:08,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,703 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-25', 0.03, 64)
2018-05-03 21:07:08,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,706 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-26', 0.0, 65)
2018-05-03 21:07:08,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,709 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-27', 0.0, 72)
2018-05-03 21:07:08,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,716 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-02-28', 0.0, 74)
2018-05-03 21:07:08,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,718 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-01', 1.19, 66)
2018-05-03 21:07:08,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,720 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-02', 0.73, 73)
2018-05-03 21:07:08,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,722 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-03', 0.47, 69)
2018-05-03 21:07:08,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,724 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-04', 0.0, 74)
2018-05-03 21:07:08,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,732 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-05', 0.35, 71)
2018-05-03 21:07:08,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,735 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-06', 0.0, 69)
2018-05-03 21:07:08,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,737 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-07', 0.0, 68)
2018-05-03 21:07:08,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,740 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-08', 0.0, 71)
2018-05-03 21:07:08,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,743 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-09', 0.0, 72)
2018-05-03 21:07:08,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,747 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-10', 0.0, 68)
2018-05-03 21:07:08,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,751 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-11', 0.0, 71)
2018-05-03 21:07:08,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,754 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-12', 0.0, 74)
2018-05-03 21:07:08,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,757 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-13', 0.0, 71)
2018-05-03 21:07:08,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,859 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-14', 0.0, 71)
2018-05-03 21:07:08,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,863 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-15', 0.0, 71)
2018-05-03 21:07:08,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,865 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-16', 0.0, 70)
2018-05-03 21:07:08,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,868 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-17', 0.0, 72)
2018-05-03 21:07:08,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,870 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-18', 0.0, 69)
2018-05-03 21:07:08,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,874 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-19', 0.0, 73)
2018-05-03 21:07:08,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,877 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-20', 0.0, 75)
2018-05-03 21:07:08,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,883 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-21', 0.0, 75)
2018-05-03 21:07:08,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,885 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-22', 0.0, 74)
2018-05-03 21:07:08,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,887 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-23', 0.0, 70)
2018-05-03 21:07:08,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,890 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-24', 0.02, 73)
2018-05-03 21:07:08,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,894 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-25', 0.0, 76)
2018-05-03 21:07:08,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,901 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-26', 0.0, 76)
2018-05-03 21:07:08,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,904 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-27', 0.0, 75)
2018-05-03 21:07:08,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,906 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-28', 0.0, 77)
2018-05-03 21:07:08,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,909 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-29', 0.0, 76)

2018-05-03 21:07:08,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,914 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-30', 0.0, 77)
2018-05-03 21:07:08,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,917 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-03-31', 0.0, 76)
2018-05-03 21:07:08,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,919 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-01', 0.0, 76)
2018-05-03 21:07:08,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,921 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-02', 0.0, 76)
2018-05-03 21:07:08,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,924 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-03', 0.0, 77)
2018-05-03 21:07:08,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,928 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-04', 0.0, 76)
2018-05-03 21:07:08,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,931 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-05', 0.0, 78)
2018-05-03 21:07:08,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,934 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-06', 0.0, 77)
2018-05-03 21:07:08,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,935 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-07', 0.0, 77)
2018-05-03 21:07:08,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,937 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-08', 0.0, 77)
2018-05-03 21:07:08,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,939 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-09', 0.0, 72)
2018-05-03 21:07:08,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,943 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-10', 0.0, 75)
2018-05-03 21:07:08,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,950 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-11', 0.0, 79)
2018-05-03 21:07:08,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,952 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-12', 0.0, 78)
2018-05-03 21:07:08,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,954 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-13', 0.0, 77)
2018-05-03 21:07:08,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,957 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-14', 0.26, 75)
2018-05-03 21:07:08,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,963 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-15', 0.01, 73)
2018-05-03 21:07:08,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,966 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-16', 0.0, 74)
2018-05-03 21:07:08,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,968 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-17', 0.02, 74)
2018-05-03 21:07:08,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,971 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-18', 0.0, 75)
2018-05-03 21:07:08,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,973 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-19', 0.02, 74)
2018-05-03 21:07:08,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,978 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-20', 0.05, 78)
2018-05-03 21:07:08,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,982 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-21', 0.23, 73)
2018-05-03 21:07:08,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,985 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-22', 0.32, 76)
2018-05-03 21:07:08,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,987 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-23', 0.03, 77)
2018-05-03 21:07:08,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,989 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-24', 0.0, 77)
2018-05-03 21:07:08,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,992 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-25', 0.0, 77)
2018-05-03 21:07:08,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:08,997 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-26', 0.0, 77)
2018-05-03 21:07:08,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,000 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-27', 0.0, 78)
2018-05-03 21:07:09,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,002 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-28', 0.0, 76)
2018-05-03 21:07:09,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,004 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-29', 0.12, 72)
2018-05-03 21:07:09,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,006 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-04-30', 0.89, 63)
2018-05-03 21:07:09,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,016 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-01', 0.26, 75)
2018-05-03 21:07:09,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,019 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-02', 0.0, 78)
2018-05-03 21:07:09,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,022 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-03', 0.0, 78)
2018-05-03 21:07:09,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:09,027 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-04', 0.0, 78)
2018-05-03 21:07:09,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,031 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-05', 0.0, 79)
2018-05-03 21:07:09,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,034 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-06', 0.0, 79)
2018-05-03 21:07:09,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,037 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-07', 0.0, 79)
2018-05-03 21:07:09,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,040 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-08', 0.0, 77)
2018-05-03 21:07:09,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,045 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-10', 0.0, 78)
2018-05-03 21:07:09,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,051 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-11', 0.01, 78)
2018-05-03 21:07:09,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,054 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-12', 0.0, 79)
2018-05-03 21:07:09,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,057 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-13', 0.0, 79)
2018-05-03 21:07:09,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,062 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-14', 0.0, 77)
2018-05-03 21:07:09,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,066 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-15', 0.05, 78)
2018-05-03 21:07:09,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,069 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-16', 0.01, 78)
2018-05-03 21:07:09,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,072 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-17', 0.0, 78)
2018-05-03 21:07:09,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,074 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-18', 0.01, 73)
2018-05-03 21:07:09,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,078 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-19', 0.0, 76)
2018-05-03 21:07:09,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,081 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-20', 0.0, 78)
2018-05-03 21:07:09,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,084 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-21', 0.0, 76)
2018-05-03 21:07:09,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,086 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-22', 0.0, 77)
2018-05-03 21:07:09,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,089 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-23', 0.08, 87)
2018-05-03 21:07:09,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,092 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-24', 0.13, 77)
2018-05-03 21:07:09,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,097 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-25', 0.15, 77)
2018-05-03 21:07:09,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,099 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-27', 0.01, 74)
2018-05-03 21:07:09,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,103 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-28', 0.02, 76)
2018-05-03 21:07:09,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,106 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-29', 0.0, 75)
2018-05-03 21:07:09,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,110 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-30', 0.26, 76)
2018-05-03 21:07:09,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,115 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-05-31', 0.02, 79)
2018-05-03 21:07:09,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,116 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-01', 0.0, 79)
2018-05-03 21:07:09,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,119 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-02', 0.0, 79)
2018-05-03 21:07:09,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,122 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-03', 0.02, 79)
2018-05-03 21:07:09,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,124 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-04', 0.0, 79)
2018-05-03 21:07:09,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,127 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-05', 0.0, 80)
2018-05-03 21:07:09,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,131 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-06', 0.0, 79)
2018-05-03 21:07:09,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,134 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-07', 0.0, 79)
2018-05-03 21:07:09,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,141 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-08', 0.0, 80)
2018-05-03 21:07:09,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,146 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-09', 0.0, 80)
2018-05-03 21:07:09,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,148 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-10', 0.04, 77)
2018-05-03 21:07:09,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,151 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-11', 0.08, 79)
2018-05-03 21:07:09,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,153 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-12', 0.02, 83)
2018-05-03 21:07:09,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,157 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-13', 0.0, 80)
2018-05-03 21:07:09,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,161 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-14', 0.0, 80)
2018-05-03 21:07:09,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,167 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-15', 0.0, 78)
2018-05-03 21:07:09,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,171 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-16', 0.0, 79)
2018-05-03 21:07:09,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,173 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-17', 0.0, 80)
2018-05-03 21:07:09,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,176 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-18', 0.05, 77)
2018-05-03 21:07:09,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,183 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-19', 0.0, 80)
2018-05-03 21:07:09,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,186 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-20', 0.02, 78)
2018-05-03 21:07:09,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,188 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-21', 0.0, 79)
2018-05-03 21:07:09,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,191 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-22', 0.0, 80)
2018-05-03 21:07:09,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,196 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-23', 0.0, 78)
2018-05-03 21:07:09,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,360 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-24', 0.06, 80)
2018-05-03 21:07:09,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,365 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-25', 0.0, 80)
2018-05-03 21:07:09,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,368 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-26', 0.0, 81)
2018-05-03 21:07:09,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,371 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-27', 0.0, 80)
2018-05-03 21:07:09,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,373 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-28', 0.0, 79)
2018-05-03 21:07:09,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,380 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-29', 0.0, 79)
2018-05-03 21:07:09,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,385 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-06-30', 0.08, 75)
2018-05-03 21:07:09,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,388 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-01', 0.02, 80)
2018-05-03 21:07:09,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,392 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-02', 0.02, 80)
2018-05-03 21:07:09,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,402 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-03', 0.04, 78)
2018-05-03 21:07:09,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,404 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-04', 0.04, 80)
2018-05-03 21:07:09,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,407 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-05', 0.0, 80)
2018-05-03 21:07:09,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,410 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-06', 0.0, 81)
2018-05-03 21:07:09,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,415 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-07', 0.0, 79)
2018-05-03 21:07:09,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,419 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-08', 0.0, 80)
2018-05-03 21:07:09,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,421 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-09', 0.0, 80)
2018-05-03 21:07:09,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,423 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-10', 0.0, 80)
2018-05-03 21:07:09,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,426 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-11', 0.0, 78)
2018-05-03 21:07:09,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,431 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-12', 0.0, 81)
2018-05-03 21:07:09,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,433 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-13', 0.07, 79)
2018-05-03 21:07:09,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,436 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-14', 0.02, 81)
2018-05-03 21:07:09,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,439 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-15', 0.0, 80)
2018-05-03 21:07:09,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:09,443 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-16', 0.02, 78)
2018-05-03 21:07:09,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,448 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-17', 0.03, 80)
2018-05-03 21:07:09,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,450 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-18', 0.05, 80)
2018-05-03 21:07:09,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,454 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-20', 0.03, 80)
2018-05-03 21:07:09,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,456 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-21', 0.0, 80)
2018-05-03 21:07:09,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,460 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-22', 0.03, 81)
2018-05-03 21:07:09,464 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,466 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-23', 0.0, 81)
2018-05-03 21:07:09,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,469 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-24', 0.05, 78)
2018-05-03 21:07:09,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,472 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-25', 0.0, 80)
2018-05-03 21:07:09,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,475 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-26', 0.0, 82)
2018-05-03 21:07:09,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,483 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-27', 0.0, 79)
2018-05-03 21:07:09,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,487 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-28', 0.0, 81)
2018-05-03 21:07:09,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,490 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-29', 0.0, 81)
2018-05-03 21:07:09,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,499 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-30', 0.0, 81)
2018-05-03 21:07:09,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,502 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-07-31', 0.0, 80)
2018-05-03 21:07:09,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,504 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-01', 0.02, 77)
2018-05-03 21:07:09,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,510 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-02', 0.0, 73)
2018-05-03 21:07:09,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,517 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-03', 0.0, 79)
2018-05-03 21:07:09,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,521 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-04', 0.02, 80)
2018-05-03 21:07:09,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,524 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-05', 0.0, 81)
2018-05-03 21:07:09,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,531 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-06', 0.0, 80)
2018-05-03 21:07:09,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,534 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-07', 0.0, 80)
2018-05-03 21:07:09,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,536 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-08', 0.0, 80)
2018-05-03 21:07:09,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,538 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-09', 0.0, 80)
2018-05-03 21:07:09,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,541 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-10', 0.0, 81)
2018-05-03 21:07:09,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,549 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-11', 0.0, 78)
2018-05-03 21:07:09,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,552 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-12', 0.0, 80)
2018-05-03 21:07:09,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,554 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-13', 0.0, 81)
2018-05-03 21:07:09,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,557 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-14', 0.0, 79)
2018-05-03 21:07:09,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,563 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-15', 0.02, 78)
2018-05-03 21:07:09,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,568 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-18', 0.0, 80)
2018-05-03 21:07:09,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,570 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-19', 0.0, 79)
2018-05-03 21:07:09,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,575 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-20', 0.0, 81)
2018-05-03 21:07:09,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,583 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-21', 0.0, 81)
2018-05-03 21:07:09,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,586 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-22', 0.0, 82)
2018-05-03 21:07:09,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,589 INFO sqlalchemy.engine.base.Engine ('USC00519397', '2017-08-23', 0.0, 81)
2018-05-03 21:07:09,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,597 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-01', 0.28, 67)
2018-05-03 21:07:09,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,603 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-02', 0.0, 65)
2018-05-03 21:07:09,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,606 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-03', 0.0, 75)
2018-05-03 21:07:09,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,611 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-04', 0.0, 76)
2018-05-03 21:07:09,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,616 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-05', 0.0, 76)
2018-05-03 21:07:09,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,619 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-06', 0.02, 76)
2018-05-03 21:07:09,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,622 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-07', 0.38, 70)
2018-05-03 21:07:09,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,625 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-08', 0.01, 66)
2018-05-03 21:07:09,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-09', 0.0, 69)
2018-05-03 21:07:09,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,635 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-10', 0.0, 74)
2018-05-03 21:07:09,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,637 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-11', 0.03, 67)
2018-05-03 21:07:09,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,640 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-12', 0.0, 64)
2018-05-03 21:07:09,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,648 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-13', 0.0, 64)
2018-05-03 21:07:09,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-14', 0.0, 65)
2018-05-03 21:07:09,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,652 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-15', 0.0, 69)
2018-05-03 21:07:09,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,657 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-16', 0.0, 71)
2018-05-03 21:07:09,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,670 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-17', 0.0, 69)
2018-05-03 21:07:09,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,674 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-18', 0.0, 73)
2018-05-03 21:07:09,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,687 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-19', 0.0, 73)
2018-05-03 21:07:09,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,690 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-20', 0.01, 72)
2018-05-03 21:07:09,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,693 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-21', 0.04, 70)
2018-05-03 21:07:09,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,697 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-22', 0.0, 65)
2018-05-03 21:07:09,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,702 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-23', 0.0, 73)
2018-05-03 21:07:09,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,705 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-24', 0.0, 74)
2018-05-03 21:07:09,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,706 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-25', 0.0, 68)
2018-05-03 21:07:09,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,712 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-26', 0.0, 77)
2018-05-03 21:07:09,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,718 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-27', 0.12, 71)
2018-05-03 21:07:09,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,721 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-28', 0.19, 68)
2018-05-03 21:07:09,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,728 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-29', 0.19, 68)
2018-05-03 21:07:09,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,732 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-30', 1.7, 69)
2018-05-03 21:07:09,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,736 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-01-31', 0.28, 73)
2018-05-03 21:07:09,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,738 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-01', 0.01, 69)
2018-05-03 21:07:09,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,741 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-02', 0.0, 70)
2018-05-03 21:07:09,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,744 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-03', 0.31, 66)
2018-05-03 21:07:09,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,750 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-04', 0.0, 69)
2018-05-03 21:07:09,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:09,753 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-05', 0.0, 70)
2018-05-03 21:07:09,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,755 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-06', 0.06, 66)
2018-05-03 21:07:09,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,757 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-07', 0.0, 66)
2018-05-03 21:07:09,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,760 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-08', 0.0, 71)
2018-05-03 21:07:09,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,767 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-09', 0.0, 72)
2018-05-03 21:07:09,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,770 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-10', 0.0, 65)
2018-05-03 21:07:09,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,772 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-13', 0.0, 71)
2018-05-03 21:07:09,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,872 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-14', 0.0, 67)
2018-05-03 21:07:09,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,875 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-15', 0.0, 72)
2018-05-03 21:07:09,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,878 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-16', 0.0, 64)
2018-05-03 21:07:09,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,882 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-17', 0.02, 69)
2018-05-03 21:07:09,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,884 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-18', 0.0, 68)
2018-05-03 21:07:09,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,886 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-19', 0.05, 63)
2018-05-03 21:07:09,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,888 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-20', 0.17, 66)
2018-05-03 21:07:09,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,890 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-21', 0.04, 66)
2018-05-03 21:07:09,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,892 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-22', 0.87, 66)
2018-05-03 21:07:09,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,896 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-23', 0.0, 65)
2018-05-03 21:07:09,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,902 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-24', 0.0, 65)
2018-05-03 21:07:09,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,904 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-25', 0.0, 70)
2018-05-03 21:07:09,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,907 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-26', 0.0, 74)
2018-05-03 21:07:09,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,910 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-27', 0.0, 70)
2018-05-03 21:07:09,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,915 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-02-28', 0.0, 70)
2018-05-03 21:07:09,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,918 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-01', 0.04, 70)
2018-05-03 21:07:09,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,921 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-02', 0.0, 71)
2018-05-03 21:07:09,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,925 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-03', 0.0, 71)
2018-05-03 21:07:09,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,928 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-04', 0.33, 68)
2018-05-03 21:07:09,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,934 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-05', 0.21, 69)
2018-05-03 21:07:09,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,937 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-06', 0.09, 71)
2018-05-03 21:07:09,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,940 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-07', 0.0, 70)
2018-05-03 21:07:09,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,944 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-08', 0.34, 70)
2018-05-03 21:07:09,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,948 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-09', 0.05, 68)
2018-05-03 21:07:09,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,950 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-10', 0.04, 70)
2018-05-03 21:07:09,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,952 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-11', 0.09, 71)
2018-05-03 21:07:09,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,955 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-12', 0.03, 71)
2018-05-03 21:07:09,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,957 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-13', 0.0, 70)
2018-05-03 21:07:09,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,960 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-14', 0.0, 72)
2018-05-03 21:07:09,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:09,964 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-15', 0.16, 70)
2018-05-03 21:07:09,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,967 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-16', 0.16, 71)
2018-05-03 21:07:09,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,970 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-17', 0.4, 66)
2018-05-03 21:07:09,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,973 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-18', 0.44, 66)
2018-05-03 21:07:09,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,977 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-19', 0.08, 69)
2018-05-03 21:07:09,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,981 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-20', 0.01, 69)
2018-05-03 21:07:09,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,984 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-21', 0.0, 71)
2018-05-03 21:07:09,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,986 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-22', 0.0, 68)
2018-05-03 21:07:09,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,988 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-23', 0.0, 67)
2018-05-03 21:07:09,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,990 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-24', 0.03, 72)
2018-05-03 21:07:09,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,994 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-25', 0.01, 72)
2018-05-03 21:07:09,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:09,998 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-26', 0.02, 71)
2018-05-03 21:07:10,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,001 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-27', 0.01, 71)
2018-05-03 21:07:10,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,003 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-28', 0.01, 71)
2018-05-03 21:07:10,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,005 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-29', 0.0, 72)
2018-05-03 21:07:10,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,008 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-30', 0.02, 73)
2018-05-03 21:07:10,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,011 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-03-31', 0.02, 71)
2018-05-03 21:07:10,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,015 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-01', 0.01, 73)
2018-05-03 21:07:10,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,018 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-02', 0.02, 71)
2018-05-03 21:07:10,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,023 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-03', 0.03, 72)
2018-05-03 21:07:10,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,026 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-04', 0.13, 71)
2018-05-03 21:07:10,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,031 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-05', 0.19, 71)
2018-05-03 21:07:10,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,034 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-06', 0.07, 69)
2018-05-03 21:07:10,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,037 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-07', 0.51, 70)
2018-05-03 21:07:10,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,039 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-08', 0.0, 73)
2018-05-03 21:07:10,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,042 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-09', 0.24, 69)
2018-05-03 21:07:10,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,051 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-10', 0.03, 72)
2018-05-03 21:07:10,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,054 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-11', 0.03, 69)
2018-05-03 21:07:10,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,057 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-12', 0.01, 71)
2018-05-03 21:07:10,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,060 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-13', 0.06, 71)
2018-05-03 21:07:10,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,065 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-14', 0.07, 69)
2018-05-03 21:07:10,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,068 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-04-15', 0.0, 69)
2018-05-03 21:07:10,378 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-10', 0.02, 75)
2018-05-03 21:07:10,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,388 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-11', 0.0, 83)
2018-05-03 21:07:10,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,393 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-12', 0.0, 75)
2018-05-03 21:07:10,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,397 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-13', 0.01, 76)
2018-05-03 21:07:10,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,400 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-14', 0.06, 73)

2018-05-03 21:07:10,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,403 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-15', 0.0, 74)
2018-05-03 21:07:10,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,405 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-16', 0.01, 74)
2018-05-03 21:07:10,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,408 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-17', 0.02, 75)
2018-05-03 21:07:10,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,411 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-18', 0.06, 70)
2018-05-03 21:07:10,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,416 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-19', 0.13, 74)
2018-05-03 21:07:10,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,421 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-20', 0.02, 75)
2018-05-03 21:07:10,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,424 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-21', 0.01, 75)
2018-05-03 21:07:10,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,427 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-22', 0.0, 75)
2018-05-03 21:07:10,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,434 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-23', 0.0, 75)
2018-05-03 21:07:10,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,437 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-24', 0.01, 75)
2018-05-03 21:07:10,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,439 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-25', 0.05, 74)
2018-05-03 21:07:10,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,441 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-26', 0.24, 72)
2018-05-03 21:07:10,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,446 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-27', 0.03, 76)
2018-05-03 21:07:10,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,451 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-28', 0.11, 73)
2018-05-03 21:07:10,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,455 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-29', 0.0, 75)
2018-05-03 21:07:10,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,457 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-06-30', 0.03, 76)
2018-05-03 21:07:10,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,459 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-01', 0.01, 73)
2018-05-03 21:07:10,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,465 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-02', 0.14, 72)
2018-05-03 21:07:10,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,468 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-03', 0.06, 75)
2018-05-03 21:07:10,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,471 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-04', 0.07, 75)
2018-05-03 21:07:10,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,474 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-05', 0.03, 72)
2018-05-03 21:07:10,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,478 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-06', 0.05, 72)
2018-05-03 21:07:10,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,484 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-07', 0.11, 73)
2018-05-03 21:07:10,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,486 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-08', 0.04, 74)
2018-05-03 21:07:10,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,489 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-09', 0.04, 74)
2018-05-03 21:07:10,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,491 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-10', 0.09, 73)
2018-05-03 21:07:10,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,495 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-11', 0.02, 81)
2018-05-03 21:07:10,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,501 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-12', 0.0, 72)
2018-05-03 21:07:10,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,505 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-13', 0.01, 72)
2018-05-03 21:07:10,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,507 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-14', 0.45, 70)
2018-05-03 21:07:10,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,509 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-15', 0.04, 72)
2018-05-03 21:07:10,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,514 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-16', 0.02, 76)
2018-05-03 21:07:10,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,517 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-17', 0.04, 75)
2018-05-03 21:07:10,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,519 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-18', 0.05, 75)
2018-05-03 21:07:10,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,524 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-19', 0.12, 74)
2018-05-03 21:07:10,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:10,530 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-20', 0.21, 75)
2018-05-03 21:07:10,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,535 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-21', 0.0, 74)
2018-05-03 21:07:10,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,537 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-22', 0.15, 76)
2018-05-03 21:07:10,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,540 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-23', 0.09, 73)
2018-05-03 21:07:10,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,542 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-24', 0.0, 77)
2018-05-03 21:07:10,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,549 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-25', 0.0, 77)
2018-05-03 21:07:10,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,553 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-26', 0.0, 76)
2018-05-03 21:07:10,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,555 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-27', 0.03, 72)
2018-05-03 21:07:10,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,558 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-28', 0.46, 75)
2018-05-03 21:07:10,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,562 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-29', 0.02, 75)
2018-05-03 21:07:10,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,566 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-30', 0.01, 76)
2018-05-03 21:07:10,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,568 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-07-31', 0.02, 77)
2018-05-03 21:07:10,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,569 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-01', 0.16, 72)
2018-05-03 21:07:10,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,572 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-02', 0.15, 74)
2018-05-03 21:07:10,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,574 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-03', 0.04, 74)
2018-05-03 21:07:10,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,583 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-04', 0.12, 74)
2018-05-03 21:07:10,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,587 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-05', 0.13, 72)
2018-05-03 21:07:10,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,589 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-06', 0.0, 75)
2018-05-03 21:07:10,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,592 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-07', 0.05, 74)
2018-05-03 21:07:10,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,600 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-08', 0.1, 73)
2018-05-03 21:07:10,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,604 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-09', 0.04, 76)
2018-05-03 21:07:10,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,606 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-10', 0.0, 76)
2018-05-03 21:07:10,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,608 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-11', 0.0, 72)
2018-05-03 21:07:10,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,610 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-12', 0.02, 76)
2018-05-03 21:07:10,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,615 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-13', 0.19, 76)
2018-05-03 21:07:10,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,617 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-14', 0.0, 75)
2018-05-03 21:07:10,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,619 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-15', 0.0, 75)
2018-05-03 21:07:10,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,621 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-16', 0.12, 70)
2018-05-03 21:07:10,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,623 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-17', 0.24, 72)
2018-05-03 21:07:10,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,625 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-18', 0.08, 73)
2018-05-03 21:07:10,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,629 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-19', 0.06, 76)
2018-05-03 21:07:10,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,633 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-20', 0.01, 76)
2018-05-03 21:07:10,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,635 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-21', 0.0, 76)
2018-05-03 21:07:10,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,639 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-22', 0.02, 75)
2018-05-03 21:07:10,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,641 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-23', 0.0, 76)
2018-05-03 21:07:10,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,645 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-24', 0.08, 74)
2018-05-03 21:07:10,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-25', 0.25, 73)
2018-05-03 21:07:10,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,653 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-26', 0.05, 74)
2018-05-03 21:07:10,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,655 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-27', 0.21, 75)
2018-05-03 21:07:10,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,657 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-28', 0.0, 76)
2018-05-03 21:07:10,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,659 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-29', 0.1, 76)
2018-05-03 21:07:10,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,669 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-30', 0.02, 76)
2018-05-03 21:07:10,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,672 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-08-31', 0.0, 76)
2018-05-03 21:07:10,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,674 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-01', 0.0, 75)
2018-05-03 21:07:10,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,805 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-02', 0.03, 73)
2018-05-03 21:07:10,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,807 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-03', 0.29, 72)
2018-05-03 21:07:10,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,809 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-04', 0.04, 73)
2018-05-03 21:07:10,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,818 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-05', 0.08, 74)
2018-05-03 21:07:10,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,821 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-06', 0.01, 75)
2018-05-03 21:07:10,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,824 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-07', 0.03, 75)
2018-05-03 21:07:10,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,826 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-08', 0.01, 75)
2018-05-03 21:07:10,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,830 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-09', 0.01, 75)
2018-05-03 21:07:10,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,834 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-10', 0.03, 76)
2018-05-03 21:07:10,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,837 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-11', 0.02, 77)
2018-05-03 21:07:10,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,840 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-12', 0.0, 76)
2018-05-03 21:07:10,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,842 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-13', 0.0, 75)
2018-05-03 21:07:10,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,845 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-14', 0.01, 76)
2018-05-03 21:07:10,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,851 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-15', 0.0, 76)
2018-05-03 21:07:10,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,853 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-16', 0.01, 77)
2018-05-03 21:07:10,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,855 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-17', 0.0, 76)
2018-05-03 21:07:10,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,857 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-18', 0.03, 76)
2018-05-03 21:07:10,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,862 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-19', 0.08, 78)
2018-05-03 21:07:10,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,867 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-20', 0.03, 77)
2018-05-03 21:07:10,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,870 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-21', 0.02, 75)
2018-05-03 21:07:10,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,872 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-22', 0.5, 74)
2018-05-03 21:07:10,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,874 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-23', 0.33, 75)
2018-05-03 21:07:10,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,877 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-24', 0.0, 75)
2018-05-03 21:07:10,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,882 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-25', 0.0, 76)
2018-05-03 21:07:10,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,884 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-27', 0.0, 72)
2018-05-03 21:07:10,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,886 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-28', 0.0, 73)
2018-05-03 21:07:10,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,889 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-29', 0.0, 73)
2018-05-03 21:07:10,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:10,891 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-09-30', 0.02, 73)
2018-05-03 21:07:10,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,894 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-01', 0.43, 72)
2018-05-03 21:07:10,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,899 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-02', 0.16, 76)
2018-05-03 21:07:10,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,902 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-03', 0.07, 82)
2018-05-03 21:07:10,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,904 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-04', 0.06, 76)
2018-05-03 21:07:10,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,906 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-05', 0.07, 77)
2018-05-03 21:07:10,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,908 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-06', 0.0, 76)
2018-05-03 21:07:10,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,914 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-07', 0.0, 74)
2018-05-03 21:07:10,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,920 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-08', 0.0, 72)
2018-05-03 21:07:10,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,922 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-09', 0.0, 76)
2018-05-03 21:07:10,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,924 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-10', 0.03, 75)
2018-05-03 21:07:10,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,926 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-11', 0.04, 76)
2018-05-03 21:07:10,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,929 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-12', 0.06, 71)
2018-05-03 21:07:10,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,933 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-13', 0.02, 77)
2018-05-03 21:07:10,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,935 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-14', 0.0, 76)
2018-05-03 21:07:10,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,937 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-15', 0.0, 74)
2018-05-03 21:07:10,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,939 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-16', 0.0, 76)
2018-05-03 21:07:10,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,941 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-17', 0.16, 77)
2018-05-03 21:07:10,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,944 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-18', 0.02, 71)
2018-05-03 21:07:10,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,949 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-19', 0.0, 72)
2018-05-03 21:07:10,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,951 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-20', 0.0, 71)
2018-05-03 21:07:10,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,953 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-21', 0.04, 73)
2018-05-03 21:07:10,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,957 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-22', 0.0, 76)
2018-05-03 21:07:10,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,959 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-23', 0.0, 84)
2018-05-03 21:07:10,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,973 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-24', 0.0, 76)
2018-05-03 21:07:10,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,975 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-25', 0.0, 77)
2018-05-03 21:07:10,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,983 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-26', 0.16, 76)
2018-05-03 21:07:10,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,987 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-27', 0.06, 76)
2018-05-03 21:07:10,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,990 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-28', 0.09, 76)
2018-05-03 21:07:10,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,992 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-29', 0.1, 75)
2018-05-03 21:07:10,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:10,997 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-30', 0.11, 74)
2018-05-03 21:07:10,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,001 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-10-31', 0.0, 71)
2018-05-03 21:07:11,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,005 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-01', 0.42, 73)
2018-05-03 21:07:11,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,007 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-02', 0.1, 70)
2018-05-03 21:07:11,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,012 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-03', 0.0, 71)
2018-05-03 21:07:11,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,019 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-04', 0.39, 73)
2018-05-03 21:07:11,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:11,021 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-05', 0.07, 75)
2018-05-03 21:07:11,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,025 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-06', 0.1, 75)
2018-05-03 21:07:11,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,034 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-07', 0.21, 75)
2018-05-03 21:07:11,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,040 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-08', 0.0, 75)
2018-05-03 21:07:11,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,042 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-09', 0.01, 75)
2018-05-03 21:07:11,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,049 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-10', 0.0, 76)
2018-05-03 21:07:11,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,054 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-11', 0.0, 75)
2018-05-03 21:07:11,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,057 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-12', 0.0, 75)
2018-05-03 21:07:11,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,061 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-13', 0.03, 75)
2018-05-03 21:07:11,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,067 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-14', 0.02, 74)
2018-05-03 21:07:11,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,070 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-15', 0.35, 75)
2018-05-03 21:07:11,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,072 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-16', 0.01, 74)
2018-05-03 21:07:11,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,075 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-17', 0.0, 70)
2018-05-03 21:07:11,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,084 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-18', 0.0, 71)
2018-05-03 21:07:11,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,089 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-19', 0.19, 71)
2018-05-03 21:07:11,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,091 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-20', 0.02, 71)
2018-05-03 21:07:11,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,096 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-21', 0.0, 71)
2018-05-03 21:07:11,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,101 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-22', 0.02, 68)
2018-05-03 21:07:11,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,103 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-23', 0.0, 69)
2018-05-03 21:07:11,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,106 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-24', 0.0, 75)
2018-05-03 21:07:11,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,109 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-25', 0.16, 75)
2018-05-03 21:07:11,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,112 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-26', 0.0, 74)
2018-05-03 21:07:11,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,118 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-27', 0.03, 74)
2018-05-03 21:07:11,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,122 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-28', 0.49, 71)
2018-05-03 21:07:11,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,125 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-29', 0.04, 70)
2018-05-03 21:07:11,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,130 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-11-30', 0.15, 73)
2018-05-03 21:07:11,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,134 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-01', 0.76, 73)
2018-05-03 21:07:11,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,136 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-02', 0.13, 72)
2018-05-03 21:07:11,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,139 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-03', 0.16, 73)
2018-05-03 21:07:11,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,141 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-04', 0.0, 74)
2018-05-03 21:07:11,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,147 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-05', 0.0, 73)
2018-05-03 21:07:11,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,153 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-06', 0.0, 66)
2018-05-03 21:07:11,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,156 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-07', 0.0, 64)
2018-05-03 21:07:11,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,158 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-08', 0.0, 66)
2018-05-03 21:07:11,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,161 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-09', 0.0, 75)
2018-05-03 21:07:11,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,167 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-10', 1.95, 65)
2018-05-03 21:07:11,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,172 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-11', 0.62, 69)
2018-05-03 21:07:11,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,291 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-12', 0.15, 71)
2018-05-03 21:07:11,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,292 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-13', 0.47, 69)
2018-05-03 21:07:11,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,295 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-14', 0.0, 78)
2018-05-03 21:07:11,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,300 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-15', 0.0, 74)
2018-05-03 21:07:11,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,303 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-16', 0.0, 68)
2018-05-03 21:07:11,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,305 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-17', 0.0, 68)
2018-05-03 21:07:11,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,309 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-18', 0.0, 70)
2018-05-03 21:07:11,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,320 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-19', 3.18, 70)
2018-05-03 21:07:11,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,323 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-20', 4.94, 71)
2018-05-03 21:07:11,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-21', 0.43, 71)
2018-05-03 21:07:11,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,329 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-22', 0.01, 71)
2018-05-03 21:07:11,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,334 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-23', 0.02, 71)
2018-05-03 21:07:11,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,336 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-24', 0.0, 69)
2018-05-03 21:07:11,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,338 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-25', 2.95, 69)
2018-05-03 21:07:11,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,349 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-26', 0.99, 72)
2018-05-03 21:07:11,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,354 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-27', 0.46, 76)
2018-05-03 21:07:11,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,357 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-28', 0.63, 72)
2018-05-03 21:07:11,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,361 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-29', 0.02, 73)
2018-05-03 21:07:11,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,367 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-30', 0.11, 73)
2018-05-03 21:07:11,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,372 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2010-12-31', 0.05, 74)
2018-05-03 21:07:11,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,375 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-01', 0.42, 69)
2018-05-03 21:07:11,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,382 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-02', 0.11, 74)
2018-05-03 21:07:11,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,386 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-03', 0.01, 74)
2018-05-03 21:07:11,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,388 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-04', 0.0, 73)
2018-05-03 21:07:11,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,391 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-05', 0.04, 67)
2018-05-03 21:07:11,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,394 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-06', 0.21, 67)
2018-05-03 21:07:11,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,398 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-07', 0.02, 65)
2018-05-03 21:07:11,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,401 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-08', 0.01, 64)
2018-05-03 21:07:11,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,406 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-09', 0.0, 63)
2018-05-03 21:07:11,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,408 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-10', 0.0, 72)
2018-05-03 21:07:11,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,410 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-11', 0.11, 61)
2018-05-03 21:07:11,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,417 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-12', 0.46, 71)
2018-05-03 21:07:11,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,420 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-13', 5.21, 70)
2018-05-03 21:07:11,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,423 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-14', 0.22, 76)
2018-05-03 21:07:11,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:11,425 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-15', 0.0, 68)
2018-05-03 21:07:11,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,430 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-16', 0.0, 69)
2018-05-03 21:07:11,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,437 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-17', 0.03, 69)
2018-05-03 21:07:11,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,439 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-18', 0.0, 66)
2018-05-03 21:07:11,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,442 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-19', 0.05, 64)
2018-05-03 21:07:11,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,444 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-20', 0.01, 72)
2018-05-03 21:07:11,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,452 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-21', 0.01, 73)
2018-05-03 21:07:11,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,455 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-22', 0.0, 73)
2018-05-03 21:07:11,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,458 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-23', 0.0, 72)
2018-05-03 21:07:11,461 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,466 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-24', 0.01, 72)
2018-05-03 21:07:11,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,473 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-25', 0.0, 65)
2018-05-03 21:07:11,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,476 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-26', 0.0, 67)
2018-05-03 21:07:11,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,490 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-27', 0.0, 72)
2018-05-03 21:07:11,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,493 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-28', 0.0, 72)
2018-05-03 21:07:11,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,500 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-29', 0.01, 69)
2018-05-03 21:07:11,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,503 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-30', 0.02, 72)
2018-05-03 21:07:11,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,506 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-01-31', 0.02, 70)
2018-05-03 21:07:11,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,510 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-01', 0.0, 67)
2018-05-03 21:07:11,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,513 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-02', 0.0, 72)
2018-05-03 21:07:11,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,521 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-03', 0.0, 68)
2018-05-03 21:07:11,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,524 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-04', 0.0, 65)
2018-05-03 21:07:11,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,527 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-05', 0.0, 71)
2018-05-03 21:07:11,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,533 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-06', 0.02, 76)
2018-05-03 21:07:11,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,536 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-07', 1.06, 68)
2018-05-03 21:07:11,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,538 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-08', 0.52, 70)
2018-05-03 21:07:11,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,541 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-09', 0.02, 71)
2018-05-03 21:07:11,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,545 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-10', 0.03, 71)
2018-05-03 21:07:11,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,550 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-11', 0.33, 71)
2018-05-03 21:07:11,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,555 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-12', 1.54, 68)
2018-05-03 21:07:11,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,558 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-13', 0.19, 67)
2018-05-03 21:07:11,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,561 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-14', 0.0, 70)
2018-05-03 21:07:11,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,567 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-15', 0.0, 70)
2018-05-03 21:07:11,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,574 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-16', 0.2, 74)
2018-05-03 21:07:11,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,579 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-17', 0.05, 74)
2018-05-03 21:07:11,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,588 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-18', 0.1, 74)
2018-05-03 21:07:11,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,598 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-19', 0.0, 70)
2018-05-03 21:07:11,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,607 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-20', 4.88, 71)
2018-05-03 21:07:11,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,612 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-21', 0.0, 69)
2018-05-03 21:07:11,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,618 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-22', 0.02, 72)
2018-05-03 21:07:11,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,620 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-23', 0.0, 73)
2018-05-03 21:07:11,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,623 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-24', 3.3, 67)
2018-05-03 21:07:11,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,627 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-25', 0.0, 66)
2018-05-03 21:07:11,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-26', 0.0, 69)
2018-05-03 21:07:11,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,635 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-27', 0.02, 69)
2018-05-03 21:07:11,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,638 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-02-28', 0.0, 70)
2018-05-03 21:07:11,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,641 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-01', 0.14, 66)
2018-05-03 21:07:11,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,643 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-02', 0.0, 72)
2018-05-03 21:07:11,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-03', 0.12, 70)
2018-05-03 21:07:11,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,652 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-04', 1.05, 71)
2018-05-03 21:07:11,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,654 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-05', 0.13, 69)
2018-05-03 21:07:11,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,672 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-06', 1.16, 72)
2018-05-03 21:07:11,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,676 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-07', 0.01, 73)
2018-05-03 21:07:11,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,681 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-08', 0.03, 72)
2018-05-03 21:07:11,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,687 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-09', 0.09, 69)
2018-05-03 21:07:11,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,691 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-10', 1.33, 72)
2018-05-03 21:07:11,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,693 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-11', 0.07, 72)
2018-05-03 21:07:11,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,697 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-12', 0.14, 71)
2018-05-03 21:07:11,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,701 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-13', 0.0, 72)
2018-05-03 21:07:11,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,705 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-14', 0.0, 73)
2018-05-03 21:07:11,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,708 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-15', 0.0, 73)
2018-05-03 21:07:11,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,711 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-16', 0.01, 74)
2018-05-03 21:07:11,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,716 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-17', 0.01, 71)
2018-05-03 21:07:11,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,718 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-18', 0.03, 71)
2018-05-03 21:07:11,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,720 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-19', 0.04, 73)
2018-05-03 21:07:11,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,722 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-20', 0.14, 73)
2018-05-03 21:07:11,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,802 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-21', 0.0, 72)
2018-05-03 21:07:11,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,804 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-22', 0.18, 70)
2018-05-03 21:07:11,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,808 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-23', 0.04, 72)
2018-05-03 21:07:11,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,811 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-24', 0.12, 72)
2018-05-03 21:07:11,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,817 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-25', 0.07, 72)
2018-05-03 21:07:11,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,821 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-26', 0.02, 72)

2018-05-03 21:07:11,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,823 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-27', 0.04, 72)
2018-05-03 21:07:11,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,825 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-28', 0.08, 72)
2018-05-03 21:07:11,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,829 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-29', 0.05, 72)
2018-05-03 21:07:11,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,835 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-30', 0.08, 73)
2018-05-03 21:07:11,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,839 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-03-31', 0.0, 72)
2018-05-03 21:07:11,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,842 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-01', 0.03, 72)
2018-05-03 21:07:11,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,845 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-02', 0.01, 72)
2018-05-03 21:07:11,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,849 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-03', 0.01, 70)
2018-05-03 21:07:11,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,852 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-04', 0.0, 73)
2018-05-03 21:07:11,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,855 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-05', 0.0, 71)
2018-05-03 21:07:11,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,857 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-06', 0.09, 70)
2018-05-03 21:07:11,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,859 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-07', 0.68, 67)
2018-05-03 21:07:11,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,864 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-08', 0.39, 68)
2018-05-03 21:07:11,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,869 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-09', 0.02, 74)
2018-05-03 21:07:11,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,874 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-10', 0.0, 74)
2018-05-03 21:07:11,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,876 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-11', 0.0, 73)
2018-05-03 21:07:11,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,879 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-12', 0.0, 73)
2018-05-03 21:07:11,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,886 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-13', 0.02, 67)
2018-05-03 21:07:11,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,889 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-14', 0.02, 73)
2018-05-03 21:07:11,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,890 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-15', 0.04, 69)
2018-05-03 21:07:11,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,893 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-16', 0.05, 70)
2018-05-03 21:07:11,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,900 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-17', 0.0, 73)
2018-05-03 21:07:11,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,904 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-18', 0.0, 72)
2018-05-03 21:07:11,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,906 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-19', 0.0, 72)
2018-05-03 21:07:11,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,909 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-20', 0.0, 70)
2018-05-03 21:07:11,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,911 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-21', 0.0, 71)
2018-05-03 21:07:11,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,915 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-22', 0.0, 73)
2018-05-03 21:07:11,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,920 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-23', 0.0, 75)
2018-05-03 21:07:11,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,922 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-24', 0.0, 73)
2018-05-03 21:07:11,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,924 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-25', 0.0, 74)
2018-05-03 21:07:11,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,926 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-26', 0.12, 73)
2018-05-03 21:07:11,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,928 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-27', 0.02, 74)
2018-05-03 21:07:11,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,933 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-28', 0.01, 74)
2018-05-03 21:07:11,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,938 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-29', 0.13, 72)
2018-05-03 21:07:11,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,942 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-04-30', 0.02, 71)
2018-05-03 21:07:11,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:11,947 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-01', 0.0, 74)
2018-05-03 21:07:11,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,952 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-02', 0.22, 74)
2018-05-03 21:07:11,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,955 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-03', 0.42, 71)
2018-05-03 21:07:11,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,958 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-04', 0.25, 73)
2018-05-03 21:07:11,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,972 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-05', 0.15, 72)
2018-05-03 21:07:11,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,974 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-06', 0.23, 72)
2018-05-03 21:07:11,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,976 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-07', 0.86, 72)
2018-05-03 21:07:11,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,979 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-08', 1.76, 68)
2018-05-03 21:07:11,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,983 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-09', 0.73, 74)
2018-05-03 21:07:11,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,986 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-10', 0.24, 72)
2018-05-03 21:07:11,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,988 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-11', 0.92, 71)
2018-05-03 21:07:11,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,990 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-12', 0.02, 74)
2018-05-03 21:07:11,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,992 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-13', 0.01, 74)
2018-05-03 21:07:11,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:11,995 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-14', 0.0, 76)
2018-05-03 21:07:11,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,001 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-15', 0.0, 73)
2018-05-03 21:07:12,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,004 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-16', 0.01, 74)
2018-05-03 21:07:12,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,006 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-17', 0.0, 73)
2018-05-03 21:07:12,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,009 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-18', 0.3, 70)
2018-05-03 21:07:12,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,012 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-19', 0.01, 71)
2018-05-03 21:07:12,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,017 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-20', 0.03, 74)
2018-05-03 21:07:12,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,021 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-21', 0.0, 75)
2018-05-03 21:07:12,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,023 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-22', 0.08, 74)
2018-05-03 21:07:12,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,025 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-23', 0.06, 74)
2018-05-03 21:07:12,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,027 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-24', 0.0, 74)
2018-05-03 21:07:12,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,034 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-25', 0.02, 74)
2018-05-03 21:07:12,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,038 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-26', 0.0, 74)
2018-05-03 21:07:12,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,040 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-27', 0.03, 74)
2018-05-03 21:07:12,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,042 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-28', 0.02, 76)
2018-05-03 21:07:12,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,048 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-29', 0.1, 76)
2018-05-03 21:07:12,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,052 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-30', 0.0, 75)
2018-05-03 21:07:12,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,055 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-05-31', 0.0, 74)
2018-05-03 21:07:12,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,058 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-01', 0.03, 74)
2018-05-03 21:07:12,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,061 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-02', 0.08, 75)
2018-05-03 21:07:12,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,067 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-03', 0.63, 71)
2018-05-03 21:07:12,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,070 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-04', 4.43, 69)
2018-05-03 21:07:12,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,073 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-05', 4.02, 69)
2018-05-03 21:07:12,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,076 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-06', 0.02, 74)
2018-05-03 21:07:12,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,082 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-07', 0.06, 71)
2018-05-03 21:07:12,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,087 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-08', 0.04, 74)
2018-05-03 21:07:12,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,090 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-09', 0.01, 74)
2018-05-03 21:07:12,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,092 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-10', 0.02, 75)
2018-05-03 21:07:12,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,096 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-11', 0.01, 73)
2018-05-03 21:07:12,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,100 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-12', 0.12, 73)
2018-05-03 21:07:12,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,102 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-13', 0.16, 73)
2018-05-03 21:07:12,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,105 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-14', 0.0, 75)
2018-05-03 21:07:12,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,107 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-15', 0.0, 75)
2018-05-03 21:07:12,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,110 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-16', 0.06, 74)
2018-05-03 21:07:12,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,115 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-17', 0.0, 74)
2018-05-03 21:07:12,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,118 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-18', 0.02, 75)
2018-05-03 21:07:12,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,121 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-19', 0.09, 74)
2018-05-03 21:07:12,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,125 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-20', 0.03, 73)
2018-05-03 21:07:12,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,129 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-21', 0.54, 72)
2018-05-03 21:07:12,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,136 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-22', 0.22, 74)
2018-05-03 21:07:12,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,139 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-23', 0.03, 72)
2018-05-03 21:07:12,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,142 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-24', 0.21, 75)
2018-05-03 21:07:12,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,146 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-25', 0.0, 76)
2018-05-03 21:07:12,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,152 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-26', 0.04, 74)
2018-05-03 21:07:12,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,156 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-27', 0.03, 74)
2018-05-03 21:07:12,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,158 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-28', 0.1, 74)
2018-05-03 21:07:12,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,293 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-29', 0.0, 74)
2018-05-03 21:07:12,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,297 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-06-30', 0.0, 74)
2018-05-03 21:07:12,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,301 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-01', 0.09, 74)
2018-05-03 21:07:12,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,304 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-02', 0.0, 75)
2018-05-03 21:07:12,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,306 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-03', 0.04, 76)
2018-05-03 21:07:12,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,308 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-04', 0.0, 74)
2018-05-03 21:07:12,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,311 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-05', 0.03, 74)
2018-05-03 21:07:12,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,314 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-06', 0.02, 76)
2018-05-03 21:07:12,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,318 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-07', 0.07, 73)
2018-05-03 21:07:12,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,320 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-08', 0.1, 75)
2018-05-03 21:07:12,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,323 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-09', 0.05, 75)
2018-05-03 21:07:12,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-10', 0.02, 76)
2018-05-03 21:07:12,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:12,328 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-11', 0.01, 74)
2018-05-03 21:07:12,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,336 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-12', 0.0, 74)
2018-05-03 21:07:12,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,338 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-13', 0.0, 74)
2018-05-03 21:07:12,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,341 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-14', 0.06, 73)
2018-05-03 21:07:12,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,343 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-15', 0.0, 75)
2018-05-03 21:07:12,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,346 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-16', 0.0, 75)
2018-05-03 21:07:12,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,352 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-17', 0.15, 75)
2018-05-03 21:07:12,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,356 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-18', 0.04, 74)
2018-05-03 21:07:12,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,358 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-19', 0.0, 74)
2018-05-03 21:07:12,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,361 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-20', 0.1, 71)
2018-05-03 21:07:12,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,365 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-21', 0.04, 75)
2018-05-03 21:07:12,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,368 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-22', 0.08, 74)
2018-05-03 21:07:12,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,370 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-23', 0.0, 75)
2018-05-03 21:07:12,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,372 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-24', 0.1, 70)
2018-05-03 21:07:12,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,374 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-25', 0.22, 74)
2018-05-03 21:07:12,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,375 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-26', 0.01, 74)
2018-05-03 21:07:12,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,377 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-27', 0.04, 75)
2018-05-03 21:07:12,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,380 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-28', 0.03, 75)
2018-05-03 21:07:12,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,384 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-29', 0.15, 74)
2018-05-03 21:07:12,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,386 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-30', 0.61, 75)
2018-05-03 21:07:12,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,388 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-07-31', 0.0, 76)
2018-05-03 21:07:12,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,390 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-01', 0.01, 74)
2018-05-03 21:07:12,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,392 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-02', 0.0, 74)
2018-05-03 21:07:12,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,394 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-03', 0.02, 75)
2018-05-03 21:07:12,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,397 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-04', 0.03, 74)
2018-05-03 21:07:12,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,401 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-05', 0.04, 75)
2018-05-03 21:07:12,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,403 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-06', 0.04, 74)
2018-05-03 21:07:12,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,405 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-07', 0.01, 76)
2018-05-03 21:07:12,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,406 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-08', 0.0, 75)
2018-05-03 21:07:12,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,408 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-09', 0.16, 76)
2018-05-03 21:07:12,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,410 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-10', 0.0, 75)
2018-05-03 21:07:12,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,413 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-11', 0.06, 75)
2018-05-03 21:07:12,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,417 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-12', 0.0, 75)
2018-05-03 21:07:12,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,419 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-13', 0.0, 76)
2018-05-03 21:07:12,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:12,422 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2011-08-14', 0.04, 75)
2018-05-03 21:07:14,612 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-16', 0.04, 72)
2018-05-03 21:07:14,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,618 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-17', 0.02, 72)
2018-05-03 21:07:14,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,625 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-18', 0.2, 71)
2018-05-03 21:07:14,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,628 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-19', 0.24, 70)
2018-05-03 21:07:14,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-20', 0.08, 71)
2018-05-03 21:07:14,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,636 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-21', 0.06, 71)
2018-05-03 21:07:14,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,638 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-22', 0.07, 71)
2018-05-03 21:07:14,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,639 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-23', 0.02, 66)
2018-05-03 21:07:14,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,641 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-24', 0.0, 65)
2018-05-03 21:07:14,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,644 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-25', 0.0, 73)
2018-05-03 21:07:14,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,646 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-26', 0.01, 72)
2018-05-03 21:07:14,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-27', 0.0, 72)
2018-05-03 21:07:14,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,653 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-28', 0.0, 65)
2018-05-03 21:07:14,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,655 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-29', 0.0, 65)
2018-05-03 21:07:14,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,657 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-30', 0.21, 68)
2018-05-03 21:07:14,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,659 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2012-12-31', 0.17, 67)
2018-05-03 21:07:14,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,661 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-01', 0.16, 71)
2018-05-03 21:07:14,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,663 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-02', 0.07, 69)
2018-05-03 21:07:14,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,667 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-03', 0.23, 68)
2018-05-03 21:07:14,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,673 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-04', 0.06, 71)
2018-05-03 21:07:14,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,677 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-05', 0.08, 71)
2018-05-03 21:07:14,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,679 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-06', 0.19, 71)
2018-05-03 21:07:14,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,686 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-07', 0.04, 71)
2018-05-03 21:07:14,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,691 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-08', 0.04, 70)
2018-05-03 21:07:14,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,693 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-09', 0.16, 70)
2018-05-03 21:07:14,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,695 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-10', 0.05, 71)
2018-05-03 21:07:14,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,701 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-11', 0.0, 71)
2018-05-03 21:07:14,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,704 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-13', 0.0, 77)
2018-05-03 21:07:14,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,706 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-14', 0.0, 74)
2018-05-03 21:07:14,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,708 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-15', 1.27, 64)
2018-05-03 21:07:14,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,710 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-16', 0.0, 60)
2018-05-03 21:07:14,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,712 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-17', 0.1, 62)
2018-05-03 21:07:14,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,719 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-18', 0.0, 62)
2018-05-03 21:07:14,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,721 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-19', 0.0, 67)
2018-05-03 21:07:14,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,723 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-20', 0.0, 68)
2018-05-03 21:07:14,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,725 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-21', 0.0, 70)
2018-05-03 21:07:14,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,727 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-22', 0.0, 70)
2018-05-03 21:07:14,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:14,732 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-23', 0.0, 70)
2018-05-03 21:07:14,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,737 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-24', 0.71, 67)
2018-05-03 21:07:14,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,740 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-25', 0.59, 64)
2018-05-03 21:07:14,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,742 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-26', 0.0, 65)
2018-05-03 21:07:14,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,744 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-27', 0.03, 74)
2018-05-03 21:07:14,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,746 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-28', 2.6, 64)
2018-05-03 21:07:14,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,750 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-29', 0.71, 65)
2018-05-03 21:07:14,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,754 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-30', 0.0, 64)
2018-05-03 21:07:14,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,756 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-01-31', 0.0, 70)
2018-05-03 21:07:14,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,758 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-01', 0.0, 69)
2018-05-03 21:07:14,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,760 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-02', 0.0, 70)
2018-05-03 21:07:14,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,763 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-03', 0.0, 67)
2018-05-03 21:07:14,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,768 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-04', 0.0, 70)
2018-05-03 21:07:14,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,773 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-05', 0.0, 70)
2018-05-03 21:07:14,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,776 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-06', 0.0, 70)
2018-05-03 21:07:14,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,779 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-07', 0.16, 70)
2018-05-03 21:07:14,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,786 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-08', 0.01, 70)
2018-05-03 21:07:14,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,791 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-09', 0.0, 69)
2018-05-03 21:07:14,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,794 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-10', 0.02, 70)
2018-05-03 21:07:14,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,796 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-11', 0.07, 69)
2018-05-03 21:07:14,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,800 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-12', 0.02, 68)
2018-05-03 21:07:14,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,808 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-13', 0.02, 68)
2018-05-03 21:07:14,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,811 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-14', 0.0, 68)
2018-05-03 21:07:14,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,813 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-15', 0.0, 69)
2018-05-03 21:07:14,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,817 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-16', 0.04, 70)
2018-05-03 21:07:14,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,820 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-17', 0.0, 68)
2018-05-03 21:07:14,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,822 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-18', 0.0, 70)
2018-05-03 21:07:14,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,824 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-19', 0.12, 69)
2018-05-03 21:07:14,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,826 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-20', 0.11, 70)
2018-05-03 21:07:14,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,827 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-21', 0.05, 69)
2018-05-03 21:07:14,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,830 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-22', 0.83, 69)
2018-05-03 21:07:14,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,836 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-23', 0.23, 69)
2018-05-03 21:07:14,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,839 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-24', 0.09, 69)
2018-05-03 21:07:14,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,841 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-25', 0.02, 68)
2018-05-03 21:07:14,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,844 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-26', 0.08, 69)
2018-05-03 21:07:14,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,849 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-27', 0.03, 70)
2018-05-03 21:07:14,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,855 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-02-28', 0.0, 70)
2018-05-03 21:07:14,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,859 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-01', 0.0, 69)
2018-05-03 21:07:14,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,861 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-02', 0.0, 70)
2018-05-03 21:07:14,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,864 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-03', 0.0, 70)
2018-05-03 21:07:14,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,869 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-04', 0.0, 70)
2018-05-03 21:07:14,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,871 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-05', 0.0, 70)
2018-05-03 21:07:14,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,873 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-06', 0.02, 69)
2018-05-03 21:07:14,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,875 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-07', 0.06, 66)
2018-05-03 21:07:14,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,877 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-08', 0.15, 61)
2018-05-03 21:07:14,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:14,879 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-09', 0.1, 70)
2018-05-03 21:07:15,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,013 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-10', 1.69, 68)
2018-05-03 21:07:15,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,017 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-11', 0.8, 62)
2018-05-03 21:07:15,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,022 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-12', 0.01, 66)
2018-05-03 21:07:15,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,026 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-13', 0.03, 64)
2018-05-03 21:07:15,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,028 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-14', 0.0, 66)
2018-05-03 21:07:15,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,032 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-15', 0.0, 62)
2018-05-03 21:07:15,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,038 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-16', 0.0, 74)
2018-05-03 21:07:15,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,042 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-17', 0.0, 63)
2018-05-03 21:07:15,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,045 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-18', 0.49, 59)
2018-05-03 21:07:15,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,050 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-19', 0.0, 63)
2018-05-03 21:07:15,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,054 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-20', 0.0, 63)
2018-05-03 21:07:15,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,057 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-21', 0.0, 76)
2018-05-03 21:07:15,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,059 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-22', 0.0, 73)
2018-05-03 21:07:15,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,061 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-23', 0.11, 66)
2018-05-03 21:07:15,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,064 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-24', 0.43, 70)
2018-05-03 21:07:15,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,069 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-25', 0.8, 67)
2018-05-03 21:07:15,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,071 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-26', 0.03, 67)
2018-05-03 21:07:15,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,073 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-27', 0.0, 70)
2018-05-03 21:07:15,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,076 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-28', 0.07, 69)
2018-05-03 21:07:15,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,078 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-29', 0.07, 69)
2018-05-03 21:07:15,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,083 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-30', 0.05, 69)
2018-05-03 21:07:15,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,087 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-03-31', 0.02, 64)
2018-05-03 21:07:15,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,090 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-01', 0.0, 63)
2018-05-03 21:07:15,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,093 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-02', 0.0, 63)
2018-05-03 21:07:15,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,096 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-03', 0.02, 64)
2018-05-03 21:07:15,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:15,103 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-04', 0.07, 65)
2018-05-03 21:07:15,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,107 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-05', 0.0, 70)
2018-05-03 21:07:15,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,110 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-06', 0.0, 72)
2018-05-03 21:07:15,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,112 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-07', 0.01, 73)
2018-05-03 21:07:15,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,114 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-08', 0.0, 71)
2018-05-03 21:07:15,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,119 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-09', 0.02, 71)
2018-05-03 21:07:15,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,121 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-10', 0.03, 71)
2018-05-03 21:07:15,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,124 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-11', 0.01, 68)
2018-05-03 21:07:15,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,126 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-12', 0.0, 73)
2018-05-03 21:07:15,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,129 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-13', 0.01, 70)
2018-05-03 21:07:15,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,133 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-14', 0.0, 75)
2018-05-03 21:07:15,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,137 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-15', 0.43, 69)
2018-05-03 21:07:15,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,139 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-16', 0.19, 65)
2018-05-03 21:07:15,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,144 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-17', 0.0, 72)
2018-05-03 21:07:15,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,146 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-18', 0.0, 72)
2018-05-03 21:07:15,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,152 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-19', 0.03, 71)
2018-05-03 21:07:15,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,156 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-20', 0.11, 77)
2018-05-03 21:07:15,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,158 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-21', 0.0, 71)
2018-05-03 21:07:15,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,162 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-22', 0.44, 70)
2018-05-03 21:07:15,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,164 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-23', 0.37, 74)
2018-05-03 21:07:15,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,173 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-24', 0.76, 67)
2018-05-03 21:07:15,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,176 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-25', 0.94, 70)
2018-05-03 21:07:15,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,178 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-26', 0.0, 72)
2018-05-03 21:07:15,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,180 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-27', 0.0, 70)
2018-05-03 21:07:15,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,183 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-28', 0.0, 68)
2018-05-03 21:07:15,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,187 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-29', 0.0, 74)
2018-05-03 21:07:15,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,190 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-04-30', 0.0, 70)
2018-05-03 21:07:15,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,192 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-01', 0.04, 73)
2018-05-03 21:07:15,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,195 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-02', 0.0, 73)
2018-05-03 21:07:15,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,198 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-03', 0.0, 72)
2018-05-03 21:07:15,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,203 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-04', 0.0, 70)
2018-05-03 21:07:15,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,205 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-05', 1.05, 72)
2018-05-03 21:07:15,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,208 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-06', 0.09, 69)
2018-05-03 21:07:15,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,210 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-07', 0.0, 66)
2018-05-03 21:07:15,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,212 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-08', 0.0, 69)
2018-05-03 21:07:15,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,216 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-09', 0.0, 70)
2018-05-03 21:07:15,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:15,221 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-10', 0.1, 70)
2018-05-03 21:07:15,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,224 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-11', 0.09, 74)
2018-05-03 21:07:15,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,228 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-12', 0.22, 68)
2018-05-03 21:07:15,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,230 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-13', 0.95, 73)
2018-05-03 21:07:15,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,236 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-14', 0.01, 73)
2018-05-03 21:07:15,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,240 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-15', 0.0, 74)
2018-05-03 21:07:15,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,245 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-16', 0.0, 74)
2018-05-03 21:07:15,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,252 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-17', 0.0, 74)
2018-05-03 21:07:15,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,278 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-18', 0.0, 79)
2018-05-03 21:07:15,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,282 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-19', 0.02, 69)
2018-05-03 21:07:15,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,293 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-20', 0.54, 68)
2018-05-03 21:07:15,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,297 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-21', 0.0, 66)
2018-05-03 21:07:15,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,302 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-22', 0.0, 69)
2018-05-03 21:07:15,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,307 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-23', 0.0, 73)
2018-05-03 21:07:15,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,310 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-24', 0.0, 75)
2018-05-03 21:07:15,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,313 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-25', 0.12, 74)
2018-05-03 21:07:15,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,319 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-26', 0.18, 75)
2018-05-03 21:07:15,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,323 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-27', 0.02, 74)
2018-05-03 21:07:15,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-28', 0.06, 73)
2018-05-03 21:07:15,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,331 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-29', 0.21, 71)
2018-05-03 21:07:15,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,338 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-30', 0.74, 77)
2018-05-03 21:07:15,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,341 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-05-31', 0.04, 74)
2018-05-03 21:07:15,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,345 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-01', 0.05, 75)
2018-05-03 21:07:15,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,347 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-02', 0.02, 75)
2018-05-03 21:07:15,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,351 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-03', 0.02, 75)
2018-05-03 21:07:15,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,354 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-04', 0.0, 75)
2018-05-03 21:07:15,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,356 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-05', 0.0, 74)
2018-05-03 21:07:15,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,359 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-06', 0.03, 74)
2018-05-03 21:07:15,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,362 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-07', 0.0, 74)
2018-05-03 21:07:15,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,367 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-08', 0.0, 75)
2018-05-03 21:07:15,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,370 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-09', 0.0, 75)
2018-05-03 21:07:15,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,374 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-10', 0.02, 74)
2018-05-03 21:07:15,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,377 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-11', 0.0, 75)
2018-05-03 21:07:15,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,381 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-12', 0.0, 75)
2018-05-03 21:07:15,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,386 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-13', 0.02, 74)
2018-05-03 21:07:15,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,389 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-14', 0.08, 72)
2018-05-03 21:07:15,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,391 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-15', 0.01, 74)
2018-05-03 21:07:15,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,394 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-16', 0.0, 74)
2018-05-03 21:07:15,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,564 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-17', 0.01, 74)
2018-05-03 21:07:15,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,567 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-18', 0.02, 74)
2018-05-03 21:07:15,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,571 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-19', 0.0, 74)
2018-05-03 21:07:15,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,573 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-20', 0.0, 72)
2018-05-03 21:07:15,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,576 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-21', 0.22, 70)
2018-05-03 21:07:15,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,579 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-22', 0.27, 75)
2018-05-03 21:07:15,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,587 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-23', 0.03, 74)
2018-05-03 21:07:15,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,590 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-24', 0.02, 71)
2018-05-03 21:07:15,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,592 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-25', 0.05, 71)
2018-05-03 21:07:15,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,594 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-26', 1.0, 70)
2018-05-03 21:07:15,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,597 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-27', 0.1, 73)
2018-05-03 21:07:15,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,603 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-28', 0.02, 71)
2018-05-03 21:07:15,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,606 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-29', 0.22, 71)
2018-05-03 21:07:15,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,608 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-06-30', 0.01, 77)
2018-05-03 21:07:15,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,610 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-02', 0.02, 75)
2018-05-03 21:07:15,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,613 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-03', 0.18, 72)
2018-05-03 21:07:15,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,617 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-04', 0.01, 75)
2018-05-03 21:07:15,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,620 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-05', 0.0, 69)
2018-05-03 21:07:15,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,624 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-06', 0.0, 72)
2018-05-03 21:07:15,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,627 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-07', 0.0, 78)
2018-05-03 21:07:15,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,629 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-08', 0.03, 75)
2018-05-03 21:07:15,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-09', 0.0, 76)
2018-05-03 21:07:15,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,635 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-10', 0.15, 75)
2018-05-03 21:07:15,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,639 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-11', 0.05, 74)
2018-05-03 21:07:15,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,641 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-12', 0.06, 74)
2018-05-03 21:07:15,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,644 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-13', 0.01, 75)
2018-05-03 21:07:15,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,647 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-14', 0.0, 77)
2018-05-03 21:07:15,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,654 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-15', 0.0, 73)
2018-05-03 21:07:15,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,659 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-16', 0.0, 75)
2018-05-03 21:07:15,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,662 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-17', 0.0, 77)
2018-05-03 21:07:15,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,672 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-18', 0.03, 75)
2018-05-03 21:07:15,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,677 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-19', 0.05, 74)
2018-05-03 21:07:15,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,680 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-20', 0.05, 75)
2018-05-03 21:07:15,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:15,685 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-21', 0.01, 79)
2018-05-03 21:07:15,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,691 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-22', 0.3, 74)
2018-05-03 21:07:15,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,694 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-23', 0.83, 73)
2018-05-03 21:07:15,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,697 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-24', 0.0, 76)
2018-05-03 21:07:15,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,704 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-25', 0.0, 75)
2018-05-03 21:07:15,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,709 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-26', 0.0, 75)
2018-05-03 21:07:15,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,711 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-28', 0.0, 77)
2018-05-03 21:07:15,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:15,714 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2013-07-29', 0.16, 75)
2018-05-03 21:07:15,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,810 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-05', 0.03, 73)
2018-05-03 21:07:16,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,813 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-06', 0.1, 67)
2018-05-03 21:07:16,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,816 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-07', 0.23, 70)
2018-05-03 21:07:16,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,820 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-08', 0.02, 69)
2018-05-03 21:07:16,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,824 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-09', 0.0, 70)
2018-05-03 21:07:16,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,826 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-10', 0.0, 69)
2018-05-03 21:07:16,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,829 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-11', 0.01, 70)
2018-05-03 21:07:16,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,832 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-12', 0.39, 70)
2018-05-03 21:07:16,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,836 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-13', 0.01, 72)
2018-05-03 21:07:16,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,840 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-14', 0.01, 72)
2018-05-03 21:07:16,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,975 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-15', 0.01, 71)
2018-05-03 21:07:16,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,977 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-16', 0.06, 72)
2018-05-03 21:07:16,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,980 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-18', 0.05, 74)
2018-05-03 21:07:16,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,983 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-19', 0.14, 74)
2018-05-03 21:07:16,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,987 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-20', 0.03, 72)
2018-05-03 21:07:16,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,991 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-21', 0.09, 69)
2018-05-03 21:07:16,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,994 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-22', 0.12, 73)
2018-05-03 21:07:16,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,996 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-23', 0.0, 74)
2018-05-03 21:07:16,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:16,999 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-24', 0.0, 73)
2018-05-03 21:07:17,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,004 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-25', 0.26, 72)
2018-05-03 21:07:17,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,007 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-26', 0.02, 73)
2018-05-03 21:07:17,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,010 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-27', 0.2, 70)
2018-05-03 21:07:17,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,012 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-28', 0.32, 68)
2018-05-03 21:07:17,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,015 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-04-29', 0.0, 72)
2018-05-03 21:07:17,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,019 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-01', 0.02, 66)
2018-05-03 21:07:17,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,023 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-02', 0.57, 69)
2018-05-03 21:07:17,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,027 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-03', 0.3, 71)
2018-05-03 21:07:17,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:17,030 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-04', 0.01, 72)
2018-05-03 21:07:17,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,037 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-05', 0.02, 72)
2018-05-03 21:07:17,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,042 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-06', 0.19, 72)
2018-05-03 21:07:17,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,045 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-07', 0.0, 74)
2018-05-03 21:07:17,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,048 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-08', 0.02, 71)
2018-05-03 21:07:17,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,051 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-09', 0.13, 70)
2018-05-03 21:07:17,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,056 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-10', 0.09, 73)
2018-05-03 21:07:17,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,061 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-11', 0.17, 76)
2018-05-03 21:07:17,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,064 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-12', 0.48, 73)
2018-05-03 21:07:17,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,067 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-13', 0.13, 71)
2018-05-03 21:07:17,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,071 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-14', 0.0, 69)
2018-05-03 21:07:17,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,074 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-15', 0.0, 73)
2018-05-03 21:07:17,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,077 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-16', 0.55, 70)
2018-05-03 21:07:17,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,079 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-17', 0.12, 75)
2018-05-03 21:07:17,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,082 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-18', 0.2, 79)
2018-05-03 21:07:17,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,087 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-19', 0.0, 69)
2018-05-03 21:07:17,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,091 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-20', 0.05, 72)
2018-05-03 21:07:17,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,093 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-21', 0.0, 74)
2018-05-03 21:07:17,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,096 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-22', 0.0, 74)
2018-05-03 21:07:17,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,098 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-23', 0.15, 73)
2018-05-03 21:07:17,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,101 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-24', 0.01, 74)
2018-05-03 21:07:17,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,105 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-25', 0.86, 75)
2018-05-03 21:07:17,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,108 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-26', 0.28, 75)
2018-05-03 21:07:17,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,110 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-27', 0.08, 74)
2018-05-03 21:07:17,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,112 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-28', 0.14, 76)
2018-05-03 21:07:17,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,115 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-29', 0.02, 74)
2018-05-03 21:07:17,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,118 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-30', 0.05, 74)
2018-05-03 21:07:17,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,121 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-05-31', 0.01, 77)
2018-05-03 21:07:17,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,130 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-01', 0.0, 77)
2018-05-03 21:07:17,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,146 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-02', 0.0, 74)
2018-05-03 21:07:17,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,149 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-03', 0.0, 73)
2018-05-03 21:07:17,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,155 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-04', 0.0, 75)
2018-05-03 21:07:17,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,160 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-05', 0.0, 75)
2018-05-03 21:07:17,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,164 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-06', 0.13, 74)
2018-05-03 21:07:17,166 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,167 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-07', 0.01, 74)
2018-05-03 21:07:17,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,172 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-08', 0.02, 75)
2018-05-03 21:07:17,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:17,175 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-09', 0.02, 75)
2018-05-03 21:07:17,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,178 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-10', 0.1, 72)
2018-05-03 21:07:17,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,181 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-11', 0.15, 74)
2018-05-03 21:07:17,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,184 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-12', 0.0, 76)
2018-05-03 21:07:17,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,188 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-13', 0.0, 76)
2018-05-03 21:07:17,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,194 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-14', 0.0, 75)
2018-05-03 21:07:17,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,197 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-15', 0.01, 75)
2018-05-03 21:07:17,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,206 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-16', 0.12, 74)
2018-05-03 21:07:17,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,211 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-17', 0.05, 72)
2018-05-03 21:07:17,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,215 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-18', 0.07, 74)
2018-05-03 21:07:17,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,222 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-19', 0.0, 75)
2018-05-03 21:07:17,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,225 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-20', 0.29, 70)
2018-05-03 21:07:17,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,228 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-21', 0.06, 71)
2018-05-03 21:07:17,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,231 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-22', 0.15, 72)
2018-05-03 21:07:17,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,234 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-23', 0.15, 71)
2018-05-03 21:07:17,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,239 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-24', 0.1, 73)
2018-05-03 21:07:17,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,242 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-25', 0.04, 74)
2018-05-03 21:07:17,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,244 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-26', 0.04, 72)
2018-05-03 21:07:17,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,246 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-27', 0.02, 74)
2018-05-03 21:07:17,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,248 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-28', 0.25, 76)
2018-05-03 21:07:17,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,256 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-29', 0.18, 72)
2018-05-03 21:07:17,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,261 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-06-30', 0.03, 75)
2018-05-03 21:07:17,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,265 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-01', 0.01, 75)
2018-05-03 21:07:17,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,274 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-02', 0.02, 76)
2018-05-03 21:07:17,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,276 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-03', 0.19, 77)
2018-05-03 21:07:17,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,280 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-04', 0.03, 78)
2018-05-03 21:07:17,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,289 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-05', 0.02, 73)
2018-05-03 21:07:17,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,295 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-06', 0.21, 76)
2018-05-03 21:07:17,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,298 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-07', 0.12, 76)
2018-05-03 21:07:17,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,304 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-08', 0.08, 75)
2018-05-03 21:07:17,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,307 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-09', 0.01, 73)
2018-05-03 21:07:17,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,311 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-10', 0.02, 74)
2018-05-03 21:07:17,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,319 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-11', 0.04, 73)
2018-05-03 21:07:17,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,324 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-12', 0.01, 76)
2018-05-03 21:07:17,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,330 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-13', 0.05, 77)
2018-05-03 21:07:17,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,333 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-14', 0.19, 77)
2018-05-03 21:07:17,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:17,340 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-15', 0.03, 76)
2018-05-03 21:07:17,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,345 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-16', 0.12, 76)
2018-05-03 21:07:17,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,349 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-17', 0.01, 75)
2018-05-03 21:07:17,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,358 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-18', 0.13, 75)
2018-05-03 21:07:17,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,362 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-19', 0.0, 76)
2018-05-03 21:07:17,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,366 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-20', 5.98, 72)
2018-05-03 21:07:17,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,375 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-21', 0.05, 82)
2018-05-03 21:07:17,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,379 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-22', 0.01, 75)
2018-05-03 21:07:17,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,383 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-23', 0.31, 76)
2018-05-03 21:07:17,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,390 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-24', 0.0, 77)
2018-05-03 21:07:17,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,394 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-25', 0.0, 75)
2018-05-03 21:07:17,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,559 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-26', 0.02, 77)
2018-05-03 21:07:17,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,562 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-27', 0.04, 78)
2018-05-03 21:07:17,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,566 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-28', 0.0, 76)
2018-05-03 21:07:17,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,572 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-29', 0.0, 76)
2018-05-03 21:07:17,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,576 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-30', 0.0, 76)
2018-05-03 21:07:17,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,578 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-07-31', 0.0, 76)
2018-05-03 21:07:17,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,581 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-01', 0.0, 77)
2018-05-03 21:07:17,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,584 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-02', 0.1, 77)
2018-05-03 21:07:17,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,590 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-03', 0.0, 77)
2018-05-03 21:07:17,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,593 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-04', 0.0, 78)
2018-05-03 21:07:17,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,596 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-05', 0.0, 77)
2018-05-03 21:07:17,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,599 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-06', 0.04, 74)
2018-05-03 21:07:17,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,603 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-07', 0.03, 75)
2018-05-03 21:07:17,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,606 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-08', 0.08, 76)
2018-05-03 21:07:17,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,611 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-09', 0.31, 77)
2018-05-03 21:07:17,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,614 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-10', 0.06, 79)
2018-05-03 21:07:17,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,617 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-11', 0.0, 72)
2018-05-03 21:07:17,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,624 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-12', 0.0, 75)
2018-05-03 21:07:17,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,628 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-13', 0.37, 74)
2018-05-03 21:07:17,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,630 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-14', 0.0, 78)
2018-05-03 21:07:17,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,634 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-15', 0.01, 77)
2018-05-03 21:07:17,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,640 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-16', 0.03, 76)
2018-05-03 21:07:17,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,647 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-17', 0.0, 80)
2018-05-03 21:07:17,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,649 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-18', 0.06, 77)
2018-05-03 21:07:17,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,654 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-19', 0.0, 76)
2018-05-03 21:07:17,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:17,658 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-20', 0.08, 76)
2018-05-03 21:07:17,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,660 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-21', 0.11, 75)
2018-05-03 21:07:17,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,663 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-22', 0.18, 77)
2018-05-03 21:07:17,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,677 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-23', 0.01, 76)
2018-05-03 21:07:17,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,681 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-24', 0.19, 84)
2018-05-03 21:07:17,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,686 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-25', 0.07, 74)
2018-05-03 21:07:17,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,690 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-26', 0.33, 72)
2018-05-03 21:07:17,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,693 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-27', 0.47, 74)
2018-05-03 21:07:17,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,699 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-28', 0.01, 73)
2018-05-03 21:07:17,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,704 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-29', 0.06, 72)
2018-05-03 21:07:17,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,710 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-30', 0.27, 84)
2018-05-03 21:07:17,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,713 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-08-31', 0.01, 74)
2018-05-03 21:07:17,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,723 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-01', 0.02, 75)
2018-05-03 21:07:17,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,726 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-02', 1.37, 73)
2018-05-03 21:07:17,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,730 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-03', 0.02, 77)
2018-05-03 21:07:17,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,732 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-07', 0.29, 76)
2018-05-03 21:07:17,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,736 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-08', 0.0, 76)
2018-05-03 21:07:17,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,741 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-09', 0.03, 74)
2018-05-03 21:07:17,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,744 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-10', 0.04, 77)
2018-05-03 21:07:17,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,747 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-11', 0.0, 76)
2018-05-03 21:07:17,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,752 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-12', 0.01, 73)
2018-05-03 21:07:17,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,762 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-13', 0.0, 80)
2018-05-03 21:07:17,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,765 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-14', 0.0, 85)
2018-05-03 21:07:17,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,769 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-15', 0.36, 74)
2018-05-03 21:07:17,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,775 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-16', 0.0, 78)
2018-05-03 21:07:17,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,781 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-17', 0.02, 75)
2018-05-03 21:07:17,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,790 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-18', 0.2, 74)
2018-05-03 21:07:17,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,794 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-19', 0.13, 73)
2018-05-03 21:07:17,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,797 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-20', 0.23, 76)
2018-05-03 21:07:17,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,801 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-21', 0.0, 76)
2018-05-03 21:07:17,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,809 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-22', 0.01, 78)
2018-05-03 21:07:17,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,814 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-23', 0.03, 77)
2018-05-03 21:07:17,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,816 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-24', 0.0, 78)
2018-05-03 21:07:17,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,821 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-25', 0.14, 78)
2018-05-03 21:07:17,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,825 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-26', 0.3, 77)
2018-05-03 21:07:17,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,827 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-27', 0.02, 78)
2018-05-03 21:07:17,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:17,830 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-28', 0.23, 74)
2018-05-03 21:07:17,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,833 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-29', 0.22, 75)
2018-05-03 21:07:17,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,839 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-09-30', 0.31, 73)
2018-05-03 21:07:17,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,842 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-01', 1.71, 73)
2018-05-03 21:07:17,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,844 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-02', 0.01, 75)
2018-05-03 21:07:17,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,846 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-03', 0.01, 78)
2018-05-03 21:07:17,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,848 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-04', 0.33, 74)
2018-05-03 21:07:17,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,851 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-05', 0.64, 74)
2018-05-03 21:07:17,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,857 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-06', 0.26, 74)
2018-05-03 21:07:17,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,862 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-07', 0.0, 75)
2018-05-03 21:07:17,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,864 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-08', 0.13, 74)
2018-05-03 21:07:17,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,866 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-09', 0.01, 76)
2018-05-03 21:07:17,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,872 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-10', 0.08, 78)
2018-05-03 21:07:17,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,875 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-11', 0.02, 77)
2018-05-03 21:07:17,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,878 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-13', 0.0, 78)
2018-05-03 21:07:17,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,880 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-14', 0.0, 78)
2018-05-03 21:07:17,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,883 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-15', 0.1, 76)
2018-05-03 21:07:17,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,889 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-16', 0.01, 79)
2018-05-03 21:07:17,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,892 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-17', 0.02, 76)
2018-05-03 21:07:17,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,895 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-18', 0.21, 80)
2018-05-03 21:07:17,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,897 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-19', 2.06, 74)
2018-05-03 21:07:17,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,900 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-20', 1.84, 76)
2018-05-03 21:07:17,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,905 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-21', 0.0, 75)
2018-05-03 21:07:17,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,912 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-22', 0.02, 77)
2018-05-03 21:07:17,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,914 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-23', 0.0, 74)
2018-05-03 21:07:17,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,918 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-24', 0.41, 74)
2018-05-03 21:07:17,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,923 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-25', 0.05, 77)
2018-05-03 21:07:17,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,926 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-26', 0.0, 77)
2018-05-03 21:07:17,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,928 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-27', 0.0, 77)
2018-05-03 21:07:17,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,931 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-28', 0.06, 73)
2018-05-03 21:07:17,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,935 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-29', 0.0, 77)
2018-05-03 21:07:17,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,941 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-30', 0.22, 76)
2018-05-03 21:07:17,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,943 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-10-31', 0.02, 76)
2018-05-03 21:07:17,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,946 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-01', 0.11, 77)
2018-05-03 21:07:17,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,948 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-02', 0.11, 75)
2018-05-03 21:07:17,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,951 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-03', 0.03, 78)
2018-05-03 21:07:17,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:17,964 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-04', 0.0, 74)
2018-05-03 21:07:17,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,967 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-05', 0.05, 77)
2018-05-03 21:07:17,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:17,972 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-06', 0.18, 76)
2018-05-03 21:07:17,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,076 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-07', 0.14, 72)
2018-05-03 21:07:18,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,078 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-08', 0.46, 74)
2018-05-03 21:07:18,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,081 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-09', 0.0, 67)
2018-05-03 21:07:18,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,084 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-10', 0.0, 68)
2018-05-03 21:07:18,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,091 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-11', 0.0, 68)
2018-05-03 21:07:18,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,095 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-12', 0.41, 70)
2018-05-03 21:07:18,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,098 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-13', 0.0, 71)
2018-05-03 21:07:18,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,102 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-14', 0.09, 75)
2018-05-03 21:07:18,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,107 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-15', 1.03, 71)
2018-05-03 21:07:18,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,109 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-16', 0.09, 72)
2018-05-03 21:07:18,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,111 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-17', 0.0, 75)
2018-05-03 21:07:18,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,113 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-18', 0.0, 76)
2018-05-03 21:07:18,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,117 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-19', 0.01, 75)
2018-05-03 21:07:18,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,123 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-20', 0.01, 76)
2018-05-03 21:07:18,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,126 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-21', 0.01, 81)
2018-05-03 21:07:18,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,128 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-22', 0.0, 76)
2018-05-03 21:07:18,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,131 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-23', 0.0, 72)
2018-05-03 21:07:18,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,134 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-24', 0.13, 71)
2018-05-03 21:07:18,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,139 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-25', 0.05, 70)
2018-05-03 21:07:18,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,145 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-26', 0.01, 73)
2018-05-03 21:07:18,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,148 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-27', 0.0, 74)
2018-05-03 21:07:18,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,151 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-28', 0.01, 73)
2018-05-03 21:07:18,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,156 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-29', 0.02, 74)
2018-05-03 21:07:18,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,159 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-11-30', 0.15, 73)
2018-05-03 21:07:18,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,161 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-01', 0.0, 72)
2018-05-03 21:07:18,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,163 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-02', 0.0, 71)
2018-05-03 21:07:18,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,167 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-03', 0.05, 69)
2018-05-03 21:07:18,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,174 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-04', 1.35, 67)
2018-05-03 21:07:18,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,177 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-05', 0.01, 70)
2018-05-03 21:07:18,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,180 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-06', 0.0, 72)
2018-05-03 21:07:18,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,182 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-07', 0.0, 67)
2018-05-03 21:07:18,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,189 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-08', 0.0, 67)
2018-05-03 21:07:18,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,195 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-09', 0.0, 69)
2018-05-03 21:07:18,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:18,197 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-10', 0.0, 67)
2018-05-03 21:07:18,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,200 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-11', 0.05, 74)
2018-05-03 21:07:18,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,205 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-12', 0.12, 70)
2018-05-03 21:07:18,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,208 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-13', 0.03, 73)
2018-05-03 21:07:18,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,211 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-14', 0.11, 71)
2018-05-03 21:07:18,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,214 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-15', 0.0, 71)
2018-05-03 21:07:18,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,216 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-16', 0.03, 71)
2018-05-03 21:07:18,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,223 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-17', 0.14, 71)
2018-05-03 21:07:18,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,226 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-18', 0.09, 72)
2018-05-03 21:07:18,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,228 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-19', 0.01, 76)
2018-05-03 21:07:18,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,230 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-20', 0.0, 78)
2018-05-03 21:07:18,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,232 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-21', 0.0, 76)
2018-05-03 21:07:18,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,235 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-22', 0.0, 73)
2018-05-03 21:07:18,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,241 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-23', 1.1, 70)
2018-05-03 21:07:18,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,245 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-24', 1.24, 68)
2018-05-03 21:07:18,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,247 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-25', 0.09, 77)
2018-05-03 21:07:18,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,249 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-26', 0.0, 66)
2018-05-03 21:07:18,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,254 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-27', 0.0, 65)
2018-05-03 21:07:18,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,257 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-28', 0.0, 69)
2018-05-03 21:07:18,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,260 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-29', 0.0, 69)
2018-05-03 21:07:18,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,263 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-30', 0.0, 66)
2018-05-03 21:07:18,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,265 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2014-12-31', 0.72, 64)
2018-05-03 21:07:18,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,269 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-01', 0.01, 64)
2018-05-03 21:07:18,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,274 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-02', 0.01, 64)
2018-05-03 21:07:18,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,277 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-03', 1.46, 63)
2018-05-03 21:07:18,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,279 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-04', 0.02, 66)
2018-05-03 21:07:18,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,282 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-05', 0.0, 60)
2018-05-03 21:07:18,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,285 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-06', 0.07, 69)
2018-05-03 21:07:18,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,292 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-07', 0.0, 68)
2018-05-03 21:07:18,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,296 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-08', 0.0, 67)
2018-05-03 21:07:18,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,298 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-09', 0.0, 68)
2018-05-03 21:07:18,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,302 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-10', 0.04, 69)
2018-05-03 21:07:18,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,307 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-11', 0.0, 66)
2018-05-03 21:07:18,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,310 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-12', 0.0, 64)
2018-05-03 21:07:18,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,312 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-13', 0.0, 64)
2018-05-03 21:07:18,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,314 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-14', 0.0, 68)
2018-05-03 21:07:18,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,317 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-15', 0.0, 69)
2018-05-03 21:07:18,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,323 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-16', 0.01, 71)
2018-05-03 21:07:18,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-17', 0.0, 70)
2018-05-03 21:07:18,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,329 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-18', 0.0, 69)
2018-05-03 21:07:18,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,332 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-19', 0.0, 70)
2018-05-03 21:07:18,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,336 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-20', 0.0, 67)
2018-05-03 21:07:18,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,342 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-21', 0.0, 68)
2018-05-03 21:07:18,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,344 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-22', 0.0, 67)
2018-05-03 21:07:18,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,346 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-23', 0.0, 74)
2018-05-03 21:07:18,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,348 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-24', 0.09, 69)
2018-05-03 21:07:18,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,352 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-25', 0.46, 67)
2018-05-03 21:07:18,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,359 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-26', 0.73, 70)
2018-05-03 21:07:18,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,364 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-27', 0.01, 71)
2018-05-03 21:07:18,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,369 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-28', 0.09, 68)
2018-05-03 21:07:18,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,373 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-29', 0.0, 72)
2018-05-03 21:07:18,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,376 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-30', 0.02, 65)
2018-05-03 21:07:18,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,378 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-01-31', 0.0, 66)
2018-05-03 21:07:18,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,382 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-01', 0.0, 66)
2018-05-03 21:07:18,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,389 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-02', 0.0, 72)
2018-05-03 21:07:18,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,395 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-03', 0.0, 77)
2018-05-03 21:07:18,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,397 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-04', 0.77, 74)
2018-05-03 21:07:18,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,400 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-05', 0.0, 70)
2018-05-03 21:07:18,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,404 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-06', 0.0, 68)
2018-05-03 21:07:18,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,412 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-07', 0.0, 65)
2018-05-03 21:07:18,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,415 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-08', 0.0, 62)
2018-05-03 21:07:18,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,418 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-09', 0.0, 74)
2018-05-03 21:07:18,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,421 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-10', 0.1, 70)
2018-05-03 21:07:18,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,425 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-11', 0.0, 70)
2018-05-03 21:07:18,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,428 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-12', 0.0, 65)
2018-05-03 21:07:18,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,430 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-13', 0.0, 73)
2018-05-03 21:07:18,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,432 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-14', 0.13, 76)
2018-05-03 21:07:18,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,565 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-15', 0.8, 61)
2018-05-03 21:07:18,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,569 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-16', 0.0, 64)
2018-05-03 21:07:18,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,575 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-17', 0.0, 68)
2018-05-03 21:07:18,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,578 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-18', 0.0, 68)
2018-05-03 21:07:18,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,581 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-19', 0.0, 70)

2018-05-03 21:07:18,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,583 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-20', 0.02, 70)
2018-05-03 21:07:18,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,588 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-21', 0.76, 69)
2018-05-03 21:07:18,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,594 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-22', 0.0, 70)
2018-05-03 21:07:18,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,596 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-23', 0.0, 73)
2018-05-03 21:07:18,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,599 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-24', 0.0, 71)
2018-05-03 21:07:18,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,602 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-25', 0.0, 72)
2018-05-03 21:07:18,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,607 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-26', 0.06, 71)
2018-05-03 21:07:18,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,609 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-27', 0.08, 70)
2018-05-03 21:07:18,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,612 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-02-28', 0.25, 69)
2018-05-03 21:07:18,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,615 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-01', 0.27, 72)
2018-05-03 21:07:18,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,619 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-02', 0.04, 72)
2018-05-03 21:07:18,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,625 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-03', 0.02, 73)
2018-05-03 21:07:18,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,627 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-04', 0.06, 72)
2018-05-03 21:07:18,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,630 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-05', 0.52, 69)
2018-05-03 21:07:18,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,633 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-06', 0.06, 68)
2018-05-03 21:07:18,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,636 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-07', 0.0, 68)
2018-05-03 21:07:18,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,642 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-08', 0.01, 65)
2018-05-03 21:07:18,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,646 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-09', 0.0, 64)
2018-05-03 21:07:18,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,649 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-10', 0.03, 63)
2018-05-03 21:07:18,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,653 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-11', 0.0, 65)
2018-05-03 21:07:18,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,657 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-12', 0.0, 65)
2018-05-03 21:07:18,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,660 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-13', 0.02, 62)
2018-05-03 21:07:18,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,663 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-14', 0.0, 67)
2018-05-03 21:07:18,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,665 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-15', 0.0, 69)
2018-05-03 21:07:18,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,667 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-16', 0.01, 65)
2018-05-03 21:07:18,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,672 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-17', 0.0, 63)
2018-05-03 21:07:18,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,675 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-18', 0.0, 65)
2018-05-03 21:07:18,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,677 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-19', 0.0, 67)
2018-05-03 21:07:18,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,679 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-20', 0.11, 70)
2018-05-03 21:07:18,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,681 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-21', 0.08, 71)
2018-05-03 21:07:18,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,683 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-22', 0.05, 73)
2018-05-03 21:07:18,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,687 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-23', 0.0, 72)
2018-05-03 21:07:18,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,691 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-24', 0.0, 68)
2018-05-03 21:07:18,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,693 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-25', 0.02, 69)
2018-05-03 21:07:18,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,695 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-26', 0.06, 70)
2018-05-03 21:07:18,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:18,697 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-27', 0.0, 71)
2018-05-03 21:07:18,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,699 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-28', 0.0, 74)
2018-05-03 21:07:18,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,703 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-29', 0.38, 73)
2018-05-03 21:07:18,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,709 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-30', 0.02, 71)
2018-05-03 21:07:18,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,712 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-03-31', 0.6, 70)
2018-05-03 21:07:18,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,714 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-01', 0.24, 73)
2018-05-03 21:07:18,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,717 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-02', 0.01, 73)
2018-05-03 21:07:18,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,721 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-03', 0.0, 74)
2018-05-03 21:07:18,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,726 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-04', 0.0, 74)
2018-05-03 21:07:18,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,728 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-05', 0.06, 74)
2018-05-03 21:07:18,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,730 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-06', 0.0, 72)
2018-05-03 21:07:18,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,732 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-07', 0.0, 73)
2018-05-03 21:07:18,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,735 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-08', 0.19, 72)
2018-05-03 21:07:18,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,741 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-09', 0.03, 72)
2018-05-03 21:07:18,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,747 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-10', 0.0, 71)
2018-05-03 21:07:18,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,749 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-11', 0.0, 74)
2018-05-03 21:07:18,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,753 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-12', 0.09, 73)
2018-05-03 21:07:18,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,758 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-13', 0.03, 72)
2018-05-03 21:07:18,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,760 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-14', 0.01, 73)
2018-05-03 21:07:18,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,762 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-15', 0.05, 74)
2018-05-03 21:07:18,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,764 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-16', 0.04, 72)
2018-05-03 21:07:18,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,767 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-17', 0.01, 73)
2018-05-03 21:07:18,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,773 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-18', 0.02, 74)
2018-05-03 21:07:18,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,780 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-19', 0.0, 73)
2018-05-03 21:07:18,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,782 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-20', 0.0, 73)
2018-05-03 21:07:18,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,788 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-21', 0.04, 73)
2018-05-03 21:07:18,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,792 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-22', 0.1, 69)
2018-05-03 21:07:18,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,794 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-23', 0.02, 71)
2018-05-03 21:07:18,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,796 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-24', 0.04, 76)
2018-05-03 21:07:18,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,798 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-25', 0.01, 74)
2018-05-03 21:07:18,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,801 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-26', 0.0, 75)
2018-05-03 21:07:18,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,808 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-27', 0.17, 73)
2018-05-03 21:07:18,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,814 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-28', 0.09, 73)
2018-05-03 21:07:18,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,817 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-29', 0.09, 75)
2018-05-03 21:07:18,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,822 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-04-30', 0.03, 76)
2018-05-03 21:07:18,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,826 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-01', 0.05, 74)
2018-05-03 21:07:18,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:18,828 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-02', 0.0, 73)
2018-05-03 21:07:18,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,830 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-04', 0.0, 77)
2018-05-03 21:07:18,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,833 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-05', 0.02, 75)
2018-05-03 21:07:18,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,838 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-06', 0.0, 74)
2018-05-03 21:07:18,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,844 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-07', 0.0, 75)
2018-05-03 21:07:18,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,847 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-08', 0.04, 76)
2018-05-03 21:07:18,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,851 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-09', 0.13, 74)
2018-05-03 21:07:18,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,857 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-10', 0.05, 73)
2018-05-03 21:07:18,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,861 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-11', 0.02, 74)
2018-05-03 21:07:18,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,863 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-12', 0.0, 73)
2018-05-03 21:07:18,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,865 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-13', 0.0, 72)
2018-05-03 21:07:18,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,869 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-14', 0.1, 73)
2018-05-03 21:07:18,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,875 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-15', 0.02, 72)
2018-05-03 21:07:18,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,879 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-16', 0.02, 76)
2018-05-03 21:07:18,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,882 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-17', 0.01, 73)
2018-05-03 21:07:18,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,885 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-18', 0.27, 73)
2018-05-03 21:07:18,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,890 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-19', 0.02, 73)
2018-05-03 21:07:18,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,893 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-20', 0.03, 72)
2018-05-03 21:07:18,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,897 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-21', 0.06, 68)
2018-05-03 21:07:18,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,900 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-22', 0.0, 68)
2018-05-03 21:07:18,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,906 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-23', 0.8, 68)
2018-05-03 21:07:18,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,909 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-24', 0.0, 72)
2018-05-03 21:07:18,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,911 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-25', 0.01, 72)
2018-05-03 21:07:18,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:18,913 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-26', 0.08, 67)
2018-05-03 21:07:18,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,059 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-27', 0.07, 67)
2018-05-03 21:07:19,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,062 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-28', 1.29, 68)
2018-05-03 21:07:19,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,065 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-29', 0.01, 68)
2018-05-03 21:07:19,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,067 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-30', 0.0, 70)
2018-05-03 21:07:19,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,071 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-05-31', 0.34, 74)
2018-05-03 21:07:19,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,075 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-03', 0.0, 75)
2018-05-03 21:07:19,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,078 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-04', 0.27, 72)
2018-05-03 21:07:19,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,080 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-05', 0.0, 70)
2018-05-03 21:07:19,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,082 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-06', 0.0, 76)
2018-05-03 21:07:19,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,085 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-07', 0.0, 78)
2018-05-03 21:07:19,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,092 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-08', 0.1, 72)
2018-05-03 21:07:19,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,097 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-09', 0.05, 74)
2018-05-03 21:07:19,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:19,099 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-10', 0.07, 74)
2018-05-03 21:07:19,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,103 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-11', 0.1, 72)
2018-05-03 21:07:19,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,108 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-12', 0.0, 71)
2018-05-03 21:07:19,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,111 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-13', 0.0, 79)
2018-05-03 21:07:19,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,115 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-14', 0.07, 79)
2018-05-03 21:07:19,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,119 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-15', 0.0, 76)
2018-05-03 21:07:19,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,124 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-16', 0.14, 75)
2018-05-03 21:07:19,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,126 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-17', 0.25, 72)
2018-05-03 21:07:19,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,129 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-18', 0.14, 74)
2018-05-03 21:07:19,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,133 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-19', 0.02, 76)
2018-05-03 21:07:19,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,139 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-20', 0.04, 76)
2018-05-03 21:07:19,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,143 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-21', 0.01, 77)
2018-05-03 21:07:19,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,145 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-22', 0.01, 75)
2018-05-03 21:07:19,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,147 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-23', 0.03, 76)
2018-05-03 21:07:19,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,150 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-24', 0.14, 75)
2018-05-03 21:07:19,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,153 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-25', 0.2, 75)
2018-05-03 21:07:19,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,158 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-26', 0.1, 76)
2018-05-03 21:07:19,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,162 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-27', 0.06, 76)
2018-05-03 21:07:19,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,165 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-06-29', 0.0, 74)
2018-05-03 21:07:19,166 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,168 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-06', 0.01, 78)
2018-05-03 21:07:19,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,173 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-08', 0.0, 77)
2018-05-03 21:07:19,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,176 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-09', 0.05, 79)
2018-05-03 21:07:19,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,178 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-10', 0.29, 77)
2018-05-03 21:07:19,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,182 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-11', 0.33, 78)
2018-05-03 21:07:19,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,185 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-12', 0.3, 77)
2018-05-03 21:07:19,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,191 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-13', 0.2, 79)
2018-05-03 21:07:19,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,193 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-15', 0.0, 77)
2018-05-03 21:07:19,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,196 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-17', 0.0, 78)
2018-05-03 21:07:19,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,198 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-18', 0.07, 78)
2018-05-03 21:07:19,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,200 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-19', 0.03, 77)
2018-05-03 21:07:19,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,205 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-07-20', 0.03, 77)
2018-05-03 21:07:19,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,211 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-01', 0.05, 79)
2018-05-03 21:07:19,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,214 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-02', 0.02, 80)
2018-05-03 21:07:19,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,216 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-03', 0.02, 81)
2018-05-03 21:07:19,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,222 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-04', 0.0, 77)
2018-05-03 21:07:19,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,225 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-05', 0.02, 77)
2018-05-03 21:07:19,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:19,227 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-06', 0.27, 77)
2018-05-03 21:07:19,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,230 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-07', 0.3, 77)
2018-05-03 21:07:19,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,234 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-08', 0.27, 76)
2018-05-03 21:07:19,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,239 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-10', 0.01, 79)
2018-05-03 21:07:19,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,242 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-11', 0.02, 79)
2018-05-03 21:07:19,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,245 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-12', 0.09, 79)
2018-05-03 21:07:19,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,249 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-13', 0.19, 77)
2018-05-03 21:07:19,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,254 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-14', 0.21, 78)
2018-05-03 21:07:19,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,261 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-15', 0.02, 83)
2018-05-03 21:07:19,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,264 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-17', 0.51, 74)
2018-05-03 21:07:19,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,267 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-18', 0.24, 74)
2018-05-03 21:07:19,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,273 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-19', 0.02, 76)
2018-05-03 21:07:19,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,278 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-20', 0.08, 79)
2018-05-03 21:07:19,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,281 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-21', 0.05, 83)
2018-05-03 21:07:19,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,289 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-22', 0.65, 77)
2018-05-03 21:07:19,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,293 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-23', 0.33, 73)
2018-05-03 21:07:19,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,295 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-24', 0.23, 76)
2018-05-03 21:07:19,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,298 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-25', 0.52, 76)
2018-05-03 21:07:19,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,300 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-26', 1.03, 76)
2018-05-03 21:07:19,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,306 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-27', 0.0, 78)
2018-05-03 21:07:19,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,313 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-28', 0.0, 85)
2018-05-03 21:07:19,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,320 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-29', 0.25, 81)
2018-05-03 21:07:19,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-08-30', 0.0, 78)
2018-05-03 21:07:19,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,329 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-01', 0.32, 78)
2018-05-03 21:07:19,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,331 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-02', 0.28, 79)
2018-05-03 21:07:19,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,334 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-03', 1.55, 79)
2018-05-03 21:07:19,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,341 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-04', 0.0, 83)
2018-05-03 21:07:19,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,347 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-05', 0.0, 82)
2018-05-03 21:07:19,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,350 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-06', 0.71, 76)
2018-05-03 21:07:19,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,358 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-07', 0.19, 77)
2018-05-03 21:07:19,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,361 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-09', 0.0, 76)
2018-05-03 21:07:19,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,364 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-10', 0.06, 78)
2018-05-03 21:07:19,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,366 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-11', 0.09, 78)
2018-05-03 21:07:19,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,370 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-12', 2.7, 80)
2018-05-03 21:07:19,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,375 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-13', 0.16, 80)
2018-05-03 21:07:19,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,379 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-14', 0.63, 78)
2018-05-03 21:07:19,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,382 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-15', 0.56, 76)
2018-05-03 21:07:19,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,384 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-16', 0.06, 79)
2018-05-03 21:07:19,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,391 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-17', 0.06, 75)
2018-05-03 21:07:19,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,394 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-18', 0.08, 78)
2018-05-03 21:07:19,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,397 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-19', 0.0, 80)
2018-05-03 21:07:19,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,399 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-20', 0.07, 80)
2018-05-03 21:07:19,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,401 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-21', 0.07, 80)
2018-05-03 21:07:19,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,408 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-22', 0.32, 80)
2018-05-03 21:07:19,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,412 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-23', 0.3, 78)
2018-05-03 21:07:19,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,415 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-24', 0.01, 79)
2018-05-03 21:07:19,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,420 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-25', 0.0, 79)
2018-05-03 21:07:19,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,426 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-26', 0.36, 79)
2018-05-03 21:07:19,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,430 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-27', 0.18, 77)
2018-05-03 21:07:19,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,434 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-28', 0.17, 77)
2018-05-03 21:07:19,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,440 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-29', 0.07, 77)
2018-05-03 21:07:19,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,447 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-09-30', 0.17, 80)
2018-05-03 21:07:19,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,592 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-01', 0.0, 79)
2018-05-03 21:07:19,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,596 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-02', 0.02, 76)
2018-05-03 21:07:19,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,599 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-03', 0.0, 75)
2018-05-03 21:07:19,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,603 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-04', 0.0, 78)
2018-05-03 21:07:19,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,609 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-05', 0.4, 76)
2018-05-03 21:07:19,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,612 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-06', 0.22, 75)
2018-05-03 21:07:19,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,615 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-07', 0.22, 75)
2018-05-03 21:07:19,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,617 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-08', 0.05, 75)
2018-05-03 21:07:19,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,620 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-09', 0.03, 75)
2018-05-03 21:07:19,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,626 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-10', 0.11, 74)
2018-05-03 21:07:19,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-11', 0.09, 81)
2018-05-03 21:07:19,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,634 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-12', 1.0, 77)
2018-05-03 21:07:19,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,639 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-13', 1.7, 75)
2018-05-03 21:07:19,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,643 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-14', 1.21, 75)
2018-05-03 21:07:19,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,646 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-15', 0.81, 74)
2018-05-03 21:07:19,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-16', 0.73, 73)
2018-05-03 21:07:19,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,653 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-17', 0.1, 79)
2018-05-03 21:07:19,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,658 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-18', 0.03, 81)
2018-05-03 21:07:19,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,661 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-19', 0.18, 75)
2018-05-03 21:07:19,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:19,664 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-20', 0.2, 74)
2018-05-03 21:07:19,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,667 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-21', 0.02, 76)
2018-05-03 21:07:19,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,670 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-22', 0.0, 75)
2018-05-03 21:07:19,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,674 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-23', 0.03, 78)
2018-05-03 21:07:19,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,678 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-24', 0.0, 74)
2018-05-03 21:07:19,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,680 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-25', 0.03, 75)
2018-05-03 21:07:19,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,682 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-26', 0.04, 77)
2018-05-03 21:07:19,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,685 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-27', 0.06, 77)
2018-05-03 21:07:19,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,691 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-28', 0.27, 72)
2018-05-03 21:07:19,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,696 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-29', 0.02, 74)
2018-05-03 21:07:19,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,703 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-30', 0.02, 74)
2018-05-03 21:07:19,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,712 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-10-31', 0.22, 78)
2018-05-03 21:07:19,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,714 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-01', 0.33, 81)
2018-05-03 21:07:19,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,716 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-02', 0.0, 75)
2018-05-03 21:07:19,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,725 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-03', 0.0, 82)
2018-05-03 21:07:19,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,727 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-04', 0.03, 78)
2018-05-03 21:07:19,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,730 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-05', 0.12, 76)
2018-05-03 21:07:19,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,732 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-06', 0.12, 77)
2018-05-03 21:07:19,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,734 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-07', 0.12, 76)
2018-05-03 21:07:19,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,742 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-08', 0.3, 77)
2018-05-03 21:07:19,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,745 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-09', 0.11, 76)
2018-05-03 21:07:19,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,748 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-10', 0.06, 78)
2018-05-03 21:07:19,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,751 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-11', 0.0, 79)
2018-05-03 21:07:19,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,758 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-12', 0.3, 76)
2018-05-03 21:07:19,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,761 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-13', 0.1, 75)
2018-05-03 21:07:19,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,764 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-14', 0.53, 79)
2018-05-03 21:07:19,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,767 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-15', 0.08, 79)
2018-05-03 21:07:19,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,773 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-16', 0.0, 75)
2018-05-03 21:07:19,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,780 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-17', 0.1, 70)
2018-05-03 21:07:19,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,784 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-18', 0.1, 81)
2018-05-03 21:07:19,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,794 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-19', 0.18, 77)
2018-05-03 21:07:19,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,798 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-20', 0.68, 73)
2018-05-03 21:07:19,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,803 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-21', 1.61, 75)
2018-05-03 21:07:19,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,808 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-22', 0.8, 73)
2018-05-03 21:07:19,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,811 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-23', 0.48, 74)
2018-05-03 21:07:19,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,813 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-24', 1.7, 74)
2018-05-03 21:07:19,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:19,816 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-25', 0.11, 71)
2018-05-03 21:07:19,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,820 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-26', 0.36, 73)
2018-05-03 21:07:19,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,824 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-27', 0.91, 75)
2018-05-03 21:07:19,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,827 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-28', 0.07, 77)
2018-05-03 21:07:19,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,830 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-29', 0.02, 78)
2018-05-03 21:07:19,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,833 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-11-30', 0.03, 76)
2018-05-03 21:07:19,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,837 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-02', 0.03, 74)
2018-05-03 21:07:19,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,846 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-03', 0.08, 75)
2018-05-03 21:07:19,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,848 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-04', 0.01, 80)
2018-05-03 21:07:19,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,851 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-05', 0.28, 72)
2018-05-03 21:07:19,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,854 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-06', 0.52, 73)
2018-05-03 21:07:19,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,860 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-07', 0.0, 70)
2018-05-03 21:07:19,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,864 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-08', 0.08, 69)
2018-05-03 21:07:19,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,866 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-09', 0.1, 77)
2018-05-03 21:07:19,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,868 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-10', 0.08, 74)
2018-05-03 21:07:19,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,874 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-11', 0.0, 77)
2018-05-03 21:07:19,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,876 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-12', 0.62, 72)
2018-05-03 21:07:19,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,878 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-13', 0.0, 69)
2018-05-03 21:07:19,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,881 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-14', 0.69, 69)
2018-05-03 21:07:19,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,883 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-15', 0.24, 75)
2018-05-03 21:07:19,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,886 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-16', 0.08, 75)
2018-05-03 21:07:19,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,892 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-17', 0.13, 72)
2018-05-03 21:07:19,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,895 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-18', 0.28, 73)
2018-05-03 21:07:19,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,898 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-19', 0.36, 78)
2018-05-03 21:07:19,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,900 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-20', 0.2, 75)
2018-05-03 21:07:19,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,904 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-21', 0.03, 75)
2018-05-03 21:07:19,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,908 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-22', 0.01, 74)
2018-05-03 21:07:19,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,911 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-23', 0.11, 73)
2018-05-03 21:07:19,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,913 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-24', 0.0, 70)
2018-05-03 21:07:19,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,916 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-25', 0.52, 70)
2018-05-03 21:07:19,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,918 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-26', 0.19, 72)
2018-05-03 21:07:19,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,929 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-27', 0.25, 74)
2018-05-03 21:07:19,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,932 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-28', 0.4, 74)
2018-05-03 21:07:19,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,936 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-29', 0.11, 67)
2018-05-03 21:07:19,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,941 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-30', 0.03, 74)
2018-05-03 21:07:19,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,944 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2015-12-31', 0.06, 70)
2018-05-03 21:07:19,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,946 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-01', 0.02, 63)
2018-05-03 21:07:19,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,949 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-02', 0.01, 73)
2018-05-03 21:07:19,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,952 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-03', 0.0, 71)
2018-05-03 21:07:19,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,961 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-04', 0.0, 72)
2018-05-03 21:07:19,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,965 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-05', 0.19, 68)
2018-05-03 21:07:19,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,968 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-06', 0.3, 70)
2018-05-03 21:07:19,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,972 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-07', 0.03, 71)
2018-05-03 21:07:19,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,978 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-08', 0.01, 69)
2018-05-03 21:07:19,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:19,981 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-09', 0.0, 71)
2018-05-03 21:07:20,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,100 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-10', 0.01, 72)
2018-05-03 21:07:20,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,101 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-11', 0.01, 72)
2018-05-03 21:07:20,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,105 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-12', 0.03, 66)
2018-05-03 21:07:20,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,109 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-13', 0.0, 77)
2018-05-03 21:07:20,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,112 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-14', 0.0, 66)
2018-05-03 21:07:20,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,114 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-15', 0.0, 71)
2018-05-03 21:07:20,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,116 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-16', 0.03, 72)
2018-05-03 21:07:20,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,124 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-17', 0.02, 67)
2018-05-03 21:07:20,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,127 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-18', 0.0, 67)
2018-05-03 21:07:20,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,129 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-19', 0.0, 73)
2018-05-03 21:07:20,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,132 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-20', 0.02, 67)
2018-05-03 21:07:20,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,134 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-21', 0.27, 75)
2018-05-03 21:07:20,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,137 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-22', 0.01, 70)
2018-05-03 21:07:20,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,143 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-23', 0.0, 71)
2018-05-03 21:07:20,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,146 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-24', 0.0, 70)
2018-05-03 21:07:20,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,149 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-25', 0.13, 70)
2018-05-03 21:07:20,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,151 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-26', 0.16, 77)
2018-05-03 21:07:20,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,155 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-27', 0.0, 71)
2018-05-03 21:07:20,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,160 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-28', 0.0, 68)
2018-05-03 21:07:20,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,164 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-29', 0.0, 69)
2018-05-03 21:07:20,166 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,167 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-30', 0.0, 67)
2018-05-03 21:07:20,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,176 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-01-31', 0.0, 72)
2018-05-03 21:07:20,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,178 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-01', 0.0, 78)
2018-05-03 21:07:20,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,180 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-02', 0.41, 68)
2018-05-03 21:07:20,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,182 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-03', 0.25, 71)
2018-05-03 21:07:20,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,184 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-04', 0.0, 70)
2018-05-03 21:07:20,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:20,187 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-05', 0.0, 70)
2018-05-03 21:07:20,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,192 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-06', 0.0, 75)
2018-05-03 21:07:20,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,194 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-07', 0.16, 71)
2018-05-03 21:07:20,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,195 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-08', 0.0, 74)
2018-05-03 21:07:20,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,198 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-09', 0.0, 66)
2018-05-03 21:07:20,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,200 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-10', 0.0, 63)
2018-05-03 21:07:20,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,202 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-11', 0.0, 72)
2018-05-03 21:07:20,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,205 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-12', 0.07, 74)
2018-05-03 21:07:20,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,209 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-13', 0.02, 75)
2018-05-03 21:07:20,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,212 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-14', 0.0, 74)
2018-05-03 21:07:20,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,214 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-15', 0.0, 79)
2018-05-03 21:07:20,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,216 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-16', 0.05, 75)
2018-05-03 21:07:20,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,218 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-17', 0.1, 73)
2018-05-03 21:07:20,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,223 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-18', 0.02, 74)
2018-05-03 21:07:20,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,227 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-19', 0.11, 69)
2018-05-03 21:07:20,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,229 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-20', 0.07, 76)
2018-05-03 21:07:20,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,231 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-21', 0.09, 74)
2018-05-03 21:07:20,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,233 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-22', 0.05, 74)
2018-05-03 21:07:20,234 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,235 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-23', 0.0, 65)
2018-05-03 21:07:20,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,239 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-24', 0.0, 75)
2018-05-03 21:07:20,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,245 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-25', 0.0, 72)
2018-05-03 21:07:20,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,248 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-26', 0.38, 77)
2018-05-03 21:07:20,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,249 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-27', 0.08, 76)
2018-05-03 21:07:20,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,251 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-28', 0.0, 80)
2018-05-03 21:07:20,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,255 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-02-29', 0.0, 79)
2018-05-03 21:07:20,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,259 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-01', 0.0, 73)
2018-05-03 21:07:20,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,261 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-02', 0.0, 71)
2018-05-03 21:07:20,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,264 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-03', 0.0, 72)
2018-05-03 21:07:20,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,266 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-04', 0.0, 67)
2018-05-03 21:07:20,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,268 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-05', 0.0, 66)
2018-05-03 21:07:20,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,274 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-06', 0.0, 69)
2018-05-03 21:07:20,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,276 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-07', 0.0, 70)
2018-05-03 21:07:20,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,278 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-08', 0.02, 75)
2018-05-03 21:07:20,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,280 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-09', 0.15, 74)
2018-05-03 21:07:20,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,281 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-10', 0.0, 70)
2018-05-03 21:07:20,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,283 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-11', 0.06, 70)
2018-05-03 21:07:20,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:20,289 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-12', 0.0, 73)
2018-05-03 21:07:20,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,295 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-13', 0.0, 72)
2018-05-03 21:07:20,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,299 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-14', 0.0, 72)
2018-05-03 21:07:20,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,301 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-15', 0.3, 66)
2018-05-03 21:07:20,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,304 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-16', 0.41, 71)
2018-05-03 21:07:20,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,311 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-17', 0.02, 69)
2018-05-03 21:07:20,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,314 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-18', 0.03, 70)
2018-05-03 21:07:20,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,316 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-19', 0.02, 70)
2018-05-03 21:07:20,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,322 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-20', 0.0, 72)
2018-05-03 21:07:20,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-21', 0.06, 71)
2018-05-03 21:07:20,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,329 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-22', 0.0, 69)
2018-05-03 21:07:20,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,331 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-23', 1.78, 66)
2018-05-03 21:07:20,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,333 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-24', 0.02, 68)
2018-05-03 21:07:20,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,335 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-25', 1.9, 70)
2018-05-03 21:07:20,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,346 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-26', 0.87, 67)
2018-05-03 21:07:20,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,349 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-27', 0.01, 67)
2018-05-03 21:07:20,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,352 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-28', 0.0, 68)
2018-05-03 21:07:20,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,356 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-29', 0.01, 72)
2018-05-03 21:07:20,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,360 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-30', 0.02, 66)
2018-05-03 21:07:20,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,362 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-03-31', 0.0, 69)
2018-05-03 21:07:20,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,365 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-01', 0.0, 71)
2018-05-03 21:07:20,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,367 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-02', 0.02, 71)
2018-05-03 21:07:20,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,371 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-03', 0.0, 73)
2018-05-03 21:07:20,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,376 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-04', 0.0, 75)
2018-05-03 21:07:20,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,380 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-05', 0.2, 69)
2018-05-03 21:07:20,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,382 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-06', 0.1, 70)
2018-05-03 21:07:20,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,385 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-07', 0.12, 68)
2018-05-03 21:07:20,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,389 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-08', 0.02, 72)
2018-05-03 21:07:20,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,393 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-09', 0.66, 72)
2018-05-03 21:07:20,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,395 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-10', 0.02, 68)
2018-05-03 21:07:20,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,397 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-11', 0.08, 72)
2018-05-03 21:07:20,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,399 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-12', 0.02, 74)
2018-05-03 21:07:20,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,402 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-13', 0.05, 75)
2018-05-03 21:07:20,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,405 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-14', 0.06, 74)
2018-05-03 21:07:20,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,409 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-15', 0.0, 75)
2018-05-03 21:07:20,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,411 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-16', 0.04, 73)
2018-05-03 21:07:20,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:20,413 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-17', 0.17, 69)
2018-05-03 21:07:20,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,415 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-18', 0.4, 69)
2018-05-03 21:07:20,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,521 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-19', 0.02, 70)
2018-05-03 21:07:20,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,526 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-20', 0.0, 73)
2018-05-03 21:07:20,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,528 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-21', 0.01, 73)
2018-05-03 21:07:20,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,529 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-22', 0.0, 74)
2018-05-03 21:07:20,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,531 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-23', 0.21, 71)
2018-05-03 21:07:20,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,533 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-24', 0.11, 75)
2018-05-03 21:07:20,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,535 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-25', 0.06, 76)
2018-05-03 21:07:20,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,539 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-26', 0.01, 76)
2018-05-03 21:07:20,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,543 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-27', 0.05, 74)
2018-05-03 21:07:20,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,545 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-28', 0.0, 75)
2018-05-03 21:07:20,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,547 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-29', 0.0, 75)
2018-05-03 21:07:20,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,548 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-04-30', 0.0, 74)
2018-05-03 21:07:20,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,551 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-01', 0.04, 75)
2018-05-03 21:07:20,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,554 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-02', 0.0, 74)
2018-05-03 21:07:20,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,559 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-03', 0.02, 74)
2018-05-03 21:07:20,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,561 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-04', 0.12, 74)
2018-05-03 21:07:20,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,564 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-05', 0.6, 77)
2018-05-03 21:07:20,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,566 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-06', 0.22, 70)
2018-05-03 21:07:20,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,569 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-07', 1.53, 69)
2018-05-03 21:07:20,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,575 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-08', 0.8, 68)
2018-05-03 21:07:20,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,580 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-09', 0.1, 73)
2018-05-03 21:07:20,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,582 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-10', 0.15, 72)
2018-05-03 21:07:20,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,584 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-11', 0.02, 72)
2018-05-03 21:07:20,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,586 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-12', 0.0, 68)
2018-05-03 21:07:20,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,590 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-13', 0.0, 68)
2018-05-03 21:07:20,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,593 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-14', 0.18, 72)
2018-05-03 21:07:20,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,594 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-15', 0.02, 74)
2018-05-03 21:07:20,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,597 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-16', 0.0, 75)
2018-05-03 21:07:20,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,599 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-17', 0.03, 75)
2018-05-03 21:07:20,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,602 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-18', 0.05, 74)
2018-05-03 21:07:20,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,606 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-19', 0.05, 75)
2018-05-03 21:07:20,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,610 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-20', 0.15, 75)
2018-05-03 21:07:20,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,612 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-21', 0.08, 75)
2018-05-03 21:07:20,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,615 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-22', 0.0, 75)
2018-05-03 21:07:20,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:20,617 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-23', 0.0, 75)
2018-05-03 21:07:20,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,619 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-24', 0.0, 75)
2018-05-03 21:07:20,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,627 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-25', 0.0, 74)
2018-05-03 21:07:20,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-26', 0.8, 72)
2018-05-03 21:07:20,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,634 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-27', 0.05, 76)
2018-05-03 21:07:20,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,636 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-28', 0.0, 76)
2018-05-03 21:07:20,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,641 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-29', 0.0, 71)
2018-05-03 21:07:20,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,644 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-30', 0.03, 72)
2018-05-03 21:07:20,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,646 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-05-31', 0.18, 72)
2018-05-03 21:07:20,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,648 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-01', 0.89, 70)
2018-05-03 21:07:20,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-02', 0.15, 69)
2018-05-03 21:07:20,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,652 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-03', 0.16, 70)
2018-05-03 21:07:20,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,656 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-04', 0.0, 68)
2018-05-03 21:07:20,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,661 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-05', 0.63, 70)
2018-05-03 21:07:20,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,664 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-06', 0.36, 74)
2018-05-03 21:07:20,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,666 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-07', 0.4, 75)
2018-05-03 21:07:20,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,668 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-08', 0.0, 74)
2018-05-03 21:07:20,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,677 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-09', 0.21, 71)
2018-05-03 21:07:20,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,680 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-10', 0.06, 73)
2018-05-03 21:07:20,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,682 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-11', 0.02, 75)
2018-05-03 21:07:20,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,684 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-12', 0.04, 74)
2018-05-03 21:07:20,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,687 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-13', 0.08, 76)
2018-05-03 21:07:20,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,692 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-14', 0.06, 76)
2018-05-03 21:07:20,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,696 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-15', 0.18, 76)
2018-05-03 21:07:20,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,698 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-16', 0.03, 76)
2018-05-03 21:07:20,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,700 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-17', 0.16, 75)
2018-05-03 21:07:20,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,704 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-18', 0.3, 75)
2018-05-03 21:07:20,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,708 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-19', 0.02, 75)
2018-05-03 21:07:20,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,710 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-20', 0.16, 74)
2018-05-03 21:07:20,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,712 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-21', 0.03, 73)
2018-05-03 21:07:20,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,714 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-22', 0.01, 76)
2018-05-03 21:07:20,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,717 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-23', 0.25, 74)
2018-05-03 21:07:20,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,720 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-24', 0.02, 78)
2018-05-03 21:07:20,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,726 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-25', 0.8, 71)
2018-05-03 21:07:20,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,728 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-26', 0.06, 75)
2018-05-03 21:07:20,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,731 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-27', 0.06, 75)
2018-05-03 21:07:20,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,733 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-28', 0.02, 74)
2018-05-03 21:07:20,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,735 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-29', 0.03, 77)
2018-05-03 21:07:20,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,740 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-06-30', 0.0, 77)
2018-05-03 21:07:20,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,745 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-01', 0.0, 76)
2018-05-03 21:07:20,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,748 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-02', 0.0, 77)
2018-05-03 21:07:20,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,750 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-03', 0.0, 77)
2018-05-03 21:07:20,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,752 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-04', 0.14, 76)
2018-05-03 21:07:20,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,757 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-05', 0.05, 75)
2018-05-03 21:07:20,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,760 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-06', 0.49, 74)
2018-05-03 21:07:20,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,762 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-07', 0.05, 75)
2018-05-03 21:07:20,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,764 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-08', 0.03, 76)
2018-05-03 21:07:20,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,766 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-09', 0.0, 76)
2018-05-03 21:07:20,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,768 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-10', 0.14, 75)
2018-05-03 21:07:20,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,772 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-11', 0.11, 73)
2018-05-03 21:07:20,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,777 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-12', 0.05, 77)
2018-05-03 21:07:20,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,780 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-13', 0.06, 74)
2018-05-03 21:07:20,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,782 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-14', 0.43, 75)
2018-05-03 21:07:20,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,785 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-15', 0.23, 74)
2018-05-03 21:07:20,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,789 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-16', 0.44, 75)
2018-05-03 21:07:20,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,793 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-17', 0.03, 76)
2018-05-03 21:07:20,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,795 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-18', 0.26, 76)
2018-05-03 21:07:20,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,797 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-19', 0.08, 75)
2018-05-03 21:07:20,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,799 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-20', 0.0, 78)
2018-05-03 21:07:20,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,801 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-21', 0.04, 77)
2018-05-03 21:07:20,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,805 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-22', 0.06, 77)
2018-05-03 21:07:20,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,812 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-23', 0.16, 76)
2018-05-03 21:07:20,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,816 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-24', 0.15, 78)
2018-05-03 21:07:20,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,818 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-25', 7.65, 78)
2018-05-03 21:07:20,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,822 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-26', 0.0, 77)
2018-05-03 21:07:20,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,827 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-27', 0.02, 78)
2018-05-03 21:07:20,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,946 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-28', 0.0, 78)
2018-05-03 21:07:20,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,949 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-29', 0.0, 77)
2018-05-03 21:07:20,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,951 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-30', 0.03, 76)
2018-05-03 21:07:20,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,955 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-07-31', 0.05, 76)
2018-05-03 21:07:20,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,960 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-01', 2.35, 76)
2018-05-03 21:07:20,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:20,963 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-02', 0.2, 75)
2018-05-03 21:07:20,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,966 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-03', 0.02, 76)
2018-05-03 21:07:20,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,969 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-04', 0.62, 76)
2018-05-03 21:07:20,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,974 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-05', 0.03, 78)
2018-05-03 21:07:20,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,980 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-06', 0.07, 76)
2018-05-03 21:07:20,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,983 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-07', 0.3, 77)
2018-05-03 21:07:20,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,986 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-08', 0.33, 78)
2018-05-03 21:07:20,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,991 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-09', 0.0, 77)
2018-05-03 21:07:20,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,995 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-10', 0.0, 78)
2018-05-03 21:07:20,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:20,998 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-11', 0.04, 77)
2018-05-03 21:07:20,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,001 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-12', 0.05, 76)
2018-05-03 21:07:21,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,004 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-13', 0.0, 77)
2018-05-03 21:07:21,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,009 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-14', 0.17, 77)
2018-05-03 21:07:21,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,011 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-15', 0.17, 77)
2018-05-03 21:07:21,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,013 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-16', 0.1, 77)
2018-05-03 21:07:21,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,015 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-17', 0.0, 73)
2018-05-03 21:07:21,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,018 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-18', 0.0, 78)
2018-05-03 21:07:21,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,021 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-19', 0.14, 77)
2018-05-03 21:07:21,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,025 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-20', 0.03, 79)
2018-05-03 21:07:21,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,028 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-21', 0.32, 76)
2018-05-03 21:07:21,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,031 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-22', 0.94, 76)
2018-05-03 21:07:21,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,034 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-23', 0.15, 76)
2018-05-03 21:07:21,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,037 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-24', 2.15, 76)
2018-05-03 21:07:21,040 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,042 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-25', 0.08, 77)
2018-05-03 21:07:21,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,045 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-26', 0.03, 78)
2018-05-03 21:07:21,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,048 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-27', 0.18, 73)
2018-05-03 21:07:21,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,051 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-28', 0.14, 73)
2018-05-03 21:07:21,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,053 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-29', 0.17, 78)
2018-05-03 21:07:21,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,058 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-30', 0.0, 76)
2018-05-03 21:07:21,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,064 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-08-31', 0.1, 77)
2018-05-03 21:07:21,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,066 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-01', 0.0, 79)
2018-05-03 21:07:21,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,069 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-02', 0.02, 78)
2018-05-03 21:07:21,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,072 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-03', 0.07, 77)
2018-05-03 21:07:21,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,076 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-04', 0.03, 75)
2018-05-03 21:07:21,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,079 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-05', 0.11, 78)
2018-05-03 21:07:21,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,083 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-06', 0.05, 74)
2018-05-03 21:07:21,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:21,085 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-07', 0.1, 75)
2018-05-03 21:07:21,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,088 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-08', 0.22, 77)
2018-05-03 21:07:21,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,092 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-09', 0.01, 76)
2018-05-03 21:07:21,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,095 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-10', 0.01, 76)
2018-05-03 21:07:21,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,097 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-11', 0.18, 76)
2018-05-03 21:07:21,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,099 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-12', 0.04, 76)
2018-05-03 21:07:21,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,101 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-13', 0.37, 76)
2018-05-03 21:07:21,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,104 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-14', 0.9, 76)
2018-05-03 21:07:21,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,109 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-15', 0.12, 78)
2018-05-03 21:07:21,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,112 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-16', 0.01, 78)
2018-05-03 21:07:21,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,115 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-17', 0.04, 78)
2018-05-03 21:07:21,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,118 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-18', 0.0, 78)
2018-05-03 21:07:21,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,122 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-19', 0.01, 75)
2018-05-03 21:07:21,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,126 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-20', 0.09, 78)
2018-05-03 21:07:21,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,129 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-21', 0.06, 76)
2018-05-03 21:07:21,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,132 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-22', 0.09, 77)
2018-05-03 21:07:21,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,134 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-23', 0.15, 76)
2018-05-03 21:07:21,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,137 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-24', 0.0, 79)
2018-05-03 21:07:21,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,142 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-25', 0.02, 77)
2018-05-03 21:07:21,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,148 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-26', 0.06, 77)
2018-05-03 21:07:21,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,150 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-09-27', 0.12, 77)
2018-05-03 21:07:21,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)2018-05-03 21:07:21,194 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-06', 0.05, 76)
2018-05-03 21:07:21,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,197 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-07', 0.0, 78)
2018-05-03 21:07:21,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,200 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-08', 0.0, 76)
2018-05-03 21:07:21,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,204 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-09', 0.0, 77)
2018-05-03 21:07:21,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,210 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-10', 0.0, 75)
2018-05-03 21:07:21,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,216 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-11', 0.02, 77)
2018-05-03 21:07:21,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,219 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-12', 0.03, 75)
2018-05-03 21:07:21,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,226 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-13', 0.0, 78)
2018-05-03 21:07:21,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,229 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-14', 0.0, 77)
2018-05-03 21:07:21,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,232 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-15', 0.0, 76)
2018-05-03 21:07:21,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,234 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-16', 0.0, 75)
2018-05-03 21:07:21,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,238 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-17', 0.03, 77)
2018-05-03 21:07:21,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,244 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-18', 0.05, 77)
2018-05-03 21:07:21,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,248 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-19', 0.06, 77)
2018-05-03 21:07:21,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,251 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-20', 0.0, 76)
2018-05-03 21:07:21,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:21,262 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-21', 0.15, 76)
2018-05-03 21:07:21,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,265 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-22', 0.1, 77)
2018-05-03 21:07:21,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,268 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-23', 0.01, 76)
2018-05-03 21:07:21,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,272 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-24', 0.0, 76)
2018-05-03 21:07:21,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,280 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-25', 0.04, 77)
2018-05-03 21:07:21,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,284 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-26', 0.06, 74)
2018-05-03 21:07:21,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,291 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-27', 0.11, 75)
2018-05-03 21:07:21,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,296 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-28', 0.02, 77)
2018-05-03 21:07:21,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,299 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-29', 0.02, 77)
2018-05-03 21:07:21,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,303 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-30', 0.1, 78)
2018-05-03 21:07:21,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,308 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-10-31', 0.03, 76)
2018-05-03 21:07:21,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,311 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-01', 0.01, 77)
2018-05-03 21:07:21,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,314 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-02', 0.0, 76)
2018-05-03 21:07:21,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,318 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-03', 0.0, 74)
2018-05-03 21:07:21,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,326 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-04', 0.0, 76)
2018-05-03 21:07:21,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,555 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-05', 0.02, 72)
2018-05-03 21:07:21,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,561 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-06', 0.02, 76)
2018-05-03 21:07:21,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,564 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-07', 0.0, 69)
2018-05-03 21:07:21,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,568 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-08', 0.14, 71)
2018-05-03 21:07:21,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,571 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-09', 0.08, 70)
2018-05-03 21:07:21,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,577 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-10', 0.0, 69)
2018-05-03 21:07:21,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,580 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-11', 0.0, 71)
2018-05-03 21:07:21,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,583 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-12', 0.0, 68)
2018-05-03 21:07:21,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,586 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-13', 0.0, 72)
2018-05-03 21:07:21,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,593 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-14', 0.06, 76)
2018-05-03 21:07:21,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,597 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-15', 0.0, 78)
2018-05-03 21:07:21,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,599 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-16', 0.14, 76)
2018-05-03 21:07:21,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,602 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-17', 0.03, 75)
2018-05-03 21:07:21,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,605 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-18', 0.01, 78)
2018-05-03 21:07:21,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,611 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-19', 0.11, 73)
2018-05-03 21:07:21,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,614 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-20', 0.11, 75)
2018-05-03 21:07:21,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,617 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-21', 0.02, 75)
2018-05-03 21:07:21,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,619 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-22', 0.41, 76)
2018-05-03 21:07:21,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,624 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-23', 0.03, 75)
2018-05-03 21:07:21,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,628 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-24', 0.2, 75)
2018-05-03 21:07:21,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,631 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-25', 0.05, 76)
2018-05-03 21:07:21,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:21,634 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-26', 0.05, 76)
2018-05-03 21:07:21,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,637 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-27', 0.06, 75)
2018-05-03 21:07:21,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,643 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-28', 0.02, 75)
2018-05-03 21:07:21,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,645 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-29', 0.04, 74)
2018-05-03 21:07:21,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,650 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-11-30', 0.05, 74)
2018-05-03 21:07:21,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,655 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-01', 0.33, 73)
2018-05-03 21:07:21,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,661 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-02', 0.3, 71)
2018-05-03 21:07:21,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,665 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-03', 0.04, 71)
2018-05-03 21:07:21,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,674 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-04', 0.1, 69)
2018-05-03 21:07:21,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,679 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-05', 0.34, 68)
2018-05-03 21:07:21,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,683 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-06', 0.02, 70)
2018-05-03 21:07:21,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,685 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-07', 0.17, 71)
2018-05-03 21:07:21,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,692 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-08', 0.03, 72)
2018-05-03 21:07:21,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,696 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-09', 0.34, 70)
2018-05-03 21:07:21,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,700 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-10', 0.02, 71)
2018-05-03 21:07:21,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,702 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-11', 0.02, 72)
2018-05-03 21:07:21,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,707 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-12', 0.01, 68)
2018-05-03 21:07:21,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,729 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-13', 0.1, 68)
2018-05-03 21:07:21,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,732 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-14', 0.05, 70)
2018-05-03 21:07:21,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,735 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-15', 0.02, 70)
2018-05-03 21:07:21,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,739 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-16', 0.01, 63)
2018-05-03 21:07:21,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,745 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-17', 0.11, 71)
2018-05-03 21:07:21,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,750 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-18', 0.29, 67)
2018-05-03 21:07:21,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,753 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-19', 0.21, 69)
2018-05-03 21:07:21,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,756 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-20', 0.02, 74)
2018-05-03 21:07:21,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,764 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-21', 0.03, 72)
2018-05-03 21:07:21,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,767 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-22', 0.17, 70)
2018-05-03 21:07:21,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,769 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-23', 0.1, 69)
2018-05-03 21:07:21,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,775 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-24', 0.14, 73)
2018-05-03 21:07:21,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,779 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-25', 0.03, 74)
2018-05-03 21:07:21,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,782 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-26', 0.26, 74)
2018-05-03 21:07:21,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,785 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-27', 0.03, 73)
2018-05-03 21:07:21,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,789 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-28', 0.09, 71)
2018-05-03 21:07:21,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,794 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-29', 0.18, 72)
2018-05-03 21:07:21,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,797 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-30', 0.21, 69)
2018-05-03 21:07:21,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,799 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2016-12-31', 0.62, 71)
2018-05-03 21:07:21,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:21,802 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-01', 0.29, 66)
2018-05-03 21:07:21,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,805 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-02', 0.0, 66)
2018-05-03 21:07:21,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,810 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-03', 0.0, 65)
2018-05-03 21:07:21,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,813 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-04', 0.0, 64)
2018-05-03 21:07:21,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,816 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-05', 0.0, 65)
2018-05-03 21:07:21,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,818 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-06', 0.0, 70)
2018-05-03 21:07:21,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,829 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-07', 0.06, 72)
2018-05-03 21:07:21,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,833 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-08', 0.0, 62)
2018-05-03 21:07:21,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,836 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-09', 0.0, 65)
2018-05-03 21:07:21,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,846 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-10', 0.0, 66)
2018-05-03 21:07:21,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,850 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-11', 0.0, 66)
2018-05-03 21:07:21,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,853 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-12', 0.0, 67)
2018-05-03 21:07:21,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,856 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-13', 0.0, 70)
2018-05-03 21:07:21,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,861 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-14', 0.0, 66)
2018-05-03 21:07:21,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,864 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-15', 0.0, 67)
2018-05-03 21:07:21,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,866 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-16', 0.0, 69)
2018-05-03 21:07:21,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,868 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-17', 0.0, 74)
2018-05-03 21:07:21,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,872 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-18', 0.0, 73)
2018-05-03 21:07:21,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,877 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-19', 0.0, 74)
2018-05-03 21:07:21,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,879 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-20', 0.0, 73)
2018-05-03 21:07:21,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,882 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-21', 0.04, 72)
2018-05-03 21:07:21,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,884 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-22', 0.01, 71)
2018-05-03 21:07:21,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,886 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-23', 0.08, 71)
2018-05-03 21:07:21,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,897 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-24', 0.15, 71)
2018-05-03 21:07:21,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,902 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-25', 0.12, 73)
2018-05-03 21:07:21,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,909 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-26', 0.0, 72)
2018-05-03 21:07:21,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,912 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-27', 0.0, 63)
2018-05-03 21:07:21,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,916 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-28', 0.14, 71)
2018-05-03 21:07:21,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,919 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-29', 0.0, 71)
2018-05-03 21:07:21,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,923 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-30', 0.0, 69)
2018-05-03 21:07:21,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,930 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-01-31', 0.0, 69)
2018-05-03 21:07:21,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,933 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-01', 0.0, 69)
2018-05-03 21:07:21,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,936 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-02', 0.0, 63)
2018-05-03 21:07:21,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,939 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-03', 0.0, 64)
2018-05-03 21:07:21,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,944 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-04', 0.0, 67)
2018-05-03 21:07:21,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,947 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-05', 0.0, 75)
2018-05-03 21:07:21,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:21,949 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-06', 0.16, 74)
2018-05-03 21:07:21,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,951 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-07', 1.08, 67)
2018-05-03 21:07:21,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,954 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-08', 1.08, 67)
2018-05-03 21:07:21,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,959 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-09', 0.02, 64)
2018-05-03 21:07:21,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,963 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-10', 0.0, 64)
2018-05-03 21:07:21,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,967 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-11', 1.0, 65)
2018-05-03 21:07:21,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:21,972 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-12', 1.07, 67)
2018-05-03 21:07:22,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,101 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-13', 2.9, 69)
2018-05-03 21:07:22,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,105 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-14', 0.0, 72)
2018-05-03 21:07:22,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,110 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-15', 0.0, 76)
2018-05-03 21:07:22,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,113 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-16', 0.0, 74)
2018-05-03 21:07:22,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,115 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-17', 0.8, 67)
2018-05-03 21:07:22,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,117 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-18', 0.0, 71)
2018-05-03 21:07:22,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,119 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-19', 0.0, 70)
2018-05-03 21:07:22,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,122 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-20', 0.0, 71)
2018-05-03 21:07:22,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,128 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-21', 0.0, 70)
2018-05-03 21:07:22,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,132 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-22', 0.06, 70)
2018-05-03 21:07:22,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,135 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-23', 0.0, 70)
2018-05-03 21:07:22,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,139 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-24', 0.0, 70)
2018-05-03 21:07:22,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,144 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-25', 0.0, 63)
2018-05-03 21:07:22,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,147 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-26', 0.0, 63)
2018-05-03 21:07:22,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,151 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-27', 0.0, 66)
2018-05-03 21:07:22,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,153 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-02-28', 0.16, 73)
2018-05-03 21:07:22,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,159 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-01', 2.2, 72)
2018-05-03 21:07:22,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,165 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-02', 1.45, 73)
2018-05-03 21:07:22,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,169 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-03', 0.54, 73)
2018-05-03 21:07:22,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,179 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-04', 0.0, 76)
2018-05-03 21:07:22,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,181 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-05', 0.1, 70)
2018-05-03 21:07:22,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,183 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-06', 0.51, 66)
2018-05-03 21:07:22,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,186 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-07', 0.0, 65)
2018-05-03 21:07:22,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,189 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-08', 0.0, 70)
2018-05-03 21:07:22,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,197 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-09', 0.8, 67)
2018-05-03 21:07:22,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,200 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-10', 0.13, 68)
2018-05-03 21:07:22,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,202 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-11', 0.03, 68)
2018-05-03 21:07:22,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,209 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-12', 0.0, 70)
2018-05-03 21:07:22,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,212 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-13', 0.0, 70)
2018-05-03 21:07:22,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:22,215 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-14', 0.0, 70)
2018-05-03 21:07:22,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,218 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-15', 0.0, 71)
2018-05-03 21:07:22,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,222 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-16', 0.0, 69)
2018-05-03 21:07:22,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,226 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-17', 0.19, 69)
2018-05-03 21:07:22,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,246 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-18', 0.0, 67)
2018-05-03 21:07:22,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,250 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-19', 0.0, 72)
2018-05-03 21:07:22,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,253 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-20', 0.0, 72)
2018-05-03 21:07:22,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,256 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-21', 0.0, 73)
2018-05-03 21:07:22,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,262 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-22', 0.0, 74)
2018-05-03 21:07:22,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,264 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-23', 0.0, 74)
2018-05-03 21:07:22,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,266 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-24', 0.6, 72)
2018-05-03 21:07:22,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,269 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-25', 0.13, 72)
2018-05-03 21:07:22,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,272 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-26', 0.0, 75)
2018-05-03 21:07:22,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,277 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-27', 0.0, 74)
2018-05-03 21:07:22,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,282 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-28', 0.03, 75)
2018-05-03 21:07:22,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,284 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-29', 0.0, 73)
2018-05-03 21:07:22,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,287 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-30', 0.08, 74)
2018-05-03 21:07:22,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,291 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-03-31', 0.0, 74)
2018-05-03 21:07:22,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,330 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-01', 0.0, 76)
2018-05-03 21:07:22,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,334 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-02', 0.0, 74)
2018-05-03 21:07:22,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,336 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-03', 0.08, 73)
2018-05-03 21:07:22,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,340 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-04', 0.04, 72)
2018-05-03 21:07:22,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,347 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-05', 0.04, 72)
2018-05-03 21:07:22,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,351 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-06', 0.0, 73)
2018-05-03 21:07:22,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,353 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-07', 0.0, 74)
2018-05-03 21:07:22,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,357 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-08', 0.0, 73)
2018-05-03 21:07:22,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,361 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-09', 0.0, 69)
2018-05-03 21:07:22,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,364 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-10', 0.01, 71)
2018-05-03 21:07:22,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,366 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-11', 0.03, 75)
2018-05-03 21:07:22,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,369 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-12', 0.03, 74)
2018-05-03 21:07:22,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,378 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-13', 0.27, 71)
2018-05-03 21:07:22,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,381 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-14', 0.69, 70)
2018-05-03 21:07:22,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,384 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-15', 0.45, 70)
2018-05-03 21:07:22,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,387 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-16', 0.49, 69)
2018-05-03 21:07:22,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,389 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-17', 0.41, 69)
2018-05-03 21:07:22,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,394 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-18', 0.08, 70)
2018-05-03 21:07:22,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:22,398 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-19', 0.02, 70)
2018-05-03 21:07:22,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,401 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-20', 0.33, 75)
2018-05-03 21:07:22,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,404 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-21', 1.16, 70)
2018-05-03 21:07:22,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,408 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-22', 1.01, 74)
2018-05-03 21:07:22,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,410 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-23', 0.02, 75)
2018-05-03 21:07:22,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,427 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-24', 0.0, 76)
2018-05-03 21:07:22,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,431 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-25', 0.0, 75)
2018-05-03 21:07:22,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,434 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-26', 0.0, 78)
2018-05-03 21:07:22,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,437 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-27', 0.1, 73)
2018-05-03 21:07:22,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,440 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-28', 2.6, 70)
2018-05-03 21:07:22,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,445 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-29', 0.35, 66)
2018-05-03 21:07:22,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,450 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-04-30', 1.21, 61)
2018-05-03 21:07:22,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,454 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-01', 0.07, 68)
2018-05-03 21:07:22,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,460 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-02', 0.03, 73)
2018-05-03 21:07:22,461 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,469 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-03', 0.01, 74)
2018-05-03 21:07:22,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,495 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-04', 0.0, 77)
2018-05-03 21:07:22,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,498 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-05', 0.0, 78)
2018-05-03 21:07:22,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,500 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-06', 0.0, 75)
2018-05-03 21:07:22,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,503 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-07', 0.07, 75)
2018-05-03 21:07:22,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,506 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-08', 0.22, 71)
2018-05-03 21:07:22,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,510 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-09', 1.62, 74)
2018-05-03 21:07:22,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,513 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-10', 0.05, 75)
2018-05-03 21:07:22,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,516 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-11', 0.03, 74)
2018-05-03 21:07:22,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,518 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-12', 0.04, 74)
2018-05-03 21:07:22,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,520 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-13', 0.02, 75)
2018-05-03 21:07:22,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,525 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-14', 0.05, 75)
2018-05-03 21:07:22,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,528 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-15', 0.08, 75)
2018-05-03 21:07:22,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,533 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-16', 0.03, 75)
2018-05-03 21:07:22,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,536 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-17', 0.02, 75)
2018-05-03 21:07:22,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,543 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-18', 0.09, 70)
2018-05-03 21:07:22,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,549 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-19', 0.02, 70)
2018-05-03 21:07:22,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,552 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-20', 0.0, 72)
2018-05-03 21:07:22,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,555 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-21', 0.0, 72)
2018-05-03 21:07:22,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,559 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-22', 0.0, 76)
2018-05-03 21:07:22,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,649 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-23', 0.02, 73)
2018-05-03 21:07:22,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,652 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-24', 0.58, 75)
2018-05-03 21:07:22,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,655 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-25', 0.37, 69)
2018-05-03 21:07:22,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,662 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-26', 0.02, 73)
2018-05-03 21:07:22,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,665 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-27', 0.0, 69)
2018-05-03 21:07:22,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,669 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-28', 0.29, 71)
2018-05-03 21:07:22,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,673 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-29', 0.02, 71)
2018-05-03 21:07:22,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,679 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-30', 0.2, 74)
2018-05-03 21:07:22,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,684 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-05-31', 0.1, 76)
2018-05-03 21:07:22,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,687 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-01', 0.03, 76)
2018-05-03 21:07:22,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,691 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-02', 0.1, 76)
2018-05-03 21:07:22,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,694 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-03', 0.2, 76)
2018-05-03 21:07:22,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,698 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-04', 0.15, 78)
2018-05-03 21:07:22,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,700 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-05', 0.0, 76)
2018-05-03 21:07:22,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,702 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-06', 0.0, 75)
2018-05-03 21:07:22,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,705 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-07', 0.0, 75)
2018-05-03 21:07:22,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,709 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-08', 0.02, 76)
2018-05-03 21:07:22,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,713 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-09', 0.02, 78)
2018-05-03 21:07:22,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,716 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-10', 0.21, 75)
2018-05-03 21:07:22,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,718 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-11', 0.24, 73)
2018-05-03 21:07:22,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,720 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-12', 0.19, 76)
2018-05-03 21:07:22,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,724 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-13', 0.36, 76)
2018-05-03 21:07:22,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,728 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-14', 0.27, 76)
2018-05-03 21:07:22,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,731 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-15', 0.17, 77)
2018-05-03 21:07:22,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,734 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-16', 0.02, 76)
2018-05-03 21:07:22,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,738 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-17', 0.35, 77)
2018-05-03 21:07:22,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,745 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-18', 0.25, 72)
2018-05-03 21:07:22,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,749 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-19', 0.05, 77)
2018-05-03 21:07:22,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,751 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-20', 0.05, 75)
2018-05-03 21:07:22,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,753 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-21', 0.02, 82)
2018-05-03 21:07:22,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,757 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-22', 0.1, 77)
2018-05-03 21:07:22,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,762 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-23', 0.0, 76)
2018-05-03 21:07:22,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,766 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-24', 0.0, 74)
2018-05-03 21:07:22,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,769 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-25', 0.08, 73)
2018-05-03 21:07:22,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,771 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-26', 0.02, 77)
2018-05-03 21:07:22,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,776 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-27', 0.0, 77)
2018-05-03 21:07:22,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,779 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-28', 0.01, 77)
2018-05-03 21:07:22,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:22,781 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-29', 0.03, 76)
2018-05-03 21:07:22,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,784 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-06-30', 0.04, 74)
2018-05-03 21:07:22,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,786 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-01', 0.06, 76)
2018-05-03 21:07:22,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,789 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-02', 0.05, 77)
2018-05-03 21:07:22,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,794 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-03', 0.13, 77)
2018-05-03 21:07:22,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,799 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-04', 0.03, 77)
2018-05-03 21:07:22,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,802 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-05', 0.0, 77)
2018-05-03 21:07:22,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,806 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-06', 0.0, 76)
2018-05-03 21:07:22,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,813 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-07', 0.02, 77)
2018-05-03 21:07:22,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,818 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-08', 0.02, 76)
2018-05-03 21:07:22,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,820 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-09', 0.09, 76)
2018-05-03 21:07:22,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,823 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-10', 0.0, 79)
2018-05-03 21:07:22,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,828 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-11', 0.01, 76)
2018-05-03 21:07:22,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,830 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-12', 0.01, 78)
2018-05-03 21:07:22,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,832 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-13', 0.33, 76)
2018-05-03 21:07:22,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,835 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-14', 0.05, 80)
2018-05-03 21:07:22,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,837 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-15', 0.03, 79)
2018-05-03 21:07:22,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,840 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-16', 0.07, 76)
2018-05-03 21:07:22,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,843 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-17', 0.12, 75)
2018-05-03 21:07:22,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,847 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-18', 0.03, 78)
2018-05-03 21:07:22,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,849 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-19', 0.0, 78)
2018-05-03 21:07:22,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,852 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-20', 0.12, 78)
2018-05-03 21:07:22,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,854 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-21', 0.0, 78)
2018-05-03 21:07:22,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,860 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-22', 0.07, 78)
2018-05-03 21:07:22,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,863 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-23', 0.06, 75)
2018-05-03 21:07:22,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,866 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-24', 0.58, 78)
2018-05-03 21:07:22,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,870 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-25', 0.03, 78)
2018-05-03 21:07:22,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,877 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-26', 0.06, 78)
2018-05-03 21:07:22,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,881 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-27', 0.0, 77)
2018-05-03 21:07:22,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,884 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-28', 0.13, 77)
2018-05-03 21:07:22,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,886 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-29', 0.06, 78)
2018-05-03 21:07:22,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,889 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-30', 0.0, 78)
2018-05-03 21:07:22,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,896 INFO sqlalchemy.engine.base.Engine ('USC00513117', '2017-07-31', 0.0, 77)
2018-05-03 21:07:22,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,901 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-01', 0.01, 67)
2018-05-03 21:07:22,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,904 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-02', 0.0, 70)
2018-05-03 21:07:22,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,908 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-03', 0.01, 68)
2018-05-03 21:07:22,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,912 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-04', 0.48, 67)
2018-05-03 21:07:22,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,915 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-05', 0.22, 67)
2018-05-03 21:07:22,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,918 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-06', 0.06, 74)
2018-05-03 21:07:22,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,922 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-08', 0.0, 69)
2018-05-03 21:07:22,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,926 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-09', 0.03, 70)
2018-05-03 21:07:22,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,930 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-10', 0.03, 70)
2018-05-03 21:07:22,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,933 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-11', 0.32, 72)
2018-05-03 21:07:22,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,936 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-12', 0.02, 67)
2018-05-03 21:07:22,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,939 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-14', 0.0, 70)
2018-05-03 21:07:22,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,947 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-15', 0.03, 70)
2018-05-03 21:07:22,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,951 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-17', 0.0, 66)
2018-05-03 21:07:22,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,954 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-18', 0.54, 66)
2018-05-03 21:07:22,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,962 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-19', 0.07, 66)
2018-05-03 21:07:22,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,968 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-20', 0.0, 68)
2018-05-03 21:07:22,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,974 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-21', 0.0, 72)
2018-05-03 21:07:22,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,978 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-22', 0.0, 71)
2018-05-03 21:07:22,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,981 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-23', 0.0, 70)
2018-05-03 21:07:22,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,984 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-24', 0.02, 72)
2018-05-03 21:07:22,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,987 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-25', 0.13, 72)
2018-05-03 21:07:22,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,996 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-26', 0.03, 70)
2018-05-03 21:07:22,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:22,999 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-27', 0.0, 74)
2018-05-03 21:07:23,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,002 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-28', 0.0, 72)
2018-05-03 21:07:23,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,004 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-29', 0.01, 70)
2018-05-03 21:07:23,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,010 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-30', 0.03, 71)
2018-05-03 21:07:23,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,018 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-03-31', 0.04, 67)
2018-05-03 21:07:23,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,023 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-01', 0.02, 69)
2018-05-03 21:07:23,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,028 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-02', 0.05, 71)
2018-05-03 21:07:23,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,198 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-04', 0.0, 70)
2018-05-03 21:07:23,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,200 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-05', 0.1, 70)
2018-05-03 21:07:23,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,203 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-06', 0.15, 70)
2018-05-03 21:07:23,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,205 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-07', 0.05, 71)
2018-05-03 21:07:23,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,211 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-08', 0.32, 72)
2018-05-03 21:07:23,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,214 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-09', 0.04, 71)
2018-05-03 21:07:23,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,218 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-10', 0.05, 75)
2018-05-03 21:07:23,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,222 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-11', 0.09, 68)

2018-05-03 21:07:23,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,228 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-12', 0.0, 70)
2018-05-03 21:07:23,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,232 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-13', 0.02, 68)
2018-05-03 21:07:23,234 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,236 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-14', 0.0, 67)
2018-05-03 21:07:23,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,239 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-15', 0.0, 68)
2018-05-03 21:07:23,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,244 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-16', 0.02, 68)
2018-05-03 21:07:23,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,250 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-17', 0.0, 70)
2018-05-03 21:07:23,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,255 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-18', 0.0, 68)
2018-05-03 21:07:23,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,259 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-19', 0.0, 70)
2018-05-03 21:07:23,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,265 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-20', 0.18, 70)
2018-05-03 21:07:23,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,268 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-21', 0.06, 71)
2018-05-03 21:07:23,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,270 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-22', 0.07, 69)
2018-05-03 21:07:23,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,275 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-23', 0.05, 72)
2018-05-03 21:07:23,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,279 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-24', 0.01, 73)
2018-05-03 21:07:23,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,283 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-25', 0.0, 73)
2018-05-03 21:07:23,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,285 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-26', 0.0, 74)
2018-05-03 21:07:23,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,288 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-27', 0.02, 73)
2018-05-03 21:07:23,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,296 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-28', 0.09, 71)
2018-05-03 21:07:23,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,299 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-29', 0.01, 72)
2018-05-03 21:07:23,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,302 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-04-30', 0.02, 72)
2018-05-03 21:07:23,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,305 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-01', 0.24, 72)
2018-05-03 21:07:23,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,309 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-02', 0.02, 71)
2018-05-03 21:07:23,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,314 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-03', 0.75, 70)
2018-05-03 21:07:23,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,318 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-04', 0.0, 74)
2018-05-03 21:07:23,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,326 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-05', 0.0, 72)
2018-05-03 21:07:23,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,331 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-06', 0.0, 73)
2018-05-03 21:07:23,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,335 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-08', 0.0, 73)
2018-05-03 21:07:23,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,338 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-09', 0.0, 73)
2018-05-03 21:07:23,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,344 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-10', 0.04, 72)
2018-05-03 21:07:23,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,349 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-11', 0.01, 74)
2018-05-03 21:07:23,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,352 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-12', 0.03, 72)
2018-05-03 21:07:23,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,357 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-13', 0.02, 71)
2018-05-03 21:07:23,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,361 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-14', 0.0, 75)
2018-05-03 21:07:23,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,368 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-15', 0.1, 75)
2018-05-03 21:07:23,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,372 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-17', 0.0, 73)
2018-05-03 21:07:23,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,377 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-18', 0.0, 73)
2018-05-03 21:07:23,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:23,380 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-19', 0.0, 73)
2018-05-03 21:07:23,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,383 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-21', 0.0, 71)
2018-05-03 21:07:23,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,386 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-22', 0.01, 76)
2018-05-03 21:07:23,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,393 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-23', 0.11, 71)
2018-05-03 21:07:23,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,397 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-24', 0.12, 73)
2018-05-03 21:07:23,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,401 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-25', 0.13, 72)
2018-05-03 21:07:23,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,404 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-26', 0.11, 72)
2018-05-03 21:07:23,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,410 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-27', 0.0, 75)
2018-05-03 21:07:23,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,419 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-28', 0.0, 74)
2018-05-03 21:07:23,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,437 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-29', 0.0, 74)
2018-05-03 21:07:23,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,444 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-30', 0.04, 73)
2018-05-03 21:07:23,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,447 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-05-31', 0.0, 75)
2018-05-03 21:07:23,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,451 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-01', 0.01, 73)
2018-05-03 21:07:23,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,454 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-02', 0.0, 72)
2018-05-03 21:07:23,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,464 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-03', 0.0, 74)
2018-05-03 21:07:23,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,472 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-04', 0.0, 73)
2018-05-03 21:07:23,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,485 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-05', 0.0, 72)
2018-05-03 21:07:23,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,489 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-06', 0.0, 75)
2018-05-03 21:07:23,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,494 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-07', 0.09, 74)
2018-05-03 21:07:23,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,499 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-08', 0.0, 75)
2018-05-03 21:07:23,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,503 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-09', 0.0, 73)
2018-05-03 21:07:23,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,508 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-10', 0.0, 75)
2018-05-03 21:07:23,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,512 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-11', 0.0, 76)
2018-05-03 21:07:23,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,520 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-12', 0.03, 74)
2018-05-03 21:07:23,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,526 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-13', 0.0, 74)
2018-05-03 21:07:23,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,530 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-14', 0.06, 73)
2018-05-03 21:07:23,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,547 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-15', 0.03, 73)
2018-05-03 21:07:23,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,550 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-16', 0.0, 76)
2018-05-03 21:07:23,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,552 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-17', 0.0, 75)
2018-05-03 21:07:23,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,558 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-18', 0.03, 70)
2018-05-03 21:07:23,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,565 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-19', 0.04, 75)
2018-05-03 21:07:23,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,568 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-20', 0.0, 73)
2018-05-03 21:07:23,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,571 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-21', 0.0, 74)
2018-05-03 21:07:23,578 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,580 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-22', 0.0, 74)
2018-05-03 21:07:23,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,584 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-23', 0.0, 74)
2018-05-03 21:07:23,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,587 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-24', 0.05, 74)
2018-05-03 21:07:23,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:23,593 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-25', 0.12, 70)
2018-05-03 21:07:23,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,604 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-27', 0.0, 75)
2018-05-03 21:07:23,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,608 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-28', 0.18, 74)
2018-05-03 21:07:23,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,616 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-29', 0.06, 73)
2018-05-03 21:07:23,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,619 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-06-30', 0.03, 74)
2018-05-03 21:07:23,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,621 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-01', 0.02, 71)
2018-05-03 21:07:23,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,624 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-02', 0.32, 69)
2018-05-03 21:07:23,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,629 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-03', 0.16, 73)
2018-05-03 21:07:23,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,632 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-04', 0.08, 72)
2018-05-03 21:07:23,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,635 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-05', 0.0, 76)
2018-05-03 21:07:23,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,648 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-06', 0.15, 73)
2018-05-03 21:07:23,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,651 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-07', 0.09, 71)
2018-05-03 21:07:23,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,655 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-08', 0.14, 70)
2018-05-03 21:07:23,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,665 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-09', 0.01, 74)
2018-05-03 21:07:23,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,671 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-10', 0.06, 71)
2018-05-03 21:07:23,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,680 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-12', 0.0, 73)
2018-05-03 21:07:23,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,683 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-13', 0.0, 72)
2018-05-03 21:07:23,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,686 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-14', 0.03, 72)
2018-05-03 21:07:23,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,689 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-15', 0.13, 75)
2018-05-03 21:07:23,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,693 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-16', 0.02, 74)
2018-05-03 21:07:23,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,698 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-18', 0.0, 75)
2018-05-03 21:07:23,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,793 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-19', 0.14, 69)
2018-05-03 21:07:23,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,798 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-20', 0.17, 75)
2018-05-03 21:07:23,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,802 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-21', 0.0, 75)
2018-05-03 21:07:23,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,804 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-22', 0.11, 75)
2018-05-03 21:07:23,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,807 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-23', 0.07, 70)
2018-05-03 21:07:23,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,812 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-26', 0.0, 75)
2018-05-03 21:07:23,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,814 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-27', 0.43, 69)
2018-05-03 21:07:23,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,816 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-28', 0.03, 74)
2018-05-03 21:07:23,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,818 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-29', 0.0, 76)
2018-05-03 21:07:23,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,821 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-30', 0.06, 75)
2018-05-03 21:07:23,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,824 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-07-31', 0.01, 73)
2018-05-03 21:07:23,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,829 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-08-01', 0.25, 71)
2018-05-03 21:07:23,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:23,831 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2010-08-02', 0.11, 73)
2018-05-03 21:07:26,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,128 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-01', 0.0, 69)
2018-05-03 21:07:26,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,134 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-02', 0.0, 71)
2018-05-03 21:07:26,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:26,137 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-05', 0.0, 66)
2018-05-03 21:07:26,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,139 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-06', 1.88, 66)
2018-05-03 21:07:26,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,142 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-07', 1.01, 65)
2018-05-03 21:07:26,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,147 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-08', 0.26, 66)
2018-05-03 21:07:26,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,149 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-09', 0.64, 63)
2018-05-03 21:07:26,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,152 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-10', 0.35, 71)
2018-05-03 21:07:26,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,154 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-11', 0.11, 70)
2018-05-03 21:07:26,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,156 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-12', 0.09, 68)
2018-05-03 21:07:26,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,158 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-13', 0.0, 67)
2018-05-03 21:07:26,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,161 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-14', 0.0, 68)
2018-05-03 21:07:26,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,165 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-15', 0.0, 68)
2018-05-03 21:07:26,166 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,167 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-16', 0.0, 68)
2018-05-03 21:07:26,168 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,169 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-20', 0.0, 63)
2018-05-03 21:07:26,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,171 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-22', 0.0, 71)
2018-05-03 21:07:26,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,173 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-26', 0.0, 68)
2018-05-03 21:07:26,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,176 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-27', 0.14, 66)
2018-05-03 21:07:26,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,181 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-28', 0.0, 68)
2018-05-03 21:07:26,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,184 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-29', 0.0, 69)
2018-05-03 21:07:26,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,186 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-03-30', 0.0, 69)
2018-05-03 21:07:26,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,188 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-01', 0.0, 72)
2018-05-03 21:07:26,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,191 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-03', 0.0, 72)
2018-05-03 21:07:26,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,195 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-04', 0.0, 70)
2018-05-03 21:07:26,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,199 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-05', 0.01, 70)
2018-05-03 21:07:26,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,201 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-06', 0.0, 70)
2018-05-03 21:07:26,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,204 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-09', 0.0, 68)
2018-05-03 21:07:26,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,207 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-10', 0.14, 65)
2018-05-03 21:07:26,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,211 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-11', 0.03, 68)
2018-05-03 21:07:26,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,216 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-12', 0.01, 70)
2018-05-03 21:07:26,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,220 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-13', 0.0, 69)
2018-05-03 21:07:26,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,222 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-14', 0.0, 72)
2018-05-03 21:07:26,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,224 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-15', 0.02, 72)
2018-05-03 21:07:26,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,227 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-16', 0.0, 73)
2018-05-03 21:07:26,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,232 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-17', 0.0, 71)
2018-05-03 21:07:26,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,236 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-18', 0.0, 69)
2018-05-03 21:07:26,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,239 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-19', 0.0, 70)
2018-05-03 21:07:26,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,241 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-20', 0.0, 70)
2018-05-03 21:07:26,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:26,245 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-23', 0.0, 68)
2018-05-03 21:07:26,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,250 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-24', 0.0, 69)
2018-05-03 21:07:26,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,252 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-25', 0.07, 67)
2018-05-03 21:07:26,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,253 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-26', 0.01, 70)
2018-05-03 21:07:26,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,255 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-27', 0.07, 71)
2018-05-03 21:07:26,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,257 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-04-30', 0.0, 71)
2018-05-03 21:07:26,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,261 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-21', 0.08, 75)
2018-05-03 21:07:26,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,267 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-22', 0.01, 75)
2018-05-03 21:07:26,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,270 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-24', 0.0, 76)
2018-05-03 21:07:26,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,274 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-25', 0.12, 77)
2018-05-03 21:07:26,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,278 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-26', 0.03, 75)
2018-05-03 21:07:26,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,284 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-27', 0.2, 74)
2018-05-03 21:07:26,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,286 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-28', 0.0, 75)
2018-05-03 21:07:26,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,288 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-29', 0.23, 76)
2018-05-03 21:07:26,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,290 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-06-30', 0.02, 78)
2018-05-03 21:07:26,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,294 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-01', 0.02, 78)
2018-05-03 21:07:26,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,298 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-02', 0.0, 76)
2018-05-03 21:07:26,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,302 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-03', 0.05, 75)
2018-05-03 21:07:26,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,304 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-04', 0.19, 75)
2018-05-03 21:07:26,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,306 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-05', 0.11, 76)
2018-05-03 21:07:26,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,309 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-06', 0.04, 75)
2018-05-03 21:07:26,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,314 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-07', 0.1, 77)
2018-05-03 21:07:26,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,316 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-08', 0.0, 78)
2018-05-03 21:07:26,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,319 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-09', 0.01, 77)
2018-05-03 21:07:26,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,321 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-10', 0.03, 74)
2018-05-03 21:07:26,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,323 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-11', 0.0, 76)
2018-05-03 21:07:26,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,326 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-12', 0.02, 71)
2018-05-03 21:07:26,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,332 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-13', 0.12, 77)
2018-05-03 21:07:26,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,335 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-14', 0.03, 79)
2018-05-03 21:07:26,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,337 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-15', 0.13, 72)
2018-05-03 21:07:26,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,339 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-16', 0.17, 76)
2018-05-03 21:07:26,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,342 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-17', 0.1, 77)
2018-05-03 21:07:26,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,350 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-18', 0.05, 77)
2018-05-03 21:07:26,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,353 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-19', 0.16, 76)
2018-05-03 21:07:26,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,355 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-20', 0.05, 73)
2018-05-03 21:07:26,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,357 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-21', 0.12, 79)
2018-05-03 21:07:26,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,361 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-22', 0.0, 79)
2018-05-03 21:07:26,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,365 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-23', 0.01, 77)
2018-05-03 21:07:26,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,367 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-24', 0.0, 76)
2018-05-03 21:07:26,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,370 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-25', 0.0, 79)
2018-05-03 21:07:26,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,373 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-26', 0.01, 77)
2018-05-03 21:07:26,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,375 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-27', 0.11, 77)
2018-05-03 21:07:26,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,381 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-28', 0.21, 79)
2018-05-03 21:07:26,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,385 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-29', 0.1, 77)
2018-05-03 21:07:26,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,387 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-30', 0.0, 77)
2018-05-03 21:07:26,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,388 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-07-31', 0.1, 76)
2018-05-03 21:07:26,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,390 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-06', 0.0, 80)
2018-05-03 21:07:26,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,395 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-13', 0.0, 78)
2018-05-03 21:07:26,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,401 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-14', 0.06, 75)
2018-05-03 21:07:26,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,404 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-15', 0.01, 76)
2018-05-03 21:07:26,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,406 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-16', 0.02, 77)
2018-05-03 21:07:26,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,407 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-17', 0.0, 73)
2018-05-03 21:07:26,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,414 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-20', 0.0, 79)
2018-05-03 21:07:26,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,419 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-21', 0.01, 79)
2018-05-03 21:07:26,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,422 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-22', 0.03, 77)
2018-05-03 21:07:26,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,425 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-23', 0.02, 78)
2018-05-03 21:07:26,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,429 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-24', 0.0, 78)
2018-05-03 21:07:26,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,435 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-27', 0.0, 73)
2018-05-03 21:07:26,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,436 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-28', 0.23, 75)
2018-05-03 21:07:26,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,438 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-29', 0.0, 74)
2018-05-03 21:07:26,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,440 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-30', 0.13, 77)
2018-05-03 21:07:26,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,444 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-08-31', 0.0, 76)
2018-05-03 21:07:26,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,556 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-01', 0.0, 79)
2018-05-03 21:07:26,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,559 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-03', 0.0, 76)
2018-05-03 21:07:26,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,563 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-04', 0.02, 77)
2018-05-03 21:07:26,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,568 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-05', 0.05, 73)
2018-05-03 21:07:26,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,570 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-06', 0.07, 76)
2018-05-03 21:07:26,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,572 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-07', 0.14, 76)
2018-05-03 21:07:26,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,574 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-10', 0.0, 77)
2018-05-03 21:07:26,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,577 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-11', 0.16, 77)
2018-05-03 21:07:26,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,582 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-12', 0.0, 75)
2018-05-03 21:07:26,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:26,584 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-13', 0.0, 76)
2018-05-03 21:07:26,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,586 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-14', 0.0, 77)
2018-05-03 21:07:26,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,588 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-17', 0.0, 80)
2018-05-03 21:07:26,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,591 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-18', 0.04, 72)
2018-05-03 21:07:26,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,596 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-19', 0.05, 78)
2018-05-03 21:07:26,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,599 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-20', 0.17, 76)
2018-05-03 21:07:26,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,604 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-21', 0.05, 76)
2018-05-03 21:07:26,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,607 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-22', 0.03, 79)
2018-05-03 21:07:26,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,612 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-23', 0.04, 75)
2018-05-03 21:07:26,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,618 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-24', 0.06, 76)
2018-05-03 21:07:26,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,621 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-25', 0.0, 77)
2018-05-03 21:07:26,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,623 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-26', 0.0, 76)
2018-05-03 21:07:26,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,628 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-27', 0.0, 77)
2018-05-03 21:07:26,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,632 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-28', 0.15, 77)
2018-05-03 21:07:26,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,635 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-09-29', 0.08, 80)
2018-05-03 21:07:26,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,639 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-01', 0.0, 80)
2018-05-03 21:07:26,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,643 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-02', 0.0, 76)
2018-05-03 21:07:26,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,648 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-03', 0.0, 77)
2018-05-03 21:07:26,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,651 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-04', 0.0, 78)
2018-05-03 21:07:26,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,653 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-05', 0.0, 76)
2018-05-03 21:07:26,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,655 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-06', 0.0, 79)
2018-05-03 21:07:26,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,657 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-07', 0.0, 81)
2018-05-03 21:07:26,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,659 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-08', 0.04, 80)
2018-05-03 21:07:26,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,664 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-09', 0.0, 79)
2018-05-03 21:07:26,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,669 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-10', 0.0, 74)
2018-05-03 21:07:26,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,671 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-11', 0.0, 80)
2018-05-03 21:07:26,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,674 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-12', 0.0, 78)
2018-05-03 21:07:26,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,676 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-14', 0.0, 79)
2018-05-03 21:07:26,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,681 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-15', 0.06, 80)
2018-05-03 21:07:26,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,684 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-16', 0.01, 76)
2018-05-03 21:07:26,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,686 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-17', 0.14, 73)
2018-05-03 21:07:26,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,689 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-18', 0.06, 74)
2018-05-03 21:07:26,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,692 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-19', 0.0, 77)
2018-05-03 21:07:26,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,696 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-20', 0.0, 76)
2018-05-03 21:07:26,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,701 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-22', 0.0, 78)
2018-05-03 21:07:26,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,702 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-23', 0.0, 78)
2018-05-03 21:07:26,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:26,704 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-24', 0.11, 74)
2018-05-03 21:07:26,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,707 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-25', 0.72, 75)
2018-05-03 21:07:26,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,708 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-26', 0.0, 75)
2018-05-03 21:07:26,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,716 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-27', 0.0, 80)
2018-05-03 21:07:26,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,720 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-29', 0.0, 80)
2018-05-03 21:07:26,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,722 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-30', 0.03, 77)
2018-05-03 21:07:26,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,724 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-10-31', 0.02, 74)
2018-05-03 21:07:26,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,728 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-01', 0.0, 77)
2018-05-03 21:07:26,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,732 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-02', 0.0, 76)
2018-05-03 21:07:26,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,734 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-03', 0.0, 81)
2018-05-03 21:07:26,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,736 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-04', 0.0, 78)
2018-05-03 21:07:26,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,737 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-05', 0.0, 75)
2018-05-03 21:07:26,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,739 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-06', 0.11, 76)
2018-05-03 21:07:26,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,741 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-07', 0.05, 78)
2018-05-03 21:07:26,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,744 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-08', 0.0, 76)
2018-05-03 21:07:26,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,748 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-09', 0.01, 77)
2018-05-03 21:07:26,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,750 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-11', 0.0, 78)
2018-05-03 21:07:26,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,752 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-12', 0.0, 80)
2018-05-03 21:07:26,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,754 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-13', 0.08, 76)
2018-05-03 21:07:26,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,756 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-14', 0.05, 75)
2018-05-03 21:07:26,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,758 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-15', 0.48, 75)
2018-05-03 21:07:26,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,762 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-16', 0.07, 72)
2018-05-03 21:07:26,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,766 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-17', 0.09, 75)
2018-05-03 21:07:26,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,768 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-18', 0.06, 73)
2018-05-03 21:07:26,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,770 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-19', 0.03, 75)
2018-05-03 21:07:26,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,772 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-20', 0.02, 75)
2018-05-03 21:07:26,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,774 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-21', 0.0, 73)
2018-05-03 21:07:26,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,778 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-24', 0.0, 77)
2018-05-03 21:07:26,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,782 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-27', 0.0, 74)
2018-05-03 21:07:26,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,784 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-28', 0.0, 72)
2018-05-03 21:07:26,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,789 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-29', 0.0, 72)
2018-05-03 21:07:26,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,792 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-11-30', 0.0, 69)
2018-05-03 21:07:26,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,797 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-01', 0.0, 68)
2018-05-03 21:07:26,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,801 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-03', 0.0, 79)
2018-05-03 21:07:26,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,803 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-04', 0.0, 76)
2018-05-03 21:07:26,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,805 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-05', 0.08, 73)
2018-05-03 21:07:26,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,808 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-06', 0.0, 75)
2018-05-03 21:07:26,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,814 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-07', 0.0, 71)
2018-05-03 21:07:26,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,820 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-10', 0.0, 76)
2018-05-03 21:07:26,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,822 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-11', 0.0, 74)
2018-05-03 21:07:26,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,825 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-12', 0.03, 73)
2018-05-03 21:07:26,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,830 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-13', 0.25, 73)
2018-05-03 21:07:26,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,833 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-14', 0.22, 74)
2018-05-03 21:07:26,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,835 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-17', 0.0, 73)
2018-05-03 21:07:26,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,837 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-18', 0.22, 72)
2018-05-03 21:07:26,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,839 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-19', 0.29, 76)
2018-05-03 21:07:26,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,841 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-21', 0.0, 75)
2018-05-03 21:07:26,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,845 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-22', 0.0, 77)
2018-05-03 21:07:26,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,849 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-24', 0.0, 74)
2018-05-03 21:07:26,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,851 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-26', 0.0, 76)
2018-05-03 21:07:26,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,852 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-28', 0.0, 75)
2018-05-03 21:07:26,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,854 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2012-12-31', 0.0, 76)
2018-05-03 21:07:26,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,856 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-02', 0.0, 71)
2018-05-03 21:07:26,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,858 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-03', 0.28, 70)
2018-05-03 21:07:26,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,991 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-04', 0.07, 73)
2018-05-03 21:07:26,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,994 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-05', 0.2, 72)
2018-05-03 21:07:26,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:26,999 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-07', 0.0, 74)
2018-05-03 21:07:27,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,002 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-08', 0.02, 72)
2018-05-03 21:07:27,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,004 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-09', 0.44, 74)
2018-05-03 21:07:27,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,007 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-10', 0.09, 73)
2018-05-03 21:07:27,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,009 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-11', 0.0, 72)
2018-05-03 21:07:27,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,013 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-14', 0.0, 74)
2018-05-03 21:07:27,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,017 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-15', 0.77, 69)
2018-05-03 21:07:27,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,019 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-16', 0.0, 66)
2018-05-03 21:07:27,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,021 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-17', 0.02, 67)
2018-05-03 21:07:27,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,025 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-18', 0.0, 75)
2018-05-03 21:07:27,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,033 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-19', 0.03, 72)
2018-05-03 21:07:27,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,036 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-21', 0.0, 71)
2018-05-03 21:07:27,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,038 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-22', 0.0, 71)
2018-05-03 21:07:27,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,041 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-23', 0.0, 71)
2018-05-03 21:07:27,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:27,045 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2013-01-24', 0.45, 70)
2018-05-03 21:07:30,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:30,546 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-24', 0.01, 77)
2018-05-03 21:07:30,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,552 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-25', 0.2, 78)
2018-05-03 21:07:30,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,557 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-26', 0.11, 78)
2018-05-03 21:07:30,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,560 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-27', 0.09, 80)
2018-05-03 21:07:30,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,563 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-28', 0.0, 80)
2018-05-03 21:07:30,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,568 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-29', 0.11, 79)
2018-05-03 21:07:30,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,574 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-06-30', 1.1, 74)
2018-05-03 21:07:30,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,578 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-01', 0.0, 80)
2018-05-03 21:07:30,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,584 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-06', 0.0, 81)
2018-05-03 21:07:30,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,590 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-08', 0.0, 82)
2018-05-03 21:07:30,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,593 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-11', 0.0, 81)
2018-05-03 21:07:30,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,596 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-12', 0.15, 82)
2018-05-03 21:07:30,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,603 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-13', 0.06, 77)
2018-05-03 21:07:30,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,607 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-14', 0.11, 79)
2018-05-03 21:07:30,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,610 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-15', 0.04, 80)
2018-05-03 21:07:30,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,613 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-16', 0.21, 76)
2018-05-03 21:07:30,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,618 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-17', 1.24, 80)
2018-05-03 21:07:30,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,624 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-18', 0.01, 81)
2018-05-03 21:07:30,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,626 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-20', 0.0, 80)
2018-05-03 21:07:30,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,629 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-21', 0.0, 81)
2018-05-03 21:07:30,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,634 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-22', 0.0, 80)
2018-05-03 21:07:30,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,637 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-23', 0.0, 81)
2018-05-03 21:07:30,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,641 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-24', 0.03, 80)
2018-05-03 21:07:30,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,644 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-25', 0.2, 81)
2018-05-03 21:07:30,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,648 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-26', 0.0, 82)
2018-05-03 21:07:30,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,659 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-27', 0.0, 81)
2018-05-03 21:07:30,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,664 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-28', 0.0, 82)
2018-05-03 21:07:30,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,669 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-29', 0.0, 81)
2018-05-03 21:07:30,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,676 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-07-30', 0.01, 80)
2018-05-03 21:07:30,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,679 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-11', 0.0, 79)
2018-05-03 21:07:30,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,685 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-12', 0.0, 83)
2018-05-03 21:07:30,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,691 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-13', 0.0, 80)
2018-05-03 21:07:30,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,694 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-14', 0.09, 80)
2018-05-03 21:07:30,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,709 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-15', 0.33, 82)
2018-05-03 21:07:30,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,715 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-17', 0.0, 81)
2018-05-03 21:07:30,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,721 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-18', 0.2, 81)
2018-05-03 21:07:30,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,724 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-19', 0.2, 75)
2018-05-03 21:07:30,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,728 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-20', 0.0, 81)
2018-05-03 21:07:30,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,734 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-21', 0.0, 83)
2018-05-03 21:07:30,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,741 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-22', 0.0, 83)
2018-05-03 21:07:30,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,744 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-23', 0.62, 84)
2018-05-03 21:07:30,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,753 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-24', 3.7, 75)
2018-05-03 21:07:30,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,756 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-25', 0.13, 82)
2018-05-03 21:07:30,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,759 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-26', 0.11, 81)
2018-05-03 21:07:30,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,762 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-27', 0.05, 80)
2018-05-03 21:07:30,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,766 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-28', 0.0, 83)
2018-05-03 21:07:30,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,770 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-29', 0.0, 85)
2018-05-03 21:07:30,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,773 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-08-31', 0.0, 84)
2018-05-03 21:07:30,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,776 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-01', 0.22, 82)
2018-05-03 21:07:30,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,779 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-02', 0.0, 79)
2018-05-03 21:07:30,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,784 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-03', 0.19, 76)
2018-05-03 21:07:30,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,787 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-04', 0.24, 82)
2018-05-03 21:07:30,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,790 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-05', 0.0, 82)
2018-05-03 21:07:30,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,792 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-07', 0.0, 80)
2018-05-03 21:07:30,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,795 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-08', 0.4, 80)
2018-05-03 21:07:30,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,801 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-11', 0.0, 81)
2018-05-03 21:07:30,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,806 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-14', 0.0, 79)
2018-05-03 21:07:30,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,809 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-15', 0.75, 77)
2018-05-03 21:07:30,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,812 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-16', 0.04, 79)
2018-05-03 21:07:30,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,817 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-17', 0.0, 83)
2018-05-03 21:07:30,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,823 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-18', 0.23, 79)
2018-05-03 21:07:30,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,826 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-21', 0.0, 80)
2018-05-03 21:07:30,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,829 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-22', 0.07, 80)
2018-05-03 21:07:30,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,837 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-23', 0.07, 79)
2018-05-03 21:07:30,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,842 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-24', 0.11, 79)
2018-05-03 21:07:30,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,845 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-25', 0.08, 76)
2018-05-03 21:07:30,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,853 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-26', 0.39, 79)
2018-05-03 21:07:30,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,858 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-27', 0.41, 75)
2018-05-03 21:07:30,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,861 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-28', 0.3, 80)
2018-05-03 21:07:30,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,863 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-29', 0.03, 78)
2018-05-03 21:07:30,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,868 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-09-30', 0.06, 79)

2018-05-03 21:07:30,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,873 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-01', 0.05, 79)
2018-05-03 21:07:30,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,877 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-02', 0.0, 76)
2018-05-03 21:07:30,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,880 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-03', 0.0, 80)
2018-05-03 21:07:30,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,887 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-04', 0.08, 78)
2018-05-03 21:07:30,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,891 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-06', 0.0, 78)
2018-05-03 21:07:30,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,895 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-07', 0.04, 77)
2018-05-03 21:07:30,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,899 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-08', 0.0, 78)
2018-05-03 21:07:30,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,903 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-09', 2.15, 74)
2018-05-03 21:07:30,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,907 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-10', 0.0, 81)
2018-05-03 21:07:30,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,910 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-11', 0.38, 80)
2018-05-03 21:07:30,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,922 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-12', 3.85, 76)
2018-05-03 21:07:30,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,928 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-13', 1.8, 75)
2018-05-03 21:07:30,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,941 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-14', 0.41, 75)
2018-05-03 21:07:30,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,943 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-15', 0.31, 78)
2018-05-03 21:07:30,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,947 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-16', 0.0, 76)
2018-05-03 21:07:30,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,953 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-18', 0.0, 82)
2018-05-03 21:07:30,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,959 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-19', 0.0, 81)
2018-05-03 21:07:30,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,962 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-20', 0.32, 79)
2018-05-03 21:07:30,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,968 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-21', 0.0, 81)
2018-05-03 21:07:30,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,975 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-22', 0.07, 81)
2018-05-03 21:07:30,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:30,979 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-23', 0.0, 78)
2018-05-03 21:07:31,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,139 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-24', 0.0, 80)
2018-05-03 21:07:31,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,142 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-25', 0.0, 80)
2018-05-03 21:07:31,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,145 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-26', 0.02, 81)
2018-05-03 21:07:31,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,148 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-27', 0.09, 78)
2018-05-03 21:07:31,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,153 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-28', 0.01, 77)
2018-05-03 21:07:31,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,156 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-29', 1.05, 81)
2018-05-03 21:07:31,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,158 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-30', 0.0, 79)
2018-05-03 21:07:31,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,160 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-10-31', 0.09, 80)
2018-05-03 21:07:31,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,164 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-01', 0.05, 83)
2018-05-03 21:07:31,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,173 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-02', 0.0, 80)
2018-05-03 21:07:31,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,176 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-03', 0.0, 81)
2018-05-03 21:07:31,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,178 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-04', 0.0, 79)
2018-05-03 21:07:31,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,181 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-05', 0.11, 76)
2018-05-03 21:07:31,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,187 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-06', 0.05, 81)
2018-05-03 21:07:31,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:31,189 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-08', 0.0, 80)
2018-05-03 21:07:31,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,192 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-09', 0.2, 81)
2018-05-03 21:07:31,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,196 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-10', 0.04, 79)
2018-05-03 21:07:31,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,200 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-11', 0.0, 78)
2018-05-03 21:07:31,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,206 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-12', 0.02, 78)
2018-05-03 21:07:31,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,208 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-13', 0.17, 77)
2018-05-03 21:07:31,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,211 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-14', 0.2, 80)
2018-05-03 21:07:31,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,215 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-15', 0.02, 79)
2018-05-03 21:07:31,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,224 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-16', 0.01, 79)
2018-05-03 21:07:31,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,228 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-17', 0.0, 79)
2018-05-03 21:07:31,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,231 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-18', 0.31, 74)
2018-05-03 21:07:31,234 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,237 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-19', 0.01, 78)
2018-05-03 21:07:31,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,240 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-20', 1.92, 75)
2018-05-03 21:07:31,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,243 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-21', 0.58, 80)
2018-05-03 21:07:31,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,245 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-22', 0.12, 79)
2018-05-03 21:07:31,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,252 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-23', 1.75, 74)
2018-05-03 21:07:31,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,255 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-24', 0.08, 75)
2018-05-03 21:07:31,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,258 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-25', 0.01, 73)
2018-05-03 21:07:31,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,261 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-26', 0.27, 75)
2018-05-03 21:07:31,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,269 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-27', 0.66, 78)
2018-05-03 21:07:31,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,273 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-28', 0.05, 79)
2018-05-03 21:07:31,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,276 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-11-30', 0.0, 75)
2018-05-03 21:07:31,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,284 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-01', 0.0, 78)
2018-05-03 21:07:31,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,287 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-02', 0.0, 76)
2018-05-03 21:07:31,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,289 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-03', 0.17, 76)
2018-05-03 21:07:31,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,292 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-04', 0.03, 77)
2018-05-03 21:07:31,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,294 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-07', 0.0, 79)
2018-05-03 21:07:31,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,301 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-08', 0.05, 73)
2018-05-03 21:07:31,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,305 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-09', 0.02, 79)
2018-05-03 21:07:31,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,308 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-10', 0.12, 77)
2018-05-03 21:07:31,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,311 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-11', 0.03, 78)
2018-05-03 21:07:31,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,321 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-12', 0.17, 76)
2018-05-03 21:07:31,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,323 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-13', 0.0, 78)
2018-05-03 21:07:31,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,326 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-14', 0.05, 77)
2018-05-03 21:07:31,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,329 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-15', 0.0, 79)
2018-05-03 21:07:31,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,335 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-16', 0.05, 75)
2018-05-03 21:07:31,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:31,339 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-17', 0.13, 77)
2018-05-03 21:07:31,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,342 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-18', 0.08, 76)
2018-05-03 21:07:31,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,346 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-19', 0.18, 78)
2018-05-03 21:07:31,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,354 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-21', 0.0, 78)
2018-05-03 21:07:31,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,358 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-22', 0.13, 77)
2018-05-03 21:07:31,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,361 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-23', 0.1, 78)
2018-05-03 21:07:31,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,365 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-25', 0.0, 78)
2018-05-03 21:07:31,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,373 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-27', 0.0, 76)
2018-05-03 21:07:31,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,376 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-28', 0.21, 75)
2018-05-03 21:07:31,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,379 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2015-12-29', 0.01, 72)
2018-05-03 21:07:31,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,390 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-01', 0.0, 73)
2018-05-03 21:07:31,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,394 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-02', 0.05, 73)
2018-05-03 21:07:31,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,398 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-03', 0.0, 75)
2018-05-03 21:07:31,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,402 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-04', 0.0, 76)
2018-05-03 21:07:31,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,406 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-05', 0.1, 74)
2018-05-03 21:07:31,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,410 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-06', 0.04, 74)
2018-05-03 21:07:31,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,413 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-07', 0.03, 73)
2018-05-03 21:07:31,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,418 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-08', 0.0, 74)
2018-05-03 21:07:31,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,435 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-09', 0.0, 78)
2018-05-03 21:07:31,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,440 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-11', 0.0, 71)
2018-05-03 21:07:31,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,444 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-12', 0.32, 74)
2018-05-03 21:07:31,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,449 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-13', 0.0, 66)
2018-05-03 21:07:31,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,455 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-14', 0.0, 75)
2018-05-03 21:07:31,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,457 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-15', 0.15, 70)
2018-05-03 21:07:31,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,462 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-16', 0.05, 75)
2018-05-03 21:07:31,464 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,468 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-17', 0.0, 76)
2018-05-03 21:07:31,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,471 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-18', 0.0, 76)
2018-05-03 21:07:31,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,476 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-19', 0.0, 73)
2018-05-03 21:07:31,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,478 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-20', 0.05, 68)
2018-05-03 21:07:31,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,481 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-21', 0.23, 73)
2018-05-03 21:07:31,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,486 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-22', 0.0, 75)
2018-05-03 21:07:31,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,490 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-23', 0.0, 77)
2018-05-03 21:07:31,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,499 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-24', 0.0, 77)
2018-05-03 21:07:31,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,503 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-25', 0.01, 73)
2018-05-03 21:07:31,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,506 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-26', 0.0, 75)
2018-05-03 21:07:31,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,509 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-27', 0.0, 70)
2018-05-03 21:07:31,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:31,512 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-28', 0.0, 77)
2018-05-03 21:07:31,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,516 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-29', 0.13, 76)
2018-05-03 21:07:31,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,520 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-01-30', 0.0, 76)
2018-05-03 21:07:31,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,523 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-01', 0.0, 77)
2018-05-03 21:07:31,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,533 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-02', 0.2, 71)
2018-05-03 21:07:31,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,545 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-04', 0.0, 76)
2018-05-03 21:07:31,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,558 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-05', 0.0, 74)
2018-05-03 21:07:31,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,562 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-06', 0.0, 73)
2018-05-03 21:07:31,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,567 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-07', 0.56, 72)
2018-05-03 21:07:31,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,571 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-08', 0.0, 70)
2018-05-03 21:07:31,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,573 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-09', 0.0, 70)
2018-05-03 21:07:31,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,576 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-10', 0.0, 63)
2018-05-03 21:07:31,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,578 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-11', 0.0, 74)
2018-05-03 21:07:31,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,672 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-12', 0.0, 78)
2018-05-03 21:07:31,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,675 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-13', 0.0, 76)
2018-05-03 21:07:31,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,678 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-14', 0.0, 79)
2018-05-03 21:07:31,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,681 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-15', 0.23, 77)
2018-05-03 21:07:31,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,686 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-16', 0.03, 75)
2018-05-03 21:07:31,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,690 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-17', 0.13, 72)
2018-05-03 21:07:31,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,693 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-18', 0.0, 74)
2018-05-03 21:07:31,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,695 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-19', 0.09, 72)
2018-05-03 21:07:31,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,698 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-20', 0.09, 74)
2018-05-03 21:07:31,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,703 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-22', 0.0, 72)
2018-05-03 21:07:31,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,708 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-23', 0.0, 71)
2018-05-03 21:07:31,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,711 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-24', 0.0, 70)
2018-05-03 21:07:31,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,715 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-25', 0.0, 73)
2018-05-03 21:07:31,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,720 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-26', 0.36, 75)
2018-05-03 21:07:31,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,722 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-27', 0.0, 77)
2018-05-03 21:07:31,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,725 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-28', 0.0, 76)
2018-05-03 21:07:31,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,728 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-02-29', 0.05, 73)
2018-05-03 21:07:31,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,730 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-01', 0.07, 73)
2018-05-03 21:07:31,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,734 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-02', 0.0, 70)
2018-05-03 21:07:31,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,739 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-03', 0.0, 71)
2018-05-03 21:07:31,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,741 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-04', 0.0, 72)
2018-05-03 21:07:31,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,743 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-05', 0.0, 76)
2018-05-03 21:07:31,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,745 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-06', 0.0, 76)
2018-05-03 21:07:31,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:31,748 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-07', 0.0, 78)
2018-05-03 21:07:31,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,753 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-08', 0.0, 78)
2018-05-03 21:07:31,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,760 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-09', 0.22, 68)
2018-05-03 21:07:31,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,763 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-10', 0.0, 69)
2018-05-03 21:07:31,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,767 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-11', 0.01, 72)
2018-05-03 21:07:31,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,772 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-12', 0.0, 73)
2018-05-03 21:07:31,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,774 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-14', 0.0, 77)
2018-05-03 21:07:31,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,777 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-15', 1.08, 71)
2018-05-03 21:07:31,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,779 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-16', 0.06, 71)
2018-05-03 21:07:31,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,783 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-17', 0.0, 69)
2018-05-03 21:07:31,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,789 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-18', 0.13, 71)
2018-05-03 21:07:31,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,793 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-19', 0.03, 72)
2018-05-03 21:07:31,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,796 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-20', 0.0, 75)
2018-05-03 21:07:31,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,803 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-21', 0.0, 74)
2018-05-03 21:07:31,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,806 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-22', 0.0, 76)
2018-05-03 21:07:31,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,808 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-23', 0.72, 74)
2018-05-03 21:07:31,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,810 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-24', 0.0, 76)
2018-05-03 21:07:31,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,813 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-25', 0.04, 75)
2018-05-03 21:07:31,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,816 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-26', 0.02, 75)
2018-05-03 21:07:31,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,821 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-28', 0.0, 82)
2018-05-03 21:07:31,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,824 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-29', 0.0, 77)
2018-05-03 21:07:31,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,826 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-30', 0.0, 68)
2018-05-03 21:07:31,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,828 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-03-31', 0.0, 74)
2018-05-03 21:07:31,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,830 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-01', 0.0, 77)
2018-05-03 21:07:31,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,837 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-02', 0.0, 77)
2018-05-03 21:07:31,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,842 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-03', 0.0, 76)
2018-05-03 21:07:31,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,844 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-04', 0.0, 78)
2018-05-03 21:07:31,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,847 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-05', 0.04, 77)
2018-05-03 21:07:31,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,852 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-06', 0.08, 71)
2018-05-03 21:07:31,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,856 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-07', 0.06, 71)
2018-05-03 21:07:31,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,858 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-08', 0.0, 77)
2018-05-03 21:07:31,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,861 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-09', 0.14, 75)
2018-05-03 21:07:31,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,863 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-10', 0.06, 76)
2018-05-03 21:07:31,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,867 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-11', 0.04, 78)
2018-05-03 21:07:31,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,873 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-12', 0.0, 77)
2018-05-03 21:07:31,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,876 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-13', 0.03, 76)
2018-05-03 21:07:31,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:31,879 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-14', 0.02, 77)
2018-05-03 21:07:31,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,882 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-15', 0.03, 78)
2018-05-03 21:07:31,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,887 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-17', 0.0, 74)
2018-05-03 21:07:31,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,889 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-18', 0.46, 73)
2018-05-03 21:07:31,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,891 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-19', 0.0, 74)
2018-05-03 21:07:31,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,894 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-20', 0.03, 74)
2018-05-03 21:07:31,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,896 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-21', 0.02, 74)
2018-05-03 21:07:31,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,899 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-22', 0.0, 75)
2018-05-03 21:07:31,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,904 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-23', 0.1, 77)
2018-05-03 21:07:31,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,906 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-24', 0.01, 76)
2018-05-03 21:07:31,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,908 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-25', 0.0, 79)
2018-05-03 21:07:31,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,912 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-26', 0.01, 77)
2018-05-03 21:07:31,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,917 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-27', 0.1, 75)
2018-05-03 21:07:31,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,922 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-28', 0.0, 77)
2018-05-03 21:07:31,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,925 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-29', 0.0, 77)
2018-05-03 21:07:31,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,928 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-04-30', 0.08, 77)
2018-05-03 21:07:31,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,930 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-01', 0.01, 79)
2018-05-03 21:07:31,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,934 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-02', 0.11, 77)
2018-05-03 21:07:31,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,939 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-03', 0.03, 73)
2018-05-03 21:07:31,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,943 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-04', 0.36, 73)
2018-05-03 21:07:31,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,945 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-05', 0.41, 76)
2018-05-03 21:07:31,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,949 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-09', 0.0, 74)
2018-05-03 21:07:31,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,953 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-10', 0.15, 73)
2018-05-03 21:07:31,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,956 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-11', 0.0, 73)
2018-05-03 21:07:31,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,958 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-12', 0.0, 74)
2018-05-03 21:07:31,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,961 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-13', 0.0, 74)
2018-05-03 21:07:31,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,963 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-15', 0.0, 79)
2018-05-03 21:07:31,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,967 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-16', 0.0, 78)
2018-05-03 21:07:31,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,971 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-17', 0.0, 78)
2018-05-03 21:07:31,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,974 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-18', 0.36, 74)
2018-05-03 21:07:31,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,976 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-19', 0.0, 78)
2018-05-03 21:07:31,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,979 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-20', 0.04, 78)
2018-05-03 21:07:31,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,987 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-21', 0.04, 78)
2018-05-03 21:07:31,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,990 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-22', 0.04, 79)
2018-05-03 21:07:31,992 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,993 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-23', 0.11, 79)
2018-05-03 21:07:31,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:31,996 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-24', 0.0, 78)
2018-05-03 21:07:31,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:32,000 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-25', 0.05, 76)
2018-05-03 21:07:32,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,006 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-26', 0.35, 78)
2018-05-03 21:07:32,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,008 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-27', 0.09, 79)
2018-05-03 21:07:32,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,011 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-28', 0.04, 79)
2018-05-03 21:07:32,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,015 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-29', 0.0, 78)
2018-05-03 21:07:32,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,152 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-30', 0.0, 74)
2018-05-03 21:07:32,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,154 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-05-31', 0.42, 72)
2018-05-03 21:07:32,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,157 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-01', 0.22, 71)
2018-05-03 21:07:32,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,160 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-02', 0.35, 74)
2018-05-03 21:07:32,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,162 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-03', 0.02, 75)
2018-05-03 21:07:32,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,168 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-07', 0.0, 75)
2018-05-03 21:07:32,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,174 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-08', 0.0, 74)
2018-05-03 21:07:32,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,176 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-09', 0.12, 76)
2018-05-03 21:07:32,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,178 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-10', 0.13, 75)
2018-05-03 21:07:32,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,181 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-11', 0.01, 77)
2018-05-03 21:07:32,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,186 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-12', 0.26, 77)
2018-05-03 21:07:32,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,191 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-13', 0.01, 79)
2018-05-03 21:07:32,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,194 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-14', 0.0, 79)
2018-05-03 21:07:32,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,196 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-15', 0.18, 78)
2018-05-03 21:07:32,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,200 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-16', 0.06, 79)
2018-05-03 21:07:32,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,205 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-17', 0.17, 73)
2018-05-03 21:07:32,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,207 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-18', 0.03, 78)
2018-05-03 21:07:32,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,210 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-19', 0.03, 79)
2018-05-03 21:07:32,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,214 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-20', 0.47, 80)
2018-05-03 21:07:32,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,219 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-21', 0.0, 76)
2018-05-03 21:07:32,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,223 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-22', 0.08, 79)
2018-05-03 21:07:32,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,226 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-23', 0.1, 79)
2018-05-03 21:07:32,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,228 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-24', 0.03, 77)
2018-05-03 21:07:32,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,232 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-25', 0.44, 80)
2018-05-03 21:07:32,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,239 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-26', 0.03, 79)
2018-05-03 21:07:32,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,243 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-27', 0.0, 78)
2018-05-03 21:07:32,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,244 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-28', 0.0, 78)
2018-05-03 21:07:32,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,246 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-29', 0.06, 79)
2018-05-03 21:07:32,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,255 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-06-30', 0.0, 78)
2018-05-03 21:07:32,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,258 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-01', 0.0, 78)
2018-05-03 21:07:32,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,261 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-04', 0.0, 79)
2018-05-03 21:07:32,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:32,263 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-05', 0.0, 79)
2018-05-03 21:07:32,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,271 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-06', 0.2, 77)
2018-05-03 21:07:32,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,274 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-07', 0.19, 77)
2018-05-03 21:07:32,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,276 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-08', 0.05, 78)
2018-05-03 21:07:32,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,279 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-09', 0.0, 81)
2018-05-03 21:07:32,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,284 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-10', 0.12, 77)
2018-05-03 21:07:32,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,289 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-11', 0.0, 80)
2018-05-03 21:07:32,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,292 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-12', 0.03, 80)
2018-05-03 21:07:32,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,294 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-13', 0.05, 78)
2018-05-03 21:07:32,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,308 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-14', 0.38, 80)
2018-05-03 21:07:32,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,311 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-15', 0.43, 78)
2018-05-03 21:07:32,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,314 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-16', 0.65, 80)
2018-05-03 21:07:32,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,319 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-18', 0.0, 80)
2018-05-03 21:07:32,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,326 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-19', 0.43, 80)
2018-05-03 21:07:32,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,328 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-20', 0.0, 79)
2018-05-03 21:07:32,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,333 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-22', 0.0, 78)
2018-05-03 21:07:32,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,340 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-25', 0.0, 77)
2018-05-03 21:07:32,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,343 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-27', 0.0, 82)
2018-05-03 21:07:32,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,345 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-28', 0.05, 81)
2018-05-03 21:07:32,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,347 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-07-29', 0.01, 76)
2018-05-03 21:07:32,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,352 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-01', 0.0, 78)
2018-05-03 21:07:32,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,357 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-02', 0.55, 80)
2018-05-03 21:07:32,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,362 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-03', 0.0, 82)
2018-05-03 21:07:32,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,364 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-06', 0.0, 79)
2018-05-03 21:07:32,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,368 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-07', 0.48, 83)
2018-05-03 21:07:32,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,371 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-08', 0.01, 82)
2018-05-03 21:07:32,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,374 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-09', 0.0, 81)
2018-05-03 21:07:32,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,377 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-10', 0.0, 81)
2018-05-03 21:07:32,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,380 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-11', 0.0, 79)
2018-05-03 21:07:32,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,386 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-12', 0.12, 81)
2018-05-03 21:07:32,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,389 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-13', 0.0, 83)
2018-05-03 21:07:32,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,391 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-15', 0.0, 81)
2018-05-03 21:07:32,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,394 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-16', 0.02, 81)
2018-05-03 21:07:32,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,396 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-17', 0.0, 79)
2018-05-03 21:07:32,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,399 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-18', 0.01, 79)
2018-05-03 21:07:32,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,404 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-19', 0.07, 80)
2018-05-03 21:07:32,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,412 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-20', 0.0, 81)
2018-05-03 21:07:32,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,416 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-22', 0.0, 79)
2018-05-03 21:07:32,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,420 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-23', 0.05, 80)
2018-05-03 21:07:32,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,423 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-24', 2.28, 80)
2018-05-03 21:07:32,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,430 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-25', 0.0, 81)
2018-05-03 21:07:32,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,435 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-26', 0.02, 81)
2018-05-03 21:07:32,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,438 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-27', 0.02, 81)
2018-05-03 21:07:32,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,443 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-28', 0.14, 81)
2018-05-03 21:07:32,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,449 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-29', 0.04, 80)
2018-05-03 21:07:32,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,453 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-08-31', 0.0, 80)
2018-05-03 21:07:32,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,470 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-01', 0.0, 82)
2018-05-03 21:07:32,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,475 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-02', 0.19, 81)
2018-05-03 21:07:32,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,478 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-05', 0.0, 82)
2018-05-03 21:07:32,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,481 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-06', 0.04, 80)
2018-05-03 21:07:32,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,485 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-07', 0.23, 80)
2018-05-03 21:07:32,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,488 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-08', 0.01, 81)
2018-05-03 21:07:32,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,491 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-09', 0.29, 77)
2018-05-03 21:07:32,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,494 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-12', 0.0, 79)
2018-05-03 21:07:32,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,497 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-13', 0.32, 79)
2018-05-03 21:07:32,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,503 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-14', 1.84, 79)
2018-05-03 21:07:32,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,507 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-15', 0.07, 81)
2018-05-03 21:07:32,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,509 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-16', 0.07, 79)
2018-05-03 21:07:32,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,511 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-19', 0.0, 79)
2018-05-03 21:07:32,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,531 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-20', 0.25, 80)
2018-05-03 21:07:32,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,536 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-21', 0.02, 80)
2018-05-03 21:07:32,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,539 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-22', 0.17, 78)
2018-05-03 21:07:32,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,560 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-23', 0.15, 81)
2018-05-03 21:07:32,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,563 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-24', 0.0, 82)
2018-05-03 21:07:32,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,568 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-25', 0.0, 82)
2018-05-03 21:07:32,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,574 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-26', 0.02, 80)
2018-05-03 21:07:32,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,576 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-27', 0.0, 79)
2018-05-03 21:07:32,578 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,579 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-28', 0.0, 80)
2018-05-03 21:07:32,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,586 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-29', 0.2, 79)
2018-05-03 21:07:32,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,696 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-09-30', 0.06, 80)
2018-05-03 21:07:32,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,699 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-01', 0.08, 80)
2018-05-03 21:07:32,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:32,706 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-02', 0.03, 80)
2018-05-03 21:07:32,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,709 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-03', 0.03, 80)
2018-05-03 21:07:32,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,712 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-04', 0.0, 81)
2018-05-03 21:07:32,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,715 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-05', 0.0, 80)
2018-05-03 21:07:32,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,719 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-06', 0.0, 80)
2018-05-03 21:07:32,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,722 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-07', 0.0, 79)
2018-05-03 21:07:32,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,724 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-10', 0.0, 77)
2018-05-03 21:07:32,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,726 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-11', 0.04, 80)
2018-05-03 21:07:32,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,728 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-12', 0.0, 80)
2018-05-03 21:07:32,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,730 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-13', 0.02, 81)
2018-05-03 21:07:32,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,733 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-14', 0.0, 79)
2018-05-03 21:07:32,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,738 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-15', 0.02, 81)
2018-05-03 21:07:32,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,740 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-17', 0.0, 78)
2018-05-03 21:07:32,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,743 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-18', 0.03, 80)
2018-05-03 21:07:32,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,747 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-19', 0.0, 79)
2018-05-03 21:07:32,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,750 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-20', 0.01, 77)
2018-05-03 21:07:32,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,755 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-21', 0.03, 78)
2018-05-03 21:07:32,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,760 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-23', 0.0, 80)
2018-05-03 21:07:32,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,763 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-24', 0.01, 77)
2018-05-03 21:07:32,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,767 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-25', 0.0, 81)
2018-05-03 21:07:32,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,770 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-27', 0.2, 78)
2018-05-03 21:07:32,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,773 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-28', 0.07, 78)
2018-05-03 21:07:32,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,775 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-29', 0.26, 76)
2018-05-03 21:07:32,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,778 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-30', 0.14, 78)
2018-05-03 21:07:32,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,780 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-10-31', 0.0, 77)
2018-05-03 21:07:32,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,783 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-01', 0.0, 77)
2018-05-03 21:07:32,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,787 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-02', 0.0, 78)
2018-05-03 21:07:32,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,790 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-03', 0.0, 77)
2018-05-03 21:07:32,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,793 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-04', 0.0, 77)
2018-05-03 21:07:32,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,795 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-05', 0.0, 77)
2018-05-03 21:07:32,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,797 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-06', 0.0, 78)
2018-05-03 21:07:32,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,800 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-07', 0.13, 72)
2018-05-03 21:07:32,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,803 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-08', 0.02, 73)
2018-05-03 21:07:32,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,806 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-09', 0.17, 74)
2018-05-03 21:07:32,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,808 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-10', 0.0, 75)
2018-05-03 21:07:32,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,810 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-11', 0.0, 77)
2018-05-03 21:07:32,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:32,813 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-12', 0.0, 78)
2018-05-03 21:07:32,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,820 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-13', 0.0, 78)
2018-05-03 21:07:32,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,824 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-14', 0.05, 79)
2018-05-03 21:07:32,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,827 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-15', 0.0, 77)
2018-05-03 21:07:32,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,829 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-16', 0.18, 78)
2018-05-03 21:07:32,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,833 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-17', 0.0, 77)
2018-05-03 21:07:32,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:32,837 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2016-11-22', 0.0, 76)
2018-05-03 21:07:33,197 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-01-26', 0.01, 74)
2018-05-03 21:07:33,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,207 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-01-27', 0.0, 74)
2018-05-03 21:07:33,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,210 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-01-28', 0.0, 76)
2018-05-03 21:07:33,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,214 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-01-30', 0.0, 71)
2018-05-03 21:07:33,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,239 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-01-31', 0.0, 70)
2018-05-03 21:07:33,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,242 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-01', 0.0, 72)
2018-05-03 21:07:33,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,246 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-02', 0.0, 72)
2018-05-03 21:07:33,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,249 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-03', 0.0, 73)
2018-05-03 21:07:33,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,253 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-05', 0.0, 80)
2018-05-03 21:07:33,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,257 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-06', 0.04, 77)
2018-05-03 21:07:33,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,261 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-07', 0.9, 76)
2018-05-03 21:07:33,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,265 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-08', 0.0, 67)
2018-05-03 21:07:33,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,269 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-09', 0.0, 71)
2018-05-03 21:07:33,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,274 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-10', 0.0, 73)
2018-05-03 21:07:33,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,277 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-11', 2.39, 69)
2018-05-03 21:07:33,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,280 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-12', 1.91, 76)
2018-05-03 21:07:33,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,286 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-13', 0.0, 80)
2018-05-03 21:07:33,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,292 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-14', 0.0, 79)
2018-05-03 21:07:33,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,295 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-15', 0.0, 76)
2018-05-03 21:07:33,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,297 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-16', 0.62, 73)
2018-05-03 21:07:33,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,301 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-17', 0.06, 77)
2018-05-03 21:07:33,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,305 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-20', 0.0, 72)
2018-05-03 21:07:33,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,309 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-21', 0.0, 71)
2018-05-03 21:07:33,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,313 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-22', 0.11, 72)
2018-05-03 21:07:33,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,317 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-23', 0.0, 75)
2018-05-03 21:07:33,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,322 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-24', 0.0, 71)
2018-05-03 21:07:33,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,325 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-26', 0.0, 75)
2018-05-03 21:07:33,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,328 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-27', 0.0, 71)
2018-05-03 21:07:33,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,332 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-02-28', 0.04, 73)
2018-05-03 21:07:33,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,337 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-01', 1.12, 71)

2018-05-03 21:07:33,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,342 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-03', 0.0, 73)
2018-05-03 21:07:33,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,345 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-06', 0.0, 74)
2018-05-03 21:07:33,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,349 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-07', 0.0, 74)
2018-05-03 21:07:33,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,353 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-08', 0.0, 74)
2018-05-03 21:07:33,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,357 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-09', 0.5, 69)
2018-05-03 21:07:33,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,360 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-10', 0.13, 75)
2018-05-03 21:07:33,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,362 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-12', 0.0, 80)
2018-05-03 21:07:33,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,365 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-13', 0.0, 77)
2018-05-03 21:07:33,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,369 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-14', 0.0, 77)
2018-05-03 21:07:33,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,374 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-16', 0.0, 77)
2018-05-03 21:07:33,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,377 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-17', 0.06, 72)
2018-05-03 21:07:33,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,381 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-18', 0.0, 76)
2018-05-03 21:07:33,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,387 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-20', 0.0, 77)
2018-05-03 21:07:33,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,390 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-21', 0.0, 76)
2018-05-03 21:07:33,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,393 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-22', 0.0, 76)
2018-05-03 21:07:33,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,396 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-23', 0.0, 78)
2018-05-03 21:07:33,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,399 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-24', 0.15, 75)
2018-05-03 21:07:33,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,406 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-27', 0.0, 78)
2018-05-03 21:07:33,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,409 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-28', 0.0, 78)
2018-05-03 21:07:33,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,413 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-29', 0.03, 77)
2018-05-03 21:07:33,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,417 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-30', 0.03, 78)
2018-05-03 21:07:33,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,421 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-03-31', 0.0, 77)
2018-05-03 21:07:33,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,426 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-01', 0.0, 78)
2018-05-03 21:07:33,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,429 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-02', 0.0, 77)
2018-05-03 21:07:33,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,432 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-03', 0.09, 77)
2018-05-03 21:07:33,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,436 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-04', 0.0, 76)
2018-05-03 21:07:33,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,440 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-05', 0.07, 77)
2018-05-03 21:07:33,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,443 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-06', 0.0, 76)
2018-05-03 21:07:33,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,445 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-07', 0.0, 76)
2018-05-03 21:07:33,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,452 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-09', 0.0, 77)
2018-05-03 21:07:33,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,456 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-10', 0.0, 79)
2018-05-03 21:07:33,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,460 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-11', 0.16, 77)
2018-05-03 21:07:33,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,463 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-12', 0.29, 77)
2018-05-03 21:07:33,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,466 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-13', 0.0, 77)
2018-05-03 21:07:33,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,470 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-14', 0.29, 77)
2018-05-03 21:07:33,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,473 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-17', 0.0, 69)
2018-05-03 21:07:33,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,477 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-18', 0.12, 76)
2018-05-03 21:07:33,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,480 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-19', 0.0, 83)
2018-05-03 21:07:33,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,488 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-20', 0.0, 74)
2018-05-03 21:07:33,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,492 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-21', 1.05, 70)
2018-05-03 21:07:33,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,496 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-22', 0.7, 74)
2018-05-03 21:07:33,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,502 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-24', 0.0, 79)
2018-05-03 21:07:33,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,505 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-25', 0.0, 77)
2018-05-03 21:07:33,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,508 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-26', 0.14, 78)
2018-05-03 21:07:33,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,512 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-27', 0.02, 78)
2018-05-03 21:07:33,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,515 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-28', 0.09, 77)
2018-05-03 21:07:33,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,521 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-29', 0.95, 71)
2018-05-03 21:07:33,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,525 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-04-30', 1.17, 63)
2018-05-03 21:07:33,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,528 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-01', 0.03, 78)
2018-05-03 21:07:33,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,531 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-02', 0.01, 76)
2018-05-03 21:07:33,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,536 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-03', 0.01, 78)
2018-05-03 21:07:33,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,540 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-04', 0.08, 77)
2018-05-03 21:07:33,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,547 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-05', 0.28, 78)
2018-05-03 21:07:33,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,549 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-06', 0.06, 78)
2018-05-03 21:07:33,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,554 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-08', 0.95, 73)
2018-05-03 21:07:33,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,557 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-09', 0.52, 79)
2018-05-03 21:07:33,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,561 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-10', 0.0, 76)
2018-05-03 21:07:33,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,564 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-12', 0.0, 78)
2018-05-03 21:07:33,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,569 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-15', 0.0, 77)
2018-05-03 21:07:33,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,574 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-16', 0.05, 77)
2018-05-03 21:07:33,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,577 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-17', 0.0, 78)
2018-05-03 21:07:33,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,580 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-18', 0.16, 78)
2018-05-03 21:07:33,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,586 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-19', 0.01, 79)
2018-05-03 21:07:33,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,591 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-20', 0.01, 79)
2018-05-03 21:07:33,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,596 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-22', 0.0, 79)
2018-05-03 21:07:33,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,599 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-23', 0.11, 78)
2018-05-03 21:07:33,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,604 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-24', 0.1, 76)
2018-05-03 21:07:33,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,608 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-25', 0.07, 79)
2018-05-03 21:07:33,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,611 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-26', 0.0, 79)
2018-05-03 21:07:33,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,615 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-27', 0.0, 79)
2018-05-03 21:07:33,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,740 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-28', 0.02, 77)
2018-05-03 21:07:33,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:33,743 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-29', 0.0, 79)
2018-05-03 21:07:33,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,746 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-30', 0.04, 81)
2018-05-03 21:07:33,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,748 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-05-31', 0.0, 81)
2018-05-03 21:07:33,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,751 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-01', 0.0, 81)
2018-05-03 21:07:33,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,756 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-02', 0.15, 78)
2018-05-03 21:07:33,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,758 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-03', 0.16, 80)
2018-05-03 21:07:33,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,760 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-04', 0.05, 79)
2018-05-03 21:07:33,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,773 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-05', 0.02, 81)
2018-05-03 21:07:33,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,776 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-06', 0.0, 80)
2018-05-03 21:07:33,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,778 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-07', 0.0, 81)
2018-05-03 21:07:33,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,781 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-08', 0.01, 79)
2018-05-03 21:07:33,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,786 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-09', 0.0, 81)
2018-05-03 21:07:33,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,790 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-10', 0.53, 78)
2018-05-03 21:07:33,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,793 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-11', 0.14, 79)
2018-05-03 21:07:33,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,795 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-12', 0.35, 79)
2018-05-03 21:07:33,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,798 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-13', 0.1, 75)
2018-05-03 21:07:33,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,802 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-14', 0.21, 79)
2018-05-03 21:07:33,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,806 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-15', 0.3, 78)
2018-05-03 21:07:33,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,808 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-16', 0.02, 80)
2018-05-03 21:07:33,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,811 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-17', 0.02, 78)
2018-05-03 21:07:33,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,814 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-18', 0.18, 77)
2018-05-03 21:07:33,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,817 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-19', 0.19, 78)
2018-05-03 21:07:33,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,823 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-20', 0.17, 79)
2018-05-03 21:07:33,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,825 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-23', 0.0, 76)
2018-05-03 21:07:33,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,828 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-26', 0.0, 80)
2018-05-03 21:07:33,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,830 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-29', 0.0, 76)
2018-05-03 21:07:33,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,833 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-06-30', 0.0, 81)
2018-05-03 21:07:33,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,838 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-03', 0.0, 81)
2018-05-03 21:07:33,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,841 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-05', 0.0, 81)
2018-05-03 21:07:33,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,843 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-07', 0.0, 77)
2018-05-03 21:07:33,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,846 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-08', 0.06, 81)
2018-05-03 21:07:33,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,848 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-09', 0.0, 82)
2018-05-03 21:07:33,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,851 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-10', 0.0, 80)
2018-05-03 21:07:33,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,855 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-11', 0.0, 79)
2018-05-03 21:07:33,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,858 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-12', 0.02, 81)
2018-05-03 21:07:33,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,861 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-13', 0.3, 81)
2018-05-03 21:07:33,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:33,863 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-14', 0.0, 80)
2018-05-03 21:07:33,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,865 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-15', 0.01, 82)
2018-05-03 21:07:33,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,870 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-16', 0.12, 79)
2018-05-03 21:07:33,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,874 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-17', 0.16, 82)
2018-05-03 21:07:33,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,876 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-18', 0.0, 82)
2018-05-03 21:07:33,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,878 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-19', 0.09, 80)
2018-05-03 21:07:33,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,881 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-20', 0.0, 79)
2018-05-03 21:07:33,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,884 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-21', 0.0, 79)
2018-05-03 21:07:33,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,889 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-22', 0.12, 80)
2018-05-03 21:07:33,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,891 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-23', 0.07, 82)
2018-05-03 21:07:33,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,893 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-24', 1.19, 79)
2018-05-03 21:07:33,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,896 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-25', 0.12, 80)
2018-05-03 21:07:33,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,898 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-26', 0.02, 79)
2018-05-03 21:07:33,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,901 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-27', 0.0, 80)
2018-05-03 21:07:33,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,906 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-28', 0.14, 81)
2018-05-03 21:07:33,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,908 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-29', 0.02, 82)
2018-05-03 21:07:33,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,911 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-07-31', 0.0, 81)
2018-05-03 21:07:33,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,913 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-01', 0.12, 74)
2018-05-03 21:07:33,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,915 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-02', 0.05, 80)
2018-05-03 21:07:33,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,921 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-03', 0.01, 81)
2018-05-03 21:07:33,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,924 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-04', 0.04, 81)
2018-05-03 21:07:33,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,927 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-06', 0.0, 82)
2018-05-03 21:07:33,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,929 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-07', 0.0, 81)
2018-05-03 21:07:33,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,932 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-08', 0.1, 78)
2018-05-03 21:07:33,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,936 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-09', 0.0, 81)
2018-05-03 21:07:33,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,940 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-10', 0.0, 81)
2018-05-03 21:07:33,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,943 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-11', 0.0, 81)
2018-05-03 21:07:33,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,946 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-13', 0.0, 81)
2018-05-03 21:07:33,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,948 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-14', 0.01, 81)
2018-05-03 21:07:33,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,951 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-15', 0.0, 82)
2018-05-03 21:07:33,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,955 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-16', 0.0, 82)
2018-05-03 21:07:33,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,958 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-17', 0.0, 78)
2018-05-03 21:07:33,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,961 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-18', 0.0, 77)
2018-05-03 21:07:33,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,964 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-19', 0.0, 80)
2018-05-03 21:07:33,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,975 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-20', 0.01, 80)
2018-05-03 21:07:33,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,978 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-21', 0.02, 79)
2018-05-03 21:07:33,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:33,980 INFO sqlalchemy.engine.base.Engine ('USC00514830', '2017-08-23', 0.0, 82)
2018-05-03 21:07:33,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,989 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-03', 0.0, 75)
2018-05-03 21:07:33,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,991 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-04', 0.0, 76)
2018-05-03 21:07:33,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,994 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-05', 0.02, 75)
2018-05-03 21:07:33,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:33,997 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-06', 0.0, 74)
2018-05-03 21:07:33,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,000 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-07', 0.08, 75)
2018-05-03 21:07:34,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,004 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-10', 0.0, 76)
2018-05-03 21:07:34,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,007 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-11', 0.0, 73)
2018-05-03 21:07:34,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,010 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-12', 0.0, 75)
2018-05-03 21:07:34,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,013 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-13', 0.0, 75)
2018-05-03 21:07:34,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,016 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-14', 0.0, 77)
2018-05-03 21:07:34,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,023 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-17', 0.0, 77)
2018-05-03 21:07:34,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,026 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-18', 0.0, 78)
2018-05-03 21:07:34,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,029 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-19', 0.0, 77)
2018-05-03 21:07:34,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,032 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-20', 0.02, 77)
2018-05-03 21:07:34,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,036 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-21', 0.03, 76)
2018-05-03 21:07:34,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,040 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-25', 0.0, 76)
2018-05-03 21:07:34,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,043 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-26', 0.0, 77)
2018-05-03 21:07:34,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,046 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-27', 0.0, 76)
2018-05-03 21:07:34,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,049 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-05-28', 0.0, 77)
2018-05-03 21:07:34,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,055 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-01', 0.0, 77)
2018-05-03 21:07:34,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,059 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-02', 0.0, 76)
2018-05-03 21:07:34,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,063 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-03', 0.14, 77)
2018-05-03 21:07:34,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,073 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-04', 0.0, 75)
2018-05-03 21:07:34,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,081 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-07', 0.0, 76)
2018-05-03 21:07:34,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,085 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-08', 0.0, 79)
2018-05-03 21:07:34,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,089 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-09', 0.0, 79)
2018-05-03 21:07:34,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,215 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-10', 0.0, 77)
2018-05-03 21:07:34,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,221 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-15', 0.0, 76)
2018-05-03 21:07:34,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,224 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-16', 0.0, 77)
2018-05-03 21:07:34,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,227 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-17', 0.0, 76)
2018-05-03 21:07:34,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,228 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-18', 0.05, 73)
2018-05-03 21:07:34,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,231 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-21', 0.0, 76)
2018-05-03 21:07:34,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,234 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-22', 0.02, 77)
2018-05-03 21:07:34,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,239 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-23', 0.0, 77)
2018-05-03 21:07:34,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,241 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-24', 0.02, 78)
2018-05-03 21:07:34,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:34,244 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-25', 0.1, 77)
2018-05-03 21:07:34,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,246 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-28', 0.0, 76)
2018-05-03 21:07:34,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,248 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-29', 0.0, 78)
2018-05-03 21:07:34,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,252 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-06-30', 0.0, 78)
2018-05-03 21:07:34,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,256 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-01', 0.0, 73)
2018-05-03 21:07:34,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,259 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-02', 0.02, 74)
2018-05-03 21:07:34,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,261 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-06', 0.0, 75)
2018-05-03 21:07:34,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,263 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-07', 0.03, 76)
2018-05-03 21:07:34,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,265 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-08', 0.05, 75)
2018-05-03 21:07:34,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,270 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-09', 0.08, 73)
2018-05-03 21:07:34,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,275 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-14', 0.0, 74)
2018-05-03 21:07:34,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,277 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-15', 0.0, 74)
2018-05-03 21:07:34,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,279 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-16', 0.0, 78)
2018-05-03 21:07:34,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,281 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-19', 0.0, 72)
2018-05-03 21:07:34,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,289 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-20', 0.07, 74)
2018-05-03 21:07:34,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,291 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-21', 0.0, 78)
2018-05-03 21:07:34,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,296 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-22', 0.0, 77)
2018-05-03 21:07:34,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,315 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-07-23', 0.0, 76)
2018-05-03 21:07:34,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,319 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-02', 0.0, 74)
2018-05-03 21:07:34,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,322 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-03', 0.23, 73)
2018-05-03 21:07:34,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,325 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-04', 0.04, 73)
2018-05-03 21:07:34,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,367 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-05', 0.09, 73)
2018-05-03 21:07:34,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,370 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-06', 0.02, 75)
2018-05-03 21:07:34,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,373 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-09', 0.0, 77)
2018-05-03 21:07:34,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,375 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-10', 0.0, 79)
2018-05-03 21:07:34,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,378 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-11', 0.0, 74)
2018-05-03 21:07:34,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,380 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-12', 0.05, 75)
2018-05-03 21:07:34,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,382 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-13', 0.0, 76)
2018-05-03 21:07:34,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,386 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-16', 0.0, 75)
2018-05-03 21:07:34,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,389 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-17', 0.0, 75)
2018-05-03 21:07:34,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,391 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-18', 0.0, 75)
2018-05-03 21:07:34,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,394 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-19', 0.0, 79)
2018-05-03 21:07:34,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,397 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-23', 0.0, 77)
2018-05-03 21:07:34,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,401 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-24', 0.0, 74)
2018-05-03 21:07:34,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,405 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-25', 0.04, 74)
2018-05-03 21:07:34,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,408 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-26', 0.04, 75)
2018-05-03 21:07:34,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:34,410 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-27', 0.06, 76)
2018-05-03 21:07:34,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,412 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-30', 0.0, 74)
2018-05-03 21:07:34,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,414 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-08-31', 0.0, 75)
2018-05-03 21:07:34,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,431 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-01', 0.0, 73)
2018-05-03 21:07:34,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,434 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-02', 0.05, 74)
2018-05-03 21:07:34,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,439 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-03', 0.08, 75)
2018-05-03 21:07:34,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,444 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-07', 0.0, 77)
2018-05-03 21:07:34,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,446 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-08', 0.0, 75)
2018-05-03 21:07:34,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,449 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-09', 0.0, 78)
2018-05-03 21:07:34,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,465 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-10', 0.0, 76)
2018-05-03 21:07:34,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,467 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-13', 0.0, 77)
2018-05-03 21:07:34,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,471 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-14', 0.0, 78)
2018-05-03 21:07:34,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,474 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-15', 0.0, 78)
2018-05-03 21:07:34,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,476 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-16', 0.02, 78)
2018-05-03 21:07:34,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,478 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-17', 0.0, 78)
2018-05-03 21:07:34,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,481 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-20', 0.01, 78)
2018-05-03 21:07:34,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,484 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-21', 0.26, 77)
2018-05-03 21:07:34,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,488 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-22', 0.04, 74)
2018-05-03 21:07:34,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,496 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-23', 0.01, 74)
2018-05-03 21:07:34,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,530 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-24', 0.0, 75)
2018-05-03 21:07:34,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,532 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-27', 0.0, 76)
2018-05-03 21:07:34,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,535 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-09-28', 0.0, 74)
2018-05-03 21:07:34,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,539 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-04', 0.01, 71)
2018-05-03 21:07:34,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,542 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-05', 0.0, 80)
2018-05-03 21:07:34,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,544 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-06', 0.0, 79)
2018-05-03 21:07:34,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,546 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-07', 0.0, 80)
2018-05-03 21:07:34,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,549 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-08', 0.0, 80)
2018-05-03 21:07:34,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,552 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-12', 0.04, 80)
2018-05-03 21:07:34,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,558 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-13', 0.0, 77)
2018-05-03 21:07:34,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,560 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-14', 0.0, 76)
2018-05-03 21:07:34,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,562 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-15', 0.0, 76)
2018-05-03 21:07:34,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,564 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-18', 0.0, 74)
2018-05-03 21:07:34,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,566 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-19', 0.0, 74)
2018-05-03 21:07:34,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,571 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-20', 0.0, 74)
2018-05-03 21:07:34,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,577 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-21', 0.0, 74)
2018-05-03 21:07:34,578 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,580 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-22', 0.0, 72)
2018-05-03 21:07:34,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,583 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-25', 0.0, 77)
2018-05-03 21:07:34,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,589 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-26', 0.03, 76)
2018-05-03 21:07:34,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,592 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-27', 0.0, 77)
2018-05-03 21:07:34,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,596 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-28', 0.0, 78)
2018-05-03 21:07:34,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,602 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-10-29', 0.0, 75)
2018-05-03 21:07:34,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,608 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-01', 0.0, 72)
2018-05-03 21:07:34,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,611 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-03', 0.0, 72)
2018-05-03 21:07:34,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,615 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-04', 0.0, 73)
2018-05-03 21:07:34,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,624 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-05', 0.0, 73)
2018-05-03 21:07:34,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,629 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-08', 0.0, 73)
2018-05-03 21:07:34,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,632 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-09', 0.01, 72)
2018-05-03 21:07:34,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,646 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-10', 0.04, 72)
2018-05-03 21:07:34,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,649 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-12', 0.0, 76)
2018-05-03 21:07:34,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,654 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-15', 0.0, 74)
2018-05-03 21:07:34,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,658 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-16', 0.02, 74)
2018-05-03 21:07:34,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,660 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-17', 0.0, 70)
2018-05-03 21:07:34,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,662 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-18', 0.0, 72)
2018-05-03 21:07:34,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,666 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-19', 0.35, 70)
2018-05-03 21:07:34,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,670 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-22', 0.0, 68)
2018-05-03 21:07:34,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,768 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-23', 0.0, 71)
2018-05-03 21:07:34,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,773 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-24', 0.01, 73)
2018-05-03 21:07:34,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,775 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-29', 0.0, 71)
2018-05-03 21:07:34,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,778 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-11-30', 0.23, 73)
2018-05-03 21:07:34,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,781 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-01', 0.7, 72)
2018-05-03 21:07:34,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,785 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-02', 0.26, 75)
2018-05-03 21:07:34,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,789 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-06', 0.0, 66)
2018-05-03 21:07:34,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,793 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-07', 0.0, 66)
2018-05-03 21:07:34,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,796 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-08', 0.0, 67)
2018-05-03 21:07:34,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,798 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-09', 0.02, 76)
2018-05-03 21:07:34,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,801 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-10', 1.75, 68)
2018-05-03 21:07:34,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,808 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-13', 0.0, 69)
2018-05-03 21:07:34,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,811 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-14', 0.0, 71)
2018-05-03 21:07:34,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,813 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-15', 0.0, 70)
2018-05-03 21:07:34,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,815 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-16', 0.0, 68)
2018-05-03 21:07:34,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,818 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2010-12-17', 0.0, 66)
2018-05-03 21:07:34,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,823 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-04', 0.0, 70)

2018-05-03 21:07:34,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,825 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-05', 0.0, 70)
2018-05-03 21:07:34,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,827 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-06', 0.0, 72)
2018-05-03 21:07:34,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,830 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-07', 0.02, 65)
2018-05-03 21:07:34,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,832 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-10', 0.0, 67)
2018-05-03 21:07:34,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,835 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-11', 0.1, 58)
2018-05-03 21:07:34,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,840 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-18', 0.27, 65)
2018-05-03 21:07:34,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,842 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-19', 0.0, 66)
2018-05-03 21:07:34,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,844 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-20', 0.03, 61)
2018-05-03 21:07:34,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,846 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-21', 0.02, 73)
2018-05-03 21:07:34,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,852 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-24', 0.0, 68)
2018-05-03 21:07:34,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,858 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-25', 0.0, 64)
2018-05-03 21:07:34,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,861 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-26', 0.0, 64)
2018-05-03 21:07:34,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,864 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-27', 0.0, 65)
2018-05-03 21:07:34,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,868 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-28', 0.0, 73)
2018-05-03 21:07:34,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,873 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-01-31', 0.0, 64)
2018-05-03 21:07:34,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,878 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-01', 0.0, 65)
2018-05-03 21:07:34,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,880 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-02', 0.0, 65)
2018-05-03 21:07:34,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,882 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-03', 0.0, 68)
2018-05-03 21:07:34,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,886 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-04', 0.0, 64)
2018-05-03 21:07:34,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,890 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-07', 0.0, 69)
2018-05-03 21:07:34,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,893 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-08', 1.6, 69)
2018-05-03 21:07:34,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,896 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-09', 0.0, 67)
2018-05-03 21:07:34,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,899 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-10', 0.02, 67)
2018-05-03 21:07:34,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,903 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-11', 0.57, 69)
2018-05-03 21:07:34,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,908 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-14', 0.0, 71)
2018-05-03 21:07:34,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,910 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-15', 0.0, 68)
2018-05-03 21:07:34,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,912 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-16', 0.0, 75)
2018-05-03 21:07:34,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,914 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-17', 0.0, 73)
2018-05-03 21:07:34,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,917 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-18', 0.0, 75)
2018-05-03 21:07:34,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,922 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-22', 0.0, 69)
2018-05-03 21:07:34,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,929 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-23', 0.0, 69)
2018-05-03 21:07:34,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,932 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-24', 0.0, 66)
2018-05-03 21:07:34,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,939 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-25', 0.0, 67)
2018-05-03 21:07:34,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,943 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-02-28', 0.0, 69)
2018-05-03 21:07:34,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,945 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-01', 0.0, 70)
2018-05-03 21:07:34,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,947 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-02', 0.0, 69)

2018-05-03 21:07:34,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,949 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-07', 0.0, 72)
2018-05-03 21:07:34,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,953 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-08', 0.0, 72)
2018-05-03 21:07:34,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,959 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-09', 0.0, 72)
2018-05-03 21:07:34,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,966 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-10', 0.0, 74)
2018-05-03 21:07:34,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,975 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-14', 0.0, 77)
2018-05-03 21:07:34,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,979 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-15', 0.0, 76)
2018-05-03 21:07:34,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,982 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-16', 0.0, 74)
2018-05-03 21:07:34,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,985 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-30', 0.0, 73)
2018-05-03 21:07:34,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,989 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-03-31', 0.0, 74)
2018-05-03 21:07:34,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,992 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-01', 0.0, 76)
2018-05-03 21:07:34,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,994 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-04', 0.0, 74)
2018-05-03 21:07:34,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,997 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-05', 0.0, 71)
2018-05-03 21:07:34,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:34,999 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-06', 0.0, 71)
2018-05-03 21:07:35,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,003 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-07', 1.09, 69)
2018-05-03 21:07:35,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,009 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-11', 0.0, 76)
2018-05-03 21:07:35,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,015 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-12', 0.0, 74)
2018-05-03 21:07:35,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,019 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-13', 0.0, 75)
2018-05-03 21:07:35,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,025 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-14', 0.01, 74)
2018-05-03 21:07:35,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,028 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-15', 0.0, 75)
2018-05-03 21:07:35,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,031 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-18', 0.0, 74)
2018-05-03 21:07:35,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,033 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-19', 0.0, 72)
2018-05-03 21:07:35,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,041 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-20', 0.0, 73)
2018-05-03 21:07:35,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,046 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-21', 0.0, 66)
2018-05-03 21:07:35,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,049 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-25', 0.0, 73)
2018-05-03 21:07:35,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,053 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-26', 0.0, 76)
2018-05-03 21:07:35,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,057 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-27', 0.05, 76)
2018-05-03 21:07:35,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,061 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-04-28', 0.0, 75)
2018-05-03 21:07:35,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,063 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-02', 0.0, 72)
2018-05-03 21:07:35,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,066 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-03', 0.0, 71)
2018-05-03 21:07:35,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,069 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-04', 0.08, 72)
2018-05-03 21:07:35,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,074 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-05', 0.06, 73)
2018-05-03 21:07:35,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,077 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-06', 1.8, 74)
2018-05-03 21:07:35,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,079 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-09', 0.0, 71)
2018-05-03 21:07:35,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,082 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-10', 0.0, 72)
2018-05-03 21:07:35,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,091 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-11', 0.0, 72)
2018-05-03 21:07:35,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,094 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-12', 0.0, 74)

2018-05-03 21:07:35,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,096 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-16', 0.0, 77)
2018-05-03 21:07:35,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,098 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-17', 0.0, 78)
2018-05-03 21:07:35,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,101 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-18', 0.0, 77)
2018-05-03 21:07:35,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,107 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-19', 0.0, 74)
2018-05-03 21:07:35,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,109 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-20', 0.0, 76)
2018-05-03 21:07:35,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,112 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-23', 0.0, 77)
2018-05-03 21:07:35,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,115 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-24', 0.0, 76)
2018-05-03 21:07:35,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,121 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-25', 0.01, 76)
2018-05-03 21:07:35,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,126 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-26', 0.0, 77)
2018-05-03 21:07:35,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,129 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-27', 0.01, 78)
2018-05-03 21:07:35,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,132 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-05-31', 0.0, 75)
2018-05-03 21:07:35,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,302 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-01', 0.0, 75)
2018-05-03 21:07:35,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,313 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-02', 0.0, 77)
2018-05-03 21:07:35,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,316 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-03', 1.71, 65)
2018-05-03 21:07:35,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,321 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-06', 0.0, 76)
2018-05-03 21:07:35,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,325 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-07', 0.0, 74)
2018-05-03 21:07:35,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,328 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-08', 0.05, 76)
2018-05-03 21:07:35,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,332 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-09', 0.0, 76)
2018-05-03 21:07:35,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,335 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-13', 0.0, 77)
2018-05-03 21:07:35,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,339 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-14', 0.0, 77)
2018-05-03 21:07:35,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,343 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-15', 0.0, 76)
2018-05-03 21:07:35,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,350 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-16', 0.0, 77)
2018-05-03 21:07:35,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,354 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-17', 0.0, 76)
2018-05-03 21:07:35,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,360 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-20', 0.0, 77)
2018-05-03 21:07:35,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,363 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-21', 0.25, 74)
2018-05-03 21:07:35,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,365 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-22', 0.08, 76)
2018-05-03 21:07:35,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,378 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-23', 0.22, 73)
2018-05-03 21:07:35,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,381 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-24', 0.1, 75)
2018-05-03 21:07:35,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,386 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-27', 0.0, 76)
2018-05-03 21:07:35,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,390 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-28', 0.0, 75)
2018-05-03 21:07:35,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,394 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-29', 0.0, 76)
2018-05-03 21:07:35,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,396 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-06-30', 0.0, 75)
2018-05-03 21:07:35,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,398 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-01', 0.0, 75)
2018-05-03 21:07:35,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,400 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-06', 0.0, 71)
2018-05-03 21:07:35,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,406 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-07', 0.0, 75)
2018-05-03 21:07:35,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,409 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-08', 0.0, 77)

2018-05-03 21:07:35,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,413 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-11', 0.0, 75)
2018-05-03 21:07:35,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,415 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-12', 0.0, 75)
2018-05-03 21:07:35,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,419 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-13', 0.0, 75)
2018-05-03 21:07:35,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,425 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-14', 0.0, 61)
2018-05-03 21:07:35,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,429 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-15', 0.0, 78)
2018-05-03 21:07:35,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,437 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-18', 0.0, 77)
2018-05-03 21:07:35,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,443 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-19', 0.0, 77)
2018-05-03 21:07:35,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,447 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-24', 0.0, 77)
2018-05-03 21:07:35,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,450 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-26', 0.0, 77)
2018-05-03 21:07:35,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,459 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-27', 0.02, 77)
2018-05-03 21:07:35,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,463 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-07-28', 0.0, 75)
2018-05-03 21:07:35,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,466 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-08-01', 0.0, 74)
2018-05-03 21:07:35,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,470 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-08-02', 0.0, 74)
2018-05-03 21:07:35,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:35,474 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2011-08-03', 0.0, 76)
2018-05-03 21:07:38,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,157 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-06-18', 0.0, 78)
2018-05-03 21:07:38,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,161 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-06-19', 0.01, 80)
2018-05-03 21:07:38,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,165 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-06-20', 0.14, 81)
2018-05-03 21:07:38,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,169 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-06-27', 0.0, 81)
2018-05-03 21:07:38,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,171 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-03', 0.0, 81)
2018-05-03 21:07:38,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,178 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-07', 0.0, 80)
2018-05-03 21:07:38,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,181 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-08', 0.0, 81)
2018-05-03 21:07:38,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,184 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-09', 0.0, 77)
2018-05-03 21:07:38,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,190 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-10', 0.0, 80)
2018-05-03 21:07:38,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,196 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-11', 0.0, 80)
2018-05-03 21:07:38,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,200 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-14', 0.0, 81)
2018-05-03 21:07:38,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,202 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-15', 0.0, 82)
2018-05-03 21:07:38,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,205 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-16', 0.0, 81)
2018-05-03 21:07:38,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,213 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-17', 0.02, 81)
2018-05-03 21:07:38,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,216 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-18', 0.0, 81)
2018-05-03 21:07:38,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,219 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-21', 0.0, 81)
2018-05-03 21:07:38,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,225 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-22', 0.0, 81)
2018-05-03 21:07:38,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,230 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-23', 0.0, 81)
2018-05-03 21:07:38,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,234 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-24', 0.0, 79)
2018-05-03 21:07:38,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,236 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-25', 0.0, 80)
2018-05-03 21:07:38,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,242 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-28', 0.0, 80)
2018-05-03 21:07:38,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,248 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-29', 0.0, 81)

2018-05-03 21:07:38,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,252 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-30', 0.0, 83)
2018-05-03 21:07:38,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,256 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-07-31', 0.0, 81)
2018-05-03 21:07:38,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,262 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-11', 0.0, 81)
2018-05-03 21:07:38,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,264 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-12', 0.0, 81)
2018-05-03 21:07:38,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,266 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-13', 0.02, 80)
2018-05-03 21:07:38,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,269 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-14', 0.0, 80)
2018-05-03 21:07:38,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,272 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-18', 0.0, 79)
2018-05-03 21:07:38,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,278 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-19', 0.0, 76)
2018-05-03 21:07:38,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,282 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-20', 0.0, 80)
2018-05-03 21:07:38,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,287 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-21', 0.0, 82)
2018-05-03 21:07:38,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,294 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-22', 0.0, 80)
2018-05-03 21:07:38,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,298 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-25', 0.0, 79)
2018-05-03 21:07:38,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,300 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-26', 0.0, 80)
2018-05-03 21:07:38,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,302 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-08-27', 0.05, 77)
2018-05-03 21:07:38,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,305 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-02', 0.0, 83)
2018-05-03 21:07:38,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,310 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-03', 0.0, 83)
2018-05-03 21:07:38,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,433 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-04', 0.0, 80)
2018-05-03 21:07:38,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,436 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-05', 0.0, 80)
2018-05-03 21:07:38,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,439 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-08', 0.0, 80)
2018-05-03 21:07:38,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,443 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-09', 0.0, 83)
2018-05-03 21:07:38,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,446 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-10', 0.0, 84)
2018-05-03 21:07:38,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,448 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-11', 0.0, 81)
2018-05-03 21:07:38,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,450 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-12', 0.0, 80)
2018-05-03 21:07:38,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,453 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-15', 0.0, 79)
2018-05-03 21:07:38,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,457 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-16', 0.0, 82)
2018-05-03 21:07:38,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,461 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-17', 0.0, 82)
2018-05-03 21:07:38,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,465 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-18', 0.0, 82)
2018-05-03 21:07:38,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,467 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-19', 0.12, 81)
2018-05-03 21:07:38,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,470 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-22', 0.0, 80)
2018-05-03 21:07:38,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,473 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-23', 0.02, 82)
2018-05-03 21:07:38,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,480 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-24', 0.0, 83)
2018-05-03 21:07:38,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,482 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-25', 0.0, 82)
2018-05-03 21:07:38,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,485 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-26', 0.0, 82)
2018-05-03 21:07:38,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,489 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-29', 0.0, 82)
2018-05-03 21:07:38,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,493 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-09-30', 0.0, 83)
2018-05-03 21:07:38,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,496 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-01', 0.0, 80)

2018-05-03 21:07:38,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,499 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-02', 0.05, 81)
2018-05-03 21:07:38,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,501 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-03', 0.0, 81)
2018-05-03 21:07:38,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,504 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-04', 0.0, 80)
2018-05-03 21:07:38,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,509 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-05', 0.0, 84)
2018-05-03 21:07:38,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,511 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-10', 0.0, 83)
2018-05-03 21:07:38,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,514 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-13', 0.0, 80)
2018-05-03 21:07:38,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,517 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-14', 0.0, 81)
2018-05-03 21:07:38,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,519 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-15', 0.0, 77)
2018-05-03 21:07:38,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,524 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-16', 0.0, 80)
2018-05-03 21:07:38,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,529 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-17', 0.0, 80)
2018-05-03 21:07:38,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,531 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-20', 0.0, 79)
2018-05-03 21:07:38,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,534 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-21', 0.03, 81)
2018-05-03 21:07:38,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,536 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-22', 0.03, 81)
2018-05-03 21:07:38,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,541 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-23', 0.0, 83)
2018-05-03 21:07:38,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,546 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-24', 0.0, 81)
2018-05-03 21:07:38,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,550 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-10-27', 0.0, 77)
2018-05-03 21:07:38,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,552 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-12', 0.0, 75)
2018-05-03 21:07:38,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,555 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-13', 0.0, 73)
2018-05-03 21:07:38,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,560 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-14', 0.0, 78)
2018-05-03 21:07:38,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,563 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-17', 0.0, 77)
2018-05-03 21:07:38,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,565 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-18', 0.0, 79)
2018-05-03 21:07:38,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,567 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-19', 0.0, 81)
2018-05-03 21:07:38,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,569 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-20', 0.0, 77)
2018-05-03 21:07:38,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,575 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-11-21', 0.0, 78)
2018-05-03 21:07:38,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,579 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-01', 0.28, 74)
2018-05-03 21:07:38,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,582 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-02', 0.0, 75)
2018-05-03 21:07:38,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,585 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-03', 0.05, 74)
2018-05-03 21:07:38,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,587 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-04', 0.15, 77)
2018-05-03 21:07:38,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,596 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-05', 0.0, 76)
2018-05-03 21:07:38,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,599 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-08', 0.0, 77)
2018-05-03 21:07:38,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,602 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-09', 0.0, 75)
2018-05-03 21:07:38,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,604 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-10', 0.0, 76)
2018-05-03 21:07:38,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,608 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-11', 0.06, 75)
2018-05-03 21:07:38,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,611 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-15', 0.1, 77)
2018-05-03 21:07:38,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,613 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-16', 0.0, 75)
2018-05-03 21:07:38,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,616 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-17', 0.0, 77)

2018-05-03 21:07:38,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,618 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-18', 0.0, 74)
2018-05-03 21:07:38,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,620 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-19', 0.0, 78)
2018-05-03 21:07:38,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,623 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-22', 0.04, 77)
2018-05-03 21:07:38,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,627 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-23', 0.1, 76)
2018-05-03 21:07:38,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,629 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-24', 0.02, 69)
2018-05-03 21:07:38,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,633 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-26', 0.0, 70)
2018-05-03 21:07:38,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,635 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-29', 0.0, 64)
2018-05-03 21:07:38,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,639 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2014-12-30', 0.0, 75)
2018-05-03 21:07:38,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,643 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-02', 0.0, 62)
2018-05-03 21:07:38,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,647 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-05', 0.0, 59)
2018-05-03 21:07:38,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,651 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-06', 0.0, 65)
2018-05-03 21:07:38,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,653 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-07', 0.0, 70)
2018-05-03 21:07:38,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,658 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-08', 0.0, 72)
2018-05-03 21:07:38,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,664 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-09', 0.0, 70)
2018-05-03 21:07:38,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,668 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-12', 0.0, 70)
2018-05-03 21:07:38,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,670 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-13', 0.0, 72)
2018-05-03 21:07:38,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,674 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-14', 0.0, 72)
2018-05-03 21:07:38,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,678 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-15', 0.0, 74)
2018-05-03 21:07:38,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,680 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-16', 0.0, 70)
2018-05-03 21:07:38,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,683 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-20', 0.0, 69)
2018-05-03 21:07:38,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,685 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-21', 0.0, 66)
2018-05-03 21:07:38,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,687 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-22', 0.0, 70)
2018-05-03 21:07:38,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,691 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-23', 0.0, 69)
2018-05-03 21:07:38,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,694 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-26', 0.0, 71)
2018-05-03 21:07:38,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,697 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-27', 0.0, 70)
2018-05-03 21:07:38,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,700 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-28', 0.0, 72)
2018-05-03 21:07:38,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,702 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-29', 0.0, 74)
2018-05-03 21:07:38,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,706 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-01-30', 0.0, 68)
2018-05-03 21:07:38,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,710 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-02', 0.0, 75)
2018-05-03 21:07:38,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,714 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-03', 0.03, 75)
2018-05-03 21:07:38,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,716 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-04', 0.16, 73)
2018-05-03 21:07:38,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,719 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-05', 0.0, 70)
2018-05-03 21:07:38,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,723 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-06', 0.0, 75)
2018-05-03 21:07:38,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,729 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-09', 0.0, 74)
2018-05-03 21:07:38,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,734 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-10', 0.1, 76)
2018-05-03 21:07:38,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,736 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-11', 0.0, 79)

2018-05-03 21:07:38,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,740 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-12', 0.0, 78)
2018-05-03 21:07:38,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,745 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-13', 0.0, 78)
2018-05-03 21:07:38,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,747 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-17', 0.0, 74)
2018-05-03 21:07:38,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,749 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-18', 0.0, 76)
2018-05-03 21:07:38,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,752 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-19', 0.0, 71)
2018-05-03 21:07:38,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,755 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-20', 0.0, 72)
2018-05-03 21:07:38,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,760 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-23', 0.0, 74)
2018-05-03 21:07:38,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,763 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-24', 0.0, 71)
2018-05-03 21:07:38,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,913 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-25', 0.0, 74)
2018-05-03 21:07:38,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,916 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-02-26', 0.0, 72)
2018-05-03 21:07:38,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,918 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-02', 0.0, 72)
2018-05-03 21:07:38,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,920 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-03', 0.0, 76)
2018-05-03 21:07:38,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,924 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-04', 0.0, 73)
2018-05-03 21:07:38,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,929 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-05', 0.0, 68)
2018-05-03 21:07:38,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,932 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-06', 0.0, 72)
2018-05-03 21:07:38,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,934 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-09', 0.0, 69)
2018-05-03 21:07:38,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,937 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-10', 0.0, 65)
2018-05-03 21:07:38,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,942 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-11', 0.0, 66)
2018-05-03 21:07:38,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,947 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-12', 0.0, 67)
2018-05-03 21:07:38,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,950 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-13', 0.0, 65)
2018-05-03 21:07:38,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,952 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-23', 0.0, 77)
2018-05-03 21:07:38,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,957 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-24', 0.0, 72)
2018-05-03 21:07:38,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,961 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-25', 0.0, 77)
2018-05-03 21:07:38,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,963 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-27', 0.0, 74)
2018-05-03 21:07:38,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,966 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-30', 0.0, 79)
2018-05-03 21:07:38,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,969 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-03-31', 0.03, 79)
2018-05-03 21:07:38,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,971 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-10', 0.04, 78)
2018-05-03 21:07:38,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,976 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-12', 0.0, 77)
2018-05-03 21:07:38,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,979 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-15', 0.0, 78)
2018-05-03 21:07:38,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,982 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-16', 0.0, 79)
2018-05-03 21:07:38,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,984 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-17', 0.01, 77)
2018-05-03 21:07:38,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,987 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-18', 0.0, 79)
2018-05-03 21:07:38,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,990 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-19', 0.0, 80)
2018-05-03 21:07:38,992 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,994 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-22', 0.0, 79)
2018-05-03 21:07:38,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,997 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-23', 0.04, 78)
2018-05-03 21:07:38,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:38,999 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-24', 0.09, 79)

2018-05-03 21:07:39,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,001 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-25', 0.0, 79)
2018-05-03 21:07:39,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,003 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-29', 0.0, 79)
2018-05-03 21:07:39,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,006 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-06-30', 0.0, 81)
2018-05-03 21:07:39,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,012 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-01', 0.0, 79)
2018-05-03 21:07:39,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,015 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-02', 0.0, 81)
2018-05-03 21:07:39,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,017 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-06', 0.0, 80)
2018-05-03 21:07:39,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,019 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-07', 0.0, 75)
2018-05-03 21:07:39,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,022 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-08', 0.0, 83)
2018-05-03 21:07:39,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,027 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-09', 0.1, 83)
2018-05-03 21:07:39,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,029 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-10', 0.0, 78)
2018-05-03 21:07:39,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,032 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-13', 0.0, 80)
2018-05-03 21:07:39,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,035 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-14', 0.05, 80)
2018-05-03 21:07:39,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,037 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-15', 0.08, 79)
2018-05-03 21:07:39,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,041 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-16', 0.05, 80)
2018-05-03 21:07:39,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,046 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-30', 0.0, 83)
2018-05-03 21:07:39,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,049 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-07-31', 0.0, 83)
2018-05-03 21:07:39,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,052 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-03', 0.0, 83)
2018-05-03 21:07:39,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,054 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-04', 0.0, 80)
2018-05-03 21:07:39,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,059 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-05', 0.0, 81)
2018-05-03 21:07:39,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,064 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-06', 0.0, 77)
2018-05-03 21:07:39,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,066 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-07', 0.05, 81)
2018-05-03 21:07:39,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,069 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-10', 0.0, 80)
2018-05-03 21:07:39,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,072 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-11', 0.0, 81)
2018-05-03 21:07:39,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,076 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-12', 0.0, 81)
2018-05-03 21:07:39,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,079 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-13', 0.0, 79)
2018-05-03 21:07:39,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,082 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-14', 0.0, 81)
2018-05-03 21:07:39,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,086 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-17', 0.0, 82)
2018-05-03 21:07:39,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,089 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-18', 0.0, 80)
2018-05-03 21:07:39,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,094 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-19', 0.0, 81)
2018-05-03 21:07:39,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,096 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-20', 0.0, 81)
2018-05-03 21:07:39,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,098 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-24', 0.0, 74)
2018-05-03 21:07:39,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,100 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-25', 0.0, 81)
2018-05-03 21:07:39,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,103 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-26', 1.5, 80)
2018-05-03 21:07:39,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,105 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-27', 0.0, 83)
2018-05-03 21:07:39,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,110 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-28', 0.0, 83)
2018-05-03 21:07:39,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,112 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-08-31', 0.0, 83)

2018-05-03 21:07:39,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,115 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-01', 0.0, 82)
2018-05-03 21:07:39,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,118 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-02', 0.0, 80)
2018-05-03 21:07:39,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,121 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-03', 0.16, 76)
2018-05-03 21:07:39,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,125 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-04', 0.0, 80)
2018-05-03 21:07:39,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,130 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-08', 0.0, 81)
2018-05-03 21:07:39,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,132 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-09', 0.0, 81)
2018-05-03 21:07:39,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,135 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-10', 0.0, 83)
2018-05-03 21:07:39,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,149 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-11', 0.2, 79)
2018-05-03 21:07:39,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,152 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-14', 0.0, 81)
2018-05-03 21:07:39,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,158 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-15', 0.0, 79)
2018-05-03 21:07:39,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,162 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-16', 0.22, 81)
2018-05-03 21:07:39,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,165 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-17', 0.0, 79)
2018-05-03 21:07:39,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,169 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-18', 0.0, 79)
2018-05-03 21:07:39,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:39,171 INFO sqlalchemy.engine.base.Engine ('USC00517948', '2015-09-21', 0.0, 80)
2018-05-03 21:07:39,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)2018-05-03 21:07:42,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,688 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-06-15', 0.06, 76)
2018-05-03 21:07:42,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,691 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-06-16', 0.07, 76)
2018-05-03 21:07:42,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,696 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-06-20', 0.0, 78)
2018-05-03 21:07:42,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,701 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-06-21', 0.05, 75)
2018-05-03 21:07:42,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,704 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-06-22', 0.82, 77)
2018-05-03 21:07:42,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,707 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-07-06', 0.05, 72)
2018-05-03 21:07:42,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,712 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-07-07', 0.74, 73)
2018-05-03 21:07:42,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,716 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-08-08', 0.0, 77)
2018-05-03 21:07:42,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,718 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-08-10', 0.0, 73)
2018-05-03 21:07:42,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,720 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-08-12', 0.0, 74)
2018-05-03 21:07:42,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,722 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-08-24', 0.0, 72)
2018-05-03 21:07:42,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,725 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-09-01', 0.01, 73)
2018-05-03 21:07:42,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,731 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-09-02', 0.08, 77)
2018-05-03 21:07:42,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,734 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-09-07', 0.0, 76)
2018-05-03 21:07:42,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,737 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-09-09', 0.0, 73)
2018-05-03 21:07:42,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,739 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-09-23', 0.0, 75)
2018-05-03 21:07:42,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,746 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-09-26', 0.0, 79)
2018-05-03 21:07:42,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,752 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-10-20', 0.0, 75)
2018-05-03 21:07:42,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,756 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-10-31', 0.0, 74)
2018-05-03 21:07:42,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,759 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2011-11-04', 0.6, 72)
2018-05-03 21:07:42,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,765 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-05', 0.1, 72)
2018-05-03 21:07:42,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,768 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-09', 0.0, 74)
2018-05-03 21:07:42,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,771 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-10', 0.0, 62)
2018-05-03 21:07:42,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,773 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-11', 0.01, 73)
2018-05-03 21:07:42,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,782 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-12', 0.1, 74)
2018-05-03 21:07:42,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,784 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-14', 0.0, 58)
2018-05-03 21:07:42,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,898 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-16', 0.0, 58)
2018-05-03 21:07:42,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,900 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-17', 0.26, 69)
2018-05-03 21:07:42,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,903 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-18', 1.26, 73)
2018-05-03 21:07:42,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,905 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-19', 0.0, 78)
2018-05-03 21:07:42,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,908 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-20', 0.0, 78)
2018-05-03 21:07:42,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,914 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-23', 0.0, 77)
2018-05-03 21:07:42,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,918 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-24', 0.0, 77)
2018-05-03 21:07:42,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,920 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-25', 0.0, 74)
2018-05-03 21:07:42,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,923 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-26', 0.06, 71)
2018-05-03 21:07:42,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,926 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-27', 1.03, 72)
2018-05-03 21:07:42,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,932 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-28', 0.05, 73)
2018-05-03 21:07:42,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,936 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-29', 0.05, 71)
2018-05-03 21:07:42,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,939 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-01-31', 0.0, 72)
2018-05-03 21:07:42,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,941 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-06', 0.0, 70)
2018-05-03 21:07:42,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,945 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-09', 0.0, 70)
2018-05-03 21:07:42,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,949 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-10', 0.0, 71)
2018-05-03 21:07:42,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,951 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-14', 0.0, 74)
2018-05-03 21:07:42,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,954 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-15', 0.0, 74)
2018-05-03 21:07:42,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,957 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-24', 0.0, 76)
2018-05-03 21:07:42,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,962 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-27', 0.0, 73)
2018-05-03 21:07:42,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,967 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-02-29', 0.0, 74)
2018-05-03 21:07:42,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,970 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-03-01', 0.0, 71)
2018-05-03 21:07:42,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,973 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-03-03', 0.22, 65)
2018-05-03 21:07:42,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,977 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-03-04', 2.7, 65)
2018-05-03 21:07:42,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,982 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-03-05', 0.92, 62)
2018-05-03 21:07:42,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,985 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-04-02', 0.0, 79)
2018-05-03 21:07:42,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,989 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-04-04', 0.0, 74)
2018-05-03 21:07:42,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,993 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-04-05', 0.3, 69)
2018-05-03 21:07:42,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:42,998 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-04-09', 0.0, 69)
2018-05-03 21:07:43,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,001 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-04-16', 0.0, 73)
2018-05-03 21:07:43,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,004 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-02', 0.0, 71)

2018-05-03 21:07:43,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,006 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-09', 0.0, 72)
2018-05-03 21:07:43,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,011 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-17', 0.0, 69)
2018-05-03 21:07:43,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,019 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-18', 0.3, 76)
2018-05-03 21:07:43,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,022 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-22', 0.0, 74)
2018-05-03 21:07:43,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,027 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-24', 0.0, 73)
2018-05-03 21:07:43,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,031 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-25', 0.2, 77)
2018-05-03 21:07:43,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,033 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-27', 0.0, 73)
2018-05-03 21:07:43,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,038 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-05-28', 0.15, 74)
2018-05-03 21:07:43,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,040 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-06-01', 0.03, 75)
2018-05-03 21:07:43,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,046 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-06-14', 0.0, 73)
2018-05-03 21:07:43,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,052 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-06-21', 0.0, 76)
2018-05-03 21:07:43,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,054 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-06-26', 0.0, 71)
2018-05-03 21:07:43,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,057 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-06-29', 0.0, 71)
2018-05-03 21:07:43,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,068 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-02', 0.0, 75)
2018-05-03 21:07:43,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,073 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-20', 0.05, 72)
2018-05-03 21:07:43,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,085 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-22', 0.4, 78)
2018-05-03 21:07:43,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,088 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-23', 0.03, 79)
2018-05-03 21:07:43,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,090 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-24', 0.22, 75)
2018-05-03 21:07:43,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,094 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-25', 0.2, 77)
2018-05-03 21:07:43,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,102 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-30', 0.0, 77)
2018-05-03 21:07:43,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,105 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-07-31', 0.02, 76)
2018-05-03 21:07:43,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,113 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-08-01', 0.0, 79)
2018-05-03 21:07:43,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,116 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-08-03', 0.0, 77)
2018-05-03 21:07:43,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,119 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-08-06', 0.26, 78)
2018-05-03 21:07:43,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,121 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-08-24', 0.0, 75)
2018-05-03 21:07:43,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,124 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-09-14', 0.0, 74)
2018-05-03 21:07:43,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,130 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-09-17', 0.0, 77)
2018-05-03 21:07:43,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,134 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-09-21', 0.0, 79)
2018-05-03 21:07:43,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,138 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-09-24', 0.0, 79)
2018-05-03 21:07:43,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,147 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-05', 0.0, 74)
2018-05-03 21:07:43,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,154 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-08', 0.0, 80)
2018-05-03 21:07:43,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,157 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-10', 0.0, 80)
2018-05-03 21:07:43,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,162 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-11', 0.08, 78)
2018-05-03 21:07:43,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,167 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-12', 0.01, 80)
2018-05-03 21:07:43,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,170 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-15', 0.0, 78)
2018-05-03 21:07:43,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,173 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-16', 0.11, 77)

2018-05-03 21:07:43,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,181 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-17', 0.0, 75)
2018-05-03 21:07:43,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,187 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-18', 0.02, 76)
2018-05-03 21:07:43,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,190 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-10-22', 0.0, 75)
2018-05-03 21:07:43,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,194 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-01', 0.0, 77)
2018-05-03 21:07:43,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,201 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-08', 0.0, 75)
2018-05-03 21:07:43,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,204 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-13', 0.0, 75)
2018-05-03 21:07:43,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,211 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-15', 0.0, 72)
2018-05-03 21:07:43,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,217 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-16', 0.45, 74)
2018-05-03 21:07:43,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,220 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-20', 0.0, 75)
2018-05-03 21:07:43,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,224 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-26', 0.0, 69)
2018-05-03 21:07:43,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,229 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-11-27', 0.0, 71)
2018-05-03 21:07:43,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,234 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-12-03', 0.0, 74)
2018-05-03 21:07:43,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,237 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2012-12-06', 0.0, 73)
2018-05-03 21:07:43,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,240 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-01-10', 0.0, 74)
2018-05-03 21:07:43,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,254 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-01-14', 0.0, 68)
2018-05-03 21:07:43,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,258 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-01-23', 0.0, 66)
2018-05-03 21:07:43,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,265 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-01-24', 0.3, 67)
2018-05-03 21:07:43,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,268 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-01-25', 0.9, 74)
2018-05-03 21:07:43,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,270 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-01', 0.0, 70)
2018-05-03 21:07:43,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,272 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-02', 0.0, 64)
2018-05-03 21:07:43,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,276 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-06', 0.0, 70)
2018-05-03 21:07:43,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,289 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-07', 0.0, 72)
2018-05-03 21:07:43,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,296 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-08', 0.05, 73)
2018-05-03 21:07:43,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,301 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-14', 0.0, 69)
2018-05-03 21:07:43,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,304 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-15', 0.0, 70)
2018-05-03 21:07:43,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,307 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-20', 0.0, 65)
2018-05-03 21:07:43,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,312 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-22', 0.0, 66)
2018-05-03 21:07:43,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,317 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-25', 0.0, 70)
2018-05-03 21:07:43,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,321 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-02-27', 0.0, 69)
2018-05-03 21:07:43,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,324 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-04-03', 0.05, 70)
2018-05-03 21:07:43,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,333 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-04-05', 0.0, 73)
2018-05-03 21:07:43,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,338 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-04-08', 0.0, 70)
2018-05-03 21:07:43,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,340 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-04-11', 0.0, 75)
2018-05-03 21:07:43,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,486 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-04-15', 0.0, 65)
2018-05-03 21:07:43,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,489 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-05', 0.01, 79)
2018-05-03 21:07:43,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,493 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-06', 0.02, 80)

2018-05-03 21:07:43,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,501 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-07', 0.0, 80)
2018-05-03 21:07:43,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,505 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-08', 0.0, 72)
2018-05-03 21:07:43,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,508 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-09', 0.0, 80)
2018-05-03 21:07:43,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,515 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-12', 0.0, 78)
2018-05-03 21:07:43,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,519 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-14', 0.0, 79)
2018-05-03 21:07:43,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,524 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-19', 0.0, 78)
2018-05-03 21:07:43,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,530 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-21', 0.0, 78)
2018-05-03 21:07:43,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,534 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-22', 0.01, 74)
2018-05-03 21:07:43,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,537 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-23', 0.01, 80)
2018-05-03 21:07:43,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,540 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-27', 0.0, 79)
2018-05-03 21:07:43,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,546 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-29', 0.0, 80)
2018-05-03 21:07:43,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,551 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-08-30', 0.0, 80)
2018-05-03 21:07:43,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,554 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-01', 0.0, 74)
2018-05-03 21:07:43,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,557 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-05', 0.0, 77)
2018-05-03 21:07:43,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,563 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-06', 0.01, 78)
2018-05-03 21:07:43,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,571 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-10', 0.0, 79)
2018-05-03 21:07:43,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,574 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-16', 0.0, 78)
2018-05-03 21:07:43,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,579 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-19', 0.0, 72)
2018-05-03 21:07:43,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,588 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-09-30', 0.0, 78)
2018-05-03 21:07:43,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,595 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-10-18', 0.0, 77)
2018-05-03 21:07:43,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,599 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-12-17', 0.0, 73)
2018-05-03 21:07:43,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,601 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-12-19', 0.0, 72)
2018-05-03 21:07:43,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,603 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-12-20', 0.16, 73)
2018-05-03 21:07:43,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,605 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2013-12-23', 0.0, 72)
2018-05-03 21:07:43,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,609 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-01-06', 0.0, 71)
2018-05-03 21:07:43,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,617 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-01-08', 0.0, 65)
2018-05-03 21:07:43,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,620 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-01-10', 0.0, 67)
2018-05-03 21:07:43,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,624 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-01-13', 0.0, 73)
2018-05-03 21:07:43,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,637 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-01-14', 0.41, 75)
2018-05-03 21:07:43,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,640 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-02-03', 0.0, 64)
2018-05-03 21:07:43,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,646 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-02-07', 0.0, 69)
2018-05-03 21:07:43,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,652 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-02-12', 0.0, 72)
2018-05-03 21:07:43,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,655 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-02-13', 0.0, 72)
2018-05-03 21:07:43,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,658 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-02-16', 0.1, 68)
2018-05-03 21:07:43,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,667 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2014-02-26', 0.0, 65)
2018-05-03 21:07:43,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,670 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-05-14', 0.0, 72)

2018-05-03 21:07:43,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,673 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-05-18', 0.0, 68)
2018-05-03 21:07:43,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,675 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-05-19', 0.0, 75)
2018-05-03 21:07:43,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,679 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-05-21', 0.0, 72)
2018-05-03 21:07:43,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,687 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-05-26', 0.0, 70)
2018-05-03 21:07:43,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,691 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-05-28', 0.0, 71)
2018-05-03 21:07:43,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,695 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-09-21', 0.0, 76)
2018-05-03 21:07:43,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,700 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-09-28', 0.0, 77)
2018-05-03 21:07:43,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,703 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-09-29', 0.0, 73)
2018-05-03 21:07:43,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,705 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-13', 0.0, 73)
2018-05-03 21:07:43,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,708 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-16', 0.0, 79)
2018-05-03 21:07:43,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,717 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-20', 0.0, 74)
2018-05-03 21:07:43,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,722 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-21', 0.0, 80)
2018-05-03 21:07:43,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,725 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-26', 0.0, 78)
2018-05-03 21:07:43,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,729 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-27', 0.0, 76)
2018-05-03 21:07:43,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,734 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-10-29', 0.0, 77)
2018-05-03 21:07:43,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,739 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-11-02', 0.0, 80)
2018-05-03 21:07:43,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,741 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-11-05', 0.0, 72)
2018-05-03 21:07:43,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,747 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-11-09', 0.0, 76)
2018-05-03 21:07:43,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,751 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-11-12', 0.0, 74)
2018-05-03 21:07:43,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,753 INFO sqlalchemy.engine.base.Engine ('USC00518838', '2015-11-20', 0.0, 70)
2018-05-03 21:07:43,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,756 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-01', 0.15, 75)
2018-05-03 21:07:43,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,757 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-02', 0.0, 75)
2018-05-03 21:07:43,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,761 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-03', 0.0, 77)
2018-05-03 21:07:43,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,768 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-04', 0.0, 75)
2018-05-03 21:07:43,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,771 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-05', 0.01, 75)
2018-05-03 21:07:43,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,773 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-06', 0.11, 72)
2018-05-03 21:07:43,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,775 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-07', 0.7, 68)
2018-05-03 21:07:43,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,781 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-08', 0.02, 63)
2018-05-03 21:07:43,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,783 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-09', 0.01, 69)
2018-05-03 21:07:43,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,785 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-10', 0.0, 72)
2018-05-03 21:07:43,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,787 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-11', 0.48, 68)
2018-05-03 21:07:43,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,790 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-12', 0.0, 61)
2018-05-03 21:07:43,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,792 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-13', 0.0, 60)
2018-05-03 21:07:43,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,796 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-14', 0.0, 65)
2018-05-03 21:07:43,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,799 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-15', 0.0, 68)
2018-05-03 21:07:43,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,802 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-16', 0.0, 68)

2018-05-03 21:07:43,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,804 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-17', 0.0, 70)
2018-05-03 21:07:43,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,806 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-18', 0.0, 77)
2018-05-03 21:07:43,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,809 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-19', 0.0, 74)
2018-05-03 21:07:43,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,814 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-20', 0.0, 67)
2018-05-03 21:07:43,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,817 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-21', 0.13, 70)
2018-05-03 21:07:43,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,819 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-22', 0.0, 66)
2018-05-03 21:07:43,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,821 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-23', 0.0, 75)
2018-05-03 21:07:43,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,824 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-24', 0.0, 72)
2018-05-03 21:07:43,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,826 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-25', 0.0, 65)
2018-05-03 21:07:43,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,829 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-26', 0.01, 76)
2018-05-03 21:07:43,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,833 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-27', 0.28, 69)
2018-05-03 21:07:43,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,835 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-28', 0.09, 71)
2018-05-03 21:07:43,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,838 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-29', 1.15, 65)
2018-05-03 21:07:43,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,840 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-30', 2.75, 69)
2018-05-03 21:07:43,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,843 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-01-31', 0.05, 72)
2018-05-03 21:07:43,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,848 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-01', 0.0, 68)
2018-05-03 21:07:43,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,851 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-02', 0.0, 66)
2018-05-03 21:07:43,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,853 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-03', 0.44, 65)
2018-05-03 21:07:43,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,855 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-04', 0.0, 68)
2018-05-03 21:07:43,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,857 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-05', 0.04, 65)
2018-05-03 21:07:43,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,861 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-06', 0.0, 76)
2018-05-03 21:07:43,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,867 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-07', 0.0, 63)
2018-05-03 21:07:43,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,869 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-08', 0.0, 71)
2018-05-03 21:07:43,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,872 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-09', 0.0, 70)
2018-05-03 21:07:43,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,875 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-10', 0.0, 66)
2018-05-03 21:07:43,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,987 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-11', 0.0, 71)
2018-05-03 21:07:43,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,989 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-12', 0.07, 70)
2018-05-03 21:07:43,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,991 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-13', 0.0, 71)
2018-05-03 21:07:43,992 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:43,994 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-14', 0.0, 73)
2018-05-03 21:07:43,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,000 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-15', 0.0, 73)
2018-05-03 21:07:44,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,005 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-16', 0.0, 59)
2018-05-03 21:07:44,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,007 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-17', 0.01, 68)
2018-05-03 21:07:44,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,012 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-18', 0.0, 67)
2018-05-03 21:07:44,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,017 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-19', 0.2, 63)
2018-05-03 21:07:44,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,019 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-20', 0.19, 74)
2018-05-03 21:07:44,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:44,021 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-21', 0.16, 66)
2018-05-03 21:07:44,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,023 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-22', 0.14, 63)
2018-05-03 21:07:44,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,026 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-23', 0.03, 63)
2018-05-03 21:07:44,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,030 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-24', 0.0, 62)
2018-05-03 21:07:44,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,034 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-25', 0.0, 69)
2018-05-03 21:07:44,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,036 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-26', 0.0, 73)
2018-05-03 21:07:44,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,038 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-27', 0.01, 73)
2018-05-03 21:07:44,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,040 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-02-28', 0.19, 69)
2018-05-03 21:07:44,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,043 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-01', 0.01, 69)
2018-05-03 21:07:44,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,047 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-02', 0.0, 71)
2018-05-03 21:07:44,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,054 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-03', 0.0, 71)
2018-05-03 21:07:44,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,056 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-04', 0.15, 69)
2018-05-03 21:07:44,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,059 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-05', 0.12, 70)
2018-05-03 21:07:44,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,064 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-06', 0.02, 72)
2018-05-03 21:07:44,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,067 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-07', 0.0, 72)
2018-05-03 21:07:44,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,069 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-08', 0.02, 70)
2018-05-03 21:07:44,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,071 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-09', 0.0, 69)
2018-05-03 21:07:44,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,074 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-10', 0.12, 72)
2018-05-03 21:07:44,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,078 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-11', 0.04, 72)
2018-05-03 21:07:44,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,082 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-12', 0.0, 69)
2018-05-03 21:07:44,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,085 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-13', 0.0, 76)
2018-05-03 21:07:44,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,086 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-14', 0.0, 75)
2018-05-03 21:07:44,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,088 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-15', 0.13, 71)
2018-05-03 21:07:44,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,090 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-16', 0.35, 71)
2018-05-03 21:07:44,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,094 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-17', 0.05, 69)
2018-05-03 21:07:44,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,099 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-18', 0.74, 67)
2018-05-03 21:07:44,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,104 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-19', 0.03, 68)
2018-05-03 21:07:44,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,106 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-20', 0.0, 71)
2018-05-03 21:07:44,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,111 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-21', 0.0, 70)
2018-05-03 21:07:44,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,115 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-22', 0.0, 73)
2018-05-03 21:07:44,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,118 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-23', 0.0, 67)
2018-05-03 21:07:44,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,120 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-24', 0.01, 77)
2018-05-03 21:07:44,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,122 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-25', 0.12, 73)
2018-05-03 21:07:44,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,125 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-26', 0.02, 74)
2018-05-03 21:07:44,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,128 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-27', 0.02, 77)
2018-05-03 21:07:44,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,131 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-28', 0.05, 76)
2018-05-03 21:07:44,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:44,134 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-29', 0.0, 73)
2018-05-03 21:07:44,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,136 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-30', 0.01, 73)
2018-05-03 21:07:44,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,138 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-03-31', 0.0, 73)
2018-05-03 21:07:44,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,140 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-01', 0.03, 72)
2018-05-03 21:07:44,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,142 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-02', 0.0, 72)
2018-05-03 21:07:44,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,153 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-03', 0.19, 72)
2018-05-03 21:07:44,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,156 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-04', 0.12, 72)
2018-05-03 21:07:44,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,158 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-05', 0.1, 72)
2018-05-03 21:07:44,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,160 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-06', 0.03, 73)
2018-05-03 21:07:44,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,165 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-07', 0.2, 73)
2018-05-03 21:07:44,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,168 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-08', 0.0, 73)
2018-05-03 21:07:44,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,170 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-09', 0.0, 73)
2018-05-03 21:07:44,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,173 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-10', 0.0, 76)
2018-05-03 21:07:44,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,175 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-11', 0.01, 75)
2018-05-03 21:07:44,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,178 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-12', 0.0, 71)
2018-05-03 21:07:44,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,182 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-13', 0.13, 71)
2018-05-03 21:07:44,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,185 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-14', 0.02, 69)
2018-05-03 21:07:44,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,187 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-15', 0.0, 70)
2018-05-03 21:07:44,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,189 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-16', 0.02, 64)
2018-05-03 21:07:44,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,192 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-17', 0.02, 69)
2018-05-03 21:07:44,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,195 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-18', 0.0, 70)
2018-05-03 21:07:44,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,200 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-19', 0.0, 72)
2018-05-03 21:07:44,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,203 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-20', 0.12, 72)
2018-05-03 21:07:44,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,205 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-21', 0.1, 72)
2018-05-03 21:07:44,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,207 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-22', 0.04, 73)
2018-05-03 21:07:44,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,211 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-23', 0.14, 72)
2018-05-03 21:07:44,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,217 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-24', 0.02, 74)
2018-05-03 21:07:44,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,221 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-25', 0.0, 76)
2018-05-03 21:07:44,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,224 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-26', 0.0, 73)
2018-05-03 21:07:44,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,226 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-27', 0.0, 74)
2018-05-03 21:07:44,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,233 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-28', 0.03, 74)
2018-05-03 21:07:44,234 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,235 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-29', 0.03, 73)
2018-05-03 21:07:44,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,237 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-04-30', 0.0, 74)
2018-05-03 21:07:44,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,240 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-01', 0.0, 76)
2018-05-03 21:07:44,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,242 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-02', 0.12, 71)
2018-05-03 21:07:44,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,246 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-03', 0.46, 72)
2018-05-03 21:07:44,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,250 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-04', 0.07, 77)
2018-05-03 21:07:44,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,252 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-05', 0.0, 75)
2018-05-03 21:07:44,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,254 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-06', 0.0, 74)
2018-05-03 21:07:44,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,258 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-07', 0.01, 71)
2018-05-03 21:07:44,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,263 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-08', 0.05, 76)
2018-05-03 21:07:44,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,267 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-09', 0.0, 76)
2018-05-03 21:07:44,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,269 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-10', 0.0, 78)
2018-05-03 21:07:44,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,271 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-11', 0.0, 78)
2018-05-03 21:07:44,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,274 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-12', 0.08, 78)
2018-05-03 21:07:44,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,280 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-14', 0.0, 75)
2018-05-03 21:07:44,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,284 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-15', 0.05, 71)
2018-05-03 21:07:44,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,286 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-16', 0.06, 73)
2018-05-03 21:07:44,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,288 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-17', 0.03, 74)
2018-05-03 21:07:44,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,290 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-18', 0.0, 75)
2018-05-03 21:07:44,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,292 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-19', 0.0, 78)
2018-05-03 21:07:44,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,298 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-20', 0.01, 75)
2018-05-03 21:07:44,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,304 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-21', 0.0, 74)
2018-05-03 21:07:44,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,308 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-22', 0.0, 75)
2018-05-03 21:07:44,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,470 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-23', 0.05, 75)
2018-05-03 21:07:44,472 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,473 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-24', 0.06, 75)
2018-05-03 21:07:44,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,475 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-25', 0.0, 76)
2018-05-03 21:07:44,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,477 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-26', 0.08, 78)
2018-05-03 21:07:44,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,483 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-27', 0.0, 80)
2018-05-03 21:07:44,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,488 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-29', 0.0, 78)
2018-05-03 21:07:44,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,490 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-30', 0.0, 76)
2018-05-03 21:07:44,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,492 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-05-31', 0.0, 81)
2018-05-03 21:07:44,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,497 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-01', 0.03, 76)
2018-05-03 21:07:44,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,500 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-02', 0.0, 76)
2018-05-03 21:07:44,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,502 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-03', 0.0, 76)
2018-05-03 21:07:44,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,504 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-04', 0.0, 73)
2018-05-03 21:07:44,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,506 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-05', 0.0, 78)
2018-05-03 21:07:44,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,508 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-06', 0.0, 77)
2018-05-03 21:07:44,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,512 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-07', 0.0, 77)
2018-05-03 21:07:44,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,516 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-08', 0.01, 77)
2018-05-03 21:07:44,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,518 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-09', 0.0, 78)
2018-05-03 21:07:44,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:44,520 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-10', 0.0, 78)
2018-05-03 21:07:44,522 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,523 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-11', 0.0, 76)
2018-05-03 21:07:44,524 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,525 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-12', 0.0, 76)
2018-05-03 21:07:44,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,528 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-13', 0.0, 79)
2018-05-03 21:07:44,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,532 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-14', 0.0, 74)
2018-05-03 21:07:44,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,535 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-15', 0.0, 75)
2018-05-03 21:07:44,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,538 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-16', 0.0, 76)
2018-05-03 21:07:44,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,540 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-17', 0.0, 75)
2018-05-03 21:07:44,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,542 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-18', 0.14, 73)
2018-05-03 21:07:44,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,545 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-19', 0.0, 76)
2018-05-03 21:07:44,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,551 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-20', 0.0, 78)
2018-05-03 21:07:44,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,554 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-21', 0.0, 76)
2018-05-03 21:07:44,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,556 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-22', 0.0, 79)
2018-05-03 21:07:44,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,558 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-23', 0.0, 77)
2018-05-03 21:07:44,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,561 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-24', 0.0, 76)
2018-05-03 21:07:44,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,566 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-25', 0.08, 74)
2018-05-03 21:07:44,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,568 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-26', 0.08, 75)
2018-05-03 21:07:44,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,570 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-28', 0.0, 76)
2018-05-03 21:07:44,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,572 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-29', 0.0, 76)
2018-05-03 21:07:44,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,574 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-06-30', 0.0, 76)
2018-05-03 21:07:44,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,576 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-01', 0.13, 74)
2018-05-03 21:07:44,578 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,579 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-02', 0.14, 74)
2018-05-03 21:07:44,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,583 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-03', 0.09, 76)
2018-05-03 21:07:44,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,585 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-04', 0.05, 79)
2018-05-03 21:07:44,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,588 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-05', 0.01, 79)
2018-05-03 21:07:44,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,591 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-06', 0.08, 73)
2018-05-03 21:07:44,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,594 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-07', 0.21, 73)
2018-05-03 21:07:44,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,598 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-08', 0.02, 76)
2018-05-03 21:07:44,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,601 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-09', 0.06, 72)
2018-05-03 21:07:44,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,603 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-10', 0.1, 76)
2018-05-03 21:07:44,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,605 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-11', 0.0, 81)
2018-05-03 21:07:44,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,608 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-12', 0.0, 75)
2018-05-03 21:07:44,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,611 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-13', 0.0, 76)
2018-05-03 21:07:44,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,615 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-14', 0.04, 74)
2018-05-03 21:07:44,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,619 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-15', 0.03, 76)
2018-05-03 21:07:44,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,620 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-16', 0.03, 80)
2018-05-03 21:07:44,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:44,623 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-17', 0.08, 74)
2018-05-03 21:07:44,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,624 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-18', 0.07, 77)
2018-05-03 21:07:44,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,627 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-19', 0.0, 76)
2018-05-03 21:07:44,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,633 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-20', 0.0, 77)
2018-05-03 21:07:44,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,637 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-21', 0.06, 74)
2018-05-03 21:07:44,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,640 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-22', 0.0, 76)
2018-05-03 21:07:44,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,645 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-23', 0.0, 73)
2018-05-03 21:07:44,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,650 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-24', 0.0, 77)
2018-05-03 21:07:44,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,652 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-25', 0.0, 77)
2018-05-03 21:07:44,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,654 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-26', 0.0, 76)
2018-05-03 21:07:44,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,656 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-27', 0.0, 81)
2018-05-03 21:07:44,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,658 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-28', 0.0, 76)
2018-05-03 21:07:44,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,663 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-29', 0.0, 77)
2018-05-03 21:07:44,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,668 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-30', 0.0, 73)
2018-05-03 21:07:44,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,670 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-07-31', 0.09, 76)
2018-05-03 21:07:44,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,672 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-01', 0.16, 77)
2018-05-03 21:07:44,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,675 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-02', 0.19, 74)
2018-05-03 21:07:44,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,683 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-03', 0.08, 74)
2018-05-03 21:07:44,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,688 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-04', 0.26, 76)
2018-05-03 21:07:44,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,690 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-05', 0.09, 73)
2018-05-03 21:07:44,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,692 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-06', 0.09, 76)
2018-05-03 21:07:44,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,695 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-07', 0.01, 78)
2018-05-03 21:07:44,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,703 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-08', 0.0, 76)
2018-05-03 21:07:44,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,705 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-09', 0.0, 77)
2018-05-03 21:07:44,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,707 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-10', 0.0, 77)
2018-05-03 21:07:44,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,717 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-11', 0.06, 74)
2018-05-03 21:07:44,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,722 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-12', 0.0, 75)
2018-05-03 21:07:44,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,724 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-13', 0.04, 79)
2018-05-03 21:07:44,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,728 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-14', 0.0, 78)
2018-05-03 21:07:44,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,732 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-15', 0.02, 76)
2018-05-03 21:07:44,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,735 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-16', 0.08, 72)
2018-05-03 21:07:44,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,738 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-17', 0.0, 74)
2018-05-03 21:07:44,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,740 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-18', 0.02, 77)
2018-05-03 21:07:44,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,743 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-19', 0.04, 77)
2018-05-03 21:07:44,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,749 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-20', 0.02, 77)
2018-05-03 21:07:44,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,755 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-21', 0.01, 79)
2018-05-03 21:07:44,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:44,758 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-22', 0.01, 78)
2018-05-03 21:07:44,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,761 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-23', 0.0, 77)
2018-05-03 21:07:44,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,765 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-24', 0.0, 76)
2018-05-03 21:07:44,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,768 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-25', 0.06, 76)
2018-05-03 21:07:44,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,770 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-26', 0.06, 77)
2018-05-03 21:07:44,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,773 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-27', 0.01, 77)
2018-05-03 21:07:44,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,775 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-28', 0.0, 82)
2018-05-03 21:07:44,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,781 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-29', 0.05, 77)
2018-05-03 21:07:44,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,784 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-30', 0.0, 76)
2018-05-03 21:07:44,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,786 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-08-31', 0.02, 76)
2018-05-03 21:07:44,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,788 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-01', 0.0, 76)
2018-05-03 21:07:44,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,922 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-02', 0.14, 73)
2018-05-03 21:07:44,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,925 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-03', 0.27, 76)
2018-05-03 21:07:44,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,928 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-04', 0.02, 80)
2018-05-03 21:07:44,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,932 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-05', 0.01, 78)
2018-05-03 21:07:44,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,935 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-06', 0.02, 78)
2018-05-03 21:07:44,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,938 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-07', 0.23, 75)
2018-05-03 21:07:44,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,940 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-08', 0.07, 77)
2018-05-03 21:07:44,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,942 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-09', 0.02, 77)
2018-05-03 21:07:44,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,946 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-10', 0.17, 75)
2018-05-03 21:07:44,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,952 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-11', 0.18, 81)
2018-05-03 21:07:44,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,969 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-12', 0.01, 78)
2018-05-03 21:07:44,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,971 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-13', 0.0, 77)
2018-05-03 21:07:44,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,974 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-14', 0.0, 76)
2018-05-03 21:07:44,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,976 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-15', 0.0, 76)
2018-05-03 21:07:44,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:44,980 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-16', 0.0, 77)2018-05-03 21:07:45,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,033 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-28', 0.0, 73)
2018-05-03 21:07:45,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,040 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-29', 0.0, 71)
2018-05-03 21:07:45,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,043 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-09-30', 0.24, 72)
2018-05-03 21:07:45,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,048 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-01', 0.43, 76)
2018-05-03 21:07:45,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,052 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-02', 0.05, 80)
2018-05-03 21:07:45,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,055 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-03', 0.01, 78)
2018-05-03 21:07:45,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,058 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-04', 0.0, 77)
2018-05-03 21:07:45,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,063 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-05', 0.0, 77)
2018-05-03 21:07:45,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,069 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-06', 0.0, 77)
2018-05-03 21:07:45,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,072 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-07', 0.0, 77)
2018-05-03 21:07:45,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:45,074 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-08', 0.0, 81)
2018-05-03 21:07:45,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,077 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-09', 0.0, 77)
2018-05-03 21:07:45,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,082 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-10', 0.01, 80)
2018-05-03 21:07:45,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,088 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-11', 0.01, 76)
2018-05-03 21:07:45,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,091 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-12', 0.13, 72)
2018-05-03 21:07:45,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,099 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-13', 0.0, 76)
2018-05-03 21:07:45,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,102 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-14', 0.0, 76)
2018-05-03 21:07:45,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,105 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-15', 0.0, 76)
2018-05-03 21:07:45,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,107 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-16', 0.0, 77)
2018-05-03 21:07:45,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,110 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-17', 0.06, 76)
2018-05-03 21:07:45,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,114 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-18', 0.0, 72)
2018-05-03 21:07:45,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,118 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-19', 0.0, 73)
2018-05-03 21:07:45,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,121 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-20', 0.0, 74)
2018-05-03 21:07:45,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,124 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-21', 0.0, 77)
2018-05-03 21:07:45,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,129 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-22', 0.0, 76)
2018-05-03 21:07:45,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,134 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-23', 0.0, 77)
2018-05-03 21:07:45,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,137 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-24', 0.0, 80)
2018-05-03 21:07:45,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,139 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-25', 0.0, 76)
2018-05-03 21:07:45,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,143 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-26', 0.11, 75)
2018-05-03 21:07:45,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,149 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-27', 0.09, 76)
2018-05-03 21:07:45,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,153 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-28', 0.02, 77)
2018-05-03 21:07:45,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,158 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-29', 0.03, 75)
2018-05-03 21:07:45,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,167 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-30', 0.26, 81)
2018-05-03 21:07:45,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,173 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-10-31', 0.0, 77)
2018-05-03 21:07:45,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,176 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-01', 0.24, 74)
2018-05-03 21:07:45,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,182 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-02', 0.0, 75)
2018-05-03 21:07:45,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,188 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-03', 0.42, 70)
2018-05-03 21:07:45,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,191 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-04', 1.34, 72)
2018-05-03 21:07:45,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,195 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-05', 0.03, 74)
2018-05-03 21:07:45,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,199 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-06', 0.16, 74)
2018-05-03 21:07:45,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,202 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-07', 0.01, 76)
2018-05-03 21:07:45,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,205 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-08', 0.0, 76)
2018-05-03 21:07:45,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,208 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-09', 0.0, 73)
2018-05-03 21:07:45,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,211 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-10', 0.0, 75)
2018-05-03 21:07:45,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,221 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-11', 0.0, 75)
2018-05-03 21:07:45,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,224 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-12', 0.0, 76)
2018-05-03 21:07:45,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,228 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-13', 0.0, 76)
2018-05-03 21:07:45,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,233 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-14', 0.0, 76)
2018-05-03 21:07:45,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,236 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-15', 0.03, 75)
2018-05-03 21:07:45,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,239 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-16', 0.0, 75)
2018-05-03 21:07:45,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,242 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-17', 0.0, 66)
2018-05-03 21:07:45,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,259 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-18', 0.0, 74)
2018-05-03 21:07:45,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,264 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-19', 0.13, 68)
2018-05-03 21:07:45,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,270 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-20', 0.0, 79)
2018-05-03 21:07:45,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,273 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-21', 0.05, 77)
2018-05-03 21:07:45,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,276 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-22', 0.0, 67)
2018-05-03 21:07:45,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,284 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-23', 0.0, 69)
2018-05-03 21:07:45,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,291 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-24', 0.0, 76)
2018-05-03 21:07:45,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,296 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-25', 0.02, 76)
2018-05-03 21:07:45,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,302 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-26', 0.0, 77)
2018-05-03 21:07:45,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,305 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-27', 0.01, 76)
2018-05-03 21:07:45,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,308 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-28', 0.64, 76)
2018-05-03 21:07:45,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,316 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-29', 0.03, 73)
2018-05-03 21:07:45,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,319 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-11-30', 0.0, 76)
2018-05-03 21:07:45,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,322 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-01', 0.03, 78)
2018-05-03 21:07:45,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,327 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-02', 0.02, 74)
2018-05-03 21:07:45,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,335 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-03', 0.01, 74)
2018-05-03 21:07:45,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,338 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-04', 0.0, 78)
2018-05-03 21:07:45,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,341 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-05', 0.0, 78)
2018-05-03 21:07:45,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,346 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-06', 0.0, 61)
2018-05-03 21:07:45,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,352 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-07', 0.0, 69)
2018-05-03 21:07:45,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,355 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-08', 0.15, 65)
2018-05-03 21:07:45,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,365 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-09', 0.03, 77)
2018-05-03 21:07:45,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,370 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-10', 2.02, 67)
2018-05-03 21:07:45,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,556 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-11', 0.3, 69)
2018-05-03 21:07:45,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,559 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-12', 0.09, 75)
2018-05-03 21:07:45,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,566 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-13', 0.02, 67)
2018-05-03 21:07:45,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,570 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-14', 0.04, 71)
2018-05-03 21:07:45,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,573 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-15', 0.0, 74)
2018-05-03 21:07:45,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,575 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-16', 0.0, 66)
2018-05-03 21:07:45,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,579 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-17', 0.0, 66)
2018-05-03 21:07:45,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:45,586 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-18', 0.0, 77)
2018-05-03 21:07:45,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,589 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-19', 2.86, 70)
2018-05-03 21:07:45,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,592 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-20', 4.95, 73)
2018-05-03 21:07:45,593 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,595 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-21', 0.63, 71)
2018-05-03 21:07:45,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,601 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-22', 0.58, 71)
2018-05-03 21:07:45,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,605 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-23', 0.11, 71)
2018-05-03 21:07:45,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,608 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-24', 0.02, 67)
2018-05-03 21:07:45,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,611 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-25', 0.02, 71)
2018-05-03 21:07:45,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,619 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-26', 0.74, 74)
2018-05-03 21:07:45,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,621 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-27', 0.09, 76)
2018-05-03 21:07:45,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,624 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-28', 0.07, 72)
2018-05-03 21:07:45,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,628 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-29', 0.04, 74)
2018-05-03 21:07:45,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,634 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-30', 0.27, 75)
2018-05-03 21:07:45,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,636 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2010-12-31', 0.01, 69)
2018-05-03 21:07:45,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,638 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-01', 0.03, 69)
2018-05-03 21:07:45,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,641 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-02', 0.0, 74)
2018-05-03 21:07:45,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,645 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-03', 0.0, 74)
2018-05-03 21:07:45,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,651 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-04', 0.0, 73)
2018-05-03 21:07:45,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,654 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-05', 0.0, 62)
2018-05-03 21:07:45,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,657 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-06', 0.15, 68)
2018-05-03 21:07:45,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,660 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-07', 0.02, 66)
2018-05-03 21:07:45,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,672 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-08', 0.0, 73)
2018-05-03 21:07:45,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,677 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-09', 0.0, 73)
2018-05-03 21:07:45,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,681 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-10', 0.0, 73)
2018-05-03 21:07:45,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,686 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-11', 0.43, 58)
2018-05-03 21:07:45,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,689 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-12', 1.34, 71)
2018-05-03 21:07:45,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,693 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-13', 3.62, 70)
2018-05-03 21:07:45,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,697 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-14', 0.1, 76)
2018-05-03 21:07:45,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,701 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-15', 0.0, 66)
2018-05-03 21:07:45,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,703 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-16', 0.0, 70)
2018-05-03 21:07:45,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,705 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-17', 0.19, 70)
2018-05-03 21:07:45,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,708 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-18', 0.0, 63)
2018-05-03 21:07:45,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,710 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-19', 0.07, 63)
2018-05-03 21:07:45,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,714 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-20', 0.0, 70)
2018-05-03 21:07:45,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,719 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-21', 0.0, 74)
2018-05-03 21:07:45,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,722 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-22', 0.0, 75)
2018-05-03 21:07:45,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:45,725 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-23', 0.0, 76)
2018-05-03 21:07:45,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,727 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-24', 0.0, 72)
2018-05-03 21:07:45,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,731 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-25', 0.0, 62)
2018-05-03 21:07:45,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,735 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-26', 0.0, 65)
2018-05-03 21:07:45,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,738 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-27', 0.0, 71)
2018-05-03 21:07:45,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,740 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-28', 0.0, 72)
2018-05-03 21:07:45,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,742 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-29', 0.01, 76)
2018-05-03 21:07:45,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,747 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-30', 0.0, 67)
2018-05-03 21:07:45,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,751 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-01-31', 0.15, 66)
2018-05-03 21:07:45,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,754 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-01', 0.0, 70)
2018-05-03 21:07:45,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,757 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-02', 0.0, 70)
2018-05-03 21:07:45,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,759 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-03', 0.0, 66)
2018-05-03 21:07:45,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,762 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-04', 0.0, 61)
2018-05-03 21:07:45,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,766 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-05', 0.0, 73)
2018-05-03 21:07:45,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,769 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-06', 0.0, 75)
2018-05-03 21:07:45,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,772 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-07', 0.95, 67)
2018-05-03 21:07:45,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,774 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-08', 0.18, 71)
2018-05-03 21:07:45,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,777 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-09', 0.0, 74)
2018-05-03 21:07:45,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,783 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-10', 0.04, 69)
2018-05-03 21:07:45,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,788 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-11', 0.29, 68)
2018-05-03 21:07:45,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,790 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-12', 1.82, 72)
2018-05-03 21:07:45,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,793 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-13', 0.71, 76)
2018-05-03 21:07:45,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,796 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-15', 0.0, 73)
2018-05-03 21:07:45,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,800 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-16', 0.0, 73)
2018-05-03 21:07:45,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,803 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-17', 0.0, 72)
2018-05-03 21:07:45,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,806 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-18', 0.01, 76)
2018-05-03 21:07:45,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,810 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-19', 0.0, 76)
2018-05-03 21:07:45,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,817 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-20', 0.3, 73)
2018-05-03 21:07:45,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,819 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-21', 0.02, 76)
2018-05-03 21:07:45,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,822 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-22', 0.01, 73)
2018-05-03 21:07:45,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,825 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-23', 0.01, 73)
2018-05-03 21:07:45,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,827 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-24', 1.44, 68)
2018-05-03 21:07:45,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,831 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-25', 0.0, 66)
2018-05-03 21:07:45,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,835 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-26', 0.05, 77)
2018-05-03 21:07:45,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,837 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-27', 0.0, 75)
2018-05-03 21:07:45,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,839 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-02-28', 0.02, 70)
2018-05-03 21:07:45,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:45,841 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-01', 0.18, 67)
2018-05-03 21:07:45,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,844 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-02', 0.01, 72)
2018-05-03 21:07:45,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,850 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-03', 0.06, 71)
2018-05-03 21:07:45,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,856 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-04', 1.7, 72)
2018-05-03 21:07:45,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,859 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-05', 0.22, 69)
2018-05-03 21:07:45,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,863 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-06', 0.27, 74)
2018-05-03 21:07:45,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,868 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-07', 0.03, 73)
2018-05-03 21:07:45,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,870 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-08', 0.01, 73)
2018-05-03 21:07:45,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,872 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-09', 0.9, 70)
2018-05-03 21:07:45,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,874 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-10', 0.27, 72)
2018-05-03 21:07:45,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,876 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-11', 0.2, 71)
2018-05-03 21:07:45,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,880 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-12', 0.01, 75)
2018-05-03 21:07:45,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,884 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-13', 0.0, 77)
2018-05-03 21:07:45,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,887 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-14', 0.0, 70)
2018-05-03 21:07:45,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,889 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-15', 0.0, 73)
2018-05-03 21:07:45,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,891 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-16', 0.0, 74)
2018-05-03 21:07:45,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,894 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-17', 0.07, 73)
2018-05-03 21:07:45,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,905 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-18', 0.05, 72)
2018-05-03 21:07:45,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,908 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-19', 0.08, 73)
2018-05-03 21:07:45,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,911 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-20', 0.23, 74)
2018-05-03 21:07:45,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:45,919 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-21', 0.0, 74)
2018-05-03 21:07:45,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,041 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-22', 0.17, 73)
2018-05-03 21:07:46,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,043 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-23', 0.0, 74)
2018-05-03 21:07:46,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,048 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-24', 0.19, 76)
2018-05-03 21:07:46,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,052 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-25', 0.02, 76)
2018-05-03 21:07:46,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,057 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-26', 0.0, 74)
2018-05-03 21:07:46,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,060 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-27', 0.0, 74)
2018-05-03 21:07:46,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,064 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-29', 0.0, 73)
2018-05-03 21:07:46,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,070 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-30', 0.0, 73)
2018-05-03 21:07:46,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,074 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-03-31', 0.0, 73)
2018-05-03 21:07:46,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,077 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-01', 0.07, 73)
2018-05-03 21:07:46,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,085 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-02', 0.0, 79)
2018-05-03 21:07:46,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,088 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-03', 0.0, 78)
2018-05-03 21:07:46,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,090 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-04', 0.0, 73)
2018-05-03 21:07:46,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,093 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-05', 0.0, 73)
2018-05-03 21:07:46,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,095 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-06', 0.11, 72)
2018-05-03 21:07:46,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:46,100 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-07', 0.5, 67)
2018-05-03 21:07:46,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,103 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-08', 0.68, 69)
2018-05-03 21:07:46,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,105 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-09', 0.02, 76)
2018-05-03 21:07:46,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,107 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-10', 0.01, 75)
2018-05-03 21:07:46,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,110 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-11', 0.0, 74)
2018-05-03 21:07:46,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,113 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-12', 0.0, 74)
2018-05-03 21:07:46,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,117 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-13', 0.0, 69)
2018-05-03 21:07:46,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,120 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-14', 0.2, 75)
2018-05-03 21:07:46,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,122 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-15', 0.0, 73)
2018-05-03 21:07:46,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,124 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-16', 0.22, 75)
2018-05-03 21:07:46,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,126 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-17', 0.0, 73)
2018-05-03 21:07:46,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,128 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-18', 0.0, 73)
2018-05-03 21:07:46,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,133 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-19', 0.0, 74)
2018-05-03 21:07:46,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,136 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-20', 0.0, 71)
2018-05-03 21:07:46,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,139 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-21', 0.0, 74)
2018-05-03 21:07:46,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,141 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-22', 0.0, 76)
2018-05-03 21:07:46,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,143 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-23', 0.0, 79)
2018-05-03 21:07:46,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,148 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-24', 0.0, 79)
2018-05-03 21:07:46,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,152 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-25', 0.0, 75)
2018-05-03 21:07:46,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,154 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-26', 0.0, 77)
2018-05-03 21:07:46,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,156 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-27', 0.0, 78)
2018-05-03 21:07:46,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,158 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-28', 0.0, 79)
2018-05-03 21:07:46,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,160 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-29', 0.07, 75)
2018-05-03 21:07:46,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,167 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-04-30', 0.0, 75)
2018-05-03 21:07:46,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,170 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-01', 0.0, 75)
2018-05-03 21:07:46,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,172 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-02', 0.0, 79)
2018-05-03 21:07:46,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,175 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-03', 1.03, 73)
2018-05-03 21:07:46,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,177 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-04', 0.06, 75)
2018-05-03 21:07:46,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,187 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-05', 0.0, 74)
2018-05-03 21:07:46,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,190 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-06', 0.19, 72)
2018-05-03 21:07:46,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,192 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-07', 0.2, 74)
2018-05-03 21:07:46,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,194 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-08', 0.51, 75)
2018-05-03 21:07:46,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,197 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-09', 0.1, 75)
2018-05-03 21:07:46,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,202 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-10', 0.05, 73)
2018-05-03 21:07:46,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,205 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-11', 0.15, 71)
2018-05-03 21:07:46,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,207 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-12', 0.01, 77)
2018-05-03 21:07:46,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:46,210 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-13', 0.01, 75)
2018-05-03 21:07:46,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,223 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-14', 0.0, 78)
2018-05-03 21:07:46,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,226 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-15', 0.0, 75)
2018-05-03 21:07:46,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,230 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-16', 0.0, 76)
2018-05-03 21:07:46,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,235 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-17', 0.0, 76)
2018-05-03 21:07:46,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,237 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-18', 0.0, 73)
2018-05-03 21:07:46,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,240 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-19', 0.01, 78)
2018-05-03 21:07:46,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,242 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-20', 0.0, 76)
2018-05-03 21:07:46,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,251 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-21', 0.0, 79)
2018-05-03 21:07:46,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,256 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-22', 0.02, 76)
2018-05-03 21:07:46,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,259 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-23', 0.0, 76)
2018-05-03 21:07:46,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,264 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-24', 0.0, 76)
2018-05-03 21:07:46,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,268 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-25', 0.0, 75)
2018-05-03 21:07:46,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,271 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-26', 0.0, 75)
2018-05-03 21:07:46,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,274 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-27', 0.1, 76)
2018-05-03 21:07:46,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,277 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-28', 0.01, 75)
2018-05-03 21:07:46,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,285 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-29', 0.03, 75)
2018-05-03 21:07:46,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,292 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-30', 0.01, 76)
2018-05-03 21:07:46,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,297 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-05-31', 0.08, 76)
2018-05-03 21:07:46,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,302 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-01', 0.15, 79)
2018-05-03 21:07:46,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,305 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-02', 0.01, 76)
2018-05-03 21:07:46,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,307 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-03', 0.09, 72)
2018-05-03 21:07:46,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,309 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-04', 0.51, 71)
2018-05-03 21:07:46,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,315 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-05', 0.25, 72)
2018-05-03 21:07:46,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,321 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-06', 0.03, 76)
2018-05-03 21:07:46,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,324 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-07', 0.03, 74)
2018-05-03 21:07:46,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,327 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-08', 0.0, 75)
2018-05-03 21:07:46,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,332 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-09', 0.0, 76)
2018-05-03 21:07:46,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,336 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-10', 0.0, 77)
2018-05-03 21:07:46,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,339 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-11', 0.0, 76)
2018-05-03 21:07:46,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,342 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-12', 0.09, 75)
2018-05-03 21:07:46,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,347 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-13', 0.0, 76)
2018-05-03 21:07:46,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,352 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-14', 0.0, 76)
2018-05-03 21:07:46,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,355 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-15', 0.0, 76)
2018-05-03 21:07:46,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,357 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-16', 0.09, 75)
2018-05-03 21:07:46,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,359 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-17', 0.0, 76)
2018-05-03 21:07:46,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,364 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-18', 0.0, 76)
2018-05-03 21:07:46,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,368 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-19', 0.17, 79)
2018-05-03 21:07:46,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,371 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-20', 0.14, 74)
2018-05-03 21:07:46,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,374 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-21', 0.38, 73)
2018-05-03 21:07:46,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,376 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-22', 0.17, 75)
2018-05-03 21:07:46,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,378 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-23', 0.05, 74)
2018-05-03 21:07:46,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,383 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-24', 0.03, 75)
2018-05-03 21:07:46,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,389 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-25', 0.0, 76)
2018-05-03 21:07:46,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,393 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-26', 0.12, 72)
2018-05-03 21:07:46,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,397 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-27', 0.02, 74)
2018-05-03 21:07:46,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,402 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-28', 0.02, 74)
2018-05-03 21:07:46,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,405 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-29', 0.0, 75)
2018-05-03 21:07:46,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,408 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-06-30', 0.0, 75)
2018-05-03 21:07:46,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,563 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-01', 0.01, 81)
2018-05-03 21:07:46,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,567 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-02', 0.01, 76)
2018-05-03 21:07:46,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,570 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-03', 0.12, 76)
2018-05-03 21:07:46,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,572 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-04', 0.06, 76)
2018-05-03 21:07:46,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,575 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-05', 0.04, 75)
2018-05-03 21:07:46,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,579 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-06', 0.08, 79)
2018-05-03 21:07:46,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,584 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-07', 0.06, 73)
2018-05-03 21:07:46,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,587 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-08', 0.04, 75)
2018-05-03 21:07:46,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,590 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-09', 0.01, 79)
2018-05-03 21:07:46,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,593 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-10', 0.01, 77)
2018-05-03 21:07:46,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,595 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-11', 0.01, 76)
2018-05-03 21:07:46,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,600 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-12', 0.0, 76)
2018-05-03 21:07:46,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,606 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-13', 0.0, 74)
2018-05-03 21:07:46,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,608 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-14', 0.0, 76)
2018-05-03 21:07:46,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,611 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-15', 0.0, 76)
2018-05-03 21:07:46,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,614 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-16', 0.0, 77)
2018-05-03 21:07:46,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,618 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-17', 0.06, 78)
2018-05-03 21:07:46,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,622 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-18', 0.0, 75)
2018-05-03 21:07:46,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,624 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-19', 0.0, 75)
2018-05-03 21:07:46,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,626 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-20', 0.16, 71)
2018-05-03 21:07:46,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,629 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-21', 0.0, 77)
2018-05-03 21:07:46,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,634 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-22', 0.09, 75)
2018-05-03 21:07:46,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:46,637 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-23', 0.08, 77)
2018-05-03 21:07:46,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,639 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-24', 0.0, 74)
2018-05-03 21:07:46,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,642 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-25', 0.12, 76)
2018-05-03 21:07:46,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,644 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-26', 0.0, 76)
2018-05-03 21:07:46,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,647 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-27', 0.06, 75)
2018-05-03 21:07:46,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,652 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-28', 0.04, 76)
2018-05-03 21:07:46,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,656 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-29', 0.02, 77)
2018-05-03 21:07:46,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,658 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-30', 0.2, 76)
2018-05-03 21:07:46,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,661 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-07-31', 0.01, 78)
2018-05-03 21:07:46,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,664 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-01', 0.0, 76)
2018-05-03 21:07:46,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,670 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-02', 0.0, 76)
2018-05-03 21:07:46,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,672 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-03', 0.0, 77)
2018-05-03 21:07:46,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,674 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-04', 0.0, 77)
2018-05-03 21:07:46,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,677 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-05', 0.0, 77)
2018-05-03 21:07:46,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,680 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-06', 0.0, 76)
2018-05-03 21:07:46,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,684 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-07', 0.12, 77)
2018-05-03 21:07:46,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,687 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-08', 0.0, 76)
2018-05-03 21:07:46,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,689 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-09', 0.19, 78)
2018-05-03 21:07:46,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,691 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-10', 0.0, 76)
2018-05-03 21:07:46,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,693 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-11', 0.0, 76)
2018-05-03 21:07:46,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,696 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-12', 0.0, 76)
2018-05-03 21:07:46,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,700 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-13', 0.0, 77)
2018-05-03 21:07:46,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,703 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-14', 0.0, 80)
2018-05-03 21:07:46,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,706 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-15', 0.5, 76)
2018-05-03 21:07:46,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,709 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-16', 0.01, 76)
2018-05-03 21:07:46,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,711 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-17', 0.0, 76)
2018-05-03 21:07:46,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,714 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-18', 0.05, 75)
2018-05-03 21:07:46,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,719 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-19', 0.02, 83)
2018-05-03 21:07:46,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,722 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-20', 0.0, 82)
2018-05-03 21:07:46,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,724 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-21', 0.02, 78)
2018-05-03 21:07:46,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,726 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-22', 0.0, 76)
2018-05-03 21:07:46,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,728 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-23', 0.22, 75)
2018-05-03 21:07:46,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,732 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-24', 0.0, 77)
2018-05-03 21:07:46,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,738 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-25', 0.08, 75)
2018-05-03 21:07:46,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,741 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-26', 0.0, 77)
2018-05-03 21:07:46,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,744 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-27', 0.0, 81)
2018-05-03 21:07:46,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:46,747 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-28', 0.0, 79)
2018-05-03 21:07:46,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,751 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-29', 0.15, 76)
2018-05-03 21:07:46,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,754 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-30', 0.13, 76)
2018-05-03 21:07:46,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,756 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-08-31', 0.01, 76)
2018-05-03 21:07:46,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,758 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-01', 0.09, 77)
2018-05-03 21:07:46,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,761 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-02', 0.03, 77)
2018-05-03 21:07:46,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,764 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-03', 0.0, 78)
2018-05-03 21:07:46,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,768 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-04', 0.0, 81)
2018-05-03 21:07:46,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,771 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-05', 0.0, 78)
2018-05-03 21:07:46,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,773 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-07', 0.0, 70)
2018-05-03 21:07:46,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,776 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-08', 0.0, 72)
2018-05-03 21:07:46,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,779 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-09', 0.0, 78)
2018-05-03 21:07:46,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,784 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-10', 0.0, 79)
2018-05-03 21:07:46,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,787 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-11', 0.0, 75)
2018-05-03 21:07:46,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,790 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-12', 0.0, 77)
2018-05-03 21:07:46,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,792 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-13', 0.09, 73)
2018-05-03 21:07:46,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,795 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-14', 0.0, 75)
2018-05-03 21:07:46,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,799 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-15', 0.0, 78)
2018-05-03 21:07:46,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,803 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-16', 0.17, 80)
2018-05-03 21:07:46,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,805 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-17', 0.0, 76)
2018-05-03 21:07:46,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,807 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-18', 0.2, 77)
2018-05-03 21:07:46,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,809 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-19', 0.03, 77)
2018-05-03 21:07:46,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,811 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-20', 0.0, 77)
2018-05-03 21:07:46,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,816 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-21', 0.04, 76)
2018-05-03 21:07:46,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,820 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-22', 0.03, 77)
2018-05-03 21:07:46,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,822 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-23', 0.0, 75)
2018-05-03 21:07:46,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,825 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-24', 0.0, 78)
2018-05-03 21:07:46,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,844 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-25', 0.0, 81)
2018-05-03 21:07:46,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,849 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-26', 0.0, 69)
2018-05-03 21:07:46,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,853 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-27', 0.0, 76)
2018-05-03 21:07:46,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,855 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-28', 0.04, 75)
2018-05-03 21:07:46,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,858 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-29', 0.0, 77)
2018-05-03 21:07:46,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,861 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-09-30', 0.0, 82)
2018-05-03 21:07:46,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,865 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-01', 0.0, 77)
2018-05-03 21:07:46,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,869 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-02', 0.0, 80)
2018-05-03 21:07:46,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,871 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-03', 0.0, 84)
2018-05-03 21:07:46,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,874 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-04', 0.13, 75)
2018-05-03 21:07:46,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,876 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-05', 0.0, 76)
2018-05-03 21:07:46,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,880 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-06', 0.0, 75)
2018-05-03 21:07:46,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,887 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-07', 0.02, 72)
2018-05-03 21:07:46,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,890 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-08', 0.0, 82)
2018-05-03 21:07:46,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:46,893 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-09', 0.14, 77)
2018-05-03 21:07:47,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,005 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-10', 0.0, 75)
2018-05-03 21:07:47,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,007 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-11', 0.14, 76)
2018-05-03 21:07:47,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,010 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-12', 0.0, 80)
2018-05-03 21:07:47,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,013 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-13', 0.0, 80)
2018-05-03 21:07:47,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,018 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-14', 0.07, 79)
2018-05-03 21:07:47,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,021 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-15', 0.26, 79)
2018-05-03 21:07:47,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,024 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-16', 0.0, 79)
2018-05-03 21:07:47,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,026 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-17', 0.2, 70)
2018-05-03 21:07:47,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,030 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-18', 0.12, 72)
2018-05-03 21:07:47,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,034 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-19', 0.01, 68)
2018-05-03 21:07:47,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,038 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-20', 0.0, 78)
2018-05-03 21:07:47,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,040 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-21', 0.01, 77)
2018-05-03 21:07:47,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,042 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-22', 0.0, 76)
2018-05-03 21:07:47,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,044 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-23', 0.0, 77)
2018-05-03 21:07:47,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,047 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-24', 0.29, 73)
2018-05-03 21:07:47,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,052 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-25', 0.0, 77)
2018-05-03 21:07:47,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,057 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-26', 0.0, 79)
2018-05-03 21:07:47,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,059 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-27', 0.0, 73)
2018-05-03 21:07:47,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,062 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-28', 0.1, 76)
2018-05-03 21:07:47,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,067 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-29', 0.05, 80)
2018-05-03 21:07:47,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,073 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-30', 0.03, 72)
2018-05-03 21:07:47,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,076 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-10-31', 0.0, 75)
2018-05-03 21:07:47,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,079 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-01', 0.54, 74)
2018-05-03 21:07:47,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,084 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-02', 0.03, 73)
2018-05-03 21:07:47,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,087 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-03', 0.02, 78)
2018-05-03 21:07:47,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,091 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-04', 0.05, 73)
2018-05-03 21:07:47,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,094 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-05', 0.0, 78)
2018-05-03 21:07:47,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,097 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-06', 0.0, 81)
2018-05-03 21:07:47,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,102 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-07', 0.0, 75)
2018-05-03 21:07:47,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:47,105 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-08', 0.01, 74)
2018-05-03 21:07:47,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,107 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-09', 0.05, 74)
2018-05-03 21:07:47,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,109 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-10', 0.0, 75)
2018-05-03 21:07:47,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,111 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-11', 0.12, 75)
2018-05-03 21:07:47,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,114 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-12', 0.0, 77)
2018-05-03 21:07:47,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,118 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-13', 0.0, 79)
2018-05-03 21:07:47,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,120 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-14', 0.0, 78)
2018-05-03 21:07:47,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,122 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-15', 0.0, 77)
2018-05-03 21:07:47,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,124 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-16', 0.0, 78)
2018-05-03 21:07:47,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,126 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-17', 0.05, 75)
2018-05-03 21:07:47,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,131 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-18', 0.0, 76)
2018-05-03 21:07:47,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,135 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-19', 0.01, 74)
2018-05-03 21:07:47,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,137 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-20', 0.02, 75)
2018-05-03 21:07:47,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,139 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-21', 0.0, 76)
2018-05-03 21:07:47,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,142 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-22', 0.1, 72)
2018-05-03 21:07:47,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,144 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-23', 0.01, 72)
2018-05-03 21:07:47,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,150 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-24', 0.0, 72)
2018-05-03 21:07:47,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,154 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-25', 0.0, 73)
2018-05-03 21:07:47,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,156 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-26', 0.0, 77)
2018-05-03 21:07:47,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,159 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-27', 0.0, 75)
2018-05-03 21:07:47,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,174 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-28', 0.0, 71)
2018-05-03 21:07:47,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,177 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-29', 0.0, 69)
2018-05-03 21:07:47,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,180 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-11-30', 0.22, 66)
2018-05-03 21:07:47,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,185 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-01', 0.12, 69)
2018-05-03 21:07:47,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,189 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-02', 0.42, 69)
2018-05-03 21:07:47,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,191 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-03', 0.02, 75)
2018-05-03 21:07:47,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,193 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-04', 0.0, 73)
2018-05-03 21:07:47,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,197 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-05', 0.0, 73)
2018-05-03 21:07:47,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,202 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-06', 0.01, 72)
2018-05-03 21:07:47,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,206 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-07', 0.0, 72)
2018-05-03 21:07:47,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,209 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-08', 0.0, 72)
2018-05-03 21:07:47,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,211 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-09', 0.08, 74)
2018-05-03 21:07:47,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:47,215 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2011-12-10', 0.07, 72)
2018-05-03 21:07:47,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,966 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-25', 0.08, 77)
2018-05-03 21:07:49,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,971 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-26', 0.06, 75)
2018-05-03 21:07:49,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:49,974 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-27', 0.0, 77)
2018-05-03 21:07:49,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,978 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-28', 0.1, 78)
2018-05-03 21:07:49,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,981 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-29', 0.0, 72)
2018-05-03 21:07:49,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,986 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-30', 0.0, 76)
2018-05-03 21:07:49,988 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,990 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-05-31', 0.0, 77)
2018-05-03 21:07:49,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,993 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-01', 0.0, 76)
2018-05-03 21:07:49,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,995 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-02', 0.08, 76)
2018-05-03 21:07:49,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:49,998 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-03', 0.02, 77)
2018-05-03 21:07:50,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,108 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-04', 0.0, 78)
2018-05-03 21:07:50,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,110 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-05', 0.0, 79)
2018-05-03 21:07:50,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,113 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-06', 0.0, 79)
2018-05-03 21:07:50,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,115 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-07', 0.07, 75)
2018-05-03 21:07:50,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,119 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-08', 0.0, 79)
2018-05-03 21:07:50,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,123 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-09', 0.0, 79)
2018-05-03 21:07:50,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,126 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-10', 0.0, 75)
2018-05-03 21:07:50,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,128 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-11', 0.0, 77)
2018-05-03 21:07:50,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,131 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-12', 0.0, 81)
2018-05-03 21:07:50,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,134 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-13', 0.0, 76)
2018-05-03 21:07:50,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,138 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-14', 0.28, 75)
2018-05-03 21:07:50,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,140 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-15', 0.0, 78)
2018-05-03 21:07:50,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,143 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-16', 0.0, 81)
2018-05-03 21:07:50,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,145 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-17', 0.0, 76)
2018-05-03 21:07:50,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,147 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-18', 0.0, 76)
2018-05-03 21:07:50,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,150 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-19', 0.0, 76)
2018-05-03 21:07:50,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,155 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-20', 0.07, 72)
2018-05-03 21:07:50,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,158 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-21', 0.32, 73)
2018-05-03 21:07:50,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,161 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-22', 0.13, 74)
2018-05-03 21:07:50,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,163 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-23', 0.08, 74)
2018-05-03 21:07:50,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,168 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-24', 0.01, 75)
2018-05-03 21:07:50,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,175 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-25', 0.18, 73)
2018-05-03 21:07:50,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,179 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-26', 0.42, 73)
2018-05-03 21:07:50,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,182 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-27', 0.02, 76)
2018-05-03 21:07:50,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,186 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-29', 0.05, 73)
2018-05-03 21:07:50,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,189 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-06-30', 0.0, 79)
2018-05-03 21:07:50,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,192 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-01', 0.0, 75)
2018-05-03 21:07:50,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,195 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-02', 0.16, 73)
2018-05-03 21:07:50,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:50,198 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-03', 0.0, 76)
2018-05-03 21:07:50,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,202 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-04', 0.0, 78)
2018-05-03 21:07:50,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,206 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-05', 0.0, 71)
2018-05-03 21:07:50,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,208 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-06', 0.0, 73)
2018-05-03 21:07:50,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,211 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-07', 0.0, 77)
2018-05-03 21:07:50,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,213 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-08', 0.02, 77)
2018-05-03 21:07:50,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,216 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-09', 0.0, 78)
2018-05-03 21:07:50,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,220 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-10', 0.07, 77)
2018-05-03 21:07:50,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,223 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-11', 0.06, 76)
2018-05-03 21:07:50,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,227 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-12', 0.02, 76)
2018-05-03 21:07:50,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,233 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-13', 0.0, 76)
2018-05-03 21:07:50,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,237 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-14', 0.0, 81)
2018-05-03 21:07:50,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,241 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-15', 0.0, 76)
2018-05-03 21:07:50,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,243 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-16', 0.0, 78)
2018-05-03 21:07:50,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,246 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-17', 0.0, 77)
2018-05-03 21:07:50,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,248 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-18', 0.0, 76)
2018-05-03 21:07:50,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,252 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-19', 0.0, 78)
2018-05-03 21:07:50,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,256 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-20', 0.0, 79)
2018-05-03 21:07:50,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,259 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-21', 0.0, 79)
2018-05-03 21:07:50,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,263 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-22', 0.2, 75)
2018-05-03 21:07:50,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,270 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-23', 0.2, 74)
2018-05-03 21:07:50,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,274 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-24', 0.01, 77)
2018-05-03 21:07:50,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,276 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-25', 0.0, 81)
2018-05-03 21:07:50,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,279 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-26', 0.0, 79)
2018-05-03 21:07:50,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,281 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-28', 0.0, 73)
2018-05-03 21:07:50,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,284 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-29', 0.2, 77)
2018-05-03 21:07:50,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,288 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-30', 0.27, 79)
2018-05-03 21:07:50,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,291 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-07-31', 0.08, 78)
2018-05-03 21:07:50,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,294 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-01', 0.15, 77)
2018-05-03 21:07:50,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,296 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-02', 0.04, 76)
2018-05-03 21:07:50,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,299 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-03', 0.0, 77)
2018-05-03 21:07:50,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,303 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-04', 0.0, 79)
2018-05-03 21:07:50,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,306 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-05', 0.0, 77)
2018-05-03 21:07:50,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,309 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-06', 0.0, 77)
2018-05-03 21:07:50,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,313 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-07', 0.0, 76)
2018-05-03 21:07:50,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,317 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-08', 0.0, 77)
2018-05-03 21:07:50,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,323 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-09', 0.0, 76)
2018-05-03 21:07:50,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,328 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-10', 1.67, 73)
2018-05-03 21:07:50,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,331 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-11', 0.42, 82)
2018-05-03 21:07:50,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,337 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-12', 0.01, 77)
2018-05-03 21:07:50,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,340 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-13', 0.0, 77)
2018-05-03 21:07:50,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,343 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-14', 0.05, 77)
2018-05-03 21:07:50,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,345 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-15', 0.0, 76)
2018-05-03 21:07:50,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,348 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-16', 0.05, 77)
2018-05-03 21:07:50,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,353 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-17', 0.0, 79)
2018-05-03 21:07:50,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,357 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-18', 0.0, 82)
2018-05-03 21:07:50,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,360 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-19', 0.0, 73)
2018-05-03 21:07:50,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,363 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-20', 0.0, 73)
2018-05-03 21:07:50,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,366 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-21', 0.43, 73)
2018-05-03 21:07:50,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,369 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-22', 0.0, 78)
2018-05-03 21:07:50,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,373 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-23', 0.0, 74)
2018-05-03 21:07:50,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,376 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-24', 0.05, 78)
2018-05-03 21:07:50,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,378 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-25', 0.0, 80)
2018-05-03 21:07:50,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,381 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-26', 0.0, 78)
2018-05-03 21:07:50,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,383 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-27', 0.0, 77)
2018-05-03 21:07:50,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,387 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-28', 0.0, 74)
2018-05-03 21:07:50,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,390 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-29', 0.19, 72)
2018-05-03 21:07:50,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,393 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-08-31', 0.0, 79)
2018-05-03 21:07:50,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,395 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-01', 0.09, 78)
2018-05-03 21:07:50,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,400 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-02', 0.0, 79)
2018-05-03 21:07:50,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,404 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-03', 0.05, 75)
2018-05-03 21:07:50,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,408 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-04', 0.04, 71)
2018-05-03 21:07:50,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,410 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-05', 0.0, 68)
2018-05-03 21:07:50,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,413 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-06', 0.0, 79)
2018-05-03 21:07:50,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,418 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-07', 0.53, 78)
2018-05-03 21:07:50,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,425 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-09', 0.0, 77)
2018-05-03 21:07:50,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,428 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-10', 0.0, 77)
2018-05-03 21:07:50,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,431 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-11', 0.25, 76)
2018-05-03 21:07:50,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,438 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-12', 0.05, 76)
2018-05-03 21:07:50,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,441 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-13', 0.32, 76)
2018-05-03 21:07:50,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,445 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-14', 0.09, 81)
2018-05-03 21:07:50,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:50,450 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-15', 0.15, 78)
2018-05-03 21:07:50,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,647 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-16', 0.02, 78)
2018-05-03 21:07:50,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,650 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-17', 0.07, 76)
2018-05-03 21:07:50,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,654 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-18', 0.06, 78)
2018-05-03 21:07:50,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,657 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-19', 0.04, 78)
2018-05-03 21:07:50,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,660 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-20', 0.0, 78)
2018-05-03 21:07:50,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,662 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-22', 0.0, 82)
2018-05-03 21:07:50,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,664 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-23', 0.0, 81)
2018-05-03 21:07:50,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,667 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-25', 0.0, 77)
2018-05-03 21:07:50,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,671 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-26', 0.49, 78)
2018-05-03 21:07:50,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,674 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-27', 0.02, 78)
2018-05-03 21:07:50,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,676 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-28', 0.0, 78)
2018-05-03 21:07:50,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,678 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-29', 0.07, 79)
2018-05-03 21:07:50,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,680 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-09-30', 0.13, 78)
2018-05-03 21:07:50,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,683 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-01', 0.0, 78)
2018-05-03 21:07:50,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,686 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-02', 0.0, 77)
2018-05-03 21:07:50,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,689 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-03', 0.0, 76)
2018-05-03 21:07:50,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,692 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-04', 0.0, 77)
2018-05-03 21:07:50,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,694 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-06', 0.0, 78)
2018-05-03 21:07:50,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,696 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-07', 0.0, 77)
2018-05-03 21:07:50,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,701 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-08', 0.0, 77)
2018-05-03 21:07:50,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,704 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-09', 0.0, 78)
2018-05-03 21:07:50,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,708 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-10', 0.07, 78)
2018-05-03 21:07:50,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,711 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-11', 0.0, 75)
2018-05-03 21:07:50,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,714 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-12', 0.06, 76)
2018-05-03 21:07:50,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,717 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-13', 0.0, 72)
2018-05-03 21:07:50,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,722 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-14', 0.68, 74)
2018-05-03 21:07:50,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,726 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-15', 0.0, 74)
2018-05-03 21:07:50,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,729 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-16', 0.0, 75)
2018-05-03 21:07:50,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,731 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-17', 0.0, 78)
2018-05-03 21:07:50,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,736 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-18', 0.05, 69)
2018-05-03 21:07:50,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,739 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-19', 0.0, 66)
2018-05-03 21:07:50,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,741 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-20', 0.01, 69)
2018-05-03 21:07:50,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,744 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-21', 0.0, 68)
2018-05-03 21:07:50,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,746 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-22', 0.0, 74)
2018-05-03 21:07:50,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,748 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-23', 0.0, 81)
2018-05-03 21:07:50,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:50,752 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-24', 0.11, 73)
2018-05-03 21:07:50,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,755 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-25', 0.0, 76)
2018-05-03 21:07:50,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,758 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-26', 0.0, 79)
2018-05-03 21:07:50,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,760 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-28', 0.0, 73)
2018-05-03 21:07:50,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,762 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-29', 0.0, 76)
2018-05-03 21:07:50,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,765 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-30', 0.0, 76)
2018-05-03 21:07:50,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,768 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-10-31', 0.0, 74)
2018-05-03 21:07:50,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,772 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-01', 0.0, 76)
2018-05-03 21:07:50,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,776 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-02', 0.07, 75)
2018-05-03 21:07:50,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,779 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-03', 0.0, 78)
2018-05-03 21:07:50,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,781 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-04', 0.0, 82)
2018-05-03 21:07:50,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,785 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-05', 0.0, 74)
2018-05-03 21:07:50,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,791 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-06', 0.05, 73)
2018-05-03 21:07:50,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,795 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-07', 0.2, 74)
2018-05-03 21:07:50,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,798 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-08', 0.02, 74)
2018-05-03 21:07:50,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,803 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-09', 0.04, 74)
2018-05-03 21:07:50,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,806 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-10', 4.76, 73)
2018-05-03 21:07:50,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,809 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-11', 0.03, 76)
2018-05-03 21:07:50,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,811 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-12', 0.24, 62)
2018-05-03 21:07:50,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,814 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-13', 0.0, 64)
2018-05-03 21:07:50,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,816 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-14', 0.05, 72)
2018-05-03 21:07:50,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,819 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-15', 0.78, 73)
2018-05-03 21:07:50,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,823 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-17', 0.0, 76)
2018-05-03 21:07:50,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,826 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-20', 0.0, 68)
2018-05-03 21:07:50,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,828 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-21', 0.0, 70)
2018-05-03 21:07:50,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,830 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-22', 0.0, 71)
2018-05-03 21:07:50,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,834 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-23', 0.0, 76)
2018-05-03 21:07:50,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,839 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-24', 0.0, 70)
2018-05-03 21:07:50,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,842 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-25', 0.0, 73)
2018-05-03 21:07:50,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,845 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-26', 0.0, 74)
2018-05-03 21:07:50,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,847 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-27', 0.0, 73)
2018-05-03 21:07:50,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,850 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-28', 0.0, 73)
2018-05-03 21:07:50,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,854 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-29', 0.0, 73)
2018-05-03 21:07:50,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,860 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-11-30', 0.38, 78)
2018-05-03 21:07:50,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,864 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-01', 0.09, 76)
2018-05-03 21:07:50,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,869 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-02', 2.25, 68)
2018-05-03 21:07:50,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,873 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-03', 0.09, 79)
2018-05-03 21:07:50,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,876 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-04', 0.0, 69)
2018-05-03 21:07:50,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,878 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-05', 0.0, 64)
2018-05-03 21:07:50,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,881 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-06', 0.0, 70)
2018-05-03 21:07:50,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,884 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-07', 0.0, 69)
2018-05-03 21:07:50,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,888 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-08', 0.0, 73)
2018-05-03 21:07:50,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,891 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-09', 0.0, 70)
2018-05-03 21:07:50,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,893 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-10', 0.03, 74)
2018-05-03 21:07:50,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,896 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-11', 0.0, 76)
2018-05-03 21:07:50,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,902 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-12', 0.02, 76)
2018-05-03 21:07:50,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,906 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-13', 0.02, 69)
2018-05-03 21:07:50,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,910 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-14', 0.0, 73)
2018-05-03 21:07:50,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,913 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-15', 0.1, 73)
2018-05-03 21:07:50,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,916 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-16', 0.88, 65)
2018-05-03 21:07:50,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,921 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-17', 0.0, 70)
2018-05-03 21:07:50,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,926 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-18', 0.0, 72)
2018-05-03 21:07:50,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,929 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-19', 0.35, 72)
2018-05-03 21:07:50,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,932 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-20', 0.01, 75)
2018-05-03 21:07:50,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,935 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-21', 0.0, 74)
2018-05-03 21:07:50,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,939 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-22', 0.01, 69)
2018-05-03 21:07:50,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,942 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-23', 0.08, 73)
2018-05-03 21:07:50,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,945 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-24', 0.04, 75)
2018-05-03 21:07:50,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,947 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-25', 0.0, 76)
2018-05-03 21:07:50,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,952 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-26', 0.0, 74)
2018-05-03 21:07:50,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,956 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-27', 0.0, 73)
2018-05-03 21:07:50,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,960 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-28', 0.06, 74)
2018-05-03 21:07:50,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,967 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-29', 0.16, 71)
2018-05-03 21:07:50,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,973 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-30', 0.01, 72)
2018-05-03 21:07:50,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:50,978 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2013-12-31', 0.17, 73)
2018-05-03 21:07:50,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,105 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-01', 0.01, 75)
2018-05-03 21:07:51,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,109 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-02', 0.15, 75)
2018-05-03 21:07:51,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,111 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-03', 0.92, 68)
2018-05-03 21:07:51,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,114 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-04', 0.0, 70)
2018-05-03 21:07:51,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,116 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-05', 0.0, 69)
2018-05-03 21:07:51,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,123 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-06', 0.23, 68)

2018-05-03 21:07:51,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,128 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-07', 0.0, 71)
2018-05-03 21:07:51,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,131 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-08', 0.0, 71)
2018-05-03 21:07:51,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,134 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-09', 0.12, 70)
2018-05-03 21:07:51,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,138 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-10', 0.01, 72)
2018-05-03 21:07:51,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,141 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-11', 0.0, 75)
2018-05-03 21:07:51,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,146 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-12', 0.0, 68)
2018-05-03 21:07:51,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,150 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-13', 0.0, 66)
2018-05-03 21:07:51,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,155 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-14', 0.44, 75)
2018-05-03 21:07:51,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,160 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-15', 0.28, 72)
2018-05-03 21:07:51,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,163 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-16', 0.3, 65)
2018-05-03 21:07:51,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,166 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-17', 0.15, 66)
2018-05-03 21:07:51,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,170 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-18', 0.13, 65)
2018-05-03 21:07:51,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,174 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-19', 0.0, 70)
2018-05-03 21:07:51,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,177 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-20', 0.17, 72)
2018-05-03 21:07:51,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,180 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-21', 0.0, 72)
2018-05-03 21:07:51,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,183 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-22', 0.31, 69)
2018-05-03 21:07:51,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,195 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-24', 0.0, 58)
2018-05-03 21:07:51,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,198 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-25', 0.0, 72)
2018-05-03 21:07:51,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,204 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-27', 0.0, 67)
2018-05-03 21:07:51,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,209 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-28', 0.44, 69)
2018-05-03 21:07:51,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,212 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-29', 0.21, 69)
2018-05-03 21:07:51,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,215 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-30', 0.08, 65)
2018-05-03 21:07:51,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,220 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-01-31', 0.0, 65)
2018-05-03 21:07:51,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,224 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-01', 0.95, 74)
2018-05-03 21:07:51,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,228 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-02', 0.57, 69)
2018-05-03 21:07:51,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,238 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-03', 0.02, 70)
2018-05-03 21:07:51,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,244 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-04', 1.48, 67)
2018-05-03 21:07:51,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,256 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-05', 0.55, 75)
2018-05-03 21:07:51,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,259 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-06', 0.15, 74)
2018-05-03 21:07:51,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,262 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-07', 0.17, 70)
2018-05-03 21:07:51,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,274 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-08', 1.81, 68)
2018-05-03 21:07:51,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,277 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-09', 0.44, 74)
2018-05-03 21:07:51,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,280 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-10', 0.03, 68)
2018-05-03 21:07:51,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,285 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-11', 0.0, 65)
2018-05-03 21:07:51,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,293 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-12', 0.05, 71)
2018-05-03 21:07:51,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:51,303 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-13', 0.0, 65)
2018-05-03 21:07:51,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,308 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-14', 0.0, 73)
2018-05-03 21:07:51,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,311 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-15', 0.4, 73)
2018-05-03 21:07:51,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,314 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-16', 0.03, 72)
2018-05-03 21:07:51,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,319 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-17', 0.33, 74)
2018-05-03 21:07:51,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,324 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-18', 0.14, 71)
2018-05-03 21:07:51,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,329 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-19', 0.0, 69)
2018-05-03 21:07:51,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,335 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-20', 0.0, 71)
2018-05-03 21:07:51,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,339 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-21', 0.34, 68)
2018-05-03 21:07:51,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,343 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-22', 0.0, 72)
2018-05-03 21:07:51,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,346 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-23', 0.0, 69)
2018-05-03 21:07:51,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,349 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-24', 0.0, 72)
2018-05-03 21:07:51,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,357 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-25', 0.05, 67)
2018-05-03 21:07:51,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,362 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-26', 0.14, 62)
2018-05-03 21:07:51,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,371 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-27', 0.13, 68)
2018-05-03 21:07:51,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,377 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-02-28', 0.21, 73)
2018-05-03 21:07:51,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,381 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-01', 0.24, 72)
2018-05-03 21:07:51,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,387 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-03', 0.0, 62)
2018-05-03 21:07:51,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,391 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-04', 0.03, 66)
2018-05-03 21:07:51,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,394 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-05', 0.0, 63)
2018-05-03 21:07:51,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,397 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-06', 0.0, 62)
2018-05-03 21:07:51,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,401 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-07', 0.33, 69)
2018-05-03 21:07:51,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,405 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-08', 0.91, 67)
2018-05-03 21:07:51,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,423 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-09', 0.44, 72)
2018-05-03 21:07:51,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,427 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-10', 0.03, 73)
2018-05-03 21:07:51,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,429 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-11', 0.0, 71)
2018-05-03 21:07:51,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,432 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-12', 0.0, 71)
2018-05-03 21:07:51,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,437 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-13', 0.0, 73)
2018-05-03 21:07:51,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,442 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-14', 0.0, 73)
2018-05-03 21:07:51,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,444 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-15', 0.58, 69)
2018-05-03 21:07:51,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,449 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-16', 0.08, 69)
2018-05-03 21:07:51,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,456 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-17', 0.03, 67)
2018-05-03 21:07:51,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,460 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-18', 0.03, 69)
2018-05-03 21:07:51,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,463 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-19', 0.0, 70)
2018-05-03 21:07:51,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,477 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-20', 0.0, 76)
2018-05-03 21:07:51,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,481 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-21', 0.0, 72)
2018-05-03 21:07:51,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:51,485 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-22', 0.03, 70)
2018-05-03 21:07:51,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,489 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-23', 0.0, 72)
2018-05-03 21:07:51,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,493 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-24', 0.0, 73)
2018-05-03 21:07:51,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,495 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-25', 0.11, 70)
2018-05-03 21:07:51,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,498 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-26', 0.41, 77)
2018-05-03 21:07:51,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,502 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-27', 0.18, 69)
2018-05-03 21:07:51,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,505 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-28', 0.0, 73)
2018-05-03 21:07:51,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,509 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-29', 0.95, 74)
2018-05-03 21:07:51,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,513 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-30', 0.37, 76)
2018-05-03 21:07:51,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,519 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-03-31', 0.07, 73)
2018-05-03 21:07:51,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,528 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-01', 0.0, 75)
2018-05-03 21:07:51,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,532 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-02', 0.02, 74)
2018-05-03 21:07:51,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,535 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-03', 0.1, 76)
2018-05-03 21:07:51,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,539 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-04', 0.0, 77)
2018-05-03 21:07:51,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,543 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-05', 0.0, 74)
2018-05-03 21:07:51,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,546 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-06', 0.0, 67)
2018-05-03 21:07:51,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,548 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-07', 0.2, 70)
2018-05-03 21:07:51,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,551 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-08', 0.23, 70)
2018-05-03 21:07:51,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,555 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-10', 0.0, 71)
2018-05-03 21:07:51,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,559 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-11', 0.01, 68)
2018-05-03 21:07:51,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,562 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-12', 0.17, 71)
2018-05-03 21:07:51,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,565 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-13', 0.01, 73)
2018-05-03 21:07:51,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,571 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-14', 0.02, 73)
2018-05-03 21:07:51,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,740 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-15', 0.05, 72)
2018-05-03 21:07:51,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,743 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-16', 0.15, 73)
2018-05-03 21:07:51,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,746 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-17', 0.0, 74)
2018-05-03 21:07:51,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,748 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-18', 0.0, 75)
2018-05-03 21:07:51,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,751 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-19', 0.09, 75)
2018-05-03 21:07:51,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,756 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-20', 0.0, 73)
2018-05-03 21:07:51,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,758 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-21', 0.21, 73)
2018-05-03 21:07:51,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,760 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-22', 0.13, 74)
2018-05-03 21:07:51,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,763 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-24', 0.0, 74)
2018-05-03 21:07:51,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,765 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-25', 0.0, 73)
2018-05-03 21:07:51,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,768 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-26', 0.0, 74)
2018-05-03 21:07:51,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,773 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-27', 0.3, 76)
2018-05-03 21:07:51,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,776 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-28', 0.04, 71)
2018-05-03 21:07:51,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:51,778 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-04-29', 0.0, 72)
2018-05-03 21:07:51,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,780 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-01', 0.0, 73)
2018-05-03 21:07:51,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,783 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-02', 0.09, 73)
2018-05-03 21:07:51,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,787 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-03', 0.03, 71)
2018-05-03 21:07:51,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,793 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-04', 0.0, 77)
2018-05-03 21:07:51,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,796 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-06', 0.0, 76)
2018-05-03 21:07:51,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,798 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-09', 0.0, 69)
2018-05-03 21:07:51,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,801 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-10', 0.0, 75)
2018-05-03 21:07:51,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,805 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-11', 0.0, 77)
2018-05-03 21:07:51,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,809 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-12', 0.55, 74)
2018-05-03 21:07:51,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,812 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-13', 0.0, 73)
2018-05-03 21:07:51,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,815 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-14', 0.0, 75)
2018-05-03 21:07:51,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,817 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-15', 0.0, 79)
2018-05-03 21:07:51,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,820 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-16', 0.34, 73)
2018-05-03 21:07:51,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,826 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-17', 0.0, 79)
2018-05-03 21:07:51,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,829 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-18', 0.0, 72)
2018-05-03 21:07:51,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,832 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-19', 0.0, 75)
2018-05-03 21:07:51,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,834 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-20', 0.01, 73)
2018-05-03 21:07:51,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,838 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-21', 0.0, 73)
2018-05-03 21:07:51,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,841 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-22', 0.0, 76)
2018-05-03 21:07:51,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,843 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-23', 0.0, 76)
2018-05-03 21:07:51,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,846 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-24', 0.14, 77)
2018-05-03 21:07:51,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,849 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-25', 0.45, 73)
2018-05-03 21:07:51,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,852 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-26', 0.01, 74)
2018-05-03 21:07:51,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,858 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-28', 0.0, 75)
2018-05-03 21:07:51,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,862 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-29', 0.0, 76)
2018-05-03 21:07:51,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,864 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-30', 0.07, 76)
2018-05-03 21:07:51,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,866 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-05-31', 0.0, 77)
2018-05-03 21:07:51,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,871 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-01', 0.0, 78)
2018-05-03 21:07:51,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,874 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-02', 0.1, 76)
2018-05-03 21:07:51,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,876 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-04', 0.0, 76)
2018-05-03 21:07:51,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,878 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-05', 0.0, 76)
2018-05-03 21:07:51,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,880 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-06', 0.0, 77)
2018-05-03 21:07:51,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,883 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-07', 0.0, 79)
2018-05-03 21:07:51,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,887 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-08', 0.0, 80)
2018-05-03 21:07:51,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,892 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-09', 0.0, 78)
2018-05-03 21:07:51,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:51,894 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-10', 0.0, 76)
2018-05-03 21:07:51,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,897 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-11', 0.13, 78)
2018-05-03 21:07:51,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,899 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-12', 0.0, 78)
2018-05-03 21:07:51,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,901 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-13', 0.0, 77)
2018-05-03 21:07:51,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,906 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-14', 0.0, 79)
2018-05-03 21:07:51,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,911 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-15', 0.0, 79)
2018-05-03 21:07:51,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,914 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-16', 0.0, 75)
2018-05-03 21:07:51,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,917 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-18', 0.0, 76)
2018-05-03 21:07:51,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,922 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-19', 0.0, 77)
2018-05-03 21:07:51,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,925 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-20', 0.51, 74)
2018-05-03 21:07:51,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,927 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-21', 0.0, 77)
2018-05-03 21:07:51,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,929 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-22', 0.01, 76)
2018-05-03 21:07:51,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,931 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-23', 0.23, 76)
2018-05-03 21:07:51,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,934 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-24', 0.01, 75)
2018-05-03 21:07:51,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,938 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-25', 0.07, 74)
2018-05-03 21:07:51,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,941 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-26', 0.1, 79)
2018-05-03 21:07:51,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,944 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-28', 0.0, 76)
2018-05-03 21:07:51,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,946 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-29', 0.01, 74)
2018-05-03 21:07:51,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,948 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-06-30', 0.07, 76)
2018-05-03 21:07:51,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,951 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-01', 0.0, 79)
2018-05-03 21:07:51,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,955 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-02', 0.0, 82)
2018-05-03 21:07:51,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,959 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-03', 0.1, 76)
2018-05-03 21:07:51,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,963 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-04', 0.0, 80)
2018-05-03 21:07:51,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,978 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-05', 0.05, 74)
2018-05-03 21:07:51,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,981 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-06', 0.07, 77)
2018-05-03 21:07:51,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,985 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-07', 0.1, 77)
2018-05-03 21:07:51,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,989 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-08', 0.0, 77)
2018-05-03 21:07:51,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,993 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-09', 0.07, 74)
2018-05-03 21:07:51,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,995 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-10', 0.0, 81)
2018-05-03 21:07:51,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:51,998 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-11', 0.0, 81)
2018-05-03 21:07:51,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,001 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-12', 0.0, 81)
2018-05-03 21:07:52,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,005 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-13', 0.06, 81)
2018-05-03 21:07:52,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,008 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-14', 0.0, 80)
2018-05-03 21:07:52,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,011 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-15', 0.0, 77)
2018-05-03 21:07:52,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,014 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-16', 0.1, 76)
2018-05-03 21:07:52,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,017 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-17', 0.0, 77)
2018-05-03 21:07:52,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,020 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-18', 0.0, 78)
2018-05-03 21:07:52,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,023 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-19', 0.0, 78)
2018-05-03 21:07:52,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,026 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-20', 5.54, 76)
2018-05-03 21:07:52,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,029 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-21', 0.07, 79)
2018-05-03 21:07:52,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,031 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-22', 0.41, 78)
2018-05-03 21:07:52,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,037 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-23', 0.0, 78)
2018-05-03 21:07:52,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,040 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-24', 0.0, 80)
2018-05-03 21:07:52,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,044 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-27', 0.0, 83)
2018-05-03 21:07:52,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,047 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-28', 0.0, 78)
2018-05-03 21:07:52,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,050 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-07-31', 0.0, 80)
2018-05-03 21:07:52,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,057 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-01', 0.0, 83)
2018-05-03 21:07:52,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,061 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-02', 0.0, 81)
2018-05-03 21:07:52,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,065 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-03', 0.0, 80)
2018-05-03 21:07:52,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,068 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-04', 0.0, 80)
2018-05-03 21:07:52,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,071 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-05', 0.0, 78)
2018-05-03 21:07:52,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,193 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-06', 0.36, 78)
2018-05-03 21:07:52,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,197 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-08', 0.0, 82)
2018-05-03 21:07:52,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,201 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-09', 0.12, 81)
2018-05-03 21:07:52,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,204 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-11', 0.0, 76)
2018-05-03 21:07:52,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,207 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-12', 0.0, 76)
2018-05-03 21:07:52,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,209 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-13', 0.27, 76)
2018-05-03 21:07:52,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,212 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-14', 0.0, 80)
2018-05-03 21:07:52,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,215 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-15', 0.0, 80)
2018-05-03 21:07:52,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,217 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-16', 0.15, 82)
2018-05-03 21:07:52,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,222 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-17', 0.05, 75)
2018-05-03 21:07:52,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,225 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-18', 0.01, 81)
2018-05-03 21:07:52,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,229 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-19', 0.0, 81)
2018-05-03 21:07:52,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,232 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-20', 0.0, 77)
2018-05-03 21:07:52,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,235 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-21', 0.17, 80)
2018-05-03 21:07:52,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,239 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-22', 0.02, 77)
2018-05-03 21:07:52,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,244 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-24', 0.0, 75)
2018-05-03 21:07:52,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,247 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-25', 0.0, 78)
2018-05-03 21:07:52,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,250 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-26', 0.19, 75)
2018-05-03 21:07:52,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,254 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-27', 0.02, 80)
2018-05-03 21:07:52,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,259 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-28', 0.03, 80)
2018-05-03 21:07:52,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:52,264 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-29', 0.0, 78)
2018-05-03 21:07:52,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:52,267 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2014-08-30', 0.17, 76)
2018-05-03 21:07:52,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,516 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-01-28', 0.0, 64)
2018-05-03 21:07:54,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,527 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-01-30', 0.0, 68)
2018-05-03 21:07:54,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,621 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-01-31', 0.0, 73)
2018-05-03 21:07:54,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,626 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-01', 0.0, 69)
2018-05-03 21:07:54,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,629 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-02', 0.39, 70)
2018-05-03 21:07:54,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,632 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-03', 0.03, 73)
2018-05-03 21:07:54,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,635 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-04', 0.0, 70)
2018-05-03 21:07:54,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,638 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-05', 0.0, 69)
2018-05-03 21:07:54,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,643 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-07', 0.0, 73)
2018-05-03 21:07:54,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,648 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-08', 0.0, 61)
2018-05-03 21:07:54,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,651 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-09', 0.0, 59)
2018-05-03 21:07:54,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,655 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-10', 0.0, 70)
2018-05-03 21:07:54,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,659 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-11', 0.0, 73)
2018-05-03 21:07:54,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,662 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-12', 0.0, 73)
2018-05-03 21:07:54,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,664 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-15', 0.0, 73)
2018-05-03 21:07:54,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,668 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-16', 0.04, 72)
2018-05-03 21:07:54,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,670 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-17', 0.22, 72)
2018-05-03 21:07:54,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,674 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-18', 0.0, 72)
2018-05-03 21:07:54,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,677 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-19', 0.2, 68)
2018-05-03 21:07:54,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,680 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-20', 0.05, 65)
2018-05-03 21:07:54,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,683 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-21', 0.01, 74)
2018-05-03 21:07:54,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,687 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-22', 0.0, 74)
2018-05-03 21:07:54,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,690 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-23', 0.0, 63)
2018-05-03 21:07:54,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,697 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-24', 0.0, 66)
2018-05-03 21:07:54,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,700 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-25', 0.0, 67)
2018-05-03 21:07:54,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,702 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-26', 0.0, 71)
2018-05-03 21:07:54,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,706 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-27', 0.0, 69)
2018-05-03 21:07:54,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,710 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-28', 0.0, 67)
2018-05-03 21:07:54,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,713 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-02-29', 0.0, 67)
2018-05-03 21:07:54,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,715 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-01', 0.33, 73)
2018-05-03 21:07:54,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,718 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-02', 0.0, 70)
2018-05-03 21:07:54,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,722 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-03', 0.0, 68)
2018-05-03 21:07:54,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,725 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-04', 0.0, 75)
2018-05-03 21:07:54,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,729 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-05', 0.0, 73)
2018-05-03 21:07:54,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:54,731 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-06', 0.0, 69)
2018-05-03 21:07:54,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,733 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-07', 0.0, 68)
2018-05-03 21:07:54,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,735 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-08', 0.02, 75)
2018-05-03 21:07:54,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,738 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-09', 0.3, 68)
2018-05-03 21:07:54,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,742 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-10', 0.0, 70)
2018-05-03 21:07:54,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,745 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-11', 0.0, 72)
2018-05-03 21:07:54,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,746 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-12', 0.0, 72)
2018-05-03 21:07:54,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,749 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-14', 0.0, 74)
2018-05-03 21:07:54,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,751 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-16', 0.0, 69)
2018-05-03 21:07:54,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,754 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-17', 0.0, 69)
2018-05-03 21:07:54,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,758 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-18', 0.0, 70)
2018-05-03 21:07:54,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,761 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-21', 0.0, 72)
2018-05-03 21:07:54,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,763 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-22', 0.0, 69)
2018-05-03 21:07:54,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,767 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-23', 1.05, 70)
2018-05-03 21:07:54,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,770 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-24', 0.0, 73)
2018-05-03 21:07:54,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,776 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-25', 0.03, 75)
2018-05-03 21:07:54,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,781 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-26', 0.03, 77)
2018-05-03 21:07:54,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,784 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-27', 0.0, 76)
2018-05-03 21:07:54,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,790 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-28', 0.0, 73)
2018-05-03 21:07:54,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,793 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-29', 0.04, 75)
2018-05-03 21:07:54,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,796 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-30', 0.0, 69)
2018-05-03 21:07:54,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,799 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-03-31', 0.01, 69)
2018-05-03 21:07:54,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,801 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-01', 0.0, 76)
2018-05-03 21:07:54,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,803 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-02', 0.0, 76)
2018-05-03 21:07:54,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,807 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-03', 0.0, 78)
2018-05-03 21:07:54,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,810 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-04', 0.0, 78)
2018-05-03 21:07:54,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,812 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-06', 0.0, 70)
2018-05-03 21:07:54,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,814 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-07', 0.0, 72)
2018-05-03 21:07:54,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,817 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-08', 0.0, 75)
2018-05-03 21:07:54,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,821 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-09', 0.0, 76)
2018-05-03 21:07:54,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,825 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-10', 0.0, 76)
2018-05-03 21:07:54,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,828 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-11', 0.0, 75)
2018-05-03 21:07:54,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,830 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-12', 0.0, 77)
2018-05-03 21:07:54,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,832 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-13', 0.18, 77)
2018-05-03 21:07:54,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,834 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-14', 0.08, 77)
2018-05-03 21:07:54,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,838 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-15', 0.04, 79)
2018-05-03 21:07:54,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:54,843 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-16', 0.0, 76)
2018-05-03 21:07:54,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,846 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-17', 0.09, 72)
2018-05-03 21:07:54,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,849 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-18', 0.46, 73)
2018-05-03 21:07:54,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,852 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-20', 0.0, 74)
2018-05-03 21:07:54,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,855 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-21', 0.0, 75)
2018-05-03 21:07:54,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,861 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-22', 0.0, 77)
2018-05-03 21:07:54,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,865 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-23', 0.04, 77)
2018-05-03 21:07:54,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,869 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-24', 0.29, 75)
2018-05-03 21:07:54,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,874 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-25', 0.0, 79)
2018-05-03 21:07:54,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,877 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-26', 0.0, 76)
2018-05-03 21:07:54,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,879 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-27', 0.0, 79)
2018-05-03 21:07:54,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,881 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-28', 0.0, 79)
2018-05-03 21:07:54,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,884 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-29', 0.0, 77)
2018-05-03 21:07:54,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,886 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-04-30', 0.0, 77)
2018-05-03 21:07:54,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,890 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-01', 0.09, 78)
2018-05-03 21:07:54,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,894 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-02', 0.07, 75)
2018-05-03 21:07:54,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,896 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-03', 0.0, 78)
2018-05-03 21:07:54,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,898 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-04', 0.0, 75)
2018-05-03 21:07:54,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,900 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-05', 0.27, 77)
2018-05-03 21:07:54,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,903 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-06', 0.0, 73)
2018-05-03 21:07:54,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,908 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-07', 1.8, 71)
2018-05-03 21:07:54,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,911 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-08', 0.75, 71)
2018-05-03 21:07:54,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,914 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-09', 0.02, 73)
2018-05-03 21:07:54,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,916 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-10', 0.0, 74)
2018-05-03 21:07:54,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,919 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-11', 0.0, 74)
2018-05-03 21:07:54,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,923 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-12', 0.0, 73)
2018-05-03 21:07:54,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,926 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-13', 0.0, 75)
2018-05-03 21:07:54,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,930 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-14', 0.06, 74)
2018-05-03 21:07:54,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,934 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-15', 0.0, 79)
2018-05-03 21:07:54,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,937 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-16', 0.0, 78)
2018-05-03 21:07:54,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,940 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-17', 0.0, 78)
2018-05-03 21:07:54,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:54,947 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-18', 0.0, 77)
2018-05-03 21:07:54,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,103 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-19', 0.0, 77)
2018-05-03 21:07:55,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,107 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-20', 0.0, 78)
2018-05-03 21:07:55,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,110 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-21', 0.0, 78)
2018-05-03 21:07:55,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,113 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-22', 0.0, 78)
2018-05-03 21:07:55,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:55,116 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-23', 0.0, 79)
2018-05-03 21:07:55,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,120 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-24', 0.0, 77)
2018-05-03 21:07:55,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,125 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-25', 0.0, 77)
2018-05-03 21:07:55,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,131 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-26', 0.01, 81)
2018-05-03 21:07:55,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,134 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-27', 0.0, 80)
2018-05-03 21:07:55,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,137 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-28', 0.36, 79)
2018-05-03 21:07:55,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,141 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-29', 0.0, 78)
2018-05-03 21:07:55,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,145 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-30', 0.05, 78)
2018-05-03 21:07:55,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,148 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-05-31', 1.18, 71)
2018-05-03 21:07:55,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,150 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-01', 0.38, 75)
2018-05-03 21:07:55,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,152 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-02', 0.03, 75)
2018-05-03 21:07:55,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,155 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-03', 0.47, 75)
2018-05-03 21:07:55,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,159 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-04', 0.02, 75)
2018-05-03 21:07:55,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,163 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-05', 0.14, 73)
2018-05-03 21:07:55,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,166 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-06', 0.17, 78)
2018-05-03 21:07:55,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,168 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-07', 0.07, 77)
2018-05-03 21:07:55,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,171 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-08', 0.0, 80)
2018-05-03 21:07:55,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,175 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-09', 0.15, 72)
2018-05-03 21:07:55,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,178 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-10', 0.23, 78)
2018-05-03 21:07:55,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,180 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-11', 0.0, 78)
2018-05-03 21:07:55,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,183 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-12', 0.12, 77)
2018-05-03 21:07:55,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,185 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-13', 0.1, 78)
2018-05-03 21:07:55,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,195 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-14', 0.0, 79)
2018-05-03 21:07:55,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,198 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-15', 0.25, 80)
2018-05-03 21:07:55,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,201 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-17', 0.0, 76)
2018-05-03 21:07:55,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,203 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-18', 0.0, 77)
2018-05-03 21:07:55,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,206 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-19', 0.06, 79)
2018-05-03 21:07:55,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,210 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-20', 0.03, 79)
2018-05-03 21:07:55,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,213 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-21', 0.03, 77)
2018-05-03 21:07:55,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,217 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-22', 0.0, 79)
2018-05-03 21:07:55,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,224 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-23', 0.0, 80)
2018-05-03 21:07:55,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,237 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-24', 0.0, 80)
2018-05-03 21:07:55,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,242 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-25', 0.21, 77)
2018-05-03 21:07:55,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,245 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-26', 0.0, 79)
2018-05-03 21:07:55,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,248 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-27', 0.0, 81)
2018-05-03 21:07:55,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,250 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-28', 0.0, 78)
2018-05-03 21:07:55,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:55,253 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-29', 0.0, 80)
2018-05-03 21:07:55,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,258 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-06-30', 0.0, 79)
2018-05-03 21:07:55,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,262 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-02', 0.0, 82)
2018-05-03 21:07:55,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,265 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-03', 0.17, 76)
2018-05-03 21:07:55,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,271 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-04', 0.03, 81)
2018-05-03 21:07:55,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,285 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-05', 0.12, 76)
2018-05-03 21:07:55,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,290 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-06', 0.1, 76)
2018-05-03 21:07:55,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,299 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-07', 0.02, 80)
2018-05-03 21:07:55,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,309 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-08', 0.01, 80)
2018-05-03 21:07:55,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,314 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-09', 0.0, 78)
2018-05-03 21:07:55,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,317 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-10', 0.37, 78)
2018-05-03 21:07:55,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,320 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-11', 0.07, 78)
2018-05-03 21:07:55,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,326 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-12', 0.0, 80)
2018-05-03 21:07:55,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,345 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-14', 0.0, 82)
2018-05-03 21:07:55,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,350 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-15', 0.42, 80)
2018-05-03 21:07:55,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,354 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-16', 0.2, 79)
2018-05-03 21:07:55,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,358 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-17', 0.0, 82)
2018-05-03 21:07:55,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,362 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-18', 0.38, 76)
2018-05-03 21:07:55,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,365 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-19', 0.11, 80)
2018-05-03 21:07:55,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,367 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-20', 0.02, 82)
2018-05-03 21:07:55,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,372 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-21', 0.06, 80)
2018-05-03 21:07:55,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,377 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-23', 0.0, 79)
2018-05-03 21:07:55,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,381 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-24', 0.18, 78)
2018-05-03 21:07:55,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,385 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-25', 3.01, 80)
2018-05-03 21:07:55,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,395 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-26', 0.0, 80)
2018-05-03 21:07:55,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,402 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-27', 0.0, 83)
2018-05-03 21:07:55,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,409 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-28', 0.0, 82)
2018-05-03 21:07:55,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,420 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-29', 0.0, 82)
2018-05-03 21:07:55,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,424 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-30', 0.08, 77)
2018-05-03 21:07:55,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,427 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-07-31', 0.79, 80)
2018-05-03 21:07:55,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,430 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-01', 0.54, 77)
2018-05-03 21:07:55,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,432 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-02', 0.07, 78)
2018-05-03 21:07:55,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,435 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-03', 0.0, 81)
2018-05-03 21:07:55,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,441 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-04', 0.25, 80)
2018-05-03 21:07:55,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,450 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-05', 0.0, 80)
2018-05-03 21:07:55,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,453 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-06', 0.04, 79)
2018-05-03 21:07:55,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:55,458 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-07', 0.4, 79)
2018-05-03 21:07:55,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,465 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-08', 0.0, 83)
2018-05-03 21:07:55,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,468 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-09', 0.01, 80)
2018-05-03 21:07:55,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,474 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-10', 0.0, 82)
2018-05-03 21:07:55,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,478 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-11', 0.0, 80)
2018-05-03 21:07:55,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,481 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-12', 0.0, 77)
2018-05-03 21:07:55,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,485 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-13', 0.01, 81)
2018-05-03 21:07:55,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,494 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-14', 0.0, 82)
2018-05-03 21:07:55,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,499 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-15', 0.0, 81)
2018-05-03 21:07:55,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,503 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-16', 0.0, 80)
2018-05-03 21:07:55,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,508 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-17', 0.0, 78)
2018-05-03 21:07:55,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,519 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-18', 0.0, 81)
2018-05-03 21:07:55,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,522 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-19', 0.0, 79)
2018-05-03 21:07:55,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,532 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-20', 0.0, 81)
2018-05-03 21:07:55,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,537 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-21', 0.41, 80)
2018-05-03 21:07:55,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,542 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-22', 0.4, 80)
2018-05-03 21:07:55,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,545 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-23', 0.02, 80)
2018-05-03 21:07:55,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,549 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-24', 1.22, 79)
2018-05-03 21:07:55,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,551 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-25', 0.21, 80)
2018-05-03 21:07:55,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,553 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-26', 0.0, 84)
2018-05-03 21:07:55,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,557 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-27', 0.0, 81)
2018-05-03 21:07:55,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,562 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-28', 0.14, 80)
2018-05-03 21:07:55,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,565 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-29', 0.0, 79)
2018-05-03 21:07:55,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,568 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-30', 0.0, 78)
2018-05-03 21:07:55,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,676 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-08-31', 0.25, 78)
2018-05-03 21:07:55,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,679 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-02', 0.0, 81)
2018-05-03 21:07:55,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,682 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-03', 0.08, 78)
2018-05-03 21:07:55,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,684 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-04', 0.74, 84)
2018-05-03 21:07:55,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,688 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-05', 0.02, 84)
2018-05-03 21:07:55,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,692 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-06', 0.03, 78)
2018-05-03 21:07:55,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,696 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-07', 0.11, 76)
2018-05-03 21:07:55,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,699 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-08', 0.01, 79)
2018-05-03 21:07:55,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,702 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-09', 0.23, 77)
2018-05-03 21:07:55,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,705 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-10', 0.14, 78)
2018-05-03 21:07:55,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,708 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-11', 0.12, 83)
2018-05-03 21:07:55,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,716 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-12', 0.15, 78)
2018-05-03 21:07:55,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,719 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-13', 0.46, 77)
2018-05-03 21:07:55,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,722 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-14', 1.19, 77)
2018-05-03 21:07:55,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:55,726 INFO sqlalchemy.engine.base.Engine ('USC00519523', '2016-09-15', 0.17, 79)
2018-05-03 21:07:59,073 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-07', 0.0, 63)
2018-05-03 21:07:59,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,078 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-08', 0.01, 64)
2018-05-03 21:07:59,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,082 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-09', 0.0, 60)
2018-05-03 21:07:59,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,085 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-10', 0.0, 71)
2018-05-03 21:07:59,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,087 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-11', 0.34, 57)
2018-05-03 21:07:59,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,090 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-12', 0.02, 67)
2018-05-03 21:07:59,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,094 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-13', 8.81, 68)
2018-05-03 21:07:59,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,098 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-14', 0.55, 75)
2018-05-03 21:07:59,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,101 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-15', 0.02, 73)
2018-05-03 21:07:59,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,103 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-16', 0.0, 67)
2018-05-03 21:07:59,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,106 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-17', 0.13, 75)
2018-05-03 21:07:59,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,109 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-18', 0.0, 62)
2018-05-03 21:07:59,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,114 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-19', 0.07, 64)
2018-05-03 21:07:59,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,118 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-20', 0.1, 67)
2018-05-03 21:07:59,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,122 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-21', 0.04, 72)
2018-05-03 21:07:59,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,127 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-22', 0.0, 76)
2018-05-03 21:07:59,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,131 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-23', 0.0, 67)
2018-05-03 21:07:59,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,134 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-24', 0.0, 71)
2018-05-03 21:07:59,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,137 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-25', 0.03, 62)
2018-05-03 21:07:59,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,140 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-26', 0.0, 66)
2018-05-03 21:07:59,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,146 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-27', 0.0, 65)
2018-05-03 21:07:59,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,149 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-28', 0.0, 71)
2018-05-03 21:07:59,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,153 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-29', 0.02, 65)
2018-05-03 21:07:59,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,156 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-30', 0.0, 75)
2018-05-03 21:07:59,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,159 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-01-31', 0.07, 60)
2018-05-03 21:07:59,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,165 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-01', 0.0, 62)
2018-05-03 21:07:59,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,173 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-02', 0.0, 67)
2018-05-03 21:07:59,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,183 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-03', 0.0, 68)
2018-05-03 21:07:59,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,187 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-04', 0.0, 62)
2018-05-03 21:07:59,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,190 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-05', 0.0, 65)
2018-05-03 21:07:59,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,195 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-06', 0.0, 75)
2018-05-03 21:07:59,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,199 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-07', 1.33, 67)
2018-05-03 21:07:59,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,202 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-08', 1.43, 70)
2018-05-03 21:07:59,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:59,204 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-09', 0.0, 69)
2018-05-03 21:07:59,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,207 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-10', 0.0, 67)
2018-05-03 21:07:59,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,214 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-11', 0.98, 71)
2018-05-03 21:07:59,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,217 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-12', 0.98, 68)
2018-05-03 21:07:59,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,223 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-13', 1.47, 72)
2018-05-03 21:07:59,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,229 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-14', 0.0, 67)
2018-05-03 21:07:59,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,233 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-15', 0.0, 69)
2018-05-03 21:07:59,234 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,238 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-16', 0.84, 73)
2018-05-03 21:07:59,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,243 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-17', 0.07, 72)
2018-05-03 21:07:59,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,251 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-18', 0.53, 74)
2018-05-03 21:07:59,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,254 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-19', 0.0, 73)
2018-05-03 21:07:59,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,259 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-20', 2.69, 73)
2018-05-03 21:07:59,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,262 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-21', 0.01, 67)
2018-05-03 21:07:59,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,265 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-22', 0.03, 70)
2018-05-03 21:07:59,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,267 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-23', 0.0, 69)
2018-05-03 21:07:59,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,270 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-24', 1.06, 67)
2018-05-03 21:07:59,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,272 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-25', 0.03, 63)
2018-05-03 21:07:59,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,277 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-26', 0.0, 73)
2018-05-03 21:07:59,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,289 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-27', 0.01, 74)
2018-05-03 21:07:59,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,296 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-02-28', 0.0, 66)
2018-05-03 21:07:59,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,304 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-01', 0.03, 66)
2018-05-03 21:07:59,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,308 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-02', 0.0, 68)
2018-05-03 21:07:59,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,314 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-03', 0.69, 69)
2018-05-03 21:07:59,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,318 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-04', 1.25, 70)
2018-05-03 21:07:59,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,321 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-05', 0.26, 67)
2018-05-03 21:07:59,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,326 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-06', 1.51, 74)
2018-05-03 21:07:59,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,331 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-07', 0.01, 73)
2018-05-03 21:07:59,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,335 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-08', 0.39, 69)
2018-05-03 21:07:59,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,338 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-09', 0.01, 72)
2018-05-03 21:07:59,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,343 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-10', 2.39, 70)
2018-05-03 21:07:59,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,349 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-11', 0.34, 70)
2018-05-03 21:07:59,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,352 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-12', 0.01, 76)
2018-05-03 21:07:59,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,355 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-13', 0.01, 72)
2018-05-03 21:07:59,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,359 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-14', 0.0, 65)
2018-05-03 21:07:59,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,366 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-15', 0.0, 67)
2018-05-03 21:07:59,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,369 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-16', 0.0, 73)
2018-05-03 21:07:59,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:59,372 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-17', 0.04, 71)
2018-05-03 21:07:59,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,377 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-18', 0.09, 73)
2018-05-03 21:07:59,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,383 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-19', 0.17, 71)
2018-05-03 21:07:59,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,387 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-20', 0.17, 72)
2018-05-03 21:07:59,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,390 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-21', 0.0, 71)
2018-05-03 21:07:59,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,400 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-22', 0.1, 70)
2018-05-03 21:07:59,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,403 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-23', 0.17, 72)
2018-05-03 21:07:59,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,407 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-24', 0.21, 71)
2018-05-03 21:07:59,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,417 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-25', 0.02, 74)
2018-05-03 21:07:59,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,420 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-26', 0.02, 73)
2018-05-03 21:07:59,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,424 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-27', 0.1, 73)
2018-05-03 21:07:59,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,429 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-28', 0.0, 71)
2018-05-03 21:07:59,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,435 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-29', 0.09, 70)
2018-05-03 21:07:59,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,439 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-30', 0.04, 76)
2018-05-03 21:07:59,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,464 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-03-31', 0.0, 71)
2018-05-03 21:07:59,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,467 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-01', 0.4, 71)
2018-05-03 21:07:59,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,472 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-02', 0.09, 68)
2018-05-03 21:07:59,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,480 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-03', 0.01, 73)
2018-05-03 21:07:59,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,487 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-04', 0.01, 72)
2018-05-03 21:07:59,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,490 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-05', 0.01, 71)
2018-05-03 21:07:59,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,499 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-06', 0.25, 68)
2018-05-03 21:07:59,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,506 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-07', 0.95, 66)
2018-05-03 21:07:59,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,511 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-08', 0.5, 67)
2018-05-03 21:07:59,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,518 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-09', 0.32, 76)
2018-05-03 21:07:59,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,522 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-10', 0.0, 74)
2018-05-03 21:07:59,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,528 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-11', 0.0, 73)
2018-05-03 21:07:59,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,533 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-12', 0.0, 72)
2018-05-03 21:07:59,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,537 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-13', 0.03, 65)
2018-05-03 21:07:59,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,540 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-14', 0.18, 70)
2018-05-03 21:07:59,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,545 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-15', 0.06, 67)
2018-05-03 21:07:59,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,551 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-16', 0.12, 71)
2018-05-03 21:07:59,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,707 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-17', 0.0, 76)
2018-05-03 21:07:59,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,711 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-18', 0.0, 69)
2018-05-03 21:07:59,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,715 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-19', 0.0, 67)
2018-05-03 21:07:59,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,718 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-20', 0.0, 67)
2018-05-03 21:07:59,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,721 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-21', 0.0, 67)
2018-05-03 21:07:59,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,723 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-22', 0.0, 76)
2018-05-03 21:07:59,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,729 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-23', 0.0, 71)
2018-05-03 21:07:59,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,734 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-24', 0.02, 77)
2018-05-03 21:07:59,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,737 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-25', 0.0, 73)
2018-05-03 21:07:59,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,740 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-26', 0.15, 69)
2018-05-03 21:07:59,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,743 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-27', 0.05, 71)
2018-05-03 21:07:59,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,748 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-28', 0.0, 73)
2018-05-03 21:07:59,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,752 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-29', 0.06, 69)
2018-05-03 21:07:59,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,755 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-04-30', 0.41, 68)
2018-05-03 21:07:59,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,757 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-01', 0.03, 71)
2018-05-03 21:07:59,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,761 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-02', 1.58, 70)
2018-05-03 21:07:59,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,767 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-03', 0.4, 69)
2018-05-03 21:07:59,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,770 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-04', 0.14, 72)
2018-05-03 21:07:59,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,772 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-05', 0.16, 71)
2018-05-03 21:07:59,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,775 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-06', 0.94, 68)
2018-05-03 21:07:59,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,779 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-07', 1.5, 70)
2018-05-03 21:07:59,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,782 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-08', 3.14, 73)
2018-05-03 21:07:59,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,784 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-09', 1.18, 73)
2018-05-03 21:07:59,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,786 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-10', 0.36, 74)
2018-05-03 21:07:59,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,789 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-11', 1.33, 72)
2018-05-03 21:07:59,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,791 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-12', 0.14, 70)
2018-05-03 21:07:59,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,794 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-13', 0.02, 74)
2018-05-03 21:07:59,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,797 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-14', 0.0, 79)
2018-05-03 21:07:59,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,800 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-15', 0.0, 75)
2018-05-03 21:07:59,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,802 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-16', 0.0, 73)
2018-05-03 21:07:59,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,804 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-17', 0.05, 68)
2018-05-03 21:07:59,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,806 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-18', 0.64, 69)
2018-05-03 21:07:59,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,814 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-19', 0.11, 67)
2018-05-03 21:07:59,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,818 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-20', 0.01, 73)
2018-05-03 21:07:59,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,820 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-21', 0.09, 72)
2018-05-03 21:07:59,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,823 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-22', 0.06, 76)
2018-05-03 21:07:59,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,825 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-23', 0.1, 72)
2018-05-03 21:07:59,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,830 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-24', 0.0, 73)
2018-05-03 21:07:59,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,834 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-25', 0.01, 72)
2018-05-03 21:07:59,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,837 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-26', 0.01, 73)
2018-05-03 21:07:59,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:59,839 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-27', 0.23, 73)
2018-05-03 21:07:59,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,843 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-28', 0.03, 74)
2018-05-03 21:07:59,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,847 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-29', 0.08, 78)
2018-05-03 21:07:59,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,850 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-30', 0.02, 72)
2018-05-03 21:07:59,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,852 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-05-31', 0.01, 72)
2018-05-03 21:07:59,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,854 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-01', 0.22, 72)
2018-05-03 21:07:59,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,857 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-02', 0.42, 73)
2018-05-03 21:07:59,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,860 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-03', 0.33, 73)
2018-05-03 21:07:59,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,867 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-08', 0.03, 77)
2018-05-03 21:07:59,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,870 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-09', 0.05, 76)
2018-05-03 21:07:59,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,872 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-10', 0.03, 79)
2018-05-03 21:07:59,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,874 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-11', 0.03, 78)
2018-05-03 21:07:59,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,878 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-12', 0.32, 82)
2018-05-03 21:07:59,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,883 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-13', 0.05, 79)
2018-05-03 21:07:59,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,886 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-14', 0.16, 76)
2018-05-03 21:07:59,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,887 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-15', 0.0, 74)
2018-05-03 21:07:59,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,890 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-16', 0.06, 74)
2018-05-03 21:07:59,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,891 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-17', 0.03, 73)
2018-05-03 21:07:59,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,896 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-18', 0.01, 79)
2018-05-03 21:07:59,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,901 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-19', 0.14, 77)
2018-05-03 21:07:59,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,904 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-20', 0.05, 73)
2018-05-03 21:07:59,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,906 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-21', 0.57, 72)
2018-05-03 21:07:59,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,910 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-22', 0.61, 72)
2018-05-03 21:07:59,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,916 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-23', 0.06, 73)
2018-05-03 21:07:59,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,918 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-24', 0.81, 74)
2018-05-03 21:07:59,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,921 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-25', 0.01, 77)
2018-05-03 21:07:59,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,924 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-26', 0.11, 73)
2018-05-03 21:07:59,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,928 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-27', 0.09, 73)
2018-05-03 21:07:59,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,933 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-28', 0.12, 72)
2018-05-03 21:07:59,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,936 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-29', 0.08, 72)
2018-05-03 21:07:59,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,938 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-06-30', 0.03, 67)
2018-05-03 21:07:59,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,941 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-01', 0.02, 72)
2018-05-03 21:07:59,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,945 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-02', 0.02, 75)
2018-05-03 21:07:59,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,954 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-03', 0.0, 76)
2018-05-03 21:07:59,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,957 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-04', 0.02, 76)
2018-05-03 21:07:59,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,967 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-05', 0.06, 77)
2018-05-03 21:07:59,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:07:59,969 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-06', 0.03, 73)
2018-05-03 21:07:59,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,972 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-07', 0.15, 72)
2018-05-03 21:07:59,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,975 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-08', 0.09, 74)
2018-05-03 21:07:59,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,979 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-09', 0.05, 79)
2018-05-03 21:07:59,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,983 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-10', 0.04, 77)
2018-05-03 21:07:59,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,986 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-11', 0.08, 71)
2018-05-03 21:07:59,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,988 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-12', 0.01, 72)
2018-05-03 21:07:59,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,991 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-13', 0.01, 73)
2018-05-03 21:07:59,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,995 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-14', 0.06, 72)
2018-05-03 21:07:59,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:07:59,999 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-15', 0.22, 72)
2018-05-03 21:08:00,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,002 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-16', 0.05, 75)
2018-05-03 21:08:00,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,004 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-17', 0.17, 77)
2018-05-03 21:08:00,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,018 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-18', 0.04, 73)
2018-05-03 21:08:00,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,021 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-19', 0.0, 73)
2018-05-03 21:08:00,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,024 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-20', 0.06, 71)
2018-05-03 21:08:00,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,034 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-21', 0.28, 73)
2018-05-03 21:08:00,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,039 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-22', 0.12, 74)
2018-05-03 21:08:00,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,044 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-23', 0.01, 79)
2018-05-03 21:08:00,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,049 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-24', 0.02, 77)
2018-05-03 21:08:00,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,052 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-25', 0.24, 69)
2018-05-03 21:08:00,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,054 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-26', 0.02, 73)
2018-05-03 21:08:00,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,057 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-27', 0.25, 73)
2018-05-03 21:08:00,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,061 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-28', 0.09, 73)
2018-05-03 21:08:00,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,065 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-29', 0.07, 72)
2018-05-03 21:08:00,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,193 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-30', 0.85, 77)
2018-05-03 21:08:00,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,197 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-07-31', 0.0, 76)
2018-05-03 21:08:00,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,203 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-01', 0.0, 73)
2018-05-03 21:08:00,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,206 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-02', 0.08, 74)
2018-05-03 21:08:00,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,209 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-03', 0.05, 77)
2018-05-03 21:08:00,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,212 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-04', 0.12, 75)
2018-05-03 21:08:00,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,215 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-05', 0.07, 75)
2018-05-03 21:08:00,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,217 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-06', 0.02, 78)
2018-05-03 21:08:00,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,220 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-07', 0.08, 79)
2018-05-03 21:08:00,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,222 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-08', 0.0, 78)
2018-05-03 21:08:00,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,224 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-09', 0.42, 73)
2018-05-03 21:08:00,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,228 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-10', 0.01, 79)
2018-05-03 21:08:00,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:00,232 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-11', 0.0, 80)
2018-05-03 21:08:00,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,234 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-12', 0.02, 78)
2018-05-03 21:08:00,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,237 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-13', 0.11, 73)
2018-05-03 21:08:00,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,239 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-14', 0.08, 77)
2018-05-03 21:08:00,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,243 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-15', 0.01, 80)
2018-05-03 21:08:00,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,247 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-16', 0.05, 77)
2018-05-03 21:08:00,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,251 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-17', 0.05, 77)
2018-05-03 21:08:00,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,254 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-18', 0.0, 77)
2018-05-03 21:08:00,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,257 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-19', 0.04, 78)
2018-05-03 21:08:00,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,260 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-20', 0.07, 81)
2018-05-03 21:08:00,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,266 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-21', 0.25, 75)
2018-05-03 21:08:00,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,270 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-22', 0.18, 75)
2018-05-03 21:08:00,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,273 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-23', 0.17, 76)
2018-05-03 21:08:00,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,275 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-24', 0.03, 75)
2018-05-03 21:08:00,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,279 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-25', 0.01, 79)
2018-05-03 21:08:00,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,283 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-26', 0.04, 78)
2018-05-03 21:08:00,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,285 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-27', 0.03, 78)
2018-05-03 21:08:00,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,287 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-28', 0.41, 78)
2018-05-03 21:08:00,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,289 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-29', 0.07, 78)
2018-05-03 21:08:00,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,292 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-30', 0.17, 76)
2018-05-03 21:08:00,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,296 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-08-31', 0.07, 77)
2018-05-03 21:08:00,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,299 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-01', 0.09, 81)
2018-05-03 21:08:00,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,302 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-02', 0.14, 78)
2018-05-03 21:08:00,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,304 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-03', 0.0, 78)
2018-05-03 21:08:00,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,306 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-04', 0.0, 80)
2018-05-03 21:08:00,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,308 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-05', 0.03, 77)
2018-05-03 21:08:00,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,312 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-06', 0.03, 70)
2018-05-03 21:08:00,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,316 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-07', 0.0, 67)
2018-05-03 21:08:00,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,319 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-08', 0.08, 68)
2018-05-03 21:08:00,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,322 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-09', 0.0, 71)
2018-05-03 21:08:00,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,324 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-10', 0.36, 70)
2018-05-03 21:08:00,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,327 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-11', 0.18, 77)
2018-05-03 21:08:00,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,333 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-12', 0.0, 72)
2018-05-03 21:08:00,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,335 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-13', 0.01, 70)
2018-05-03 21:08:00,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,337 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-14', 0.11, 71)
2018-05-03 21:08:00,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,340 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-15', 0.09, 73)
2018-05-03 21:08:00,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:00,342 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-16', 1.25, 74)
2018-05-03 21:08:00,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,347 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-17', 0.09, 74)
2018-05-03 21:08:00,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,352 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-18', 0.42, 76)
2018-05-03 21:08:00,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,355 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-19', 0.14, 74)
2018-05-03 21:08:00,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,357 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-20', 0.03, 74)
2018-05-03 21:08:00,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,359 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-21', 0.02, 74)
2018-05-03 21:08:00,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,364 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-22', 0.16, 70)
2018-05-03 21:08:00,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,366 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-23', 0.0, 72)
2018-05-03 21:08:00,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,369 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-24', 0.02, 79)
2018-05-03 21:08:00,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,371 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-25', 0.0, 73)
2018-05-03 21:08:00,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,373 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-26', 0.0, 66)
2018-05-03 21:08:00,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,376 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-27', 0.0, 69)
2018-05-03 21:08:00,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,380 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-28', 0.1, 72)
2018-05-03 21:08:00,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,383 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-29', 0.03, 73)
2018-05-03 21:08:00,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,386 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-09-30', 0.08, 71)
2018-05-03 21:08:00,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,387 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-01', 0.01, 77)
2018-05-03 21:08:00,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,390 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-02', 0.0, 77)
2018-05-03 21:08:00,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,396 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-03', 0.0, 74)
2018-05-03 21:08:00,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,401 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-04', 0.05, 73)
2018-05-03 21:08:00,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,404 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-05', 0.14, 74)
2018-05-03 21:08:00,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,407 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-06', 0.02, 71)
2018-05-03 21:08:00,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,414 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-07', 0.15, 74)
2018-05-03 21:08:00,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,420 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-08', 0.13, 75)
2018-05-03 21:08:00,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,423 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-09', 0.07, 73)
2018-05-03 21:08:00,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,426 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-10', 0.0, 73)
2018-05-03 21:08:00,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,430 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-11', 0.08, 71)
2018-05-03 21:08:00,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,434 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-12', 0.01, 68)
2018-05-03 21:08:00,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,437 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-13', 0.06, 69)
2018-05-03 21:08:00,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,439 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-14', 0.01, 71)
2018-05-03 21:08:00,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,442 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-15', 0.22, 75)
2018-05-03 21:08:00,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,446 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-16', 0.06, 74)
2018-05-03 21:08:00,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,451 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-17', 0.0, 68)
2018-05-03 21:08:00,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,454 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-18', 0.01, 67)
2018-05-03 21:08:00,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,456 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-19', 0.38, 67)
2018-05-03 21:08:00,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,460 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-20', 0.13, 69)
2018-05-03 21:08:00,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,465 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-21', 0.0, 73)
2018-05-03 21:08:00,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:00,468 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-22', 0.34, 71)
2018-05-03 21:08:00,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,470 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-23', 1.48, 72)
2018-05-03 21:08:00,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,473 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-24', 2.4, 69)
2018-05-03 21:08:00,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,475 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-25', 0.03, 71)
2018-05-03 21:08:00,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,480 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-26', 0.0, 71)
2018-05-03 21:08:00,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,486 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-27', 0.0, 69)
2018-05-03 21:08:00,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,489 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-28', 0.3, 69)
2018-05-03 21:08:00,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,491 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-29', 0.09, 71)
2018-05-03 21:08:00,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,495 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-30', 0.03, 70)
2018-05-03 21:08:00,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,500 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-10-31', 0.55, 69)
2018-05-03 21:08:00,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,503 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-01', 1.68, 75)
2018-05-03 21:08:00,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,507 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-02', 0.03, 72)
2018-05-03 21:08:00,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,510 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-03', 0.29, 72)
2018-05-03 21:08:00,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,516 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-04', 1.27, 71)
2018-05-03 21:08:00,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,519 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-05', 0.1, 73)
2018-05-03 21:08:00,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,522 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-06', 0.12, 75)
2018-05-03 21:08:00,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,642 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-07', 0.05, 71)
2018-05-03 21:08:00,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,646 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-08', 0.08, 71)
2018-05-03 21:08:00,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,652 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-09', 0.06, 71)
2018-05-03 21:08:00,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,656 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-10', 0.0, 71)
2018-05-03 21:08:00,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,658 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-11', 0.0, 70)
2018-05-03 21:08:00,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,664 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-12', 0.02, 73)
2018-05-03 21:08:00,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,674 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-13', 0.08, 71)
2018-05-03 21:08:00,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,679 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-14', 0.01, 68)
2018-05-03 21:08:00,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,688 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-15', 0.0, 68)
2018-05-03 21:08:00,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,690 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-16', 0.0, 70)
2018-05-03 21:08:00,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,694 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-17', 0.01, 71)
2018-05-03 21:08:00,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,698 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-18', 0.04, 73)
2018-05-03 21:08:00,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,700 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-19', 0.26, 74)
2018-05-03 21:08:00,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,702 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-20', 0.06, 72)
2018-05-03 21:08:00,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,705 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-21', 0.22, 71)
2018-05-03 21:08:00,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,707 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-22', 0.05, 70)
2018-05-03 21:08:00,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,711 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-23', 0.01, 72)
2018-05-03 21:08:00,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,718 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-24', 0.0, 72)
2018-05-03 21:08:00,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,721 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-25', 0.0, 70)
2018-05-03 21:08:00,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,723 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-26', 0.0, 73)
2018-05-03 21:08:00,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:00,726 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-27', 0.01, 71)
2018-05-03 21:08:00,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,730 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-28', 0.0, 69)
2018-05-03 21:08:00,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,733 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-29', 0.01, 67)
2018-05-03 21:08:00,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,736 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-11-30', 0.54, 68)
2018-05-03 21:08:00,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,738 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-01', 0.05, 67)
2018-05-03 21:08:00,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,740 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-02', 0.29, 69)
2018-05-03 21:08:00,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,743 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-03', 0.07, 72)
2018-05-03 21:08:00,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,747 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-04', 0.02, 74)
2018-05-03 21:08:00,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,750 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-05', 0.01, 71)
2018-05-03 21:08:00,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,752 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-06', 0.0, 70)
2018-05-03 21:08:00,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,755 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-07', 0.05, 68)
2018-05-03 21:08:00,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,757 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-08', 0.0, 70)
2018-05-03 21:08:00,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,759 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-09', 0.1, 66)
2018-05-03 21:08:00,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,763 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-10', 0.23, 72)
2018-05-03 21:08:00,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,766 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-11', 1.16, 70)
2018-05-03 21:08:00,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,769 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-12', 0.65, 70)
2018-05-03 21:08:00,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,771 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-13', 1.02, 70)
2018-05-03 21:08:00,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,774 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-14', 0.07, 70)
2018-05-03 21:08:00,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,777 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-15', 0.3, 73)
2018-05-03 21:08:00,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,782 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-16', 0.03, 71)
2018-05-03 21:08:00,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,784 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-17', 0.38, 69)
2018-05-03 21:08:00,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,786 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-18', 0.1, 73)
2018-05-03 21:08:00,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,788 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-19', 0.29, 72)
2018-05-03 21:08:00,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,792 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-20', 0.01, 71)
2018-05-03 21:08:00,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,798 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-21', 0.58, 69)
2018-05-03 21:08:00,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,801 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-22', 0.11, 70)
2018-05-03 21:08:00,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,805 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-23', 0.12, 69)
2018-05-03 21:08:00,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,807 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-24', 0.11, 70)
2018-05-03 21:08:00,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,810 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-25', 0.04, 75)
2018-05-03 21:08:00,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,819 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-26', 0.0, 71)
2018-05-03 21:08:00,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,822 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-27', 0.05, 70)
2018-05-03 21:08:00,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,824 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-28', 0.02, 69)
2018-05-03 21:08:00,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,827 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-29', 0.0, 71)
2018-05-03 21:08:00,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,832 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-30', 0.01, 65)
2018-05-03 21:08:00,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,834 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2011-12-31', 0.1, 67)
2018-05-03 21:08:00,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,837 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-01', 0.05, 71)
2018-05-03 21:08:00,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:00,839 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-02', 0.15, 71)
2018-05-03 21:08:00,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,842 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-03', 0.0, 63)
2018-05-03 21:08:00,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,846 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-04', 0.0, 68)
2018-05-03 21:08:00,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,850 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-05', 0.05, 70)
2018-05-03 21:08:00,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,853 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-06', 0.0, 66)
2018-05-03 21:08:00,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,855 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-07', 0.0, 71)
2018-05-03 21:08:00,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,858 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-08', 0.0, 63)
2018-05-03 21:08:00,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,860 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-09', 0.03, 65)
2018-05-03 21:08:00,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,866 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-10', 0.0, 69)
2018-05-03 21:08:00,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,868 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-11', 0.0, 67)
2018-05-03 21:08:00,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,870 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-12', 0.07, 62)
2018-05-03 21:08:00,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,872 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-13', 0.0, 66)
2018-05-03 21:08:00,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,875 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-14', 0.0, 64)
2018-05-03 21:08:00,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,878 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-15', 0.0, 74)
2018-05-03 21:08:00,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,882 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-16', 0.46, 73)
2018-05-03 21:08:00,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,885 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-17', 0.08, 74)
2018-05-03 21:08:00,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,888 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-18', 0.01, 75)
2018-05-03 21:08:00,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,890 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-19', 0.01, 71)
2018-05-03 21:08:00,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,892 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-20', 0.0, 66)
2018-05-03 21:08:00,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,898 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-21', 0.0, 73)
2018-05-03 21:08:00,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,901 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-22', 0.0, 72)
2018-05-03 21:08:00,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,904 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-23', 0.24, 64)
2018-05-03 21:08:00,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,907 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-24', 0.0, 61)
2018-05-03 21:08:00,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,911 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-25', 1.67, 68)
2018-05-03 21:08:00,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,915 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-26', 0.0, 72)
2018-05-03 21:08:00,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,918 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-27', 0.0, 72)
2018-05-03 21:08:00,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,921 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-28', 0.17, 73)
2018-05-03 21:08:00,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,923 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-29', 0.05, 73)
2018-05-03 21:08:00,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,926 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-30', 0.14, 63)
2018-05-03 21:08:00,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,929 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-01-31', 0.01, 67)
2018-05-03 21:08:00,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,933 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-01', 0.0, 63)
2018-05-03 21:08:00,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,936 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-02', 0.0, 68)
2018-05-03 21:08:00,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,938 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-03', 0.0, 61)
2018-05-03 21:08:00,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,941 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-04', 0.0, 72)
2018-05-03 21:08:00,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,944 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-05', 0.0, 71)
2018-05-03 21:08:00,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,949 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-06', 0.0, 66)
2018-05-03 21:08:00,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,952 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-07', 0.62, 70)
2018-05-03 21:08:00,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,955 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-08', 0.49, 61)
2018-05-03 21:08:00,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,966 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-09', 0.01, 60)
2018-05-03 21:08:00,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,969 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-10', 0.0, 63)
2018-05-03 21:08:00,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,971 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-11', 0.0, 70)
2018-05-03 21:08:00,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,974 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-12', 0.0, 72)
2018-05-03 21:08:00,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,979 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-13', 0.02, 70)
2018-05-03 21:08:00,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:00,986 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-14', 0.0, 67)
2018-05-03 21:08:01,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,144 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-15', 0.01, 66)
2018-05-03 21:08:01,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,149 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-16', 0.0, 71)
2018-05-03 21:08:01,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,153 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-17', 0.04, 69)
2018-05-03 21:08:01,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,156 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-18', 0.12, 70)
2018-05-03 21:08:01,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,159 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-19', 0.6, 69)
2018-05-03 21:08:01,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,162 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-20', 0.0, 73)
2018-05-03 21:08:01,168 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,170 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-21', 0.0, 71)
2018-05-03 21:08:01,171 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,173 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-22', 0.03, 70)
2018-05-03 21:08:01,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,176 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-23', 0.19, 70)
2018-05-03 21:08:01,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,179 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-24', 0.05, 69)
2018-05-03 21:08:01,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,184 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-25', 0.0, 71)
2018-05-03 21:08:01,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,187 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-26', 0.85, 70)
2018-05-03 21:08:01,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,190 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-27', 0.02, 69)
2018-05-03 21:08:01,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,192 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-28', 0.05, 70)
2018-05-03 21:08:01,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,201 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-02-29', 0.04, 70)
2018-05-03 21:08:01,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,203 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-01', 0.0, 71)
2018-05-03 21:08:01,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,207 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-02', 0.0, 68)
2018-05-03 21:08:01,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,209 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-03', 4.68, 71)
2018-05-03 21:08:01,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,215 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-04', 0.07, 69)
2018-05-03 21:08:01,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,218 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-05', 6.24, 65)
2018-05-03 21:08:01,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,220 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-06', 2.59, 66)
2018-05-03 21:08:01,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,223 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-07', 1.68, 66)
2018-05-03 21:08:01,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,225 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-08', 0.53, 68)
2018-05-03 21:08:01,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,228 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-09', 1.44, 68)
2018-05-03 21:08:01,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,232 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-10', 3.47, 73)
2018-05-03 21:08:01,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,237 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-11', 0.14, 72)
2018-05-03 21:08:01,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,240 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-12', 0.23, 70)
2018-05-03 21:08:01,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:01,243 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-13', 0.0, 69)
2018-05-03 21:08:01,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,249 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-14', 0.02, 69)
2018-05-03 21:08:01,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,252 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-15', 0.0, 68)
2018-05-03 21:08:01,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,254 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-16', 0.04, 70)
2018-05-03 21:08:01,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,257 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-17', 0.02, 75)
2018-05-03 21:08:01,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,259 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-18', 0.1, 69)
2018-05-03 21:08:01,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,264 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-19', 0.29, 69)
2018-05-03 21:08:01,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,269 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-20', 0.12, 64)
2018-05-03 21:08:01,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,272 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-21', 0.0, 68)
2018-05-03 21:08:01,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,275 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-22', 0.2, 68)
2018-05-03 21:08:01,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,280 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-23', 0.01, 69)
2018-05-03 21:08:01,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,284 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-24', 0.12, 72)
2018-05-03 21:08:01,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,286 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-03-25', 0.32, 70)
2018-05-03 21:08:01,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,449 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-04-28', 0.12, 77)
2018-05-03 21:08:01,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,454 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-04-29', 0.0, 74)
2018-05-03 21:08:01,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,458 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-04-30', 0.05, 71)
2018-05-03 21:08:01,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,467 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-01', 0.0, 70)
2018-05-03 21:08:01,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,469 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-02', 0.18, 70)
2018-05-03 21:08:01,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,472 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-03', 0.14, 70)
2018-05-03 21:08:01,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,475 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-04', 0.18, 70)
2018-05-03 21:08:01,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,479 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-05', 0.18, 75)
2018-05-03 21:08:01,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,484 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-06', 0.01, 74)
2018-05-03 21:08:01,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,486 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-07', 0.06, 71)
2018-05-03 21:08:01,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,490 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-08', 0.02, 71)
2018-05-03 21:08:01,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,496 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-09', 0.01, 69)
2018-05-03 21:08:01,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,501 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-10', 0.0, 76)
2018-05-03 21:08:01,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,503 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-11', 0.06, 76)
2018-05-03 21:08:01,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,506 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-12', 0.0, 77)
2018-05-03 21:08:01,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,509 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-13', 0.0, 74)
2018-05-03 21:08:01,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,516 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-14', 0.0, 77)
2018-05-03 21:08:01,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,519 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-15', 0.0, 63)
2018-05-03 21:08:01,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,522 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-16', 0.01, 69)
2018-05-03 21:08:01,524 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,527 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-17', 0.02, 72)
2018-05-03 21:08:01,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,535 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-18', 0.05, 72)
2018-05-03 21:08:01,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,539 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-19', 0.16, 76)
2018-05-03 21:08:01,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:01,541 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-20', 0.0, 78)
2018-05-03 21:08:01,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,546 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-21', 0.08, 71)
2018-05-03 21:08:01,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,550 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-22', 0.0, 70)
2018-05-03 21:08:01,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,554 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-23', 0.0, 73)
2018-05-03 21:08:01,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,557 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-24', 0.01, 73)
2018-05-03 21:08:01,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,710 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-25', 0.02, 71)
2018-05-03 21:08:01,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,718 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-26', 0.08, 74)
2018-05-03 21:08:01,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,721 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-27', 0.02, 74)
2018-05-03 21:08:01,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,723 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-28', 0.06, 75)
2018-05-03 21:08:01,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,726 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-29', 0.0, 72)
2018-05-03 21:08:01,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,730 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-30', 0.01, 71)
2018-05-03 21:08:01,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,734 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-05-31', 0.02, 71)
2018-05-03 21:08:01,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,737 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-01', 0.02, 71)
2018-05-03 21:08:01,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,739 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-02', 0.08, 73)
2018-05-03 21:08:01,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,741 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-03', 0.0, 78)
2018-05-03 21:08:01,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,744 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-04', 0.0, 71)
2018-05-03 21:08:01,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,749 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-05', 0.0, 72)
2018-05-03 21:08:01,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,751 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-06', 0.1, 70)
2018-05-03 21:08:01,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,754 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-07', 0.07, 72)
2018-05-03 21:08:01,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,757 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-08', 0.01, 73)
2018-05-03 21:08:01,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,760 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-09', 0.0, 74)
2018-05-03 21:08:01,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,766 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-10', 0.0, 81)
2018-05-03 21:08:01,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,768 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-11', 0.11, 72)
2018-05-03 21:08:01,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,771 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-12', 0.16, 77)
2018-05-03 21:08:01,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,773 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-13', 0.07, 69)
2018-05-03 21:08:01,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,776 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-14', 0.21, 69)
2018-05-03 21:08:01,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,781 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-15', 0.0, 69)
2018-05-03 21:08:01,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,785 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-16', 0.0, 78)
2018-05-03 21:08:01,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,789 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-17', 0.02, 78)
2018-05-03 21:08:01,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,792 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-18', 0.0, 73)
2018-05-03 21:08:01,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,796 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-19', 0.02, 72)
2018-05-03 21:08:01,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,802 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-20', 0.33, 71)
2018-05-03 21:08:01,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,806 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-21', 0.26, 72)
2018-05-03 21:08:01,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,809 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-22', 0.03, 72)
2018-05-03 21:08:01,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,814 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-23', 0.35, 73)
2018-05-03 21:08:01,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,817 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-24', 0.14, 71)
2018-05-03 21:08:01,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:01,820 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-25', 0.13, 70)
2018-05-03 21:08:01,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,822 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-26', 0.22, 71)
2018-05-03 21:08:01,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,824 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-27', 0.43, 68)
2018-05-03 21:08:01,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,826 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-28', 0.01, 72)
2018-05-03 21:08:01,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,830 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-29', 0.14, 71)
2018-05-03 21:08:01,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,834 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-06-30', 0.01, 78)
2018-05-03 21:08:01,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,836 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-01', 0.14, 77)
2018-05-03 21:08:01,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,838 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-02', 0.23, 73)
2018-05-03 21:08:01,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,840 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-03', 0.55, 71)
2018-05-03 21:08:01,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,842 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-04', 0.3, 74)
2018-05-03 21:08:01,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,846 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-05', 0.18, 76)
2018-05-03 21:08:01,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,850 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-06', 0.14, 76)
2018-05-03 21:08:01,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,852 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-07', 0.21, 74)
2018-05-03 21:08:01,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,855 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-08', 0.0, 77)
2018-05-03 21:08:01,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,857 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-09', 0.0, 73)
2018-05-03 21:08:01,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,859 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-10', 0.01, 71)
2018-05-03 21:08:01,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,862 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-11', 0.01, 71)
2018-05-03 21:08:01,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,866 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-12', 0.0, 72)
2018-05-03 21:08:01,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,869 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-13', 0.23, 72)
2018-05-03 21:08:01,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,871 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-14', 0.14, 73)
2018-05-03 21:08:01,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,874 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-15', 0.02, 80)
2018-05-03 21:08:01,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,876 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-16', 0.13, 72)
2018-05-03 21:08:01,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,881 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-17', 0.21, 72)
2018-05-03 21:08:01,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,885 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-18', 0.12, 73)
2018-05-03 21:08:01,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,889 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-19', 0.13, 72)
2018-05-03 21:08:01,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,891 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-20', 0.08, 69)
2018-05-03 21:08:01,892 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,894 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-21', 0.23, 69)
2018-05-03 21:08:01,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,898 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-22', 0.03, 75)
2018-05-03 21:08:01,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,905 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-23', 0.18, 72)
2018-05-03 21:08:01,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,907 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-24', 0.01, 73)
2018-05-03 21:08:01,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,911 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-25', 0.04, 73)
2018-05-03 21:08:01,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,917 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-26', 0.0, 72)
2018-05-03 21:08:01,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,920 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-27', 0.0, 71)
2018-05-03 21:08:01,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,923 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-28', 0.42, 73)
2018-05-03 21:08:01,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,925 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-29', 0.24, 72)
2018-05-03 21:08:01,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,929 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-30', 0.12, 73)
2018-05-03 21:08:01,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,934 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-07-31', 0.09, 74)
2018-05-03 21:08:01,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,936 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-01', 0.0, 75)
2018-05-03 21:08:01,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,938 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-02', 0.0, 71)
2018-05-03 21:08:01,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,941 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-03', 0.0, 73)
2018-05-03 21:08:01,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,943 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-04', 0.02, 74)
2018-05-03 21:08:01,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,949 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-05', 0.18, 75)
2018-05-03 21:08:01,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,952 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-06', 0.0, 70)
2018-05-03 21:08:01,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,956 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-07', 0.04, 74)
2018-05-03 21:08:01,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,959 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-08', 0.01, 72)
2018-05-03 21:08:01,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,962 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-09', 0.04, 74)
2018-05-03 21:08:01,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,967 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-10', 0.01, 72)
2018-05-03 21:08:01,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,970 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-11', 0.11, 75)
2018-05-03 21:08:01,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,973 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-12', 0.07, 74)
2018-05-03 21:08:01,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,976 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-13', 0.01, 74)
2018-05-03 21:08:01,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,979 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-14', 0.03, 73)
2018-05-03 21:08:01,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,984 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-15', 0.0, 74)
2018-05-03 21:08:01,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,989 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-16', 0.01, 82)
2018-05-03 21:08:01,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,992 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-17', 0.0, 72)
2018-05-03 21:08:01,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:01,996 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-18', 0.28, 77)
2018-05-03 21:08:02,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,003 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-19', 0.04, 73)
2018-05-03 21:08:02,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,007 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-20', 0.02, 73)
2018-05-03 21:08:02,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,010 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-21', 0.0, 73)
2018-05-03 21:08:02,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,016 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-22', 0.68, 71)
2018-05-03 21:08:02,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,018 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-23', 0.06, 74)
2018-05-03 21:08:02,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,021 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-24', 0.01, 73)
2018-05-03 21:08:02,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,024 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-25', 0.0, 75)
2018-05-03 21:08:02,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,026 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-26', 0.0, 82)
2018-05-03 21:08:02,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,030 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-27', 0.03, 73)
2018-05-03 21:08:02,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,034 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-28', 0.76, 79)
2018-05-03 21:08:02,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,037 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-29', 0.3, 72)
2018-05-03 21:08:02,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,040 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-30', 0.32, 77)
2018-05-03 21:08:02,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,042 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-08-31', 0.03, 76)
2018-05-03 21:08:02,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,046 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-01', 0.02, 73)
2018-05-03 21:08:02,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,195 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-02', 0.33, 78)
2018-05-03 21:08:02,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,200 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-03', 0.07, 77)
2018-05-03 21:08:02,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:02,203 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-04', 0.02, 76)
2018-05-03 21:08:02,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,205 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-05', 0.06, 73)
2018-05-03 21:08:02,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,207 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-06', 0.06, 75)
2018-05-03 21:08:02,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,210 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-07', 0.13, 75)
2018-05-03 21:08:02,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,214 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-08', 0.05, 73)
2018-05-03 21:08:02,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,218 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-09', 0.29, 75)
2018-05-03 21:08:02,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,221 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-10', 0.43, 75)
2018-05-03 21:08:02,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,223 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-11', 0.2, 71)
2018-05-03 21:08:02,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,226 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-12', 0.03, 73)
2018-05-03 21:08:02,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,229 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-13', 0.0, 75)
2018-05-03 21:08:02,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,234 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-14', 0.1, 74)
2018-05-03 21:08:02,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,237 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-15', 0.09, 76)
2018-05-03 21:08:02,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,239 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-16', 0.14, 74)
2018-05-03 21:08:02,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,242 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-17', 0.01, 76)
2018-05-03 21:08:02,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,246 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-18', 0.0, 70)
2018-05-03 21:08:02,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,250 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-19', 0.53, 73)
2018-05-03 21:08:02,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,254 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-20', 0.39, 73)
2018-05-03 21:08:02,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,256 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-21', 0.73, 76)
2018-05-03 21:08:02,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,259 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-22', 0.0, 73)
2018-05-03 21:08:02,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,262 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-23', 0.06, 74)
2018-05-03 21:08:02,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,269 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-24', 0.15, 75)
2018-05-03 21:08:02,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,272 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-25', 0.05, 74)
2018-05-03 21:08:02,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,275 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-26', 0.02, 74)
2018-05-03 21:08:02,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,278 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-27', 0.0, 75)
2018-05-03 21:08:02,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,283 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-28', 0.1, 75)
2018-05-03 21:08:02,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,286 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-29', 0.02, 72)
2018-05-03 21:08:02,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,288 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-09-30', 0.01, 73)
2018-05-03 21:08:02,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,290 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-01', 0.12, 70)
2018-05-03 21:08:02,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,292 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-02', 0.12, 71)
2018-05-03 21:08:02,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,295 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-03', 0.0, 70)
2018-05-03 21:08:02,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,300 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-04', 0.0, 69)
2018-05-03 21:08:02,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,302 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-05', 0.0, 67)
2018-05-03 21:08:02,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,305 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-06', 0.0, 70)
2018-05-03 21:08:02,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,307 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-07', 0.0, 72)
2018-05-03 21:08:02,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,309 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-08', 0.12, 74)
2018-05-03 21:08:02,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,312 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-09', 0.01, 74)
2018-05-03 21:08:02,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:02,316 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-10', 0.0, 69)
2018-05-03 21:08:02,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,319 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-11', 0.05, 74)
2018-05-03 21:08:02,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,322 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-12', 0.0, 71)
2018-05-03 21:08:02,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,325 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-13', 0.0, 76)
2018-05-03 21:08:02,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,327 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-14', 0.04, 75)
2018-05-03 21:08:02,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,331 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-15', 0.23, 72)
2018-05-03 21:08:02,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,335 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-16', 0.03, 72)
2018-05-03 21:08:02,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,338 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-17', 0.23, 68)
2018-05-03 21:08:02,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,341 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-18', 0.03, 69)
2018-05-03 21:08:02,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,343 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-19', 0.09, 73)
2018-05-03 21:08:02,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,350 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-20', 0.0, 77)
2018-05-03 21:08:02,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,355 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-21', 0.12, 76)
2018-05-03 21:08:02,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,358 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-22', 0.0, 73)
2018-05-03 21:08:02,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,361 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-23', 0.0, 77)
2018-05-03 21:08:02,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,366 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-24', 0.02, 72)
2018-05-03 21:08:02,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,369 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-25', 0.28, 71)
2018-05-03 21:08:02,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,371 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-26', 0.01, 68)
2018-05-03 21:08:02,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,373 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-27', 0.0, 73)
2018-05-03 21:08:02,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,376 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-28', 0.09, 75)
2018-05-03 21:08:02,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,379 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-29', 0.04, 72)
2018-05-03 21:08:02,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,384 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-30', 0.03, 71)
2018-05-03 21:08:02,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,386 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-10-31', 0.05, 71)
2018-05-03 21:08:02,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,389 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-01', 0.04, 65)
2018-05-03 21:08:02,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,392 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-02', 0.0, 64)
2018-05-03 21:08:02,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,396 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-03', 0.0, 74)
2018-05-03 21:08:02,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,400 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-04', 0.0, 65)
2018-05-03 21:08:02,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,403 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-05', 0.0, 64)
2018-05-03 21:08:02,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,406 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-06', 0.13, 74)
2018-05-03 21:08:02,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,409 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-07', 0.24, 72)
2018-05-03 21:08:02,410 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,412 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-08', 0.01, 72)
2018-05-03 21:08:02,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,417 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-09', 0.08, 73)
2018-05-03 21:08:02,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,420 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-10', 0.07, 72)
2018-05-03 21:08:02,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,422 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-11', 0.0, 74)
2018-05-03 21:08:02,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,425 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-12', 0.0, 73)
2018-05-03 21:08:02,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,428 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-13', 0.02, 73)
2018-05-03 21:08:02,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,433 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-14', 0.12, 73)
2018-05-03 21:08:02,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,436 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-15', 0.11, 71)
2018-05-03 21:08:02,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,439 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-16', 0.17, 68)
2018-05-03 21:08:02,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,441 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-17', 0.13, 69)
2018-05-03 21:08:02,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,443 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-18', 0.19, 75)
2018-05-03 21:08:02,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,447 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-19', 0.19, 71)
2018-05-03 21:08:02,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,451 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-20', 0.0, 72)
2018-05-03 21:08:02,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,455 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-21', 0.0, 69)
2018-05-03 21:08:02,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,458 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-22', 0.2, 65)
2018-05-03 21:08:02,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,462 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-23', 0.02, 66)
2018-05-03 21:08:02,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,467 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-24', 0.06, 74)
2018-05-03 21:08:02,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,471 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-25', 0.01, 71)
2018-05-03 21:08:02,472 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,474 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-26', 0.0, 73)
2018-05-03 21:08:02,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,477 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-27', 0.0, 70)
2018-05-03 21:08:02,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,480 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-28', 0.0, 63)
2018-05-03 21:08:02,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,487 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-29', 0.0, 62)
2018-05-03 21:08:02,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,491 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-11-30', 0.01, 61)
2018-05-03 21:08:02,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,494 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-01', 0.0, 72)
2018-05-03 21:08:02,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,499 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-02', 0.0, 67)
2018-05-03 21:08:02,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,502 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-03', 0.0, 76)
2018-05-03 21:08:02,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,504 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-04', 0.02, 67)
2018-05-03 21:08:02,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,506 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-05', 0.32, 72)
2018-05-03 21:08:02,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,508 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-06', 0.01, 69)
2018-05-03 21:08:02,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,512 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-07', 0.0, 66)
2018-05-03 21:08:02,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,516 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-08', 0.0, 75)
2018-05-03 21:08:02,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,519 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-09', 0.0, 74)
2018-05-03 21:08:02,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,521 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-10', 0.08, 72)
2018-05-03 21:08:02,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,649 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-11', 0.0, 72)
2018-05-03 21:08:02,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,653 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-12', 0.02, 72)
2018-05-03 21:08:02,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,657 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-13', 0.13, 68)
2018-05-03 21:08:02,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,659 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-14', 0.25, 74)
2018-05-03 21:08:02,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,663 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-15', 0.21, 73)
2018-05-03 21:08:02,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,668 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-16', 0.08, 73)
2018-05-03 21:08:02,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,673 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-17', 0.14, 72)
2018-05-03 21:08:02,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,676 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-18', 0.46, 70)
2018-05-03 21:08:02,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,679 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-19', 0.25, 70)

2018-05-03 21:08:02,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,684 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-20', 0.34, 71)
2018-05-03 21:08:02,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,687 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-21', 0.05, 70)
2018-05-03 21:08:02,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,689 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-22', 0.01, 72)
2018-05-03 21:08:02,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,691 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-23', 0.1, 65)
2018-05-03 21:08:02,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,694 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-24', 0.0, 62)
2018-05-03 21:08:02,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,700 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-25', 0.04, 73)
2018-05-03 21:08:02,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,703 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-26', 0.0, 71)
2018-05-03 21:08:02,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,705 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-27', 0.0, 70)
2018-05-03 21:08:02,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,708 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-28', 0.0, 62)
2018-05-03 21:08:02,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,710 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-29', 0.01, 69)
2018-05-03 21:08:02,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,714 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-30', 0.35, 69)
2018-05-03 21:08:02,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,718 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2012-12-31', 0.42, 66)
2018-05-03 21:08:02,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,721 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-01', 0.36, 70)
2018-05-03 21:08:02,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,724 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-02', 0.19, 69)
2018-05-03 21:08:02,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,726 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-03', 0.71, 69)
2018-05-03 21:08:02,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,732 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-04', 0.26, 69)
2018-05-03 21:08:02,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,736 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-05', 0.19, 71)
2018-05-03 21:08:02,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,738 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-06', 0.25, 72)
2018-05-03 21:08:02,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,741 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-07', 0.11, 70)
2018-05-03 21:08:02,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,742 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-08', 0.16, 70)
2018-05-03 21:08:02,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,748 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-09', 0.58, 69)
2018-05-03 21:08:02,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,752 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-10', 0.14, 68)
2018-05-03 21:08:02,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,755 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-11', 0.01, 70)
2018-05-03 21:08:02,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,757 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-12', 0.13, 69)
2018-05-03 21:08:02,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,760 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-13', 0.03, 72)
2018-05-03 21:08:02,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,763 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-14', 0.02, 72)
2018-05-03 21:08:02,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,769 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-15', 0.88, 63)
2018-05-03 21:08:02,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,773 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-16', 0.02, 54)
2018-05-03 21:08:02,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,776 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-17', 0.04, 61)
2018-05-03 21:08:02,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,780 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-18', 0.0, 59)
2018-05-03 21:08:02,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,784 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-19', 0.01, 72)
2018-05-03 21:08:02,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,787 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-20', 0.0, 66)
2018-05-03 21:08:02,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,789 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-21', 0.0, 71)
2018-05-03 21:08:02,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,791 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-22', 0.0, 69)
2018-05-03 21:08:02,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,793 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-23', 0.99, 68)
2018-05-03 21:08:02,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:02,796 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-24', 0.97, 65)
2018-05-03 21:08:02,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,801 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-25', 0.02, 70)
2018-05-03 21:08:02,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,803 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-26', 0.06, 71)
2018-05-03 21:08:02,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,805 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-27', 0.06, 71)
2018-05-03 21:08:02,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,807 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-28', 2.84, 65)
2018-05-03 21:08:02,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,809 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-29', 1.16, 65)
2018-05-03 21:08:02,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,812 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-30', 0.13, 63)
2018-05-03 21:08:02,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,817 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-01-31', 0.02, 68)
2018-05-03 21:08:02,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,819 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-01', 0.02, 69)
2018-05-03 21:08:02,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,822 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-02', 0.0, 74)
2018-05-03 21:08:02,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,824 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-03', 0.0, 66)
2018-05-03 21:08:02,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,826 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-04', 0.0, 70)
2018-05-03 21:08:02,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,831 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-05', 0.02, 70)
2018-05-03 21:08:02,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,835 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-06', 0.0, 70)
2018-05-03 21:08:02,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,839 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-07', 0.26, 69)
2018-05-03 21:08:02,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,842 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-08', 0.07, 69)
2018-05-03 21:08:02,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,845 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-09', 0.0, 67)
2018-05-03 21:08:02,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,849 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-10', 0.0, 73)
2018-05-03 21:08:02,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,853 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-11', 0.14, 71)
2018-05-03 21:08:02,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,856 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-12', 0.06, 68)
2018-05-03 21:08:02,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,859 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-13', 0.05, 68)
2018-05-03 21:08:02,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,863 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-14', 0.0, 67)
2018-05-03 21:08:02,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,869 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-15', 0.01, 70)
2018-05-03 21:08:02,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,873 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-16', 0.06, 70)
2018-05-03 21:08:02,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,876 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-17', 0.0, 71)
2018-05-03 21:08:02,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,879 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-18', 0.0, 71)
2018-05-03 21:08:02,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,884 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-19', 0.06, 72)
2018-05-03 21:08:02,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,886 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-20', 0.29, 72)
2018-05-03 21:08:02,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,888 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-21', 0.14, 69)
2018-05-03 21:08:02,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,891 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-22', 1.02, 69)
2018-05-03 21:08:02,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,894 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-23', 0.43, 69)
2018-05-03 21:08:02,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,899 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-24', 0.24, 70)
2018-05-03 21:08:02,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,903 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-25', 0.01, 71)
2018-05-03 21:08:02,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,907 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-26', 0.24, 70)
2018-05-03 21:08:02,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,910 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-27', 0.01, 72)
2018-05-03 21:08:02,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,915 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-02-28', 0.0, 70)
2018-05-03 21:08:02,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:02,919 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-01', 0.03, 71)
2018-05-03 21:08:02,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,922 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-02', 0.0, 70)
2018-05-03 21:08:02,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,925 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-03', 0.0, 70)
2018-05-03 21:08:02,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,927 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-04', 0.0, 68)
2018-05-03 21:08:02,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,930 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-05', 0.0, 71)
2018-05-03 21:08:02,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,937 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-06', 0.0, 70)
2018-05-03 21:08:02,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,940 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-07', 0.08, 73)
2018-05-03 21:08:02,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,943 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-08', 0.01, 71)
2018-05-03 21:08:02,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,946 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-09', 0.01, 74)
2018-05-03 21:08:02,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,950 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-10', 2.25, 68)
2018-05-03 21:08:02,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,953 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-11', 1.48, 62)
2018-05-03 21:08:02,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,957 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-12', 0.01, 64)
2018-05-03 21:08:02,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,960 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-13', 0.04, 68)
2018-05-03 21:08:02,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,966 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-14', 0.0, 66)
2018-05-03 21:08:02,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,972 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-15', 0.0, 66)
2018-05-03 21:08:02,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,976 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-16', 0.0, 66)
2018-05-03 21:08:02,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,979 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-17', 0.0, 64)
2018-05-03 21:08:02,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,985 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-18', 0.0, 62)
2018-05-03 21:08:02,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,990 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-19', 0.0, 67)
2018-05-03 21:08:02,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:02,993 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-20', 0.0, 67)
2018-05-03 21:08:03,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,139 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-21', 0.0, 63)
2018-05-03 21:08:03,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,142 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-22', 0.09, 74)
2018-05-03 21:08:03,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,146 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-23', 0.16, 69)
2018-05-03 21:08:03,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,152 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-24', 0.86, 68)
2018-05-03 21:08:03,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,155 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-25', 1.03, 69)
2018-05-03 21:08:03,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,157 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-26', 0.02, 70)
2018-05-03 21:08:03,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,159 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-27', 0.04, 71)
2018-05-03 21:08:03,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,162 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-28', 0.52, 70)
2018-05-03 21:08:03,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,171 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-29', 0.28, 70)
2018-05-03 21:08:03,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,174 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-30', 0.18, 72)
2018-05-03 21:08:03,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,176 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-03-31', 0.04, 62)
2018-05-03 21:08:03,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,180 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-01', 0.0, 68)
2018-05-03 21:08:03,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,185 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-02', 0.02, 66)
2018-05-03 21:08:03,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,189 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-03', 0.0, 72)
2018-05-03 21:08:03,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,192 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-04', 0.11, 71)
2018-05-03 21:08:03,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,195 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-05', 0.0, 73)
2018-05-03 21:08:03,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:03,202 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-06', 0.17, 73)
2018-05-03 21:08:03,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,207 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-07', 0.03, 75)
2018-05-03 21:08:03,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,209 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-08', 0.0, 71)
2018-05-03 21:08:03,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,212 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-09', 0.0, 71)
2018-05-03 21:08:03,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,216 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-10', 0.04, 75)
2018-05-03 21:08:03,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,221 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-11', 0.02, 74)
2018-05-03 21:08:03,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,225 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-12', 0.2, 73)
2018-05-03 21:08:03,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,227 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-13', 0.09, 74)
2018-05-03 21:08:03,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,230 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-14', 0.01, 70)
2018-05-03 21:08:03,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,235 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-15', 0.79, 70)
2018-05-03 21:08:03,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,238 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-16', 0.12, 63)
2018-05-03 21:08:03,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,240 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-17', 0.0, 70)
2018-05-03 21:08:03,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,243 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-18', 0.02, 71)
2018-05-03 21:08:03,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,246 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-19', 0.13, 72)
2018-05-03 21:08:03,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,251 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-20', 0.59, 68)
2018-05-03 21:08:03,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,254 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-21', 0.01, 76)
2018-05-03 21:08:03,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,257 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-22', 0.41, 70)
2018-05-03 21:08:03,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,259 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-23', 0.08, 74)
2018-05-03 21:08:03,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,262 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-24', 1.39, 68)
2018-05-03 21:08:03,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,267 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-25', 0.98, 71)
2018-05-03 21:08:03,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,271 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-26', 0.01, 71)
2018-05-03 21:08:03,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,273 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-27', 0.0, 75)
2018-05-03 21:08:03,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,276 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-28', 0.0, 79)
2018-05-03 21:08:03,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,279 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-29', 0.0, 74)
2018-05-03 21:08:03,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,284 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-04-30', 0.0, 67)
2018-05-03 21:08:03,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,287 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-01', 0.0, 70)
2018-05-03 21:08:03,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,290 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-02', 0.0, 73)
2018-05-03 21:08:03,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,293 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-03', 0.02, 70)
2018-05-03 21:08:03,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,296 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-04', 0.0, 76)
2018-05-03 21:08:03,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,307 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-05', 1.95, 75)
2018-05-03 21:08:03,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,310 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-06', 0.36, 69)
2018-05-03 21:08:03,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,316 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-07', 0.02, 64)
2018-05-03 21:08:03,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,322 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-08', 0.0, 65)
2018-05-03 21:08:03,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,325 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-09', 0.0, 67)
2018-05-03 21:08:03,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,327 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-10', 0.0, 71)
2018-05-03 21:08:03,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,333 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-11', 1.57, 74)
2018-05-03 21:08:03,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:03,337 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-12', 1.33, 71)
2018-05-03 21:08:03,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,341 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-13', 3.88, 73)
2018-05-03 21:08:03,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,344 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-14', 0.08, 73)
2018-05-03 21:08:03,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,349 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-15', 0.01, 74)
2018-05-03 21:08:03,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,353 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-16', 0.18, 73)
2018-05-03 21:08:03,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,357 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-17', 0.01, 73)
2018-05-03 21:08:03,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,360 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-18', 0.05, 81)
2018-05-03 21:08:03,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,364 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-19', 0.11, 78)
2018-05-03 21:08:03,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,369 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-20', 0.14, 69)
2018-05-03 21:08:03,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,371 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-21', 0.0, 69)
2018-05-03 21:08:03,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,374 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-22', 0.0, 75)
2018-05-03 21:08:03,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,376 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-23', 0.0, 73)
2018-05-03 21:08:03,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,381 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-24', 0.0, 74)
2018-05-03 21:08:03,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,385 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-25', 0.13, 78)
2018-05-03 21:08:03,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,389 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-26', 0.03, 78)
2018-05-03 21:08:03,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,392 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-27', 0.05, 79)
2018-05-03 21:08:03,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,394 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-28', 0.04, 74)
2018-05-03 21:08:03,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,400 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-29', 1.87, 71)
2018-05-03 21:08:03,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,407 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-30', 4.07, 74)
2018-05-03 21:08:03,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,409 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-05-31', 0.01, 72)
2018-05-03 21:08:03,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,413 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-01', 0.06, 81)
2018-05-03 21:08:03,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,418 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-02', 0.17, 74)
2018-05-03 21:08:03,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,422 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-03', 0.08, 74)
2018-05-03 21:08:03,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,424 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-04', 0.0, 73)
2018-05-03 21:08:03,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,427 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-05', 0.0, 73)
2018-05-03 21:08:03,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,438 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-06', 0.0, 72)
2018-05-03 21:08:03,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,442 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-07', 0.0, 73)
2018-05-03 21:08:03,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,444 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-08', 0.0, 77)
2018-05-03 21:08:03,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,448 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-09', 0.0, 73)
2018-05-03 21:08:03,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,455 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-10', 0.01, 73)
2018-05-03 21:08:03,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,459 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-11', 0.02, 75)
2018-05-03 21:08:03,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,461 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-12', 0.0, 72)
2018-05-03 21:08:03,464 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,468 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-13', 0.1, 72)
2018-05-03 21:08:03,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,470 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-14', 0.16, 73)
2018-05-03 21:08:03,472 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,473 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-15', 0.1, 73)
2018-05-03 21:08:03,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,476 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-16', 0.03, 75)
2018-05-03 21:08:03,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:03,479 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-17', 0.05, 72)
2018-05-03 21:08:03,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,485 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-18', 0.04, 73)
2018-05-03 21:08:03,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,488 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-19', 0.01, 70)
2018-05-03 21:08:03,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,491 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-20', 0.02, 69)
2018-05-03 21:08:03,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,494 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-21', 0.53, 68)
2018-05-03 21:08:03,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,498 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-22', 0.88, 75)
2018-05-03 21:08:03,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,502 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-23', 0.03, 74)
2018-05-03 21:08:03,504 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,505 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-24', 0.22, 73)
2018-05-03 21:08:03,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,508 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-25', 0.36, 70)
2018-05-03 21:08:03,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,511 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-26', 0.82, 70)
2018-05-03 21:08:03,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,516 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-27', 0.07, 71)
2018-05-03 21:08:03,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,520 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-28', 0.04, 70)
2018-05-03 21:08:03,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,709 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-29', 0.43, 70)
2018-05-03 21:08:03,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,711 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-06-30', 0.71, 75)
2018-05-03 21:08:03,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,714 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-07-01', 0.0, 72)
2018-05-03 21:08:03,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,718 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-07-02', 0.09, 71)
2018-05-03 21:08:03,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,720 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-07-03', 0.38, 69)
2018-05-03 21:08:03,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,722 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-07-04', 0.12, 76)
2018-05-03 21:08:03,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:03,724 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2013-07-05', 0.0, 66)
2018-05-03 21:08:05,882 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-03', 0.37, 73)
2018-05-03 21:08:05,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,889 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-04', 0.4, 72)
2018-05-03 21:08:05,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,891 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-05', 0.95, 69)
2018-05-03 21:08:05,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,894 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-06', 0.1, 70)
2018-05-03 21:08:05,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,896 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-07', 0.03, 70)
2018-05-03 21:08:05,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,899 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-08', 0.15, 71)
2018-05-03 21:08:05,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,906 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-09', 0.06, 74)
2018-05-03 21:08:05,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,910 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-10', 0.13, 73)
2018-05-03 21:08:05,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,921 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-11', 0.07, 74)
2018-05-03 21:08:05,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,925 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-12', 0.0, 73)
2018-05-03 21:08:05,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,928 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-13', 0.04, 74)
2018-05-03 21:08:05,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,930 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-14', 0.22, 72)
2018-05-03 21:08:05,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,934 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-15', 0.3, 73)
2018-05-03 21:08:05,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,940 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-16', 0.01, 75)
2018-05-03 21:08:05,943 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,944 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-17', 0.0, 73)
2018-05-03 21:08:05,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,946 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-18', 0.63, 78)
2018-05-03 21:08:05,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,949 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-19', 2.45, 73)
2018-05-03 21:08:05,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,954 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-20', 2.75, 74)

2018-05-03 21:08:05,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,957 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-21', 0.01, 72)
2018-05-03 21:08:05,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,961 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-22', 0.17, 75)
2018-05-03 21:08:05,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,964 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-23', 0.78, 73)
2018-05-03 21:08:05,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,967 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-24', 0.29, 72)
2018-05-03 21:08:05,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,971 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-25', 0.22, 72)
2018-05-03 21:08:05,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,975 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-26', 0.15, 78)
2018-05-03 21:08:05,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,978 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-27', 0.0, 71)
2018-05-03 21:08:05,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,980 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-28', 0.13, 70)
2018-05-03 21:08:05,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,984 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-29', 0.24, 72)
2018-05-03 21:08:05,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,993 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-30', 0.28, 73)
2018-05-03 21:08:05,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,995 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-10-31', 0.03, 75)
2018-05-03 21:08:05,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:05,998 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-01', 0.12, 75)
2018-05-03 21:08:06,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,003 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-02', 0.48, 76)
2018-05-03 21:08:06,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,006 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-03', 0.12, 73)
2018-05-03 21:08:06,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,010 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-04', 0.07, 75)
2018-05-03 21:08:06,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,012 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-05', 0.03, 73)
2018-05-03 21:08:06,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,016 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-06', 0.12, 69)
2018-05-03 21:08:06,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,021 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-07', 0.01, 70)
2018-05-03 21:08:06,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,024 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-08', 0.67, 70)
2018-05-03 21:08:06,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,026 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-09', 0.01, 67)
2018-05-03 21:08:06,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,131 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-10', 0.0, 63)
2018-05-03 21:08:06,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,135 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-11', 0.0, 74)
2018-05-03 21:08:06,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,139 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-12', 0.77, 68)
2018-05-03 21:08:06,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,142 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-13', 0.0, 67)
2018-05-03 21:08:06,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,145 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-14', 0.0, 74)
2018-05-03 21:08:06,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,148 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-15', 0.95, 72)
2018-05-03 21:08:06,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,151 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-16', 0.15, 69)
2018-05-03 21:08:06,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,156 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-17', 0.0, 71)
2018-05-03 21:08:06,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,159 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-18', 0.0, 73)
2018-05-03 21:08:06,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,162 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-19', 0.0, 74)
2018-05-03 21:08:06,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,164 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-20', 0.02, 73)
2018-05-03 21:08:06,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,170 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-21', 0.0, 71)
2018-05-03 21:08:06,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,175 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-22', 0.01, 71)
2018-05-03 21:08:06,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,178 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-23', 0.0, 72)
2018-05-03 21:08:06,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,180 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-24', 0.0, 74)
2018-05-03 21:08:06,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:06,186 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-25', 0.21, 66)
2018-05-03 21:08:06,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,191 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-26', 0.0, 69)
2018-05-03 21:08:06,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,194 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-27', 0.0, 73)
2018-05-03 21:08:06,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,197 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-28', 0.0, 72)
2018-05-03 21:08:06,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,200 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-29', 0.05, 71)
2018-05-03 21:08:06,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,204 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-11-30', 0.62, 70)
2018-05-03 21:08:06,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,208 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-01', 0.0, 70)
2018-05-03 21:08:06,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,211 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-02', 0.0, 68)
2018-05-03 21:08:06,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,213 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-03', 0.41, 68)
2018-05-03 21:08:06,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,217 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-04', 1.56, 66)
2018-05-03 21:08:06,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,223 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-05', 0.04, 68)
2018-05-03 21:08:06,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,227 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-06', 0.63, 65)
2018-05-03 21:08:06,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,230 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-07', 0.01, 62)
2018-05-03 21:08:06,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,233 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-08', 0.0, 62)
2018-05-03 21:08:06,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,238 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-09', 0.0, 65)
2018-05-03 21:08:06,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,240 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-10', 0.0, 61)
2018-05-03 21:08:06,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,243 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-11', 0.21, 70)
2018-05-03 21:08:06,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,246 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-12', 0.07, 68)
2018-05-03 21:08:06,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,251 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-13', 0.01, 67)
2018-05-03 21:08:06,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,256 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-14', 0.13, 68)
2018-05-03 21:08:06,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,258 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-15', 0.0, 71)
2018-05-03 21:08:06,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,261 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-16', 0.08, 69)
2018-05-03 21:08:06,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,263 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-17', 0.07, 71)
2018-05-03 21:08:06,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,268 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-18', 0.11, 71)
2018-05-03 21:08:06,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,274 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-19', 0.08, 71)
2018-05-03 21:08:06,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,277 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-20', 0.0, 72)
2018-05-03 21:08:06,278 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,279 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-21', 0.0, 72)
2018-05-03 21:08:06,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,282 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-22', 0.0, 68)
2018-05-03 21:08:06,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,286 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-23', 1.07, 69)
2018-05-03 21:08:06,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,289 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-24', 1.1, 66)
2018-05-03 21:08:06,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,292 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-25', 0.36, 60)
2018-05-03 21:08:06,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,296 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-26', 0.0, 63)
2018-05-03 21:08:06,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,299 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-27', 0.0, 68)
2018-05-03 21:08:06,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,305 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-28', 0.0, 64)
2018-05-03 21:08:06,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,308 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-29', 0.0, 63)
2018-05-03 21:08:06,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,310 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-30', 0.0, 63)
2018-05-03 21:08:06,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:06,313 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2014-12-31', 0.66, 59)
2018-05-03 21:08:06,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,316 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-01', 0.0, 66)
2018-05-03 21:08:06,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,323 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-02', 0.0, 60)
2018-05-03 21:08:06,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,327 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-03', 1.55, 67)
2018-05-03 21:08:06,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,330 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-04', 0.05, 65)
2018-05-03 21:08:06,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,333 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-05', 0.0, 56)
2018-05-03 21:08:06,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,338 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-06', 0.06, 64)
2018-05-03 21:08:06,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,340 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-07', 0.0, 64)
2018-05-03 21:08:06,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,343 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-08', 0.0, 62)
2018-05-03 21:08:06,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,345 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-09', 0.0, 64)
2018-05-03 21:08:06,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,347 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-10', 0.05, 66)
2018-05-03 21:08:06,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,351 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-11', 0.0, 69)
2018-05-03 21:08:06,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,355 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-12', 0.0, 60)
2018-05-03 21:08:06,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,358 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-13', 0.0, 58)
2018-05-03 21:08:06,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,360 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-14', 0.0, 63)
2018-05-03 21:08:06,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,363 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-15', 0.0, 65)
2018-05-03 21:08:06,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,366 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-16', 0.01, 68)
2018-05-03 21:08:06,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,372 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-17', 0.0, 70)
2018-05-03 21:08:06,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,376 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-18', 0.0, 67)
2018-05-03 21:08:06,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,379 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-19', 0.0, 71)
2018-05-03 21:08:06,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,382 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-20', 0.0, 68)
2018-05-03 21:08:06,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,387 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-21', 0.0, 62)
2018-05-03 21:08:06,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,390 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-22', 0.0, 61)
2018-05-03 21:08:06,392 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,393 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-23', 0.0, 72)
2018-05-03 21:08:06,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,396 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-24', 0.18, 66)
2018-05-03 21:08:06,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,401 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-25', 0.78, 65)
2018-05-03 21:08:06,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,407 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-26', 0.77, 65)
2018-05-03 21:08:06,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,411 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-27', 0.0, 65)
2018-05-03 21:08:06,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,414 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-28', 0.06, 66)
2018-05-03 21:08:06,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,417 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-29', 0.0, 69)
2018-05-03 21:08:06,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,421 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-30', 0.09, 63)
2018-05-03 21:08:06,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,424 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-01-31', 0.0, 69)
2018-05-03 21:08:06,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,427 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-01', 0.02, 62)
2018-05-03 21:08:06,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,429 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-02', 0.0, 67)
2018-05-03 21:08:06,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,433 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-03', 0.0, 76)
2018-05-03 21:08:06,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,437 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-04', 1.29, 74)
2018-05-03 21:08:06,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:06,440 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-05', 0.0, 66)
2018-05-03 21:08:06,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,442 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-06', 0.0, 58)
2018-05-03 21:08:06,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,445 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-07', 0.0, 70)
2018-05-03 21:08:06,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,447 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-08', 0.0, 66)
2018-05-03 21:08:06,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,451 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-09', 0.0, 72)
2018-05-03 21:08:06,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,456 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-10', 0.24, 68)
2018-05-03 21:08:06,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,459 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-11', 0.0, 64)
2018-05-03 21:08:06,461 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,463 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-12', 0.0, 60)
2018-05-03 21:08:06,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,469 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-13', 0.0, 71)
2018-05-03 21:08:06,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,474 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-14', 0.21, 73)
2018-05-03 21:08:06,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,477 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-15', 1.42, 56)
2018-05-03 21:08:06,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,479 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-16', 0.01, 68)
2018-05-03 21:08:06,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,483 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-17', 0.0, 63)
2018-05-03 21:08:06,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,613 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-18', 0.0, 64)
2018-05-03 21:08:06,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,615 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-19', 0.0, 66)
2018-05-03 21:08:06,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,621 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-20', 0.0, 69)
2018-05-03 21:08:06,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,623 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-21', 0.61, 72)
2018-05-03 21:08:06,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,625 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-22', 0.0, 74)
2018-05-03 21:08:06,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,628 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-23', 0.0, 77)
2018-05-03 21:08:06,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,631 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-24', 0.0, 65)
2018-05-03 21:08:06,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,634 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-25', 0.01, 71)
2018-05-03 21:08:06,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,640 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-26', 0.12, 69)
2018-05-03 21:08:06,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,643 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-27', 0.07, 66)
2018-05-03 21:08:06,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,645 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-02-28', 0.28, 69)
2018-05-03 21:08:06,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,647 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-01', 0.18, 71)
2018-05-03 21:08:06,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,652 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-02', 0.09, 68)
2018-05-03 21:08:06,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,658 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-03', 0.17, 71)
2018-05-03 21:08:06,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,660 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-04', 0.22, 67)
2018-05-03 21:08:06,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,663 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-05', 1.08, 65)
2018-05-03 21:08:06,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,666 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-06', 0.57, 62)
2018-05-03 21:08:06,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,672 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-07', 0.01, 67)
2018-05-03 21:08:06,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,674 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-08', 0.0, 65)
2018-05-03 21:08:06,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,677 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-09', 0.0, 57)
2018-05-03 21:08:06,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,679 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-10', 0.19, 57)
2018-05-03 21:08:06,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,681 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-11', 0.0, 61)
2018-05-03 21:08:06,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,684 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-12', 0.0, 62)
2018-05-03 21:08:06,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:06,689 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-13', 0.06, 56)
2018-05-03 21:08:06,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,691 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-14', 0.0, 69)
2018-05-03 21:08:06,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,693 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-15', 0.0, 72)
2018-05-03 21:08:06,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,696 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-16', 0.01, 63)
2018-05-03 21:08:06,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,698 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-17', 0.0, 57)
2018-05-03 21:08:06,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,703 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-18', 0.0, 60)
2018-05-03 21:08:06,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,707 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-19', 0.0, 62)
2018-05-03 21:08:06,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,709 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-20', 0.02, 70)
2018-05-03 21:08:06,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,711 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-21', 0.2, 72)
2018-05-03 21:08:06,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,714 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-22', 0.08, 73)
2018-05-03 21:08:06,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,719 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-23', 0.0, 68)
2018-05-03 21:08:06,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,725 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-24', 0.0, 62)
2018-05-03 21:08:06,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,728 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-25', 0.02, 63)
2018-05-03 21:08:06,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,730 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-26', 0.03, 70)
2018-05-03 21:08:06,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,733 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-27', 0.0, 70)
2018-05-03 21:08:06,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,738 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-28', 0.0, 74)
2018-05-03 21:08:06,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,740 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-29', 0.49, 74)
2018-05-03 21:08:06,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,742 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-30', 0.42, 70)
2018-05-03 21:08:06,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,745 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-03-31', 0.61, 70)
2018-05-03 21:08:06,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,747 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-01', 0.64, 70)
2018-05-03 21:08:06,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,750 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-02', 0.0, 72)
2018-05-03 21:08:06,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,755 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-03', 0.0, 74)
2018-05-03 21:08:06,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,757 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-04', 0.0, 74)
2018-05-03 21:08:06,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,759 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-05', 0.03, 73)
2018-05-03 21:08:06,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,761 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-06', 0.0, 70)
2018-05-03 21:08:06,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,764 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-07', 0.0, 70)
2018-05-03 21:08:06,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,766 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-08', 0.39, 70)
2018-05-03 21:08:06,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,771 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-09', 0.0, 71)
2018-05-03 21:08:06,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,773 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-10', 0.0, 67)
2018-05-03 21:08:06,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,775 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-11', 0.0, 72)
2018-05-03 21:08:06,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,778 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-12', 0.18, 69)
2018-05-03 21:08:06,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,780 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-13', 0.05, 69)
2018-05-03 21:08:06,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,782 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-14', 0.07, 70)
2018-05-03 21:08:06,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,787 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-15', 0.19, 71)
2018-05-03 21:08:06,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,790 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-16', 0.02, 70)
2018-05-03 21:08:06,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,792 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-17', 0.1, 71)
2018-05-03 21:08:06,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:06,794 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-18', 0.01, 74)
2018-05-03 21:08:06,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,796 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-19', 0.01, 75)
2018-05-03 21:08:06,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,798 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-20', 0.0, 72)
2018-05-03 21:08:06,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,802 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-21', 0.03, 72)
2018-05-03 21:08:06,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,806 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-22', 0.07, 67)
2018-05-03 21:08:06,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,808 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-23', 0.32, 67)
2018-05-03 21:08:06,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,811 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-24', 0.14, 69)
2018-05-03 21:08:06,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,813 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-25', 0.01, 73)
2018-05-03 21:08:06,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,816 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-26', 0.0, 78)
2018-05-03 21:08:06,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,820 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-27', 0.62, 69)
2018-05-03 21:08:06,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,824 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-28', 0.47, 71)
2018-05-03 21:08:06,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,826 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-29', 0.14, 73)
2018-05-03 21:08:06,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,829 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-04-30', 0.0, 72)
2018-05-03 21:08:06,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:06,832 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2015-05-01', 0.18, 69)
2018-05-03 21:08:06,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,296 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-03-30', 0.04, 73)
2018-05-03 21:08:10,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,299 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-03-31', 0.01, 71)
2018-05-03 21:08:10,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,303 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-01', 0.21, 74)
2018-05-03 21:08:10,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,307 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-02', 0.0, 75)
2018-05-03 21:08:10,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,313 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-03', 0.26, 70)
2018-05-03 21:08:10,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,315 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-04', 0.09, 67)
2018-05-03 21:08:10,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,317 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-05', 0.1, 71)
2018-05-03 21:08:10,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,325 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-06', 0.06, 67)
2018-05-03 21:08:10,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,327 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-07', 0.0, 74)
2018-05-03 21:08:10,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,330 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-08', 0.0, 77)
2018-05-03 21:08:10,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,332 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-09', 0.0, 78)
2018-05-03 21:08:10,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,334 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-10', 0.01, 67)
2018-05-03 21:08:10,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,338 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-11', 0.03, 70)
2018-05-03 21:08:10,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,344 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-12', 0.11, 69)
2018-05-03 21:08:10,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,347 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-13', 0.59, 69)
2018-05-03 21:08:10,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,350 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-14', 2.3, 74)
2018-05-03 21:08:10,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,353 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-15', 0.38, 78)
2018-05-03 21:08:10,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,360 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-16', 0.47, 71)
2018-05-03 21:08:10,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,363 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-17', 1.04, 67)
2018-05-03 21:08:10,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,366 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-18', 2.03, 68)
2018-05-03 21:08:10,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,368 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-19', 0.02, 67)
2018-05-03 21:08:10,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:10,374 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-20', 0.05, 76)
2018-05-03 21:08:10,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,380 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-21', 1.74, 69)
2018-05-03 21:08:10,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,383 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-22', 1.58, 72)
2018-05-03 21:08:10,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,386 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-23', 0.06, 76)
2018-05-03 21:08:10,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,392 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-24', 0.01, 68)
2018-05-03 21:08:10,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,395 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-25', 0.0, 72)
2018-05-03 21:08:10,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,397 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-26', 0.02, 74)
2018-05-03 21:08:10,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,400 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-27', 0.19, 70)
2018-05-03 21:08:10,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,518 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-28', 0.76, 67)
2018-05-03 21:08:10,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,522 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-29', 0.37, 72)
2018-05-03 21:08:10,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,528 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-04-30', 1.04, 60)
2018-05-03 21:08:10,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,532 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-01', 0.13, 65)
2018-05-03 21:08:10,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,534 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-02', 0.01, 75)
2018-05-03 21:08:10,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,538 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-03', 0.01, 70)
2018-05-03 21:08:10,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,543 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-04', 0.0, 75)
2018-05-03 21:08:10,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,546 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-05', 0.0, 70)
2018-05-03 21:08:10,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,548 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-06', 0.0, 79)
2018-05-03 21:08:10,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,551 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-07', 0.02, 75)
2018-05-03 21:08:10,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,553 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-08', 0.73, 70)
2018-05-03 21:08:10,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,558 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-09', 1.58, 67)
2018-05-03 21:08:10,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,561 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-10', 0.2, 74)
2018-05-03 21:08:10,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,563 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-11', 0.12, 70)
2018-05-03 21:08:10,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,565 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-12', 0.02, 75)
2018-05-03 21:08:10,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,567 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-13', 0.12, 76)
2018-05-03 21:08:10,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,571 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-14', 0.17, 77)
2018-05-03 21:08:10,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,576 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-15', 0.09, 74)
2018-05-03 21:08:10,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,579 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-16', 0.03, 74)
2018-05-03 21:08:10,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,582 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-17', 0.07, 74)
2018-05-03 21:08:10,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,584 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-18', 0.13, 69)
2018-05-03 21:08:10,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,588 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-19', 0.01, 68)
2018-05-03 21:08:10,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,594 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-20', 0.02, 76)
2018-05-03 21:08:10,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,597 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-21', 0.01, 74)
2018-05-03 21:08:10,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,599 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-22', 0.06, 71)
2018-05-03 21:08:10,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,601 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-23', 0.06, 71)
2018-05-03 21:08:10,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,604 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-24', 0.3, 74)
2018-05-03 21:08:10,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,611 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-25', 0.2, 74)
2018-05-03 21:08:10,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:10,614 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-26', 0.0, 74)
2018-05-03 21:08:10,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,616 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-27', 0.0, 74)
2018-05-03 21:08:10,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,619 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-28', 0.08, 80)
2018-05-03 21:08:10,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,623 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-29', 0.4, 74)
2018-05-03 21:08:10,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,627 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-30', 1.12, 72)
2018-05-03 21:08:10,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,629 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-05-31', 0.25, 75)
2018-05-03 21:08:10,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,633 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-01', 0.0, 80)
2018-05-03 21:08:10,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,635 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-02', 0.09, 76)
2018-05-03 21:08:10,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,641 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-03', 0.08, 76)
2018-05-03 21:08:10,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,645 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-04', 0.13, 77)
2018-05-03 21:08:10,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,647 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-05', 0.05, 75)
2018-05-03 21:08:10,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,650 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-06', 0.0, 75)
2018-05-03 21:08:10,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,652 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-07', 0.0, 75)
2018-05-03 21:08:10,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,657 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-08', 0.0, 75)
2018-05-03 21:08:10,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,663 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-09', 0.02, 72)
2018-05-03 21:08:10,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,666 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-10', 0.62, 74)
2018-05-03 21:08:10,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,669 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-11', 0.74, 74)
2018-05-03 21:08:10,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,674 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-12', 0.24, 74)
2018-05-03 21:08:10,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,677 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-13', 0.24, 76)
2018-05-03 21:08:10,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,679 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-14', 0.22, 74)
2018-05-03 21:08:10,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,682 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-15', 0.55, 75)
2018-05-03 21:08:10,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,684 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-16', 0.06, 73)
2018-05-03 21:08:10,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,692 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-17', 0.07, 79)
2018-05-03 21:08:10,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,694 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-18', 0.24, 75)
2018-05-03 21:08:10,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,696 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-19', 0.08, 72)
2018-05-03 21:08:10,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,698 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-20', 0.0, 72)
2018-05-03 21:08:10,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,701 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-21', 0.19, 74)
2018-05-03 21:08:10,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,704 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-22', 0.06, 72)
2018-05-03 21:08:10,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,708 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-23', 0.12, 72)
2018-05-03 21:08:10,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,711 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-24', 0.36, 77)
2018-05-03 21:08:10,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,713 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-25', 0.02, 71)
2018-05-03 21:08:10,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,715 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-26', 0.06, 73)
2018-05-03 21:08:10,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,719 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-27', 0.01, 76)
2018-05-03 21:08:10,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,724 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-28', 0.0, 77)
2018-05-03 21:08:10,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,728 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-29', 0.0, 76)
2018-05-03 21:08:10,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,731 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-06-30', 0.01, 76)
2018-05-03 21:08:10,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,734 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-01', 0.08, 79)
2018-05-03 21:08:10,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,736 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-02', 0.15, 81)
2018-05-03 21:08:10,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,744 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-03', 0.15, 76)
2018-05-03 21:08:10,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,748 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-04', 0.08, 78)
2018-05-03 21:08:10,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,751 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-05', 0.0, 77)
2018-05-03 21:08:10,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,755 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-06', 0.0, 74)
2018-05-03 21:08:10,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,760 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-07', 0.18, 75)
2018-05-03 21:08:10,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,763 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-08', 0.0, 78)
2018-05-03 21:08:10,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,765 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-09', 0.11, 78)
2018-05-03 21:08:10,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,767 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-10', 0.02, 69)
2018-05-03 21:08:10,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,771 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-11', 0.02, 72)
2018-05-03 21:08:10,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,776 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-12', 0.28, 74)
2018-05-03 21:08:10,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,778 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-13', 0.32, 74)
2018-05-03 21:08:10,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,780 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-14', 0.2, 76)
2018-05-03 21:08:10,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,782 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-15', 0.05, 80)
2018-05-03 21:08:10,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,785 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-16', 0.1, 80)
2018-05-03 21:08:10,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,789 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-17', 0.21, 76)
2018-05-03 21:08:10,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,793 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-18', 0.05, 76)
2018-05-03 21:08:10,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,795 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-19', 0.05, 76)
2018-05-03 21:08:10,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,798 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-20', 0.06, 77)
2018-05-03 21:08:10,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,800 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-21', 0.03, 77)
2018-05-03 21:08:10,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,804 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-22', 0.2, 77)
2018-05-03 21:08:10,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,809 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-23', 0.2, 82)
2018-05-03 21:08:10,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,812 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-24', 0.61, 75)
2018-05-03 21:08:10,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,816 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-25', 0.11, 77)
2018-05-03 21:08:10,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,819 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-26', 0.12, 75)
2018-05-03 21:08:10,822 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,825 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-27', 0.01, 76)
2018-05-03 21:08:10,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,831 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-28', 0.09, 81)
2018-05-03 21:08:10,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,833 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-29', 0.23, 82)
2018-05-03 21:08:10,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,836 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-30', 0.0, 81)
2018-05-03 21:08:10,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,842 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-07-31', 0.0, 76)
2018-05-03 21:08:10,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,845 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-04', 0.0, 77)
2018-05-03 21:08:10,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,849 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-05', 0.06, 82)
2018-05-03 21:08:10,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,851 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-06', 0.0, 83)
2018-05-03 21:08:10,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,855 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-13', 0.0, 77)
2018-05-03 21:08:10,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:10,860 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-14', 0.0, 77)
2018-05-03 21:08:10,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,973 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-15', 0.32, 77)
2018-05-03 21:08:10,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,980 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-16', 0.12, 76)
2018-05-03 21:08:10,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,992 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-17', 0.01, 76)
2018-05-03 21:08:10,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,996 INFO sqlalchemy.engine.base.Engine ('USC00519281', '2017-08-18', 0.06, 79)
2018-05-03 21:08:10,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:10,999 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-01', 0.05, 66)
2018-05-03 21:08:11,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,002 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-02', 0.0, 70)
2018-05-03 21:08:11,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,006 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-03', 0.0, 75)
2018-05-03 21:08:11,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,011 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-04', 0.0, 75)
2018-05-03 21:08:11,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,013 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-05', 0.0, 75)
2018-05-03 21:08:11,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,017 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-06', 0.08, 72)
2018-05-03 21:08:11,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,021 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-07', 0.04, 70)
2018-05-03 21:08:11,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,026 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-08', 0.0, 63)
2018-05-03 21:08:11,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,028 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-09', 0.0, 68)
2018-05-03 21:08:11,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,031 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-10', 0.0, 74)
2018-05-03 21:08:11,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,033 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-11', 0.05, 64)
2018-05-03 21:08:11,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,036 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-12', 0.0, 57)
2018-05-03 21:08:11,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,040 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-13', 0.0, 57)
2018-05-03 21:08:11,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,044 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-14', 0.0, 65)
2018-05-03 21:08:11,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,046 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-15', 0.0, 56)
2018-05-03 21:08:11,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,048 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-16', 0.0, 66)
2018-05-03 21:08:11,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,050 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-18', 0.0, 73)
2018-05-03 21:08:11,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,052 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-19', 0.0, 61)
2018-05-03 21:08:11,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,057 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-20', 0.0, 66)
2018-05-03 21:08:11,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,060 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-21', 0.0, 68)
2018-05-03 21:08:11,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,062 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-22', 0.0, 60)
2018-05-03 21:08:11,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,065 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-23', 0.0, 78)
2018-05-03 21:08:11,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,068 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-24', 0.0, 71)
2018-05-03 21:08:11,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,071 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-25', 0.0, 68)
2018-05-03 21:08:11,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,077 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-26', 0.03, 76)
2018-05-03 21:08:11,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,079 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-27', 0.25, 69)
2018-05-03 21:08:11,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,081 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-29', 0.0, 65)
2018-05-03 21:08:11,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,083 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-30', 0.4, 77)
2018-05-03 21:08:11,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,085 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-01-31', 0.01, 71)
2018-05-03 21:08:11,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,096 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-01', 0.0, 64)
2018-05-03 21:08:11,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,100 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-02', 0.0, 65)
2018-05-03 21:08:11,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:11,102 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-03', 0.55, 64)
2018-05-03 21:08:11,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,106 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-04', 0.0, 64)
2018-05-03 21:08:11,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,110 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-05', 0.0, 63)
2018-05-03 21:08:11,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,112 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-06', 0.0, 67)
2018-05-03 21:08:11,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,114 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-08', 0.0, 60)
2018-05-03 21:08:11,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,116 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-09', 0.0, 61)
2018-05-03 21:08:11,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,118 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-10', 0.0, 60)
2018-05-03 21:08:11,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,121 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-11', 0.0, 70)
2018-05-03 21:08:11,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,126 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-12', 0.0, 68)
2018-05-03 21:08:11,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,129 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-13', 0.03, 67)
2018-05-03 21:08:11,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,131 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-14', 0.0, 69)
2018-05-03 21:08:11,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,133 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-15', 0.0, 72)
2018-05-03 21:08:11,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,135 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-16', 0.0, 65)
2018-05-03 21:08:11,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,138 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-17', 0.0, 66)
2018-05-03 21:08:11,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,142 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-18', 0.0, 63)
2018-05-03 21:08:11,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,148 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-19', 0.0, 62)
2018-05-03 21:08:11,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,151 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-20', 0.0, 63)
2018-05-03 21:08:11,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,166 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-21', 0.0, 68)
2018-05-03 21:08:11,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,168 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-22', 0.0, 64)
2018-05-03 21:08:11,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,178 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-23', 0.0, 63)
2018-05-03 21:08:11,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,183 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-24', 0.0, 63)
2018-05-03 21:08:11,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,186 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-25', 0.0, 64)
2018-05-03 21:08:11,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,190 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-26', 0.0, 72)
2018-05-03 21:08:11,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,196 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-02-28', 0.0, 68)
2018-05-03 21:08:11,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,212 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-01', 0.0, 68)
2018-05-03 21:08:11,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,214 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-02', 0.0, 69)
2018-05-03 21:08:11,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,216 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-03', 0.0, 70)
2018-05-03 21:08:11,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,218 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-04', 0.04, 67)
2018-05-03 21:08:11,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,223 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-05', 0.03, 69)
2018-05-03 21:08:11,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,232 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-06', 0.0, 74)
2018-05-03 21:08:11,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,235 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-07', 0.0, 68)
2018-05-03 21:08:11,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,242 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-08', 0.08, 64)
2018-05-03 21:08:11,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,246 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-09', 0.06, 68)
2018-05-03 21:08:11,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,248 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-10', 0.01, 71)
2018-05-03 21:08:11,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,252 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-11', 0.0, 70)
2018-05-03 21:08:11,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,255 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-12', 0.0, 71)
2018-05-03 21:08:11,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:11,267 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-14', 0.0, 76)
2018-05-03 21:08:11,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,275 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-15', 0.01, 66)
2018-05-03 21:08:11,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,284 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-16', 0.06, 65)
2018-05-03 21:08:11,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,286 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-17', 0.0, 63)
2018-05-03 21:08:11,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,293 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-18', 0.01, 65)
2018-05-03 21:08:11,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,296 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-19', 0.0, 67)
2018-05-03 21:08:11,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,300 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-20', 0.0, 73)
2018-05-03 21:08:11,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,303 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-21', 0.0, 60)
2018-05-03 21:08:11,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,309 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-22', 0.0, 65)
2018-05-03 21:08:11,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,312 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-23', 0.01, 65)
2018-05-03 21:08:11,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,315 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-24', 0.0, 71)
2018-05-03 21:08:11,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,318 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-25', 0.0, 71)
2018-05-03 21:08:11,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,328 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-26', 0.0, 66)
2018-05-03 21:08:11,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,331 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-27', 0.0, 73)
2018-05-03 21:08:11,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,334 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-28', 0.0, 73)
2018-05-03 21:08:11,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,344 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-29', 0.0, 73)
2018-05-03 21:08:11,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,350 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-30', 0.01, 73)
2018-05-03 21:08:11,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,352 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-03-31', 0.0, 73)
2018-05-03 21:08:11,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,355 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-01', 0.0, 73)
2018-05-03 21:08:11,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,360 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-02', 0.0, 71)
2018-05-03 21:08:11,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,364 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-03', 0.0, 78)
2018-05-03 21:08:11,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,367 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-04', 0.12, 71)
2018-05-03 21:08:11,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,372 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-05', 0.01, 73)
2018-05-03 21:08:11,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,376 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-06', 0.0, 70)
2018-05-03 21:08:11,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,379 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-07', 0.01, 71)
2018-05-03 21:08:11,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,381 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-08', 0.87, 68)
2018-05-03 21:08:11,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,383 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-09', 0.01, 68)
2018-05-03 21:08:11,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,386 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-10', 0.0, 74)
2018-05-03 21:08:11,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,392 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-11', 0.0, 77)
2018-05-03 21:08:11,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,514 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-12', 0.01, 66)
2018-05-03 21:08:11,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,516 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-13', 0.0, 68)
2018-05-03 21:08:11,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,519 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-14', 0.0, 72)
2018-05-03 21:08:11,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,522 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-15', 0.0, 61)
2018-05-03 21:08:11,524 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,526 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-16', 0.0, 65)
2018-05-03 21:08:11,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,530 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-17', 0.0, 70)
2018-05-03 21:08:11,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,533 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-18', 0.0, 71)
2018-05-03 21:08:11,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,537 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-19', 0.0, 70)
2018-05-03 21:08:11,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,541 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-20', 0.0, 71)
2018-05-03 21:08:11,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,545 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-21', 0.0, 71)
2018-05-03 21:08:11,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,548 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-22', 0.0, 75)
2018-05-03 21:08:11,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,551 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-23', 0.01, 66)
2018-05-03 21:08:11,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,554 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-24', 0.0, 77)
2018-05-03 21:08:11,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,559 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-25', 0.0, 77)
2018-05-03 21:08:11,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,563 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-26', 0.0, 67)
2018-05-03 21:08:11,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,568 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-27', 0.0, 69)
2018-05-03 21:08:11,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,571 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-28', 0.0, 72)
2018-05-03 21:08:11,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,580 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-29', 0.08, 73)
2018-05-03 21:08:11,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,583 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-04-30', 0.04, 69)
2018-05-03 21:08:11,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,585 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-01', 0.0, 75)
2018-05-03 21:08:11,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,589 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-02', 0.15, 71)
2018-05-03 21:08:11,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,594 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-03', 0.98, 71)
2018-05-03 21:08:11,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,597 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-04', 0.01, 65)
2018-05-03 21:08:11,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,600 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-05', 0.0, 78)
2018-05-03 21:08:11,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,603 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-06', 0.01, 74)
2018-05-03 21:08:11,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,606 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-07', 0.01, 71)
2018-05-03 21:08:11,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,610 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-08', 0.02, 79)
2018-05-03 21:08:11,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,613 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-09', 0.0, 78)
2018-05-03 21:08:11,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,615 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-10', 0.0, 70)
2018-05-03 21:08:11,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,617 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-11', 0.0, 70)
2018-05-03 21:08:11,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,619 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-12', 0.0, 77)
2018-05-03 21:08:11,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,622 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-13', 0.0, 73)
2018-05-03 21:08:11,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,626 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-14', 0.0, 71)
2018-05-03 21:08:11,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,628 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-15', 0.0, 68)
2018-05-03 21:08:11,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,630 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-16', 0.02, 71)
2018-05-03 21:08:11,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,632 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-17', 0.0, 71)
2018-05-03 21:08:11,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,634 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-18', 0.0, 79)
2018-05-03 21:08:11,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,636 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-19', 0.0, 71)
2018-05-03 21:08:11,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,639 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-20', 0.03, 71)
2018-05-03 21:08:11,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,643 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-21', 0.01, 74)
2018-05-03 21:08:11,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,645 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-22', 0.0, 80)
2018-05-03 21:08:11,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,646 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-23', 0.0, 74)
2018-05-03 21:08:11,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:11,648 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-24', 0.0, 74)
2018-05-03 21:08:11,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,650 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-25', 0.0, 73)
2018-05-03 21:08:11,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,652 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-26', 0.01, 73)
2018-05-03 21:08:11,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,655 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-27', 0.0, 67)
2018-05-03 21:08:11,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,660 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-28', 0.0, 67)
2018-05-03 21:08:11,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,664 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-30', 0.0, 76)
2018-05-03 21:08:11,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,667 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-05-31', 0.0, 79)
2018-05-03 21:08:11,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,669 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-01', 0.0, 74)
2018-05-03 21:08:11,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,679 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-02', 0.0, 76)
2018-05-03 21:08:11,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,681 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-03', 0.0, 78)
2018-05-03 21:08:11,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,682 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-04', 0.0, 74)
2018-05-03 21:08:11,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,684 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-05', 0.0, 79)
2018-05-03 21:08:11,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,686 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-06', 0.0, 79)
2018-05-03 21:08:11,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,689 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-07', 0.05, 69)
2018-05-03 21:08:11,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,696 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-08', 0.0, 77)
2018-05-03 21:08:11,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,699 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-09', 0.0, 80)
2018-05-03 21:08:11,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,701 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-10', 0.0, 75)
2018-05-03 21:08:11,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,703 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-11', 0.0, 75)
2018-05-03 21:08:11,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,707 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-12', 0.0, 78)
2018-05-03 21:08:11,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,711 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-14', 0.0, 71)
2018-05-03 21:08:11,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,714 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-15', 0.0, 76)
2018-05-03 21:08:11,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,717 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-16', 0.0, 74)
2018-05-03 21:08:11,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,719 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-17', 0.0, 78)
2018-05-03 21:08:11,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,722 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-18', 0.04, 72)
2018-05-03 21:08:11,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,728 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-19', 0.05, 78)
2018-05-03 21:08:11,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,730 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-20', 0.0, 85)
2018-05-03 21:08:11,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,732 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-21', 0.0, 77)
2018-05-03 21:08:11,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,734 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-22', 0.0, 76)
2018-05-03 21:08:11,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,736 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-23', 0.0, 76)
2018-05-03 21:08:11,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,739 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-24', 0.0, 75)
2018-05-03 21:08:11,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,745 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-25', 0.02, 71)
2018-05-03 21:08:11,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,748 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-26', 0.0, 70)
2018-05-03 21:08:11,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,750 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-27', 0.09, 80)
2018-05-03 21:08:11,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,752 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-28', 0.0, 77)
2018-05-03 21:08:11,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,760 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-29', 0.02, 70)
2018-05-03 21:08:11,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,763 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-06-30', 0.03, 73)
2018-05-03 21:08:11,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:11,765 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-03', 0.0, 78)
2018-05-03 21:08:11,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,768 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-04', 0.0, 78)
2018-05-03 21:08:11,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,771 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-05', 0.01, 78)
2018-05-03 21:08:11,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,776 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-06', 0.1, 71)
2018-05-03 21:08:11,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,780 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-07', 0.02, 70)
2018-05-03 21:08:11,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,782 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-08', 0.03, 74)
2018-05-03 21:08:11,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,783 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-09', 0.15, 72)
2018-05-03 21:08:11,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,786 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-10', 0.01, 76)
2018-05-03 21:08:11,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,789 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-12', 0.0, 80)
2018-05-03 21:08:11,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,795 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-13', 0.0, 80)
2018-05-03 21:08:11,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,799 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-14', 0.01, 77)
2018-05-03 21:08:11,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,801 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-15', 0.01, 79)
2018-05-03 21:08:11,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,806 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-16', 0.0, 79)
2018-05-03 21:08:11,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,810 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-17', 0.02, 74)
2018-05-03 21:08:11,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,813 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-18', 0.0, 76)
2018-05-03 21:08:11,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,815 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-19', 0.01, 70)
2018-05-03 21:08:11,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,817 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-20', 0.02, 74)
2018-05-03 21:08:11,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,819 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-21', 0.0, 79)
2018-05-03 21:08:11,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,821 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-22', 0.0, 80)
2018-05-03 21:08:11,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,826 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-23', 0.0, 72)
2018-05-03 21:08:11,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,828 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-24', 0.0, 80)
2018-05-03 21:08:11,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,829 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-25', 0.0, 79)
2018-05-03 21:08:11,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,930 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-26', 0.0, 71)
2018-05-03 21:08:11,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,932 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-27', 0.0, 68)
2018-05-03 21:08:11,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,934 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-28', 0.0, 69)
2018-05-03 21:08:11,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,937 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-29', 0.0, 77)
2018-05-03 21:08:11,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,941 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-30', 0.0, 80)
2018-05-03 21:08:11,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,946 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-07-31', 0.0, 78)
2018-05-03 21:08:11,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,949 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-01', 0.0, 74)
2018-05-03 21:08:11,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,951 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-02', 0.0, 71)
2018-05-03 21:08:11,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,954 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-03', 0.0, 72)
2018-05-03 21:08:11,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,959 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-04', 0.0, 72)
2018-05-03 21:08:11,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,962 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-05', 0.04, 69)
2018-05-03 21:08:11,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,965 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-06', 0.01, 77)
2018-05-03 21:08:11,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,968 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-07', 0.0, 73)
2018-05-03 21:08:11,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,971 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-08', 0.01, 78)
2018-05-03 21:08:11,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:11,976 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-09', 0.0, 79)
2018-05-03 21:08:11,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,979 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-10', 0.0, 83)
2018-05-03 21:08:11,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,982 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-11', 0.1, 74)
2018-05-03 21:08:11,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,984 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-12', 0.0, 77)
2018-05-03 21:08:11,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,987 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-13', 0.0, 80)
2018-05-03 21:08:11,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,991 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-14', 0.0, 78)
2018-05-03 21:08:11,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:11,997 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-15', 0.0, 79)
2018-05-03 21:08:11,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,000 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-16', 0.0, 71)
2018-05-03 21:08:12,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,003 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-17', 0.02, 73)
2018-05-03 21:08:12,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,008 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-18', 0.0, 70)
2018-05-03 21:08:12,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,012 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-19', 0.0, 70)
2018-05-03 21:08:12,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,014 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-20', 0.0, 77)
2018-05-03 21:08:12,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,017 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-21', 0.0, 81)
2018-05-03 21:08:12,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,021 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-22', 0.0, 82)
2018-05-03 21:08:12,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,026 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-23', 0.0, 74)
2018-05-03 21:08:12,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,030 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-24', 0.0, 72)
2018-05-03 21:08:12,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,032 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-25', 0.01, 70)
2018-05-03 21:08:12,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,034 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-26', 0.0, 71)
2018-05-03 21:08:12,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,036 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-27', 0.0, 75)
2018-05-03 21:08:12,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,039 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-28', 0.0, 81)
2018-05-03 21:08:12,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,043 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-29', 0.0, 77)
2018-05-03 21:08:12,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,048 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-30', 0.0, 68)
2018-05-03 21:08:12,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,049 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-08-31', 0.0, 67)
2018-05-03 21:08:12,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,052 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-01', 0.0, 69)
2018-05-03 21:08:12,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,055 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-02', 0.0, 67)
2018-05-03 21:08:12,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,060 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-03', 0.0, 77)
2018-05-03 21:08:12,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,062 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-05', 0.0, 82)
2018-05-03 21:08:12,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,064 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-06', 0.0, 80)
2018-05-03 21:08:12,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,066 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-07', 0.02, 70)
2018-05-03 21:08:12,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,068 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-08', 0.0, 67)
2018-05-03 21:08:12,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,071 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-09', 0.0, 69)
2018-05-03 21:08:12,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,079 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-10', 0.0, 72)
2018-05-03 21:08:12,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,081 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-11', 0.0, 78)
2018-05-03 21:08:12,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,083 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-12', 0.0, 80)
2018-05-03 21:08:12,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,085 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-13', 0.0, 72)
2018-05-03 21:08:12,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,088 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-14', 0.0, 69)
2018-05-03 21:08:12,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:12,092 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-15', 0.0, 78)
2018-05-03 21:08:12,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,098 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-16', 0.0, 75)
2018-05-03 21:08:12,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,100 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-17', 0.0, 75)
2018-05-03 21:08:12,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,102 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-18', 0.0, 74)
2018-05-03 21:08:12,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,105 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-19', 0.0, 87)
2018-05-03 21:08:12,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,110 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-20', 0.02, 73)
2018-05-03 21:08:12,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,112 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-21', 0.0, 67)
2018-05-03 21:08:12,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,114 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-22', 0.08, 72)
2018-05-03 21:08:12,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,116 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-23', 0.35, 67)
2018-05-03 21:08:12,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,118 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-24', 0.0, 74)
2018-05-03 21:08:12,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,120 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-25', 0.0, 77)
2018-05-03 21:08:12,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,124 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-26', 0.0, 79)
2018-05-03 21:08:12,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,128 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-27', 0.0, 68)
2018-05-03 21:08:12,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,129 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-28', 0.0, 67)
2018-05-03 21:08:12,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,131 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-09-30', 0.0, 70)
2018-05-03 21:08:12,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,133 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-01', 0.19, 72)
2018-05-03 21:08:12,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,135 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-02', 0.0, 80)
2018-05-03 21:08:12,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,137 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-03', 0.0, 78)
2018-05-03 21:08:12,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,141 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-04', 0.01, 75)
2018-05-03 21:08:12,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,144 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-05', 0.0, 76)
2018-05-03 21:08:12,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,146 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-06', 0.0, 72)
2018-05-03 21:08:12,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,148 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-07', 0.0, 68)
2018-05-03 21:08:12,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,151 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-08', 0.0, 78)
2018-05-03 21:08:12,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,153 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-09', 0.0, 78)
2018-05-03 21:08:12,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,160 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-10', 0.0, 80)
2018-05-03 21:08:12,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,163 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-11', 0.0, 79)
2018-05-03 21:08:12,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,165 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-12', 0.0, 72)
2018-05-03 21:08:12,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,168 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-13', 0.0, 75)
2018-05-03 21:08:12,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,171 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-14', 0.0, 67)
2018-05-03 21:08:12,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,175 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-15', 0.0, 82)
2018-05-03 21:08:12,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,179 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-16', 0.0, 76)
2018-05-03 21:08:12,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,182 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-17', 0.0, 76)
2018-05-03 21:08:12,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,184 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-18', 0.0, 65)
2018-05-03 21:08:12,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,187 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-19', 0.0, 67)
2018-05-03 21:08:12,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,193 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-20', 0.0, 68)
2018-05-03 21:08:12,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,199 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-21', 0.0, 73)
2018-05-03 21:08:12,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:12,201 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-22', 0.0, 68)
2018-05-03 21:08:12,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,204 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-23', 0.0, 73)
2018-05-03 21:08:12,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,209 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-24', 0.0, 76)
2018-05-03 21:08:12,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,212 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-25', 0.0, 76)
2018-05-03 21:08:12,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,215 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-26', 0.02, 76)
2018-05-03 21:08:12,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,217 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-27', 0.01, 76)
2018-05-03 21:08:12,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,219 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-28', 0.01, 75)
2018-05-03 21:08:12,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,228 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-29', 0.0, 73)
2018-05-03 21:08:12,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,231 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-30', 0.02, 78)
2018-05-03 21:08:12,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,234 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-10-31', 0.01, 80)
2018-05-03 21:08:12,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,236 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-01', 0.01, 70)
2018-05-03 21:08:12,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,242 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-02', 0.03, 65)
2018-05-03 21:08:12,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,247 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-03', 0.0, 70)
2018-05-03 21:08:12,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,249 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-04', 0.1, 73)
2018-05-03 21:08:12,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,364 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-05', 0.0, 75)
2018-05-03 21:08:12,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,366 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-06', 0.0, 76)
2018-05-03 21:08:12,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,368 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-07', 0.0, 80)
2018-05-03 21:08:12,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,370 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-08', 0.0, 77)
2018-05-03 21:08:12,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,374 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-09', 0.0, 80)
2018-05-03 21:08:12,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,378 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-10', 0.0, 68)
2018-05-03 21:08:12,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,381 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-11', 0.01, 73)
2018-05-03 21:08:12,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,383 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-12', 0.0, 72)
2018-05-03 21:08:12,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:12,385 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2010-11-13', 0.0, 74)
2018-05-03 21:08:12,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,304 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-19', 0.0, 66)
2018-05-03 21:08:14,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,315 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-20', 0.0, 62)
2018-05-03 21:08:14,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,317 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-21', 0.0, 71)
2018-05-03 21:08:14,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,319 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-22', 0.0, 73)
2018-05-03 21:08:14,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,321 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-23', 0.01, 62)
2018-05-03 21:08:14,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,326 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-24', 0.0, 69)
2018-05-03 21:08:14,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,330 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-25', 0.0, 62)
2018-05-03 21:08:14,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,332 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-26', 0.0, 74)
2018-05-03 21:08:14,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,333 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-27', 0.33, 65)
2018-05-03 21:08:14,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,336 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-28', 0.0, 62)
2018-05-03 21:08:14,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,338 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-29', 0.01, 73)
2018-05-03 21:08:14,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,342 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-30', 0.01, 69)
2018-05-03 21:08:14,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,346 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-01-31', 0.0, 71)
2018-05-03 21:08:14,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:14,348 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-01', 0.0, 63)
2018-05-03 21:08:14,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,350 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-02', 0.0, 69)
2018-05-03 21:08:14,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,353 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-03', 0.0, 60)
2018-05-03 21:08:14,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,355 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-04', 0.0, 62)
2018-05-03 21:08:14,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,361 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-05', 0.0, 68)
2018-05-03 21:08:14,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,364 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-06', 0.15, 66)
2018-05-03 21:08:14,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,367 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-07', 0.3, 72)
2018-05-03 21:08:14,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,370 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-08', 0.39, 56)
2018-05-03 21:08:14,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,372 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-09', 0.0, 59)
2018-05-03 21:08:14,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,379 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-10', 0.0, 56)
2018-05-03 21:08:14,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,382 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-11', 0.0, 78)
2018-05-03 21:08:14,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,384 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-12', 0.0, 66)
2018-05-03 21:08:14,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,387 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-13', 0.0, 63)
2018-05-03 21:08:14,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,391 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-14', 0.0, 62)
2018-05-03 21:08:14,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,397 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-15', 0.0, 64)
2018-05-03 21:08:14,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,402 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-16', 0.0, 70)
2018-05-03 21:08:14,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,404 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-17', 0.0, 70)
2018-05-03 21:08:14,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,412 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-18', 0.0, 73)
2018-05-03 21:08:14,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,415 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-19', 0.01, 70)
2018-05-03 21:08:14,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,417 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-20', 0.0, 73)
2018-05-03 21:08:14,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,419 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-21', 0.0, 70)
2018-05-03 21:08:14,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,422 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-22', 0.0, 71)
2018-05-03 21:08:14,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,428 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-23', 0.05, 70)
2018-05-03 21:08:14,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,431 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-24', 0.0, 67)
2018-05-03 21:08:14,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,434 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-25', 0.0, 70)
2018-05-03 21:08:14,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,437 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-26', 0.01, 70)
2018-05-03 21:08:14,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,439 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-27', 0.38, 64)
2018-05-03 21:08:14,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,465 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-28', 0.0, 66)
2018-05-03 21:08:14,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,468 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-02-29', 0.01, 74)
2018-05-03 21:08:14,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,471 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-01', 0.0, 74)
2018-05-03 21:08:14,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,479 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-02', 0.0, 73)
2018-05-03 21:08:14,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,482 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-03', 0.0, 72)
2018-05-03 21:08:14,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,486 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-04', 0.05, 66)
2018-05-03 21:08:14,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,493 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-05', 0.7, 64)
2018-05-03 21:08:14,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,500 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-06', 2.83, 70)
2018-05-03 21:08:14,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,503 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-07', 0.91, 65)
2018-05-03 21:08:14,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:14,506 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-08', 0.0, 66)
2018-05-03 21:08:14,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,512 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-09', 0.0, 66)
2018-05-03 21:08:14,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,527 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-10', 0.19, 72)
2018-05-03 21:08:14,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,530 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-11', 0.0, 74)
2018-05-03 21:08:14,531 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,533 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-12', 0.0, 68)
2018-05-03 21:08:14,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,537 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-13', 0.0, 65)
2018-05-03 21:08:14,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,543 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-14', 0.0, 68)
2018-05-03 21:08:14,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,551 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-15', 0.0, 67)
2018-05-03 21:08:14,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,554 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-16', 0.02, 70)
2018-05-03 21:08:14,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,558 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-17', 0.0, 74)
2018-05-03 21:08:14,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,563 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-18', 0.02, 69)
2018-05-03 21:08:14,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,566 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-19', 0.02, 65)
2018-05-03 21:08:14,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,568 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-20', 0.0, 63)
2018-05-03 21:08:14,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,571 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-21', 0.0, 65)
2018-05-03 21:08:14,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,576 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-22', 0.0, 70)
2018-05-03 21:08:14,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,580 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-23', 0.0, 69)
2018-05-03 21:08:14,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,581 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-24', 0.0, 73)
2018-05-03 21:08:14,583 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,698 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-25', 0.0, 72)
2018-05-03 21:08:14,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,701 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-26', 0.03, 74)
2018-05-03 21:08:14,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,703 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-27', 0.0, 63)
2018-05-03 21:08:14,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,706 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-28', 0.0, 59)
2018-05-03 21:08:14,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,713 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-29', 0.0, 58)
2018-05-03 21:08:14,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,717 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-30', 0.0, 71)
2018-05-03 21:08:14,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,719 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-03-31', 0.0, 74)
2018-05-03 21:08:14,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,721 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-01', 0.0, 72)
2018-05-03 21:08:14,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,726 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-02', 0.0, 66)
2018-05-03 21:08:14,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,734 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-03', 0.0, 61)
2018-05-03 21:08:14,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,736 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-04', 0.0, 66)
2018-05-03 21:08:14,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,739 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-05', 0.0, 71)
2018-05-03 21:08:14,741 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,743 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-06', 0.0, 71)
2018-05-03 21:08:14,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,748 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-07', 0.04, 74)
2018-05-03 21:08:14,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,750 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-08', 0.0, 77)
2018-05-03 21:08:14,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,753 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-09', 0.03, 68)
2018-05-03 21:08:14,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,755 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-10', 0.19, 65)
2018-05-03 21:08:14,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,760 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-11', 0.06, 74)
2018-05-03 21:08:14,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,764 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-12', 0.0, 75)
2018-05-03 21:08:14,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:14,766 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-13', 0.0, 64)
2018-05-03 21:08:14,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,768 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-14', 0.0, 75)
2018-05-03 21:08:14,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,770 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-15', 0.0, 74)
2018-05-03 21:08:14,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,774 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-16', 0.0, 71)
2018-05-03 21:08:14,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,780 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-17', 0.0, 72)
2018-05-03 21:08:14,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,783 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-18', 0.0, 72)
2018-05-03 21:08:14,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,786 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-19', 0.0, 72)
2018-05-03 21:08:14,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,788 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-20', 0.0, 64)
2018-05-03 21:08:14,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,794 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-21', 0.0, 75)
2018-05-03 21:08:14,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,800 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-22', 0.08, 65)
2018-05-03 21:08:14,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,802 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-23', 0.02, 69)
2018-05-03 21:08:14,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,805 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-24', 0.0, 70)
2018-05-03 21:08:14,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,809 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-25', 0.0, 69)
2018-05-03 21:08:14,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,813 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-26', 0.0, 66)
2018-05-03 21:08:14,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,816 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-27', 0.0, 65)
2018-05-03 21:08:14,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,818 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-28', 0.0, 78)
2018-05-03 21:08:14,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,820 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-29', 0.0, 74)
2018-05-03 21:08:14,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,822 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-04-30', 0.0, 77)
2018-05-03 21:08:14,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,828 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-01', 0.0, 70)
2018-05-03 21:08:14,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,830 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-02', 0.01, 69)
2018-05-03 21:08:14,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,833 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-03', 0.03, 68)
2018-05-03 21:08:14,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,834 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-04', 0.0, 70)
2018-05-03 21:08:14,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,837 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-05', 0.02, 76)
2018-05-03 21:08:14,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,839 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-06', 0.0, 74)
2018-05-03 21:08:14,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,845 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-07', 0.0, 68)
2018-05-03 21:08:14,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,847 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-08', 0.0, 71)
2018-05-03 21:08:14,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,849 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-09', 0.0, 68)
2018-05-03 21:08:14,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,851 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-10', 0.0, 64)
2018-05-03 21:08:14,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,854 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-11', 0.0, 65)
2018-05-03 21:08:14,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,856 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-12', 0.0, 74)
2018-05-03 21:08:14,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,862 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-13', 0.0, 75)
2018-05-03 21:08:14,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,866 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-14', 0.0, 63)
2018-05-03 21:08:14,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,868 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-15', 0.0, 64)
2018-05-03 21:08:14,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,870 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-16', 0.01, 71)
2018-05-03 21:08:14,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,872 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-17', 0.0, 72)
2018-05-03 21:08:14,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,879 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-18', 0.0, 71)
2018-05-03 21:08:14,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:14,882 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-19', 0.0, 76)
2018-05-03 21:08:14,884 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,884 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-20', 0.0, 79)
2018-05-03 21:08:14,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,887 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-21', 0.0, 68)
2018-05-03 21:08:14,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,889 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-22', 0.0, 71)
2018-05-03 21:08:14,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,896 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-23', 0.0, 73)
2018-05-03 21:08:14,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,900 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-24', 0.01, 75)
2018-05-03 21:08:14,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,902 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-25', 0.0, 74)
2018-05-03 21:08:14,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,905 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-26', 0.0, 76)
2018-05-03 21:08:14,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,909 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-27', 0.0, 78)
2018-05-03 21:08:14,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,913 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-28', 0.0, 76)
2018-05-03 21:08:14,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,915 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-29', 0.0, 77)
2018-05-03 21:08:14,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,918 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-30', 0.0, 74)
2018-05-03 21:08:14,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,921 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-05-31', 0.0, 71)
2018-05-03 21:08:14,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,927 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-01', 0.01, 73)
2018-05-03 21:08:14,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,932 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-02', 0.02, 76)
2018-05-03 21:08:14,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,935 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-03', 0.0, 76)
2018-05-03 21:08:14,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,937 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-04', 0.0, 74)
2018-05-03 21:08:14,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,941 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-05', 0.0, 71)
2018-05-03 21:08:14,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,947 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-06', 0.01, 72)
2018-05-03 21:08:14,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,951 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-07', 0.0, 73)
2018-05-03 21:08:14,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,953 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-08', 0.0, 77)
2018-05-03 21:08:14,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,958 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-09', 0.0, 77)
2018-05-03 21:08:14,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,963 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-10', 0.0, 77)
2018-05-03 21:08:14,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,965 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-11', 0.0, 79)
2018-05-03 21:08:14,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,968 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-12', 0.0, 77)
2018-05-03 21:08:14,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,979 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-13', 0.03, 77)
2018-05-03 21:08:14,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,983 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-14', 0.0, 78)
2018-05-03 21:08:14,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,986 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-16', 0.0, 78)
2018-05-03 21:08:14,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,988 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-17', 0.0, 81)
2018-05-03 21:08:14,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:14,992 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-18', 0.0, 76)
2018-05-03 21:08:14,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,000 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-19', 0.0, 74)
2018-05-03 21:08:15,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,003 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-20', 0.02, 71)
2018-05-03 21:08:15,004 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,005 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-21', 0.0, 78)
2018-05-03 21:08:15,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,011 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-22', 0.0, 71)
2018-05-03 21:08:15,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,014 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-23', 0.1, 76)
2018-05-03 21:08:15,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,016 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-24', 0.0, 81)
2018-05-03 21:08:15,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:15,018 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-25', 0.01, 73)
2018-05-03 21:08:15,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,021 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-26', 0.0, 72)
2018-05-03 21:08:15,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,023 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-27', 0.01, 72)
2018-05-03 21:08:15,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,028 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-28', 0.0, 74)
2018-05-03 21:08:15,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,031 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-29', 0.0, 72)
2018-05-03 21:08:15,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,034 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-06-30', 0.0, 79)
2018-05-03 21:08:15,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,038 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-01', 0.0, 77)
2018-05-03 21:08:15,040 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,047 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-02', 0.0, 73)
2018-05-03 21:08:15,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,050 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-03', 0.0, 73)
2018-05-03 21:08:15,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,198 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-04', 0.2, 79)
2018-05-03 21:08:15,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,201 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-05', 0.01, 74)
2018-05-03 21:08:15,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,204 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-06', 0.0, 74)
2018-05-03 21:08:15,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,207 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-08', 0.0, 79)
2018-05-03 21:08:15,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,213 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-09', 0.0, 73)
2018-05-03 21:08:15,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,216 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-10', 0.0, 72)
2018-05-03 21:08:15,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,219 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-11', 0.0, 77)
2018-05-03 21:08:15,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,223 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-12', 0.0, 71)
2018-05-03 21:08:15,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,233 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-13', 0.0, 75)
2018-05-03 21:08:15,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,236 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-14', 0.0, 81)
2018-05-03 21:08:15,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,239 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-15', 0.0, 81)
2018-05-03 21:08:15,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,243 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-16', 0.03, 73)
2018-05-03 21:08:15,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,250 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-17', 0.0, 74)
2018-05-03 21:08:15,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,254 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-18', 0.0, 81)
2018-05-03 21:08:15,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,257 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-19', 0.0, 79)
2018-05-03 21:08:15,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,262 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-20', 0.0, 77)
2018-05-03 21:08:15,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,265 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-21', 0.15, 76)
2018-05-03 21:08:15,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,267 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-22', 0.04, 69)
2018-05-03 21:08:15,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,270 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-23', 0.0, 78)
2018-05-03 21:08:15,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,273 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-24', 0.0, 81)
2018-05-03 21:08:15,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,280 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-25', 0.0, 84)
2018-05-03 21:08:15,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,283 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-26', 0.0, 86)
2018-05-03 21:08:15,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,287 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-27', 0.0, 80)
2018-05-03 21:08:15,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,289 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-28', 0.0, 76)
2018-05-03 21:08:15,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,296 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-29', 0.03, 74)
2018-05-03 21:08:15,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,299 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-30', 0.0, 80)
2018-05-03 21:08:15,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,301 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-07-31', 0.0, 76)
2018-05-03 21:08:15,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:15,303 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-01', 0.0, 76)
2018-05-03 21:08:15,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,305 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-02', 0.0, 68)
2018-05-03 21:08:15,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,312 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-03', 0.0, 72)
2018-05-03 21:08:15,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,315 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-04', 0.0, 80)
2018-05-03 21:08:15,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,318 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-05', 0.0, 80)
2018-05-03 21:08:15,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,320 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-06', 0.01, 67)
2018-05-03 21:08:15,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,323 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-07', 0.0, 74)
2018-05-03 21:08:15,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,334 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-08', 0.0, 73)
2018-05-03 21:08:15,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,337 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-09', 0.0, 69)
2018-05-03 21:08:15,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,341 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-10', 0.0, 65)
2018-05-03 21:08:15,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,348 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-11', 0.0, 78)
2018-05-03 21:08:15,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,351 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-12', 0.0, 79)
2018-05-03 21:08:15,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,355 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-13', 0.0, 75)
2018-05-03 21:08:15,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,361 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-14', 0.06, 72)
2018-05-03 21:08:15,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,369 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-15', 0.0, 75)
2018-05-03 21:08:15,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,371 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-16', 0.0, 75)
2018-05-03 21:08:15,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,375 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-17', 0.0, 70)
2018-05-03 21:08:15,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,381 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-18', 0.0, 80)
2018-05-03 21:08:15,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,384 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-19', 0.0, 81)
2018-05-03 21:08:15,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,386 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-20', 0.0, 72)
2018-05-03 21:08:15,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,389 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-21', 0.0, 67)
2018-05-03 21:08:15,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,395 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-22', 0.0, 69)
2018-05-03 21:08:15,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,398 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-23', 0.0, 67)
2018-05-03 21:08:15,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,401 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-24', 0.0, 71)
2018-05-03 21:08:15,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,405 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-25', 0.0, 78)
2018-05-03 21:08:15,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,416 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-26', 0.0, 81)
2018-05-03 21:08:15,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,422 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-27', 0.0, 72)
2018-05-03 21:08:15,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,427 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-28', 0.04, 73)
2018-05-03 21:08:15,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,432 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-29', 0.0, 78)
2018-05-03 21:08:15,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,436 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-30', 0.0, 73)
2018-05-03 21:08:15,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,440 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-08-31', 0.0, 69)
2018-05-03 21:08:15,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,453 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-01', 0.0, 80)
2018-05-03 21:08:15,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,456 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-02', 0.0, 76)
2018-05-03 21:08:15,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,463 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-03', 0.0, 77)
2018-05-03 21:08:15,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,467 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-04', 0.0, 74)
2018-05-03 21:08:15,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,469 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-05', 0.01, 77)
2018-05-03 21:08:15,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:15,472 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-06', 0.0, 81)
2018-05-03 21:08:15,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,476 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-07', 0.03, 71)
2018-05-03 21:08:15,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,480 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-08', 0.1, 79)
2018-05-03 21:08:15,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,485 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-09', 0.0, 73)
2018-05-03 21:08:15,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,487 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-10', 0.03, 74)
2018-05-03 21:08:15,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,494 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-11', 0.0, 73)
2018-05-03 21:08:15,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,498 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-12', 0.0, 68)
2018-05-03 21:08:15,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,504 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-13', 0.0, 72)
2018-05-03 21:08:15,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,507 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-14', 0.0, 72)
2018-05-03 21:08:15,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,518 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-15', 0.0, 74)
2018-05-03 21:08:15,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,523 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-16', 0.0, 81)
2018-05-03 21:08:15,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,543 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-17', 0.0, 68)
2018-05-03 21:08:15,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,547 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-18', 0.0, 67)
2018-05-03 21:08:15,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,550 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-19', 0.03, 68)
2018-05-03 21:08:15,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,553 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-20', 0.16, 71)
2018-05-03 21:08:15,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,555 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-21', 0.08, 68)
2018-05-03 21:08:15,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,580 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-22', 0.0, 81)
2018-05-03 21:08:15,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,586 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-23', 0.02, 75)
2018-05-03 21:08:15,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,589 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-24', 0.0, 75)
2018-05-03 21:08:15,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,595 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-25', 0.0, 75)
2018-05-03 21:08:15,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,599 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-26', 0.0, 68)
2018-05-03 21:08:15,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,603 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-27', 0.0, 72)
2018-05-03 21:08:15,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,605 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-28', 0.0, 74)
2018-05-03 21:08:15,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,610 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-29', 0.0, 73)
2018-05-03 21:08:15,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,617 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-09-30', 0.0, 80)
2018-05-03 21:08:15,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,620 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-01', 0.0, 69)
2018-05-03 21:08:15,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,623 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-02', 0.0, 70)
2018-05-03 21:08:15,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,633 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-03', 0.0, 66)
2018-05-03 21:08:15,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,637 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-04', 0.0, 67)
2018-05-03 21:08:15,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,640 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-05', 0.0, 79)
2018-05-03 21:08:15,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,646 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-06', 0.0, 77)
2018-05-03 21:08:15,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,649 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-07', 0.01, 76)
2018-05-03 21:08:15,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,651 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-08', 0.0, 79)
2018-05-03 21:08:15,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,654 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-09', 0.0, 69)
2018-05-03 21:08:15,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,657 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-10', 0.0, 77)
2018-05-03 21:08:15,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,662 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-11', 0.0, 74)
2018-05-03 21:08:15,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:15,664 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-12', 0.0, 80)
2018-05-03 21:08:15,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,755 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-13', 0.0, 79)
2018-05-03 21:08:15,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,757 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-14', 0.02, 79)
2018-05-03 21:08:15,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,762 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-15', 0.02, 74)
2018-05-03 21:08:15,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,764 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-16', 0.0, 69)
2018-05-03 21:08:15,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,766 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-17', 0.0, 67)
2018-05-03 21:08:15,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,769 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-18', 0.0, 70)
2018-05-03 21:08:15,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,771 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-19', 0.0, 73)
2018-05-03 21:08:15,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,773 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-20', 0.0, 78)
2018-05-03 21:08:15,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,779 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-21', 0.0, 82)
2018-05-03 21:08:15,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,783 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-22', 0.0, 71)
2018-05-03 21:08:15,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,785 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-23', 0.0, 68)
2018-05-03 21:08:15,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,788 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-24', 0.0, 70)
2018-05-03 21:08:15,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,790 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-25', 0.0, 72)
2018-05-03 21:08:15,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,794 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-26', 0.0, 80)
2018-05-03 21:08:15,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,801 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-27', 0.01, 78)
2018-05-03 21:08:15,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,804 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-28', 0.0, 79)
2018-05-03 21:08:15,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,807 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-29', 0.02, 73)
2018-05-03 21:08:15,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,811 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-30', 0.01, 77)
2018-05-03 21:08:15,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,815 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-10-31', 0.01, 69)
2018-05-03 21:08:15,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,817 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-01', 0.0, 81)
2018-05-03 21:08:15,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,820 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-02', 0.0, 70)
2018-05-03 21:08:15,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,822 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-03', 0.0, 76)
2018-05-03 21:08:15,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,827 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-04', 0.0, 75)
2018-05-03 21:08:15,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,831 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-05', 0.0, 66)
2018-05-03 21:08:15,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,833 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-06', 0.0, 72)
2018-05-03 21:08:15,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,835 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-07', 0.0, 69)
2018-05-03 21:08:15,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,837 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-08', 0.0, 67)
2018-05-03 21:08:15,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,839 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-09', 0.0, 77)
2018-05-03 21:08:15,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,845 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-10', 0.0, 75)
2018-05-03 21:08:15,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,848 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-11', 0.0, 76)
2018-05-03 21:08:15,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,851 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-12', 0.0, 76)
2018-05-03 21:08:15,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,853 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-13', 0.02, 68)
2018-05-03 21:08:15,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,856 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-14', 0.0, 72)
2018-05-03 21:08:15,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,860 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-15', 0.05, 70)
2018-05-03 21:08:15,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,864 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-16', 0.01, 74)
2018-05-03 21:08:15,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:15,867 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-17', 0.0, 71)
2018-05-03 21:08:15,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,870 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-18', 0.15, 70)
2018-05-03 21:08:15,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,872 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-19', 0.0, 69)
2018-05-03 21:08:15,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,875 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-20', 0.0, 68)
2018-05-03 21:08:15,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,881 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-21', 0.0, 66)
2018-05-03 21:08:15,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,883 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-22', 0.0, 72)
2018-05-03 21:08:15,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,886 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-23', 0.07, 77)
2018-05-03 21:08:15,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,888 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-24', 0.25, 69)
2018-05-03 21:08:15,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,892 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-26', 0.03, 67)
2018-05-03 21:08:15,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,898 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-27', 0.03, 69)
2018-05-03 21:08:15,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,902 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-28', 0.0, 62)
2018-05-03 21:08:15,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,905 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-29', 0.0, 66)
2018-05-03 21:08:15,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,908 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-11-30', 0.0, 63)
2018-05-03 21:08:15,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,913 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-02', 0.0, 72)
2018-05-03 21:08:15,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,916 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-03', 0.0, 75)
2018-05-03 21:08:15,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,918 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-04', 0.0, 68)
2018-05-03 21:08:15,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,921 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-05', 0.08, 72)
2018-05-03 21:08:15,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,924 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-06', 0.01, 64)
2018-05-03 21:08:15,927 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,929 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-07', 0.0, 75)
2018-05-03 21:08:15,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,932 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-08', 0.0, 69)
2018-05-03 21:08:15,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,935 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-09', 0.0, 80)
2018-05-03 21:08:15,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,937 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-10', 0.0, 73)
2018-05-03 21:08:15,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,939 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-11', 0.0, 73)
2018-05-03 21:08:15,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,943 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-12', 0.0, 73)
2018-05-03 21:08:15,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,947 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-13', 0.0, 72)
2018-05-03 21:08:15,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,949 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-14', 0.15, 73)
2018-05-03 21:08:15,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,952 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-15', 0.0, 75)
2018-05-03 21:08:15,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,956 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-16', 0.0, 76)
2018-05-03 21:08:15,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,964 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-17', 0.0, 74)
2018-05-03 21:08:15,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,966 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-18', 0.02, 72)
2018-05-03 21:08:15,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,969 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-19', 0.0, 72)
2018-05-03 21:08:15,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,972 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-20', 0.0, 70)
2018-05-03 21:08:15,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,976 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-21', 0.0, 70)
2018-05-03 21:08:15,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,982 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-22', 0.01, 71)
2018-05-03 21:08:15,985 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,986 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-23', 0.0, 61)
2018-05-03 21:08:15,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,988 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-24', 0.0, 65)
2018-05-03 21:08:15,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,990 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-25', 0.0, 74)
2018-05-03 21:08:15,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,997 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-26', 0.0, 71)
2018-05-03 21:08:15,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:15,999 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-27', 0.0, 63)
2018-05-03 21:08:16,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,001 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-28', 0.0, 64)
2018-05-03 21:08:16,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,004 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-29', 0.0, 66)
2018-05-03 21:08:16,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,006 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-30', 0.0, 68)
2018-05-03 21:08:16,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,011 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2012-12-31', 0.0, 66)
2018-05-03 21:08:16,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,014 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-01', 0.0, 69)
2018-05-03 21:08:16,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,018 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-02', 0.01, 70)
2018-05-03 21:08:16,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,021 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-03', 0.13, 67)
2018-05-03 21:08:16,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,023 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-04', 0.01, 71)
2018-05-03 21:08:16,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,029 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-05', 0.0, 73)
2018-05-03 21:08:16,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,033 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-06', 0.0, 73)
2018-05-03 21:08:16,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,036 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-07', 0.01, 70)
2018-05-03 21:08:16,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,038 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-08', 0.0, 71)
2018-05-03 21:08:16,040 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,042 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-09', 0.01, 70)
2018-05-03 21:08:16,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,049 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-10', 0.0, 70)
2018-05-03 21:08:16,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,053 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-11', 0.0, 70)
2018-05-03 21:08:16,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,056 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-12', 0.0, 66)
2018-05-03 21:08:16,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,061 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-13', 0.0, 70)
2018-05-03 21:08:16,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,065 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-14', 0.01, 74)
2018-05-03 21:08:16,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,069 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-15', 0.53, 66)
2018-05-03 21:08:16,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,071 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-16', 0.0, 57)
2018-05-03 21:08:16,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,073 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-17', 0.0, 61)
2018-05-03 21:08:16,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,078 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-18', 0.0, 57)
2018-05-03 21:08:16,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,082 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-19', 0.0, 62)
2018-05-03 21:08:16,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,084 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-20', 0.0, 64)
2018-05-03 21:08:16,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,086 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-22', 0.0, 68)
2018-05-03 21:08:16,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,089 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-23', 0.0, 69)
2018-05-03 21:08:16,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,234 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-24', 0.03, 67)
2018-05-03 21:08:16,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,237 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-25', 0.1, 61)
2018-05-03 21:08:16,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,240 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-26', 0.08, 72)
2018-05-03 21:08:16,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,245 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-27', 0.2, 74)
2018-05-03 21:08:16,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,249 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-28', 1.57, 65)
2018-05-03 21:08:16,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,251 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-29', 0.03, 64)
2018-05-03 21:08:16,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:16,254 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-30', 0.04, 62)
2018-05-03 21:08:16,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,255 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-01-31', 0.0, 63)
2018-05-03 21:08:16,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,257 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-01', 0.0, 62)
2018-05-03 21:08:16,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,263 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-02', 0.0, 74)
2018-05-03 21:08:16,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,265 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-03', 0.0, 58)
2018-05-03 21:08:16,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,267 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-04', 0.0, 69)
2018-05-03 21:08:16,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,269 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-05', 0.0, 69)
2018-05-03 21:08:16,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,270 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-06', 0.0, 67)
2018-05-03 21:08:16,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,272 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-07', 0.0, 67)
2018-05-03 21:08:16,274 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,276 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-08', 0.0, 64)
2018-05-03 21:08:16,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,280 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-09', 0.0, 63)
2018-05-03 21:08:16,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,282 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-10', 0.0, 70)
2018-05-03 21:08:16,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,284 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-11', 0.0, 69)
2018-05-03 21:08:16,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,287 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-12', 0.0, 65)
2018-05-03 21:08:16,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,290 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-13', 0.0, 58)
2018-05-03 21:08:16,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,293 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-14', 0.0, 62)
2018-05-03 21:08:16,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,299 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-15', 0.0, 75)
2018-05-03 21:08:16,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,301 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-16', 0.0, 72)
2018-05-03 21:08:16,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,303 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-17', 0.0, 73)
2018-05-03 21:08:16,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,305 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-18', 0.0, 71)
2018-05-03 21:08:16,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,307 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-19', 0.0, 70)
2018-05-03 21:08:16,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,312 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-20', 0.03, 67)
2018-05-03 21:08:16,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,318 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-21', 0.01, 66)
2018-05-03 21:08:16,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,320 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-22', 0.15, 68)
2018-05-03 21:08:16,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,322 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-23', 0.0, 69)
2018-05-03 21:08:16,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,325 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-24', 0.12, 74)
2018-05-03 21:08:16,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,330 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-25', 0.0, 68)
2018-05-03 21:08:16,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,333 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-26', 0.0, 69)
2018-05-03 21:08:16,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,335 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-27', 0.0, 69)
2018-05-03 21:08:16,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,337 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-02-28', 0.0, 70)
2018-05-03 21:08:16,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,339 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-01', 0.0, 70)
2018-05-03 21:08:16,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,341 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-02', 0.0, 72)
2018-05-03 21:08:16,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,346 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-03', 0.0, 72)
2018-05-03 21:08:16,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,349 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-04', 0.0, 69)
2018-05-03 21:08:16,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,351 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-05', 0.0, 60)
2018-05-03 21:08:16,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,353 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-06', 0.0, 66)
2018-05-03 21:08:16,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:16,355 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-07', 0.0, 60)
2018-05-03 21:08:16,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,357 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-08', 0.0, 67)
2018-05-03 21:08:16,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,360 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-09', 0.0, 73)
2018-05-03 21:08:16,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,364 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-10', 2.25, 67)
2018-05-03 21:08:16,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,366 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-11', 0.93, 60)
2018-05-03 21:08:16,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,368 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-12', 0.0, 65)
2018-05-03 21:08:16,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,371 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-13', 0.0, 60)
2018-05-03 21:08:16,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,372 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-14', 0.0, 63)
2018-05-03 21:08:16,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,375 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-15', 0.0, 59)
2018-05-03 21:08:16,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,379 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-16', 0.01, 66)
2018-05-03 21:08:16,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,382 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-17', 0.0, 69)
2018-05-03 21:08:16,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,384 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-18', 0.0, 57)
2018-05-03 21:08:16,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,386 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-19', 0.0, 60)
2018-05-03 21:08:16,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,387 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-20', 0.0, 63)
2018-05-03 21:08:16,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,389 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-21', 0.0, 77)
2018-05-03 21:08:16,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,391 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-22', 0.0, 74)
2018-05-03 21:08:16,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,397 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-23', 0.0, 69)
2018-05-03 21:08:16,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,399 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-24', 0.01, 70)
2018-05-03 21:08:16,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,401 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-25', 0.5, 69)
2018-05-03 21:08:16,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,402 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-26', 0.05, 64)
2018-05-03 21:08:16,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,404 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-27', 0.04, 68)
2018-05-03 21:08:16,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,406 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-28', 0.2, 65)
2018-05-03 21:08:16,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,408 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-29', 0.01, 67)
2018-05-03 21:08:16,411 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,413 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-30', 0.0, 68)
2018-05-03 21:08:16,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,416 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-03-31', 0.0, 63)
2018-05-03 21:08:16,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,418 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-01', 0.0, 61)
2018-05-03 21:08:16,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,420 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-02', 0.0, 53)
2018-05-03 21:08:16,421 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,422 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-03', 0.0, 55)
2018-05-03 21:08:16,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,427 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-04', 0.0, 58)
2018-05-03 21:08:16,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,431 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-05', 0.0, 61)
2018-05-03 21:08:16,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,436 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-06', 0.0, 73)
2018-05-03 21:08:16,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,439 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-07', 0.0, 74)
2018-05-03 21:08:16,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,443 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-04-08', 0.0, 69)

2018-05-03 21:08:16,645 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-04', 0.0, 78)
2018-05-03 21:08:16,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,649 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-05', 0.03, 72)
2018-05-03 21:08:16,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,651 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-06', 0.11, 70)
2018-05-03 21:08:16,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,654 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-07', 0.0, 67)

2018-05-03 21:08:16,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,657 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-08', 0.0, 65)
2018-05-03 21:08:16,659 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,662 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-09', 0.0, 69)
2018-05-03 21:08:16,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,666 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-10', 0.0, 72)
2018-05-03 21:08:16,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,669 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-11', 0.0, 77)
2018-05-03 21:08:16,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,672 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-12', 0.0, 74)
2018-05-03 21:08:16,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,675 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-13', 0.01, 71)
2018-05-03 21:08:16,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,681 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-14', 0.0, 74)
2018-05-03 21:08:16,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,684 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-15', 0.0, 74)
2018-05-03 21:08:16,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,687 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-16', 0.0, 75)
2018-05-03 21:08:16,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,690 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-17', 0.0, 70)
2018-05-03 21:08:16,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,695 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-18', 0.05, 78)
2018-05-03 21:08:16,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,698 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-19', 0.06, 77)
2018-05-03 21:08:16,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,701 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-20', 0.0, 76)
2018-05-03 21:08:16,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,704 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-21', 0.0, 64)
2018-05-03 21:08:16,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,706 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-22', 0.0, 66)
2018-05-03 21:08:16,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,711 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-23', 0.0, 68)
2018-05-03 21:08:16,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,716 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-24', 0.0, 73)
2018-05-03 21:08:16,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,718 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-25', 0.0, 78)
2018-05-03 21:08:16,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,720 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-26', 0.0, 82)
2018-05-03 21:08:16,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,723 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-27', 0.0, 79)
2018-05-03 21:08:16,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,725 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-28', 0.0, 70)
2018-05-03 21:08:16,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,730 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-29', 0.0, 71)
2018-05-03 21:08:16,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,732 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-30', 0.0, 69)
2018-05-03 21:08:16,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,735 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-05-31', 0.0, 70)
2018-05-03 21:08:16,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,737 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-01', 0.0, 80)
2018-05-03 21:08:16,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,739 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-02', 0.0, 81)
2018-05-03 21:08:16,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,741 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-03', 0.0, 75)
2018-05-03 21:08:16,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,744 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-04', 0.0, 80)
2018-05-03 21:08:16,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,748 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-05', 0.0, 73)
2018-05-03 21:08:16,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,750 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-06', 0.0, 74)
2018-05-03 21:08:16,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,752 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-07', 0.0, 73)
2018-05-03 21:08:16,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,754 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-08', 0.0, 81)
2018-05-03 21:08:16,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,757 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-09', 0.0, 79)
2018-05-03 21:08:16,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,764 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-10', 0.0, 78)
2018-05-03 21:08:16,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,768 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-11', 0.0, 74)
2018-05-03 21:08:16,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,770 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-12', 0.0, 74)

2018-05-03 21:08:16,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,772 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-13', 0.0, 73)
2018-05-03 21:08:16,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,774 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-14', 0.07, 73)
2018-05-03 21:08:16,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,779 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-15', 0.0, 77)
2018-05-03 21:08:16,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,785 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-16', 0.0, 77)
2018-05-03 21:08:16,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,788 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-17', 0.0, 74)
2018-05-03 21:08:16,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,789 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-18', 0.0, 73)
2018-05-03 21:08:16,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,792 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-19', 0.0, 70)
2018-05-03 21:08:16,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,797 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-20', 0.0, 69)
2018-05-03 21:08:16,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,800 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-21', 0.05, 72)
2018-05-03 21:08:16,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,802 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-22', 0.0, 79)
2018-05-03 21:08:16,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,804 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-23', 0.0, 77)
2018-05-03 21:08:16,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,806 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-24', 0.0, 70)
2018-05-03 21:08:16,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,808 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-25', 0.02, 71)
2018-05-03 21:08:16,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,813 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-26', 0.06, 67)
2018-05-03 21:08:16,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,815 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-27', 0.0, 66)
2018-05-03 21:08:16,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,818 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-28', 0.0, 78)
2018-05-03 21:08:16,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,820 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-29', 0.08, 80)
2018-05-03 21:08:16,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,822 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-06-30', 0.0, 80)
2018-05-03 21:08:16,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,825 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-01', 0.0, 68)
2018-05-03 21:08:16,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,830 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-02', 0.0, 72)
2018-05-03 21:08:16,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,833 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-03', 0.04, 69)
2018-05-03 21:08:16,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,835 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-04', 0.0, 78)
2018-05-03 21:08:16,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,837 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-05', 0.0, 76)
2018-05-03 21:08:16,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,840 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-06', 0.0, 79)
2018-05-03 21:08:16,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,844 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-07', 0.0, 75)
2018-05-03 21:08:16,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,848 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-08', 0.0, 70)
2018-05-03 21:08:16,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,851 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-09', 0.0, 81)
2018-05-03 21:08:16,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,854 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-10', 0.0, 77)
2018-05-03 21:08:16,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,862 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-11', 0.0, 76)
2018-05-03 21:08:16,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,865 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-12', 0.0, 72)
2018-05-03 21:08:16,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,869 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-13', 0.0, 75)
2018-05-03 21:08:16,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,871 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-14', 0.0, 81)
2018-05-03 21:08:16,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,874 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-15', 0.0, 72)
2018-05-03 21:08:16,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,878 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-16', 0.0, 71)
2018-05-03 21:08:16,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,884 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-17', 0.0, 71)
2018-05-03 21:08:16,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,886 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-18', 0.0, 73)
2018-05-03 21:08:16,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,889 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-19', 0.0, 81)
2018-05-03 21:08:16,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,892 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-21', 0.0, 80)
2018-05-03 21:08:16,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,898 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-22', 0.0, 73)
2018-05-03 21:08:16,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,901 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-23', 0.0, 75)
2018-05-03 21:08:16,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,903 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-24', 0.0, 69)
2018-05-03 21:08:16,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,906 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-25', 0.0, 67)
2018-05-03 21:08:16,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,909 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-26', 0.0, 71)
2018-05-03 21:08:16,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,914 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-27', 0.0, 78)
2018-05-03 21:08:16,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,917 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-28', 0.02, 77)
2018-05-03 21:08:16,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,920 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-29', 0.02, 75)
2018-05-03 21:08:16,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,923 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-30', 0.5, 79)
2018-05-03 21:08:16,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,927 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-07-31', 0.01, 78)
2018-05-03 21:08:16,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,934 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-01', 0.0, 76)
2018-05-03 21:08:16,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,937 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-02', 0.0, 74)
2018-05-03 21:08:16,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,939 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-03', 0.0, 79)
2018-05-03 21:08:16,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,943 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-04', 0.0, 79)
2018-05-03 21:08:16,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,948 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-05', 0.0, 69)
2018-05-03 21:08:16,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,950 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-06', 0.0, 74)
2018-05-03 21:08:16,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,952 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-07', 0.0, 72)
2018-05-03 21:08:16,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,954 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-08', 0.0, 68)
2018-05-03 21:08:16,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,957 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-09', 0.0, 75)
2018-05-03 21:08:16,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,960 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-10', 0.07, 73)
2018-05-03 21:08:16,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,974 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-11', 0.0, 81)
2018-05-03 21:08:16,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:16,977 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-12', 0.0, 77)
2018-05-03 21:08:16,981 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,249 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-13', 0.0, 74)
2018-05-03 21:08:17,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,254 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-14', 0.0, 75)
2018-05-03 21:08:17,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,257 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-15', 0.0, 69)
2018-05-03 21:08:17,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,260 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-16', 0.01, 82)
2018-05-03 21:08:17,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,265 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-17', 0.0, 80)
2018-05-03 21:08:17,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,269 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-18', 0.0, 84)
2018-05-03 21:08:17,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,272 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-19', 0.0, 69)
2018-05-03 21:08:17,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,275 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-20', 0.0, 68)
2018-05-03 21:08:17,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,280 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-21', 0.0, 71)
2018-05-03 21:08:17,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,285 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-22', 0.0, 70)
2018-05-03 21:08:17,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,288 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-23', 0.0, 71)
2018-05-03 21:08:17,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:17,291 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-24', 0.0, 80)
2018-05-03 21:08:17,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,294 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-25', 0.0, 81)
2018-05-03 21:08:17,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,304 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-26', 0.0, 76)
2018-05-03 21:08:17,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,307 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-27', 0.0, 75)
2018-05-03 21:08:17,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,310 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-28', 0.0, 71)
2018-05-03 21:08:17,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,316 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-29', 0.06, 70)
2018-05-03 21:08:17,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,319 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-30', 0.0, 80)
2018-05-03 21:08:17,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,321 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-08-31', 0.0, 85)
2018-05-03 21:08:17,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,323 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-01', 0.35, 78)
2018-05-03 21:08:17,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,326 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-02', 0.0, 81)
2018-05-03 21:08:17,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,333 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-03', 0.0, 69)
2018-05-03 21:08:17,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,335 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-04', 0.0, 70)
2018-05-03 21:08:17,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,337 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-05', 0.0, 66)
2018-05-03 21:08:17,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,340 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-06', 0.0, 68)
2018-05-03 21:08:17,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,342 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-07', 0.05, 74)
2018-05-03 21:08:17,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,348 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-08', 0.01, 81)
2018-05-03 21:08:17,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,366 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-09', 0.0, 73)
2018-05-03 21:08:17,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,369 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-10', 0.0, 67)
2018-05-03 21:08:17,370 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,371 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-11', 0.0, 72)
2018-05-03 21:08:17,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,374 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-12', 0.0, 70)
2018-05-03 21:08:17,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,377 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-13', 0.22, 73)
2018-05-03 21:08:17,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,384 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-14', 0.14, 78)
2018-05-03 21:08:17,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,387 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-15', 0.16, 81)
2018-05-03 21:08:17,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,396 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-16', 0.0, 86)
2018-05-03 21:08:17,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,404 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-17', 0.0, 77)
2018-05-03 21:08:17,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,407 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-18', 0.0, 84)
2018-05-03 21:08:17,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,412 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-19', 0.0, 81)
2018-05-03 21:08:17,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,421 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-20', 0.0, 83)
2018-05-03 21:08:17,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,424 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-21', 0.0, 78)
2018-05-03 21:08:17,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,428 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-22', 0.0, 81)
2018-05-03 21:08:17,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,433 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-23', 0.0, 69)
2018-05-03 21:08:17,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,436 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-24', 0.0, 74)
2018-05-03 21:08:17,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,439 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-25', 0.1, 71)
2018-05-03 21:08:17,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,442 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-26', 0.01, 69)
2018-05-03 21:08:17,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,463 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-27', 0.04, 80)
2018-05-03 21:08:17,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,467 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-28', 0.0, 84)
2018-05-03 21:08:17,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,471 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-29', 0.1, 75)
2018-05-03 21:08:17,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,474 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-09-30', 0.0, 72)
2018-05-03 21:08:17,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,480 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-01', 0.01, 71)
2018-05-03 21:08:17,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,485 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-02', 0.0, 73)
2018-05-03 21:08:17,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,487 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-03', 0.0, 72)
2018-05-03 21:08:17,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,491 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-04', 0.0, 68)
2018-05-03 21:08:17,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,496 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-05', 0.0, 82)
2018-05-03 21:08:17,500 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,501 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-06', 0.0, 81)
2018-05-03 21:08:17,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,504 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-07', 0.01, 68)
2018-05-03 21:08:17,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,507 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-08', 0.0, 74)
2018-05-03 21:08:17,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,512 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-09', 0.03, 75)
2018-05-03 21:08:17,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,517 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-10', 0.0, 73)
2018-05-03 21:08:17,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,522 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-11', 0.0, 69)
2018-05-03 21:08:17,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,525 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-12', 0.0, 77)
2018-05-03 21:08:17,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,533 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-13', 0.0, 78)
2018-05-03 21:08:17,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,537 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-14', 0.0, 71)
2018-05-03 21:08:17,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,540 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-15', 0.38, 67)
2018-05-03 21:08:17,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,543 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-16', 0.08, 67)
2018-05-03 21:08:17,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,550 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-17', 0.01, 67)
2018-05-03 21:08:17,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,554 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-18', 0.0, 81)
2018-05-03 21:08:17,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,571 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-19', 0.01, 76)
2018-05-03 21:08:17,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,573 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-20', 0.01, 74)
2018-05-03 21:08:17,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,575 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-21', 0.0, 67)
2018-05-03 21:08:17,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,587 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-22', 0.0, 68)
2018-05-03 21:08:17,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,590 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-23', 0.0, 66)
2018-05-03 21:08:17,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,593 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-24', 0.0, 76)
2018-05-03 21:08:17,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,599 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-25', 0.0, 76)
2018-05-03 21:08:17,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,602 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-26', 0.0, 75)
2018-05-03 21:08:17,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,605 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-27', 0.0, 76)
2018-05-03 21:08:17,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,608 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-28', 0.0, 69)
2018-05-03 21:08:17,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,612 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-29', 0.0, 68)
2018-05-03 21:08:17,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,618 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-30', 0.0, 67)
2018-05-03 21:08:17,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,624 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-10-31', 0.0, 70)
2018-05-03 21:08:17,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,630 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-01', 0.01, 79)
2018-05-03 21:08:17,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,634 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-02', 0.0, 81)
2018-05-03 21:08:17,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,638 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-03', 0.0, 80)

2018-05-03 21:08:17,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,642 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-04', 0.0, 70)
2018-05-03 21:08:17,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,651 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-05', 0.0, 74)
2018-05-03 21:08:17,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,658 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-06', 0.0, 67)
2018-05-03 21:08:17,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,665 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-07', 0.0, 69)
2018-05-03 21:08:17,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,670 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-08', 0.0, 69)
2018-05-03 21:08:17,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,674 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-09', 0.01, 79)
2018-05-03 21:08:17,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,680 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-10', 0.93, 72)
2018-05-03 21:08:17,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,683 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-11', 0.01, 75)
2018-05-03 21:08:17,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,687 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-12', 0.0, 62)
2018-05-03 21:08:17,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,690 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-13', 0.0, 63)
2018-05-03 21:08:17,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,692 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-14', 0.01, 73)
2018-05-03 21:08:17,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,698 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-15', 0.27, 76)
2018-05-03 21:08:17,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,701 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-16', 0.0, 72)
2018-05-03 21:08:17,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,703 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-17', 0.0, 70)
2018-05-03 21:08:17,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,706 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-18', 0.0, 67)
2018-05-03 21:08:17,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,711 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-19', 0.0, 65)
2018-05-03 21:08:17,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,716 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-20', 0.0, 68)
2018-05-03 21:08:17,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,825 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-21', 0.0, 72)
2018-05-03 21:08:17,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,829 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-22', 0.0, 66)
2018-05-03 21:08:17,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,837 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-23', 0.0, 77)
2018-05-03 21:08:17,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,840 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-24', 0.0, 68)
2018-05-03 21:08:17,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,842 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-25', 0.0, 63)
2018-05-03 21:08:17,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,845 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-26', 0.0, 67)
2018-05-03 21:08:17,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,853 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-27', 0.0, 63)
2018-05-03 21:08:17,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,856 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-28', 0.0, 80)
2018-05-03 21:08:17,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,859 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-29', 0.0, 69)
2018-05-03 21:08:17,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,865 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-11-30', 0.42, 78)
2018-05-03 21:08:17,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,869 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-01', 0.46, 70)
2018-05-03 21:08:17,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,872 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-02', 0.87, 68)
2018-05-03 21:08:17,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,875 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-03', 0.0, 68)
2018-05-03 21:08:17,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,879 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-04', 0.01, 66)
2018-05-03 21:08:17,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,884 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-05', 0.01, 75)
2018-05-03 21:08:17,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,886 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-06', 0.0, 67)
2018-05-03 21:08:17,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,889 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-07', 0.0, 70)
2018-05-03 21:08:17,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,892 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-08', 0.0, 72)
2018-05-03 21:08:17,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,895 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-09', 0.0, 69)

2018-05-03 21:08:17,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,900 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-10', 0.0, 72)
2018-05-03 21:08:17,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,903 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-11', 0.0, 69)
2018-05-03 21:08:17,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,906 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-12', 0.02, 65)
2018-05-03 21:08:17,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,908 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-13', 0.0, 71)
2018-05-03 21:08:17,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,911 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-14', 0.0, 73)
2018-05-03 21:08:17,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,916 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-15', 0.06, 69)
2018-05-03 21:08:17,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,919 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-16', 2.4, 69)
2018-05-03 21:08:17,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,921 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-17', 0.01, 63)
2018-05-03 21:08:17,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,924 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-18', 0.01, 63)
2018-05-03 21:08:17,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,926 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-19', 0.05, 71)
2018-05-03 21:08:17,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,929 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-20', 0.0, 79)
2018-05-03 21:08:17,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,933 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-21', 0.0, 67)
2018-05-03 21:08:17,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,936 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-22', 0.0, 67)
2018-05-03 21:08:17,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,938 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-23', 0.08, 64)
2018-05-03 21:08:17,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,940 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-24', 0.0, 63)
2018-05-03 21:08:17,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,942 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-25', 0.0, 68)
2018-05-03 21:08:17,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,946 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-26', 0.0, 77)
2018-05-03 21:08:17,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,950 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-27', 0.0, 79)
2018-05-03 21:08:17,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,953 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-28', 0.0, 74)
2018-05-03 21:08:17,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,956 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-29', 0.0, 68)
2018-05-03 21:08:17,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,959 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2013-12-30', 0.0, 64)
2018-05-03 21:08:17,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,964 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-01', 0.0, 66)
2018-05-03 21:08:17,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,968 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-02', 0.3, 77)
2018-05-03 21:08:17,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,971 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-03', 1.05, 73)
2018-05-03 21:08:17,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,974 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-04', 0.0, 65)
2018-05-03 21:08:17,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,977 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-05', 0.0, 61)
2018-05-03 21:08:17,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,986 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-06', 0.0, 61)
2018-05-03 21:08:17,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,992 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-07', 0.0, 60)
2018-05-03 21:08:17,995 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:17,997 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-08', 0.0, 63)
2018-05-03 21:08:18,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,001 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-09', 0.01, 63)
2018-05-03 21:08:18,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,004 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-10', 0.0, 65)
2018-05-03 21:08:18,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,006 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-11', 0.06, 64)
2018-05-03 21:08:18,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,008 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-12', 0.19, 80)
2018-05-03 21:08:18,011 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,013 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-13', 0.42, 66)
2018-05-03 21:08:18,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,017 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-14', 0.31, 67)
2018-05-03 21:08:18,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:18,020 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-15', 0.0, 63)
2018-05-03 21:08:18,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,023 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-16', 0.02, 66)
2018-05-03 21:08:18,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,034 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-17', 0.0, 65)
2018-05-03 21:08:18,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,037 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-18', 0.01, 66)
2018-05-03 21:08:18,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,039 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-19', 0.0, 66)
2018-05-03 21:08:18,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,042 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-20', 0.0, 76)
2018-05-03 21:08:18,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,046 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-21', 0.0, 63)
2018-05-03 21:08:18,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,051 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-22', 0.5, 69)
2018-05-03 21:08:18,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,053 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-23', 0.0, 57)
2018-05-03 21:08:18,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,055 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-24', 0.0, 58)
2018-05-03 21:08:18,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,057 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-25', 0.0, 75)
2018-05-03 21:08:18,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,059 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-26', 0.0, 74)
2018-05-03 21:08:18,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,064 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-27', 0.14, 67)
2018-05-03 21:08:18,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,068 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-29', 0.12, 70)
2018-05-03 21:08:18,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,070 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-30', 0.0, 64)
2018-05-03 21:08:18,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,072 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-01-31', 0.0, 64)
2018-05-03 21:08:18,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,075 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-01', 0.03, 72)
2018-05-03 21:08:18,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,081 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-02', 0.1, 67)
2018-05-03 21:08:18,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,085 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-03', 0.0, 66)
2018-05-03 21:08:18,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,087 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-04', 0.38, 66)
2018-05-03 21:08:18,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,090 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-05', 0.42, 74)
2018-05-03 21:08:18,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,092 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-06', 0.01, 74)
2018-05-03 21:08:18,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,095 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-07', 0.01, 69)
2018-05-03 21:08:18,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,100 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-08', 0.0, 69)
2018-05-03 21:08:18,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,102 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-09', 0.0, 69)
2018-05-03 21:08:18,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,105 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-10', 0.0, 72)
2018-05-03 21:08:18,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,108 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-11', 0.0, 68)
2018-05-03 21:08:18,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,110 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-12', 0.0, 66)
2018-05-03 21:08:18,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,116 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-13', 0.0, 66)
2018-05-03 21:08:18,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,118 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-14', 0.0, 72)
2018-05-03 21:08:18,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,121 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-15', 0.01, 74)
2018-05-03 21:08:18,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,123 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-16', 0.12, 70)
2018-05-03 21:08:18,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,129 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-17', 0.27, 73)
2018-05-03 21:08:18,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,135 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-18', 0.03, 69)
2018-05-03 21:08:18,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,138 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-19', 0.01, 68)
2018-05-03 21:08:18,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,141 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-20', 0.0, 64)
2018-05-03 21:08:18,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,144 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-21', 0.0, 65)
2018-05-03 21:08:18,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,152 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-22', 0.0, 72)
2018-05-03 21:08:18,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,156 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-23', 0.0, 69)
2018-05-03 21:08:18,157 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,158 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-24', 0.0, 63)
2018-05-03 21:08:18,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,161 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-25', 0.0, 67)
2018-05-03 21:08:18,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,166 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-26', 0.0, 65)
2018-05-03 21:08:18,168 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,169 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-27', 0.0, 58)
2018-05-03 21:08:18,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,172 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-02-28', 0.04, 74)
2018-05-03 21:08:18,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,175 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-01', 0.5, 69)
2018-05-03 21:08:18,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,177 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-02', 0.33, 68)
2018-05-03 21:08:18,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,307 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-03', 0.15, 63)
2018-05-03 21:08:18,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,310 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-04', 0.0, 57)
2018-05-03 21:08:18,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,314 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-05', 0.0, 63)
2018-05-03 21:08:18,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,316 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-06', 0.0, 62)
2018-05-03 21:08:18,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,320 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-07', 0.05, 67)
2018-05-03 21:08:18,322 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,323 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-08', 0.78, 67)
2018-05-03 21:08:18,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,326 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-09', 0.38, 75)
2018-05-03 21:08:18,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,330 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-10', 0.01, 64)
2018-05-03 21:08:18,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,333 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-11', 0.04, 64)
2018-05-03 21:08:18,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,336 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-12', 0.0, 62)
2018-05-03 21:08:18,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,339 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-13', 0.0, 67)
2018-05-03 21:08:18,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,342 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-14', 0.01, 70)
2018-05-03 21:08:18,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,345 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-15', 0.0, 69)
2018-05-03 21:08:18,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,348 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-16', 0.0, 70)
2018-05-03 21:08:18,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,350 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-17', 0.0, 66)
2018-05-03 21:08:18,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,354 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-18', 0.0, 62)
2018-05-03 21:08:18,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,357 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-19', 0.0, 60)
2018-05-03 21:08:18,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,360 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-20', 0.0, 62)
2018-05-03 21:08:18,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,363 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-21', 0.0, 64)
2018-05-03 21:08:18,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,367 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-22', 0.0, 74)
2018-05-03 21:08:18,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,371 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-23', 0.0, 73)
2018-05-03 21:08:18,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,374 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-24', 0.0, 64)
2018-05-03 21:08:18,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,378 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-25', 0.0, 67)
2018-05-03 21:08:18,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,384 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-26', 0.1, 68)
2018-05-03 21:08:18,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,389 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-27', 0.0, 68)
2018-05-03 21:08:18,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,392 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-28', 0.0, 67)

2018-05-03 21:08:18,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,394 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-29', 0.38, 73)
2018-05-03 21:08:18,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,398 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-30', 0.15, 72)
2018-05-03 21:08:18,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,401 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-03-31', 0.0, 71)
2018-05-03 21:08:18,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,404 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-01', 0.0, 70)
2018-05-03 21:08:18,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,406 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-03', 0.0, 75)
2018-05-03 21:08:18,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,408 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-04', 0.0, 72)
2018-05-03 21:08:18,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,411 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-05', 0.0, 76)
2018-05-03 21:08:18,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,416 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-06', 0.0, 76)
2018-05-03 21:08:18,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,419 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-07', 0.03, 67)
2018-05-03 21:08:18,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,421 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-08', 0.0, 68)
2018-05-03 21:08:18,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,424 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-09', 0.0, 69)
2018-05-03 21:08:18,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,429 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-10', 0.0, 68)
2018-05-03 21:08:18,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,434 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-11', 0.0, 69)
2018-05-03 21:08:18,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,438 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-12', 0.1, 69)
2018-05-03 21:08:18,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,441 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-13', 0.0, 75)
2018-05-03 21:08:18,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,443 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-14', 0.01, 71)
2018-05-03 21:08:18,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,447 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-15', 0.0, 71)
2018-05-03 21:08:18,449 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,450 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-16', 0.01, 70)
2018-05-03 21:08:18,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,453 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-17', 0.0, 70)
2018-05-03 21:08:18,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,456 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-18', 0.0, 74)
2018-05-03 21:08:18,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,458 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-19', 0.0, 76)
2018-05-03 21:08:18,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,461 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-20', 0.0, 80)
2018-05-03 21:08:18,464 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,465 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-21', 0.03, 71)
2018-05-03 21:08:18,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,470 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-22', 0.01, 74)
2018-05-03 21:08:18,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,473 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-23', 0.0, 73)
2018-05-03 21:08:18,475 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,476 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-24', 0.0, 72)
2018-05-03 21:08:18,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,479 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-25', 0.0, 72)
2018-05-03 21:08:18,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,484 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-26', 0.0, 80)
2018-05-03 21:08:18,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,488 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-27', 0.07, 72)
2018-05-03 21:08:18,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,491 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-28', 0.15, 63)
2018-05-03 21:08:18,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,494 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-29', 0.02, 68)
2018-05-03 21:08:18,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,498 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-04-30', 0.0, 66)
2018-05-03 21:08:18,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,502 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-01', 0.0, 65)
2018-05-03 21:08:18,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,504 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-02', 0.0, 69)
2018-05-03 21:08:18,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,505 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-03', 0.06, 78)
2018-05-03 21:08:18,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:18,507 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-04', 0.0, 78)
2018-05-03 21:08:18,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,509 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-05', 0.0, 68)
2018-05-03 21:08:18,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,513 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-06', 0.51, 69)
2018-05-03 21:08:18,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,517 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-07', 0.0, 68)
2018-05-03 21:08:18,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,520 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-08', 0.0, 68)
2018-05-03 21:08:18,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,522 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-09', 0.0, 68)
2018-05-03 21:08:18,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,525 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-10', 0.0, 78)
2018-05-03 21:08:18,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,529 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-11', 0.02, 76)
2018-05-03 21:08:18,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,535 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-12', 0.03, 69)
2018-05-03 21:08:18,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,537 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-13', 0.0, 68)
2018-05-03 21:08:18,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,540 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-14', 0.0, 65)
2018-05-03 21:08:18,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,543 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-15', 0.0, 65)
2018-05-03 21:08:18,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,547 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-16', 0.0, 80)
2018-05-03 21:08:18,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,553 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-17', 0.0, 79)
2018-05-03 21:08:18,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,556 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-19', 0.03, 68)
2018-05-03 21:08:18,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,558 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-20', 0.12, 70)
2018-05-03 21:08:18,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,560 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-21', 0.14, 66)
2018-05-03 21:08:18,562 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,564 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-22', 0.0, 67)
2018-05-03 21:08:18,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,567 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-23', 0.04, 77)
2018-05-03 21:08:18,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,570 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-24', 0.23, 75)
2018-05-03 21:08:18,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,572 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-25', 0.04, 78)
2018-05-03 21:08:18,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,573 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-27', 0.85, 72)
2018-05-03 21:08:18,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,576 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-28', 0.0, 69)
2018-05-03 21:08:18,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,582 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-29', 0.0, 73)
2018-05-03 21:08:18,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,586 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-30', 0.0, 71)
2018-05-03 21:08:18,587 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,589 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-05-31', 0.29, 79)
2018-05-03 21:08:18,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,591 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-01', 0.0, 79)
2018-05-03 21:08:18,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,593 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-02', 0.0, 68)
2018-05-03 21:08:18,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,598 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-03', 0.0, 67)
2018-05-03 21:08:18,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,604 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-04', 0.0, 71)
2018-05-03 21:08:18,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,608 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-06', 0.0, 72)
2018-05-03 21:08:18,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,610 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-07', 0.0, 79)
2018-05-03 21:08:18,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,614 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-08', 0.0, 80)
2018-05-03 21:08:18,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,617 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-09', 0.0, 72)
2018-05-03 21:08:18,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,620 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-10', 0.0, 68)
2018-05-03 21:08:18,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,622 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-11', 0.0, 84)
2018-05-03 21:08:18,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:18,624 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-12', 0.0, 82)
2018-05-03 21:08:18,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,626 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-13', 0.0, 79)
2018-05-03 21:08:18,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,630 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-14', 0.0, 78)
2018-05-03 21:08:18,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,771 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-15', 0.0, 81)
2018-05-03 21:08:18,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,774 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-16', 0.0, 77)
2018-05-03 21:08:18,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,776 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-17', 0.17, 71)
2018-05-03 21:08:18,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,779 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-18', 0.01, 69)
2018-05-03 21:08:18,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,783 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-19', 0.0, 73)
2018-05-03 21:08:18,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,786 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-20', 0.03, 68)
2018-05-03 21:08:18,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,788 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-21', 0.0, 75)
2018-05-03 21:08:18,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,790 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-22', 0.0, 79)
2018-05-03 21:08:18,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,793 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-23', 0.05, 70)
2018-05-03 21:08:18,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,798 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-24', 0.05, 70)
2018-05-03 21:08:18,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,802 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-25', 0.05, 73)
2018-05-03 21:08:18,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,805 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-26', 0.03, 71)
2018-05-03 21:08:18,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,807 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-27', 0.02, 68)
2018-05-03 21:08:18,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,810 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-29', 0.05, 78)
2018-05-03 21:08:18,812 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,814 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-06-30', 0.0, 69)
2018-05-03 21:08:18,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,820 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-01', 0.0, 70)
2018-05-03 21:08:18,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,823 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-02', 0.01, 68)
2018-05-03 21:08:18,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,826 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-03', 0.02, 73)
2018-05-03 21:08:18,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,829 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-04', 0.0, 81)
2018-05-03 21:08:18,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,834 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-05', 0.0, 73)
2018-05-03 21:08:18,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,836 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-06', 0.1, 72)
2018-05-03 21:08:18,837 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,838 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-07', 0.02, 72)
2018-05-03 21:08:18,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,840 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-08', 0.02, 69)
2018-05-03 21:08:18,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,843 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-09', 0.0, 72)
2018-05-03 21:08:18,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,846 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-10', 0.0, 76)
2018-05-03 21:08:18,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,851 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-11', 0.01, 75)
2018-05-03 21:08:18,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:18,854 INFO sqlalchemy.engine.base.Engine ('USC00511918', '2014-07-12', 0.0, 81)
2018-05-03 21:08:18,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:20,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:20,987 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-04-29', 1.29, 69)
2018-05-03 21:08:20,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:20,991 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-04-30', 0.92, 72)
2018-05-03 21:08:20,992 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:20,994 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-01', 0.31, 73)
2018-05-03 21:08:20,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:20,997 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-02', 0.37, 74)
2018-05-03 21:08:20,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,000 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-03', 0.14, 75)
2018-05-03 21:08:21,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:21,004 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-04', 0.21, 77)
2018-05-03 21:08:21,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,007 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-05', 0.01, 72)
2018-05-03 21:08:21,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,010 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-06', 0.08, 71)
2018-05-03 21:08:21,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,013 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-07', 0.24, 69)
2018-05-03 21:08:21,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,015 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-08', 0.06, 75)
2018-05-03 21:08:21,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,017 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-09', 0.0, 74)
2018-05-03 21:08:21,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,020 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-10', 0.55, 71)
2018-05-03 21:08:21,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,023 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-12', 0.0, 70)
2018-05-03 21:08:21,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,027 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-13', 0.32, 70)
2018-05-03 21:08:21,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,028 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-14', 0.0, 73)
2018-05-03 21:08:21,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,032 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-15', 0.25, 73)
2018-05-03 21:08:21,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,035 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-16', 0.61, 73)
2018-05-03 21:08:21,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,038 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-17', 0.1, 71)
2018-05-03 21:08:21,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,041 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-18', 0.0, 71)
2018-05-03 21:08:21,042 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,044 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-19', 0.0, 71)
2018-05-03 21:08:21,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,047 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-20', 0.67, 71)
2018-05-03 21:08:21,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,050 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-21', 0.38, 71)
2018-05-03 21:08:21,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,052 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-22', 0.01, 77)
2018-05-03 21:08:21,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,055 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-24', 0.0, 71)
2018-05-03 21:08:21,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,061 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-25', 0.83, 71)
2018-05-03 21:08:21,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,065 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-26', 0.27, 71)
2018-05-03 21:08:21,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,069 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-27', 0.05, 72)
2018-05-03 21:08:21,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,072 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-28', 0.0, 74)
2018-05-03 21:08:21,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,074 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-05-31', 0.0, 80)
2018-05-03 21:08:21,075 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,076 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-01', 0.08, 70)
2018-05-03 21:08:21,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,078 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-02', 0.0, 78)
2018-05-03 21:08:21,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,080 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-03', 0.1, 73)
2018-05-03 21:08:21,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,083 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-04', 0.01, 68)
2018-05-03 21:08:21,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,086 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-05', 0.09, 79)
2018-05-03 21:08:21,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,090 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-06', 0.13, 74)
2018-05-03 21:08:21,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,094 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-07', 0.44, 75)
2018-05-03 21:08:21,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,098 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-08', 0.27, 71)
2018-05-03 21:08:21,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,100 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-09', 0.0, 75)
2018-05-03 21:08:21,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,103 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-14', 0.0, 76)
2018-05-03 21:08:21,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,106 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-16', 0.0, 73)
2018-05-03 21:08:21,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,110 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-17', 0.05, 73)
2018-05-03 21:08:21,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:21,113 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-19', 0.0, 74)
2018-05-03 21:08:21,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,117 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-22', 0.0, 72)
2018-05-03 21:08:21,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,119 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-23', 0.04, 72)
2018-05-03 21:08:21,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,123 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-24', 0.26, 72)
2018-05-03 21:08:21,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,128 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-25', 0.79, 70)
2018-05-03 21:08:21,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,134 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-26', 0.88, 69)
2018-05-03 21:08:21,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,137 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-27', 0.37, 73)
2018-05-03 21:08:21,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,140 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-28', 0.16, 71)
2018-05-03 21:08:21,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,142 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-29', 0.02, 73)
2018-05-03 21:08:21,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,145 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-06-30', 0.71, 72)
2018-05-03 21:08:21,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,150 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-01', 0.44, 70)
2018-05-03 21:08:21,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,153 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-02', 0.7, 69)
2018-05-03 21:08:21,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,158 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-03', 1.81, 69)
2018-05-03 21:08:21,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,203 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-04', 0.44, 72)
2018-05-03 21:08:21,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,211 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-05', 0.14, 72)
2018-05-03 21:08:21,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,213 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-06', 1.01, 69)
2018-05-03 21:08:21,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,216 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-07', 1.05, 69)
2018-05-03 21:08:21,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,219 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-08', 0.9, 69)
2018-05-03 21:08:21,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,223 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-09', 0.75, 68)
2018-05-03 21:08:21,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,226 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-10', 0.75, 68)
2018-05-03 21:08:21,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,229 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-11', 0.31, 71)
2018-05-03 21:08:21,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,234 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-12', 0.25, 70)
2018-05-03 21:08:21,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,246 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-13', 0.0, 72)
2018-05-03 21:08:21,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,250 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-14', 0.48, 69)
2018-05-03 21:08:21,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,255 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-15', 0.24, 68)
2018-05-03 21:08:21,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,258 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-16', 0.19, 70)
2018-05-03 21:08:21,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,261 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-17', 0.46, 70)
2018-05-03 21:08:21,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,267 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-18', 2.14, 74)
2018-05-03 21:08:21,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,276 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-19', 0.35, 69)
2018-05-03 21:08:21,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,285 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-20', 1.23, 70)
2018-05-03 21:08:21,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,314 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-21', 0.05, 72)
2018-05-03 21:08:21,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,317 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-22', 0.07, 72)
2018-05-03 21:08:21,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,319 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-23', 1.0, 71)
2018-05-03 21:08:21,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,322 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-24', 0.04, 73)
2018-05-03 21:08:21,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,324 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-25', 0.0, 74)
2018-05-03 21:08:21,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,327 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-26', 0.0, 73)
2018-05-03 21:08:21,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,332 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-27', 0.1, 70)
2018-05-03 21:08:21,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,334 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-28', 0.02, 71)
2018-05-03 21:08:21,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,337 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-29', 0.38, 72)
2018-05-03 21:08:21,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,339 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-30', 0.29, 69)
2018-05-03 21:08:21,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,343 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-07-31', 0.05, 73)
2018-05-03 21:08:21,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,347 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-01', 0.52, 71)
2018-05-03 21:08:21,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,351 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-02', 1.45, 70)
2018-05-03 21:08:21,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,354 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-03', 0.58, 70)
2018-05-03 21:08:21,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,357 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-04', 1.89, 69)
2018-05-03 21:08:21,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,360 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-05', 0.93, 69)
2018-05-03 21:08:21,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,368 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-06', 0.35, 70)
2018-05-03 21:08:21,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,372 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-07', 0.18, 72)
2018-05-03 21:08:21,373 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,374 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-08', 0.82, 71)
2018-05-03 21:08:21,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,377 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-09', 0.09, 72)
2018-05-03 21:08:21,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,380 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-10', 0.03, 72)
2018-05-03 21:08:21,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,385 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-11', 0.13, 69)
2018-05-03 21:08:21,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,387 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-12', 0.03, 71)
2018-05-03 21:08:21,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,390 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-13', 0.14, 71)
2018-05-03 21:08:21,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,392 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-14', 0.0, 71)
2018-05-03 21:08:21,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,395 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-15', 0.0, 72)
2018-05-03 21:08:21,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,419 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-16', 0.42, 69)
2018-05-03 21:08:21,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,424 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-17', 0.88, 69)
2018-05-03 21:08:21,425 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,426 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-18', 0.08, 72)
2018-05-03 21:08:21,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,619 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-19', 0.12, 74)
2018-05-03 21:08:21,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,626 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-20', 0.24, 71)
2018-05-03 21:08:21,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,629 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-21', 0.06, 72)
2018-05-03 21:08:21,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,631 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-22', 0.02, 71)
2018-05-03 21:08:21,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,634 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-23', 0.06, 73)
2018-05-03 21:08:21,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,636 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-24', 0.41, 70)
2018-05-03 21:08:21,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,638 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-25', 0.45, 69)
2018-05-03 21:08:21,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,655 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-26', 0.61, 71)
2018-05-03 21:08:21,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,659 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-27', 1.13, 73)
2018-05-03 21:08:21,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,663 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-28', 0.41, 73)
2018-05-03 21:08:21,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,674 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-29', 1.0, 71)
2018-05-03 21:08:21,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,676 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-30', 0.18, 73)
2018-05-03 21:08:21,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:21,677 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-08-31', 0.21, 70)
2018-05-03 21:08:21,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,680 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-01', 0.21, 69)
2018-05-03 21:08:21,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,682 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-02', 0.54, 72)
2018-05-03 21:08:21,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,686 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-03', 0.52, 69)
2018-05-03 21:08:21,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,688 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-04', 0.32, 68)
2018-05-03 21:08:21,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,691 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-05', 0.07, 72)
2018-05-03 21:08:21,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,694 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-06', 0.38, 68)
2018-05-03 21:08:21,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,698 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-07', 1.51, 69)
2018-05-03 21:08:21,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,700 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-08', 0.28, 70)
2018-05-03 21:08:21,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,703 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-09', 0.01, 72)
2018-05-03 21:08:21,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,706 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-10', 0.18, 71)
2018-05-03 21:08:21,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,708 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-11', 0.24, 74)
2018-05-03 21:08:21,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,710 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-12', 0.0, 73)
2018-05-03 21:08:21,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,716 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-13', 0.0, 72)
2018-05-03 21:08:21,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,719 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-14', 0.27, 74)
2018-05-03 21:08:21,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,722 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-15', 0.04, 72)
2018-05-03 21:08:21,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,725 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-16', 0.21, 72)
2018-05-03 21:08:21,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,728 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-17', 0.0, 73)
2018-05-03 21:08:21,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,732 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-18', 0.19, 71)
2018-05-03 21:08:21,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,734 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-19', 0.58, 74)
2018-05-03 21:08:21,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,737 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-20', 0.26, 74)
2018-05-03 21:08:21,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,740 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-21', 0.04, 73)
2018-05-03 21:08:21,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,744 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-22', 0.42, 72)
2018-05-03 21:08:21,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,748 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-23', 0.86, 73)
2018-05-03 21:08:21,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,750 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-24', 0.0, 74)
2018-05-03 21:08:21,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,753 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-25', 0.57, 71)
2018-05-03 21:08:21,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,756 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-26', 0.0, 72)
2018-05-03 21:08:21,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,758 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-27', 0.0, 72)
2018-05-03 21:08:21,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,761 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-28', 0.0, 77)
2018-05-03 21:08:21,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,768 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-29', 0.0, 72)
2018-05-03 21:08:21,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,771 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-09-30', 1.18, 70)
2018-05-03 21:08:21,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,774 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-01', 3.14, 73)
2018-05-03 21:08:21,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,777 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-02', 1.27, 73)
2018-05-03 21:08:21,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,780 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-03', 0.03, 73)
2018-05-03 21:08:21,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,783 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-04', 0.24, 71)
2018-05-03 21:08:21,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,786 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-05', 0.21, 76)
2018-05-03 21:08:21,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:21,788 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-06', 0.0, 74)
2018-05-03 21:08:21,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,791 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-07', 0.0, 73)
2018-05-03 21:08:21,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,802 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-08', 0.0, 74)
2018-05-03 21:08:21,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,805 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-09', 0.0, 72)
2018-05-03 21:08:21,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,811 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-10', 0.0, 73)
2018-05-03 21:08:21,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,816 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-11', 0.41, 71)
2018-05-03 21:08:21,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,819 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-12', 0.25, 71)
2018-05-03 21:08:21,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,822 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-13', 0.05, 71)
2018-05-03 21:08:21,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,834 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-14', 0.04, 72)
2018-05-03 21:08:21,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,843 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-15', 0.01, 72)
2018-05-03 21:08:21,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,850 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-16', 0.08, 72)
2018-05-03 21:08:21,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,856 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-17', 0.21, 74)
2018-05-03 21:08:21,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,859 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-18', 0.07, 74)
2018-05-03 21:08:21,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,862 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-19', 4.01, 69)
2018-05-03 21:08:21,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,875 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-20', 0.0, 75)
2018-05-03 21:08:21,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,883 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-21', 0.39, 73)
2018-05-03 21:08:21,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,893 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-22', 0.21, 74)
2018-05-03 21:08:21,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,904 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-23', 0.0, 73)
2018-05-03 21:08:21,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,910 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-24', 0.0, 74)
2018-05-03 21:08:21,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,913 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-25', 0.0, 74)
2018-05-03 21:08:21,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,918 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-26', 0.68, 71)
2018-05-03 21:08:21,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,926 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-27', 1.06, 71)
2018-05-03 21:08:21,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,930 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-28', 0.7, 76)
2018-05-03 21:08:21,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,937 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-29', 0.24, 70)
2018-05-03 21:08:21,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,943 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-30', 1.9, 70)
2018-05-03 21:08:21,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,951 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-10-31', 0.28, 74)
2018-05-03 21:08:21,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,957 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-01', 2.03, 72)
2018-05-03 21:08:21,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,961 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-02', 0.47, 75)
2018-05-03 21:08:21,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,967 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-03', 0.06, 68)
2018-05-03 21:08:21,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,970 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-04', 3.79, 69)
2018-05-03 21:08:21,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,973 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-05', 2.64, 71)
2018-05-03 21:08:21,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,976 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-06', 4.56, 73)
2018-05-03 21:08:21,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,979 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-07', 0.54, 72)
2018-05-03 21:08:21,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:21,996 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-08', 0.01, 73)
2018-05-03 21:08:21,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,003 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-09', 0.01, 69)
2018-05-03 21:08:22,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,008 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-10', 0.76, 69)
2018-05-03 21:08:22,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:22,012 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-11', 0.15, 80)
2018-05-03 21:08:22,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,015 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-12', 0.1, 72)
2018-05-03 21:08:22,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,020 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-13', 0.21, 79)
2018-05-03 21:08:22,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,024 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-14', 0.31, 77)
2018-05-03 21:08:22,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,027 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-15', 0.6, 71)
2018-05-03 21:08:22,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,032 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-16', 0.62, 73)
2018-05-03 21:08:22,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,040 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-17', 0.01, 65)
2018-05-03 21:08:22,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,042 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-18', 0.0, 68)
2018-05-03 21:08:22,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,045 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-19', 0.22, 67)
2018-05-03 21:08:22,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,051 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-20', 0.0, 69)
2018-05-03 21:08:22,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,057 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-21', 0.08, 71)
2018-05-03 21:08:22,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,062 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-22', 0.0, 68)
2018-05-03 21:08:22,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,068 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-23', 0.0, 68)
2018-05-03 21:08:22,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,073 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-24', 0.1, 71)
2018-05-03 21:08:22,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,075 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-25', 0.46, 73)
2018-05-03 21:08:22,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,078 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-26', 0.1, 71)
2018-05-03 21:08:22,289 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,290 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-27', 0.15, 69)
2018-05-03 21:08:22,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,293 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-28', 1.09, 69)
2018-05-03 21:08:22,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,295 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-29', 0.64, 69)
2018-05-03 21:08:22,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,300 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-11-30', 0.06, 71)
2018-05-03 21:08:22,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,307 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-01', 1.48, 71)
2018-05-03 21:08:22,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,312 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-02', 0.18, 70)
2018-05-03 21:08:22,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,317 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-03', 1.59, 67)
2018-05-03 21:08:22,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,323 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-04', 0.19, 77)
2018-05-03 21:08:22,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,326 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-05', 0.0, 69)
2018-05-03 21:08:22,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,327 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-06', 0.0, 61)
2018-05-03 21:08:22,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,329 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-07', 0.0, 62)
2018-05-03 21:08:22,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,332 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-08', 0.0, 63)
2018-05-03 21:08:22,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,337 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-09', 0.0, 73)
2018-05-03 21:08:22,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,340 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-10', 1.86, 64)
2018-05-03 21:08:22,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,342 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-11', 0.58, 67)
2018-05-03 21:08:22,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,344 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-12', 0.45, 69)
2018-05-03 21:08:22,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,346 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-13', 0.18, 80)
2018-05-03 21:08:22,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,351 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-14', 0.0, 71)
2018-05-03 21:08:22,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,356 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-15', 0.0, 73)
2018-05-03 21:08:22,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,358 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-16', 0.0, 65)
2018-05-03 21:08:22,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:22,361 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-17', 0.0, 68)
2018-05-03 21:08:22,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:22,363 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2010-12-18', 0.0, 68)
2018-05-03 21:08:22,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,193 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-03', 0.0, 67)
2018-05-03 21:08:27,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,198 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-05', 0.0, 66)
2018-05-03 21:08:27,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,203 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-06', 0.04, 67)
2018-05-03 21:08:27,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,206 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-07', 0.06, 73)
2018-05-03 21:08:27,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,209 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-08', 0.0, 69)
2018-05-03 21:08:27,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,211 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-09', 0.04, 71)
2018-05-03 21:08:27,223 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,224 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-10', 2.14, 66)
2018-05-03 21:08:27,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,228 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-11', 0.79, 65)
2018-05-03 21:08:27,230 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,231 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-12', 0.0, 67)
2018-05-03 21:08:27,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,246 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-13', 0.0, 64)
2018-05-03 21:08:27,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,249 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-14', 0.0, 66)
2018-05-03 21:08:27,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,257 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-15', 0.0, 62)
2018-05-03 21:08:27,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,263 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-16', 0.0, 65)
2018-05-03 21:08:27,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,266 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-17', 0.0, 64)
2018-05-03 21:08:27,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,272 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-18', 0.0, 69)
2018-05-03 21:08:27,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,478 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-19', 0.0, 67)
2018-05-03 21:08:27,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,480 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-20', 0.0, 64)
2018-05-03 21:08:27,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,484 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-21', 0.0, 67)
2018-05-03 21:08:27,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,493 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-22', 0.0, 72)
2018-05-03 21:08:27,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,496 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-23', 0.22, 67)
2018-05-03 21:08:27,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,499 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-24', 0.42, 67)
2018-05-03 21:08:27,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,503 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-25', 0.45, 69)
2018-05-03 21:08:27,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,509 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-26', 0.0, 69)
2018-05-03 21:08:27,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,512 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-27', 0.01, 68)
2018-05-03 21:08:27,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,516 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-28', 0.86, 68)
2018-05-03 21:08:27,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,518 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-29', 1.58, 66)
2018-05-03 21:08:27,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,522 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-03-30', 0.56, 71)
2018-05-03 21:08:27,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,528 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-01', 0.0, 60)
2018-05-03 21:08:27,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,532 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-02', 0.0, 67)
2018-05-03 21:08:27,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,535 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-03', 0.0, 67)
2018-05-03 21:08:27,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,538 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-04', 0.36, 66)
2018-05-03 21:08:27,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,545 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-05', 0.0, 69)
2018-05-03 21:08:27,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,549 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-07', 0.0, 71)
2018-05-03 21:08:27,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,552 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-08', 0.0, 72)
2018-05-03 21:08:27,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:27,560 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-09', 0.06, 70)
2018-05-03 21:08:27,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,562 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-10', 0.63, 69)
2018-05-03 21:08:27,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,565 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-11', 0.08, 71)
2018-05-03 21:08:27,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,568 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-12', 0.01, 71)
2018-05-03 21:08:27,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,574 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-13', 0.02, 72)
2018-05-03 21:08:27,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,578 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-14', 0.0, 72)
2018-05-03 21:08:27,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,581 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-15', 0.83, 72)
2018-05-03 21:08:27,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,584 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-16', 0.08, 68)
2018-05-03 21:08:27,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,589 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-17', 0.0, 72)
2018-05-03 21:08:27,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,594 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-18', 0.07, 69)
2018-05-03 21:08:27,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,598 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-19', 0.57, 69)
2018-05-03 21:08:27,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,600 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-20', 1.4, 75)
2018-05-03 21:08:27,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,604 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-21', 0.01, 69)
2018-05-03 21:08:27,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,610 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-22', 0.06, 71)
2018-05-03 21:08:27,613 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,614 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-23', 0.0, 70)
2018-05-03 21:08:27,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,616 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-24', 0.91, 78)
2018-05-03 21:08:27,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,619 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-25', 0.7, 72)
2018-05-03 21:08:27,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,627 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-26', 0.01, 73)
2018-05-03 21:08:27,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,631 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-28', 0.0, 70)
2018-05-03 21:08:27,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,633 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-29', 0.0, 74)
2018-05-03 21:08:27,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,639 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-04-30', 0.0, 74)
2018-05-03 21:08:27,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,644 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-01', 0.53, 70)
2018-05-03 21:08:27,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,646 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-02', 0.6, 73)
2018-05-03 21:08:27,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,649 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-03', 0.11, 78)
2018-05-03 21:08:27,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,652 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-04', 0.02, 69)
2018-05-03 21:08:27,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,660 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-05', 0.42, 69)
2018-05-03 21:08:27,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,678 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-06', 0.56, 70)
2018-05-03 21:08:27,680 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,682 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-07', 0.0, 70)
2018-05-03 21:08:27,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,684 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-08', 0.0, 74)
2018-05-03 21:08:27,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,688 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-09', 0.0, 73)
2018-05-03 21:08:27,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,696 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-10', 0.0, 73)
2018-05-03 21:08:27,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,699 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-11', 0.21, 70)
2018-05-03 21:08:27,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,701 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-12', 0.43, 69)
2018-05-03 21:08:27,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,705 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-13', 3.7, 70)
2018-05-03 21:08:27,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,710 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-14', 1.22, 71)
2018-05-03 21:08:27,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,713 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-15', 0.02, 72)
2018-05-03 21:08:27,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:27,715 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-16', 0.32, 70)
2018-05-03 21:08:27,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,717 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-17', 0.15, 71)
2018-05-03 21:08:27,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,720 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-18', 0.15, 70)
2018-05-03 21:08:27,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,726 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-19', 0.35, 76)
2018-05-03 21:08:27,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,729 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-20', 0.12, 73)
2018-05-03 21:08:27,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,731 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-21', 0.0, 69)
2018-05-03 21:08:27,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,734 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-22', 0.0, 75)
2018-05-03 21:08:27,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,739 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-23', 0.0, 75)
2018-05-03 21:08:27,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,744 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-24', 0.0, 73)
2018-05-03 21:08:27,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,747 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-25', 0.28, 71)
2018-05-03 21:08:27,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,750 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-26', 0.98, 71)
2018-05-03 21:08:27,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,755 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-27', 0.06, 72)
2018-05-03 21:08:27,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,761 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-28', 1.73, 69)
2018-05-03 21:08:27,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,764 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-29', 2.41, 72)
2018-05-03 21:08:27,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,767 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-30', 0.39, 72)
2018-05-03 21:08:27,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,771 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-05-31', 0.27, 71)
2018-05-03 21:08:27,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,777 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-01', 0.71, 78)
2018-05-03 21:08:27,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,780 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-02', 0.81, 72)
2018-05-03 21:08:27,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,783 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-03', 0.49, 73)
2018-05-03 21:08:27,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,791 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-04', 0.03, 71)
2018-05-03 21:08:27,793 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,794 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-05', 0.0, 72)
2018-05-03 21:08:27,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,798 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-06', 0.14, 72)
2018-05-03 21:08:27,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,801 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-07', 0.07, 71)
2018-05-03 21:08:27,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,805 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-08', 0.08, 74)
2018-05-03 21:08:27,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,811 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-09', 0.02, 71)
2018-05-03 21:08:27,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,814 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-10', 0.02, 72)
2018-05-03 21:08:27,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,818 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-11', 0.05, 72)
2018-05-03 21:08:27,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,822 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-12', 0.28, 74)
2018-05-03 21:08:27,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,827 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-13', 0.47, 72)
2018-05-03 21:08:27,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,830 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-14', 2.56, 69)
2018-05-03 21:08:27,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,834 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-15', 0.11, 70)
2018-05-03 21:08:27,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,839 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-16', 0.3, 76)
2018-05-03 21:08:27,843 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,844 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-17', 0.43, 70)
2018-05-03 21:08:27,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,847 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-18', 0.44, 71)
2018-05-03 21:08:27,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,850 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-19', 0.05, 73)
2018-05-03 21:08:27,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,855 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-20', 0.18, 68)
2018-05-03 21:08:27,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,861 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-21', 1.53, 68)
2018-05-03 21:08:27,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,864 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-22', 1.96, 69)
2018-05-03 21:08:27,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,866 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-23', 0.67, 70)
2018-05-03 21:08:27,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,868 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-24', 0.62, 69)
2018-05-03 21:08:27,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,874 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-25', 2.03, 69)
2018-05-03 21:08:27,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,878 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-26', 2.8, 70)
2018-05-03 21:08:27,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,881 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-27', 0.06, 71)
2018-05-03 21:08:27,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,885 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-28', 0.34, 70)
2018-05-03 21:08:27,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:27,895 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-29', 0.53, 67)
2018-05-03 21:08:27,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,002 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-06-30', 0.83, 72)
2018-05-03 21:08:28,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,005 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-01', 0.0, 73)
2018-05-03 21:08:28,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,010 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-02', 0.43, 69)
2018-05-03 21:08:28,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,014 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-03', 0.51, 72)
2018-05-03 21:08:28,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,017 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-04', 0.22, 73)
2018-05-03 21:08:28,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,019 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-05', 0.0, 67)
2018-05-03 21:08:28,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,023 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-06', 0.0, 73)
2018-05-03 21:08:28,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,027 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-07', 0.0, 70)
2018-05-03 21:08:28,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,029 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-08', 0.01, 72)
2018-05-03 21:08:28,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,032 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-09', 0.24, 74)
2018-05-03 21:08:28,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,034 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-10', 0.21, 70)
2018-05-03 21:08:28,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,038 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-11', 0.26, 71)
2018-05-03 21:08:28,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,043 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-12', 0.43, 71)
2018-05-03 21:08:28,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,047 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-14', 0.0, 72)
2018-05-03 21:08:28,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,050 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-15', 0.2, 73)
2018-05-03 21:08:28,051 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,053 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-16', 0.26, 71)
2018-05-03 21:08:28,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,058 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-22', 0.0, 72)
2018-05-03 21:08:28,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,061 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-23', 0.63, 73)
2018-05-03 21:08:28,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,064 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-25', 0.0, 72)
2018-05-03 21:08:28,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,066 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-26', 0.0, 71)
2018-05-03 21:08:28,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,069 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-27', 0.07, 72)
2018-05-03 21:08:28,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,074 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-28', 0.53, 72)
2018-05-03 21:08:28,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,078 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-30', 0.0, 82)
2018-05-03 21:08:28,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,081 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-07-31', 0.53, 72)
2018-05-03 21:08:28,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,084 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-02', 0.0, 70)
2018-05-03 21:08:28,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,086 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-03', 0.06, 72)
2018-05-03 21:08:28,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:28,091 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-04', 0.29, 69)
2018-05-03 21:08:28,094 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,094 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-05', 0.34, 72)
2018-05-03 21:08:28,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,096 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-06', 0.23, 74)
2018-05-03 21:08:28,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,099 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-07', 0.0, 74)
2018-05-03 21:08:28,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,102 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-08', 0.0, 73)
2018-05-03 21:08:28,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,105 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-09', 0.1, 71)
2018-05-03 21:08:28,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,110 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-10', 4.32, 75)
2018-05-03 21:08:28,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,112 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-11', 0.96, 72)
2018-05-03 21:08:28,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,114 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-12', 0.36, 74)
2018-05-03 21:08:28,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,116 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-13', 0.0, 73)
2018-05-03 21:08:28,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,118 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-14', 0.22, 73)
2018-05-03 21:08:28,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,122 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-16', 0.0, 73)
2018-05-03 21:08:28,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,127 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-17', 0.0, 74)
2018-05-03 21:08:28,128 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,129 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-18', 0.0, 73)
2018-05-03 21:08:28,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,131 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-19', 0.03, 73)
2018-05-03 21:08:28,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,134 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-20', 0.02, 78)
2018-05-03 21:08:28,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,136 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-21', 0.09, 73)
2018-05-03 21:08:28,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,139 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-23', 0.0, 71)
2018-05-03 21:08:28,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,144 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-24', 0.17, 77)
2018-05-03 21:08:28,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,146 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-26', 0.0, 75)
2018-05-03 21:08:28,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,148 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-27', 0.0, 76)
2018-05-03 21:08:28,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,151 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-28', 0.0, 78)
2018-05-03 21:08:28,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,153 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-29', 0.45, 72)
2018-05-03 21:08:28,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,158 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-30', 0.04, 73)
2018-05-03 21:08:28,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,161 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-08-31', 0.1, 74)
2018-05-03 21:08:28,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,163 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-01', 0.44, 79)
2018-05-03 21:08:28,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,165 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-02', 0.07, 71)
2018-05-03 21:08:28,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,168 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-03', 0.13, 71)
2018-05-03 21:08:28,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,170 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-04', 0.06, 74)
2018-05-03 21:08:28,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,174 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-05', 0.02, 75)
2018-05-03 21:08:28,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,178 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-06', 0.0, 71)
2018-05-03 21:08:28,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,180 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-07', 1.01, 71)
2018-05-03 21:08:28,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,182 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-08', 0.18, 73)
2018-05-03 21:08:28,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,185 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-09', 0.02, 74)
2018-05-03 21:08:28,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,187 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-10', 0.01, 76)
2018-05-03 21:08:28,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,192 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-11', 0.19, 76)
2018-05-03 21:08:28,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:28,195 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-12', 0.0, 73)
2018-05-03 21:08:28,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,197 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-13', 0.88, 71)
2018-05-03 21:08:28,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,199 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-14', 0.98, 72)
2018-05-03 21:08:28,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,202 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-15', 0.2, 75)
2018-05-03 21:08:28,206 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,208 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-16', 0.0, 75)
2018-05-03 21:08:28,210 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,212 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-17', 0.36, 71)
2018-05-03 21:08:28,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,215 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-18', 0.62, 71)
2018-05-03 21:08:28,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,218 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-19', 0.07, 72)
2018-05-03 21:08:28,219 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,222 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-20', 0.0, 75)
2018-05-03 21:08:28,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,226 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-21', 0.01, 74)
2018-05-03 21:08:28,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,231 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-22', 0.22, 70)
2018-05-03 21:08:28,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,234 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-23', 0.29, 71)
2018-05-03 21:08:28,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,238 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-24', 0.07, 71)
2018-05-03 21:08:28,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,243 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-25', 0.77, 73)
2018-05-03 21:08:28,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,246 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-27', 0.0, 74)
2018-05-03 21:08:28,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,248 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-28', 0.11, 76)
2018-05-03 21:08:28,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,251 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-29', 0.46, 72)
2018-05-03 21:08:28,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,254 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-09-30', 0.7, 74)
2018-05-03 21:08:28,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,260 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-01', 0.55, 73)
2018-05-03 21:08:28,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,262 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-02', 0.24, 75)
2018-05-03 21:08:28,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,265 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-03', 0.07, 74)
2018-05-03 21:08:28,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,268 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-04', 0.07, 72)
2018-05-03 21:08:28,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,274 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-05', 0.72, 71)
2018-05-03 21:08:28,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,278 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-06', 0.22, 74)
2018-05-03 21:08:28,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,281 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-07', 0.37, 75)
2018-05-03 21:08:28,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,284 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-08', 0.09, 72)
2018-05-03 21:08:28,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,288 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-09', 0.48, 73)
2018-05-03 21:08:28,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,293 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-10', 0.54, 71)
2018-05-03 21:08:28,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,296 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-11', 0.45, 75)
2018-05-03 21:08:28,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,299 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-12', 0.01, 73)
2018-05-03 21:08:28,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,301 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-13', 0.0, 84)
2018-05-03 21:08:28,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,305 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-14', 2.15, 74)
2018-05-03 21:08:28,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,311 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-15', 1.02, 76)
2018-05-03 21:08:28,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,313 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-16', 0.3, 70)
2018-05-03 21:08:28,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,316 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-17', 0.02, 76)
2018-05-03 21:08:28,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,319 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-18', 0.0, 67)
2018-05-03 21:08:28,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:28,325 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-19', 0.0, 70)
2018-05-03 21:08:28,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,329 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-20', 0.0, 70)
2018-05-03 21:08:28,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,448 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-21', 0.05, 77)
2018-05-03 21:08:28,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,451 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-22', 0.0, 72)
2018-05-03 21:08:28,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,455 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-24', 0.0, 72)
2018-05-03 21:08:28,457 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,460 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-25', 0.1, 74)
2018-05-03 21:08:28,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,463 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-26', 0.0, 80)
2018-05-03 21:08:28,464 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,466 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-28', 0.0, 74)
2018-05-03 21:08:28,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,468 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-29', 0.03, 73)
2018-05-03 21:08:28,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,472 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-30', 0.12, 72)
2018-05-03 21:08:28,474 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,476 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-10-31', 0.54, 75)
2018-05-03 21:08:28,478 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,479 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-01', 0.09, 72)
2018-05-03 21:08:28,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,482 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-02', 0.38, 70)
2018-05-03 21:08:28,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,485 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-03', 0.02, 72)
2018-05-03 21:08:28,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,487 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-05', 0.0, 74)
2018-05-03 21:08:28,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,493 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-06', 0.54, 74)
2018-05-03 21:08:28,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,496 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-07', 0.12, 72)
2018-05-03 21:08:28,497 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,499 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-08', 0.39, 75)
2018-05-03 21:08:28,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,502 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-09', 0.77, 70)
2018-05-03 21:08:28,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,505 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-10', 8.06, 70)
2018-05-03 21:08:28,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,510 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-11', 1.7, 71)
2018-05-03 21:08:28,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,514 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-13', 0.0, 72)
2018-05-03 21:08:28,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,517 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-14', 0.0, 71)
2018-05-03 21:08:28,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,520 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-15', 0.72, 72)
2018-05-03 21:08:28,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,525 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-16', 0.0, 75)
2018-05-03 21:08:28,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,528 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-17', 0.0, 73)
2018-05-03 21:08:28,530 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,531 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-18', 0.03, 66)
2018-05-03 21:08:28,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,533 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-19', 0.0, 69)
2018-05-03 21:08:28,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,535 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-20', 0.0, 69)
2018-05-03 21:08:28,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,541 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-21', 0.0, 69)
2018-05-03 21:08:28,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,545 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-23', 0.0, 74)
2018-05-03 21:08:28,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,547 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-24', 0.0, 75)
2018-05-03 21:08:28,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,549 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-26', 0.0, 74)
2018-05-03 21:08:28,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,551 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-27', 0.0, 73)
2018-05-03 21:08:28,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,555 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-28', 0.07, 72)
2018-05-03 21:08:28,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,560 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-29', 0.0, 72)
2018-05-03 21:08:28,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:28,562 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-11-30', 0.63, 74)
2018-05-03 21:08:28,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,565 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-01', 0.14, 68)
2018-05-03 21:08:28,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,567 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-02', 2.02, 67)
2018-05-03 21:08:28,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,569 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-03', 0.15, 75)
2018-05-03 21:08:28,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,572 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-04', 0.0, 68)
2018-05-03 21:08:28,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,577 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-05', 0.0, 68)
2018-05-03 21:08:28,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,580 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-06', 0.0, 70)
2018-05-03 21:08:28,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,583 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-08', 0.0, 83)
2018-05-03 21:08:28,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,585 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-09', 0.0, 68)
2018-05-03 21:08:28,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,588 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-10', 0.35, 70)
2018-05-03 21:08:28,591 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,593 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-11', 0.37, 70)
2018-05-03 21:08:28,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,595 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-12', 0.09, 68)
2018-05-03 21:08:28,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,598 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-13', 0.39, 76)
2018-05-03 21:08:28,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,600 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-14', 0.54, 72)
2018-05-03 21:08:28,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,603 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-15', 0.01, 68)
2018-05-03 21:08:28,607 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,610 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-16', 1.13, 64)
2018-05-03 21:08:28,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,613 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-17', 0.0, 72)
2018-05-03 21:08:28,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,615 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-18', 0.03, 72)
2018-05-03 21:08:28,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,617 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-19', 2.0, 68)
2018-05-03 21:08:28,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,619 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-20', 1.02, 70)
2018-05-03 21:08:28,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,623 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-21', 1.14, 69)
2018-05-03 21:08:28,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,628 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-23', 0.0, 68)
2018-05-03 21:08:28,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,630 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-24', 0.03, 70)
2018-05-03 21:08:28,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,632 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-25', 0.41, 67)
2018-05-03 21:08:28,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,635 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-26', 0.14, 70)
2018-05-03 21:08:28,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,637 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-27', 0.0, 70)
2018-05-03 21:08:28,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,642 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-28', 0.03, 71)
2018-05-03 21:08:28,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,645 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-29', 0.47, 70)
2018-05-03 21:08:28,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,648 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-30', 0.02, 69)
2018-05-03 21:08:28,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,650 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2013-12-31', 0.0, 71)
2018-05-03 21:08:28,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,652 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-01', 0.0, 65)
2018-05-03 21:08:28,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,659 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-02', 0.04, 69)
2018-05-03 21:08:28,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,662 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-03', 2.41, 69)
2018-05-03 21:08:28,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,665 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-04', 0.0, 69)
2018-05-03 21:08:28,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,668 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-05', 0.02, 66)
2018-05-03 21:08:28,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,671 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-06', 0.06, 67)
2018-05-03 21:08:28,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:28,677 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-07', 0.0, 69)
2018-05-03 21:08:28,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,681 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-08', 0.0, 69)
2018-05-03 21:08:28,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,684 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-09', 0.11, 69)
2018-05-03 21:08:28,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,686 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-10', 0.1, 70)
2018-05-03 21:08:28,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,692 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-11', 0.09, 67)
2018-05-03 21:08:28,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,696 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-12', 0.02, 69)
2018-05-03 21:08:28,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,698 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-13', 0.0, 67)
2018-05-03 21:08:28,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,701 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-14', 0.8, 73)
2018-05-03 21:08:28,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,703 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-15', 0.01, 69)
2018-05-03 21:08:28,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,708 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-16', 0.01, 68)
2018-05-03 21:08:28,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,712 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-17', 0.0, 73)
2018-05-03 21:08:28,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,714 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-18', 0.01, 69)
2018-05-03 21:08:28,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,716 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-19', 0.0, 66)
2018-05-03 21:08:28,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,718 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-20', 0.0, 66)
2018-05-03 21:08:28,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,722 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-21', 0.02, 65)
2018-05-03 21:08:28,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,727 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-22', 0.75, 68)
2018-05-03 21:08:28,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,729 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-23', 0.0, 68)
2018-05-03 21:08:28,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,732 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-24', 0.0, 68)
2018-05-03 21:08:28,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,735 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-25', 0.0, 70)
2018-05-03 21:08:28,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,737 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-26', 0.32, 70)
2018-05-03 21:08:28,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,742 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-27', 0.22, 64)
2018-05-03 21:08:28,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,746 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-28', 0.28, 65)
2018-05-03 21:08:28,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,748 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-29', 2.0, 66)
2018-05-03 21:08:28,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,751 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-30', 1.32, 65)
2018-05-03 21:08:28,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,755 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-01-31', 0.02, 67)
2018-05-03 21:08:28,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,761 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-01', 0.51, 68)
2018-05-03 21:08:28,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,765 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-02', 0.61, 67)
2018-05-03 21:08:28,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,767 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-03', 0.0, 68)
2018-05-03 21:08:28,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,770 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-04', 0.38, 66)
2018-05-03 21:08:28,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,776 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-05', 0.31, 69)
2018-05-03 21:08:28,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,904 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-06', 0.07, 72)
2018-05-03 21:08:28,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,909 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-07', 0.02, 72)
2018-05-03 21:08:28,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,912 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-08', 0.13, 70)
2018-05-03 21:08:28,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,915 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-09', 0.22, 69)
2018-05-03 21:08:28,917 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,918 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-10', 0.01, 68)
2018-05-03 21:08:28,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,921 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-11', 0.0, 77)
2018-05-03 21:08:28,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:28,927 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-12', 0.0, 71)
2018-05-03 21:08:28,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,929 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-13', 0.0, 71)
2018-05-03 21:08:28,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,932 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-14', 0.12, 69)
2018-05-03 21:08:28,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,935 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-15', 2.97, 69)
2018-05-03 21:08:28,936 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,938 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-16', 0.76, 69)
2018-05-03 21:08:28,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,943 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-17', 0.36, 68)
2018-05-03 21:08:28,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,948 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-18', 0.26, 68)
2018-05-03 21:08:28,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,951 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-19', 0.02, 77)
2018-05-03 21:08:28,952 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,953 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-21', 0.0, 69)
2018-05-03 21:08:28,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,959 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-22', 0.02, 83)
2018-05-03 21:08:28,965 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,966 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-23', 0.08, 66)
2018-05-03 21:08:28,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,969 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-24', 0.05, 68)
2018-05-03 21:08:28,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,972 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-25', 0.01, 67)
2018-05-03 21:08:28,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,978 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-26', 0.0, 62)
2018-05-03 21:08:28,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,982 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-27', 0.05, 67)
2018-05-03 21:08:28,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,985 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-02-28', 0.15, 68)
2018-05-03 21:08:28,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,990 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-01', 0.42, 69)
2018-05-03 21:08:28,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,995 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-02', 0.79, 66)
2018-05-03 21:08:28,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:28,998 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-03', 0.14, 60)
2018-05-03 21:08:28,999 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,000 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-04', 0.0, 70)
2018-05-03 21:08:29,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,002 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-05', 0.0, 68)
2018-05-03 21:08:29,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,005 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-06', 0.0, 65)
2018-05-03 21:08:29,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,010 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-07', 0.4, 69)
2018-05-03 21:08:29,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,013 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-08', 0.78, 65)
2018-05-03 21:08:29,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,015 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-09', 3.4, 68)
2018-05-03 21:08:29,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,017 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-10', 2.14, 68)
2018-05-03 21:08:29,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,019 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-11', 0.02, 69)
2018-05-03 21:08:29,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,022 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-12', 0.01, 70)
2018-05-03 21:08:29,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,027 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-13', 0.02, 70)
2018-05-03 21:08:29,029 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,030 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-15', 0.0, 70)
2018-05-03 21:08:29,031 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,032 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-16', 0.49, 66)
2018-05-03 21:08:29,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,035 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-23', 0.0, 70)
2018-05-03 21:08:29,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,038 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-25', 0.0, 70)
2018-05-03 21:08:29,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,043 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-26', 1.47, 77)
2018-05-03 21:08:29,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,046 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-27', 0.39, 69)
2018-05-03 21:08:29,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,049 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-28', 0.36, 71)
2018-05-03 21:08:29,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:29,051 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-29', 1.48, 70)
2018-05-03 21:08:29,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,058 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-03-31', 0.0, 78)
2018-05-03 21:08:29,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,064 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-01', 0.79, 69)
2018-05-03 21:08:29,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,067 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-02', 0.77, 71)
2018-05-03 21:08:29,068 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,069 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-03', 0.44, 71)
2018-05-03 21:08:29,070 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,074 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-04', 0.02, 70)
2018-05-03 21:08:29,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,078 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-05', 0.0, 74)
2018-05-03 21:08:29,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,080 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-06', 0.0, 71)
2018-05-03 21:08:29,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,082 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-07', 1.26, 66)
2018-05-03 21:08:29,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,085 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-08', 0.38, 66)
2018-05-03 21:08:29,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,095 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-09', 0.0, 67)
2018-05-03 21:08:29,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,100 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-10', 0.08, 64)
2018-05-03 21:08:29,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,102 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-11', 0.02, 69)
2018-05-03 21:08:29,104 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,106 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-12', 1.18, 65)
2018-05-03 21:08:29,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,110 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-13', 0.53, 67)
2018-05-03 21:08:29,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,116 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-14', 0.72, 68)
2018-05-03 21:08:29,118 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,120 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-15', 0.05, 69)
2018-05-03 21:08:29,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,128 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-16', 0.88, 70)
2018-05-03 21:08:29,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,132 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-17', 0.08, 72)
2018-05-03 21:08:29,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,136 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-18', 0.78, 70)
2018-05-03 21:08:29,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,145 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-19', 0.44, 72)
2018-05-03 21:08:29,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,147 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-20', 0.21, 69)
2018-05-03 21:08:29,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,150 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-21', 1.9, 68)
2018-05-03 21:08:29,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,156 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-22', 1.56, 71)
2018-05-03 21:08:29,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,167 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-23', 0.07, 69)
2018-05-03 21:08:29,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,177 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-24', 0.23, 71)
2018-05-03 21:08:29,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,181 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-25', 0.81, 70)
2018-05-03 21:08:29,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,187 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-26', 0.1, 68)
2018-05-03 21:08:29,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,191 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-27', 2.44, 67)
2018-05-03 21:08:29,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,196 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-28', 1.06, 66)
2018-05-03 21:08:29,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,201 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-29', 0.09, 69)
2018-05-03 21:08:29,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,206 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-04-30', 0.22, 67)
2018-05-03 21:08:29,213 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,214 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-01', 0.52, 67)
2018-05-03 21:08:29,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,217 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-02', 0.15, 69)
2018-05-03 21:08:29,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,220 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-03', 1.14, 71)
2018-05-03 21:08:29,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,223 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-04', 0.0, 70)
2018-05-03 21:08:29,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:29,230 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-05', 0.03, 67)
2018-05-03 21:08:29,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,235 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-06', 0.24, 70)
2018-05-03 21:08:29,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,240 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-07', 0.31, 69)
2018-05-03 21:08:29,243 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,245 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-08', 0.03, 68)
2018-05-03 21:08:29,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,248 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-09', 0.23, 70)
2018-05-03 21:08:29,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,251 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-11', 0.0, 70)
2018-05-03 21:08:29,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,254 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-12', 2.79, 69)
2018-05-03 21:08:29,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,261 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-13', 0.17, 69)
2018-05-03 21:08:29,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,264 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-14', 0.0, 69)
2018-05-03 21:08:29,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,267 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-15', 0.05, 75)
2018-05-03 21:08:29,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,270 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-16', 0.18, 71)
2018-05-03 21:08:29,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,282 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-17', 0.04, 69)
2018-05-03 21:08:29,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,285 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-18', 0.0, 74)
2018-05-03 21:08:29,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,291 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-19', 0.15, 68)
2018-05-03 21:08:29,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,296 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-20', 0.24, 70)
2018-05-03 21:08:29,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,300 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-21', 0.04, 73)
2018-05-03 21:08:29,301 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,303 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-22', 0.0, 77)
2018-05-03 21:08:29,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,307 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-23', 0.0, 76)
2018-05-03 21:08:29,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,311 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-24', 0.05, 73)
2018-05-03 21:08:29,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,315 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-25', 0.51, 77)
2018-05-03 21:08:29,317 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,318 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-26', 2.2, 70)
2018-05-03 21:08:29,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,322 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-27', 0.11, 71)
2018-05-03 21:08:29,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,550 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-28', 0.41, 71)
2018-05-03 21:08:29,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,553 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-29', 0.19, 70)
2018-05-03 21:08:29,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,557 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-05-30', 0.41, 73)
2018-05-03 21:08:29,561 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,563 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-01', 0.26, 72)
2018-05-03 21:08:29,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,566 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-02', 0.68, 75)
2018-05-03 21:08:29,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,568 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-03', 0.19, 73)
2018-05-03 21:08:29,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,573 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-04', 0.09, 73)
2018-05-03 21:08:29,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,579 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-05', 0.03, 72)
2018-05-03 21:08:29,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,590 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-06', 0.88, 71)
2018-05-03 21:08:29,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,596 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-07', 0.15, 77)
2018-05-03 21:08:29,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,599 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-08', 0.29, 73)
2018-05-03 21:08:29,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,602 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-09', 1.0, 70)
2018-05-03 21:08:29,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,604 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-10', 0.11, 70)
2018-05-03 21:08:29,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,609 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-11', 0.57, 76)
2018-05-03 21:08:29,612 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:29,613 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-12', 0.02, 72)
2018-05-03 21:08:29,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,616 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-13', 0.01, 73)
2018-05-03 21:08:29,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,620 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-14', 0.0, 77)
2018-05-03 21:08:29,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,624 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-15', 0.03, 73)
2018-05-03 21:08:29,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,629 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-16', 0.38, 70)
2018-05-03 21:08:29,631 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,632 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-17', 1.45, 68)
2018-05-03 21:08:29,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,635 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-18', 0.32, 69)
2018-05-03 21:08:29,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,638 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-19', 0.2, 70)
2018-05-03 21:08:29,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,648 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-20', 0.75, 70)
2018-05-03 21:08:29,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,651 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-21', 0.09, 73)
2018-05-03 21:08:29,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,662 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-22', 0.03, 70)
2018-05-03 21:08:29,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,664 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-23', 0.74, 69)
2018-05-03 21:08:29,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,669 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-24', 0.07, 71)
2018-05-03 21:08:29,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,674 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-25', 0.97, 70)
2018-05-03 21:08:29,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,678 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-26', 0.42, 70)
2018-05-03 21:08:29,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,680 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-27', 0.9, 72)
2018-05-03 21:08:29,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,683 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-28', 1.29, 71)
2018-05-03 21:08:29,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,687 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-06-29', 1.29, 70)
2018-05-03 21:08:29,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,691 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-01', 0.0, 72)
2018-05-03 21:08:29,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,696 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-02', 0.42, 71)
2018-05-03 21:08:29,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,699 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-03', 1.1, 71)
2018-05-03 21:08:29,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,702 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-04', 0.07, 77)
2018-05-03 21:08:29,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,707 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-05', 0.12, 71)
2018-05-03 21:08:29,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,711 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-06', 1.34, 71)
2018-05-03 21:08:29,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,714 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-07', 0.57, 69)
2018-05-03 21:08:29,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,717 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-08', 0.42, 73)
2018-05-03 21:08:29,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,721 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-09', 0.55, 70)
2018-05-03 21:08:29,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,726 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-10', 0.33, 74)
2018-05-03 21:08:29,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,730 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-11', 0.16, 75)
2018-05-03 21:08:29,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,733 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-12', 0.16, 73)
2018-05-03 21:08:29,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,736 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-13', 1.23, 72)
2018-05-03 21:08:29,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,740 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-14', 1.01, 73)
2018-05-03 21:08:29,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,750 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-15', 1.18, 75)
2018-05-03 21:08:29,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,753 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-17', 0.0, 70)
2018-05-03 21:08:29,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,757 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-18', 1.04, 73)
2018-05-03 21:08:29,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,762 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-19', 0.01, 74)
2018-05-03 21:08:29,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:29,765 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-20', 4.3, 72)
2018-05-03 21:08:29,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,768 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-21', 0.72, 73)
2018-05-03 21:08:29,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,772 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-22', 0.14, 75)
2018-05-03 21:08:29,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,777 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-23', 0.93, 75)
2018-05-03 21:08:29,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,781 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-24', 0.13, 73)
2018-05-03 21:08:29,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,784 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-25', 0.05, 72)
2018-05-03 21:08:29,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,787 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-26', 0.26, 74)
2018-05-03 21:08:29,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,792 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-27', 1.43, 75)
2018-05-03 21:08:29,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,798 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-28', 0.0, 74)
2018-05-03 21:08:29,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,801 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-29', 0.0, 75)
2018-05-03 21:08:29,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,805 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-30', 0.0, 73)
2018-05-03 21:08:29,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,811 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-07-31', 0.02, 74)
2018-05-03 21:08:29,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,814 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-01', 0.06, 73)
2018-05-03 21:08:29,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,818 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-02', 0.95, 73)
2018-05-03 21:08:29,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,821 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-03', 0.03, 74)
2018-05-03 21:08:29,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,838 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-05', 0.0, 75)
2018-05-03 21:08:29,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,844 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-06', 0.26, 71)
2018-05-03 21:08:29,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,847 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-07', 0.02, 74)
2018-05-03 21:08:29,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,850 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-08', 1.1, 73)
2018-05-03 21:08:29,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,855 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-09', 1.2, 73)
2018-05-03 21:08:29,858 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,861 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-10', 0.41, 74)
2018-05-03 21:08:29,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,865 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-12', 0.0, 79)
2018-05-03 21:08:29,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,868 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-13', 0.11, 74)
2018-05-03 21:08:29,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,871 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-14', 0.07, 76)
2018-05-03 21:08:29,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,876 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-15', 0.11, 71)
2018-05-03 21:08:29,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,880 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-16', 0.16, 71)
2018-05-03 21:08:29,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,883 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-17', 0.29, 71)
2018-05-03 21:08:29,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,886 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-19', 0.0, 72)
2018-05-03 21:08:29,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,888 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-20', 0.16, 75)
2018-05-03 21:08:29,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,893 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-21', 0.52, 73)
2018-05-03 21:08:29,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,896 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-22', 0.88, 73)
2018-05-03 21:08:29,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,898 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-23', 0.09, 75)
2018-05-03 21:08:29,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,901 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-24', 0.37, 72)
2018-05-03 21:08:29,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,903 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-25', 0.71, 70)
2018-05-03 21:08:29,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,906 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-26', 1.14, 72)
2018-05-03 21:08:29,908 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,911 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-27', 0.37, 72)
2018-05-03 21:08:29,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:29,918 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-08-31', 0.0, 81)
2018-05-03 21:08:29,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,922 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-01', 0.01, 73)
2018-05-03 21:08:29,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,930 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-02', 0.06, 75)
2018-05-03 21:08:29,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,934 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-03', 0.03, 75)
2018-05-03 21:08:29,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,936 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-04', 0.24, 74)
2018-05-03 21:08:29,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,940 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-05', 0.44, 75)
2018-05-03 21:08:29,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,945 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-06', 0.93, 74)
2018-05-03 21:08:29,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,947 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-07', 0.14, 72)
2018-05-03 21:08:29,949 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,950 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-09', 0.0, 75)
2018-05-03 21:08:29,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,952 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-14', 0.0, 74)
2018-05-03 21:08:29,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,954 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-15', 0.19, 72)
2018-05-03 21:08:29,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,958 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-16', 0.01, 78)
2018-05-03 21:08:29,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,963 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-19', 0.0, 80)
2018-05-03 21:08:29,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:29,966 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-20', 0.02, 78)
2018-05-03 21:08:30,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,101 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-21', 0.01, 77)
2018-05-03 21:08:30,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,104 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-22', 0.08, 77)
2018-05-03 21:08:30,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,108 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-23', 0.05, 77)
2018-05-03 21:08:30,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,113 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-24', 0.0, 76)
2018-05-03 21:08:30,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,116 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-25', 0.85, 77)
2018-05-03 21:08:30,117 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,119 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-26', 1.8, 75)
2018-05-03 21:08:30,120 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,121 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-27', 1.3, 74)
2018-05-03 21:08:30,123 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,126 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-28', 0.3, 72)
2018-05-03 21:08:30,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,130 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-29', 0.55, 74)
2018-05-03 21:08:30,132 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,134 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-09-30', 0.12, 75)
2018-05-03 21:08:30,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,137 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-01', 1.19, 74)
2018-05-03 21:08:30,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,140 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-02', 0.07, 75)
2018-05-03 21:08:30,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,145 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-03', 0.03, 75)
2018-05-03 21:08:30,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,148 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-04', 0.69, 74)
2018-05-03 21:08:30,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,151 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-05', 0.27, 81)
2018-05-03 21:08:30,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,154 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-06', 0.58, 73)
2018-05-03 21:08:30,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,158 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-07', 0.06, 80)
2018-05-03 21:08:30,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,163 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-09', 0.0, 74)
2018-05-03 21:08:30,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,165 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-10', 0.1, 76)
2018-05-03 21:08:30,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,168 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-11', 0.16, 76)
2018-05-03 21:08:30,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,170 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-12', 0.04, 74)
2018-05-03 21:08:30,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,173 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-13', 0.03, 73)
2018-05-03 21:08:30,176 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:30,178 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-14', 0.29, 72)
2018-05-03 21:08:30,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,181 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-15', 0.3, 73)
2018-05-03 21:08:30,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,183 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-16', 0.06, 75)
2018-05-03 21:08:30,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,185 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-17', 0.26, 75)
2018-05-03 21:08:30,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,188 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-18', 1.88, 78)
2018-05-03 21:08:30,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,192 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-19', 2.98, 73)
2018-05-03 21:08:30,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,196 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-20', 2.31, 75)
2018-05-03 21:08:30,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,199 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-21', 0.0, 76)
2018-05-03 21:08:30,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,201 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-22', 0.61, 76)
2018-05-03 21:08:30,202 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,203 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-23', 2.31, 75)
2018-05-03 21:08:30,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,208 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-24', 0.68, 72)
2018-05-03 21:08:30,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,213 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-25', 0.51, 74)
2018-05-03 21:08:30,215 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,216 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-26', 0.31, 74)
2018-05-03 21:08:30,217 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,218 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-27', 0.02, 74)
2018-05-03 21:08:30,220 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,221 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-28', 0.48, 74)
2018-05-03 21:08:30,222 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,224 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-29', 0.76, 75)
2018-05-03 21:08:30,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,229 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-30', 0.69, 73)
2018-05-03 21:08:30,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,232 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-10-31', 0.3, 73)
2018-05-03 21:08:30,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,235 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-01', 0.59, 76)
2018-05-03 21:08:30,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,237 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-02', 0.79, 71)
2018-05-03 21:08:30,239 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,241 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-03', 1.25, 71)
2018-05-03 21:08:30,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,245 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-04', 0.13, 74)
2018-05-03 21:08:30,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,247 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-05', 0.73, 71)
2018-05-03 21:08:30,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,250 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-06', 0.6, 75)
2018-05-03 21:08:30,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,252 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-07', 0.17, 76)
2018-05-03 21:08:30,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,254 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-08', 0.58, 69)
2018-05-03 21:08:30,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,257 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-09', 0.01, 70)
2018-05-03 21:08:30,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,262 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-10', 0.0, 69)
2018-05-03 21:08:30,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,264 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-12', 0.0, 71)
2018-05-03 21:08:30,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,266 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-13', 0.0, 69)
2018-05-03 21:08:30,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,269 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-14', 0.0, 72)
2018-05-03 21:08:30,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,273 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-15', 1.11, 71)
2018-05-03 21:08:30,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,279 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-16', 0.21, 74)
2018-05-03 21:08:30,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,283 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-17', 0.0, 72)
2018-05-03 21:08:30,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,285 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-19', 0.0, 72)
2018-05-03 21:08:30,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,287 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-20', 0.61, 71)
2018-05-03 21:08:30,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:30,290 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-21', 0.03, 74)
2018-05-03 21:08:30,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,295 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-22', 0.44, 74)
2018-05-03 21:08:30,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,298 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-23', 0.0, 70)
2018-05-03 21:08:30,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,300 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-25', 0.0, 69)
2018-05-03 21:08:30,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,303 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-26', 0.01, 71)
2018-05-03 21:08:30,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,306 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-27', 0.0, 72)
2018-05-03 21:08:30,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,312 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-28', 0.02, 70)
2018-05-03 21:08:30,313 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,314 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-29', 1.21, 68)
2018-05-03 21:08:30,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,317 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-11-30', 0.94, 66)
2018-05-03 21:08:30,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,319 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-01', 0.0, 68)
2018-05-03 21:08:30,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,322 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-02', 0.07, 70)
2018-05-03 21:08:30,326 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,328 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-03', 1.82, 67)
2018-05-03 21:08:30,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,331 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-04', 1.41, 70)
2018-05-03 21:08:30,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,333 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-05', 0.0, 73)
2018-05-03 21:08:30,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,335 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-06', 0.11, 70)
2018-05-03 21:08:30,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,337 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-07', 0.0, 66)
2018-05-03 21:08:30,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,343 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-09', 0.0, 70)
2018-05-03 21:08:30,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,346 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-10', 0.0, 72)
2018-05-03 21:08:30,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,349 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-11', 1.09, 71)
2018-05-03 21:08:30,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,351 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-12', 0.83, 68)
2018-05-03 21:08:30,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,353 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-13', 0.0, 71)
2018-05-03 21:08:30,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,360 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-14', 1.75, 67)
2018-05-03 21:08:30,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,365 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-15', 0.55, 65)
2018-05-03 21:08:30,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,368 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-16', 0.58, 66)
2018-05-03 21:08:30,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,371 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-17', 0.8, 70)
2018-05-03 21:08:30,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,374 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-18', 0.21, 69)
2018-05-03 21:08:30,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,380 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-19', 0.51, 70)
2018-05-03 21:08:30,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,383 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-21', 0.0, 72)
2018-05-03 21:08:30,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,386 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-22', 0.59, 67)
2018-05-03 21:08:30,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,388 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-23', 4.03, 68)
2018-05-03 21:08:30,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,394 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-24', 0.4, 64)
2018-05-03 21:08:30,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,397 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-25', 0.03, 66)
2018-05-03 21:08:30,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,399 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-26', 0.0, 65)
2018-05-03 21:08:30,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,402 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-27', 0.0, 62)
2018-05-03 21:08:30,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,405 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-28', 0.0, 68)
2018-05-03 21:08:30,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,417 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2014-12-29', 0.0, 67)
2018-05-03 21:08:30,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,420 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-01', 0.0, 69)
2018-05-03 21:08:30,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,424 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-02', 0.02, 64)
2018-05-03 21:08:30,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,429 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-03', 0.85, 63)
2018-05-03 21:08:30,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,432 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-04', 0.02, 58)
2018-05-03 21:08:30,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,434 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-05', 0.0, 58)
2018-05-03 21:08:30,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,552 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-06', 0.06, 66)
2018-05-03 21:08:30,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,554 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-07', 0.0, 66)
2018-05-03 21:08:30,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,557 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-08', 0.0, 59)
2018-05-03 21:08:30,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,562 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-09', 0.0, 63)
2018-05-03 21:08:30,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,565 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-11', 0.0, 61)
2018-05-03 21:08:30,566 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,567 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-12', 0.03, 62)
2018-05-03 21:08:30,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,570 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-13', 0.01, 70)
2018-05-03 21:08:30,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,572 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-14', 0.0, 66)
2018-05-03 21:08:30,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,577 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-15', 0.0, 68)
2018-05-03 21:08:30,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,580 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-16', 0.01, 68)
2018-05-03 21:08:30,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,583 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-17', 0.0, 66)
2018-05-03 21:08:30,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,586 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-18', 0.0, 67)
2018-05-03 21:08:30,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,592 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-19', 0.0, 66)
2018-05-03 21:08:30,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,597 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-20', 0.01, 67)
2018-05-03 21:08:30,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,599 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-21', 0.0, 64)
2018-05-03 21:08:30,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,603 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-22', 0.0, 65)
2018-05-03 21:08:30,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,607 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-23', 0.0, 72)
2018-05-03 21:08:30,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,612 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-24', 0.22, 66)
2018-05-03 21:08:30,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,615 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-25', 0.33, 64)
2018-05-03 21:08:30,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,617 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-26', 0.29, 67)
2018-05-03 21:08:30,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,620 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-01-31', 0.0, 63)
2018-05-03 21:08:30,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,622 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-02', 0.0, 68)
2018-05-03 21:08:30,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,627 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-03', 0.03, 72)
2018-05-03 21:08:30,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,631 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-04', 0.1, 72)
2018-05-03 21:08:30,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,635 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-05', 0.03, 63)
2018-05-03 21:08:30,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,636 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-06', 0.0, 59)
2018-05-03 21:08:30,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,640 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-07', 0.0, 60)
2018-05-03 21:08:30,643 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,645 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-08', 0.0, 60)
2018-05-03 21:08:30,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,648 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-10', 0.0, 67)
2018-05-03 21:08:30,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,650 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-11', 0.0, 62)
2018-05-03 21:08:30,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:30,653 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-12', 0.0, 63)
2018-05-03 21:08:30,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,655 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-13', 0.0, 67)
2018-05-03 21:08:30,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,659 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-17', 0.0, 63)
2018-05-03 21:08:30,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,663 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-18', 0.01, 64)
2018-05-03 21:08:30,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,666 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-19', 0.0, 68)
2018-05-03 21:08:30,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,669 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-20', 0.03, 69)
2018-05-03 21:08:30,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,674 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-21', 0.26, 68)
2018-05-03 21:08:30,676 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,679 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-22', 0.0, 69)
2018-05-03 21:08:30,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,682 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-23', 0.03, 71)
2018-05-03 21:08:30,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,685 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-24', 0.03, 71)
2018-05-03 21:08:30,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,687 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-25', 0.1, 69)
2018-05-03 21:08:30,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,690 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-26', 0.25, 68)
2018-05-03 21:08:30,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,695 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-27', 0.01, 67)
2018-05-03 21:08:30,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,698 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-02-28', 0.03, 70)
2018-05-03 21:08:30,699 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,701 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-01', 0.12, 68)
2018-05-03 21:08:30,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,704 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-02', 0.32, 76)
2018-05-03 21:08:30,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,707 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-03', 0.03, 70)
2018-05-03 21:08:30,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,712 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-04', 0.08, 69)
2018-05-03 21:08:30,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,727 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-05', 2.07, 65)
2018-05-03 21:08:30,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,732 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-06', 0.92, 65)
2018-05-03 21:08:30,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,734 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-07', 0.02, 66)
2018-05-03 21:08:30,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,737 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-08', 0.0, 64)
2018-05-03 21:08:30,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,739 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-09', 0.01, 61)
2018-05-03 21:08:30,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,743 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-10', 0.0, 63)
2018-05-03 21:08:30,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,746 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-11', 0.0, 62)
2018-05-03 21:08:30,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,749 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-12', 0.0, 66)
2018-05-03 21:08:30,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,752 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-13', 0.01, 64)
2018-05-03 21:08:30,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,755 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-14', 0.0, 65)
2018-05-03 21:08:30,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,762 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-15', 0.0, 63)
2018-05-03 21:08:30,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,766 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-16', 0.01, 60)
2018-05-03 21:08:30,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,769 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-17', 0.0, 64)
2018-05-03 21:08:30,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,772 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-18', 0.0, 64)
2018-05-03 21:08:30,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,778 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-19', 0.0, 69)
2018-05-03 21:08:30,780 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,782 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-20', 0.3, 67)
2018-05-03 21:08:30,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,784 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-22', 0.0, 71)
2018-05-03 21:08:30,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,786 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-23', 0.1, 74)
2018-05-03 21:08:30,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:30,788 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-24', 0.0, 69)
2018-05-03 21:08:30,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,794 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-25', 0.0, 70)
2018-05-03 21:08:30,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,797 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-26', 0.56, 66)
2018-05-03 21:08:30,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,799 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-27', 0.07, 69)
2018-05-03 21:08:30,801 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,801 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-28', 0.0, 70)
2018-05-03 21:08:30,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,803 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-29', 2.02, 68)
2018-05-03 21:08:30,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,806 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-30', 0.72, 67)
2018-05-03 21:08:30,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,812 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-03-31', 1.5, 68)
2018-05-03 21:08:30,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,814 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-01', 0.48, 69)
2018-05-03 21:08:30,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,816 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-02', 0.47, 68)
2018-05-03 21:08:30,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,818 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-04', 0.0, 70)
2018-05-03 21:08:30,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,831 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-05', 0.32, 70)
2018-05-03 21:08:30,832 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,834 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-07', 0.0, 67)
2018-05-03 21:08:30,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,837 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-08', 0.23, 70)
2018-05-03 21:08:30,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,843 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-09', 0.08, 69)
2018-05-03 21:08:30,845 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,847 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-10', 0.0, 72)
2018-05-03 21:08:30,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,850 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-11', 0.09, 69)
2018-05-03 21:08:30,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,853 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-12', 0.73, 69)
2018-05-03 21:08:30,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,860 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-13', 0.28, 69)
2018-05-03 21:08:30,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,863 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-14', 0.74, 69)
2018-05-03 21:08:30,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,866 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-15', 0.62, 68)
2018-05-03 21:08:30,868 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,869 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-16', 0.17, 70)
2018-05-03 21:08:30,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,872 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-17', 1.2, 70)
2018-05-03 21:08:30,874 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,876 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-18', 0.05, 72)
2018-05-03 21:08:30,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,883 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-19', 0.09, 68)
2018-05-03 21:08:30,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,886 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-21', 0.0, 68)
2018-05-03 21:08:30,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,892 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-22', 1.68, 73)
2018-05-03 21:08:30,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,897 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-23', 0.06, 71)
2018-05-03 21:08:30,899 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,900 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-24', 0.37, 72)
2018-05-03 21:08:30,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,903 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-25', 0.04, 73)
2018-05-03 21:08:30,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,907 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-26', 0.05, 70)
2018-05-03 21:08:30,915 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,917 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-27', 0.63, 68)
2018-05-03 21:08:30,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,919 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-28', 3.26, 69)
2018-05-03 21:08:30,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:30,922 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-29', 0.45, 71)
2018-05-03 21:08:30,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,122 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-04-30', 0.14, 69)
2018-05-03 21:08:31,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,130 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-01', 1.79, 69)
2018-05-03 21:08:31,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:31,134 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-02', 0.0, 71)
2018-05-03 21:08:31,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,137 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-03', 0.0, 70)
2018-05-03 21:08:31,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,139 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-04', 0.21, 77)
2018-05-03 21:08:31,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,144 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-05', 1.27, 68)
2018-05-03 21:08:31,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,147 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-06', 0.02, 70)
2018-05-03 21:08:31,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,150 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-07', 0.04, 69)
2018-05-03 21:08:31,151 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,152 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-08', 1.88, 67)
2018-05-03 21:08:31,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,155 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-09', 0.67, 69)
2018-05-03 21:08:31,155 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,157 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-10', 0.92, 68)
2018-05-03 21:08:31,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,163 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-11', 0.27, 71)
2018-05-03 21:08:31,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,168 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-12', 0.08, 70)
2018-05-03 21:08:31,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,171 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-13', 0.02, 70)
2018-05-03 21:08:31,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,175 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-14', 0.84, 72)
2018-05-03 21:08:31,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,180 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-15', 0.58, 72)
2018-05-03 21:08:31,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,183 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-16', 0.12, 72)
2018-05-03 21:08:31,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,185 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-17', 0.0, 70)
2018-05-03 21:08:31,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,188 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-18', 0.22, 70)
2018-05-03 21:08:31,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,190 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-19', 0.0, 71)
2018-05-03 21:08:31,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,197 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-20', 0.41, 69)
2018-05-03 21:08:31,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,201 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-21', 0.3, 76)
2018-05-03 21:08:31,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,205 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-22', 0.0, 73)
2018-05-03 21:08:31,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,211 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-23', 0.19, 69)
2018-05-03 21:08:31,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,216 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-24', 0.0, 69)
2018-05-03 21:08:31,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,219 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-25', 0.0, 68)
2018-05-03 21:08:31,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,222 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-26', 0.04, 68)
2018-05-03 21:08:31,228 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,231 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-27', 0.03, 73)
2018-05-03 21:08:31,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,233 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-28', 0.03, 71)
2018-05-03 21:08:31,234 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,235 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-29', 0.0, 74)
2018-05-03 21:08:31,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,238 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-30', 0.01, 72)
2018-05-03 21:08:31,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,244 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-05-31', 1.12, 69)
2018-05-03 21:08:31,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,247 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-01', 2.47, 69)
2018-05-03 21:08:31,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,249 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-02', 0.27, 72)
2018-05-03 21:08:31,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,251 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-03', 0.01, 72)
2018-05-03 21:08:31,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,253 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-04', 1.12, 71)
2018-05-03 21:08:31,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,256 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-05', 0.16, 76)
2018-05-03 21:08:31,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,262 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-06', 0.0, 71)
2018-05-03 21:08:31,265 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:31,266 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-07', 0.01, 72)
2018-05-03 21:08:31,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,268 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-08', 0.34, 70)
2018-05-03 21:08:31,270 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,271 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-09', 0.26, 72)
2018-05-03 21:08:31,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,276 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-10', 0.04, 72)
2018-05-03 21:08:31,281 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,283 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-12', 0.0, 71)
2018-05-03 21:08:31,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,285 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-13', 0.0, 72)
2018-05-03 21:08:31,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,288 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-14', 0.47, 69)
2018-05-03 21:08:31,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,292 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-15', 0.67, 70)
2018-05-03 21:08:31,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,302 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-16', 0.94, 73)
2018-05-03 21:08:31,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,305 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-17', 0.48, 70)
2018-05-03 21:08:31,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,311 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-18', 0.54, 72)
2018-05-03 21:08:31,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,315 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-19', 0.69, 72)
2018-05-03 21:08:31,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,317 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-20', 0.13, 71)
2018-05-03 21:08:31,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,319 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-21', 0.1, 73)
2018-05-03 21:08:31,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,322 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-22', 0.19, 72)
2018-05-03 21:08:31,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,330 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-23', 0.31, 73)
2018-05-03 21:08:31,335 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,336 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-24', 0.78, 72)
2018-05-03 21:08:31,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,338 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-25', 1.36, 71)
2018-05-03 21:08:31,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,342 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-26', 0.4, 70)
2018-05-03 21:08:31,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,345 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-27', 0.17, 75)
2018-05-03 21:08:31,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,348 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-28', 0.16, 72)
2018-05-03 21:08:31,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,352 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-29', 1.62, 70)
2018-05-03 21:08:31,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,358 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-06-30', 0.0, 72)
2018-05-03 21:08:31,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,361 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-01', 0.0, 75)
2018-05-03 21:08:31,364 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,365 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-02', 0.0, 79)
2018-05-03 21:08:31,368 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,369 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-03', 0.0, 76)
2018-05-03 21:08:31,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,374 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-04', 0.0, 75)
2018-05-03 21:08:31,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,377 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-05', 0.0, 74)
2018-05-03 21:08:31,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,380 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-06', 0.04, 74)
2018-05-03 21:08:31,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,383 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-07', 0.13, 74)
2018-05-03 21:08:31,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,391 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-08', 1.26, 73)
2018-05-03 21:08:31,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,396 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-09', 0.13, 75)
2018-05-03 21:08:31,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,401 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-10', 2.23, 73)
2018-05-03 21:08:31,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,405 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-11', 1.57, 76)
2018-05-03 21:08:31,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,411 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-12', 0.49, 78)
2018-05-03 21:08:31,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,415 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-13', 2.59, 74)
2018-05-03 21:08:31,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:31,418 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-14', 0.4, 72)
2018-05-03 21:08:31,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,421 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-15', 0.68, 74)
2018-05-03 21:08:31,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,424 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-16', 0.25, 75)
2018-05-03 21:08:31,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,429 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-17', 0.47, 76)
2018-05-03 21:08:31,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,432 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-18', 0.44, 75)
2018-05-03 21:08:31,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,435 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-19', 0.74, 72)
2018-05-03 21:08:31,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,437 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-21', 0.0, 74)
2018-05-03 21:08:31,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,439 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-22', 2.44, 72)
2018-05-03 21:08:31,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,443 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-23', 0.07, 75)
2018-05-03 21:08:31,445 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,446 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-24', 0.25, 75)
2018-05-03 21:08:31,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,449 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-25', 0.1, 72)
2018-05-03 21:08:31,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,451 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-26', 0.0, 73)
2018-05-03 21:08:31,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,455 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-27', 0.09, 74)
2018-05-03 21:08:31,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,457 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-28', 0.42, 76)
2018-05-03 21:08:31,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,463 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-29', 0.12, 77)
2018-05-03 21:08:31,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,466 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-30', 0.06, 75)
2018-05-03 21:08:31,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,469 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-07-31', 0.11, 75)
2018-05-03 21:08:31,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,472 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-01', 0.54, 73)
2018-05-03 21:08:31,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,477 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-02', 0.0, 76)
2018-05-03 21:08:31,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,480 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-03', 0.03, 76)
2018-05-03 21:08:31,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,483 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-04', 0.0, 76)
2018-05-03 21:08:31,484 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,485 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-05', 0.59, 74)
2018-05-03 21:08:31,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,488 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-06', 0.5, 76)
2018-05-03 21:08:31,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,494 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-07', 0.09, 75)
2018-05-03 21:08:31,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,497 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-08', 0.01, 77)
2018-05-03 21:08:31,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,500 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-09', 0.54, 73)
2018-05-03 21:08:31,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,604 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-10', 0.41, 75)
2018-05-03 21:08:31,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,608 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-11', 0.23, 73)
2018-05-03 21:08:31,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,612 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-12', 0.39, 77)
2018-05-03 21:08:31,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,616 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-13', 0.44, 75)
2018-05-03 21:08:31,618 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,619 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-14', 0.92, 74)
2018-05-03 21:08:31,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,630 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-15', 1.28, 73)
2018-05-03 21:08:31,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,633 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-16', 0.29, 75)
2018-05-03 21:08:31,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,636 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-17', 0.08, 75)
2018-05-03 21:08:31,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,639 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-18', 1.59, 76)
2018-05-03 21:08:31,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,644 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-19', 0.08, 76)
2018-05-03 21:08:31,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:31,647 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-20', 0.11, 77)
2018-05-03 21:08:31,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,650 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-21', 0.17, 75)
2018-05-03 21:08:31,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,653 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-22', 0.11, 79)
2018-05-03 21:08:31,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,655 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-23', 0.43, 75)
2018-05-03 21:08:31,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,660 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-24', 4.81, 72)
2018-05-03 21:08:31,662 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,664 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-25', 0.1, 77)
2018-05-03 21:08:31,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,666 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-26', 0.79, 76)
2018-05-03 21:08:31,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,669 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-27', 2.67, 77)
2018-05-03 21:08:31,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,672 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-28', 0.19, 76)
2018-05-03 21:08:31,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,677 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-29', 0.0, 75)
2018-05-03 21:08:31,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,680 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-30', 0.04, 77)
2018-05-03 21:08:31,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,682 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-08-31', 0.26, 78)
2018-05-03 21:08:31,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,695 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-01', 0.07, 77)
2018-05-03 21:08:31,697 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,702 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-02', 0.0, 77)
2018-05-03 21:08:31,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,705 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-03', 0.16, 74)
2018-05-03 21:08:31,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,707 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-04', 1.04, 75)
2018-05-03 21:08:31,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,710 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-05', 0.06, 79)
2018-05-03 21:08:31,712 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,713 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-06', 0.02, 74)
2018-05-03 21:08:31,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,715 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-07', 0.32, 76)
2018-05-03 21:08:31,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,718 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-08', 0.29, 79)
2018-05-03 21:08:31,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,720 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-09', 0.0, 78)
2018-05-03 21:08:31,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,722 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-10', 0.0, 76)
2018-05-03 21:08:31,723 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,725 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-11', 0.52, 75)
2018-05-03 21:08:31,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,727 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-12', 2.44, 76)
2018-05-03 21:08:31,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,729 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-13', 0.79, 76)
2018-05-03 21:08:31,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,732 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-14', 2.57, 75)
2018-05-03 21:08:31,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,734 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-15', 6.83, 73)
2018-05-03 21:08:31,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,736 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-16', 2.5, 76)
2018-05-03 21:08:31,737 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,738 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-17', 0.28, 75)
2018-05-03 21:08:31,739 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,741 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-18', 0.37, 75)
2018-05-03 21:08:31,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,745 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-19', 0.21, 76)
2018-05-03 21:08:31,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,747 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-20', 0.26, 74)
2018-05-03 21:08:31,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,750 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-21', 1.43, 75)
2018-05-03 21:08:31,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,751 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-22', 1.29, 76)
2018-05-03 21:08:31,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,753 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-23', 0.58, 73)
2018-05-03 21:08:31,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,755 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-24', 1.3, 72)
2018-05-03 21:08:31,755 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:31,756 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-25', 0.54, 73)
2018-05-03 21:08:31,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,760 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-26', 1.02, 76)
2018-05-03 21:08:31,761 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,762 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-27', 1.72, 73)
2018-05-03 21:08:31,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,764 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-28', 4.18, 72)
2018-05-03 21:08:31,765 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,766 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-29', 0.65, 73)
2018-05-03 21:08:31,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,768 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-09-30', 1.4, 72)
2018-05-03 21:08:31,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,769 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-01', 0.41, 71)
2018-05-03 21:08:31,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,771 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-02', 0.17, 72)
2018-05-03 21:08:31,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,773 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-03', 0.02, 73)
2018-05-03 21:08:31,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,777 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-04', 0.23, 74)
2018-05-03 21:08:31,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,779 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-05', 0.51, 74)
2018-05-03 21:08:31,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,781 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-06', 0.41, 73)
2018-05-03 21:08:31,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,783 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-07', 0.15, 73)
2018-05-03 21:08:31,784 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,787 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-08', 0.03, 74)
2018-05-03 21:08:31,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,790 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-09', 0.0, 76)
2018-05-03 21:08:31,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,793 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-10', 0.0, 75)
2018-05-03 21:08:31,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,796 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-12', 0.0, 74)
2018-05-03 21:08:31,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,798 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-13', 0.31, 73)
2018-05-03 21:08:31,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,800 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-14', 0.59, 73)
2018-05-03 21:08:31,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,803 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-15', 1.77, 71)
2018-05-03 21:08:31,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,805 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-16', 0.33, 73)
2018-05-03 21:08:31,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:31,807 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2015-10-17', 1.8, 76)

2018-05-03 21:08:33,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,407 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-24', 1.85, 67)
2018-05-03 21:08:33,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,410 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-25', 2.64, 69)
2018-05-03 21:08:33,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,413 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-26', 0.1, 67)
2018-05-03 21:08:33,415 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,416 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-27', 0.03, 69)
2018-05-03 21:08:33,417 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,418 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-28', 0.0, 64)
2018-05-03 21:08:33,420 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,423 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-29', 0.55, 67)
2018-05-03 21:08:33,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,425 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-30', 0.0, 66)
2018-05-03 21:08:33,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,429 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-01-31', 0.0, 65)
2018-05-03 21:08:33,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,432 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-01', 0.0, 65)
2018-05-03 21:08:33,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,435 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-02', 0.0, 60)
2018-05-03 21:08:33,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,439 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-04', 0.0, 66)
2018-05-03 21:08:33,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,443 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-05', 0.0, 69)
2018-05-03 21:08:33,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,447 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-06', 0.0, 73)
2018-05-03 21:08:33,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,450 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-07', 1.79, 68)
2018-05-03 21:08:33,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:33,453 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-08', 0.0, 68)
2018-05-03 21:08:33,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,455 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-09', 0.0, 64)
2018-05-03 21:08:33,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,457 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-10', 0.0, 70)
2018-05-03 21:08:33,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,461 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-11', 0.73, 66)
2018-05-03 21:08:33,462 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,464 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-12', 1.83, 65)
2018-05-03 21:08:33,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,466 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-13', 0.0, 68)
2018-05-03 21:08:33,467 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,468 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-14', 0.01, 79)
2018-05-03 21:08:33,469 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,470 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-15', 0.07, 71)
2018-05-03 21:08:33,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,472 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-16', 0.13, 72)
2018-05-03 21:08:33,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,474 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-18', 0.0, 72)
2018-05-03 21:08:33,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,477 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-19', 0.1, 68)
2018-05-03 21:08:33,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,480 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-20', 0.0, 69)
2018-05-03 21:08:33,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,483 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-21', 0.07, 65)
2018-05-03 21:08:33,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,486 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-22', 0.32, 69)
2018-05-03 21:08:33,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,489 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-23', 0.0, 72)
2018-05-03 21:08:33,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,491 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-24', 0.0, 68)
2018-05-03 21:08:33,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,497 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-25', 0.12, 66)
2018-05-03 21:08:33,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,500 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-26', 0.0, 64)
2018-05-03 21:08:33,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,502 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-27', 0.0, 69)
2018-05-03 21:08:33,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,505 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-02-28', 0.58, 69)
2018-05-03 21:08:33,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,507 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-01', 2.0, 64)
2018-05-03 21:08:33,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,511 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-02', 0.58, 72)
2018-05-03 21:08:33,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,514 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-03', 0.56, 78)
2018-05-03 21:08:33,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,516 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-04', 0.0, 70)
2018-05-03 21:08:33,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,519 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-05', 0.35, 68)
2018-05-03 21:08:33,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,522 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-06', 0.0, 76)
2018-05-03 21:08:33,524 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,524 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-07', 0.0, 72)
2018-05-03 21:08:33,526 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,528 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-08', 0.0, 68)
2018-05-03 21:08:33,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,531 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-09', 0.01, 72)
2018-05-03 21:08:33,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,533 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-10', 0.0, 65)
2018-05-03 21:08:33,534 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,535 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-11', 0.0, 82)
2018-05-03 21:08:33,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,538 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-13', 0.0, 69)
2018-05-03 21:08:33,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,540 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-14', 0.0, 75)
2018-05-03 21:08:33,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,544 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-15', 0.0, 76)
2018-05-03 21:08:33,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,548 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-16', 0.0, 77)
2018-05-03 21:08:33,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,550 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-18', 0.0, 70)
2018-05-03 21:08:33,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:33,552 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-19', 0.0, 74)
2018-05-03 21:08:33,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,554 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-20', 0.0, 74)
2018-05-03 21:08:33,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,556 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-21', 0.0, 72)
2018-05-03 21:08:33,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,558 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-22', 0.0, 72)
2018-05-03 21:08:33,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,561 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-23', 0.03, 70)
2018-05-03 21:08:33,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,564 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-24', 0.17, 70)
2018-05-03 21:08:33,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,566 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-25', 0.48, 72)
2018-05-03 21:08:33,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,567 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-26', 0.0, 72)
2018-05-03 21:08:33,568 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,569 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-27', 0.0, 74)
2018-05-03 21:08:33,570 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,571 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-28', 0.68, 69)
2018-05-03 21:08:33,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,574 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-29', 0.07, 69)
2018-05-03 21:08:33,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,576 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-03-31', 0.0, 76)
2018-05-03 21:08:33,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,581 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-01', 0.2, 69)
2018-05-03 21:08:33,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,583 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-02', 0.0, 71)
2018-05-03 21:08:33,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,594 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-03', 0.23, 73)
2018-05-03 21:08:33,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,597 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-04', 0.02, 75)
2018-05-03 21:08:33,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,599 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-05', 0.45, 69)
2018-05-03 21:08:33,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,601 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-06', 0.0, 72)
2018-05-03 21:08:33,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,603 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-08', 0.0, 76)
2018-05-03 21:08:33,604 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,605 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-09', 0.0, 70)
2018-05-03 21:08:33,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,608 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-10', 0.0, 72)
2018-05-03 21:08:33,609 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,611 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-11', 0.25, 71)
2018-05-03 21:08:33,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,616 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-12', 0.65, 70)
2018-05-03 21:08:33,617 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,619 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-13', 0.23, 73)
2018-05-03 21:08:33,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,622 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-14', 2.82, 72)
2018-05-03 21:08:33,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,624 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-15', 0.9, 70)
2018-05-03 21:08:33,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,628 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-16', 0.11, 71)
2018-05-03 21:08:33,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,631 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-17', 1.3, 69)
2018-05-03 21:08:33,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,633 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-18', 0.98, 71)
2018-05-03 21:08:33,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,636 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-19', 0.14, 71)
2018-05-03 21:08:33,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,637 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-20', 0.0, 69)
2018-05-03 21:08:33,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,639 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-21', 1.84, 70)
2018-05-03 21:08:33,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,642 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-22', 1.35, 73)
2018-05-03 21:08:33,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,646 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-23', 0.35, 70)
2018-05-03 21:08:33,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,649 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-24', 0.05, 75)
2018-05-03 21:08:33,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,651 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-25', 0.0, 74)
2018-05-03 21:08:33,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:33,653 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-26', 0.22, 77)
2018-05-03 21:08:33,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,656 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-27', 0.11, 76)
2018-05-03 21:08:33,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,661 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-28', 0.79, 71)
2018-05-03 21:08:33,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,664 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-29', 0.0, 68)
2018-05-03 21:08:33,665 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,666 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-04-30', 0.8, 58)
2018-05-03 21:08:33,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,669 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-01', 0.25, 73)
2018-05-03 21:08:33,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,673 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-02', 0.0, 79)
2018-05-03 21:08:33,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,677 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-04', 0.0, 74)
2018-05-03 21:08:33,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,680 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-05', 0.1, 74)
2018-05-03 21:08:33,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,682 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-06', 0.0, 74)
2018-05-03 21:08:33,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,684 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-07', 0.03, 70)
2018-05-03 21:08:33,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,686 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-08', 1.11, 66)
2018-05-03 21:08:33,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,688 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-09', 0.23, 72)
2018-05-03 21:08:33,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,691 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-10', 0.55, 72)
2018-05-03 21:08:33,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,791 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-11', 0.44, 78)
2018-05-03 21:08:33,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,793 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-12', 0.1, 70)
2018-05-03 21:08:33,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,797 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-13', 0.1, 71)
2018-05-03 21:08:33,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,800 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-14', 1.0, 70)
2018-05-03 21:08:33,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,803 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-15', 0.6, 72)
2018-05-03 21:08:33,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,805 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-16', 0.3, 71)
2018-05-03 21:08:33,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,807 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-17', 0.06, 71)
2018-05-03 21:08:33,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,810 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-18', 0.0, 69)
2018-05-03 21:08:33,813 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,814 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-20', 0.0, 70)
2018-05-03 21:08:33,816 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,817 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-21', 0.0, 69)
2018-05-03 21:08:33,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,819 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-22', 0.3, 72)
2018-05-03 21:08:33,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,821 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-23', 0.44, 69)
2018-05-03 21:08:33,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,824 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-24', 2.17, 70)
2018-05-03 21:08:33,825 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,827 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-25', 0.88, 75)
2018-05-03 21:08:33,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,830 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-26', 0.0, 72)
2018-05-03 21:08:33,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,833 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-27', 0.5, 72)
2018-05-03 21:08:33,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,835 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-28', 0.0, 73)
2018-05-03 21:08:33,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,837 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-05-30', 0.0, 72)
2018-05-03 21:08:33,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,840 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-01', 0.01, 74)
2018-05-03 21:08:33,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,842 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-03', 0.0, 74)
2018-05-03 21:08:33,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,845 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-04', 0.82, 77)
2018-05-03 21:08:33,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,848 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-05', 0.01, 74)
2018-05-03 21:08:33,849 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:33,851 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-06', 0.0, 74)
2018-05-03 21:08:33,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,853 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-07', 0.01, 79)
2018-05-03 21:08:33,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,856 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-08', 0.0, 75)
2018-05-03 21:08:33,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,858 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-10', 0.0, 72)
2018-05-03 21:08:33,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,861 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-11', 0.7, 76)
2018-05-03 21:08:33,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,865 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-12', 0.81, 74)
2018-05-03 21:08:33,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,867 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-13', 0.65, 73)
2018-05-03 21:08:33,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,869 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-14', 0.81, 74)
2018-05-03 21:08:33,870 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,872 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-15', 1.69, 77)
2018-05-03 21:08:33,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,874 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-16', 0.1, 74)
2018-05-03 21:08:33,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,877 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-17', 0.1, 72)
2018-05-03 21:08:33,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,881 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-18', 0.7, 77)
2018-05-03 21:08:33,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,884 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-19', 0.4, 76)
2018-05-03 21:08:33,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,886 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-20', 0.31, 74)
2018-05-03 21:08:33,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,888 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-21', 0.3, 75)
2018-05-03 21:08:33,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,890 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-22', 0.28, 76)
2018-05-03 21:08:33,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,893 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-23', 0.5, 71)
2018-05-03 21:08:33,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,896 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-24', 0.22, 73)
2018-05-03 21:08:33,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,899 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-25', 0.5, 79)
2018-05-03 21:08:33,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,901 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-26', 0.02, 79)
2018-05-03 21:08:33,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,903 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-27', 0.1, 74)
2018-05-03 21:08:33,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,905 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-28', 0.02, 74)
2018-05-03 21:08:33,906 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,908 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-29', 0.04, 76)
2018-05-03 21:08:33,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,911 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-06-30', 0.2, 75)
2018-05-03 21:08:33,913 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,914 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-01', 0.1, 74)
2018-05-03 21:08:33,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,917 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-02', 0.5, 78)
2018-05-03 21:08:33,918 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,919 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-03', 0.4, 77)
2018-05-03 21:08:33,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,921 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-04', 0.0, 77)
2018-05-03 21:08:33,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,922 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-05', 0.0, 75)
2018-05-03 21:08:33,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,927 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-06', 0.02, 74)
2018-05-03 21:08:33,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,935 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-07', 0.3, 74)
2018-05-03 21:08:33,937 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,938 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-08', 0.02, 71)
2018-05-03 21:08:33,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,941 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-09', 0.0, 78)
2018-05-03 21:08:33,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,944 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-10', 0.02, 77)
2018-05-03 21:08:33,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,949 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-11', 0.0, 74)
2018-05-03 21:08:33,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,951 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-12', 0.05, 72)
2018-05-03 21:08:33,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:33,954 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-13', 0.68, 77)
2018-05-03 21:08:33,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,957 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-14', 0.68, 76)
2018-05-03 21:08:33,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,959 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-15', 0.1, 78)
2018-05-03 21:08:33,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,962 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-16', 0.5, 75)
2018-05-03 21:08:33,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,965 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-17', 0.39, 72)
2018-05-03 21:08:33,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,967 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-18', 2.4, 77)
2018-05-03 21:08:33,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,971 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-19', 0.27, 74)
2018-05-03 21:08:33,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,974 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-20', 0.7, 75)
2018-05-03 21:08:33,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,976 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-21', 0.1, 72)
2018-05-03 21:08:33,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,981 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-22', 4.0, 72)
2018-05-03 21:08:33,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,983 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-23', 0.8, 78)
2018-05-03 21:08:33,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,985 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-24', 0.84, 77)
2018-05-03 21:08:33,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,988 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-25', 0.3, 79)
2018-05-03 21:08:33,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,990 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-26', 0.3, 73)
2018-05-03 21:08:33,993 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,996 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-27', 0.0, 75)
2018-05-03 21:08:33,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:33,999 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-28', 0.4, 73)
2018-05-03 21:08:34,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,002 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-29', 0.3, 77)
2018-05-03 21:08:34,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,004 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-30', 0.3, 79)
2018-05-03 21:08:34,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,007 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-07-31', 0.0, 74)
2018-05-03 21:08:34,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,011 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-01', 0.0, 72)
2018-05-03 21:08:34,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,015 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-02', 0.25, 80)
2018-05-03 21:08:34,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,017 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-03', 0.06, 76)
2018-05-03 21:08:34,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,020 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-05', 0.0, 77)
2018-05-03 21:08:34,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,023 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-06', 0.0, 79)
2018-05-03 21:08:34,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,031 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-07', 0.05, 78)
2018-05-03 21:08:34,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,034 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-08', 0.34, 74)
2018-05-03 21:08:34,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,036 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-09', 0.15, 71)
2018-05-03 21:08:34,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,040 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-10', 0.07, 75)
2018-05-03 21:08:34,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,042 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-11', 0.0, 72)
2018-05-03 21:08:34,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,045 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-12', 0.14, 74)
2018-05-03 21:08:34,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,047 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-13', 0.0, 80)
2018-05-03 21:08:34,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,049 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-14', 0.22, 79)
2018-05-03 21:08:34,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,051 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-15', 0.42, 70)
2018-05-03 21:08:34,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,053 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-16', 0.42, 71)
2018-05-03 21:08:34,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,056 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-17', 0.13, 72)
2018-05-03 21:08:34,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,058 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-18', 0.0, 76)
2018-05-03 21:08:34,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)

2018-05-03 21:08:34,063 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-19', 0.09, 71)
2018-05-03 21:08:34,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,066 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-20', 0.0, 78)
2018-05-03 21:08:34,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,068 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-21', 0.56, 76)
2018-05-03 21:08:34,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,070 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-22', 0.5, 76)
2018-05-03 21:08:34,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-05-03 21:08:34,072 INFO sqlalchemy.engine.base.Engine ('USC00516128', '2017-08-23', 0.45, 76)
2018-05-03 21:08:34,476 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
#check one row to ensure we have data
engine.execute('select * from measurements').first()

2018-05-03 21:16:17,340 INFO sqlalchemy.engine.base.Engine select * from measurements
2018-05-03 21:16:17,341 INFO sqlalchemy.engine.base.Engine ()

(1, 'USC00519397', '2010-01-01', 0.08, 65)